{% extends 'classroom/content-layout.html.twig' %}
{% set nav = 'itemBankBind' %}

{% do script(['vue3/js/classroom/item-bank/index.js']) %}

{% block main %}
  <div id="item-bank"
       data-classroom-id="{{ classroom.id }}"
  ></div>
{% endblock %}