/* override bootstrap css */
a {
  color: #68F868;
}

a:hover, a:focus {
  color: #57c332;
}

.btn-default {
  color: #68F868;
}

.form-control {
  color: #68F868;
}

.form-control:focus {
  border-color: #57c332;
}
/* override default css */

.green-color {
  color: #68F868;
}

.site-navbar .navbar-nav > li > a:hover, .site-navbar .navbar-nav > li > a:focus {
  background-color: #57c332;
}

.site-navbar .navbar-nav > .active > a, 
.site-navbar .navbar-nav > .active > a:hover, 
.site-navbar .navbar-nav > .active > a:focus, 
.site-navbar .navbar-nav > .open > a, 
.site-navbar .navbar-nav > .open > a:hover, 
.site-navbar .navbar-nav > .open > a:focus {
  background-color: #57c332;
}

.site-navbar .navbar-nav > li > a {
	color: #68F868;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #57c332;
}

.navbar-inverse {
  border-color: #68F868 #fff #fff #fff;
  border-width: 2px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #57c332;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #57c332;
}