.clearfix:before,
.clearfix:after,
.container:before,ro
.container:after,
.row:before,
.row:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after,
.container:after,
.row:after {
    clear: both;
}

.clearfix,
.container,
.row {
    zoom: 1;
}

.container {
    width: 970px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-gap {
    margin-left: 15px;
    margin-right: 15px;
}

.es-row-wrap .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.row-6 {
}

.row-6 .col-md-6 {
  width: 52%;
  margin: 0 auto;
}

.row-8 .col-md-8 {
  width: 68%;
  margin: 0 auto;
}

.es-row-wrap .col-md-12 {
    width: auto;
    padding: 0;
}

.row-12 .col-md-12 {
    width: auto;
    padding: 0;
}

.row-3-9 .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 23%;
    float: left;
}

.row-3-9 .col-md-9 {
    padding-left: 0;
    padding-right: 0;
    width: 74%;
    float: right;
}

.row-9-3 .col-md-9 {
    padding-left: 0;
    padding-right: 0;
    width: 74%;
    float: left;
}

.row-9-3 .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 23%;
    float: right;
}

.row-8-4 .col-md-8 {
    padding-left: 0;
    padding-right: 0;
    width: 66%;
    float: left;
}

.row-8-4 .col-md-4 {
    padding-left: 0;
    padding-right: 0;
    width: 32%;
    float: right;
}

.row-5-7 .col-sm-5 {
    padding-left: 0;
    padding-right: 0;
    width: 40%;
    float: left;
}

.row-5-7 .col-sm-5 .img-responsive {
  width: 100%;
}

.row-5-7 .col-sm-7 {
    padding-left: 0;
    padding-right: 0;
    width: 58%;
    float: right;
}

.es-row-wrap .page-header {
    margin-top: 10px;
    zoom:1;
    font-size: 20px;
}

.es-row-wrap .page-header h1 {
    font-size: 25px;
}

/*
.col-sm-1, .col-md-1, .col-lg-1,
.col-sm-2, .col-md-2, .col-lg-2,
.col-sm-3, .col-md-3, .col-lg-3,
.col-sm-4, .col-md-4, .col-lg-4,
.col-sm-5, .col-md-5, .col-lg-5,
.col-sm-6, .col-md-6, .col-lg-6,
.col-sm-7, .col-md-7, .col-lg-7,
.col-sm-8, .col-md-8, .col-lg-8, 
.col-sm-9, .col-md-9, .col-lg-9,
.col-sm-10, .col-md-10, .col-lg-10,
.col-sm-11, .col-md-11, .col-lg-11 {
    float: left;
}

.col-sm-1, .col-md-1, .col-lg-1 {
    width: 8.333333333333332%;
}

.col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.666666666666664%;
}

.col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
}

.col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333333333333%;
}

.col-sm-5, .col-md-5, .col-lg-5 {
    width: 41.66666666666667%;
}

.col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
}

.col-sm-7, .col-md-7, .col-lg-7 {
    width: 58.333333333333336%;
}

.col-sm-8, .col-md-8, .col-lg-8 {
    width: 66.66666666666666%;
}

.col-sm-9, .col-md-9, .col-lg-9 {
    width: 75%;
}

.col-sm-10, .col-md-10, .col-lg-10 {
    width: 83.33333333333334%;
}

.col-sm-11, .col-md-11, .col-lg-11 {
    width: 91.66666666666666%;
}

.col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}*/

.nav {
    margin-left: 0;
}

.nav li {
  position: relative;
  display: block;
}

.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav li a:hover,
.nav li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav li.disabled a {
  color: #999999;
}

.nav li.disabled a:hover,
.nav li.disabled a:focus {
    color: #999999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}




.nav-tabs {
}

.nav-tabs li {
  float: left;
  margin-bottom: -1px;
  background: #fff;
}

.nav-tabs li a {
  margin-right: 2px;
  line-height: 1.428571429;
}

.nav-tabs li a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs li.active {
  /*background: #fff;*/

}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: #fff;
}

.nav-mini li a {
  padding: 1px 10px;
}

.nav-pills  li {
  float: left;
}

.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  color: #ffffff;
  background-color: #428bca;
}

.nav-stacked li {
  float: none;
  display: inline;
  padding: 0;
  margin: 0;
}


.navbar-brand {
    float: left;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    float: left;
    display: block;
    border-top: 0;
}

.navbar-right {
    float: right;
    margin-top: 0;
}

.navbar-nav li {
    float: left;
}

.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
}

.navbar-inverse .navbar-nav li  a:hover,
.navbar-inverse .navbar-nav li  a:focus {
  background-color: #3a485d;
}


.tab-content  .tab-pane {
  display: none;
}

.tab-content div.active {
  display: block;
}


/**
 * pagination
 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

.pagination li {
  display: inline;
}

.pagination li a,
.pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li.first a,
.pagination > li.first > span {
  margin-left: 0;
}

.pagination li a:hover,
.pagination li span:hover,
.pagination li a:focus,
.pagination li span:focus {
  background-color: #eeeeee;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination .disabled span,
.pagination .disabled span:hover,
.pagination .disabled span:focus,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus {
  color: #999999;
  cursor: default;
  background-color: #ffffff;
  border-color: #dddddd;
}

.breadcrumb {
  margin-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb .active {
  color: #999999;
  background: #f5f5f5;
}

.popover .arrow {
    display: none;
}

.tooltip-arrow {
  display: none;
}

.panel-default .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.modal {
  position: absolute;
  opacity: 1;
  filter: none;
}

.modal-dialog {
  width: 600px;
}

.modal-dialog-small {
  width: 480px;
}

.modal-backdrop {
  display: none;
  opacity: 1;
  filter: none;
}

.modal-header {
  position: relative;
}

.modal-header button.close {
  position: absolute;
  right: 16px;
  top: 16px;
  float: none;
  background: #fff;
  color: #000;
  display: inline;
}

.media-list {
  margin-left: 0;
}

.media .pull-left .media-object {
  margin-right: 10px;
}

.media, .media-body {
  word-break: break-all;
  word-wrap: break-word;
}

.form-control {
  padding: 0;
  line-height: 28px;
  font-size: 14px;
}

.row-6 .form-control {
  width: 413px;
}

.row-8 .form-control {
  width: 575px;
}