{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set memberlevel = memberlevel|default(null) %}
{% set modalSize = 'large' %}
{% block title %}
展示图片
{% endblock %}

{% block body %}


{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#memberlevel-form">确定</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}
  