{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
  {% if notices and canTrial == null %}
  <div class="col-md-12">
    <div class="main-system-alert">
      <h2> 站长公告</h2>
        <ul class="alert-list">
        {% for notice in notices %}
          <li class="glyphicon glyphicon-bell" style="color:#fed032;font-size:16px;"><a href="{{notice.detailUrl}}" style="margin-left:22px;" target="_blank">{{notice.content}}<span>{{notice.createdTime|date("Y-m-d H:i:s")}}</span></a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
  {% else %}
  <div class="col-md-12">
    <div class="main-system-alert">
      <h2>提醒</h2>
        <ul class="alert-list">
          <li class="glyphicon glyphicon-bell" style="color:#fed032;font-size:16px;">
              欢迎使⽤,您的免费体验将于2015年09⽉月30⽇日到期,剩余{{remainDays}}天。
          </li>
        </ul>
    </div>
  </div>

  {% endif %}

