{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
  {% if notices %}
  <div class="col-md-12">
    <div class="main-system-alert">
      <h2> 站长公告</h2>
        {% for notice in notices %}
        <ul class="alert-list">
          <li><a href="">ddd<span>2014-10-29 16:52</span></a></li>
        </ul>
        {% endfor %}
    </div>
  </div>
  {% endif %}