{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set panel = 'dashboard' %}
{% set script_controller = 'default/index' %}
{% block content %}

<div class="page-header">
	<h1>欢迎来到{{ setting('site.name') }}管理后台!</h1>
</div>

<div class="row">

{{ render(controller('TopxiaAdminBundle:Default:newUsers')) }}

{% include 'TopxiaAdminBundle:Default:block-welcomed-courses.html.twig' with {welcomedCourses:welcomedCourses} %}

</div>

<div class="row">
	 
	{{ render(controller('TopxiaAdminBundle:Default:unsolvedQuestions')) }}

</div>

<div class="row">
	
	{{ render(controller('TopxiaAdminBundle:Default:paidRecords')) }}

</div>

{% endblock %}

{% block footer %}

{% endblock %}