{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set panel = 'dashboard' %}
{% set script_controller = 'default/index' %}
{% block content %}

<div class="page-header">
	<h1>欢迎来到{{ setting('site.name') }}管理后台!</h1>
</div>

<div class="row">

  <div class="col-md-6">
		 	
		 	<div>
			  	<p class="panel-title">新用户</p>
		 	</div>

				<div>
					<table class="table table-bordered table-striped table-hover">
		        <thead>
		          <tr>
		            <th>昵称</th>
		            <th>上次登陆IP地址</th>
		            <th>注册时间</th>
		            <th>收藏的课程</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1</td>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@mdo</td>
		          </tr>
		          <tr>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@TwBootstrap</td>
		            <td>@TwBootstrap</td>
		          </tr>
		        </tbody>
		      </table>
		    </div>

  </div>


   <div class="col-md-6">
		 		
		 		<div>
			  <p class="panel-title">优质课程</p>
			  				<div class="btn-group pull-right">
					        <button type="button" class="btn btn-default">今日</button>
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					        <ul class="dropdown-menu" role="menu">
					          <li><a href="#">昨日</a></li>
					          <li><a href="#">上周</a></li>
					          <li><a href="#">本周</a></li>
					          <li><a href="#">上月</a></li>
					          <li><a href="#">本月</a></li>
					        </ul>
						    </div>

			  <p></p>
		 		</div>

				<div>
					<table class="table table-bordered table-striped table-hover">
		        <thead>
		          <tr>
		            <th>课程名称</th>
		            <th>新增学生人数</th>
		            <th>总学习人数</th>
		            <th>新增金额</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@mdo</td>
		            <td>@mdo</td>
		          </tr>
		          <tr>
		            <td>Otto</td>
		            <td>Otto</td>
		            <td>@TwBootstrap</td>
		            <td>@TwBootstrap</td>
		          </tr>
		        </tbody>
		      </table>
		    </div>

  </div>

</div>

<div class="row">

	  <div class="col-md-12">
		 	
		 	<div>
			  	<p class="panel-title">最新未解答问题</p>
		 	</div>

				<div>
					<table class="table table-bordered table-striped table-hover">
		        <thead>
		          <tr>
		            <th>课程</th>
		            <th>问题</th>
		            <th>提问人</th>
		            <th>教师</th>
		            <th>创建时间</th>
		            <th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1</td>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@mdo</td>
		            <td>@mdo</td>
		            <td>@mdo</td>
		          </tr>
		          <tr>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>Otto</td>
		            <td>Otto</td>
		            <td>@TwBootstrap</td>
		            <td>@TwBootstrap</td>
		          </tr>
		        </tbody>
		      </table>
		    </div>

  	</div>

</div>

<div class="row">

	  <div class="col-md-12">
		 	
		 	<div>
			  	<p class="panel-title">购买记录</p>
		 	</div>

				<div>
					<table class="table table-bordered table-striped table-hover">
		        <thead>
		          <tr>
		            <th>昵称</th>
		            <th>课程名称</th>
		            <th>课程价格</th>
		            <th>购买时间</th>
		            <th>支付方式</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@mdo</td>
		            <td>@mdo</td>
		            <td>@mdo</td>
		          </tr>
		          <tr>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>Otto</td>
		            <td>Otto</td>
		            <td>@TwBootstrap</td>
		          </tr>
		        </tbody>
		      </table>
		    </div>

  	</div>

</div>

{% endblock %}