{% if inspectList %}
  <div class="alert alert-warning" role="alert">
    {% for inspectItem in inspectList %}
        <span>{{inspectItem.value.errorMessage}}</span>
        <a href='{{inspectItem.value.settingUrl}}'>设置。</a>
    {% endfor %}
  </div>
{% endif %}