{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% set modal_class = 'modal-lg' %}

{% block title %}公开课提示{% endblock %}
{% block body %}
  <div>hello</div>
{% endblock %}


{% block footer %}
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}