{# <html>
  <head></head>
  <body style="margin:0;padding:0">
    <iframe src="http://www.edusoho-com.com/question?site={{site}}" id="send-question"  frameborder='0' width='100%' height='1530' scrolling='no' style="margin:0px;padding:0px;">
    </iframe>
  </body>
</html> #}
{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% block title %}问题详情{% endblock %}
{% block body %}
    <iframe src="http://www.edusoho-com.com/question?site={{site}}" id="send-question"  frameborder='0' width='100%' height='1360' scrolling='no' style="margin:0px;padding:0px;">
    </iframe>
{% endblock %}
{% block footer %}
{% endblock %}