<div class="thread-post-manage-dropdown dropdown pull-right">
  <a href="javascript:;" class="dropdown-toggle text-muted" data-toggle="dropdown"><span class="glyphicon glyphicon-collapse-down"></span></a>
  <ul class="dropdown-menu">
    <li>
      <a href="{{ path( post.targetType ~ '_thread_post_update', {(post.targetType ~ 'Id'): post.targetId, threadId:post.threadId, postId:post.id}) }}">编辑</a>
    </li>
    <li>
      <a href="javascript:" data-action="post-delete" class="post-delete-btn" data-url="{{ path( post.targetType ~ '_thread_post_delete', {(post.targetType ~ 'Id'): post.targetId, threadId:post.threadId, postId:post.id}) }}" data-for="#post-{{ post.id }}">删除</a>
    </li>
  </ul>
</div>