{% if app.user %}
  <form id="post-thread-form" class="post-thread-form thread-form" method="post" post-url="{{path(target.type ~ '_thread_post', {(target.type ~ 'Id'): target.id, threadId:thread.id})}}">
    <div class="form-group">
        <label class="control-label hide" for="post_content">回复内容</label>
        <div class="controls">
        <textarea name="content" value="" rows="10" id="post_content" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
      <div class="controls">
      <button id="post-thread-btn" data-submiting-text="正在回复" type="submit" class="post-thread-btn btn btn-primary pull-right">发表</button>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% else %}
  <div class="empty">
    你还没有登录，请先<a href="{{ path('login', {goto:app.request.server.get('REQUEST_URI')}) }}">登录</a>或<a href="{{ path('register', {goto:app.request.server.get('REQUEST_URI')}) }}">注册</a>！
  </div>
{% endif %}