<div class="thread-post-interaction">
  <a href="javascript:;" class="js-thumbs-up interaction text-muted"><span class="glyphicon glyphicon-thumbs-up"></span> ({{ post.ups }})</a>
  <a href="javascript:;" class="js-reply interaction text-muted"><span class="glyphicon glyphicon-comment"></span> 回复{% if post.subposts %}({{ post.subposts }}){% endif %}</a>
</div>