{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

  <ol class="breadcrumb">
    <li><a href="{{ path(thread.targetType ~ '_threads', {(thread.targetType~'Id'): thread.targetId}) }}">话题</a></li>
    <li class="active">正文</li>
  </ol>

  <div class="class-detail-content">
    <div class="topic-detail">

    {% include 'TopxiaWebBundle:Thread/Part:thread-header.html.twig' %}

    {% include 'TopxiaWebBundle:Thread/Part:thread-action.html.twig' %}

    {% if teacherPosts|default(null) %}  
      {% include 'TopxiaWebBundle:Thread/Part:teacher-post.html.twig' %}
    {% endif %}

    {% include 'TopxiaWebBundle:Thread/Part:all-post.html.twig' %}
    
    {% include 'TopxiaWebBundle:Thread/Part:post-form.html.twig' %}

  </div>
</div>
