{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="topic-detail">

  {% include 'TopxiaWebBundle:Thread/Part:' ~ thread.type ~ '-header.html.twig' %}

  {% include 'TopxiaWebBundle:Thread/Part:thread-action.html.twig' %}

  {% if teacherPosts|default(null) %}
    {% include 'TopxiaWebBundle:Thread/Part:teacher-post.html.twig' with {posts:teacherPosts} %}
  {% endif %}
  
  {% if thread.postNum - teacherPosts|length|default(0) %}
    {% include 'TopxiaWebBundle:Thread/Part:all-post.html.twig' %}
  {% endif %}
  
  {% include 'TopxiaWebBundle:Thread/Part:post-form.html.twig' %}

</div>
