// h5 组件 vw 单位复写
.e-course {
	padding: 0 20px 30px;

	&__header {
		font-size: 14px;
	}

	&__middle {
		min-height: 20px;
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.switch-box__price {
			font-size: 14px;
		}

		.switch-box__state {
			font-size: 12px;

			.order-pay {
				padding: 8px 12px;
				font-size: 12px;
				border-radius: 42px;
			}
		}
	}

	&__count {
		font-size: 12px;
		line-height: 20px;
	}

	&__left {
		width: auto;
		border-radius: 2px;

		.e-class__img {
			width: 140px;
			height: 93px;
		}

		.e-course__img {
			width: 140px;
			height: 80px;
		}

		.tag {
			padding: 4px 10px;
			font-size: 10px;
		}
	}

	&__right {
		margin-left: 10px;
		line-height: 1;
	}

	&__project {
		margin-top: 6.5px;
		margin-bottom: 5px;

		span {
			padding: 4px 10px;
			font-size: 10px;
			border-radius: 2px;
		}
	}

	&__empty {
		margin: 0 10px 15px;
		font-size: 14px;
		line-height: 50px;
	}
}

.e-course-list {
	&__header {
		padding: 10px 16px 8px 16px;
	}

	&__headers {
		padding: 16px !important;
	}

	&__list-title {
		font-size: 18px;
	}

	&__more {
		font-size: 14px;

		.more-text {
			margin-right: 3px;
			line-height: 25px;
		}
	}
}

.e-row-class {
	display: flex;
	margin: 0 16px 12px;
	background-color: #fff;
	border-radius: 6px;

	.row-class-left {
		position: relative;
		width: 168px;
		font-size: 0;
		border-radius: 6px 0 0 6px;

		img.cover {
			width: 100%;
			border-radius: 6px 0 0 6px;
		}

		&__member {
			position: absolute;
			top: -1px;
			right: -5px;
			z-index: 11;
			padding: 2px 8px;
			color: #fff;
			font-size: 12px;
			text-align: center;
			background-color: #162923;
			border-radius: 0 0 0 6px;
			transform: scale(0.83);
		}

		&__live {
			position: absolute;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			box-sizing: border-box;
			width: 128px;
			height: 32px;
			padding: 4px 4px 4px 8px;
			color: #fff;
			font-size: 12px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

			.icon-renqi {
				margin-right: 2px;
				font-size: 12px;
			}
		}
	}

	.row-class-right {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-sizing: border-box;
		width: 171px;
		padding: 8px 12px;
		border-radius: 0 6px 6px 0;

		&__top {
			display: flex;
			height: 20px;
			color: #333;
			font-weight: 500;
			font-size: 14px;
		}

		&__center {
			height: 16px;
			margin-top: -4px;
			color: #86909c;
			font-size: 12px;
		}

		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 20px;
			color: #ff7a34;
			font-weight: 500;
			line-height: 20px;
		}
	}
}

.e-column-class {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-bottom: 8px;
	padding: 0 6px;

	.column-class-left {
		position: relative;
		width: 164px;
		font-size: 0;
		border-radius: 6px 6px 0 0;

		img.cover {
			width: 164px;
			height: 92.25px;
			border-radius: 6px 6px 0 0;
		}

		&__member {
			position: absolute;
			top: -1px;
			right: -5px;
			z-index: 11;
			padding: 2px 8px;
			color: #fff;
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			background-color: #162923;
			border-radius: 0 6px;
			transform: scale(0.83);
		}

		&__live {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 11;
			width: 44px;
			height: 18px;
			color: #fff;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			background: #ff900e;
			border-radius: 6px 0;

			.icon-renqi {
				margin-right: 2px;
				font-size: 12px;
			}
		}
	}

	.column-class-right {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-sizing: border-box;
		width: 164px;
		height: 86px;
		padding: 8px 0;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);

		&__top {
			display: flex;
			height: 20px;
			padding: 0 12px;
			color: #1d2129;
			font-weight: 500;
			font-size: 14px;

			.course-title {
				width: vw(105);
			}
		}

		&__center {
			height: 14px;
			margin-top: -2px;
			padding: 0 12px;
			color: #86909c;
			font-size: 12px;
		}

		&__bottom {
			display: flex;
			align-items: end;
			justify-content: space-between;
			height: 20px;
			margin-top: 4px;
			color: #ff7a34;
			font-weight: 500;
			font-size: 14px;
		}
	}
}

.e-openCourse-class {
	display: inline-block;
	padding: 0 0 16px 16px;

	.column-class-left {
		position: relative;
		width: 188px;
		overflow: hidden;
		font-size: 0;
		border-radius: 4px 4px 0 0;

		img {
			width: 188px;
			height: 105.8px;
			border-radius: 4px 4px 0 0;
		}

		&__member {
			position: absolute;
			top: 4px;
			right: -5px;
			height: 16px;
			padding: 2px 4px;
			color: #fff;
			font-size: 10px;
			text-align: center;
			background: rgba(246, 201, 63, 1);
			border-radius: 0 100px 100px 0;
		}

		&__live {
			position: absolute;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			box-sizing: border-box;
			width: 100%;
			height: 32px;
			padding: 4px 4px 4px 8px;
			color: #fff;
			font-size: 12px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

			.icon-renqi {
				margin-right: 2px;
				font-size: 12px;
			}
		}
	}

	.column-class-right {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		width: 188px;
		padding: 12px 0;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);

		&__top {
			height: 20px;
			padding: 0 12px;
			color: #1d2129;
			font-weight: 500;
			font-size: 14px;

			.course-title {
				width: vw(105);
			}
		}

		&__center {
			height: 14px;
			margin-top: 4px;
			padding: 0 12px;
			color: #86909c;
			font-size: 12px;
		}

		&__bottom {
			height: 20px;
			margin-top: 4px;
			color: #ff7a34;
			font-weight: 500;
			font-size: 14px;
		}

		&__live {
			margin-top: 2px;
			color: #999;
			font-size: 12px;
			line-height: 20px;
		}

		.live-status--default {
			color: #03c777;
		}

		.live-status--start,
		.icon-zhibo1 {
			color: #ff9b56 !important;
		}

		.live-status--end {
			color: #999 !important;
		}

		.live-time {
			margin-right: 8px;
			padding-right: 8px;
			border-right: 1px solid #e1e1e1;
		}
	}
}

.rank-box {
	.progress {
		width: 150px;
	}

	.round-conner {
		height: 14px;
		border-radius: 42px;
	}

	span {
		margin-left: 4px;
		font-size: 14px;
		line-height: 14px;
	}
}

.certificate-icon {
	margin-right: 4px;
	padding: 2px 4px;
	font-size: 12px;
	line-height: 16px;
	vertical-align: 1px;
	border-radius: 4px;
}
