// h5 组件 vw 单位复写
.e-course {
  padding: 0 20px 30px;
  &__header {
    font-size: 14px;
  }
  &__middle {
    min-height: 20px;
  }
  &__bottom {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    .switch-box__price {
      font-size: 14px;
    }
    .switch-box__state {
      font-size: 12px;

      .order-pay {
        border-radius: 42px;
        padding: 8px 12px;
        font-size: 12px;
      }
    }
  }
  &__count {
    font-size: 12px;
    line-height: 20px;
  }
  &__left {
    width: auto;
    border-radius: 2px;
    .e-class__img {
      width: 140px;
      height: 93px;
    }
    .e-course__img {
      width: 140px;
      height: 80px;
    }
    .tag {
      padding: 4px 10px;
      font-size: 10px;
    }
  }
  &__right {
    margin-left: 10px;
    line-height: 1;
  }
  &__project {
    margin-top: 6.5px;
    margin-bottom: 5px;
    span {
      padding: 4px 10px;
      border-radius: 2px;
      font-size: 10px;
    }
  }
  &__empty {
    line-height: 50px;
    margin: 0 10px 15px;
    font-size: 14px;
  }
}

.e-row-class{
  padding: 0 16px 16px;
  display:flex;
  .row-class-left{
    position:relative;
    width:128px;
    height: 72px;
    border-radius:2px;
    overflow:hidden;
    font-size:0px;
    img{
      width:100%;
       border-radius:2px;
    }
    &__discount{
      position: absolute;
      font-size: 12px;
      top: 4px;
      right: -17px;
      width: 64px;
      height: 20px;
      line-height:20px;
      background:#EF6B50;
      text-align:center;
      color:#fff;
      -ms-transform: rotate(45deg); 
      -moz-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &__member{
      position: absolute;
      top:4px;
      padding:2px 4px;
      height:16px;
      font-size:10px;
      background:rgba(246,201,63,1);
      text-align:center;
      color:#fff;
      border-radius:0px 100px 100px 0px;
    }
    &__live{
      position: absolute;
      bottom:0px;
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      box-sizing: border-box;
      padding:4px 4px 4px 8px;
      width:128px;
      height:32px;
      color:#fff;
      font-size:12px;
      background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
      .icon-renqi{
        margin-right:2px;
        font-size:12px;
      }
    }
  }
  .row-class-right{
    margin-left:12px;
    width:197px;
    display:flex;
    flex-direction:column;
    &__top{
      margin-top:2px;
      height:20px;
      font-size:14px;
      color:#333333;
      font-weight:500;
    }
    &__center{
      margin-top:4px;
      height:16px;
      font-size:12px;
      color:#999999
    }
    &__bottom{
      margin-top:8px;
      height:20px;
      font-size:14px;
      color:#FE3B13;
      font-weight:500;
    }
  }
}

.e-column-class{
  padding: 0 0 16px 16px;
  display:flex;
  flex-direction:column;
  .column-class-left{
    position:relative;
    width:164px;
    border-radius:4px 4px 0px 0px;
    overflow:hidden;
    font-size:0px;
    img{
      width:100%;
      border-radius:4px 4px 0px 0px;
    }
    &__discount{
      position: absolute;
      font-size: 12px;
      top: 4px;
      right: -17px;
      width: 64px;
      height: 20px;
      line-height:20px;
      background:#EF6B50;
      text-align:center;
      color:#fff;
      -ms-transform: rotate(45deg); 
      -moz-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &__member{
      position: absolute;
      top:4px;
      padding:2px 4px;
      height:16px;
      font-size:10px;
      background:rgba(246,201,63,1);
      text-align:center;
      color:#fff;
      border-radius:0px 100px 100px 0px;
    }
    &__live{
      position: absolute;
      bottom:0px;
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      box-sizing: border-box;
      padding:4px 4px 4px 8px;
      width:100%;
      height:32px;
      color:#fff;
      font-size:12px;
      background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
      .icon-renqi{
        margin-right:2px;
        font-size:12px;
      }
    }
  }
  .column-class-right{
    display:flex;
    padding:8px;
    width:164px;
    flex-direction:column;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.05);
    border-radius:4px;
    box-sizing:border-box;
    &__top{
      height:20px;
      font-size:14px;
      color:#333333;
      font-weight:500;
    }
    &__center{
      height:14px;
      font-size:12px;
      color:#999999
    }
    &__bottom{
      margin-top:4px;
      height:20px;
      font-size:14px;
      color:#FE3B13;
      font-weight:500;
    }
  }
}

.e-course-list {
  &__header {
    padding: 20px;
  }
  &__headers {
    padding: 16px!important;
  }
  &__list-title {
    font-size: 18px;
  }
  &__more {
    font-size: 14px;
    .more-text {
      margin-right: 3px;
      line-height: 25px;
    }
    &:after {
      margin-top: 7.5px;
      margin-right: 2px;
      width: 7px;
      height: 7px;
    }
  }
  .e-column-class:nth-of-type(2n){
    padding:  0 0 16px 12px;
  }
}



.rank-box {
  .progress {
    width: 150px;
  }
  .round-conner {
    height: 14px;
    border-radius: 42px;
  }
  span {
    margin-left: 4px;
    font-size: 14px;
    line-height: 14px;
  }
}
