
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e724"; }
.icon-chevronright:before { content: "\e6e0"; }
.icon-modecomment:before { content: "\e723"; }
.icon-visibility:before { content: "\e707"; }
.icon-loading:before { content: "\e603"; }
.icon-crown:before { content: "\e6da"; }
.icon-keyboardarrow:before { content: "\e722"; }
.icon-weibo:before { content: "\e70c"; }
.icon-lock:before { content: "\e6ed"; }
.icon-help:before { content: "\e6ea"; }
.icon-menu:before { content: "\e6e3"; }
.icon-description:before { content: "\e6d2"; }
.icon-book:before { content: "\e6cc"; }
.icon-keyboardarrowdown:before { content: "\e721"; }
.icon-qq:before { content: "\e709"; }
.icon-weixin:before { content: "\e70d"; }
.icon-send:before { content: "\e716"; }
.icon-school:before { content: "\e715"; }
.icon-setting:before { content: "\e6f0"; }
.icon-arrowdropdown:before { content: "\e6c6"; }
.icon-dynamic:before { content: "\e712"; }
.icon-favorite:before { content: "\e6e8"; }
.icon-person:before { content: "\e6c5"; }
.icon-arrowback:before { content: "\e6dc"; }
.icon-people:before { content: "\e714"; }
.icon-explore:before { content: "\e713"; }
