
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shang:before { content: "\e61c"; }
.icon-xia:before { content: "\e61b"; }
.icon-loading:before { content: "\e616"; }
.icon-person:before { content: "\e601"; }
.icon-arrowdropdown:before { content: "\e607"; }
.icon-book:before { content: "\e60f"; }
.icon-description:before { content: "\e610"; }
.icon-crown:before { content: "\e615"; }
.icon-arrowback:before { content: "\e602"; }
.icon-chevronright:before { content: "\e619"; }
.icon-menu:before { content: "\e611"; }
.icon-favorite:before { content: "\e603"; }
.icon-help:before { content: "\e612"; }
.icon-lock:before { content: "\e60e"; }
.icon-setting:before { content: "\e608"; }
.icon-visibility:before { content: "\e617"; }
.icon-qq:before { content: "\e60b"; }
.icon-weibo:before { content: "\e60c"; }
.icon-weixin:before { content: "\e60d"; }
.icon-dynamic:before { content: "\e600"; }
.icon-explore:before { content: "\e604"; }
.icon-people:before { content: "\e605"; }
.icon-school:before { content: "\e609"; }
.icon-send:before { content: "\e60a"; }
.icon-keyboardarrowdown:before { content: "\e613"; }
.icon-keyboardarrow:before { content: "\e614"; }
.icon-modecomment:before { content: "\e618"; }
.icon-search:before { content: "\e61a"; }
.icon-account:before { content: "\e606"; }
.icon-ebook:before { content: "\e61d"; }
.icon-edescription:before { content: "\e61e"; }
.icon-efavorite:before { content: "\e61f"; }
.icon-ehelp:before { content: "\e620"; }
.icon-equestionanswer:before { content: "\e621"; }
