{% extends 'admin/layout.html.twig' %}

{% set nav = 'application' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
      <div class="list-group">
        <a href="{{ path('admin_task') }}" class="list-group-item {% if menu == 'task' %}active{% endif %}">{{'admin.cloud.app.layout.task_manage'|trans}}<span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}