{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}
{% set script_controller = 'class-note/note' %}
{% block class_main %}

<ul id="note-list" class="media-list">
	{% for note in notes %}
		{% set course = courses[note.courseId]|default(null) %}
    {% set lesson = lessons[note.lessonId]|default(null) %}
    {% set user = users[note.userId]|default(null) %}
    {% set userLike = userLikes[note.id]|default(null) %}
    {% set noteLike = noteLikes[note.id]|default(null) %}
    {% include 'TopxiaWebBundle:ClassNote:note-list-item.html.twig'%}
  {% else %}
    <div class="empty">暂无笔记记录</div>
  {% endfor %}
</ul>
{{ web_macro.paginator(paginator) }} 
{% endblock %}