.brush-exercise-exercise {
	margin-top: vw(-1);
	padding: 0 vw(16);
	background: #fff;

	.directory-exercise {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: vw(12) 0;
		font-size: vw(14);
		border-bottom: vw(1) solid #f5f5f5;
	}

	.directory-exercise-left {
		flex: 0 0 50%;
		color: #666;

		@include text-overflow-multi(1);
	}

	.directory-exercise-center {
		display: flex;
		flex: 0 0 24%;
		justify-content: center;
		color: #999;
	}

	.directory-exercise-end {
		justify-content: flex-end;
	}

	.directory-exercise-right {
		display: flex;
		flex: 0 0 24%;
		align-items: center;
		justify-content: flex-end;
	}

	.exercise-charp {
		.directory-exercise-left {
			color: #333;
		}
	}

	.exercise-section {
		margin-left: vw(8);

		.directory-exercise-left {
			flex: 0 0 48%;
		}

		.directory-exercise-center {
			flex: 0 0 26%;
		}
	}

	.exercise-task {
		margin-left: vw(16);

		.directory-exercise-left {
			flex: 0 0 46%;
		}

		.directory-exercise-center {
			flex: 0 0 28%;
		}
	}
}
