.es-filter {
  .nav-sort {
    > li > a {
      &:hover {
        color: @brand-primary;
      }
      &.active {
        background-color: @brand-primary;
      }
    }
  }
  .btn-group.open .dropdown-toggle {
    color: @brand-primary;
  }
  .filter {
    .btn {
      &:hover {
        color: @brand-primary;
        .es-transition;
      }
    }
    label {
      &:hover {
        color: @brand-primary;
      }
    }
  }
}