.note-list {
  .note-item {
    .metas {
      >.name {
        &:hover {
          color: @brand-primary;
        }
      }
      > .period {
        color: @brand-primary;
      }
      .metas-sns {
        > span {
          > a {
            &:hover {
              color: @brand-primary;
            } 
          }
        }
      }
    }
  }
}