.topic-list {
  .topic-item {
    .title {
      a {
        &:hover {
          color: @brand-primary;
        }
      }
    }
    .metas {
      > .name {
        &:hover {
          color: @brand-primary;
        }
      }
      > .period {
        color: @brand-primary;
      }
    }
  }
}