<div class="col-md-3">
      <div class="testpaper-card affix-top" data-spy="affix" data-offset-top="200">
    <div class="panel panel-default">
	<div class="panel-heading">
			<button class="btn btn-sm btn-default " id="suspend" data-url="/test/11/suspend" data-goto="/my/quiz">下次再做</button>
			{# <button id="pause" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-backdrop="static" data-target="#modal" data-url="/test/pause">暂停</button> #}
	</div>
	<div class="panel-body">

		
												<a href="javascript:;" data-anchor="#question8" class="btn btn-default btn-index pull-left ">1</a>
								
												<a href="javascript:;" data-anchor="#question12" class="btn btn-default btn-index pull-left ">2</a>
								
			
			<div class="clearfix mtm mbm"></div>

		
												<a href="javascript:;" data-anchor="#question14" class="btn btn-default btn-index pull-left ">3</a>
								
			
			<div class="clearfix mtm mbm"></div>

		
																		<a href="javascript:;" data-anchor="#question19" class="btn btn-default btn-index pull-left ">4</a>
											<a href="javascript:;" data-anchor="#question20" class="btn btn-default btn-index pull-left ">5</a>
													
			
			<div class="clearfix mtm mbm"></div>

		
	</div>
	<div class="panel-footer">
				<button class="btn btn-success btn-block do-test" id="finishPaper" data-ajax="/test/11/submit" data-url="/test/11/finish" data-goto="/test/11/result">提交作业</button>
			</div>
</div>  </div>
  </div>
