{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% block title %}
新增直播课时
{% endblock %}

{% block body %}
	
  <form class="form-horizontal" id="live-lesson-form"
  	标题：
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

  </form>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#live-lesson-form">保存</button>
{% endblock %}