/* =========================== media =========================== */
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
a:hover,
a:focus {
  color: #7cb132;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #7cb132 !important;
}
.text-primary,
.color-primary {
  color: #7cb132 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #7cb132;
}
.btn-primary {
  border-color: #608927;
  background-color: #7cb132;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #669129;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #7cb132;
  color: #7cb132;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #7cb132;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #7cb132;
}
.es-piece .piece-header {
  border-color: #7cb132;
}
.breadcrumb a:hover {
  color: #7cb132;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #7cb132;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #7cb132;
}
.class-serve > ul > li.active {
  background-color: #7cb132;
}
.article-metas .metas-body .title a:hover {
  color: #7cb132;
}
.media.media-number .media-body > a:hover {
  color: #7cb132;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #7cb132;
}
.class-signin .btn-signin {
  background-color: #7cb132;
}
.sidenav .list-group .list-group-item.active {
  border-color: #7cb132;
}
.sidenav .list-group .list-group-item.active > a {
  color: #7cb132;
}
.dropdown-menu > li > a:hover {
  background-color: #7cb132;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #7cb132;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7cb132;
  border-color: #7cb132;
}
.badge-primary {
  background-color: #7cb132;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #7cb132;
}
.es-filter .filter label:hover {
  color: #7cb132;
}
.class-header.after .class-data > li > a:hover {
  color: #7cb132;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #7cb132;
}
.progress-bar,
.rank_num {
  background-color: #7cb132;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #7cb132;
}
.bar-task .bar-time-line > li .es-icon {
  color: #7cb132;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #7cb132;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #7cb132;
}
.page-header .badge {
  background-color: #7cb132 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #7cb132;
}
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
a:hover,
a:focus {
  color: #7cb132;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #7cb132 !important;
}
.text-primary,
.color-primary {
  color: #7cb132 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #7cb132;
}
.btn-primary {
  border-color: #608927;
  background-color: #7cb132;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #669129;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #7cb132;
  color: #7cb132;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #7cb132;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #7cb132;
}
.es-piece .piece-header {
  border-color: #7cb132;
}
.breadcrumb a:hover {
  color: #7cb132;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #7cb132;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #7cb132;
}
.class-serve > ul > li.active {
  background-color: #7cb132;
}
.article-metas .metas-body .title a:hover {
  color: #7cb132;
}
.media.media-number .media-body > a:hover {
  color: #7cb132;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #7cb132;
}
.class-signin .btn-signin {
  background-color: #7cb132;
}
.sidenav .list-group .list-group-item.active {
  border-color: #7cb132;
}
.sidenav .list-group .list-group-item.active > a {
  color: #7cb132;
}
.dropdown-menu > li > a:hover {
  background-color: #7cb132;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #7cb132;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7cb132;
  border-color: #7cb132;
}
.badge-primary {
  background-color: #7cb132;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #7cb132;
}
.es-filter .filter label:hover {
  color: #7cb132;
}
.class-header.after .class-data > li > a:hover {
  color: #7cb132;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #7cb132;
}
.progress-bar,
.rank_num {
  background-color: #7cb132;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #7cb132;
}
.bar-task .bar-time-line > li .es-icon {
  color: #7cb132;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #7cb132;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #7cb132;
}
.page-header .badge {
  background-color: #7cb132 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #7cb132;
}
.site-navbar {
  background-color: #333;
  border: 0px;
}
.site-navbar .navbar-nav > li > a:hover {
  background-color: #7cb132;
  color: #fff;
}
.panel-autumn {
  background: transparent;
}
.panel-autumn .panel-heading {
  padding: 0;
  border-bottom: 2px solid #ddd;
}
.panel-autumn .panel-title {
  display: inline-block;
  padding: 10px 0;
}
.panel-autumn .panel-heading-important .panel-title {
  margin: 0;
  padding: 12px 10px 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .panel-autumn .panel-heading-important .panel-title {
    font-size: 16px;
  }
}
.panel-autumn .panel-body {
  padding: 15px 0 0 0;
}
.panel-autumn-primary .panel-heading {
  border-bottom-color: #7cb132;
}
.panel-autumn-primary .panel-title {
  color: #7cb132;
}
.panel-autumn-primary .panel-title small {
  color: #7cb132;
}
.panel-autumn-primary .panel-heading-important .panel-title {
  background: #7cb132;
  color: #fff;
}
.panel-autumn-primary .panel-heading-important .panel-title small {
  color: #fff;
}
.panel-autumn-default .panel-heading {
  border-bottom-color: #f78a4b;
}
.panel-autumn-default .panel-heading-important .panel-title {
  background: #f78a4b;
  color: #fff;
}
.home-class-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .home-class-list {
    background: #fff;
    padding-top: 10px;
  }
}
.home-class-list .class-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
}
@media (max-width: 767px) {
  .home-class-list .class-item {
    float: left;
    width: 50%;
    padding: 0 5px;
    margin-bottom: 10px;
    border: none;
  }
}
.home-class-list .class-body {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .home-class-list .class-body {
    border: 1px solid #e2e2e2;
    padding: 5px;
  }
}
.home-class-list .class-picture-link {
  float: left;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.home-class-list .class-picture-link > img {
  width: 213px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link > img {
    width: 100%;
    display: block;
  }
}
.home-class-list .class-title {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-class-list .class-title {
    margin-bottom: 0;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
.home-class-list .class-metas {
  margin-bottom: 20px;
  color: #999;
}
@media (max-width: 767px) {
  .home-class-list .class-metas {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.home-class-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home-class-list .class-metas .fa {
    font-size: 14px;
  }
}
.home-class-list .class-teacher {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .home-class-list .class-teacher {
    display: none;
  }
  .home-class-list .class-price {
    font-size: 14px!important;
  }
}
.home-class-list .class-teacher span {
  margin-right: 10px;
}
.home-class-list .class-price {
  float: right;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .home-class-list .class-price {
    margin-right: 50px;
  }
}
.autumn-grids {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -25px;
  letter-spacing: -4px;
  zoom: 1;
}
@media (max-width: 767px) {
  .autumn-grids {
    margin-right: 0;
    background: #fff;
    padding-top: 10px;
  }
}
.autumn-grid {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  width: 254px;
  margin: 0px 10px 17px 0;
  background: #fff;
  border: 1px solid #e2e2e2;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .autumn-grid {
    width: 243px;
    margin: 0px 10px 17px 0;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .autumn-grid {
    width: 299px;
    margin: 0px 20px 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .autumn-grid {
    width: 349px;
    margin: 0px 20px 20px 0;
  }
}
@media (max-width: 767px) {
  .autumn-grid {
    float: left;
    width: 50%;
    padding: 0 5px 10px;
    border: none;
    margin: 0;
  }
}
.autumn-grid:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-top-color: #f78a4b;
}
.autumn-course-grid:hover .course-name a {
  color: #f78a4b;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.autumn-course-grid .series-mode-label {
  position: absolute;
  top: 10px;
  right: 10px;
}
.autumn-course-grid .course-name {
  margin: 10px 20px;
  height: 40px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-name {
    margin: 0;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
.autumn-course-grid .course-name a {
  font-size: 16px;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-name a {
    font-size: 14px;
  }
}
.autumn-course-grid .course-picture {
  margin: 20px 20px 10px;
  display: block;
  position: relative;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-picture {
    margin: 0;
  }
}
.autumn-course-grid .course-picture img {
  width: 100%;
}
.autumn-course-grid .course-about {
  margin: 10px 20px 15px;
  font-size: 12px;
  height: 32px;
  color: #999;
  overflow: hidden;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-about {
    display: none;
  }
}
.autumn-course-grid .course-metas {
  margin: 10px 20px 20px;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-metas {
    margin: 5px 0;
  }
}
.autumn-course-grid .course-price-info {
  margin: 10px 20px;
}
@media (max-width: 767px) {
  .autumn-course-grid .course-price-info {
    margin: 5px 0;
  }
}
@media (max-width: 767px) {
  .autumn-course-grid .course-price-info .price {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .autumn-course-grid .course-body {
    border: 1px solid #e2e2e2;
    padding: 5px;
  }
}
.teachers-item {
  margin-bottom: 20px;
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: #fff;
}
@media (max-width: 767px) {
  .teachers-item {
    padding: 10px;
    margin-bottom: 10px;
  }
}
.teachers-item img {
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.teachers-item span {
  line-height: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  color: #00b780;
}
.teachers-item i {
  margin-bottom: 10px;
  display: block;
  font-style: normal;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item i {
    display: none;
  }
}
.teachers-item p {
  margin-top: 20px;
  font-size: 12px;
  height: 36px;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.teachers-item a,
.promot-teacher a {
  display: block;
  line-height: 24px;
  text-decoration: none;
}
.user-learn {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}
.user-learn img {
  width: 120px;
  height: 67px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.user-learn p {
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-learn .teacher-name {
  font-size: 12px;
}
.user-learn .progress {
  height: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.user-learn .progress-bar {
  background-color: #096;
}
.user-learn .percentage {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
}
.user-learn .continue {
  overflow: hidden;
}
.homepage .news li em {
  width: 85px;
  float: right;
  text-align: right;
  font-style: normal;
  color: #a9a9a9;
}
.homepage .news ul.row {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 0px;
  list-style: none;
}
.homepage .news li span {
  color: #428bca;
  margin-right: 10px;
  text-decoration: none;
}
.homepage .news li a {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tag-list a {
  border-radius: 5px;
  margin: 0 20px 20px 0;
  padding: 0 15px;
  display: inline-block;
  font-weight: 800;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  color: #777;
  text-decoration: none;
  background: #ddd;
}
@media (max-width: 767px) {
  .tag-list a {
    border-radius: 4px;
    margin: 0 10px 10px 0;
    padding: 0 7px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }
}
.tag-list a:hover {
  border: 1px solid #096;
  color: #fff;
  background: #096;
}
.courses-rank li img {
  display: block;
  width: 80px;
  height: 45px;
  margin-right: 15px;
}
.courses-rank .course-title {
  color: #444;
  margin: 0;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.courses-rank a:hover .course-title {
  color: #83BB36;
}
.media-list.courses-rank,
.media-list.courses-rank .media:last-child,
.status-side .media-list .media:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer-autumn {
  background-color: #333;
  color: #666;
  text-align: center;
  padding: 40px 0;
}
@media (max-width: 767px) {
  .footer-autumn {
    padding: 20px 0;
  }
}
.footer-autumn,
.footer-autumn a {
  color: #999;
}
.footer-autumn a:hover {
  color: #eee;
}
.footer-autumn .footer-links {
  margin-bottom: 10px;
}
.side-autumn-default .panel-title {
  color: #f78a4b;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}
.side-autumn-primary .panel-title {
  color: #7cb132;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}
.side-autumn-primary .panel-title small {
  color: #7cb132;
}
.side-autumn-primary .panel-title {
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}
.more-autumn-default {
  line-height: 44px;
  color: #f78a4b;
}
.more-autumn-default:hover {
  color: #f78a4b;
  text-decoration: underline;
}
.more-autumn-primary {
  line-height: 44px;
  color: #7cb132;
}
.more-autumn-primary:hover {
  color: #7cb132;
  text-decoration: underline;
}
.topic ul {
  padding-left: 0;
  margin-bottom: 0;
}
.topic-item {
  background: #fff;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e1e1e1;
}
.topic-item h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topic > ul > li {
  overflow: hidden;
  text-decoration: none;
}
.topic-body {
  display: block;
  overflow: hidden;
}
.topic-body img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}
.topic-body h3 {
  margin: 0;
  padding: 0;
}
.topic-body p {
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topic-bottom {
  margin-top: 20px;
}
