.module-frame {
  position: relative;
  &__preview {
    cursor: pointer;
    border: 1px solid #fff;
    &.active {
      border: 1px dashed $primary-color;
    }
    &:hover {
      border: 1px solid $primary-color;
    }
    &.incomplete {
      border: 1px solid red;
    }
  }
  &__setting {
    position: absolute;
    top: 0;
    left: 105%;
    padding: 15px;
    width: 400px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    background: #FAFAFA;
    box-sizing: border-box;
    .title {
      font-size: 14px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $grey-light;
    }
    .default-allocate__content {
      background: #fff;
      padding: 30px;
      border: 1px solid #E1E1E1
    }
    .default-item-setting__section {
      position: relative;
      &:not(:first-child) {
        margin-top: 20px;
      }
      .section-left {
        display: inline;
        margin: 0;
        line-height: 28px;
        font-size: 14px;
      }
      .section-right {
        margin-left: 70px;
        width: 212px;
        line-height: 28px;
        .el-select {
          width: 100%;
        }
        &__item {
          display: inline-block;
          width: 96px;
        }
        .el-radio+.el-radio {
          margin-left: 12px;
        }
      }
    }
    .default-draggable {
      &__list {
        margin-top: 15px;
        padding: 0 20px;
        background: #f5f5f5;
      }
      &__item {
        box-sizing: border-box;
        color: $primary-color;
        height: 40px;
        padding: 13px 0;
        line-height: 14px;
        cursor: move;
        &:not(:first-child) {
          border-top: 1px solid #e1e1e1;
        }
      }
      &__title {
        display: inline-block;
        width: 240px;
        font-size: 14px;
      }
      &__icon-delete {
        color: #bdc2c6;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
