.moudle-frame {
  position: relative;
  &__setting {
    position: absolute;
    top: 0;
    left: 105%;
    padding: 15px;
    width: 400px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    background: #FAFAFA;
    box-sizing: border-box;
  }
}
