<section class="feature-banner hidden-xs" style="background: {{middleBackground[0].value}}">
  <div class="container">
    <img class="img-responsive" src="{{ asset(middleImg[0].src|default('')) }}" alt="">
  </div>
</section>