{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block content %}
<div class="panel panel-default panel-col" style="font-size:18px;padding: 20px 110px 100px 150px; min-height: 515px;">
  <div style="text-align:center;font-size:30px;">班级有效期规则</div>
  <div class="panel-body">
      ● 班级有效期设置
      <br>
      1. 设置项在【班级基本信息】中设置<br>
      2. 有三个选项【有效天数】【有效日期】【无】<br>
      <br>
      ● 有效期使用规则
      <br>
      1. 有效天数，从加入课程开始计算到有效天数结束，如：有效天数是10天，学生于2017.3.8 <br>15：00加入班级，则其有效期截止为：2017.3.18 15：00<br>
      2. 有效日期，无论何时加入班级，如果设置的有效日期为：2017.3.8 则所有学生有效期截止为：2017.3.8 24：00<br>
      <br>
      ● 有效期修改规则
      <br>
      1. 未发布状态：任意修改，且保存的有效期设置，将在发布后生效<br>
      2. 发布状态：只能修改当前有效期方式下的具体数值，如果是修改有效天数，则只会影响后续加入班级的学员，不影响已加入班级的学员；如果修改有效日期，则会所有学员，包括已加入班级和后续加入的班级<br>
      3. 关闭状态：无法修改<br>
      4. 在学员管理中，可以针对单个学员修改其有效期<br>
      <br>
      ● 有效期过期处理
      <br>
      1. 班级过期后，如果是有效天数，则提示学员：当前班级已过有效期，请重新加入<br>
      2. 班级过期后，如果是有效日期，则提示学员：当前班级已过有效期，无法继续学习<br>
      3. 进入班级课程，提示和班级一致<br>
      4. 班级到期前10天会进行系统通知，提示班级已到期，班级内课程也会发送相应通知<br>
      5. 班级过期后，除评价以外，所有项只允许查看，不允许操作，操作都会提示：当前班级已过有效期<br>
  </div>
</div>
{% endblock %}