{% extends 'classroom-manage/layout.html.twig' %}
{% block title %}{{'classroom.manage.data_statictics'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'data-statistics' %}
{% do script(['libs/echarts.js', 'app/js/classroom-manage/statistics/index.js']) %}

{% block main %}
  <div class="panel panel-default" style="border: 0">
    <div class="panel-heading">{{'classroom.manage.data_statictics'|trans}}
    </div>
    <div class="panel-body">
      <div class="classroom-manage-statistics">
        {% include 'classroom-manage/statistics/overview.html.twig' %}
        {% include 'classroom-manage/statistics/student-trend.html.twig' %}
        {% include 'classroom-manage/statistics/student-and-course-data.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}