{% extends 'classroom-manage/layout.html.twig' %}
{% block title %}{{'classroom.manage.data_statictics'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'data-statistics' %}
{#{% do script(['app/js/classroom-manage/set-assistants/index.js']) %}#}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading">{{'classroom.manage.data_statictics'|trans}}
    </div>
    <div class="panel-body">
      <div class="classroom-manage-statistics">
        {% include 'classroom-manage/statistics/overview.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}