{% extends 'classroom-manage/students.html.twig' %}
{% block title %}{{ 'classroom.student_manage'|trans }} - {{ parent() }}{% endblock %}
{% do script(['vue3/js/classroom-manage/students/index.js']) %}

{% block main %}
  <div>
    <div id="student-list-app"
         data-classroom-id="{{ classroom.id }}"
         data-classroom-status="{{ classroom.status }}"
    ></div>
  </div>
{% endblock %}
