<div class="page-header clearfix">
  <a href="{{ path('admin_coupon_generate') }}" class="btn btn-info btn-sm pull-right" id="generate-coupon-btn">生成优惠码</a>
  <h1 class="pull-left">优惠码管理</h1>
</div>
  {{ web_macro.flash_messages() }}
<ul class="nav nav-tabs">
  <li {% if submenu == 'coupon_batch' %} class="active" {% endif %} >
    <a  href="{{ path('admin_coupon') }}">按批次管理</a>
  </li>
  <li {% if submenu == 'coupon_query' %} class="active" {% endif %} >
    <a  href="{{ url('admin_coupon_query', { status:'used' }) }}">优惠码使用查询</a>
  </li>
</ul>