{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{% do load_script('thread/utility/member') %}
{% if myFriends|default(null) %}
  <div class="joined-frineds">
    <p>好友在参加</p>
    <ul class="user-grids">
      {% include 'TopxiaWebBundle:Thread/Event:user-grids-li.html.twig' with {members:myFriends} %}
    </ul>
  </div>
{% endif %}

{% if members|default(null) %}
  <div class="joined-users">
    <p>活动成员（{{ membersCount|default(0) }}）</p>
    <ul class="user-grids">
      {% include 'TopxiaWebBundle:Thread/Event:user-grids-li.html.twig' %}
    </ul>
    <div class="text-center">
      <span class="glyphicon glyphicon-chevron-down js-members-expand" style="cursor: pointer;" data-url="{{ path('ajax_thread_member_show', {threadId:threadId}) }}"></span>
      <span class="glyphicon glyphicon-chevron-up js-members-collapse" style="cursor: pointer; display:none"></span>
    </div>
  </div>
{% endif %}