{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% set modal_class = 'modal-lg' %}

{% block title %}
  查询结果&nbsp;&nbsp;{{ dateRange.startTime }} - {{ dateRange.endTime }}
{% endblock %}
{% block body %}
  {% include 'TopxiaAdminBundle:OpenCourseAnalysis/Conversion:order-list.html.twig' %}

  <!-- 以下是来源详情 -->
  {{ render(controller('TopxiaAdminBundle:OpenCourseAnalysis:detailGraph',{request:app.request, id:targetId, showRefererLogList:0 })) }}
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">关闭</button>
{% endblock %}