// 名片组件

.js-user-card {
  display: inline-block;
}
.es-card {
  width: 330px;
  max-width: 330px;
  z-index: 999;
  .popover-content {
    padding: 0;
  }
  .card-header {
    position: relative;
    padding: 15px;
    min-height: 95px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: @gray-lighter;
  }
  .media {
    padding-right: 70px;
  }
  .media-left {
    position: relative;
  }
  .avatar-md {
    border: 2px solid #fff;
  }
  .icon-user-status {
    position: absolute;
    bottom: 0;
    right: 5px;
  }
  .content {
    font-size: 12px;
    margin-top: 6px;
    color: @gray;
  }
  .metas {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    text-align: right;
    .btn {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .card-body {
    line-height: 24px;
    padding: 20px;
    color: @gray;
  }
  .card-footer {
    border-top: 1px solid @gray-lighter;
    span {
      float: left;
      width: 33.33%;
      margin: 5px auto;
      text-align: center;
      line-height: 24px;
      border-right: 1px solid @gray-lighter;
      &:last-child {
        border: none;
      }
    }
  }
}

//卡包优惠劵
.jm-card-list{
  .jm-card-item{
    margin-bottom: 30px;
  }
  .col-lg-4,.col-md-6{
    padding-left: 12px;
    padding-right: 12px;
  }
  .jm-card-img{
    position: relative;
    width: 254px;
    height: 172px;
    @media(max-width:@screen-md-max){
      margin: 0 30px;
    }
  }
  .jm-card-img.yhjing{
    background: url('../img/card.png') no-repeat;
  }
  .jm-card-img.yhjed{
    background: url('../img/card.png') no-repeat 0 -174px;
  }
  .jm-card-img.xxking{
    background: url('../img/card.png') no-repeat -260px 0;
  }
  .jm-card-img.xxked{
    background: url('../img/card.png') no-repeat -260px -174px;
  }
  .jm-card-info{
    text-align: center;
    color: #fff;
    font-size: 12px;
    strong{
      font-size: 36px;
      font-weight: normal;
    }
    h4{
      position: absolute;
      font-size: 18px;
      left: 18px;
    }
    p{
      margin-bottom: 0;
    }
    .title{
      padding-top: 52px;
    }
    .price{
      margin-bottom: 20px;
    }
  }
  .card-done,.carded{
    display: inline-block;
    width: 132px;
    height: 132px;
    background: url('../img/card.png') no-repeat -140px -349px;
    position: absolute;
    bottom: 11px;
    left: 18px;
  }
  .carded{
    background: url('../img/card.png') no-repeat 0 -349px;
  }
}
