.reservation-hint {
  margin-bottom: 20px;
  .reservation-tip {
    margin-left: 10px;
    color: @brand-warning;
  }
}

.reservation-header {
  margin-bottom: 20px;
  color: @brand-primary;
  i {
    margin-right: 10px;
  }
  .reservation-title {
    margin-left: 20px;
  }
  .reservation-div {
    margin-bottom: 30px;
  }
}

.reservation-div {
  .date {
    float: left;
    margin-right: 20px;
    line-height: 34px;
    color: @brand-primary;
  }
}