<fieldset>
  <legend>汇付宝－网银支付</legend>
  {% if setting('magic.quickpay', false) %}
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>接口状态</label>
      </div>
      <div class="controls col-md-3 radios">
        {{ radios('heepay_enabled', {1:'开启', 0:'关闭'}, payment.heepay_enabled) }}
      </div>
      <div class="controls col-md-4 radios">
        <a href="http://www.edusoho.com/files/heepay.zip">下载接口申请说明文档</a>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="heepay_key">PID</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="heepay_key" name="heepay_key" class="form-control" value="{{payment.heepay_key}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="heepay_secret">商户平台Key</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="heepay_secret" name="heepay_secret" class="form-control" value="{{payment.heepay_secret}}">
      </div>
    </div>
  {% else %}
    <div class="alert alert-info text-center" role="alert">
      因汇付宝公司事务引起网银支付申请暂停，对此造成不便，请您谅解，如有疑问，请联系EduSoho官方
    </div>
  {% endif %}
</fieldset>