<fieldset>
  <legend>汇付宝－快捷支付</legend>
  {% if setting('magic.quickpay', false) %}
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>接口状态</label>
      </div>
      <div class="controls col-md-3 radios">
        {{ radios('quickpay_enabled', {1:'开启', 0:'关闭'}, payment.quickpay_enabled) }}
      </div>
      <div class="controls col-md-4 radios">
        <a href="http://www.edusoho.com/files/heepay.zip">下载接口申请说明文档</a>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="quickpay_key">PID</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="quickpay_key" name="quickpay_key" class="form-control" value="{{payment.quickpay_key}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="quickpay_key">Key</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="quickpay_secret" name="quickpay_secret" class="form-control" value="{{payment.quickpay_secret}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="quickpay_aes">Aes</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="quickpay_aes" name="quickpay_aes" class="form-control" value="{{payment.quickpay_aes}}">
      </div>
    </div>
  {% else %}
    <div class="alert alert-info text-center" role="alert">
      因汇付宝公司事务引起网银支付申请暂停，对此造成不便，请您谅解，如有疑问，请联系EduSoho官方
    </div>
  {% endif %}
</fieldset>