<div class="testpaper-card-explain clearfix">
  <a href="javascript:;" class="color-lump lump-xs bg-success"></a><small class="color-gray mls">{{'testpaper.result.true'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs bg-danger"></a><small class="color-gray mls">{{'testpaper.result.wrong'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs bg-warning"></a><small class="color-gray mls">{{'testpaper.result.not_read'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs lump-card"></a><small class="color-gray mls">{{'testpaper.result.not_done'|trans}}</small>
</div>
