<div class="testpaper-card-explain clearfix">
  <a href="javascript:;" class="color-lump lump-xs bg-success"></a><small class="color-gray mls">{{'正确'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs bg-danger"></a><small class="color-gray mls">{{'错误'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs bg-warning"></a><small class="color-gray mls">{{'待批阅'|trans}}</small>
  <a href="javascript:;" class="color-lump lump-xs lump-card"></a><small class="color-gray mls">{{'未做'|trans}}</small>
</div>