.order {
  height: 90vh;
  .goods-info {
    border-bottom: vw(14) solid #f7f7f7;
    > .e-course {
      padding-top: vw(20);
    }
    .e-course__left {
      width: auto;
    }
    .e-vip__img {
      margin-right: vw(10);
    }
    .order-goods-item {
      display: flex;
      justify-content: space-between;
      line-height: vw(52);
      margin-left: vw(20);
      padding-right: vw(20);
      color: #9BA5B0;
      font-size: vw(14);
      border-top: 1px solid #eee;
    }
    .order-coupon {
      .coupon-column {
        display: flex;
        justify-content: space-between;
        line-height: vw(52);
        margin-left: vw(20);
        padding-right: vw(20);
        color: #9BA5B0;
        font-size: vw(14);
        border-top: 1px solid #eee;
        .icon-arrow-right{
          margin-left: vw(4);
          color:#ccc;
          font-size: vw(14);
        }
        .coupon-money{
          font-size: vw(28);
          font-weight:500;
        }
        .coupon-type{
          font-size: vw(14)
        }
      }
    }
    .gray-dark {
      color: #71777D;
    }
  }

  .order-accounts {
    padding: vw(25) vw(20);
    .flex-between-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: vw(20);
      font-size: vw(14);
      color: #9BA5B0;
    }
  }

  &-submit-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: vw(50);
    color: #fff;
    font-size: vw(18);
    border: none;
    text-align: center;
    background-color: $primary-color;
    >.submit-btn {
      height: vw(35);
      margin: auto vw(20);
      font-size: vw(14);
      color: white;
      padding:0  vw(10);
      font-weight: bold;
    }
    >span {
      font-size: vw(14);
      font-weight: 500;
    }
  }

  &-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: vw(68);
    padding: 0 vw(20) 0 vw(9);
    box-sizing: border-box;
    background: #fff;
    border-top:vw(1) solid #D8D8D8;
    .disabled{
      background: #c1c1c1
    }
    &__btn{
      height: vw(36);
      width: vw(90);
      line-height: vw(36);
      color: #ffff;
      text-align: center;
      border-radius: vw(4);
      background: $primary-color;
    };
    &__text{
      display: flex;
      font-size: vw(14);
      align-items: center;
      .price{
        padding-right: vw(10);
        font-size: vw(28);
        color: #FD4852;
      }
      .discount{
        position: relative;
        padding-left: vw(10);
        color: #FFA91B;
        &::after{
          position: absolute;
          left: 0;
          top:vw(-3);
          bottom: vw(-3);
          content: '';
          width: vw(1);
          background: #D8D8D8
      }
      }
    }
  }
}

.order-coupon {
  .e-coupon__name {
    right: vw(60) !important;
  }
  .btn-coupon-exit {
    display: flex;
    justify-content: space-between;
    padding: 0 vw(20);
    line-height: vw(46);
    background-color: #fff;
    font-size: vw(14);
    .h5-icon {
      font-size: vw(24);
      color: #c1c1c1;
    }
    .h5-icon-check {
      display: none;
    }
    &.active {
      .h5-icon-circle {
        display: none;
      }
      .h5-icon-check {
        display: block;
        color: #FF9800;
      }
    }
  }
}

.coupon-popup.full-height-popup {
  height: 100%;
  .e-coupon__body {
    padding-right: 0;
    &:after {
      right: vw(-6);
    }
  }
  .coupon-container:first-child {
    padding-top: vw(30);
  }
  .coupon-container:last-child {
    padding-bottom: vw(30);
  }
}

.coupon-popup.white-background {
  .coupon-container {
    background-color: #FFFFFF;
    .e-coupon__body {
      &:after {
        background-color: #FFFFFF;
      }
      &:before {
        background-color: #FFFFFF;
      }
    }
  }
}

.order .coupon-popup__content {
  top: vw(95);
  background: #f5f5f5;
  .coupon-number-change{
    display: flex;
    justify-content: space-between;
    padding: 0 vw(20);
    line-height: vw(46);
    background-color: #fff;
    font-size: vw(14);
    z-index:10001;
    position: relative;
    margin: vw(10) 0 vw(5) 0;
  }
}

.coupon-popup {
  .e-coupon__body {
    padding-right: 0;
    &:after {
      right: vw(-6);
    }
    .coupon-button {
      right: vw(15);
    }
    .e-coupon__name {
      right: vw(85);
    }
    .stamp {
      right: 0 !important;
    }
  }
  .coupon-container {
    background-color: #f5f5f5;
    padding: vw(10) vw(20);
    .e-coupon__container {
      margin-top: 0
    }
    .e-coupon__body {
      &:after {
        background-color: #f5f5f5;
      }
      &:before {
        background-color: #f5f5f5;
      }
    }
  }
  .coupon-empty {
    position: absolute;
    width: 100%;
    text-align: center;
    .empty-img {
      width: 50%;
      margin-top: vw(100);
      margin-bottom: vw(10);
    }
    .empty-text {
      font-size: vw(17);
      color: #c1c1c1;
    }
  }
}
