{% extends 'courseset-manage/layout.html.twig' %}
{% block title %}{{ 'course.plan_task.manage'|trans }} - {{ parent() }}{% endblock %} {%
do script(['app/js/course-manage/index.js']) %}

{% block course_header %}
  {{ render(controller('AppBundle:Course/CourseManage:header', {courseSet:courseSet, course: course, manage: true})) }}
{% endblock %}

{% block main %}
  <div class="cd-main">
    <div class="cd-main__heading">
      {% block main_heading %}
        <div class="cd-main__title">
          {% block page_title %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div class="cd-main__body">
      {% block main_body %}
      {% endblock %}
    </div>
  </div>
{% endblock %}