{% import "PermissionBundle:Templates:macro.html.twig" as self_macro %}

{% set permissions = sub_permissions(parentCode) %}

{% if permissions|default(null) %}
	<ul class="nav navbar-nav">
	{% for m in permissions %}  
		{# {% if not (m.code == 'admin_app' and (setting('copyright.thirdCopyright') == 1 or is_without_network())) %} #}
		  <li {% if menu and  m.code == menu|parent_permission.code|parent_permission.code|default(null)  %}class="active"{% endif %}>
		    {{ self_macro.menu_link_html(_context, m) }}
		  </li>
		{# {% endif %} #}
	{% endfor %}
	</ul>
{% endif %}