{% import "PermissionBundle:Templates:macro.html.twig" as self_macro %}

{% for groupedMenus in grouped_permissions(menu|parent_permission.code|parent_permission.code|default(null)) %}
  <div class="list-group">
    {% for m in groupedMenus %}
        {% set menuClass = m.code == menu|parent_permission.code|default(null) ? 'list-group-item active' : 'list-group-item' %}
        {{ self_macro.menu_link_html(_context, m, menuClass) }}
    {% endfor %}
  </div>
{% endfor %}
