.order-detail-bg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 20px;
}
.order-detail-bg .order-detail {
  position: relative;
}
@media (max-width: 767px) {
  .order-detail-bg .order-detail .img-responsive {
    width: 100%;
    margin-bottom: 10px;
  }
}
.order-detail-bg .class-count {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 0;
  font-size: 16px;
  color: #666;
}
.order-detail-bg .class-count .class-price {
  font-size: 24px;
}
.order-detail-bg .order-item {
  border-bottom: 0;
  padding: 25px 30px;
}
.order-detail-bg .order-count {
  padding: 0;
}
.order-detail-bg .order-count .order-price {
  color: #ff7e00;
}
.paid-courses .course-item {
  padding: 5px;
}
.paid-courses .course-item:nth-child(odd) {
  background-color: #fafafa;
}
.paid-courses .course-item .course-img {
  float: left;
}
.paid-courses .course-item .course-img img {
  width: 112px;
  height: auto;
}
.paid-courses .course-item .course-title {
  float: left;
  padding: 10px 20px;
  margin: 0;
}
.paid-courses .course-item .course-title h4 {
  font-size: 16px;
}
.paid-courses .course-item .course-info {
  padding: 16px 20px;
  float: right;
}
.paid-courses .course-item .more {
  position: relative;
}
.paid-courses .course-item .more:hover {
  cursor: pointer;
}
.paid-courses .course-item .more:hover .more-info {
  display: block;
}
.paid-courses .course-item .more .more-info {
  position: absolute;
  display: none;
  z-index: 1;
  top: 100%;
  right: 0;
  background-color: #fef7ed;
  border: 1px solid #ffd183;
  padding: 5px 10px;
  white-space: nowrap;
  border-radius: 2px;
}
.order-pay .order-item {
  padding-top: 30px;
  line-height: 30px;
}
.order-pay .order-item-clear {
  border-bottom: 1px solid #E5E5E5;
}
.order-item .order-item-title {
  padding-left: 20px;
  height: 48px;
}
.order-item-title .order-item-title-icon {
  background-repeat: no-repeat;
  background-position: -4px -9px;
  display: inline-block;
  width: 29px;
  height: 29px;
  float: left;
}
.order-item-title .title {
  font-size: 18px;
  font-weight: normal;
  margin-left: 20px;
  float: left;
  margin-top: 2px;
  line-height: 1.2em;
}
.order-item-title .add-coun {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
  background-color: #fff8ed;
  border: 1px solid #ffb841;
  color: #ff7e00;
  padding: 5px 7px;
  line-height: 15px;
  border-radius: 3px;
  margin-left: 10px;
  float: left;
}
.order-item-title .cancel {
  margin-left: 20px;
  float: left;
  text-decoration: none;
  color: #1071b5;
  cursor: pointer;
}
.order-item .price_r {
  float: right;
  margin-top: 4px;
  line-height: 19px;
  position: relative;
}
.order-item .price_txt {
  margin-right: 11px;
  margin-top: 4px;
  line-height: 19px;
}
.order-item .price_r_mark {
  font-size: 27px;
  float: left;
  margin-right: 5px;
  margin-top: -3px;
}
.order-item .price_r_num {
  font-size: 19px;
  float: left;
  margin-top: -4px;
  line-height: 26px;
}
.order-item .pricehead {
  float: left;
  font-size: 15px;
}
.order-item .coupon-detail {
  padding: 0px 56px 17px 56px;
  font-size: 14px;
  margin-left: 15px;
}
.order-detail {
  width: auto;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  min-height: 188px;
  padding: 20px;
}
.order-price {
  font-size: 24px;
}
.order-count {
  padding: 20px 0 40px 0;
}
.order-item {
  padding: 0 5px;
}
.order-panel {
  padding: 20px 20px 40px 20px;
}
.course-text {
  display: block;
  font-size: 14px;
  margin: 6px 0;
}
.coin-block {
  padding: 40px 0 25px 0;
}
.coin-text {
  float: left;
}
.coin-text img {
  margin: 0 10px 14px 0;
}
.coin-text strong {
  font-size: 30px;
  color: #ff5d42;
}
.coin-btn {
  float: left;
  margin: 4px 0 0 55px;
}
.table.order-table > tbody > tr > td,
.table.order-table > tbody > tr > th {
  padding: 10px;
  line-height: 22px;
}
.order-item .order-item-detail {
  padding: 0px 56px 17px 56px;
}
.order-item .coin-detail {
  margin-left: 15px;
  font-size: 14px;
}
.order-item .total-price {
  float: right;
  text-align: right;
  margin-bottom: 30px;
}
.order-item .total-price .pay-rmb {
  color: #f60;
  font-size: 24px;
  font-weight: bold;
}
.coin-detail input {
  height: 27px;
  line-height: 27px;
  border: 1px solid #b5b5b5;
  font-size: 18px;
  margin: 0 15px;
  width: 64px;
  text-align: center;
}
.coin-detail span {
  color: #ff7e00;
}
.order-pay .pay {
  margin-top: 20px;
}
.order-item-detail .pay-password {
  margin-left: 15px;
  font-size: 12px;
  padding-top: 10px;
}
.order-pay .buy-vip-num {
  float: right;
  margin-right: 15px;
  margin-top: 4px;
  line-height: 19px;
  position: relative;
}
