	<div class="panel-body">
		<ul class="lesson-list sortable-list" id="course-item-list" data-sort-url="{{ path('course_manage_lesson_sort', {id:course.id}) }}">

			{% for id, item in items %}
			  {% if 'chapter' in id %}
			    {% include 'TopxiaWebBundle:CourseChapterManage:list-item.html.twig' with {chapter: item} %}
			  {% elseif 'lesson' in id %}
			    {% include 'TopxiaWebBundle:CourseLessonManage:list-item.html.twig' with {lesson: item} %}
			  {% endif %}
			{% endfor %}
			
		</ul>
	</div>