<!DOCTYPE html>
<html>
<head>
	<title>{{ lesson.title }}</title>
	{% if setting('site.favicon') %}
	<link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
	{% endif %}
	{% include 'TopxiaWebBundle:Default:stylesheet.html.twig' %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	{% set script_controller = 'live-course/classroom' %}

	<div id="classroom-url" data-url="{{path('live_classroom_url',{lessonId:lesson.id, courseId:courseId})}}" class="well well-lg text-center text-success">正在进入直播，请稍后...</div>

	{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}

</body>
</html>