<!DOCTYPE html>
<html>
<head>
<title>{{ lesson.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<iframe src="{{ url }}" style="position:absolute; left:0; top:0; height:100%; width:100%; border:0px;" scrolling="no" ></iframe>
</body>
</html>