.download-middle-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('@{img-src}task/app-middle-page-background');
    background-size: contain;
    background-repeat: no-repeat;
   }
   .middle-page-top{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 70%;
    color: #00BE63;
    text-align: center;
    line-height: 50px;
   }
   .middle-page-top h1{
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 47px;
   }
   .middle-page-top p{
    margin: 0;
   }
   .middle-page-footer{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
   }
   .middle-page-footer .middle-open-app{
    width: 140px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #00BE63; 
    color: #00BE63;
    border-radius: 8px;
   }
   .middle-page-footer .middle-download-app{
    width: 140px;
    height: 48px;
    background-color: #00BE63;      
    border: none;
    color: #fff;
    border-radius: 8px;
   }