{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_crontab' %}

{% block main %}

  <div class="empty">Windows 系统不可在此页面配置，请参考<a href="http://edusoho.pages.codeages.net/edusoho-develop-guide/biz-framework/scheduler.html#windows" target="__blank">此地址</a>在您的 EduSoho 服务器上进行配置。</div>

{% endblock %}