{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_crontab' %}

{% set script_controller='crontab/index' %}

{% block main %}
  <table id="crontab-table" class="table table-striped table-hover">
    <thead>
    <tr>
      <th>{{'命令'}}</th>
      <th>{{'状态'}}</th>
    </tr>
    </thead>
    <tbody>
    {% for crontabJob in crontabJobs %}
      <tr>

        <td>
          {{ crontabJob.formatCrontabLine() }}
        </td>

        <td>
          {% if crontabJob.enabled %}
            启用
          {% else %}
            禁用
          {% endif %}
        </td>

      </tr>
    {% endfor %}
    </tbody>

  </table>
  <div class="empty"><a href="javascript:" class="js-restore-btn" data-url="{{ path('admin_crontab_resotre') }}">点击重新初始化</a></div>

{% endblock %}