<div class="bar-user-center">
  <a href="{{ path('user_show',{id:app.user.id}) }}" ><img class="avatar-md" src="{{ filepath(app.user.largeAvatar, 'avatar.png') }}"></a>
  <p>{{ app.user.nickname }}</p>
</div>