/* =========================== main-color =========================== */
/* =========================== media =========================== */
.img-full {
  display: block;
  height: auto;
  width: 100%;
}
.es-box-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
  background: #773cec;
}
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
  background: #773cec;
}
a {
  color: #773cec;
}
a:focus,
a:hover {
  color: #5916df;
}
.nav > li.nav-more .open > a,
.nav > li.nav-more .open.active > a,
.nav > li.nav-more .open > a:hover,
.nav > li.nav-more .open > a:focus {
  background: #773cec !important;
}
.es-header .nav.user-nav > li .dropdown-menu > li > a:hover .num {
  color: #773cec;
}
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle {
  color: #fff;
  background: #773cec;
  border-color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle:hover,
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  -moz-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
}
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle:active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #6725ea;
  background: #6725ea;
}
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle:hover,
.es-nav-white .es-header .nav.user-nav .user-manage-li .user-manage-toggle:focus {
  background-color: #773cec !important;
  border-color: #773cec !important;
}
.inform-dropdown-head__tab:focus,
.inform-dropdown-head__tab:hover,
.inform-dropdown-head__tab.active {
  color: #773cec;
}
.float-consult .btn-consult-default {
  background: #773cec;
  border-color: #662bdb;
}
.float-consult .btn-consult-default:hover {
  background: #662bdb;
  border-color: #551aca;
}
.bg-primary {
  background-color: #773cec !important;
}
.bg-primary-hover:hover {
  background-color: #773cec !important;
}
.color-primary {
  color: #773cec !important;
}
.link-darker:hover {
  color: #773cec !important;
}
.link-dark:hover {
  color: #773cec !important;
}
.link-gray:hover {
  color: #773cec !important;
}
.link-light:hover {
  color: #773cec !important;
}
.link-lighter:hover {
  color: #773cec !important;
}
.link-medium:hover {
  color: #773cec !important;
}
.link-white:hover {
  color: #773cec !important;
}
.link-primary {
  color: #773cec !important;
}
.link-primary:hover {
  color: #5916df !important;
}
.badge-primary {
  background-color: #773cec;
}
.breadcrumb a:hover {
  color: #773cec;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray.focus {
  color: #773cec;
}
.btn-graylight:hover,
.btn-graylight:focus,
.btn-graylight.focus {
  color: #773cec;
}
.btn-primary {
  border-color: #5916df;
  background-color: #773cec;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background: #5d17e8;
}
.btn-circle:hover {
  color: #773cec;
  border-color: #773cec;
}
.btn-circle.active {
  background: #773cec;
  border-color: #773cec;
}
.btn-circle.primary {
  color: #fff;
  border-color: #773cec;
  background: #773cec;
}
.btn-ghost:hover {
  color: #773cec;
}
.btn-transparent {
  border-color: #773cec;
  color: #773cec;
}
.btn-transparent:after {
  background-color: #773cec;
}
.btn-tag {
  color: #773cec;
  background-color: #e8dffc;
}
.btn-tag.active,
.btn-tag:hover {
  background-color: #773cec;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #773cec;
}
.color-lump.lump-card.done {
  border: 1px solid #773cec;
  background-color: #773cec;
}
.color-lump.lump-card.doing {
  background-color: #773cec;
}
.dropdown-menu > li > a:hover {
  background: #773cec;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #773cec;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #773cec;
}
.es-tabs .tab-body > ul > li > a:hover {
  color: #773cec;
}
.es-tabs .tab-body > ul > li.active > a {
  color: #773cec;
}
.es-tag {
  border-left: 2px solid #773cec;
}
.label.label-primary {
  background-color: #773cec;
}
.sidenav .list-group .list-group-item.active {
  border-left: 2px solid #773cec;
}
.sidenav .list-group .list-group-item.active > a {
  color: #773cec;
}
.media-comment .reply-link:hover,
.media-subcomment .reply-link:hover {
  color: #773cec;
}
.media-comment .comment-sns:hover,
.media-subcomment .comment-sns:hover {
  color: #773cec;
}
.nav-pills > li.active > a {
  background: #773cec;
}
.nav-pills > li.active > a:hover {
  background: #773cec;
}
.nav-pills.nav-pills-gray > li.active > a {
  background: #773cec;
}
.nav-pills.nav-pills-transparent > li > a:after {
  border-bottom-color: #773cec;
}
.nav-pills.nav-pills-transparent > li:hover > a,
.nav-pills.nav-pills-transparent > li.active > a {
  background: transparent;
  border-color: #773cec;
  color: #773cec;
}
.nav.nav-tabs .highlight {
  border-bottom: 2px solid #773cec;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  color: #773cec;
}
.nav.nav-tabs > li.active > a small,
.nav.nav-tabs > li:hover > a small {
  color: #773cec;
}
.nav.nav-tabs > li.active > a .badge,
.nav.nav-tabs > li:hover > a .badge {
  background-color: #773cec;
}
.panel-primary > .panel-heading {
  background-color: #773cec;
}
.tabs-wrapper .tabs-mark-group .classify a:hover,
.tabs-wrapper .tabs-mark-group .classify a:focus {
  color: #773cec;
}
.tabs-wrapper .tabs-mark:hover a,
.tabs-wrapper .tabs-mark:focus a,
.tabs-wrapper .tabs-mark.active a {
  color: #773cec;
  border: 1px solid #773cec;
}
.tabs-wrapper .tabs-group .content > li:hover > a,
.tabs-wrapper .tabs-group .content > li:focus > a,
.tabs-wrapper .tabs-group .content > li.active > a {
  color: #773cec;
}
.progress-bar {
  background-color: #773cec;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #773cec;
  border-color: #5916df;
}
.form-control:focus {
  border-color: #773cec;
}
.es-piece .piece-header:after {
  background-color: #773cec;
}
.cd-text-gray-light {
  color: rgba(0, 0, 0, 0.32);
}
.cd-text-gray {
  color: rgba(0, 0, 0, 0.56);
}
.cd-text-gray-dark {
  color: rgba(0, 0, 0, 0.88);
}
.cd-text-white {
  color: #fff;
}
.cd-text-info {
  color: #278bf5;
}
.cd-text-danger {
  color: #ed3e3e;
}
.cd-text-success {
  color: #43bc60;
}
.cd-text-warning {
  color: #ffa51f;
}
.cd-text-xs {
  font-size: 12px !important;
}
.cd-text-sm {
  font-size: 14px !important;
}
@media (max-width: 1199px) {
  .cd-text-sm {
    font-size: 12px !important;
  }
}
.cd-text-md {
  font-size: 18px !important;
}
@media (max-width: 1199px) {
  .cd-text-md {
    font-size: 14px !important;
  }
}
.cd-text-lg {
  font-size: 24px !important;
}
@media (max-width: 1199px) {
  .cd-text-lg {
    font-size: 18px !important;
  }
}
.cd-text-xlg {
  font-size: 32px !important;
}
@media (max-width: 1199px) {
  .cd-text-xlg {
    font-size: 24px !important;
  }
}
.cd-line-height-sm {
  line-height: 20px !important;
}
.cd-text-medium {
  font-weight: 500 !important;
}
.cd-link-dark {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-dark:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-white {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-white:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-light {
  color: rgba(0, 0, 0, 0.32);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-light:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray {
  color: rgba(0, 0, 0, 0.56);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-dark {
  color: rgba(0, 0, 0, 0.88);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-dark:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-primary {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-primary:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #6725ea;
}
.cd-ml24 {
  margin-left: 24px !important;
}
.cd-mr24 {
  margin-right: 24px !important;
}
.cd-ml16 {
  margin-left: 16px !important;
}
.cd-mt16 {
  margin-top: 16px !important;
}
.cd-mb16 {
  margin-bottom: 16px !important;
}
.cd-mb24 {
  margin-bottom: 24px !important;
}
.cd-mb32 {
  margin-bottom: 32px !important;
}
.cd-mt24 {
  margin-top: 24px !important;
}
.cd-mt32 {
  margin-top: 32px !important;
}
.cd-mt40 {
  margin-top: 40px !important;
}
.cd-mb40 {
  margin-bottom: 40px !important;
}
.cd-mb8 {
  margin-bottom: 8px !important;
}
.cd-mv8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.cd-mv16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.cd-pt16 {
  padding-top: 16px !important;
}
.cd-pb24 {
  padding-bottom: 24px !important;
}
.cd-pv16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.cd-pv24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.cd-pl32 {
  padding-left: 32px !important;
}
.btn.cd-btn.cd-btn-ghost-primary {
  border-color: #773cec;
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn.cd-btn.cd-btn-ghost-primary:hover,
.btn.cd-btn.cd-btn-ghost-primary:focus {
  color: #fff;
  background: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  -moz-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
}
.btn.cd-btn.cd-btn-ghost-primary:active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #6725ea;
  background: #6725ea;
}
.btn.cd-btn.cd-btn-flat-primary {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn.cd-btn.cd-btn-flat-primary:hover,
.btn.cd-btn.cd-btn-flat-primary:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(119, 60, 236, 0.1);
}
.btn.cd-btn.cd-btn-flat-primary:active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(119, 60, 236, 0.2);
}
.btn.cd-btn.cd-btn-primary {
  color: #fff;
  background: #773cec;
  border-color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn.cd-btn.cd-btn-primary:hover,
.btn.cd-btn.cd-btn-primary:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  -moz-box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
  box-shadow: 0 6px 6px 0 rgba(119, 60, 236, 0.3);
}
.btn.cd-btn.cd-btn-primary:active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #6725ea;
  background: #6725ea;
}
.cd-radio.checked:before {
  border-color: #773cec;
}
.cd-radio.checked:after {
  background: #773cec;
}
.cd-tabs .table-sort > i.active {
  color: #773cec;
}
.cd-tabs > li.active > a {
  border-color: #773cec;
}
.cd-design .pagination > li > a:hover {
  border-color: #773cec;
  color: #773cec;
}
.cd-design .pagination > .active > a,
.cd-design .pagination > .active > a:hover,
.cd-design .pagination > .active > a:focus {
  background-color: #773cec;
  border-color: #773cec;
}
.table.cd-table .table-sort i.active {
  color: #773cec;
}
.cd-steps .cd-steps-item.done .step-number,
.cd-steps .cd-steps-item.doing .step-number {
  color: #773cec;
  border-color: #773cec;
}
.cd-steps .cd-steps-item.done .step-icon,
.cd-steps .cd-steps-item.doing .step-icon {
  background-color: #773cec;
}
.cd-loading .loading-content > div {
  background-color: #773cec;
}
.cd-link-primary {
  color: #773cec;
}
.cd-link-primary:hover {
  color: #5916df;
}
.cd-link-white {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-white:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-light {
  color: rgba(0, 0, 0, 0.32);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-light:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray {
  color: rgba(0, 0, 0, 0.56);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-dark {
  color: rgba(0, 0, 0, 0.88);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-link-gray-dark:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cd-sidebar__list .cd-sidebar__item.active > a {
  border-left: 4px solid #773cec;
}
.course-list .course-date .btn-circle.btn-live {
  background: #773cec;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #773cec;
}
.bar-menu-top .bar-user.active .badge,
.bar-menu-top .bar-user:hover .badge {
  color: #773cec;
}
.bar-message .notification-body a:hover {
  color: #773cec;
}
.bar-task .bar-task-header {
  background-color: #773cec;
}
.bar-task .bar-time-line > li:before {
  background-color: #773cec;
}
.bar-task .bar-time-line > li .es-icon {
  color: #773cec;
}
.bar-history ul > li .icon {
  background-color: #773cec;
}
.es-filter .nav-sort > li > a:hover {
  color: #773cec;
}
.es-filter .nav-sort > li > a.active {
  background-color: #773cec;
}
.es-filter .btn-group.open .dropdown-toggle {
  color: #773cec;
}
.es-filter .filter .btn:hover {
  color: #773cec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.es-filter .filter label:hover {
  color: #773cec;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #773cec;
}
.note-list .note-item .metas > .name:hover {
  color: #773cec;
}
.note-list .note-item .metas > .period {
  color: #773cec;
}
.note-list .note-item .metas .metas-sns > span > a:hover {
  color: #773cec;
}
.task-list.task-show .task-item:hover.task-content .title,
.task-list.task-show .task-item.active.task-content .title,
.task-list.task-show .task-item:hover.task-content .left-menu,
.task-list.task-show .task-item.active.task-content .left-menu {
  color: #773cec;
}
.topic-list .topic-item .title a:hover {
  color: #773cec;
}
.topic-list .topic-item .metas > .name:hover {
  color: #773cec;
}
.topic-list .topic-item .metas > .period {
  color: #773cec;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop-active {
  border-color: #773cec !important;
}
.select2-results .select2-highlighted {
  background: #773cec !important;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #773cec !important;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #773cec !important;
}
.noUi-horizontal .noUi-handle {
  border: 2px solid #773cec;
}
.noUi-horizontal .noUi-tooltip {
  color: #773cec;
}
.noUi-connect {
  background-color: #773cec;
}
.course-progress .cricle-progress .percent .num {
  color: #773cec;
}
.orderlearn-poster span.swiper-active-switch {
  background-color: #773cec;
}
.course-detail-section-responsive ul > li:hover {
  color: #773cec;
}
.course-detail-section-responsive ul > li:hover a {
  color: #773cec;
}
.belongs-class .media-body > a:hover {
  color: #773cec;
}
.download-activity-list > li > a:hover {
  color: #773cec;
}
.download-activity-list > li > a:hover .download-icon {
  color: #773cec;
}
.task-dashboard-page .dashboard-content .dashboard-header .back-link:hover {
  color: #773cec;
}
.task-dashboard-page .dashboard-toolbar .dashboard-toolbar-nav > li.active > a,
.task-dashboard-page .dashboard-toolbar .dashboard-toolbar-nav > li:hover > a {
  background-color: #773cec;
}
.testpaper-timer .btn-pause {
  background-color: #773cec;
}
.task-create-editor .task-create-type-list .task-create-type-item:hover > a {
  border: 3px solid #773cec;
}
.task-create-editor .task-create-type-list .task-create-type-item.active > a {
  background: #773cec;
  border: 3px solid #773cec;
}
.download-list li:hover > .btn-delete:hover {
  color: #773cec;
}
.chooser-list .table-striped > tbody > tr.active > td,
.chooser-list .table-striped > tbody > tr:hover > td {
  color: #773cec;
}
.panel-create-course .course-piece:after {
  background-color: #773cec;
}
.panel-create-course .course-select:hover {
  border: 2px solid #773cec;
}
.panel-create-course .course-select.active {
  background-color: #773cec;
}
.article-sns a.love:hover,
.article-sns .es-share > a:hover {
  color: #773cec;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #773cec;
}
.class-header.before .bottom-metas .btn-buy .btn-link:hover {
  color: #773cec;
}
.class-header.after .class-data > li > a:hover {
  color: #773cec;
}
.class-course-list .course-item .media .course-show:hover {
  color: #773cec;
}
.topic-detail .topic-header .title > a:hover {
  color: #773cec;
}
.topic-detail .topic-header .metas > a:hover {
  color: #773cec;
}
.topic-detail .topic-num .num-more i:hover {
  color: #773cec;
}
.class-signin .btn-signin {
  background-color: #773cec;
}
.es-poster .swiper-slide .subtitle {
  color: #773cec;
}
.introduction-section {
  background-color: #773cec;
}
.live-course-body .es-live-back ul li .dat {
  background: #773cec;
}
.live-course-body .es-live-back ul li a:hover {
  color: #773cec;
}
.live-course-body .es-live-all .media-body .user a:hover {
  color: #773cec;
}
.social-login .social-icon.social-more:hover {
  background: #773cec;
  border-color: #773cec;
}
.es-materials-manage .nav-tabs > li > a:hover {
  color: #773cec;
}
.es-materials-manage .nav-tabs > li.active > a {
  color: #773cec;
}
.es-materillib-table a:hover {
  color: #773cec;
}
.material-search-list.material-tabs .right-content li.active a,
.material-search-list.material-tabs .right-content li:hover a {
  color: #773cec;
}
.materials-modal-body .nav.nav-tabs > li.active > a,
.materials-modal-body .nav.nav-tabs > li:hover > a {
  border-bottom: 1px solid #773cec;
}
.es-mobile .step .member {
  background: #773cec;
  box-shadow: 0 6px 20px rgba(119, 60, 236, 0.4);
}
.notification-list .notification-list__media.active {
  background-color: rgba(119, 60, 236, 0.08);
}
.open-course-panel .panel-heading:before {
  background: #773cec;
}
.open-course-tab .tab-recommand .open-course-info .title:hover {
  color: #773cec;
}
.open-course-tab .tab-live a:hover,
.open-course-tab .tab-live a:active,
.open-course-tab .tab-live a.active {
  background-color: #773cec;
}
.open-course-mobile-tab ul .tab-header.active {
  border-bottom: 2px solid #773cec;
  color: #773cec;
}
.marker-manage .nav.nav-pills.nav-pills-difficulty > li.active > a {
  background-color: #773cec;
}
.marker-manage .lesson-list .item-lesson .btn-preview:hover {
  color: #773cec;
}
.marker-manage .lesson-list .more-questions a:hover {
  color: #773cec;
}
.marker-manage-content .manage-player-body .manage-player-header .title-link:hover {
  color: #773cec;
}
.marker-manage-content .editbox .scalebox .lesson-list .item-lesson:hover {
  background-color: #773cec;
}
.marker-manage-content .editbox .scalebox .lesson-list .placeholder:after {
  border-color: transparent transparent transparent #773cec;
}
.track-select-parent .track-select-show.active {
  border-color: #773cec;
}
.section-wxpay .text-qrcode {
  background: #773cec;
}
.c-reward-point-product-detail__point span {
  color: #773cec;
}
.c-reward-point-product-detail-info:before {
  background-color: #773cec;
}
.c-reward-point-item__point span {
  color: #773cec;
}
.order-pay-type.active {
  border-color: #773cec;
}
