{% set props = status.properties %}

{% if mode == 'simple' %}
  收藏了课程 <a class="link-dark" href="{{ path('course_show', {id: props.course.id}) }}" title="来自《{{ props.course.title }}》">{{ props.course.title|sub_text(15)}}</a>
{% elseif mode == 'full' %}

{% endif %}