{% extends 'TwigBundle:Exception:layout.html.twig' %}
{% block title %}出错啦 - {{ parent() }}{% endblock %}

{% block body %}
	<div class="container">
		<div class="content">
			<h1>哇哦，有状况发生啦！</h1>
			<div class="message">服务器返回了"{{ status_code }} {{ status_text }}"。
				看起来是像出了点状况，请把该信息报告给管理员。我们会立即修复这个问题。真的非常抱歉！</div>
			<div class="actions">
				<a href="{{ path('homepage', {ref:500}) }}">返回首页</a>
			</div>
		</div>
	</div>
{% endblock %}