{% extends 'TwigBundle:Exception:layout.html.twig' %}
{% block title %}页面找不到 - {{ parent() }}{% endblock %}

{% block body %}
  <div class="container">
    <div class="panel panel-default error-panel">
      <div class="panel-heading">
        <span class="error-title">404</span>该内容不存在或已被删除！
      </div>
      <div class="panel-body">
        <div class="well">
          <p>该内容似乎已经被删除，或者已被网校遗忘。</p>
          <p>请确认您的来源链接是否正确？
            课程、{{setting("classroom.name")|default('班级')}}是否存在？</p>
          <p><a href="{{ path('homepage', {ref:404}) }}">返回首页 ></a></p>
          <span class="error-404-icon hidden-xs"></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}