<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>网站正在升级中，请稍后访问！</title>
</head>
<style>
  body{
    background: #f5f8fa;
  }
  .container{
    width: 90%;
    margin: 50px auto 0;
    padding: 50px;
    background: #fff;
    border: 1px solid #e4ecf3;
    text-align: center;
    color: #616161;
    font-size: 22px;
  }
  .error-title{
    font-family: "Phosphate";
    font-size: 200px;
    text-transform: uppercase;
    color: #9a9a9a;
    margin-right: 30px;
  }
</style>
  <body>
    <div class="container">
      <span class="error-title">403</span>网站正在升级中，请稍后访问！
    </div>
  </body>
</html>