<div class="material-btn-group mbm all mtm">
  <button class="btn btn-info js-batch-download" type="button" disabled>{{ 'course.activity.download'|trans }}</button>
  <button class="btn btn-info js-batch-tag-btn" type="button" disabled data-role="batch-tag">{{ 'admin.cloud_file.add_tag'|trans }}</button>
  <button class="btn btn-danger js-batch-delete-btn" type="button" disabled data-role="batch-dalete" data-url="{{ path('admin_v2_cloud_file_delete_modal_show') }}" >{{ 'admin.cloud_file.delete_btn'|trans }}</button>
</div>
