{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set siteNav = 'course/explore' %}
{% set script_controller = 'open-course/open-course-explore' %}

{% block title %}{{ parent() }}{% endblock %}
{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        公开课列表
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="open-course-list" data-url="{{ path('open_course_explore_list') }}"></div>
{% endblock %}
