<div class="watermarkEmbedded" ></div>
<div id="lesson-preview-iframe" class="lesson-content" style="display:none;height:100%;"></div>
<div id="lesson-preview-player" class="lesson-content" style="display:none;height:100%;"
  data-balloon-player="1"
  {% if setting('storage.video_watermark') and setting('storage.video_watermark_image') %}
    data-watermark="{{ file_url(setting('storage.video_watermark_image'), null, true) }}"
  {% endif %}
  {% if setting('storage.video_fingerprint') and app.user %}
    data-fingerprint="{{ url('cloud_video_fingerprint', {userId:app.user.id}) }}"
  {% endif %}
></div>
<div id="lesson-preview-swf-player" class="lesson-content" style="display:none;height:100%;"></div>

<input type="hidden" id="firstLesson" data-url="{{ path('open_course_lesson',{courseId:lesson.courseId,lessonId:lesson.id}) }}">
