{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'open-course/open-course' %}

{% block full_content %}
  {% block top_content %}{% endblock %}
  
  <div class="container">
    {% block content %}
      <ol class="breadcrumb breadcrumb-o">
        <li><a href="">首页</a></li>
        <li><a href="">公开课</a></li>
        <li>edusoho运营指南</li>
      </ol>
      <div class="row" style="margin:0">
        <!-- <div class="col-md-9 open-course-views">
          <img class="img-responsive" src="/assets/img/default/open-course-bg.jpg" alt="">
          <div class="mask">
            <div class="mask-content">
              <button class="btn btn-warning btn-lg mask-btn" style="margin-top:60px;">
                开始播放<i class="es-icon es-icon-playcircleoutline"></i>
              </button>
            </div>
          </div>
        </div> --> 
        <div class="col-md-9 open-course-views">
          <img class="img-responsive" src="/assets/img/default/open-course-bg.jpg" alt="">
          <div class="mask">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">课时学习完成</h4>
                </div>
                <div class="modal-body clearfix">
                  <div class="modal-img">
                    <img class="img-responsive" src="/assets/img/default/course.png" alt="">
                    edusoho运营指南
                  </div>
                  <div class="modal-img">
                    <img class="img-responsive" src="/assets/img/default/course.png" alt="">
                    edusoho运营指南
                  </div>
                  <div class="modal-img">
                    <img  class="img-responsive" src="/assets/img/default/course.png" alt="">
                    edusoho运营指南
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="es-share top">
                    <a href="" class="btn-link color-gray prl"><i class="es-icon es-icon-refresh prs"></i>重播</a>
                    <a href="" class="btn btn-md share-btn dropdown-toggle" data-toggle="dropdown">
                      <i class="es-icon es-icon-share prs"></i>分享</a>
                       <div class="dropdown-menu  js-social-share-params" data-title="在线学习平台在线学习平台在线学习平台" data-summary="" data-message="我正在学习《在线学习平台在线学习平台在线学习平台》，收获巨大哦，一起来学习吧！" data-url="http://try6.edusoho.cn/course/396" data-picture="/files/default/2015/10-14/2250317a2750604169.png?6.15.8">
                      <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A%2F%2Ftry6.edusoho.cn%2Fcourse%2F396"><i class="es-icon es-icon-weixin"></i></a>
                      <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>
                      <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq"><i class="es-icon es-icon-qq"></i></a>
                      <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>
                      </div>
                    <a href="" class="btn btn-md next-btn">
                      <i class="es-icon es-icon-arrowforward prs"></i>下一课
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- <div class="col-md-9 open-course-views">
          <img class="img-responsive" src="/assets/img/default/open-course-bg.jpg" alt="">
          <div class="mask">
            <div class="mask-content">
              <h2>直播将于<span class="phm">2月22日 19:30</span>开始</h2>
              <button id="alert-btn" class="btn btn-info btn-lg mask-btn" >
              提醒我参加<i class="es-icon es-icon-alarmon"></i>
              </button>
              <button id="alerted-btn" class="btn btn-info btn-lg mask-btn active" style="display:none;">
              已设置提醒<i class="es-icon es-icon-alarmon"></i>
              </button>
              <div class="color-gray mtl">已有8735人设置了提醒</div>
            </div>
          </div>
        </div> -->
        <div class="col-md-3 open-course-tab">
          <ul class="clearfix">
            <li class="tab-header active"><i class="es-icon es-icon-staroutline prm"></i>推荐课程</li>
            <li class="tab-header"><i class="es-icon es-icon-videocam prm"></i>直播列表</li>
          </ul>
          <div id="content">
            <ul id="recommand-tab">
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库教学资料库课教学资料库课课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
            </ul>
            <ul id="live-tab" style="display:none">
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="open-course-detail row">
        <div class="col-md-12">
          <div class="es-section open-course-header clearfix">
          <div class="course-img">
            <img class="img-responsive" src="/assets/img/default/course.png?6.15.7" alt="测试直播api">
          </div>
          <div class="course-info">
            <h2 class="title">
              edusoho网校运营指南
            </h2>
            <div class="matas">
              <span><i class="es-icon es-icon-removeredeye mrm"></i>2231</span>
              <span><i class="es-icon es-icon-textsms mrm"></i>55</span>
            </div>
          </div>
          <div class="course-operation">
            <ul class="clearfix">
              <li id="zan-btn" data-url="" style="display: none;">
                <a href="javascript:;"><i class="es-icon es-icon-thumbup active operation-icon"></i></a>
                已点赞
                <div class="gray-darker">523</div>
              </li>
              <li id="unzan-btn" data-url="" style="display: list-item;">
                <a href="javascript:;"><i class="es-icon es-icon-thumbup operation-icon"></i></a>
                点赞
                <div class="gray-darker">523</div>
              </li>
              <li>
                <div class="es-share top">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="es-icon es-icon-share operation-icon"></i></a>
                  分享
                  <div class="gray-darker">523</div>
                  <div class="dropdown-menu  js-social-share-params" data-title="在线学习平台在线学习平台在线学习平台" data-summary="" data-message="我正在学习《在线学习平台在线学习平台在线学习平台》，收获巨大哦，一起来学习吧！" data-url="http://try6.edusoho.cn/course/396" data-picture="/files/default/2015/10-14/2250317a2750604169.png?6.15.8">
                  <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A%2F%2Ftry6.edusoho.cn%2Fcourse%2F396"><i class="es-icon es-icon-weixin"></i></a>
                  <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>
                  <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq"><i class="es-icon es-icon-qq"></i></a>
                  <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>
                  </div>
                </div>
              </li>
              <li id="favorite-btn" data-url="" style="display: none;">
                <a href="javascript:;"><i class="es-icon es-icon-bookmark operation-icon"></i></a>
                已收藏
                <div class="gray-darker">523</div>
              </li>
              <li id="unfavorite-btn" data-url="" style="display: list-item;">
                <a href="javascript:;"><i class="es-icon es-icon-bookmarkoutline operation-icon"></i></a>
                收藏
                <div class="gray-darker">523</div>
              </li>
              <li>
                <i class="es-icon es-icon-phone1 operation-icon"></i>
                  二维码
                <a class="qrcode-popover top" href="">
                  <div class="gray-darker">点击查看</div>
                  <div class="qrcode-content">
                   <img src="/assets/img/default/weixin.png?6.15.8" alt="">  
                  </div>
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="es-section gray-darker">
            移动互联网来了，所有的法则失效了，所有的一切都将推倒重来。<br/>
            你的商业模式是否能够延续强大的竞争优势？你的产品是否能够适应当下的消费者需求？你的客户群是否还是停留在过去的买卖关系？你的用户是否已经开始迁移？下一个崛起的会是你吗？<br/>
            这一切都需要重新构建企业经营思路 ，全方位多视角为你阐述移动互联网时代的商业法则。<br/>
            全球经济趋势正发生改变，我们的企业家通过学习与实践已经作好准备，蓄势待发，你准备好了吗？
            <img src="/assets/img/default/course.png" alt="" class="course-img">
          </div>
          <div class="es-section">
            <div class="gray-darker pbl">评论(1231)</div>
            <form id="review-form" method="post" action="/course/396/review/create" style="" novalidate="novalidate" data-widget-cid="widget-1">
              <div class="form-group controls">
                请打分： <span data-rating="5" data-img-path="/assets/img/raty" class="rating-btn" style="cursor: pointer; width: 100px;"><img src="/assets/img/raty/star-on.png" alt="1" title="很差">&nbsp;<img src="/assets/img/raty/star-off.png" alt="2" title="较差">&nbsp;<img src="/assets/img/raty/star-off.png" alt="3" title="还行">&nbsp;<img src="/assets/img/raty/star-off.png" alt="4" title="推荐">&nbsp;<img src="/assets/img/raty/star-off.png" alt="5" title="力荐"><input type="hidden" name="score" value="5"></span>
                <input type="hidden" name="rating" value="5" data-widget-cid="widget-2" data-explain="">
                <div class="help-block" style="display:none;"></div>
              </div>
              <div class="form-group controls">
                <textarea class="form-control" rows="8" data-display="评价详细内容" name="content" data-widget-cid="widget-3" data-explain="" placeholder="发表评论"></textarea>
                <div class="help-block" style="display:none;"></div>
              </div>
              <div class="form-group clearfix">
                <span class="text-success pull-left" style="display: none;">评价已保存！</span>
                <button type="submit" class="btn btn-primary pull-right" data-loading-text="正在保存..." autocomplete="off">保存</button>
                <button class="btn btn-link pull-right js-hide-review-form" type="button" style="">取消</button>
              </div>
              <input type="hidden" name="_csrf_token" value="58acf2f79d53878448cbae83dcf3aa6e84f30dd1">
            </form>
            <div class="js-reviews">
              <div class="media media-evaluate">
                <div class="media-left">
                  <a class=" js-user-card" href="" data-card-url="" data-user-id="">
                    <img class="avatar-sm" src="/assets/img/default/course.png">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">    
                    <a class="link-dark " href="">无名</a>
                    2016-02-16
                  </div>
                  <div class="score">
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star"></i>
                  </div>
                  <div class="content">
                    <div class="short-content">123</div>
                    <div class="full-content" style="display:none;">123</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="show-full-btn">[展开全文]</a>
                    <a href="javascript:;" class="show-short-btn" style="display:none;">[收起全文]</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="js-reviews">
              <div class="media media-evaluate">
                <div class="media-left">
                  <a class=" js-user-card" href="" data-card-url="" data-user-id="">
                    <img class="avatar-sm" src="/assets/img/default/course.png">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">    
                    <a class="link-dark " href="">无名</a>
                    2016-02-16
                  </div>
                  <div class="score">
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star"></i>
                  </div>
                  <div class="content">
                    <div class="short-content">123</div>
                    <div class="full-content" style="display:none;">123</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="show-full-btn">[展开全文]</a>
                    <a href="javascript:;" class="show-short-btn" style="display:none;">[收起全文]</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="js-reviews">
              <div class="media media-evaluate">
                <div class="media-left">
                  <a class=" js-user-card" href="" data-card-url="" data-user-id="">
                    <img class="avatar-sm" src="/assets/img/default/course.png">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">    
                    <a class="link-dark " href="">无名</a>
                    2016-02-16
                  </div>
                  <div class="score">
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star"></i>
                  </div>
                  <div class="content">
                    <div class="short-content">123</div>
                    <div class="full-content" style="display:none;">123</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="show-full-btn">[展开全文]</a>
                    <a href="javascript:;" class="show-short-btn" style="display:none;">[收起全文]</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {{ render(controller('TopxiaWebBundle:OpenCourse:teachers',{courseId:course.id})) }}
    {% endblock %}
  </div>
  
  {% block bottom_content %}{% endblock %}
{% endblock %}
    