
{% do load_script('open-course/open-course-header') %}
{% if course.type == 'open' %}
    <div class="col-md-9 open-course-views" data-get-recommend-course-url="{{ path('open_course_ad_modal_recommend_course', {id: course.id, num: 3}) }}">
      
      {% include 'TopxiaWebBundle:OpenCourse:lesson-play.html.twig' %}
      
      <div class="mask modal fade" id="open-course-ad-modal" tabindex="-1" role="dialog" aria-labelledby="openCourseADModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="open-course-ad-modal-title">课时学习完成</h4>
            </div>
            <div class="modal-body">
              <div class='empty'>如果喜欢课程内容，赶紧分享给好友吧</div>
            </div>
            <div class="modal-footer">
              <div class="es-share top">
                <a href="javascript:;" class="btn-link color-gray prl js-player-replay"><i class="es-icon es-icon-refresh prs"></i>重播</a>
                <a href="" class="btn btn-lg share-btn dropdown-toggle mrm" data-toggle="dropdown">
                  <i class="es-icon es-icon-share prs"></i>{{'分享'|trans}}</a>
                {% include 'TopxiaWebBundle:Common:share-dropdown.html.twig' with {type:'course'} %}
                {#{% if nextLesson is not empty %}
                  <a href="{{ path('open_course_lesson_learn', {'lessonId': nextLesson.id, 'courseId': course.id}) }}" class="btn btn-lg next-btn">
                    <i class="es-icon es-icon-arrowforward prs"></i>下一课
                  </a>
                {% endif %}#}
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  {% elseif course.type == 'liveOpen' %}
    <div class="col-md-9 open-course-views">
      {% include 'TopxiaWebBundle:OpenCourse:live-open-course-header.html.twig' %}
    </div>
  {% endif %}



