{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'open-course/open-course' %}

{% block full_content %}
  {% block top_content %}{% endblock %}
  
  <div class="container">
    {% block content %}
      <ol class="breadcrumb breadcrumb-o">
        <li><a href="">首页</a></li>
        <li><a href="">公开课</a></li>
        <li>edusoho运营指南</li>
      </ol>
      <div class="row" style="margin:0">
        <div class="col-md-9 open-course-views">
          <img src="/assets/img/default/open-course-bg.jpg" alt="">
          <div class="mask">
            <button class="btn btn-warning">
              开始播放<i class=""></i>
            </button>
          </div>
        </div>
        <div class="col-md-3 open-course-tab">
          <ul class="clearfix" id="tab">
            <li class="tab-header active"><i class="es-icon es-icon-staroutline prm"></i>推荐课程</li>
            <li class="tab-header"><i class="es-icon es-icon-videocam prm"></i>直播列表</li>
          </ul>
          <div id="content">
            <ul>
              <li class="tab-recommand clearfix">
                <a href=""><img class="" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库教学资料库课教学资料库课课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <div class="title"><a href="" >edusoho教学资料库课程学习</a></div>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
            </ul>
            <ul style="display:none">
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="es-section open-course-header clearfix">
        <div class="course-img">
          <img class="img-responsive" src="/assets/img/default/course.png?6.15.7" alt="测试直播api">
        </div>
        <div class="course-info">
          <h2 class="title">
            edusoho网校运营指南
          </h2>
          <div class="matas">
            <span><i class="es-icon es-icon-removeredeye mrm"></i>2231</span>
            <span><i class="es-icon es-icon-textsms mrm"></i>55</span>
          </div>
        </div>
        <div class="course-operation">
          <ul class="clearfix">
            <li>
              <a href=""><i class="es-icon es-icon-thumbup"></i></a>
              点赞
              <div class="gray-darker">12523</div>
            </li>
            <li>
              <div class="es-share top">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="es-icon es-icon-share"></i></a>
                分享
                <div class="gray-darker">523</div>
                <div class="dropdown-menu  js-social-share-params" data-title="在线学习平台在线学习平台在线学习平台" data-summary="" data-message="我正在学习《在线学习平台在线学习平台在线学习平台》，收获巨大哦，一起来学习吧！" data-url="http://try6.edusoho.cn/course/396" data-picture="/files/default/2015/10-14/2250317a2750604169.png?6.15.8">
                <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A%2F%2Ftry6.edusoho.cn%2Fcourse%2F396"><i class="es-icon es-icon-weixin"></i></a>
                <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>
                <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq"><i class="es-icon es-icon-qq"></i></a>
                <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>
                </div>
              </div>
              
            </li>
            <li>
              <a href=""><i class="es-icon es-icon-bookmarkoutline"></i></a>
              收藏
              <div class="gray-darker">523</div>
            </li>
            <li>
              <i class="es-icon es-icon-phone1"></i>
              二维码
              <div class="open-course-qrcode gray-darker">
                扫码查看
                <span class="qrcode-popover">
                  <img src="http://try6.edusoho.cn/common/qrcode?text=http%3A%2F%2Ftry6.edusoho.cn%2Fqrcode%2Fparse%2FyQANq3OrlnsfY092NqL6gqVWyavY8nDZ" alt="">
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="open-course-detail row">
        <div class="col-md-9">
          <div class="es-section course-intro">
            移动互联网来了，所有的法则失效了，所有的一切都将推倒重来。<br/>
            你的商业模式是否能够延续强大的竞争优势？你的产品是否能够适应当下的消费者需求？你的客户群是否还是停留在过去的买卖关系？你的用户是否已经开始迁移？下一个崛起的会是你吗？<br/>
            这一切都需要重新构建企业经营思路 ，全方位多视角为你阐述移动互联网时代的商业法则。<br/>
            全球经济趋势正发生改变，我们的企业家通过学习与实践已经作好准备，蓄势待发，你准备好了吗？
            <img src="/assets/img/default/course.png" alt="">
          </div>
          <!-- <div class="es-section course-comment">  
            <div class="gray-darker">评论(2332)</div>
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="avatar-sm" src="/assets/img/default/course.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <textarea class="form-control" rows="2" placeholder="发表评论"></textarea>
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle prl">
                <a href="#">
                  <img class="avatar-sm" src="/assets/img/default/course.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><a href="">关云长</a><span class="pll color-gray">3天前</span></h5>
                老师教得非常好，强烈支持！
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle prl">
                <a href="#">
                  <img class="avatar-sm" src="/assets/img/default/course.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><a href="">关云长</a><span class="pll color-gray">3天前</span></h5>
                老师教得非常好，强烈支持！
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle prl">
                <a href="#">
                  <img class="avatar-sm" src="/assets/img/default/course.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><a href="">关云长</a><span class="pll color-gray">3天前</span></h5>
                老师教得非常好，强烈支持！
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle prl">
                <a href="#">
                  <img class="avatar-sm" src="/assets/img/default/course.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><a href="">关云长</a><span class="pll color-gray">3天前</span></h5>
                老师教得非常好，强烈支持！
              </div>
            </div>
          </div> -->
          <div class="es-section">
            <form id="review-form" method="post" action="/course/396/review/create" style="" novalidate="novalidate" data-widget-cid="widget-1">
              <div class="form-group controls">
                请打分： <span data-rating="5" data-img-path="/assets/img/raty" class="rating-btn" style="cursor: pointer; width: 100px;"><img src="/assets/img/raty/star-on.png" alt="1" title="很差">&nbsp;<img src="/assets/img/raty/star-on.png" alt="2" title="较差">&nbsp;<img src="/assets/img/raty/star-on.png" alt="3" title="还行">&nbsp;<img src="/assets/img/raty/star-on.png" alt="4" title="推荐">&nbsp;<img src="/assets/img/raty/star-on.png" alt="5" title="力荐"><input type="hidden" name="score" value="5"></span>
                <input type="hidden" name="rating" value="5" data-widget-cid="widget-2" data-explain="">
                <div class="help-block" style="display:none;"></div>
              </div>
              <div class="form-group controls">
                <textarea class="form-control" rows="8" data-display="评价详细内容" name="content" data-widget-cid="widget-3" data-explain="">123</textarea>
                <div class="help-block" style="display:none;"></div>
              </div>
              <div class="form-group clearfix">
                <span class="text-success pull-left" style="display: none;">评价已保存！</span>
                <button type="submit" class="btn btn-primary pull-right" data-loading-text="正在保存..." autocomplete="off">保存</button>
                <button class="btn btn-link pull-right js-hide-review-form" type="button" style="">取消</button>
              </div>
              <input type="hidden" name="_csrf_token" value="58acf2f79d53878448cbae83dcf3aa6e84f30dd1">
            </form>
            <div class="js-reviews">
              <div class="media media-evaluate">
                <div class="media-left">
                  <a class=" js-user-card" href="/user/153" data-card-url="/user/153/card/show" data-user-id="153">
                    <img class="avatar-sm" src="/files/user/2015/03-12/1654317d2199808935.gif?6.15.8">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">    
                    <a class="link-dark " href="/user/153">无名</a>
                    2016-02-16
                  </div>
                  <div class="score">     
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star color-warning"></i>
                    <i class="es-icon es-icon-star"></i>
                  </div>
                  <div class="content">
                    <div class="short-content">123</div>
                    <div class="full-content" style="display:none;">123</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="show-full-btn">[展开全文]</a>
                    <a href="javascript:;" class="show-short-btn" style="display:none;">[收起全文]</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-3">
          <div class="open-course-teacher panel panel-default">
            <div class="panel-heading"> 
              <h3 class="panel-title">
                课程教师
              </h3>
            </div>
            <div class="panel-body text-center">
              <a href=""><img class="avatar-lg" src="/assets/img/default/course.png" alt=""></a>
              <h3><a href="" class="link-dark">李小龙</a></h3>
              <p class="color-gray">首席架构师</p>
              <div class="intro">
                杭州阔知网络科技有限公司是中国领先的在线教育基础服务提供商，专注于在线教育，截止2015年5月19日已有1万3千多家网校在使截止2015年5月19日已有1万3千多家网校在使...
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
  
  {% block bottom_content %}{% endblock %}
{% endblock %}
    