{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'default/first-password' %}
{% block content %}
{# <h4 class="text-center">亲爱的{{user.nickname}},欢迎进入</h4> #}
<h5 class="text-center">首次登陆,请修改密码</h4>
<form id="settings-password-form" class="form-horizontal" method="post" >

  {{ web_macro.flash_messages() }}
  

  <div class="form-group">
    <div class="col-md-3 control-label"><label for="form_newPassword" class="required">新密码</label></div>
    <div class="controls col-md-6 controls">
      <input type="password" id="form_newPassword" name="newPassword" required="required" class="form-control" data-widget-cid="widget-1" data-explain="">
    <div class="help-block" style="display:none;"></div></div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label"><label for="form_confirmPassword" class="required">确认密码</label></div>
    <div class="controls col-md-6 controls">
      <input type="password" id="form_confirmPassword" name="confirmPassword" required="required" class="form-control" data-widget-cid="widget-2" data-explain="">
    <div class="help-block" style="display:none;"></div></div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label"></div>
    <div class="controls col-md-6 controls">
      <button id="password-save-btn" data-submiting-text="正在保存" type="submit" class="btn btn-primary">确定</button>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>
{% endblock %}