<div class="ui-course top-header">
    <div class="course-head-body">
        <div class="course-head">
            <img class="full-image" ng-src="{{ classRoom.largePicture }}" img-error="course" />
            <p class="mask">
                <a>
                    <span class="classroom-service-label" ng-class="service.class" ng-repeat="service in classRoom.service">
                        {{ service.name }}
                    </span>
                </a>
                <a class="right rating-body">
                    <i class="iconfont icon-iconfontxiaoyou"></i>
                    <span class="rating">{{ classRoom.studentNum }}</span>
                    <span>
                        <i class="iconfont icon-favorfill"></i>
                        <span class="rating">{{ classRoom.rating | limitTo : 3 }}</span>
                    </span>
                </a>
            </p>
        </div>
        <div class="item-body">
            <p class="course-title">{{ classRoom.title }}</p>
        </div>
    </div>
    <div class="ui-tab tab-top" ui-tab>
        <ul class="ui-tab-nav ui-border-tb">
            <li><span class="line">班级课程</span></li>
            <li><span>班级详情</span></li>
        </ul>
        <ul class="ui-tab-content tab-display">
            <li>
                <div ng-include=" 'view/classroom_courses_learn.html' | coverIncludePath ">
                </div>
            </li>
            <li ng-onload="loadClassRoomDetail()">
                <div ng-include=" 'view/classroom_detail.html' | coverIncludePath ">
                </div>
            </li>
        </ul>
    </div>
</div>
