<div class="ui-course top-header" style="padding-bottom: 58px;">
    <div class="course-head-body">
        <div class="course-head">
            <img class="full-image" ng-src="{{ classRoom.largePicture }}" img-error="course" />
            <p class="mask">
                <a>
                    <span class="classroom-service-label" ng-class="service.class" ng-repeat="service in classRoom.service">
                        {{ service.name }}
                    </span>
                </a>
                <a class="right rating-body">
                    <i class="iconfont icon-iconfontxiaoyou"></i>
                    <span class="rating">{{ classRoom.studentNum }}</span>
                    <span>
                        <i class="iconfont icon-favorfill"></i>
                        <span class="rating">{{ classRoom.rating | limitTo : 3 }}</span>
                    </span>
                </a>
            </p>
        </div>
        <div class="item-body">
            <p class="course-title">{{ classRoom.title }}</p>
            <p class="course-price">
                <span class="price-block">{{ classRoom.price | formatPrice }}</span>
                <span ng-if="discount" class="discount-type discount">
	    			{{ discount.type | coverDiscount : classRoom.discount }}</span>
                <span ng-if="discount" class="discount-type type">{{ discount.name }}</span>
            </p>
            <p ng-if="discount" class="discount-body">
                <s class="price-block">{{ classRoom.originPrice | formatPrice }}</s>
                <span>倒计时:{{ discount.endTime | coverDiscountTime }}</span>
            </p>
            
        </div>
    </div>
    <div class="ui-tab tab-top" ui-tab>
        <ul class="ui-tab-nav ui-border-tb">
            <li><span class="line">班级课程</span></li>
            <li><span>班级详情</span></li>
        </ul>
        <ul class="ui-tab-content tab-display">
            <li>
                <div ng-include=" 'view/classroom_courses.html' | coverIncludePath ">
                </div>
            </li>
            <li>
                <section class="ui-panel ui-panel-card ui-border-t ui-panel-auto" ui-auto-panel data="classRoomDetailContent">
                    <h2 class="title-body">
			    	    <span class="title">班级概览</span>
			        </h2>
                    <div class="ui-panel-content" ng-bind-html="classRoomDetailContent" ng-img-show>
                    </div>
                    <p class="ui-panel-autobtn">展开</p>
                </section>
                <section class="ui-panel ui-panel-card ui-border-t">
                    <h2 class="title-body">
			    	<span class="title">班级教师 ({{ classRoom.teachers.length }})</span>

			    	<a class="title-tips" href="#/teacherlist/classroom/{{ classRoom.id }}">
			    		<i class="iconfont icon-gengduo"></i>
			    	</a>
			    </h2>
                    <div class="ui-panel-content">
                        <ul class="ui-list">
                            <li class="ui-border-t" ng-if="classRoom.teachers[0]">
                                <div class="ui-avatar-s" ui-sref="userInfo({ userId : classRoom.teachers[0].id })">
                                    <img ng-src="{{ classRoom.teachers[0].avatar | coverAvatar }}" />
                                </div>
                                <div class="ui-list-info">
                                    <h4 class="ui-nowrap">{{ classRoom.teachers[0].nickname }}
				            	<label class="ui-label">教师</label>
				            </h4>
                                    <p class="ui-nowrap">{{ classRoom.teachers[0].title }}</p>
                                </div>
                            </li>
                            <li ng-if="! classRoom.teachers[0]">
                                <p>该课程暂无教师</p>
                                </i>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="ui-panel ui-panel-card ui-border-t" ng-init="loadStudents()">
                    <h2 class="title-body">
                    <span class="title">班级学员 ({{ classRoom.studentNum }})</span>

                    <a class="title-tips" href="#/studentlist/classroom/{{ classRoom.id }}">
                        <i class="iconfont icon-gengduo"></i>
                    </a>
                </h2>
                    <div class="ui-panel-content">
                        <ul class="ui-list">
                            <li class="ui-border-t" ng-repeat="student in students">
                                <div class="ui-avatar-s" ui-sref="userInfo({ userId : student.id })">
                                    <img ng-src="{{ student.avatar | coverAvatar }}" />
                                </div>
                                <div class="ui-list-info">
                                    <h4 class="ui-nowrap">{{ student.nickname }}
                                    </h4>
                                    <p class="ui-nowrap">{{ student.title }}</p>
                                </div>
                            </li>
                            <li ng-if="! students">
                                <p>该班级暂无学员</p>
                                </i>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="ui-panel ui-panel-card ui-border-t" ng-init="loadReviews()">
                    <h2 class="title-body">
			    	<span class="title">班级评价 ({{ reviews.length }})</span>

			    	<a class="title-tips" href="#/coursereview/classroom/{{ classRoom.id }}">
			    		<i class="iconfont icon-gengduo"></i>
			    	</a>
			    </h2>
                    <div class="ui-panel-content ui-review">
                        <ul class="ui-list">
                            <li class="ui-border-t" ng-if="reviews[0]">
                                <div class="ui-avatar-s" ui-sref="userInfo({ userId : reviews[0].user.id })">
                                    <img ng-src="{{ reviews[0].user.mediumAvatar | coverAvatar }}" img-error="avatar"/>
                                </div>
                                <div class="ui-list-info">
                                    <h4 class="ui-nowrap ui-review-header">
					            	{{ reviews[0].user.nickname }}
					            	<span class="ui-review-rating">
						      	<i class="iconfont" ng-class="reviews[0].rating > i ? 'icon-favorfill' : 'icon-favor' " ng-repeat="i in ratingArray" ></i>
						      	</span>
					            </h4>
                                    <p class="ui-nowrap">{{ reviews[0].content }}</p>
                                </div>
                            </li>
                            <li ng-if="! reviews[0]">
                                <p>该课程暂无评价</p>
                                </i>
                        </ul>
                    </div>
                </section>
                </li>
        </ul>
    </div>
</div>
<div class="ui-course-tool" style="box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);text-align: center;" ng-controller="ClassRoomToolController">
    <button class="ui-btn btn-green" ng-class="classRoom.vipLevelId <= 0 ? 'btn-col-75' : 'btn-col-60' " ng-click="joinCourse()">
        立即加入
    </button>
    <button class="ui-btn btn-yellow btn-col-35 ui-nowrap" ng-click="vipLeand()" ng-if="classRoom.vipLevelId > 0 ">
        {{ vipLevels[classRoom.vipLevelId - 1].name }}会员免费学
    </button>
</div>
