<div class="ui-course top-header" style="padding-bottom: 58px;">
    <div class="course-head-body">
        <div class="course-head">
            <img class="full-image" ng-src="{{ classRoom.largePicture }}" img-error="course" />
            <p class="mask">
                <a>
                    <span class="classroom-service-label" ng-class="service.class" ng-repeat="service in classRoom.service">
                        {{ service.name }}
                    </span>
                </a>
                <a class="right rating-body">
                    <i class="iconfont icon-iconfontxiaoyou"></i>
                    <span class="rating">{{ classRoom.studentNum }}</span>
                    <span>
                        <i class="iconfont icon-favorfill"></i>
                        <span class="rating">{{ classRoom.rating | limitTo : 3 }}</span>
                    </span>
                </a>
            </p>
        </div>
        <div class="item-body">
            <p class="course-title">{{ classRoom.title }}</p>
            <div ng-if="!member">
                <p class="course-price">
                    <span class="price-block">{{ classRoom.price | formatPrice }}</span>
                    <span ng-if="discount" class="discount-type discount">
    	    			{{ discount.type | coverDiscount : classRoom.discount }}</span>
                    <span ng-if="discount" class="discount-type type">{{ discount.name }}</span>
                </p>
                <p ng-if="discount" class="discount-body">
                    <s class="price-block">{{ classRoom.originPrice | formatPrice }}</s>
                    <span>倒计时:{{ discount.endTime | coverDiscountTime }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="ui-tab tab-top" ui-tab>
        <ul class="ui-tab-nav ui-border-tb">
            <li><span class="line">班级课程</span></li>
            <li><span>班级详情</span></li>
        </ul>
        <ul class="ui-tab-content tab-display">
            <li>
                <div ng-include=" 'view/classroom_courses.html' | coverIncludePath ">
                </div>
            </li>
            <li ng-onload="loadClassRoomDetail()">
                <div ng-include=" 'view/classroom_detail.html' | coverIncludePath ">
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="ui-course-tool" style="box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);text-align: center;" ng-controller="ClassRoomToolController">
    <button class="ui-btn btn-green" ng-class="classRoom.vipLevelId <= 0 ? 'btn-col-75' : 'btn-col-60' " ng-click="joinCourse()">
        立即加入
    </button>
    <button class="ui-btn btn-yellow btn-col-35 ui-nowrap" ng-click="vipLeand()" ng-if="classRoom.vipLevelId > 0 ">
        {{ vipLevels[classRoom.vipLevelId - 1].name }}会员免费学
    </button>
</div>
