<div class="ui-course top-header">
  	<div class="course-head-body">
      	<div class="course-head">
		    <img class="full-image" ng-src="{{ course.largePicture }}" img-error="course"/>
		    <p class="mask">
		      <a class="learned">
		      	已完成{{ learnProgress }}
		      </a>
		    </p>
		    <div class="course-progress">
		      <span ng-style="{ width : learnProgress }" ></span>
		    </div>
		</div>
	</div>
	<ul class="ui-list ui-list-lesson ui-border-b">  
		<li class="{{ lesson.type }}" ng-repeat="lesson in lessons" ng-class="lesson.id == lastLearnStatusIndex ? 'list-green' : '' " ng-click="learnLesson(lesson)">
		  	  <div class="lesson-status" ng-if="lesson.type !='chapter' && lesson.type !='unit' ">
		            <i class="iconfont" ng-class="learnStatuses[lesson.id] == 'finished' ? 'icon-xiazaiwancheng' : 'icon-jikediancanicon11' "></i>
		        </div>
		        <div class="ui-list-info ui-border-t" ng-class="lesson.type">
		            <h4 class="ui-nowrap"> {{ lesson | formatChapterNumber }} {{ lesson.title }}</h4>
		        </div>
		        <div class="ui-list-action lesson-time" ng-if="lesson.type !='chapter' && lesson.type !='unit' ">
		        	{{ lesson.length }}
		        	<label class="ui-label">{{ lesson | lessonType }}</label>
		        </div>
		</li>
		<list-empty-view class="lesson-empty" data="lessons" title="暂无课时">
           </list-empty-view>
	</ul>
</div>