<div class="ui-bar" ui-bar>
    <div class="ui-bar-bg">
      <button class="ui-btn btn-outline iconfont icon-fanhui" back="go"></button>
      <h3 class="title">分类搜索</h3>
    </div>
</div>

<div class="ui-tab tab-top ui-courselist" ui-tab select="empty">
    <ul class="ui-tab-nav ui-border-b">
        <li>
          <span class="line">
          <label>{{ categoryTab.category }}</label><i class="iconfont icon-keyboardarrowdown"></i>
        </span>
      </li>
        <li>
          <span class="line">
          <label>{{ categoryTab.type }}</label><i class="iconfont icon-keyboardarrowdown"></i>
        </span>
      </li>
        <li>
          <span class="line">
          <label>{{ categoryTab.sort }}</label><i class="iconfont icon-keyboardarrowdown"></i>
        </span>
      </li>
    </ul>
    <div class="ui-tab-content tab-display top-tab-header" style="position: fixed;">
        <li modal>
                  <div class="content category-card">
                      <category-tree ng-if="categoryTree" data="categoryTree" listener="categorySelectedListener">
                      </category-tree>
                  </div>
                  <div class="backdrop-bg"></div>
        </li>
        <li modal>
            <div class="content">
              <ul class="ui-list ui-list-text ui-list-cover ui-list-active">
                <li class="ui-border-b" ng-click="selectType(item)" ng-repeat="item in courseListTypes">
                  {{ item.name }}
                </li>
              </ul>
            </div>
            <div class="backdrop-bg"></div>
        </li>
        <li modal>
            <div class="content">
              <ul class="ui-list ui-list-text ui-list-cover ui-list-active">
                <li class="ui-border-b" ng-click="selectSort(item)" ng-repeat="item in courseListSorts">
                  {{ item.name }}
                </li>
              </ul>
            </div>
            <div class="backdrop-bg"></div>
        </li>
    </div>

    <div class="ui-scroller course-card" ui-scroll data="courses" on-infinite="loadMore(successCallback)">
      <ul class="ui-list ui-border-tb">
          <li class="ui-border-t" ng-repeat="course in courses" ng-href="#/course/{{ course.id }}" ng-include=" 'view/course_list_item.html' | coverIncludePath ">
              
          </li>
      </ul>

      <list-empty-view data="courses" title="暂时没有课程">
      </list-empty-view>

      <div class="ui-loading-wrap" ng-show="canLoad">
        <p>正在加载中...</p>
        <i class="ui-loading"></i>
      </div>

    </div>
</div>