<div class="ui-list-img">
		<img ng-src="{{ course.middlePicture }}" img-error="course" />
    	<span class="discount-label" ng-class="course.discount == 0 ? 'free' : 'rebate' " ng-if="course.discountId > 0">
	      	<span class="discount-label-bottom"></span>
	      	<span class="discount-label-content" ng-if="course.discount == 0">限时<br>免费</span>
	      	<span class="discount-label-content" ng-if="course.discount > 0">限时<br>打折</span>
        </span>

</div>
<div class="ui-list-info">
    <h2 class="ui-nowrap ui-list-title">{{ course.title }}</h2>
    <p class="bottom price-body">
    	<span class="origin-price" ng-if="! course.priceType || course.priceType == 'RMB' ">
		      {{ course.price | formatPrice }}
		      <s class="discount-color" ng-if="course.discountId > 0">
		      	{{ course.originPrice | formatPrice }}
		      </s>
		</span>
		<span class="origin-price" ng-if="course.priceType == 'Coin' ">
		      {{ course.price | formatCoinPrice }}
		      <small ng-if="course.coinPrice > 0">{{ course.coinName }}</small>
		      <s class="discount-color" ng-if="course.discountId > 0">
		      	{{ course.originPrice | formatPrice }}
		      </s>
		</span>

		<span class="right">
			<!-- <i class="iconfont icon-person"></i> -->
		    {{ course.studentNum }}人在学
		</span>
    </p>
</div>