<div class="ui-fill">
	<ul>
		<li ng-repeat="meta in getFillQuestionItem(item)">
			<span class="body" ng-bind-html="meta"></span>
		</li>
	</ul>
	<ul class="ui-grid-halve ui-answer">
		<li>
		    <span class="answer-status-label success" ng-class="item.result.status | questionResultStatusColor">
		    	<i class="iconfont" ng-class="item.result.status | questionResultStatusIcon"></i>
		    </span>
		</li>
		<li>
		    <span>
		        正确答案
		        <label class="primary" ng-bind="getItemAnswer(item)"></label>
		    </span>
		    <span>学员答案
		    	<label class="wrong" ng-bind="getResultAnswer(item)"></label>
		    </span>
		</li>
	</ul>
</div>