<div class="ui-scroller course-card" ng-controller="MyFavoriteLiveController">
  <ul class="ui-list">
      <li class="ui-border-t ui-list-avatar" ng-repeat="course in data.live.data" ng-href="#/course/{{ course.id  }}">
          <div class="ui-list-img">
              <img ng-src="{{ course.middlePicture | coverPic }}" img-error="course"/>
          </div>
          <div class="ui-list-info">
              <h2 class="ui-nowrap ui-list-title">{{ course.title }}</h2>
              <p class="bottom price-body">
                <span class="origin-price">
                      {{ course.price | formatPrice }}
                      <s class="discount-color" ng-if="course.discountId > 0">
                        {{ course.originPrice | formatPrice }}
                      </s>
                </span>
              </p>
          </div>
      </li>
  </ul>

  <list-empty-view data="data.live.data" title="暂时没有收藏直播课程">
  </list-empty-view>

</div>