<ion-view>
  <ion-content class="padding">
    <div class="list sign">

      <label class="item item-input">
        <input type="email" placeholder="请输入邮箱" ng-blur="emailstyle=''" ng-focus="emailstyle='active'" ng-model="user.email" ng-class="emailstyle">
      </label>
      <label class="item item-input">
        <input type="password"  placeholder="请输入密码" ng-blur="passstyle=''" ng-focus="passstyle='active'" ng-model="user.password" ng-class="passstyle">
      </label>
    </div>
    <div class="sign-padding">
      <button class="button button-block button-green" ng-click="registWithEmail(user)">
        注 册
      </button>
    </div>
  </ion-content>
</ion-view>