<div class="ui-bar" ui-bar>
    <div class="ui-bar-bg">
      <button class="ui-btn btn-outline iconfont icon-fanhui" back="go"></button>
      <h3 class="title">待批阅问答</h3>
    </div>
</div>
<div class="top-header ui-todolist ui-scroller">

    <section class="ui-panel ui-panel-card ui-border-t" ng-controller="ThreadTeachingController" ng-init="initQuestionResult(10000)">
        <h2 class="title-body">
            <span class="title">
                <span class="circle-label"></span>
                提问回答
            </span>

            <a class="title-tips">
                待回答问题:
                <label>{{ teachingResult.threadCount }}</label>
            </a>
        </h2>
        <div class="todo-card">
            <list-empty-view data="teachingResult.threads" title="暂时没有待回答问题">
            </list-empty-view>
            <ul class="ui-list ui-list-pure ui-border-t">
                <li ng-repeat="thread in teachingResult.threads" class="ui-border-t">
                    <div class="ui-list-info" ng-click="showThreadChatView(thread)">
                        <h2 class="ui-nowrap">
                            <span class="radius-label" ng-class="thread.isTeacherAnswer > 0 ? 'blue' : 'red'">{{ thread.isTeacherAnswer > 0 ? "已回答" : "未回答" }}</span>
                            {{ thread.title }}
                        </h2>
                        <p>{{ thread.lessonTitle }}</p>

                        <div class="bottom ui-border-t">
                            <div class="ui-avatar-s rr">
                                <img ng-src="{{ thread.user.avatar | coverAvatar }}" />
                            </div>
                                
                            <span class="bottom-label">
                                {{ thread.user.nickname }}
                                <span class="bottom-label-bg">
                                    {{ thread.user.roles | coverUserRole }}
                                </span>
                            </span>
                            <span class="bottom-label right">
                                {{ thread.createdTime | coverLearnTime }}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ui-btn-group" ng-if="teachingResult.threads.length < teachingResult.threadCount">
                <button type="button" class="btn-green">更多</button>
            </div>
        </div>
        
    </section>
</div>