{% extends 'old-bootstrap-modal-layout.html.twig' %}



{% block title %}{{'user.account.my_invite_code.invite.modal_title'|trans}}{% endblock %}
{% block body %}
<div class="form-horizontal">

  <div class="form-group">
    <div class="col-md-offset-1 col-md-10 controls">
    <textarea rows="3" class="form-control" id="content" readonly="true">{{inviteInfomation_template}}</textarea>
    </div>
  </div>
</div>
{% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
  <script>app.lazyLoad = function() { app.load('coin/invite-content-copy') };</script>
{% endblock %}
{% block footer %}
    <button class="btn-sm btn btn-primary" id='copy'>{{'user.account.my_invite_code.invite.copy_btn'|trans}}</button>
{% endblock %}