{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'classroom' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      <div class="list-group">
        
        <a href="{{path('admin_classroom_set')}}" class="list-group-item {% if menu == 'set' %}active{% endif %}">班级设置</a>
        <a href="{{path('admin_classroom')}}" class="list-group-item {% if menu == 'classroom' %}active{% endif %}">班级管理</a>
        <a href="{{path('admin_groupThread')}}" class="list-group-item {% if menu == 'thread' %}active{% endif %}">订单管理</a>
      
      </div>
    {% endblock %}
  </div>


  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}