{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_edulive_overview' %}
{% block tabs %}{% endblock %}
{% block main %}
<div class="row form-group">
  <div class="help-block">
    </br></br>
    <p style="text-align:center;font-size:16px">{{ 'admin.edu_cloud.edu_live.live_service_provider'|trans }} <a href="http://open.edusoho.com/educloud" target="_blank">{{ 'admin.edu_cloud.edu_live.know_detail'|trans }}</a></p>
    </br>
  </div>
</div>
<hr>
{% endblock %}