{% extends 'TopxiaWebBundle:Theme:edit-modal-layout.html.twig' %}

{% block custom_count %}
  <div class="form-group">
    <label class="col-sm-3 control-label">教师数量设置</label>
    <div class="col-sm-4">
      <select class="form-control width-input-large" name="count">
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="8">12</option>
      </select>
    </div>
  </div>
{% endblock %}
{% block custom_category_count %}{% endblock %}
