.course-detail {
  transition: all 1s;

  .layout-col {
    .e-panel-body {
      display: flex;
      flex-direction: column;
    }
  }
  .flex-row {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .empty-block {
    height: vw(20);
    background: white;
    width: 100%;
  }

  // teacher component
  .teacher {
    .e-panel-body {
      flex-direction: column;
      .teacher-content {
        display: flex;
        margin-bottom: 15px;
        + .teacher-content {
          padding-top: 15px;
          border-top: 1px solid #eee;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .teacher-cell {
    display: flex;
    flex-direction: column;
    margin-left: vw(10);
    
    > span:last-child {
      color: #71777d;
      line-height: vw(24);
      letter-spacing: 0;
    }
  }

  // tabs
  .van-tabs {
    margin-bottom: -44px;
    &.after-tabs {
      margin-bottom: 0;
    }
    .van-tab {
      color: #2b333b;
      font-family: PingFangSC-Medium;
      &--active {
        color: #2b333b;
      }
    }
    &__line {
      background-color: $primary-color;
    }
    &--fixed {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .about {
    margin-top: 44px;
  }
  .box {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s;
    position: relative;

    &.show-box {
      transform: translateY(0);
      opacity: 1;
    }
  }
  // 课程目录
  .directory {
    .e-panel-body {
      margin:0 vw(-10) vw(50);
    }
    .directory-list {
      &__item {
        &-chapter {
          display: flex;
          justify-content: space-between;
          @extend .title-16;     
          height: vw(52);
          line-height:vw(52);
          background: #F7F7F7;
          border-radius: 5px;    
          padding-left: vw(10);
          padding-right: vw(15); 
          box-sizing: border-box;
          i {
            margin-top: vw(20);
          }
          margin-bottom: vw(20);
        }
        &-unit {
          height: 0;
          overflow: hidden;
          &.unit-show {
            height: auto;
            margin:0 vw(10);            
            + .unit-show:not(:last-child) {
              border-bottom: 1px solid #EEE;
              margin-bottom: 10px;
            }
          }
        }
        .lesson-cell {
          @extend .flex-row;
          @extend .font-family-PFM;
          
          font-size: vw(14);
          &__unit {
            margin-bottom: vw(12);
            @extend .title-16;
          }
          &__content {
            @extend .flex-column;
            margin-left: vw(10);
            margin-bottom: vw(15);
            flex: 1;
            span {
              color: #2B333B;
              &:last-child {
                color: #b0bdc9;
                margin-top: vw(15);
              }
            }
          }
          &__number {
            color: #b0bdc9;
          }
          &__status {
            border-radius: 2px;
            height: vw(18);
            color: white;
            font-size: vw(12);
            padding: vw(2) vw(10);
            &.is-free {
              background: $primary-color;
            }
            &.is-tryLook{
              background:#FF9E6D;
            }
          }
        }
      }
    }
  }

  // head
  &__head {
    >img {
      height: 31.5vh;
      vertical-align: middle;
      width: 100%;
    }
    &-price {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: vw(-10);
      > span {
        @extend .title-18;
        @extend .red;
        &:last-child {
          @extend .grey;
          font-size: vw(14);
        }
      }
    }
  }
  // 计划
  &__plan {
    padding: vw(20) 0;
    border-top: 1px solid $border-grey;
    margin: 0 vw(20);
    display: flex;
    justify-content: flex-start;
    > li {
      width: vw(66);
      height: 30px;
      border: 1px solid $border-grey;
      text-align: center;
      line-height: 30px;
      font-size: vw(14);
      color: #71777d;
      margin-right: vw(20);
      border-radius: 2px;
      &.active {
        color: white;
        background: $primary-color;
      }
    }
  }
}