.setting-page {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  width: 375px;
  min-height: 667px;
  .find-navbar {
    position: relative;
    background-color: #212121;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 18px;
    margin-left: -1px;
    margin-right: -1px;
    i {
      position: absolute;
      top: 0;
      left: 15px;
    }
  }
  .find-head-img {
    width: 375px;
    vertical-align: top;
  }
  .find-body {
    padding-bottom: 153px;
  }
  .find-section {
    position: absolute;
    bottom: 50px;
    box-sizing: border-box;
    padding: 15px 9px;
    background: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    font-size: 14px;
    .section-title {
      margin-left: 7px;
    }
    .find-section-item {
      float: left;
      margin: 15px 7.5px 0;
      width: 103px;
      background-color: #fff;
    }
  }
  .find-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    &-item {
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      padding: 5px 0;
      font-size: 12px;
      color: #929292;
      &__icon {
        display: block;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
      }
      &__text {
        display: block;
        text-align: center;
        line-height: 20px;
      }
      &.active {
        .find-footer-item__text {
          color: $primary-color;
        }
      }
    }
    // delete
    &-img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.setting-button-group {
  margin: 50px;
  text-align: center;
  &__button {
    width: 90px;
    height: 30px;
  }
}
