// 班级管理中的学习计划
.study-plan-form {
  color: @gray;
  .plan-item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
     &:before {
      position: absolute;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: @brand-primary; 
    }
    .num {
      position: absolute;
      top: 5px;
      left: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      .border-radius(50%);
      color: @brand-primary;
      border: 1px solid @brand-primary;
    }
    .action-delete {
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .checkbox,
  .form-group {
    padding-left: 50px;
  }
  .inline-block {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.course-bar {
  margin-top: 15px;
  border: 1px solid @gray-light;
  background-color: #fff;
  color: @gray;
  padding: 5px 15px;
  font-size: 12px;
  .es-box-shadow;
  .bar-metas {
    &:hover {
      cursor: pointer;
      color: @brand-danger;
    }
  }
  &:first-child {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &.active {
    border-color: #f3d6ba;
    background-color: #fffceb;
    color: #e28327;
  }
  &.shift {
    .box-shadow(none);
    border: 1px dashed @gray-light;
    background-color: #fafafa;
  }
}

// 课程列表
.panel-fixed {
  position: fixed;
  top: 200px;
  right: 50px;
  z-index: 2;
  .panel-heading {
    position: relative;
  }
  .pack-up {
    position: absolute;
    top: 12px;
    right: 0;
    margin-right: 0 !important;
    .es-transition;
    &:hover {
      color: @brand-primary;
      cursor: pointer;
      .es-transition;
    }
  }
}

.course-list-show {
  position: fixed;
  top: 200px;
  right: 50px;
  display: none;
  z-index: 2;
  .btn-more {
    padding: 10px 5px;
    color: #fff;
    background-color: @brand-primary;
  }
}

// 班级详情tab
.study-plan-info {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  background-color: @brand-primary;
  .plan-info-item {
    font-size: 24px;
    padding: 10px;
    margin: 20px auto;
    &:nth-child(1),
    &:nth-child(2) {
      border-right: 1px solid #52db9c;
    }
  }
  .open-plan {
    margin: 20px auto;
    padding: 5px 10px;
    @media (max-width: @screen-sm-max) {
      padding: 5px 0;
    }
    .btn {
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.study-plan-list {
  .plan-item {
    position: relative;
    padding-left: 40px;
    &:after {
      position: absolute;
      content: '';
      left: 9px;
      top: 41px;
      bottom: -41px;
      width: 2px;
      background-color: @gray-light;
    }
    &.done {
      .plan-number {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #fff;
      }
      &:after {
        background-color: @brand-primary;
      }
    }
    &.doing {
      .plan-number {
        background-color: @brand-primary;
        border-color: @brand-primary;
      }
    }
    &.plan-goal {
      &:after {
        display: none;
      }
      >ul {
        padding-left: 0;
        margin-bottom: 0;
        >li {
          list-style-type: none;
          margin-bottom: 15px;
        }
      }
    }
  }
  .plan-title {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    color: @gray-darker;
    small {
      margin-left: 20px;
      color: @gray;
    }
  }
  .plan-body {
    padding-left: 0;
    margin-bottom: 0;
    >li {
      position: relative;
      position: relative;
      padding-bottom: 25px;
      list-style-type: none;
      &:last-child {
        border-bottom: 1px solid @gray-lighter;
      }
      &:after {
        position: absolute;
        content: '';
        left: -31px;
        top: -31px;
        bottom: 31px;
        width: 2px;
        z-index: 2;
        background-color: @gray-light;
      }
      &.done,
      &.doing {
        .icon-plan-state {
          background-color: @brand-primary;
          border-color: @brand-primary;
        }
        &:after {
          background-color: @brand-primary;
        }
      }
      .icon-plan-state {
        position: absolute;
        top: 4px;
        left: -35px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        z-index: 3;
        border: 2px solid @gray-light;
        .border-radius(50%);
      }
      .icon-arrow {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .plan-number {
    position: absolute;
    top: 26px;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 16px;
    border: 2px solid @gray-light;
    background-color: #fff;
    .border-radius(50%);
    color: @gray-light;
    z-index: 3;
    text-align: center;
    &.big {
      top: 21px;
      left: -5px;
      width: 30px;
      height: 30px;
      line-height: 26px;
      >i {
        font-size: 20px;
      }
    }
  }
  .plan-period-list {
    display: none;
    padding-left: 0;
    padding-top: 5px;
    list-style-type: none;
    >li {
      position: relative;
      padding: 8px 0 8px 50px;
      font-size: 12px;
      line-height: 18px;
      a {
        display: block;
        padding: 3px 5px;
        &:hover {
          background-color: @bg-color;
        }
      }
    }
    .period-type {
      position: absolute;
      top: 8px;
      left: 0;
      width: 40px;
      padding: 3px 8px;
      text-align: center;
      background-color: @gray-light;
      color: #fff;
      &.done {
        background-color: @brand-primary;
      }
    }
  }
}

.todo-list {
  margin-bottom: 20px;
  &.todo-list-plus {
    li {
      &:before {
        position: absolute;
        content: '';
        top: -10px;
        bottom: 10px;
        left: 15px;
        width: 2px;
        background-color: @gray-light;
      }
      &.done {
        &:before,
        .tag,
        .dot {
          background-color: @brand-primary;
        }
        .tag:after {
          border-right-color: @brand-primary;
        }
        >a {
          color: @brand-primary;
        }
      }
      .tag:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: @gray;
        border-width: 4px;
        margin-top: -4px;
      }
      .dot {
        position: absolute;
        top: 26px;
        left: 11px;
        width: 10px;
        height: 10px;
        .border-radius(50%);
        background: @gray-light;
        z-index: 1;
      }
    }
  }
  .todo-list-header {
    position: relative;
    background: @brand-primary;
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 15px;
      margin-top: -15px;
      margin-left: -30px;
    }
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      position: relative;
      padding: 20px 0 0 80px;
      .tag {
        position: absolute;
        top: 20px;
        left: 35px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        width: 35px;
        background: @gray;
        color: #fff;
      }
      >a {
        .text-overflow;
      }
      >i {
        position: absolute;
        left: 10px;
        top: 19px;
        color: @gray;
      }
    }
  }
}

.plan-modal-form {
  .study-num {
    position: relative;
    display: inline-block;
    background: @brand-primary;
    padding: 10px 20px;
    color: #fff;
    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-left-color: @brand-primary;
      border-width: 20px;
      margin-top: -20px;
    }
  }
}