.group-header-inner .media-body {
  width: auto;
}

.question-set-item:first-child {
  border: none;
}

.group-item .media-object img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.group-search {
	margin-bottom: 20px;
	.form-control {
		border-bottom-left-radius: 20px !important;
		border-top-left-radius: 20px !important;
	}
	.input-group-btn {
	}
	button {
		border: 1px solid #e0e0e0 !important;
	}
}

.homepage-feature-slides {
	z-index: 9;
}

.list-group-panel .list-group-item.active, 
.list-group-panel .list-group-item.active:hover {
	background: #f3f3f3;
	color: @brand-primary;
	font-weight: bold;
	border-left: 3px solid @brand-primary;
}

.userpage #content-container {
	width: 1140px;
}