// 兼容性
.lesson-manage-panel .panel-heading {
  z-index: 1;
}


.group-header-inner .media-body {
  width: auto;
}

.question-set-item:first-child {
  border: none;
}

.group-item .media-object img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.group-search {
  margin-bottom: 20px;
  .form-control {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
  }
  button {
    border: 1px solid #e0e0e0 !important;
  }
}

.homepage-feature-slides {
  z-index: 9;
}

.list-group-panel .list-group-item.active, 
.list-group-panel .list-group-item.active:hover {
  background: #f3f3f3;
  color: @brand-primary;
  font-weight: bold;
  border-left: 3px solid @brand-primary;
}

.lesson-dashboard .back-course-btn {
  left: -5px;
}

// 个人中心头部
.userpage-header .media {
  padding-top: 25px;
  padding-bottom: 25px;
}

.userpage-header .media-left {
  
  padding-right: 30px;
  @media (max-width: @screen-xs-max) {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    padding-right: 0;
  }
}

.userpage-header .avatar-bg {
  position: relative;
}

.userpage-header .media-left .icon-user-status {
  position: absolute;
  bottom: 0;
  right: 8px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.userpage-header .icon-user-status i {
  font-size: 18px;
}

.userpage-header h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 28px;
}

.userpage-header h2 small {
  font-size: 16px;
  color: #096;
}

.userpage-header .actions {
  float: right;
}