.nav > li.nav-more {
  .open > a,
  .open.active >a,
  .open > a:hover, 
  .open > a:focus {
    background: @brand-primary !important;
  }
}

.nav.user-nav {
  .dropdown-menu {
    > li {
      > a { 
        &:hover {
          .num {
            color:@brand-primary;
          }
        }
      }
    }
  }
}

.nav.user-nav > li {
  .user-manage-toggle--white {
    &:hover,
    &:focus {
      background-color: @brand-primary;
      border-color: @brand-primary;
    }
  }
}

.inform-dropdown-head__tab {
  &:focus,
  &:hover,
  &.active {
    color: @brand-primary;
  }
}