.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 9px 14px;
  line-height: 1;
  border: 2px solid transparent;
  background: none;
}

.btn-raised(@color) {
  color: #fff;
  background: @color;
  border-color: @color;
  .code-transition;
  &:hover,
  &:focus {
    .code-transition;
    box-shadow: 0 4px 6px 0 rgba(red(@color), green(@color), blue(@color), 0.30);
    
  }
  &:active {
    .code-transition;
    background: darken(@color, 10%);
  }
}

.btn {
  &.btn-danger {
    .btn-raised(@brand-danger);
  }
  &.btn-info {
    .btn-raised(@brand-info);
  }
  &.btn-primary {
    .btn-raised(@brand-primary);
  }
  &.btn-success {
    .btn-raised(@brand-success);
  }
  &.btn-warning {
    .btn-raised(@brand-warning);
  }
}

