.dropdown-menu {
  border: none;
  .box-shadow;
  min-width: 80px;
  font-size: 12px;
  &.dropdown-menu-right {
    left: auto;
    right: 0;
  }
  > li > a {
    padding: 10px 16px;
    line-height: 1;
  }
}