.modal {
  
}

.modal-dialog {
  @media(min-width: @screen-sm-min) {
    width: 480px;
  }
}

.modal-header {
  padding: 24px 24px 32px 24px;
  border: none;
  .close {
    font-size: 18px;
    font-weight: 300;
  }
}

.modal-footer {
  border: none;
  padding: 8px 24px 24px 24px;
}

.modal-title {
  line-height: 1;
}