.tabs {
  padding-left: 0;
  .clearfix;
  margin-bottom: 24px;
  > li {
    float: left;
    list-style: none;
    + li {
      margin-left: 40px;
    }
    > a {
      .text-gray;
      .code-transition;
      display: block;
      padding-bottom: 12px;
      border-bottom: 2px solid transparent;
      &:hover {
        .code-transition;
        .text-gray-dark;
      }
    }
    &.active {
      > a {
        .text-gray-dark;
        border-color: @brand-primary;
      }
    }
  }
  .number {
    color: @brand-warning;
    font-size: 12px;
    margin-left: 4px;
    vertical-align: top;
  }
}