{% extends 'layout.html.twig' %}
{% do script(['trainingtaskplugin/js/index.js']) %}
{% block body %}
<div class="flex">
    <div id="one">
      123<br />
      123<br />
      123<br />
      123<br />
    </div>
    <div id="two">
      123<br />
      123<br />
      123<br />
      123<br />
    </div>
</div>


<style>
  #one{
    height:100%
  }
  #two{
    height:100%
  }
  .flex {
    display: flex;
    flex-direction: row;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: #eee;
}
</style>
{% endblock %}
