<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Picture and text task display page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/activities/text/static-dist/css/text.css" rel="stylesheet" />
      <base target="_blank">
  </head>
  <style>
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .iframe-scroll {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      z-index: 1;
    }
    .text-iframe-wrap {
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
      overflow: scroll;
    }
  </style>
  <body>
    123321
  </body>
</html>