.ibs-base {
  .ant-select-tree
    li
    .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    background-color: @primary-color;
    color: #fff;
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
    background-color: @primary-color;
    color: #fff;
  }
  &--save{
    margin: 0 16px 0 4px;
  }
  .ant-collapse-header {
    padding-left: 16% !important;
    color: @primary-color !important;
    padding: 12px 16px;
    outline: none;
  }
  .ant-collapse-content {
    border: none;
  }
  .ant-collapse-content-box {
    padding-left: 2px!important;
    padding-right: 0!important;
    border: none;
  }
}

