// 课程侧边栏
.belongs-class {
  .media-left {
    img {
      width: 100px;
      height: auto;
      border: 3px solid @border-color;
      .border-radius;
    }
  }
  .media-body {
    vertical-align: middle;
    >a {
      color: @gray-dark;
      .es-transition;
      &:hover {
        color: @brand-primary;
        .es-transition;
      }
    }
  }
}

// 推荐班级
.panel-class {
  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 35%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    .border-radius(50%);
    background-color: #7f7f7f;
    background-color: rgba(127, 127, 127, 0.5);
    color: #fff;
    text-align: center;
    .es-transition;
    visibility: hidden;
    &:hover {
      background-color: rgba(127, 127, 127, 0.8);
      .es-transition;
    }
  }
  .arrow-prev {
    left: 5px;
  }
  .arrow-next {
    right: 5px;
  }
  &:hover {
    .arrow-prev,
    .arrow-next {
      visibility: visible;
    }
  }
}

.course-detail {
  margin-top: -10px; 
}
.course-detail-content{
  img {
    max-width: 100%;
    height: auto;
  }
  .es-piece{
    margin-bottom: 50px;
    .piece-body p{
      line-height: 30px;
      margin-bottom: 0px;
      margin-left: 15px;
    }
  }
}



// 待删befoer 2.0
// .recommend-class {
//   background-color: #fff;
//   @media (max-width: @screen-xs-max) {
//     display: none;
//   }
//   .container {
//     position: relative;
//     box-shadow: -2px 0 1px #f5f5f5;
//   }
//   .class-label {
//     position: absolute;
//     top: 35px;
//     bottom: 35px;
//     right: 100%;
//     padding: 25px 13px;
//     color: #fff;
//     text-align: center;
//     background-color: @brand-primary;
//     @media (max-width: @screen-md-max) {
//       top: 30px;
//       bottom: 30px;
//       padding: 10px 10px;
//     }
//   }
// }


// .recommend-class {
//   .recommend-class-list {
//     position: relative;
//     padding: 20px 10px;
//   }
//   .swiper-container {
//     height: 175px;
//     @media (max-width: @screen-md-max) {
//       height: 150px;
//     }
//     @media (max-width: @screen-sm-max) {
//       height: 112px;
//     }
//   }
//   .class-item {
//     margin: 15px 10px;
//     @media (max-width: @screen-md-max) {
//       margin: 0 5px;
//     }
//   }
//   .class-belong {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     width: 50px;
//     height: 50px;
//     padding: 10px;
//     text-align: center;
//     background-color: #37b97d;
//     color: #fff;
//     font-size: 12px;
//     .border-radius(50%);
//   }
//   .swiper-slide {
//     width: 25%;
//     float: left;
//     h3 {
//       @media (max-width: @screen-md-max) {
//         font-size: 14px;
//         margin-bottom: 0;
//       }
//       @media (max-width: @screen-xs-max) {
//         display: none;
//       }
//     }
//   }
//   .arrow-prev,
//   .arrow-next {
//     position: absolute;
//     top: 50%;
//     margin-top: -22px;
//     z-index: 100;
//     >i {
//       color: @gray;
//       font-size: 30px;
//     }
//     &:hover {
//       cursor: pointer;
//       >i {
//         color: @brand-primary;
//       }
//     }
//   }
//   .arrow-prev {
//     left: -10px;
//   }
//   .arrow-next {
//     right: -10px;
//   }
// }

// .class-detail {
//   margin-top: -10px;
// }