.course-detail-section {
  position: relative;
  line-height: 1;
  padding: 20px;
  color: @gray;
  .course-detail-top {
    .course-detail-heading {
      overflow:hidden;
      word-wrap:normal;
      white-space:nowrap;
      max-width: 17em;
      text-overflow:ellipsis;
      font-size: 24
    }
    .service-font-icon{
      position: absolute;
      top: 21px;
      margin-left: 20px;
    }
    .tags {
      float: left;
      .tag-serialing,
      .tag-finished {
        displaydisplay: inline-block;
        width: 40px;
        height: 50px;
      }
      .tag-serialing {
        background: url("@{img-course-set-src}/course-set/tag_serialing.png") no-repeat;
        background-image: -webkit-image-set(url("@{img-course-set-src}/course-set/tag_serialing.png") 1x,url("@{img-course-set-src}/course-set/tag_serialing@2x.png") 2x);
      }
      .tag-finished {
        background: url("@{img-course-set-src}/course-set/tag_finished.png") no-repeat;
        background-image: -webkit-image-set(url("@{img-course-set-src}/course-set/tag_finished.png") 1x,url("@{img-course-set-src}/course-set/tag_finished@2x.png") 2x);
      }
    }
    .course-operation {
      position: absolute;
      list-style-type: none;
      right: 10px;
      top: 20px;
      li {
        float: left;
        margin-right: 10px;
      }
      li :first-child{
        line-height: 22px;
      }
    }
    .item-icon-font{
      position: absolute;
      top: 22px;
      left: 422px;
    }
    @media (min-width: 769px) and (max-width: 1200px){
      .course-detail-heading {
        max-width: 16em;
      }
      .item-icon-font{
        left: 400px;
      }
    }
    @media (min-width: 320px) and (max-width: 768px){
      .course-operation {
        top: 50px;
      }
      .item-icon-font{
        top: 55px;
        left: 20px;
      }
    }
  }
  .course-detail-bottom {
    .course-detail-img {
      position: relative;
      float: left;
      width: 480px;
      background-color: #fff;
      @media (max-width: @screen-xs-max) {
        .border-top-left-radius();
        .border-top-right-radius(); 
      }
      .course-img-cover {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        .opacity(0.4);
        .es-transition;
        &:hover {
          .opacity(0.7);
          .es-transition;
        }
        .es-icon {
          color: white;
          font-size: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
        }
      }
      .course-detail-remask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        padding:10px;
        .opacity(.8);
        .score {
          float: right;
          i {
            font-size: 14px;
          }
        }
      }
    }
    .course-detail-info {
      padding-left: 60px;
      margin-left: 480px;
      .course-detail-gray {
        background-color: @bg-color;
        padding: 20px;
        padding-left: 60px;
        margin: 0px -20px 15px -60px;
      }
      .course-detail-title {
        width: 70px;
        display: inline-block;
        text-align: left;
        font-size: 12px;
      }
      .course-detail-nav {
        position: relative;
        padding-left: 70px;
        .course-detail-title {
          position: absolute;
          left: 0;
          top: 8px;
        }
        .nav {
          display: inline-block;
        }
        .nav-pills-transparent li{
          margin-bottom: 10px;
          margin-right: 10px;
        }
      }
      .original-price {
        position: relative;
        margin-left: 4px;
        &:after {
         content: '';
         position: absolute;
         left: -2px;
         top:50%;
         right: -2px;
         height: 1px;
         background-color: @gray;
        }
      }
      .tag-discount{
        background: url("@{img-course-set-src}/course-set/tag_discount.png") no-repeat;
        display: inline-block;
        width: 62px;
        margin-left: 11px;
        height: 24px;
        color: #fff;
        line-height: 24px;
        .discount-font{
          margin-left:25px;
        }
      } 
      .text-right{
        a{
          padding: 15px 40px;
        }
      } 
    }
    @media (min-width: 769px) and (max-width: 992px){
      .course-detail-img{
        margin-left: 15%;
      }
      .course-detail-info {
        float: left;
        margin-left: 15%;
        margin-top: 15px;
        .course-detail-gray {
          padding-left: 60px;
          width: 115%;
          margin-top: 15px;
        }
        .text-right{
          margin-right: 20px;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 768px){
      .course-detail-img{
        width: 100%;
      }
      .course-detail-info {
        float: left;
        margin-left: 15%;
        margin-top: 15px;
        padding-left: 0px;
        .course-detail-gray {
          // padding-left: 0px;
          width: 115%;
          margin-top: 15px;
        }
        .text-right{
          // margin-right: 20px;
        }
      }
    }
  }
}

.course-freelearn-section {
  background-color: @bg-color;
  margin: 65px -20px 20px;
  padding: 38px 15px;
  .course-learn-list {
    list-style: none;
    >li {
      float: left;
      width: 33.33%;
    }
  }
  .course-learn-list-small {
    display: none;
  }
  .course-progress{
    left: 65px;
  }
  @media (min-width: 320px) and (max-width: 768px){
    .course-progress{
      left: 15px;
    }
    .course-learn-list {
      display: none;
    }
    .course-learn-list-small {
      display: block;
    }
    .course-learn-list-small {
      list-style: none;
      text-align: center;
      padding-left: 0px;
      margin-top: -20px;
      li {
        margin-bottom: 15px;
      }
    }
    .course-progress{
      left: 0px;
      position: relative;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

.course-orderlearn-section {
  padding: 20px 0;
  .progress-img {
    position: absolute;
    margin-top: 65px;
  }
  .progress-info {
    list-style: none;
    margin-left: 190px;
    margin-top: 30px;
    font-size: 12px;
    .progress-learn-time{
      margin-left: 20px;
    }
  }
  .task-list-detail{
    margin-left: -48px;
  }
  @media (min-width: 320px) and (max-width: 992px){
    .progress-img {
      position: relative;
    }
    .progress-info {
      text-align: center;
      margin-left: 150px;
      li{
        line-height: 24px;
      }
      .progress-learn-time{
        margin-left: 0px;
      }
    }
    .task-list-detail{
      margin-left: 0px;
    }
  }
  @media (min-width: 320px) and (max-width: 768px){
    .progress-info {
      margin-left: 0px;
      padding-left: 0px;
      margin-top: 0px;
    }
  }
}

.course-progress {
  position: absolute;
  top: -55px;
  left: 50px;
  width: 160px;
  height: 160px;
  .border-radius(50%);
  background-color: #fff;
  .box-shadow(0 0 1px 2px rgba(0, 0, 0, 0.1));
  .cricle-progress {
    position: absolute;
    left: 7.5px;
    top:7.5px;
    width: 145px;
    height: 145px;
    .percent {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: @gray;
      .num {
        display: inline-block;
        margin-top: 10px;
        font-size: 30px;
        line-height: 1;
        font-weight: bold;
        color: @brand-primary;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .course-progress{
    left: 15px;
  }
}
@media (min-width: 320px) and (max-width: 768px){
  .course-progress{
    left: 0px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
  }
}

.panel-body{
  button{
    border:none;
  }
  .course-kinds{
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .course-kinds:first-child{
    padding-top: 5px;
  }
  .course-kinds:last-child{
    padding-bottom: 0px;
    border-bottom: none;
  }
  .media-icon{
    width: 28px;
    height:32px;
    position: relative;
  }
  .media-logo{
    position: absolute;
    left: 16px;
    top: 8px;
    color: #fff;
  }
  .media-body{
    line-height: 32px;
  }
  .course-item,.class-item{
    margin-bottom: 0px;
  }
}

.panel-default{
  .panel-heading{
    padding: 15px 0px;
  }
}

















// course2.0删除
// .course-detail-header.before {
//   .course-img {
//     width: 480px;
//     margin: 15px;
//     @media (max-width: @screen-md-max) {
//       width: 380px;
//       margin: 10px;
//     }
//     @media (max-width: @screen-sm-max) {
//       width: 340px;
//     }
//     @media (max-width: @screen-xs-max) {
//       float: none;
//       width: 100%;
//       margin: 0;
//     }
//   }
//   .course-info {
//     float: left;
//     width: 390px;
//     width: 388px\9;
//     padding: 15px 20px 15px 5px;
//     background-color: #fff;
//     @media (max-width: @screen-md-max) {
//       width: 350px;
//       width: 348px\9;
//       padding: 8px 10px;
//     }
//     @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
//       width: 358px;
//       width: 356px\9;
//       height: 212px;
//       .border-top-right-radius();
//     }
//     @media (max-width: @screen-xs-max) {
//       float: none;
//       width: 100%;
//     }
//   }
//   .course-operation {
//     float: right;
//     width: 238px;
//     @media (max-width: @screen-md-max) and (min-width: @screen-md-min) {
//       width: 188px;
//       padding: 10px;
//     }
//     @media (max-width: @screen-sm-max) {
//       float: none;
//       width: 100%;
//       padding: 10px 10px 0 10px;
//     }
//     .buy {
//       padding: 26px 0;
//       text-align: center;
//       @media (max-width: @screen-md-max) {
//         padding: 12px 0;
//       }
//       @media (max-width: @screen-sm-max) {
//         padding: 18px 0 10px 0;
//         float: left;
//         width: 33.33%;
//       }
//       @media (max-width: @screen-xs-max) {
//         width: 50%;
//       }
//       .btn {
//         padding: 10px 30px;
//       }
//     }
//   }
//   .course-data {
//     border-bottom: 1px solid @gray-lighter;
//     @media (max-width: @screen-sm-max) {
//       float: left;
//       width: 33.33%;
//       margin-bottom: 0;
//       border: none;
//     }
//     @media (max-width: @screen-xs-max) {
//       width: 50%;
//     }
//     >li {
//       width: 50%;
//       @media (max-width: @screen-xs-max) {
//         width: 50%;
//       }
//     }
//     &.active >li {
//       width: 33.33%;
//     }
//   }
// }
// .course-detail-header.after {
//   .course-img {
//     width: 300px;
//     margin: 15px;
//     @media (max-width: @screen-md-max) {
//       width: 240px;
//       margin: 10px;
//     }
//     @media (max-width: @screen-xs-max) {
//       width: 100%;
//       margin: 0;
//     }  
//   }
//   .course-info {
//     float: left;
//     width: 570px;
//     width: 568px\9;
//     padding: 15px 25px;
//     background-color: #fff;
//     @media (max-width: @screen-md-max) {
//       width: 470px;
//       width: 468px\9;
//       padding: 10px;
//     }
//     @media (max-width: @screen-sm-max) {
//       width: 320px;
//       width: 318px\9;
//     }
//     @media (max-width: @screen-xs-max) {
//       width: 100%;
//     }
//   }
//   .course-operation {
//     float: right;
//     width: 238px;
//     @media (max-width: @screen-md-max) {
//       width: 208px;
//       padding: 10px;
//     }
//     @media (max-width: @screen-sm-max) {
//       width: 138px;
//     }
//     @media (max-width: @screen-xs-max) {
//       width: 100%;
//     }
//   }
//   .course-data {
//     padding: 16px 0;
//     margin-bottom: 0;
//     &.two-col>li {
//       width: 50%;
//     }
//   }
//   .progress {
//     height: 11px;
//     margin-bottom: 0;
//   }
//   .course-header-bottom {
//     padding: 15px;
//     line-height: 40px;
//     color: @gray;
//     .next-class {
//       float: right;
//       margin-right: 50px;
//       max-width: 600px;
//       .text-overflow;
//       @media (max-width: @screen-md-max) {
//         max-width: 400px;
//       }
//       @media (max-width: @screen-md-max) {
//         max-width: 250px;
//         margin-right: 30px;
//       }
//       >a {
//         color: @gray;
//         .es-transition;
//         &:hover {
//           color: @brand-primary;
//           .es-transition;
//         }
//       }
//     }
//     .btn {
//       float: right;
//       padding: 10px 30px;
//       // margin-right: 20px;
//       // @media (max-width: @screen-md-max) {
//       //   margin-right: 10px;
//       // }
//       // @media (max-width: @screen-md-max) {
//       //   margin-right: 0;
//       // }
//     }
//   }
// }
// .course-material {
//   input {
//     margin-right: 10px;
//   }
// }
// .course-detail-content img {
//   max-width: 100%;
//   height: auto;
// }

// 课程侧边栏
.belongs-class {
  .media-left {
    img {
      width: 100px;
      height: auto;
      border: 3px solid @border-color;
      .border-radius;
    }
  }
  .media-body {
    vertical-align: middle;
    >a {
      color: @gray-dark;
      .es-transition;
      &:hover {
        color: @brand-primary;
        .es-transition;
      }
    }
  }
}

// 推荐班级
.panel-class {
  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 35%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    .border-radius(50%);
    background-color: #7f7f7f;
    background-color: rgba(127, 127, 127, 0.5);
    color: #fff;
    text-align: center;
    .es-transition;
    visibility: hidden;
    &:hover {
      background-color: rgba(127, 127, 127, 0.8);
      .es-transition;
    }
  }
  .arrow-prev {
    left: 5px;
  }
  .arrow-next {
    right: 5px;
  }
  &:hover {
    .arrow-prev,
    .arrow-next {
      visibility: visible;
    }
  }
}

.course-detail {
  margin-top: -10px; 
}
.course-detail-content{
  .es-piece{
    margin-bottom: 50px;
    .piece-body p{
      line-height: 30px;
      margin-bottom: 0px;
      margin-left: 15px;
    }
  }
  .task-list-detail{
    margin-bottom: 0px;
    // .left-menu{
    //   position: absolute;
    //   top: 16px;
    //   left: 15px;
    // }
    // .btn-learn{
    //   color: #fff;
    // }
    // .right-menu{
    //   position: absolute;
    //   right: 20px;
    //   top: 15px;
    // }
    // .task-item-chapter {
    //   background-color: #f8f8f8;
    //   margin-bottom: 15px;
    // }

    // .task-item-unit{
    //   background-color: #f8f8f8;
    //   margin-bottom: 15px;
    // }
    // .task-item{
    //   padding:0px 0px 0px 40px;
    //   background-color: #fff;
    // }
    // .title{
    //   min-width: 430px;
    //   padding-top: 16px;
    //   padding-bottom: 16px;
    // }
  }
}



// 待删befoer 2.0
// .recommend-class {
//   background-color: #fff;
//   @media (max-width: @screen-xs-max) {
//     display: none;
//   }
//   .container {
//     position: relative;
//     box-shadow: -2px 0 1px #f5f5f5;
//   }
//   .class-label {
//     position: absolute;
//     top: 35px;
//     bottom: 35px;
//     right: 100%;
//     padding: 25px 13px;
//     color: #fff;
//     text-align: center;
//     background-color: @brand-primary;
//     @media (max-width: @screen-md-max) {
//       top: 30px;
//       bottom: 30px;
//       padding: 10px 10px;
//     }
//   }
// }


// .recommend-class {
//   .recommend-class-list {
//     position: relative;
//     padding: 20px 10px;
//   }
//   .swiper-container {
//     height: 175px;
//     @media (max-width: @screen-md-max) {
//       height: 150px;
//     }
//     @media (max-width: @screen-sm-max) {
//       height: 112px;
//     }
//   }
//   .class-item {
//     margin: 15px 10px;
//     @media (max-width: @screen-md-max) {
//       margin: 0 5px;
//     }
//   }
//   .class-belong {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     width: 50px;
//     height: 50px;
//     padding: 10px;
//     text-align: center;
//     background-color: #37b97d;
//     color: #fff;
//     font-size: 12px;
//     .border-radius(50%);
//   }
//   .swiper-slide {
//     width: 25%;
//     float: left;
//     h3 {
//       @media (max-width: @screen-md-max) {
//         font-size: 14px;
//         margin-bottom: 0;
//       }
//       @media (max-width: @screen-xs-max) {
//         display: none;
//       }
//     }
//   }
//   .arrow-prev,
//   .arrow-next {
//     position: absolute;
//     top: 50%;
//     margin-top: -22px;
//     z-index: 100;
//     >i {
//       color: @gray;
//       font-size: 30px;
//     }
//     &:hover {
//       cursor: pointer;
//       >i {
//         color: @brand-primary;
//       }
//     }
//   }
//   .arrow-prev {
//     left: -10px;
//   }
//   .arrow-next {
//     right: -10px;
//   }
// }

// .class-detail {
//   margin-top: -10px;
// }