.live-course-body {
  .es-live-back {
    ul {
      li {
        .dat {
          background: @brand-primary;
        }
        a {
          
          &:hover {
            color: @brand-primary;
          }
        }
      }
    }
  }
  .es-live-all{
    .media-body{
      .user a {
        &:hover {
            color: @brand-primary;
        }
      }
    }
  }
}
