.testpaper-batch-set-score {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0px !important;
  .score-item {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-bottom: 20px;
    .score-item-type {
      width: 70px;
      float: left;
    }

    .score-item-count-div {
      margin-left: 8px;
      width: 70px;
      float: left;
    }

    .score-empty {
      left: 190px;
      position: relative;
    }

    .score-item-score-div {
      position: relative;
      margin-left: 8px;
      min-width: 318px;
      float: left;
      .js-score {
        margin-left: 8px;
        width: 120px;
        top: 0px;
        position: absolute;
        left: 70px;
      }
      .js-score-type {
        margin-bottom: 2px;
      }
      .input-group {
        top:0px;
        left: 206px;
        position: absolute!important;
      }
      .input-select {
        left: 0px !important;
      }
    }
  }

}

.testpaper-question-options {
  .testpaper-question-option-item {
    margin-bottom: 16px;
  }
  .empty-tip {
    margin-left: 60px;
  }
  .item-score {
    margin-left:8px;
  }
  .option-item-fill {
    .input-group {
      display: inline-block !important;
      margin-left: 10px;
      .input-group-btn {
        display: inline-block !important;
      }
      .dropdown-toggle {
        background: #fff;
        width: 60px !important;
        height: 34px !important;
        padding: 0px 5px !important;
      }
    }
    .score-validate {
      margin-left: 58px;
      width: 133px;
      position: absolute;
      top: 0px;
      display: inline-block;
      float: none !important;
    }
    .empty-tip{
      margin-left: 199px !important;
    }
  }

  .option-item-choice,.option-item-uncertain_choice {
    .input-group {
      display: inline-block !important;
      margin-left: 10px;
      .input-group-btn {
        display: inline-block !important;
      }
      .dropdown-toggle {
        background: #fff;
        width: 60px !important;
        height: 34px !important;
        padding: 0px 5px !important;
      }
    }
    .score-validate {
      margin-left: 59px;
      width: 60px;
      position: absolute;
      top: 0px;
      display: inline-block;
      float: none !important;
    }
    .empty-tip{
      margin-left: 185px !important;
    }
  }
}

