<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
</head>
<body
  style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: '微软雅黑'; font-size: 14px; margin: 0; padding: 0;">
<p>尊敬的用户您好！</p>
<p>感谢您注册账号！</p>
<p>
  您的邮箱验证码为：<b>{{ verifyCode }}</b><br/>
  （为防止滥用，该验证码将于 <b>30分钟</b> 内有效）。
</p>
<p>请注意保护您的账号安全，切勿向他人泄露此验证码。</p>
<p>如果这不是您本人的操作，请忽略此邮件。</p>
<p>祝您使用愉快！</p>
</body>

</html>
