<div class="bar-user-center">
  <a target="_blank" href="{{ path('my_courses_learning') }}" ><img class="avatar-md" src="{{ filepath(app.user.largeAvatar, 'avatar.png') }}"></a>
  <p>{{ app.user.nickname }}</p>
</div>