<tr>
    <td><input type="checkbox" data-role="single-select"></td>
    <td>
        <div class="clearfix course-header">
            <a href="">
            <img class="picture" src="/files/course/2014/12-17/1739219d9ab9012864.jpg?4.4.3">
            </a>

            <a class="title">课程名称课程名称课程名称</a>
            <div class="teachers">
                <a href="" data-toggle="modal" data-url="" >教师：xxx</a>
            </div>
        </div>

    </td>
    <td>341.50</td>
    <td>
        <a href="#" class="btn btn-link">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="删除"></span>
        </a>

        <a href="#" class="btn btn-link">
            <span class="glyphicon glyphicon-bookmark"　data-toggle="tooltip" data-placement="top" title="收藏"></span>
        </a>
    </td>
</tr>