<!-- 侧边栏快捷操作 -->

  <div class="es-bar hidden-xs">

    {% if app.user is empty %}
      <input type="hidden" id="notLogin">
    {% endif %}

    <!-- 左侧列表 -->
    {% include 'TopxiaWebBundle:EsBar:left-list.html.twig' %}

    <!-- 列表内容 -->
    {% include 'TopxiaWebBundle:EsBar:list-content.html.twig' %}

  </div>