<div class="es-bar-menu">
  <ul class="bar-menu-top">
    {% include 'TopxiaWebBundle:EsBar:LeftList/study-center.html.twig' %}
    {% include 'TopxiaWebBundle:EsBar:LeftList/my-learn-result.html.twig' %}
    {% include 'TopxiaWebBundle:EsBar:LeftList/my-learn-place.html.twig' %}
    {% include 'TopxiaWebBundle:EsBar:LeftList/my-notification.html.twig' %}
  </ul>
  <ul class="bar-menu-sns">
    {% if setting('consult.enabled', 0)  %}
      {% include 'TopxiaWebBundle:EsBar:LeftList/qq-consult.html.twig' %}
      {% include 'TopxiaWebBundle:EsBar:LeftList/phone-consult.html.twig' %}
      {% include 'TopxiaWebBundle:EsBar:LeftList/wechat-consult.html.twig' %}
    {% endif %}

    {% if setting('mobile.enabled', 0) %}
      <li data-toggle="tooltip" data-placement="left" title="{{'手机端'|trans}}">
        <a href="{{ path('mobile') }}" target="_blank"><i class="es-icon es-icon-phone1"></i></a>
      </li>
    {% endif %}
    <li class="go-top" style="margin:-10px auto 0 auto;" data-toggle="tooltip" data-placement="left" title="{{'回到顶端'|trans}}">
      <a href="javascript:;">
        <i class="es-icon es-icon-keyboardarrowup" style="margin-bottom:-8px"></i>
        <span class="text-sm">TOP</span>
      </a>
    </li>
  </ul>
</div>