{% if app.user and app.user.isLogin() %}
  <!-- 通知 -->
  {% include 'TopxiaWebBundle:EsBar:ListContent/notification.html.twig' %}

  <!-- 考试/作业 -->
  {% include 'TopxiaWebBundle:EsBar:ListContent/practice.html.twig' %}

  <!-- 课程/班级 -->
  {% include 'TopxiaWebBundle:EsBar:ListContent/study-place.html.twig' %}

  <!-- 学习中心 -->
  {% include 'TopxiaWebBundle:EsBar:ListContent/study-center.html.twig' %}

  {% include 'TopxiaWebBundle:EsBar:ListContent/consult.html.twig' %}
  <!-- 学习历史 -->
  {#<div class="es-bar-main" id="bar-history">
    <div class="bar-main-header">
      <a href="javascript:;" class="js-bar-shrink pull-left link-light" data-url="" id="bar-my-history"><i class="es-icon es-icon-arrowforward"></i></a>
      学习历史
    </div>
    <div class="bar-main-body" id="bar-history-list">

    </div>
  </div>#}

{% endif %}