
<ul class="bar-preview">
  {% if liveLessons %}
    {% for liveLesson in liveLessons %}
    <li>
      <p class="text-overflow"><i class="es-icon es-icon-calendar"></i><a class="link-light" href="{{ path('course_learn', {id:liveLesson.courseId}) ~ '#lesson/' ~ liveLesson.id }}">{{ liveLesson.title }}</a></p>
      <p class="date">{{ liveLesson.startTime|date('Y-m-d H:i:s') }}</p>
    </li>
    {% endfor %}
  {% else %}
    <li>
      <p class="text-overflow"><i class="es-icon es-icon-calendar"></i>暂无直播课</p>
    </li>
  {% endif %}
</ul>
