{% if classrooms %}
  {% for classroom in classrooms %}
    <div class="bar-task">
      <div class="bar-task-header">
        {{ classroom.title }}
      </div>
      <ul class="bar-time-line">
        {{ render(controller('TopxiaWebBundle:EsBar/EsBar:studyPlanLesson',{classroomId:classroom.id} )) }}
      </ul>
    </div>
  {% endfor %}
{% endif %}