{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}学员备注{% endblock %}
{% block body %}

<form id="student-remark-form" method="post" action="{{ path('course_manage_student_remark', {courseId:course.id, userId:user.id}) }}">

  <div class="form-group">
    <div class="controls">
    	<input class="form-control" id="student-remark" name="remark" value="{{member.remark}}" >
      <div class="help-block">请填写学员的备注信息</div>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#student-remark-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
<script>app.load('course-manage/student-remark')</script>
{% endblock %}
