.confirmation-modal {
  .modal-dialog {
    @media(min-width: @screen-sm-min) {
      width: 376px;
    }
    .modal-body {
      font-size: 12px;
      color: @cd-gray-dark;
      padding-bottom: 24px;
    }
    .close {
      display: none;
    }
  }
}
  