.cd-course-line {
  padding: 40px;
  .cd-box-shadow;
  .cd-course-img {
    margin-right: 40px;
    width: 192px;
    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
      margin-right: 12px;
    }
  }
  .cd-course-title {
    font-size: 18px;
    line-height: 1;
  }
  .cd-course-info {
    margin-top: 16px;
    width: 45%;
  }
  .cd-course-progress {
    font-size: 12px;
    line-height: 1;
    color: @cd-gray;
    .cd-progress {
      margin-left: 16px;
      margin-right: 12px;
      display: inline-block;
    }
  }
  .course-btn-group {
    margin-top: 34px;
  }
}