.dropdown-menu.ca-dropdown-menu {
  border: none;
  .ca-box-shadow;
  min-width: 80px;
  font-size: 12px;
  &.ca-dropdown-menu-right {
    left: auto;
    right: 0;
  }
  > li > a {
    padding: 10px 16px;
    line-height: 1;
    color: @gray-dark;
    background: none;
    &:hover {
      color: @gray-dark;
      background-color: #f5f5f5;
    }
  }
}