.cd-image-upload {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  .cd-transition;
  &:hover {
    .image-upload-mask {
      opacity: 1;
    }
  }
  .image-upload-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    line-height: 1px;
    font-size: 14px;
    .cd-transition;
    i {
      font-size: 48px;
      display: block;
      margin-bottom: 8px;
    }
  }
  .image-upload-content {
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;
    top: 50%;
    margin-top: -35px;
  }
  .image-upload-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
  }
}
.image-upload-tip {
  position: absolute;
  top: 135px;
  left: 10px;
  right: 0;
  font-size: 12px;
  line-height: 1;
  color: @cd-gray-light;
}