.cd-inform {
  position: relative;
  i {
    font-size: 24px;
  }
}
.cd-inform-num {
  position: absolute;
  top: 12px;
  right: -4px;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: @brand-danger;
  font-size: 12px;
  line-height: 1;
  .cd-border-radius(50%);
  color: #fff;
  border: 2px solid #fff;
}