.cd-panel {
  padding-left: 0;
  padding-right: 0;
  min-height: 438px;
  .border-radius;
  background-color: #fff;
  .cd-box-shadow;
  .cd-panel-heading {
    position: relative;
    padding: 24px 0;
    .opacity(0.8);
    .border-bottom-left-radius(0);
    .border-bottom-right-radius(0);
    .cd-box-shadow(2px, 0.04, 0.16);
  }
  .cd-panel-body {
    padding: 24px;
  }
}