.cd-panel {
  min-height: 518px;
  .border-radius;
  background-color: #fff;
  .cd-box-shadow;
  .cd-panel-heading {
    position: relative;
    padding: 24px 0;
    .border-bottom-left-radius(0);
    .border-bottom-right-radius(0);
    .cd-box-shadow(2px);
  }
  .cd-panel-body {
    padding-top: 24px;
  }
}