.cd-design {
  .popover {
    border: none;
    padding: 0;
    .cd-box-shadow(8px, 0.1, 0.2);
  }
  .popover-title {
    color: @cd-gray-dark;
    font-weight: 500;
    border: none;
    .cd-box-shadow-inset(0 0 1px 0);
  }
  .popover-content {
    color: @cd-gray-dark;
  }
}