.ca-status {
  position: relative;
  display: inline-block;
  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
  }
  &.ca-status-danger {
    &:before {
      background: @brand-danger;
    }
  }
  &.ca-status-info {
    &:before {
      background: @brand-info;
    }
  }
  &.ca-status-warning {
    &:before {
      background: @brand-warning;
    }
  }
  &.ca-status-success {
    &:before {
      background: @brand-success;
    }
  }
  &.ca-status-disabled {
    &:before {
      background: #eee;
    }
  }
}