.cd-step {
  margin-bottom: 0;
  padding: 24px 48px;
  li {
    float: left;
    padding: 15px;
    list-style-type: none;
    color: @cd-bg-dark;
    font-size: 14px;
    text-align: center;
    .number {
      width: 24px;
      height: 24px;
      line-height: 24px;
      display: inline-block;
      margin-right: 8px;
      font-size: 12px;
      border: 1px solid @cd-bg-dark;
      background-color: #fff;
      color: @cd-gray-light;
      .border-radius(50%);
    }
    &.done,
    &.doing {
      border-color: @brand-primary;
      .number {
        color: @brand-primary;
        border-color: @brand-primary;
      }
    }
    &.done {
      color: @brand-primary;
    }
    &.doing {
      color: @cd-bg-dark;
    }
  }
}

.cd-step__one {
  position: absolute;
  &:after {
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 100%;
    background-color: @cd-bg-dark;
  }
}