.cd-steps {

  &.cd-steps-4 {
    .cd-steps-item {
      &:not(:last-child) {
        margin-right: -39px;
        width: 33.3%;
      }
      &:first-child {
        .cd-steps-content {
          .content-wrap {
            .circle-wrap {
              margin-left: 4px;
            }
          }
        }
      }
      .cd-steps-tail {
        padding-right: 39px;
      }
    }
  }

  &.cd-steps-3 {
    .cd-steps-item {
      &:not(:last-child) {
        margin-right: -75px;
        width: 50%;
      }
      .cd-steps-tail {
        padding-right: 75px;
      }
    }
  }

  &.cd-steps-2 {
    .cd-steps-item {
      &:not(:last-child) {
        margin-right: -50px;
        width: 90%;
        @media(max-width: @screen-xs-max) {
          width: 70%;
        }
      }
      .cd-steps-tail {
        padding-right: 50px;
      }
    }
  }

  .cd-steps-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    // 第一个孩子
    &:first-child {
      .cd-steps-content {
        .content-wrap {
          .content-number {
            margin-left: 36px;
          }
        }
      }
    }
    // 最后一个孩子
    &:last-child {
      .cd-steps-tail {
        padding-right: 0;
        display: none;
      }
      .cd-steps-content {
        .content-wrap {
          & + .content-wrap {
            padding-right: 0;
          }
        }
      }
    }
    // 连接线
    .cd-steps-tail {
      position: absolute;
      left: 0;
      width: 100%;
      top: 11px;
      padding: 0 10px;
      i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background: @cd-bg-dark;
        height: 2px;
        .border-radius(2px);
        width: 100%;
      }
    }
    // 圈圈提示
    .cd-steps-content {
      .content-wrap {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        & + .content-wrap {
          margin-left: -4px;
          padding-right: 16px;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .content-number {
        margin-left: 14px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        border: 1px solid @cd-bg-dark;
        background-color: #fff;
        color: @cd-gray-light;
        .border-radius(50%);
      }

      .content-info {
        font-size: 14px;
        line-height: 1;
        color: @cd-gray-light;
      }
    }
    &.done,
    &.doing {
      .content-number {
        color: @brand-primary;
        border-color: @brand-primary;
      }
      .content-icon {
        background-color: @brand-primary;
        color: #fff;
      }
      .content-info {
        color: @cd-gray-dark;
      }
    }

    &.doing {
      @media(max-width: @screen-xs-max) {
        width: 100% !important;
        text-align: center;
        .cd-steps-tail {
          display: none;
        }
      }
    }
  }
}