.side-autumn-default .panel-title {
  color: #f78a4b;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}

.side-autumn-primary .panel-title {
  color: @brand-primary;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}

.side-autumn-primary .panel-title small {
  color: @brand-primary;
}


.side-autumn-primary .panel-title {
  font-size: 20px;
  line-height: 24px;
  padding: 15px 0 5px;
}

.more-autumn-default {
  line-height: 44px;
  color: #f78a4b;
}

.more-autumn-default:hover {
  color: #f78a4b;
  text-decoration: underline;
}

.more-autumn-primary {
  line-height: 44px;
  color: @brand-primary;
}

.more-autumn-primary:hover {
  color: @brand-primary;
  text-decoration: underline;
}

.status-side ul {
  padding-left: 0;
  list-style: none;
}

.status-side li {
  overflow: hidden;
}

.status-side li img {
  width: 50px;
  height: 50px;
}
