{% extends 'TopxiaAdminBundle:Courseware:manage.html.twig' %}

{% set script_controller = '' %}

{% block list %}

<div id="aticle-table-container">
  <table class="table table-hover table-striped" id="courseware-item-list">
    <thead>
      <tr>
        <th width="10%"><input type="checkbox"  data-role="batch-select">全选</th>
        <th width="">文件名</th>
        <th width="">知识点</th>
        <th width="">
          <span style="float: right;">
            <a href="{{path('admin_courseware_manage', {categoryId:category.id, type:'list'}) }}">
               <span class="glyphicon glyphicon-th-large" />
            </a>
            <a href="{{path('admin_courseware_manage', {categoryId:category.id, type:'thumb'}) }}">
              <span class="glyphicon glyphicon-th-list" />
            </a>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for courseware in coursewares %}
        {% include 'TopxiaAdminBundle:Courseware:list-view-tr.html.twig' %}
      {% else %}
        <tr class="empty"><td colspan="20">无文件记录</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}