<tr>
  <td><input type="checkbox"  data-role="batch-select"></td>
  <td>{{ courseware.title }}</td>
  <td>{{ courseware.knowledgeIds }}</td>
  <td>
    <a class="btn btn-link update-courseware-btn" data-url=""><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-link update-courseware-btn" data-url=""><span class="glyphicon glyphicon-eye-open"></span></a>
    <a class="btn btn-link delete-courseware-btn" data-url=""><span class="glyphicon glyphicon-trash"></span></a>
  </td>  
</tr>