{% extends 'TopxiaAdminBundle:CategoryManage:layout.html.twig' %}

{% block title %}课件管理 - {{ parent() }}{% endblock %}
{% set nav = 'course' %}
{% set side_nav = 'courseware' %}
{# {% set script_controller = 'courseware/main' %} #}

{% block main %}
<div class="page-header clearfix">
  <h1 class="pull-left">课件管理</h1>
</div>

<div class="courseware-list">
<div>
{% endblock %}