<li class="course-grid item-material">
  <div style="width: 180px; height: 180px; padding: 8px;">
    <input value="{{courseware.id}}" type="checkbox" data-role="batch-item" >

    <span class="text-sm">{{ courseware.title }}</span>
    <span class="row">
      <a class="center-block btn btn-link delete-material-btn" data-url=""><span class="glyphicon glyphicon-trash"></span>删除</a>
    </span>
  </div>
</li>
