<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}

      {% if data.targetType == 'classroom' %}
        {% set classroom = get_classroom_name() ~ '<a href="' ~ path('classroom_show', {id:data.targetId}) ~ '" target="_blank"><strong> ' ~ data.title ~ '</strong></a>' %}
        {% set url = path('classroom_reviews',{id:data.targetId}) %}
        {{ 'notification.comment-post.classroom_review_reply'|trans({'%classroom%':classroom, '%url%':url})|raw }}
      {% else %}
        {% set url = path('course_show',{id:data.targetId, tab:'reviews'}) %} }
        {{ 'notification.comment-post.course_review_reply'|trans({'%course%':data.title, '%url%':url})|raw }}
      {% endif %}
    </div>

    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
