<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      {{ 'notification.delete-cloud-mp4'|trans }}       
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }} 
    </div>
  </div>
</li>
