{% import 'macro.html.twig' as macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
    {% set data = notification.content %}
    {% set where = macro.link('user.cards_menu'|trans, path('my_cards', {cardType:'coupon'})) %}
    {{ 'notification.invite-reward'|trans({'%rewardName%':data.rewardName, '%settingName%':data.settingName, '%where%':where})|raw }}
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>