{% import 'macro.html.twig' as macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      {% set question = macro.link(data.questionTitle, path('course_thread_show',{courseId:data.courseId,threadId:data.threadId})) %}
      {{ 'notification.questionRemind'|trans({'%courseTitle%':data.courseTitle, '%question%':question})|raw }}
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>
