{% import 'macro.html.twig' as macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}

      {% set who = macro.link(data.nickname, path('user_show', {'id':data.userId})) %}
      {% set do = macro.link('notification.materialLib.click_to_view'|trans, path('material_lib_browsing', {'type':'all', 'viewMode':'thumb', 'source':'shared', 'sourceFrom':'sharing'})) %}
      {{ 'notification.materialLib.share'|trans({'%who%':who, '%do%':do})|raw }}

    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>