{% import 'macro.html.twig' as macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      {% set aa = macro.bytesToSize(1111) %}
       {% if data.thread %}
         {% set who = macro.link(data.user.nickname, path('user_show', {id:data.user.id})) %}
         {% set thread = macro.link(data.thread.title, path('thread_post_jump', {threadId:data.thread.id, postId:data.id})) %}
         {{ 'notification.thread.post_create'|trans({'%who%':who, '%thread%':thread})|raw }}
      <blockquote>
        {{ data.content }}
      </blockquote>
      {% else %}
        {% include 'notification/widget/item-article.post_create.html.twig' %}
      {% endif %}
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>