.article-list-header {
  .row {
    margin: 0 -5px;
  }
}

// 轮播
.aricle-carousel {
  padding: 0 5px;
  .item {
    img {
      width: 100%;
      max-height: 410px;
      border-radius: 4px;
    }
  }
  .carousel-caption {
    font-size: 24px;
    width: 100%;
    left: 0;
    text-align: left;
    padding-left: 20px;
    text-shadow: 0 0 0;
    @media (max-width: @screen-md-max) {
      font-size: 20px;
    }
    @media (max-width: @screen-sm-max) {
      font-size: 18px;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 16px;
    }
  }
  .carousel-indicators {
    bottom: 10px;
    li {
      margin: 0 5px;
    }
    .active {
      height: 10px;
      width: 10px;
    }
  }
}

.article-header-right {
  padding: 0 5px;
}

.topic-post-small {
  width: 100%;
  margin-bottom: 10px;
  height: 200px;
  color: #fff;
  border-collapse: collapse; 
  display: table;
  color: #fff;
  &:hover {
    color: #fff;
  }
  @media (max-width: @screen-md-max) {
    height: 165px;
  }
  .border-radius; 
  &.one {
    background-image: -webkit-linear-gradient(top, #cced6a, #21aa68);
    background-image: -o-linear-gradient(top, #cced6a, #21aa68);
    background-image: -webkit-gradient(top, #cced6a, #21aa68); 
    background-image: -moz-linear-gradient(top, #cced6a, #21aa68); 
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cced6a', EndColorStr='#21aa68'); 
    &:hover {
      background-image: -webkit-linear-gradient(top, #21aa68, #cced6a);
      background-image: -o-linear-gradient(top, #21aa68, #cced6a);
      background-image: -webkit-gradient(top, #21aa68, #cced6a);
      background-image: -moz-linear-gradient(top, #21aa68, #cced6a);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#21aa68', EndColorStr='#cced6a'); 
    }
  }
  &.two {
    margin-bottom: 0;
    .es-transition(1s);
    background-image: -webkit-linear-gradient(top, #d987eb, #6124bd);
    background-image: -o-linear-gradient(top, #d987eb, #6124bd);
    background-image: -webkit-gradient(top, #d987eb, #6124bd);
    background-image: -moz-linear-gradient(top, #d987eb, #6124bd);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#d987eb', EndColorStr='#6124bd'); 
    &:hover {
      .es-transition(1s);
      background-image: -webkit-linear-gradient(top, #6124bd, #d987eb);
      background-image: -o-linear-gradient(top, #6124bd, #d987eb);
      background-image: -webkit-gradient(top, #6124bd, #d987eb);
      background-image: -moz-linear-gradient(top, #6124bd, #d987eb);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6124bd', EndColorStr='#d987eb'); 
    }  
  }
  .content {
    padding-right: 30%;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    .title {
      margin: 0;
      line-height: 25px;
    }
    p {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
}

.article-list-mian {
  .article-item {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
    @media (max-width: @screen-xs-max) {
      .media-left {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
    }
     .content {
      margin-top: 15px;
      color: @gray;
    }
  }
  .media {
    color: @gray;
    .media-body {
      padding-left: 10px;
      line-height: 25px;
    }
    img {
      border-radius: 6px;
    }
  }
  .pager {
    margin: 40px 0 20px 0;
  }
}

.article-metas {
  overflow: hidden;
  .date {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    text-align: center;
    color: #d3d3d3;
    border: 1px solid @gray;
    border-radius: 50%;
    .day {
      font-size: 18px;
      line-height: 1.2;
    }
    .month {
      font-size: 12px;
    }
  }
  .metas-body {
    padding-left: 60px;
    p {
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 12px;
    }
    .title {
      margin: 0;
      line-height: 36px;
      @media (max-width: @screen-md-max) {
        font-size: 20px;
        line-height: 30px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 16px;
        line-height: 20px;
      }
      a {
        color: @gray-dark;
        .es-transition;
        &:hover {
          color: @brand-primary;
          .es-transition;
        }
      }
    }
    .sns {
      margin: 10px auto;
      span {
        margin-right: 10px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}

// 侧边栏
.article-sidebar {
  /*热门资讯、推荐资讯*/
  .hot-article,
  .recommend-article {
    .media {
      &:nth-child(1) .num,
      &:nth-child(2) .num,
      &:nth-child(3) .num {
        border-color: @brand-primary;
        color: @brand-primary;
      }
    }
    .media-left {
      position: relative;
      color: @gray;
      .num {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border: 1px solid @gray;
        border-radius: 50%;
      }
    }
    .media {
      border-bottom: 1px solid #f6f6f6;
      padding-bottom: 15px;
      .media-body {
        a {
          height: 36px;
          overflow: hidden;
          display: block;
          color: @gray;
        }
        a:hover {
          color: @brand-primary;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  /*热门标签*/
  .hot-tag {
    .btn-tag {
      margin: 10px 15px 10px 0;
    }
  }

  /*热门评论*/
  .hot-comments {
    img {
      width: 40px;
      height: 40px;
    }
    .comments-info {
      padding-left: 50px;
      p {
        margin: 0;
        font-size: 12px;
        color: #e2e2e2;
        margin-top: 2px;
        a {
          margin-right: 10px;
        }
      }
      h5 {
        margin: 0;
        a {
          color: @gray;
          height: 20px;
          display: inline-block;
          line-height: 20px;
        }
        a:hover {
          color: @brand-primary;
        }
      }
    }
    .comments-content {
      padding: 10px;
      background: @gray-lighter;
      color: @gray;
      line-height: 25px;
      border: 1px solid #f1f1f1;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}

