
// 资讯内容
.article-text {
  p {
    line-height: 30px;
    margin: 20px auto 30px auto;
    @media (max-width: @screen-xs-max) {
      margin: 10px auto 20px auto;
    }
  }
  p>img,
  >img {
    margin: 10px auto;
    .img-responsive;
    .border-radius;
  }
}

.article-sns {
  margin: 30px auto 10px auto;
  font-size: 16px;
  a.love,
  .es-share > a {
    margin-right: 10px;
    color: @gray;
    &:hover {
      color: @brand-primary;
    }
    i {
      margin-right: 5px;
    }
  }
}

.article-content >.es-commet {
  margin: 30px auto;
}

// 资讯标签
.article-tags {
  .btn-tag {
    margin: 5px 10px 5px 0;
  }
}

// 相关资讯
.related-artcile {
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid @gray-light;
  border-bottom: 1px solid @gray-light;
  .row {
    margin: 0 -5px;
  }
  .col-sm-4 {
    position: relative;
    display: block;
    padding: 0 5px;
    margin: 5px auto;
  }
  .related-item {
    position: relative;
    .border-radius;
    overflow: hidden;
    // &:hover img {
    //   .es-transform;
    //   .es-transition;
    // }
    img {
      width: 100%;
      // .es-transition;
    }
  }
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    // bottom: 20px;
    // left: 20px;
    // right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
  }
}

// 留言
.es-commet {
  .badge {
    margin-left: 5px;
  }
  textarea {
    margin: 20px auto;
  }
  >.form-group {
    line-height: 38px;
  }
}

.artcile-comments {
  padding-left: 0;
  border-top: 1px solid @gray-lighter;
}

.media-comment,
.media-subcomment {
  .media-left img {
    width: 48px;
    height: 48px;
    .border-radius(50%);
  }
  .media-body {
    padding-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
    a {
      margin-right: 5px;
    }
    .date {
      margin-left: 5px;
    }
  }
  .comment-sns {
    i {
      margin-right: 5px;
    }
    a {
      color: @gray;
      .es-transition;
      margin-right: 10px;
      &:hover {
        color: @brand-primary;
        .es-transition;
      }
    }
  }
}

.media-comment {
  .media-body {
    border-bottom: 1px solid @gray-lighter;
  }
}

.subcomments {
  margin-left: 20px;
  padding-left: 10px;
  background-color: @gray-lighter;
}