html { 
  overflow-x: hidden;
}

html.html-nav-active {
  overflow: hidden;
}

body {
  .es-transition;
  background-color: @gray-lighter;
}

body.nav-active {
  margin-left: 60%;
  width: 100%;
}

.html-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  .opacity(0.2);
  background: #000;
}

.tooltip {
  min-width:40px;
}

#content-container {
  margin-top: 30px;
}