.es-header {
  background: #3f3f3f;
  margin-bottom: 0;
  .border-radius(0);
  border: none;
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    .es-transition;
    &:hover {
      border-color: @brand-primary;
      .es-transition;
    }
  }
}

.navbar-header {
  @media (max-width: @screen-xs-max) {
    text-align: center;
    .navbar-brand { 
      display: inline-block;
      float: none;
    }
  }
  .navbar-brand {
    color: #fff;
    .es-transition;
    &:hover {
      color: @brand-primary;
      .es-transition;
    }
    img {
      margin-top: -15px;
    }
  }
}


// 菜单
.nav.navbar-nav {
  @media (max-width: @screen-xs-max) {
    float: right;
    margin-left: 0;
    margin-right: 0;
  }
  >li {
    >a {
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      background: none;
      .es-transition;
    }
    &.open.active >a,
    &.open>a:hover, 
    &.open>a:focus,
    &.active >a,
    >a:hover, 
    >a:focus {
      background: none;
      color: @brand-primary;
      .es-transition;
    }
  }
  .navbar-toggle {
    padding: 5px 15px;
    background: #1abc9c;
    .icon-bar {
      background: #fff;
    }
  }
  >li > .dropdown-menu {
    border-radius: 5px;
    li a {
      padding: 10px;
      &:hover {
        background: @brand-primary;
        color: #fff;
      }
    }
  }
}

// 隐藏菜单项
.nav-more {
  display: none;
  .more {
    font-size: 25px;
    height: 10px;
    line-height: 0;
    display: inline-block;
    margin-top: -10px;
  }
  li .dropdown-menu {
    left: 100%;
    top: 0;
  }
  &.open li:hover .dropdown-menu {
    display: block;
  }
}

// 搜索
.navbar-form {
  margin: 10px auto;
  .box-shadow(none);
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
    margin-right: 0;
  }
  .form-group {
    position: relative;
  }
  .form-control {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    .es-transition;
    &.active {
      width: 150px;
    }
  }
  .button {
    position: absolute;
    right: 10px;
    top: 4px;
    border: none;
    background: none;
  }
}

// 头部用户信息
.navbar-user {
  float: right;
  @media (max-width: @screen-xs-max) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.nav.user-nav {
  float: right;
  >li {
    float: left;
    height: 50px;
    >a {
      display: block;
      padding: 15px 12px;
      color: #fff;
      .es-transition;
      &.dropdown-toggle { 
        padding: 5px 15px;
      }
      &:hover,
      &:focus {
        color: @brand-primary;
        background: none;
        .es-transition;
      }
    }
  }
  .dropdown-menu {
    left: -40px;
    @media(max-width:@screen-xs-max){
      width: 160px;
      position: absolute;
      top: 100%;
      left: -90px;
      background: #fff;
      li {
        width: 100%;
      }
    }
    >li {
      > a { 
        padding-left: 10px;
        &:hover {
          .num {
            background: #fff;
            color:@brand-primary;
            .es-transition;
          }
        }
      }
      i { 
        padding: 0 10px;
      }
      .num { 
        background: #999;
        padding: 0 10px;
        border-radius: 20px;
        color: #fff;
        .es-transition;
      }
    }
  }
}

// 手机端
.navbar-mobile {
  position: absolute;
  left: 0;
  left: 0;
  .navbar-more { 
    position: relative;
    padding: 14px 10px;
    display: block;
    color: #fff;
    z-index: 999;
  }
  .nav-mobile {
    width: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    float: none;
    height: 100%;
    background: #3f3f3f;
    z-index: 999;
    visibility: hidden;
    .es-transition;
    &.active {
      visibility: visible;
      width: 60%;
      .es-transition;
    }
  }
  .nav { 
    float: none;
    text-align:left;
    padding-right: 20px;
  }
  .dropdown-menu {
    padding-left: 20px;
  }
  .navbar-form {
    width: 80%;
    margin: 60px auto 20px auto;
    .form-control {
      width:100%;
    }
  }
}