{% do load_script('materiallibbundle/controller/search') %}


<div class="row">
  <div class="col-md-5">
    <input type="hidden" id="js-course-search" style="width: 300px; display: none;" data-url="{{ path('json_query_by_nickname') }}">
  </div>
  <div class="col-md-5">
    <input type="hidden" id="js-user-search" style="width: 300px; display: none;" data-url="{{ path('json_query_by_coursetitle') }}">
  </div>
</div>


