{% do load_script('materiallibbundle/controller/search') %}


<select class="js-course-search">
  <option value="0" selected="selected">搜索课程</option>
</select>

<select class="js-user-search">
  <option value="0" selected="selected">搜索用户</option>
</select>