<table class="table table-striped table-hover" id="materials-table" data-url="{{ path('admin_material_lib_render_table')}}">
  <thead>
    <tr>
      <th width="40%">资源名</th>
      <th>热度</th>
      <th>类型</th>
      <th>大小</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  
  <tbody>
    
  </tbody>
</table>

<input class="js-page" type="hidden" name="page" value="1">

<div data-role="paginator">
  
</div>

