<tbody>
  <tr>
    <td>
      <div>
        <div style="display:inline">
          <a href="">
            <img src="http://demo.edusoho.com/files/user/2015/03-17/172533d6fbf5121921.png?6.15.4">
          </a>
        </div>
        <div style="display:inline">
          sdfdsfsdfs
        </div>
      </div>
    </td>

    <td>
      10
    </td>
    <td>
      视频
    </td>    
    <td>
      1.2G
    </td>
    <td>
      <span class="label label-success">转码成功</span>
    </td>

    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
    </td>
  </tr>
</tbody>