body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  background-color: #f1f1f1;
  overflow-x: hidden;
  margin: 0;
  color: #313131;
}

a {
  text-decoration: none;
}

.clearfix {
  display: block;
  overflow: hidden;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
