body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  overflow-x: hidden;
  margin: 0;
  color: #313131;
}

a {
  text-decoration: none;
}

.primary-btn {
  margin-top: vw(30);
  -webkit-text-fill-color: white;
  font-size: vw(17);
  align-self: stretch; 
  margin-right: 0;
  margin-left: 0;
  border-radius:vw(2);
  background: $primary-color;
  opacity: .6;
}