.van-toast {
  &.van-toast--default {
    padding: 10px;
    width: 125px;
    min-height: 125px;
  }
}
.van-hairline--bottom::after {
  border-bottom-width: 0;
}
.van-tabbar--fixed {
  z-index: 1001;
}

.van-swipe__indicators {
  bottom: vw(45);
  .van-swipe__indicator {
    &--active {
      background-color: $primary-color;
    }
  }
}

.van-popup{
  overflow: auto;
}

.van-cell {
  padding-left: 0;
  padding-right: 0;
  .van-cell__title {
    color: #71777D;
  }
  &:not(:last-child)::after {
    left: 0;
    transform: scaleY(1)
  }
}
