.van-toast {
  &.van-toast--default {
    padding: 10px;
    width: 125px;
    min-height: 125px;
  }
}
.van-hairline--bottom::after {
  border-bottom-width: 0;
}
.van-tabbar--fixed {
  z-index: 10
}

.van-swipe__indicators {
  bottom: vw(45);
  .van-swipe__indicator {
    &--active {
      background-color: $primary-color;
    }
  }
}

.van-cell-group{
  margin-left: vw(20);
  border-top: 1px solid #eee;
  .van-cell {
    padding: vw(10) vw(15) vw(10) 0;
    color: #9BA5B0;
    font-size: vw(14);
  }
  &:after {
    border-width: 0;
  }
}

.van-popup{
  max-height: 100%;
  overflow: auto;
}