{% for path in errorPaths %}
  <tr>
    <td>{{ path }}</td>
    <td>
      <span class="text-danger">X 不可写</span>
    </td>
    <td>可写</td>
    
  </tr>
{% else %}
<tr>
  <td colspan="6" style="text-align: center;color: #c1c1c1;padding: 50px;">文件目录权限正常</td>
</tr>
{% endfor %}
