<li id="chapter-{{ lesson.id }}" class="task-manage-item task-manage-lesson js-task-manage-item drag clearfix " style="cursor: default">
  <div class="item-default-header clearfix">
    <div class="item-line"></div>
    <div class="item-content text-overflow js-item-content">{{ lesson.name }}</div>
    <div class="item-actions">{% if lesson.question_num %}{{ lesson.question_num }}{% endif %}</div>
  </div>
</li>

