<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>text finish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/activities/text/static-dist/css/text.css" rel="stylesheet" />
</head>
<body>
<script src="/static-dist/libs/ltc-sdk-client.js"></script>
<div class="tab-content" id="iframe-content">
    <div class="tab-pane js-course-tasks-pane active js-step2-view">
        <form class="form-horizontal" id="step3-form" >
            <div class=" form-group">
                <div class="col-sm-2 control-label">
                    <label for="condition-select">
                      完成条件
                    </label>
                </div>
                <div class="col-sm-4 form-control-static">
                    观看时长
                    <input type="hidden" id="condition-select" name="finishType">
                </div>
            </div>
            <div class="form-group" id="condition-group">
                <div class="col-sm-2 control-label">
                    <label for="finishDetail">
                      至少观看
                    </label>
                </div>
                <div class="col-sm-4">
                    <input id="finishDetail" class="form-control" type="text" name="finishDetail" value="">
                </div>
                <div class="col-sm-4">
                    <p class="form-control-static">
                      分
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/activities/text/static-dist/js/finish/index.js"></script>
</body>
</html>