/app/cache
/app/logs
/app/data
/app/config/plugin_installed.php
/app/config/plugin.php
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/config/menu_blacklist.yml
/app/config/uc_client_config.php
/app/config/routing_plugins.yml
/app/config/sentry.yml
/web/themes/*
/web/assets/libs/js-sdk/
!/web/themes/autumn
!/web/themes/default
!/web/themes/default-b
!/web/themes/jianmo
!/web/themes/block.json
/web/bundles/*
!/web/bundles/translations/
/web/files
/web/customize/*
!/web/customize/.gitkeep
/plugins/*
!/plugins/.gitkeep
/node_modules/
npm-debug.log
/build/
/scripts/
/.vscode
/.idea
.DS_Store
.sonar
.php_cs.cache
project.sublime-workspace
.project
.settings
.publish
/installFiles
.buildpath
.phpintel*
.crunch
*.css.map
*.codekit
web/php-performance.php
chunk-manifest.json
.npminstall.done
/web/static-dist/*
!/web/static-dist/libs
!/web/static-dist/app
!/web/static-dist/jianmotheme
!/web/static-dist/defaulttheme
!/web/static-dist/defaultbtheme
!/web/static-dist/autumntheme
!/web/static-dist/custombundle
!/web/static-dist/*activity
/web/static-dist/**/css/*.js
deployment-config.json
.webpack-watch.log
/web/MP_*
/h5
yarn-error.log
/mochawesome-report/*
/coverage/*
/reports
/reports_tmp
/edusoho-h5