*.py
Gruntfile.js
package.json
**/node_modules/
**/release/
**/release/*
/.idea
/web/bundles/
/app/cache/*
/app/config/parameters.yml
/app/config/menu_blacklist.yml
/app/data/discuz/
/app/data/plugin_installed.php
/app/data/crontab_config.yml
/app/logs/*
/build
/files
/installFiles
/app/config/uc_client_config.php
/app/config/windid_client_config.php
/app/data/api_server.json
/app/data/udisk/*
/app/data/private_files/*
/app/data/backup/*
/app/data/upgrade/*
/app/config/routing_plugins.yml
/plugins/*
/build/
/vendor/
/bin/
/composer.phar
/scripts
/etc/sublimetext2/edusoho.sublime-workspace
/etc/UpgradeScripts
/web/files/*
/web/files2/*
!/web/files/.gitkeep
/web/customize/*
/web/windid_client_old
!/web/customize/.gitkeep
.DS_Store
.tags*
src/Topxia/Service/Util/DirectCloudClient.php
src/Topxia/WebBundle/Controller/TestController.php
src/Topxia/WebBundle/Resources/views/Test/*
/app/data/install.lock
/app/data/dev.lock
app/data/plugin_installed.php
/web/themes/*
!/web/themes/autumn
!/web/themes/default
!/web/themes/default-b
!/web/themes/jianmo
!/web/themes/block.json
edusoho.komodoproject
.project
.settings
composer.sublime-workspace
web/assets/img/default/video.png
.publish
.buildpath
.phpintel*
/src/Tests/*
/app/data/api_server.json
/installFiles
/app/data/trial.lock
/app/data/session_gc_time.data

