/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/udisk/*
/app/data/private_files/*
/build/
/vendor/
/bin/
/composer.phar
/etc/sublimetext2/edusoho.sublime-workspace
/web/files/*
!/web/files/.gitkeep
/private_files/
/web/customize/content/article/
/web/customize/content/activity/
/web/customize/content/page/
.DS_Store
.tags*
src/Topxia/WebBundle/Controller/TestController.php
src/Topxia/WebBundle/Resources/views/Test/*
