{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'customwebbundle/controller/homework/review' %}

{% block content %}
  <div class="question-set homework-set" id="homework-set">

  {% include 'CustomWebBundle:Homework:homework-heading.html.twig' %}

    <div class="row question-set-body">
      {% include 'CustomWebBundle:HomeworkReview:question-set.html.twig' %}

      <div class="col-md-3 question-set-side">
          <div class="panel panel-default question-set-card" data-spy="affix" data-offset-top="300" data-offset-bottom="200">
              <div class="panel-body">
                {%- for questionId in itemSet.questionIds -%}
                  <a href="javascript:;" class="question-index for-question-{{ questionId }} " data-anchor="{{questionId}}">{{ loop.index }}</a>
                {%- endfor -%}
              </div>

              <div class="panel-footer">
                  <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal" id="submit-review-btn">完成批改</button>
              </div>

          </div>
      </div>
    </div>
  </div>
{% endblock %}