<div class="col-md-9 question-set-main">
  <div class="panel panel-default">
    <div class="panel-heading">作业题目 <small class="text-muted">共{{ itemSet.total }}题</small></div>
    <div class="panel-body">
      <div class="question-set-items">
        {% for item in itemSet.items %}
          {% if item.subItems|default(null) %}
            {% include 'CustomWebBundle:Question:question-set-item-have-sub.html.twig' %}
          {% else %}
            {% include 'CustomWebBundle:Question:question-set-item.html.twig' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>