.mobile-mobile-main-color(@brand-primary) {
  .es-mobile {
    .es-mobile-nav li {
      &.active {
        border-bottom: 1px solid @brand-primary;
        a {
          color: @brand-primary;
        }
      }
      &.active.navs {
        a {
          color: @gray-darker;
        }
      }
    }
  }
}

