<div class="col-lg-3">

      <div class="panel">
        <div class="list-group-panel">
          
          <div class="list-group">
            <a class="list-group-item 
            {% if nav == "index" or nav == "my-courses" %} 
            active
            {% endif %}
            " href="{{ path('my_courses') }}">我的课程</a>

            <a class="list-group-item
              {% if nav == "my-questions" %} 
            active
            {% endif %}
            " href="{{ path('my_questions') }}">我的问答</a>

            <a class="list-group-item
            {% if nav == "my-threads" %} 
            active
            {% endif %}
            " href="{{ path('my_threads') }}">我的帖子</a>

            <a class="list-group-item
            {% if nav == "my-notes" %} 
             active
            {% endif %}
            " href="{{ path('my_notes') }}">我的笔记</a>
            
          </div>

        </div>

      </div>

</div>