<p>
	<strong>主知识点：</strong> {{ mainKnowledge.name|default('') }}
</p>

<p>
	<strong>关联知识点：</strong>
	{% for related in relatedKnowledges %}
		<span>{{ related.name|default('')  }}</span>
	{% endfor %}
</p>

<p>
	<strong>标签：</strong>
	{% for tag in tags %}
		<span>{{ tag.name|default('')  }}</span>
	{% endfor %}
</p>