{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}题目预览{% endblock %}

{% set modal_class = 'modal-lg' %}

{% block body %}

  {% include 'TopxiaWebBundle:QuizQuestionTest:do-test-' ~ type ~ '.html.twig' %}

{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
  <script>app.load('quiz-question/preview');</script>
{% endblock %}