.task-dashboard-page {
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  background-color: #111111;
  height: 100%;
  padding-right: 360px;
  .dashboard-content {
    position: absolute;
    left: 26px;
    right: 26px;
    top:0;
    padding-top: 54px;
    bottom: 60px;
    .dashboard-header{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      height: 54px;
      line-height: 54px;
      color:@gray;
      font-size: 16px;
      z-index: 1;
      .back-link {
        color: @gray;
        padding-right: 20px;
        i {
          font-size: 22px;
          line-height: 1;
        }
        &:hover {
          color: @brand-primary;
        }
      }
    }
    .dashboard-footer {
      position: absolute;
      bottom: -60px;
      left: 0;
      right: 0;
      height: 60px;
      padding: 15px 0;
      color:@gray;
      z-index: 1;
      text-align: right;
    }
    .dashboard-body {
      position: relative;
      background-color: #fff;
      height: 100%;
    }
    .state-opration {
      position: relative;
      display: inline-block;
      height: 31px;
      text-align: right;
      vertical-align: middle;
      min-width: 300px;
      >.btn {
        position: absolute;
        top: 60px;
        right: 0;
        &.open {
          top:0;
        }
        &.moveup {
          -webkit-animation: moveUp 1s;
          -moz-animation: moveUp 1s;
          animation: moveUp 1s;
          top:0;
        }
      }
    }
    .btn-learn {
      .doing {
        display: inline;
      }
      .done {
        display: none;
      }
      &.active {
        .doing {
          display: none;
        }
        .done {
          display: inline;
        }
      }
    }
  }
  .dashboard-sidebar {
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 360px;
    right: -360px;
  }
  .dashboard-toolbar {
    position: absolute;
    top:0;
    left: -58px;
    height: 100%;
    display: table;
    .dashboard-toolbar-nav {
      display: table-cell;
      margin-bottom: 0;
      vertical-align: middle;
      list-style: none;
      padding: 0;
      margin: 0;
      >li {
        margin-bottom: 10px;
        >a {
          padding:12px 15px;
          display: inline-block;
          background-color: #333333;
          color: @gray;
          text-align: center;
        }
        &.active,
        &:hover {
          >a {
            background-color: @brand-primary;
            color: #fff;
          }
        }
      }
    }
  }
  .dashboard-pane {
    overflow: hidden;
    height: 100%;
    background-color: #333333;
  }
  .task-pane {
     background-color: #333333;
    padding: 15px 17px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .note-pane {
    padding: 20px 15px;
    .lesson-note-plugin-form {
      background-color: #333;
    }
  }
  .question-pane {
    height: 100%;
    // background-color: #272727;
    .lesson-question-plugin-form {
      margin-bottom: 0;
      padding: 6px;
      background-color: #333;
    }
    .media-list {
      margin-top: 0;
      // background-color: #272727;
      .media {
        // background-color: #272727;
        border-bottom: 1px solid #3d3d3d;
      }
    }
  }
}





.task-state-modal {
  .title {
    text-align: center;
    font-size: 22px;
    color: @gray-darker;
    margin-bottom: 20px;
    line-height: 1;
    i {
      font-size: 22px;
      margin-right: 10px;
    }
  }
  .content {
    font-size: 12px;
    background-color: #fafafa;
    padding: 30px 70px;
    text-align: center;
    .content-title {
      line-height: 1;
      font-size: 16px;
      color: @gray-darker;
      margin-bottom: 40px;
    }
    .content-progress {
      margin-bottom: 15px;
    }
  }
  &.task-state-modal-xs {
    padding: 6px 0;
    .title {
      font-size: 12px;
      text-align: left;
      i {
        font-size: 14px;
      }
    }
    .content {
      padding: 0;
      background-color: transparent;
      text-align: left;
      margin-bottom: 13px;
      color: @gray;
      .content-title {
        font-size: 12px;
        color: @gray-dark;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: normal;
        border-bottom: 1px solid @border-color;
      }
      .content-progress {
        padding-bottom: 14px;
        border-bottom: 1px solid @border-color;
        margin-bottom: 0;
      }
    }
  }
}



@-webkit-keyframes moveUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% { 
    opacity: 1;
    top:0;
  }
}

@-moz-keyframes moveUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% { 
    opacity: 1;
    top: 0;
  }
}

@keyframes moveUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% { 
    opacity: 1;
    top:0
  }
}

