{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_keyword_set' %}


{% set script_controller='sensitivebundle/controller/keyword/list' %}

{% block main %}
  <form id="keyword-search-form" class="form-inline well well-sm" action="" method="get">
    <div class="form-group">
      <input type="text" id="keyword" name="keyword" class="form-control" valus="{{  app.request.query.get('keyword')  }}" placeholder="关键词" novalidate>
    </div>
    <button class="btn btn-primary">搜索</button>

  </form>
  {% if keywords %}
    <table class="table table-striped table-hover" id="keyword-table" data-search-form="#keyword-search-form">
      <thead>
      <tr>
        <th>编号</th>
        <th width="30%">关键词</th>
        <th>屏蔽次数</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for keyword in keywords %}
        {% include 'SensitiveWordBundle:SensitiveAdmin:table-tr.html.twig' %}
      {% endfor %}
      </tbody>

    </table>
  {% else %}
    <div class="empty">暂无关键字信息!</div>
  {% endif %}
  {{ web_macro.paginator(paginator) }}
{% endblock %}