{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block content %}

<div class="es-row-wrap">

  <div class="row">

    {% if blocks.less_home_top_banner %}
      <div class="homepage-feature">
        {{ blocks.less_home_top_banner|raw }}
      </div>
    {% endif %}

    <div class="col-lg-9">
      <div class="es-box">
        <div class="es-box-heading">
          <h2>课程</h2>
        </div>
        <div class="es-box-body">
          {{ render(controller('TopxiaWebBundle:Default:coursesBlock', {courses:courses, mode: 'list'})) }}
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      {{ render(controller('TopxiaWebBundle:Default:latestReviewsBlock',{number:5})) }}
    </div>

  </div>

  <div class="row"><div class="col-lg-12"></div></div>

</div>
{% endblock %}