{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'index' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
{% endblock %}

{% block main_content %}
  <!-- 公告 -->
  <section class="notice-section">
    <div class="container">
      <div class="text-line small">
        <h5><i class="es-icon es-icon-notifications"></i><span>EduSoho新版本上线咯，赶紧免费下载更新吧！</span></h5>
        <div class="line"></div>
      </div>
    </div>
  </section>


  <!-- 课程列表 -->
  <section class="course-list-section" id="course-list">
    <div class="container">
      <div class="cuorse-filter" id="cuorse-filter">
        <div class="course-cat-tags hidden-xs">
          <a href="javascript:;" class="btn btn-default">全部课程</a>
          <a href="javascript:;" class="btn btn-default">后端开发</a>
          <a href="javascript:;" class="btn btn-default">web前端开发</a>
          <a href="javascript:;" class="btn btn-default">图形图像设计</a>
          <a href="javascript:;" class="btn btn-default">编程基础</a>
        </div>
        <div class="btn-group visible-xs">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
          <ul class="dropdown-menu js-cuorse-filter" role="menu">
            <li><a href="javascript:;">全部课程</a></li>
            <li><a href="javascript:;">后端开发</a></li>
            <li><a href="javascript:;">web前端开发</a></li>
            <li><a href="javascript:;">图形图像设计</a></li>
            <li><a href="javascript:;">编程基础</a></li>
          </ul>
        </div>
        <div class="course-sort">
          <a href="javascript:;" class="btn-circle active" data-toggle="tooltip" data-placement="top" title="按时间排序">
            <i class="es-icon es-icon-accesstime"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-placement="top" title="最热">
            <i class="es-icon es-icon-whatshot"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-
          placement="top" title="点赞">
            <i class="es-icon es-icon-thumbup"></i>
          </a>
        </div>
      </div>
      <div class="course-list">
        <div class="row">
          {% set courses = data('LatestCourses', {count: 12}) %}
          {% for course in courses %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
            </div>
          {% endfor %}
        </div>
        <div class="course-more">
          <a href="show.php?page=Course/explore.html.twig" data-toggle="tooltip" data-placement="top" title="更多"><i class="es-icon es-icon-morehoriz"></i></a>
        </div>
      </div>
    </div>
  </section>



{% endblock %}