<div class="es-box">
  <div class="es-box-heading"><h2>每日一师</h2></div>
  <div class="es-box-body">
    <div class="promoted-teacher">
      <img src="{{ file_path(teacher.mediumAvatar, 'user.png') }}" class="avatar">
      <div class="nickname">{{ teacher.nickname }}</div>
      <div class="title">{{ teacher.title }}</div>
      <div class="about">{{ teacher.about|plain_text(100) }}</div>
      <div class="more"><a href="#">去老师主页看看 &raquo;</a></div>
    </div>

  </div>
</div>