{% for nav in navigations if nav.isOpen %}
  {% set subNavs = nav.children|default([]) %}
  {% if  loop.index == 6  and not isMobile|default(false) %}
    <li class="nav-more">
      <a href="#" class="dropdown-toggle more" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="es-icon es-icon-morehoriz"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        {% for nav in navigations[5:]  if nav.isOpen %}
          {% set subNavs = nav.children|default([]) %}

          {% include 'TopxiaWebBundle:Default:navigation-li.html.twig' %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
  
  {% if loop.index < 6 %}
    {% include 'TopxiaWebBundle:Default:navigation-li.html.twig' %}
  {% endif %}
{% endfor %}      
