// 暂时需要
.es-row-wrap {
  margin-bottom: 20px;
  background: #fff;
  // .border-radius;
  border: 1px solid @border-color;
  .es-box-shadow;
}

.es-row-wrap .row {
  margin-left: 10px;
  margin-right: 10px;
}

.es-row-wrap .page-header {
  margin-top: 25px;
}

.es-row-wrap .page-header h1 {
  font-size: 24px;
}

.es-row-wrap h1 {
  word-break: break-all;
}