{% if app.user and app.user.setup == 0 and (hideSetupHint is not defined or hideSetupHint != true) and not app.request.cookies.get('close_set_email_alert') %}
<div class="alert alert-success set-email-alert hidden-xs">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  为了帐号的安全，以及更好的使用体验，请设置您的Email地址。
  <a href="/settings/setup">现在就去设置</a>
</div>
{% endif %}