{% extends 'TopxiaWebBundle:MoneyRecord:layout.html.twig' %}

{% set script_controller = 'my/orders' %}

{% set main_nav = 'PayoutRecords' %}

{% block main_body %}
  <table class="table table-striped table-hover" id="payouts-table">
    <thead>
      <th>名称</th>
      <th>消费金额</th>
      <th>消费时间</th>
    </thead>
    <tbody>
      {% for payoutRecord in payoutRecords %}
        <tr>
          <td>{{ payoutRecord.title }}</td>
          <td>{{ payoutRecord.amount }}</td>
          <td>{{ payoutRecord.transactionTime }}</td>  
        </tr>
      {% else %}
        <tr>
          <td colspan="20" class="empty">无消费记录</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {{ web_macro.paginator(paginator) }}
{% endblock %}