{% extends 'layout.html.twig' %}
{% block title %} {{'order.confirm'|trans}} - {{ parent() }}{% endblock %}

{% set bodyClass="cd-design" %}
{% block esBar %}{% endblock %}

{% block content %}
  <div class="row cd-row">
    <div class="col-md-8 col-md-offset-2">
      <div class="cd-panel">
        <div class="cd-panel-heading">
          {% include 'order/order-step-status.html.twig' %}
        </div>
        <div class="cd-panel-body">
          {% block order_body %}
          {% endblock %}
        </div>  
      </div>
    </div>
  </div>
  
{% endblock %}
