{% extends 'layout.html.twig' %}

{% set bodyClass = "cd-design" %}
{% block esBar %}{% endblock %}

{% set step = step|default('1') %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content row cd-row">
      <div class="col-md-8 col-md-offset-2">
        <div class="cd-panel">
          <div class="cd-panel-heading-with-steps">
            {% include 'order/order-step-status.html.twig' with {step: step} %}
          </div>
          <div class="cd-panel-body">
            {% block order_body %}
            {% endblock %}
          </div>  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
