<ul class="es-step es-step-3 clearfix">
  <li class="doing"><span class="number">1</span>{{'order.confirm'|trans}}</li>
  <li><span class="number">2</span>{{'order.pay'|trans}}</li>
  <li><span class="number">3</span>{{'order.success'|trans}}</li>
</ul>