{% set step = step|default(1) %}
{% set steps = {1:'order.confirm'|trans, 2:'order.pay'|trans,3:'order.success'|trans } %}
<ul class="es-step es-step-3 clearfix">
  {% for value in [1,2,3] %}
    <li {% if step == value%}class="doing" {% elseif step > value %}class="done"{% endif %}>
      <span class="number">
        {% if step > value %}
          <i class="es-icon es-icon-done"></i>  
        {% else %}
          {{value}}
        {% endif %}
      </span>
      {{steps[value]}}
    </li>
  {% endfor %}
</ul>