<div class="panel panel-default panel-col">
    <div class="panel-heading">学员批量导入</div>
    <div class="panel-body">
        <div class="col-md-offset-2">导入成功 <b>{{ count.successCount }}</b> 个，<b>{{ count.updateUserCount }}</b>个存在重复，已自动更新。</div><br>
        <div class="col-md-offset-2">
          <a type="button" class="btn btn-primary" href="{{ path('course_manage_student_score_import', {id:course.id}) }}">继续导入</a>
          <a type="button" class="btn btn-primary" href="{{ path('course_manage_transcripts', {courseId:course.id}) }}">返回成绩单</a>
        </div>
        
    </div>
</div>