{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'open-course/open-course' %}

{% block full_content %}
  {% block top_content %}{% endblock %}

  {% if app.request.get('as') == 'wxpreview' %}
    <div style="width: 375px;">
      {% include 'TopxiaWebBundle:OpenCourse/Mobile:open-course.html.twig' %}
    </div>
  {% else %}
    {% include 'TopxiaWebBundle:OpenCourse/Mobile:open-course.html.twig' %}
  {% endif %}


  {% block bottom_content %}{% endblock %}
{% endblock %}
    