{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'open-course/open-course' %}

{% block full_content %}
  {% block top_content %}{% endblock %}

  {% if app.request.get('as') == 'wxpreview' %}
    {% block header %}{% endblock %}
    <div class="openCourse-wechat-preview">
      {% include 'TopxiaWebBundle:OpenCourse/Mobile:open-course.html.twig' %}
    </div>
     {% block footer %}{% endblock %}
  {% else %}
    {% include 'TopxiaWebBundle:OpenCourse/Mobile:open-course.html.twig' %}
  {% endif %}


  {% block bottom_content %}{% endblock %}
{% endblock %}
    