<div class="table-responsive" id = "table-responsive">
  <table class="table" style="table-layout:fixed;word-break:break-all">
      {% if set.cash_model =="deduction" %}
          {% include 'admin-v2/system/asset-setting/coin/coin-table-course/deduction-coin-table-course.html.twig' %}
      {% else %}
          {% include 'admin-v2/system/asset-setting/coin/coin-table-course/currency-coin-table-course.html.twig' %}
      {% endif %}
  </table>
</div>