{% extends 'TopxiaAdminBundle:Analysis:layout.html.twig' %}

{% block title %}注册用户统计 - {{ parent() }}{% endblock %}

{% set menu = 'userState' %}



{% block main %}
	<div class="page-header">
   
    <h1>注册学员统计</h1>
  </div>

  <form id="message-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
   
  </form>

  <table class="table table-striped table-hover" id="activity-table">
    <thead>
    <tr>
      <th width="5%">日期</th>
      <th width="5%">总学员</th>
      <th width="5%">总验证学员</th>

      <th width="5%">日活跃学员</th>
      <th width="5%">日活跃学员PV</th>
     
      <th width="5%">日注册学员</th>
      <th width="5%">日注册学员PV</th>

      <th width="5%">日老学员</th>
      <th width="5%">日老学员PV</th>
      
      <th width="5%">过去一周活跃学员</th>
      <th width="5%">过去一月活跃学员</th>
      <th width="5%">过去一月流失学员</th>
      <th width="5%">过去两月流失学员</th>
      <th width="5%">过去三月流失学员</th>
      <th width="5%">过去六月流失学员</th>
      <th width="5%">30天前注册后未登陆</th>
      <th width="5%">30天前注册数</th>
      <th width="5%">60天前注册后未登陆</th>
      <th width="5%">60天前注册数</th>
      <th width="5%">90天前注册后未登陆</th>
      <th width="5%">90天前注册数</th>
      <th width="5%">120天前注册后未登陆</th>
      <th width="5%">120天前注册数</th>
    </tr>
    </thead>
    <tbody>
      {% for userState in userStates %}
      
        {% include 'TopxiaAdminBundle:Analysis:user-state-tr.html.twig' %}
      {% else %}
        <tr><td colspan="6"><div class="empty">无课程记录</div></td></tr>
      {% endfor %}
    </tbody>
  </table>

  {{ web_macro.paginator(paginator) }}
{% endblock %}