.e-column-class {
	display: flex;
	flex-direction: column;
	padding: 0 16px 20px;

	&:nth-of-type(2n) {
		padding: 0 vw(12) vw(16) 0;
	}

	.column-class-left {
		position: relative;
		width: vw(164);
		overflow: hidden;
		font-size: 0;
		border-radius: vw(4) vw(4) 0 0;

		img {
			width: vw(164);
			height: vw(92.25);
			border-radius: vw(4) vw(4) 0 0;
		}

		&__discount {
			position: absolute;
			top: vw(9);
			right: vw(-19);
			width: vw(75);
			height: vw(20);
			color: #fff;
			font-size: vw(12);
			line-height: vw(20);
			text-align: center;
			background: #ef6b50;
			-ms-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&__member {
			position: absolute;
			top: 0;
			right: 0;
			width: vw(56);
			height: vw(20);
			color: #fff;
			font-weight: 500;
			font-size: vw(12);
			line-height: vw(20);
			text-align: center;
			background: #162923;
			border-radius: 0 vw(4);
		}

		&__live {
			position: absolute;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			box-sizing: border-box;
			width: 100%;
			height: vw(32);
			padding: vw(4) vw(4) vw(4) vw(8);
			color: #fff;
			font-size: vw(12);
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

			.icon-renqi {
				margin-right: vw(2);
				font-size: vw(12);
			}
		}
	}

	.column-class-right {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-sizing: border-box;
		width: vw(164);
		padding: 12px 0;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 vw(2) vw(8) 0 rgba(0, 0, 0, 0.05);

		&__top {
			display: flex;
			height: 22px;
			margin-bottom: 4px;
			padding: 0 12px;
			color: #1d2129;
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
		}

		&__center {
			display: flex;
			align-items: center;
			height: 20px;
			margin-bottom: 4px;
			padding: 0 12px;
			color: #86909c;
			font-size: 12px;
			line-height: 20px;
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
			height: 20px;
			font-weight: 500;
			font-size: vw(14);
			line-height: 20px;
		}
	}
}
