{% extends 'MaterialLibBundle:MaterialLib:layout.html.twig' %}

{% set script_controller = 'materiallibbundle/controller/material-lib/index' %}

{% block page_body %}
        
<form id="material-search-form" class="form-inline" action="{{ path('material_lib_browsing') }}" method="get" novalidate>
  
  <input type="hidden" class="js-page" name="page" value="1">
  <div class="btn-group source-btn" role="group" aria-label="...">
    <button type="button" data-value="my" class="js-source-btn btn btn-default active">我的资料</button>
    <button type="button" data-value="public" class="js-source-btn btn btn-default">公共资料</button>
    <button type="button" data-value="favorite" class="js-source-btn btn btn-default">收藏夹</button>
    <button type="button" data-value="sharing" class="js-source-btn btn btn-default">来自分享</button>
    <input type="hidden" name="sourceFrom" value="my">
  </div>

  {% include 'MaterialLibBundle:Web/Form:nav.html.twig' %}
  {% include 'MaterialLibBundle:Web/Form:head.html.twig' %}
    <div class="well well-sm" style="margin-bottom:10px">
      <span style="padding-right:50px">筛选:</span>
      <span>上传时间:</span>

      <div class="form-group mlm">
        <input class="form-control" type="text" id="startDate" name="startDate" value="" placeholder="起始时间">
        -
        <input class="form-control" type="text" id="endDate" name="endDate" value="" placeholder="结束时间">
      </div>

      <div class="checkbox">
        <label class="mlm">
          <input type="checkbox" name="processStatus" value="error"> 转码失败
        </label>
      </div>
    </div>
    <div class="well well-sm" style="margin-bottom:10px">
      <span style="padding-right:50px">排序:</span>

      <div class="form-group">
        <select class="form-control" name="uploadTime">
          <option value="desc">最近上传</option>
          <option value="asc">最早上传</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="views">
          <option value="desc">最多播放</option>
          <option value="asc">最少播放</option>
        </select>
      </div>
    </div>
    <div class="well well-sm" style="margin-bottom:10px">
      <span style="position:absolute">标签:</span>

        <div class="tags-container">
          {% for tag in tags %}
            <span class="label label-default">{{ tag.name }}</span>
          {% endfor %}
          <input type="hidden" name="tags">
        </div>
    </div>
    
    <div class="row material-list-container" id="material-item-list" data-url="{{ path('material_lib_show_browsing') }}"></div>

</form>
        
        
        
{% endblock %}