{% extends 'admin-v2/layout.html.twig' %}

{% block title %}
  {{ 'admin_v2.role_permission_manage.error'|trans }}
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1 class="text-center">{{'admin.sensitive_manage.prompt'|trans}}  </h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">{{ 'admin.sensitive_manage.prompt.tips'|trans }}</h4>
    </div>
  </div>

{% endblock %}