<div class="form-group">
	<select class="form-control" name="categoryId">
		{{ select_options(category_choices('classroom'), app.request.get('categoryId'), 'admin.classroom_manage.chooser.category'|trans) }}
	</select>
</div>
<div class="form-group">
	<select class="form-control" name="status">
		{{ select_options(dict('courseStatus'), app.request.get('status'), 'admin.classroom_manage.chooser.status'|trans) }}
	</select>
</div>
<div class="form-group">
	<input class="form-control" type="text" placeholder="{{ 'admin.classroom_manage.chooser.title_placeholder'|trans }}" name="titleLike" value="{{ app.request.get('titleLike') }}">
</div>
