<div class="difficult-persentage">
 <span class="mlm">简单:</span>
    <input type="text" class="form-control width-input width-input-mini input-sm item-number difficult-num" id ="percentages-simple" name="percentages[simple]"  value="20" / style="width:39px">％
 <span class="mlm">较易:</span>
    <input type="text" class="form-control width-input width-input-mini input-sm item-number difficult-num" id ="percentages-easy" name="percentages[easy]"  value="20" / style="width:39px">％
 <span class="mlm">普通:</span>
    <input type="text" class="form-control width-input width-input-mini input-sm item-number difficult-num" id ="percentages-normal" name="percentages[normal]"  value="20" / style="width:39px">％
 <span class="mlm">较难:</span>
    <input type="text" class="form-control width-input width-input-mini input-sm item-number difficult-num" id ="percentages-difficulty" name="percentages[difficulty]"  value="20" / style="width:39px">％
 <span class="mlm">困难:</span>
    <input type="text" class="form-control width-input width-input-mini input-sm item-number difficult-num" id ="percentages-hard" name="percentages[hard]"  value="20" / style="width:39px">％
</div>