<div class="form-group">
    <label class="col-sm-2 control-label">知识点</label>
    <div class="col-sm-9">
        {% include 'CustomWebBundle:Tag:tagchooser-knowledge.html.twig' with {id: 'testpaper-knowledge-chooser', categoryId: category.id} %}
    </div>
    <input type="hidden" name="knowledgeIds">
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">标签</label>
    <div class="col-sm-9">
        {% include 'CustomWebBundle:Tag:tagchooser.html.twig' with {id: 'testpaper-tag-chooser', type: 'question'} %}
    </div>
    <input type="hidden" name="tagIds">
</div>

<div class="form-group">
  <style>.testpaper-question-option-item{margin-left:-12px;margin-bottom:5px;}</style>
  <div class="col-md-2 control-label"><label>题目设置</label></div>
  <div class="col-md-9 controls" id="testpaper-question-options">
    <p class="form-control-static mbm">
      <a href="#" class="btn btn-default btn-xs" data-type="single_choice" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 单选题</a>
      <a href="#" class="btn btn-default btn-xs" data-type="choice" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 多选题</a>
      <a href="#" class="btn btn-default btn-xs" data-type="uncertain_choice" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 不定项选择题</a>
      <a href="#" class="btn btn-default btn-xs" data-type="fill" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 填空</a>
      <a href="#" class="btn btn-default btn-xs" data-type="determine" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 判断题</a>
      <a href="#" class="btn btn-default btn-xs" data-type="essay" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 问答题</a>
      <a href="#" class="btn btn-default btn-xs" data-type="material" data-toggle="modal" data-target="#testpaper-part-modal"><span class="glyphicon glyphicon-plus"></span> 材料题</a>
    </p>

    <table class="table table-striped testpaper-parts-table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>类型</th>
          <th>数量/总分</th>
          <th>说明</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="testpaper-parts-list">

      </tbody>
    </table>
    <input type="hidden" name="parts">
  </div>
</div>
