.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.placeholder-style {
  text-align: center;
  color: #22b2e9;
}
.text-controls {
  -webkit-box-shadow: 0 0 0 6px #22b2e9;
  -moz-box-shadow: 0 0 0 6px #22b2e9;
  box-shadow: 0 0 0 6px #22b2e9;
  border-radius: 4px;
  border: none;
}
.text-controls input {
  width: 430px;
  font-size: 18px;
  border: none;
  height: 54px;
  /* firefox 19+ */

  /* ie */

}
@media screen and (max-width: 767px) {
  .text-controls input {
    width: 100%;
    font-size: 14px;
    height: 34px;
  }
}
.text-controls input::-webkit-input-placeholder {
  text-align: center;
  color: #22b2e9;
}
.text-controls input::-moz-placeholder {
  text-align: center;
  color: #22b2e9;
}
.text-controls input:-ms-input-placeholder {
  text-align: center;
  color: #22b2e9;
}
.text-controls input:-moz-placeholder {
  text-align: center;
  color: #22b2e9;
}
.es-wrap {
  position: relative;
  height: 100%;
}
.login-full {
  min-height: 100%;
  background-size: cover;
}
.login-full .login-section {
  color: #ffffff;
  margin: 0 auto;
  width: 550px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .login-full .login-section {
    width: 100%;
  }
}
.login-full .login-section .login-tip {
  font-size: 52px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .login-full .login-section .login-tip {
    font-size: 40px;
  }
}
.login-full .login-section .login-sub-tip {
  font-size: 22px;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .login-full .login-section .login-sub-tip {
    font-size: 18px;
  }
}
.login-full .login-section .login-main {
  padding: 20px 45px 20px 45px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .login-full .login-section .login-main {
    font-size: 16px;
  }
}
.login-full .login-section .login-main .form-group {
  margin: 0;
}
.login-full .login-section .login-main .form-group .controls .help-block {
  text-align: left;
  margin: 0;
  height: 30px;
}
.login-full .login-section .login-main .form-group .controls .help-block .text-danger {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .login-full .login-section .login-main .form-group .controls .help-block .text-danger {
    font-size: 12px;
  }
}
.login-full .login-section .login-main .form-group .controls .remember-me {
  height: 18px;
  width: 18px;
  margin-right: 20px;
  border: 2px solid #ffffff;
  font-size: 10px;
  vertical-align: middle;
  display: inline-block;
  line-height: 15px;
}
.login-full .login-section .login-main .form-group .controls .remember-input {
  opacity: 0;
  display: none;
}
.login-full .login-section .login-main .btn-block {
  display: inline-block;
  margin: 30px auto 20px auto;
  width: 220px;
  height: 52px;
  text-align: center;
  border: none;
  border-radius: 26px;
  font-size: 20px;
  color: #22b2e9;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .login-full .login-section .login-main .btn-block {
    height: 34px;
    width: 100%;
    font-size: 16px;
    max-width: 180px;
  }
}
.login-full .login-section a {
  color: #ffffff;
}
.login-full .login-section a:hover,
.login-full .login-section a:focus {
  color: ;
}
.login-full .bottom-brand {
  text-align: center;
  margin: 0 50px;
}
.login-full .bottom-brand img {
  display: inline-block;
}
.login-full .reset-section {
  background-color: transparent;
  border: none;
}
