.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.money-theme {
  color: #cc0000;
  font-weight: 700;
  font-size: 12px;
}
/* subcourse manage */
.sub-course-media .title {
  margin-top: 20px;
  font-size: 20px;
}
.sub-course-media .course-pic {
  width: 180px;
  height: 80px;
}
.sub-course-media .course-pic-modal {
  width: 120px;
  height: 50px;
}
.sub-course-media .teacher-name {
  display: block;
  margin: 0;
  max-width: 60%;
}
.sub-course-media .delete-btn {
  margin-top: -45px;
  margin-right: 20px;
}
.sub-course-media .choose-btn {
  margin-top: -40px;
}
.sub-course-media.sort-ul li > a {
  padding: 15px 0 0 10px;
}
.sub-course-media .content {
  margin-top: 15px;
}
.sub-course-media.sort-ul li {
  cursor: pointer;
}
.sub-course-media.sort-ul li:hover {
  background-color: #eee;
}
ul.sort-ul.sub-course-media li.placeholder {
  position: relative;
  margin-bottom: 10px 0;
  width: 100%;
  height: 90px;
  background: #FCFFC0;
  border: 1px dashed #ccc;
  list-style: none;
}
ul.sort-ul.sub-course-media li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
/* execrcise */
.execrcise-tips {
  margin-bottom: 10px;
  border: 2px solid #eee;
}
.execrcise-tips .row {
  padding: 10px;
}
/*carts*/
.float-carts {
  position: fixed;
  right: 0;
  top: 25%;
  visibility: hidden;
  z-index: 999999;
}
.carts-popover-list .carts-item {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  margin-bottom: 5px;
}
.carts-popover-list {
  padding-left: 0px;
  list-style: none;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
.course-popover {
  float: left;
  margin-right: 5px;
}
.course-popover img {
  width: 80px;
}
.price-count {
  color: red;
  font-size: 12px;
}
.popover-teachers {
  font-size: 6px;
  width: 120px;
  word-wrap: break-word;
  white-space: nowrap;
}
.carts-text-delete {
  font-size: 6px;
}
.popover-empty {
  color: #999;
  padding: 5px 20px;
  text-align: center;
}
.item-courses-show {
  padding: 10px;
}
.carousel .carousel-control {
  background-image: none;
  background: none;
}
.btn-carts .glyphicon-shopping-cart {
  font-size: 18px;
}
.carts-text {
  text-align: right;
}
.consult-cart-content {
  width: 250px;
  height: 100px;
  padding-bottom: 10px;
}
.carts-popover-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.favourited {
  color: #E0DCDC;
}
.carts-item .course-title {
  font-size: 8px;
}
.carts-popover-info {
  font-size: 8px;
}
.teacher-dashboard a {
  color: #428bca;
}
.teacher-dashboard a:hover,
.teacher-dashboard a.active,
.teacher-dashboard a:focus {
  color: #2a6496;
  text-decoration: underline;
}
/* teaching dashboard */
.teacher-dashboard #my-teaching-carousel .title {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.teacher-dashboard #my-teaching-carousel .caption {
  padding: 0;
}
.teacher-dashboard #my-teaching-carousel .thumbnail {
  height: 111px;
  width: 119px;
  margin-bottom: 0;
}
.teacher-dashboard #my-teaching-carousel .carousel-inner {
  width: 80%;
  margin: auto;
}
.teacher-dashboard #my-teaching-carousel .course-rating {
  border-top: 1px solid #ddd;
  font-size: 10px;
}
.teacher-dashboard #my-teaching-carousel .course-rating a {
  cursor: pointer;
  color: #428bca;
}
.teacher-dashboard #my-teaching-carousel .course-rating span {
  width: 80px;
}
.teacher-dashboard #my-teaching-carousel .carousel-control {
  display: block;
  width: 10%;
}
.teacher-dashboard #my-teaching-carousel .carousel-control span {
  display: block;
  text-align: center;
}
.teacher-dashboard #my-teaching-carousel .carousel-control .glyphicon-chevron-right {
  margin-right: -15px;
}
.teacher-dashboard .panel-body .rating table tr td {
  word-break: break-word;
}
.teacher-dashboard .my-may-like {
  height: 184px;
}
.teacher-dashboard .my-may-like .pull-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.teacher-dashboard .my-may-like .glyphicon {
  cursor: pointer;
}
.teacher-dashboard .teacher-income .money {
  color: #F00;
  font-size: 12px;
}
.teacher-dashboard .teacher-income .avatar {
  width: 40%;
  text-align: center;
  float: left;
}
.teacher-dashboard .teacher-income .brief {
  float: left;
  margin-top: 20px;
  width: 60%;
}
.teacher-dashboard .teacher-income .brief p {
  line-height: 1.0;
}
.teacher-dashboard .teacher-income .brief .nickname {
  font-size: 16px;
}
.teacher-dashboard .teacher-income .brief .signature {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.teacher-dashboard .teacher-income .brief .flower {
  color: #F00;
}
.teacher-dashboard .teacher-income .brief .income {
  font-size: 12px;
}
.teacher-dashboard .teacher-income .account {
  height: 120px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #DDD5D5;
}
.teacher-dashboard .teacher-income .account div {
  padding: 10px;
}
.teacher-dashboard .teacher-income .account .line {
  border-bottom: 1px solid #DDD5D5;
}
.teacher-dashboard .my-service .title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD5D5;
}
.teacher-dashboard .my-service .tasks ul {
  padding: 0;
  margin: 0;
}
.teacher-dashboard .my-service .tasks li {
  margin: 10px 0;
  padding: 0 5px;
  display: block;
  font-size: 12px;
  height: 36px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#order-table .cart-item {
  float: left;
  position: relative;
  width: 60%;
  font-size: 12px;
}
#order-table .cart-item .picture {
  float: left;
  width: 110px;
  height: 60px;
  margin-right: 10px;
}
#order-table .cart-item .title {
  padding: 0;
  line-height: 1.2;
  font-size: 12px;
  font-weight: bold;
  word-break: break-all;
}
#order-table .item-offset {
  margin-left: 5%;
}
#order-table .extra-section {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  width: auto;
}
#order-table table tbody td {
  vertical-align: middle;
}
#carts-module .cart-item {
  float: left;
  position: relative;
  width: 60%;
  font-size: 12px;
}
#carts-module .cart-item .picture {
  float: left;
  width: 110px;
  height: 60px;
  margin-right: 10px;
}
#carts-module .cart-item .title {
  padding: 0;
  line-height: 1.2;
  font-size: 12px;
  font-weight: bold;
  word-break: break-all;
}
#carts-module .item-offset {
  margin-left: 5%;
}
#carts-module .extra-section {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  width: auto;
}
#carts-module table tbody td {
  vertical-align: middle;
}
.order-header {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}
.order-header div {
  float: left;
  left: 30%;
  position: relative;
  width: 150px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
}
.order-header .step {
  background: #ccc;
  color: #000;
}
.order-header .process-step {
  background: #cc0000;
  color: #FFF;
}
#order-verify-form a {
  color: #428bca;
}
#order-verify-form a:hover,
#order-verify-form a.active,
#order-verify-form a:focus {
  color: #2a6496;
  text-decoration: underline;
}
#order-verify-form .form-group {
  margin-right: -15px;
  margin-left: 0px;
}
#order-verify-form input.form-control {
  height: 28px;
}
#order-verify-form select.form-control {
  height: 28px;
}
#order-verify-form legend {
  margin-bottom: 15px;
  font-size: 16px;
}
#order-verify-form fieldset {
  margin: 10px;
}
#order-verify-form .shipping-address {
  padding: 10px;
}
#order-verify-form .shipping-address span {
  color: #cc0000;
}
#order-verify-form .shipping-address .address-content {
  padding: 10px;
  border: 2px solid #cc0000;
}
#order-verify-form .order-verify-good .total-price {
  margin-right: 50px;
}
#order-verify-form .order-verify-good .total-price-text {
  font-size: 20px;
}
#order-verify-form .order-verify-good .buyer {
  margin-right: 50px;
}
#order-verify-form .order-verify-good .submit-order {
  margin-top: 10px;
}
#order-verify-form .order-verify-good .submit-order-btn {
  margin-right: 50px;
}
#shipping-address-from .form-control[readonly] {
  background-color: initial;
  cursor: initial;
  opacity: initial;
}
#shipping-address-from .region-picker-input {
  border: 1px solid #CCC;
  display: block;
  width: 100%;
  color: #666;
  font-size: 16px;
  -moz-box-shadow: 0 0 5px #ccc inset;
  -webkit-box-shadow: 0 0 5px #ccc inset;
  box-shadow: 0 0 5px #ccc inset;
}
#shipping-address-from .asterisk {
  color: #cc0000;
}
#order-payment-form {
  margin-top: 20px;
  padding: 0 20px;
}
#order-payment-form .order-info {
  background-color: #B1F3B1;
  border: 2px solid #55C555;
  height: 100px;
}
#order-payment-form .order-info .order-tips {
  float: left;
  margin: 15px 30px;
  width: 50%;
  border: 2px solid #55C555;
}
#order-payment-form .order-info .order-tips p {
  margin: 0;
  padding: 5px;
}
#order-payment-form .order-info .payment-amount {
  line-height: 95px;
  margin-left: 100px;
  float: left;
  ine-height: 95px;
}
#order-payment-form .payment-method {
  margin-top: 20px;
}
#order-payment-form .payment-method .icon {
  background: url(/bundles/topxiaweb/img/order-pay/pay-check-status.png) no-repeat;
  top: 0px;
  right: 0px;
  width: 23px;
  height: 26px;
  background-position: 0 -4px;
  position: absolute;
  overflow: hidden;
}
#order-payment-form .payment-method .check {
  cursor: pointer;
  width: 150px;
  height: 58px;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 58px;
  border: 1px solid #21a557;
  margin-bottom: 10px;
}
