<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">课程特色</h3>
  </div>
  <div class="panel-body row panel-bottom">
    <div class="col-md-6">
      <div class="media-left">
        <button class="media-icon bg-primary"></button>
        <i class="es-icon es-icon-videocam media-logo"></i>
      </div>
      <div class="media-body">含直播(3)</div>
    </div>
    <div class="col-md-6">
      <div class="media-left">
        <button class="media-icon bg-primary"></button>
        <i class="es-icon es-icon-mylibrarybooks media-logo"></i>
      </div>
      <div class="media-body">含作业(8)</div>
    </div>
  </div>
  <div class="panel-body row panel-bottom">
    <div class="col-md-6">
      <div class="media-left">
        <button class="media-icon bg-primary"></button>
        <i class="es-icon es-icon-exam media-logo"></i>
      </div>
      <div class="media-body">含考试(5)</div>
    </div>
    <div class="col-md-6">
      <div class="media-left">
        <button class="media-icon bg-primary"></button>
        <i class="es-icon es-icon-download media-logo"></i>
      </div>
      <div class="media-body">含资料(3)</div>
    </div>
  </div>
  <div class="panel-body row panel-bottom">
    <div class="col-md-6">
      <div class="media-left">
        <button class="media-icon bg-primary"></button>
        <i class="es-icon es-icon-forum media-logo"></i>
      </div>
      <div class="media-body">含讨论(2)</div>
    </div>
  </div>
</div>