{% extends 'layout.html.twig' %}
{% block top_content %}
{% endblock %}

{% block content %}

<!-- 1、加入前 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li>
      <a href="/">首页</a>
    </li>
    <li class="active">sdfdsf</li>
  </ol>
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top clearfix">
      <span class="tags mrm">
        <span class="tag-serialing"></span>
      </span>
      <span class="course-detail-heading gray-darker text-24">sdfdsf</span>
      <span class="es-qrcode top" data-url="/course/2/qrcode">
        <i class="es-icon es-icon-qrcode"></i><span class="qrcode-popover">
          <img src="" alt="">
          扫二维码继续学习二维码时效为半小时
        </span>
      </span>
      <p class="mt10 mb20">sdfsdf</p>
      <ul class="course-operation hidden-xs hidden-sm clearfix ">
        <li>
          <i class="es-icon es-icon-people"></i>2035人
        </li>
        <li id="unfavorite-btn" data-url="/course/2/unfavorite" style="display:none;">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmark"></i>
          </a>
        </li>
        <li id="favorite-btn" data-url="/course/2/favorite">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmarkoutline"></i>
          </a>
        </li>
        <li class="es-share top">
          <a class="btn btn-default btn-xs dropdown-toggle" href="" data-toggle="dropdown">
            <i class="es-icon es-icon-share"></i>
          </a>
          <div class="dropdown-menu  js-social-share-params" data-title="sdfdsf " data-summary="大神" data-message="我正在学习《sdfdsf 》，收获巨大哦，一起来学习吧！" data-url="http://www.esdev.com/course/2" data-picture="/assets/img/default/courseSet.png">
            <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.esdev.com/course/2">
              <i class="es-icon es-icon-weixin"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo">
              <i class="es-icon es-icon-weibo"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq">
              <i class="es-icon es-icon-qq"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone">
              <i class="es-icon es-icon-qzone"></i>
            </a>
          </div>
        </li>
        <li class="pull-left">
          <a class="btn btn-default btn-xs " href="/course/2/manage" title="课程管理">
            <i class="es-icon es-icon-setting"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="course-detail-bottom">
      <div class="course-detail-img">
        <a href="#modal" data-toggle="modal" data-url="/course/2/lessons/preview?lessonId=1" class="course-img-cover"> <i class="es-icon es-icon-playcircleoutline"></i>
        </a>
        <img class="img-responsive" src="/assets/img-course-set/default/course-set.png" alt="sdfdsf ">
        <div class="course-detail-remask">
          <i class="es-icon es-icon-people"></i>122222 人加入学习
          <div class="score pull-right">
            <span class="es-icon es-icon-star"></span>
            <span class="es-icon es-icon-star"></span>
            <span class="es-icon es-icon-star"></span>
            <span class="es-icon es-icon-starhalf"></span>
            <span class="es-icon es-icon-starhalf"></span>
            4.5
          </div>
        </div>
      </div>
      <div class="course-detail-info gray">
        <div class="mb10">
          <span class="course-detail-title">价格</span>
          <!-- 折扣价 -->
          <span class="gray-darker mrm">¥<span class="text-24 text-blod">75.00</span></span>
          <!-- 原价 -->
          <span class="original-price">¥<span class="price">108</span></span>
          <span class="tag-discount"><span class="discount-font">8折</span></span>
        </div>
        <div class="mb10">
          <span class="course-detail-title">活动</span>
          <span class="color-warning ">
          <span class="text-blod mrl">双十二活动</span>
          <i class="es-icon es-icon-alarmon mrm"></i>
          22 时 53 分 44.12 秒</span>    
        </div>
        <div class="course-detail-gray">
          <div class="course-detail-nav mb10">
            <span class="course-detail-title">教学计划</span>
            <ul class="nav nav-pills nav-pills-sm nav-pills-transparent ml5">
              <li>
                <a href="javascript:;">默认教学计划</a>
              </li>
              <li>
                <a href="javascript:;">9月提高班</a>
              </li>
              <li>
                <a href="javascript:;">6月提高班(已加入)</a>
              </li>              
            </ul>
          </div>
          <div class="mbl">
            <span class="course-detail-title">学习方式</span>
            <span class="gray-dark mrl">随到随学</span>
            <span class="gray-dark">180天</span>
          </div>
          <span class="course-detail-title">承诺服务</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">练</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">试</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">问</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">动</span>
          <span class="lump-sm color-lump mr5" data-placement="top" data-toggle="popover" title="title" data-content="content. ">疑</span>
          <span class="lump-sm color-lump mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">业</span>
        </div>
        <div class="text-right">
          <a class="btn btn-default btn-lg mrm"><i class="es-icon es-icon-crown mr10"></i>会员</a>
          <a class="btn btn-primary btn-lg">购买课程</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 2、加入后：自由式学习 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="/">首页</a></li>
    <li class="active">sdfdsf </li>
  </ol>
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top">
      <div class="course-detail-heading gray-darker text-24">数据结构PHP开发入门课程  暑期班A</div>
      <ul class="course-operation hidden-xs hidden-sm clearfix ">
        <li> <i class="es-icon es-icon-people"></i>
          2035 人
        </li>
        <li id="unfavorite-btn" data-url="/course/2/unfavorite" style="display:none;">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmark"></i>
          </a>
        </li>
        <li id="favorite-btn" data-url="/course/2/favorite">
          <a class="btn btn-default btn-xs" href="javascript:;">
            <i class="es-icon es-icon-bookmarkoutline"></i>
          </a>
        </li>

        <li class="es-share top">
          <a class="btn btn-default btn-xs dropdown-toggle" href="" data-toggle="dropdown">
            <i class="es-icon es-icon-share"></i>
          </a>

          <div class="dropdown-menu  js-social-share-params" data-title="sdfdsf " data-summary="大神" data-message="我正在学习《sdfdsf 》，收获巨大哦，一起来学习吧！" data-url="http://www.esdev.com/course/2" data-picture="/assets/img/default/courseSet.png">

            <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.esdev.com/course/2">
              <i class="es-icon es-icon-weixin"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo">
              <i class="es-icon es-icon-weibo"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq">
              <i class="es-icon es-icon-qq"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone">
              <i class="es-icon es-icon-qzone"></i>
            </a>
          </div>
        </li>
        <li class="pull-left">
          <a class="btn btn-default btn-xs " href="/course/2/manage" title="课程管理">
            <i class="es-icon es-icon-setting"></i>
          </a>
        </li>
      </ul>
    </div>
    <section class="course-freelearn-section">
      <div class="row">
        <div class="col-sm-3">
          <div class="course-progress">
            <div class="cricle-progress" id="freeprogress" data-percent="44.444444444444">
              <span class="percent"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <ul class="course-learn-list">
            <li>
              <p class="mb20 color-gray">
                <i class="es-icon es-icon-iccheckcircleblack24px mrm"></i>
                已完成
              </p>
              <span class="color-primary">09</span>
              ／
              <span class="mrl">24</span>
              课时
            </li>
            <li>
              <p class="mb20 color-gray">
                <i class="es-icon es-icon-today mrm"></i>
                学习有效期
              </p>
              2016-0-28
            </li>
            <li>
              <p class="mb20 color-gray">
                <i class="es-icon es-icon-book"></i>
                下一课
              </p>
              PS移动工具
            </li>
          </ul>
          <ul class="course-learn-list-small">
            <li>
              <span class="mb20 color-gray">
                <i class="es-icon es-icon-iccheckcircleblack24px mrm"></i>
                已完成
              </span>
              <span class="color-primary ml10">09</span>
              ／24</span>
              课时             
            </li>
            <li>
              <span class="mb20 color-gray">
                <i class="es-icon es-icon-today mr10"></i>
                <span class="mr10">学习有效期</span>
              2016-0-28
              </span>
            </li>
            <li>
              <span class="mb20 color-gray">
                <i class="es-icon es-icon-book mr10"></i>
                <span class="mr10">下一课</span>
              </span>
              PS移动工具
            </li>
          </ul>
        </div>
        <div class="col-sm-2 text-center">
          <a class="btn btn-primary btn-lg">继续学习</a>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- 3、加入后：任务式学习 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li>
      <a href="/">首页</a>
    </li>
    <li class="active">sdfdsf</li>
  </ol>
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top">
      <div class="course-detail-heading gray-darker text-24">数据结构PHP开发入门课程  暑期班A
      </div>
      <span class="item-icon-font">
        <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">练</span>
        <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">试</span>
        <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">问</span>
        <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">动</span>
      </span>
      <ul class="course-operation hidden-xs hidden-sm clearfix ">
        <li>
          <i class="es-icon es-icon-people"></i>
          2035 人
        </li>
        <li id="unfavorite-btn" data-url="/course/2/unfavorite" style="display:none;">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmark"></i>
          </a>
        </li>
        <li id="favorite-btn" data-url="/course/2/favorite">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmarkoutline"></i>
          </a>
        </li>
        <li class="es-share top">
          <a class="btn btn-default btn-xs dropdown-toggle" href="" data-toggle="dropdown">
            <i class="es-icon es-icon-share"></i>
          </a>

          <div class="dropdown-menu  js-social-share-params" data-title="sdfdsf " data-summary="大神" data-message="我正在学习《sdfdsf 》，收获巨大哦，一起来学习吧！" data-url="http://www.esdev.com/course/2" data-picture="/assets/img/default/courseSet.png">

            <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.esdev.com/course/2">
              <i class="es-icon es-icon-weixin"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo">
              <i class="es-icon es-icon-weibo"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq">
              <i class="es-icon es-icon-qq"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone">
              <i class="es-icon es-icon-qzone"></i>
            </a>
          </div>
        </li>
        <li class="pull-left">
          <a class="btn btn-default btn-xs " href="/course/2/manage" title="课程管理">
            <i class="es-icon es-icon-setting"></i>
          </a>
        </li>
      </ul>
    </div>
    <section class="row course-orderlearn-section">
      <div class="col-sm-6">
        <span class="progress-img">
          <div class="course-progress">
            <div class="cricle-progress" id="orderprogress-plan" data-percent="55.444444444444">
            </div>
            <div class="cricle-progress" id="orderprogress" data-percent="44.444444444444">
              <span class="percent"></span>
            </div>
          </div>
        </span>
        <ul class="progress-info mbl">
          <li class="mb10">
            <i class="es-icon es-icon-dot color-primary"></i>
            已完成<span class="color-primary">3</span>／45个任务
          </li>
          <li class="mb20">
            <i class="es-icon es-icon-dot color-warning"></i>
            计划完成5个任务，落后计划5%</li>
          <li class="pt20 mb10 progress-learn-time">学习有效期</li>
          <li class="progress-learn-time">2015-08-09 ~ 2025-23-23</li>
        </ul>
      </div>
      <div class="col-sm-6 course-detail-content">
        <ul class="task-list task-list-md task-list-hover task-list-gray">
          <li class="task-item task-chapter task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
          <li class="task-item task-chapter task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
          <li class="task-item task-chapter task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
        </ul>  
      </div>
    </section>
  </div>
</div>

<!-- 中部 -->
<div class="container">
  <div class="course-detail row">
    <div class="col-lg-9 col-md-8 course-detail-main">
      <div class="alert alert-warning" role="alert">
        <a href="" class="alert-link">
          课程公告：下节直播课程将于本周五上午10:30按时开课，请各位学员准备好上次的作业进行批阅。 <i class="es-icon es-icon-close01 pull-right"></i>
        </a>
      </div>
      <!-- 课程目标 -->
      <section class="es-section">
        <div class="nav-btn-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="">课程概览</a>
            </li>
            <li role="presentation">
              <a href="">课程目录</a>
            </li>
            <li role="presentation">
              <a href="">评论</a>
            </li>
            <li role="presentation">
              <a href="">笔记</a>
            </li>
            <li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>
          </ul>
        </div>
        <div class="course-detail-content">
          <div class="es-piece">
            <div class="piece-header">课程介绍</div>
            <div class="piece-body clearfix">
              <p>Google Analytics是一个运行在Google主机上的免费网站分析工具，她可以告诉你访问者是如何找到并使用你的网站，<br>
              到并使用你的网站，这样，你就可以：<br>
              对网站的设计和内容作出更明智的决定。<br>
              改进网站使更多的访问者转化为客户。<br>
              追踪你的关键字，Banner广告，EDM，及其他营销活动的效果。<br>
              追踪数据，诸如收益，平均订单价值和电子商务转化率。</p>
            </div>
          </div>
          <div class="es-piece">
            <div class="piece-header">课程目标</div>
            <div class="piece-body">
              <ul class="piece-body-list">
                <li> <i class="es-icon es-icon-dot mrm"></i>
                  学习使用Google Analytics追踪网校数据
                </li>
                <li> <i class="es-icon es-icon-dot mrm"></i>
                  学习分析网校数据，改进网校内容
                </li>
              </ul>
            </div>
          </div>
          <div class="es-piece">
            <div class="piece-header">适合人群</div>
            <div class="piece-body">
              <ul class="piece-body-list">
                <li> <i class="es-icon es-icon-dot mrm"></i>
                  网校运营人员
                </li>
                <li> <i class="es-icon es-icon-dot mrm"></i>
                  网校开发人员
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- 课程列表 -->
      <section class="es-section">
        <div class="nav-btn-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
              <a href="">课程概览</a>
            </li>
            <li class="active" role="presentation">
              <a href="">课程目录</a>
            </li>
            <li role="presentation">
              <a href="">评论</a>
            </li>
            <li role="presentation">
              <a href="">笔记</a>
            </li>
            <li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>
          </ul>
        </div>
        
        <div class="course-detail-content">
          <!-- 课程目录 -->
          <div class="clearfix mbl">
            <div class="btn-group pull-right" role="tablist">
              <a class="btn btn-default" href="#home" role="tab" data-toggle="tab"> <i class="es-icon es-icon-menu"></i>
              </a>
              <a class="btn btn-default" href="#profile" role="tab" data-toggle="tab"> <i class="es-icon es-icon-viewmodule"></i>
              </a>
            </div>
          </div>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <ul class="task-list task-list-md task-list-hover">
                <li class="task-item bg-gray-lighter"><i class="es-icon es-icon-menu left-menu"></i>
                  <span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一章：Adobe Photoshop CS6 基础学习篇</span>
                  <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
                </li>
                <li class="task-item color-gray bg-gray-lighter">
                  <span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一节：绘制图形</span>
                    <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
                  </span>
                </li>
                <li class="task-item task-content mouse-control">
                  <i class="es-icon es-icon-undone-check left-menu"></i>
                  <a class="text-overflow title" href="/course/29/task/131/show?preview=1"><span class="label label-warning mr10">免费</span>课时1：移动工具</a>
                  <span class="right-menu mouse-leave">
                    01:00:00 <i class="es-icon es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>
                  </span>
                  <span class="right-menu mouse-enter">
                    <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
                  </span>
                </li>
                <li class="task-item bg-gray-lighter">
                  <i class="es-icon es-icon-menu left-menu"></i>
                  <span class="text-overflow title" href="/course/29/task/131/show?preview=1">第二章</span>
                  <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
                </li>
                <li class="task-item color-gray bg-gray-lighter">
                  <span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一节</span>
                  <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
                </li>
                <li class="task-item task-content mouse-control">
                  <i class="es-icon es-icon-doing left-menu"></i>
                  <a class="text-overflow title" href="/course/29/task/131/show?preview=1">课时2：矩形选框工具</a>
                  <span class="right-menu mouse-leave">
                    01:00:00 <i class="es-icon es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>
                  </span>
                  <span class="right-menu mouse-enter">
                    <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
                  </span>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <ul class="task-list task-chart task-list-md task-list-hover clearfix">
                <li class="task-item"><i class="es-icon es-icon-iccheckcircleblack24px left-menu color-primary"></i>
                  <a class="title" href="/course/29/task/131/show?preview=1"><span class="task-overflow ml5">1-1移动工具(1′32″)</span></a>
                  <i class="es-icon es-icon-videoclass right-menu"></i>
                </li>
                <li class="task-item"><i class="es-icon es-icon-iccheckcircleblack24px left-menu color-primary"></i>
                  <a class="title" href="/course/29/task/131/show?preview=1"><span class="task-overflow ml5">-2矩形选框工具</span></a>
                  <i class="es-icon es-icon-videoclass right-menu"></i>
                </li>
                <li class="task-item"><i class="es-icon es-icon-iccheckcircleblack24px left-menu color-primary"></i>
                  <a class="title" href="/course/29/task/131/show?preview=1"><span class="task-overflow ml5">1-3椭圆选框工具</span></a>
                  <i class="es-icon es-icon-videoclass right-menu"></i>
                </li>
                <li class="task-item"><i class="es-icon es-icon-iccheckcircleblack24px left-menu color-primary"></i>
                  <a class="title" href="/course/29/task/131/show?preview=1"><span class="task-overflow ml5">-2矩形选框工具</span></a>
                  <i class="es-icon es-icon-videoclass right-menu"></i>
                </li>
                <li class="task-item"><i class="es-icon es-icon-iccheckcircleblack24px left-menu color-primary"></i>
                  <a class="title" href="/course/29/task/131/show?preview=1"><span class="task-overflow ml5">1-3椭圆选框工具</span></a>
                  <i class="es-icon es-icon-videoclass right-menu"></i>
                </li>
              </ul>
            </div>
          </div>
          <!-- end课程目录 -->
        </div>
      </section>
    </div>
    <div class="col-lg-3 col-md-4 course-sidebar">
      <!-- 课程特色: 加入前显示，加入后不显示 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">课程特色</h3>
        </div>
        <div class="panel-body">
          <div class="course-kinds row">
            <div class="col-xs-6">
              <div class="media-left">
                <button class="media-icon bg-primary"></button>
                  <i class="es-icon es-icon-videocam media-logo"></i>
              </div>
              <div class="media-body">含直播(3)</div>
            </div>
            <div class="col-xs-6">
              <div class="media-left">
                <button class="media-icon bg-primary"></button>
                  <i class="es-icon es-icon-mylibrarybooks media-logo"></i>
              </div>
              <div class="media-body">含作业(8)</div>
            </div>
          </div>
          <div class="course-kinds row">
            <div class="col-xs-6">
              <div class="media-left">
                <button class="media-icon bg-primary"></button>
                  <i class="es-icon es-icon-exam media-logo"></i>
              </div>
              <div class="media-body">含考试(5)</div>
            </div>
            <div class="col-xs-6">
              <div class="media-left">
                <button class="media-icon bg-primary"></button>
                  <i class="es-icon es-icon-download media-logo"></i>
              </div>
              <div class="media-body">含资料(3)</div>
            </div>
          </div>
          <div class="course-kinds row">
            <div class="col-xs-6">
              <div class="media-left">
                <button class="media-icon bg-primary"></button>
                  <i class="es-icon es-icon-forum media-logo"></i>
              </div>
              <div class="media-body">含讨论(2)</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 其他计划: 加入前不显示，加入后不显示-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">其他计划</h3>
        </div>
        <div class="panel-body course-list">
          <div class="course-item">
            <div class="course-img">
              <a href="/course/2" target="_blank">
                <img src="/assets/img/default/course.png" alt="xxx" class="img-responsive"></a>
            </div>
            <div class="course-info">
              <div class="title">
                <a class="link-dark" href="/course/2" target="_blank">xxx</a>
              </div>
              <div class="metas clearfix">
                <span class="num"> <i class="es-icon es-icon-people"></i>
                  0
                </span>
                <span class="comment"> <i class="es-icon es-icon-textsms"></i>
                  0
                </span>
                <span class="course-price-widget">
                  <span class="price">0.01元</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 推荐班级 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">推荐班级</h3>
        </div>
        <div class="panel-body recommend-class-list">
          <div class="class-item">
            <div class="class-img-wrap">
              <a class="class-img" href="/classroom/2">
                <img src="/assets/img/default/course.png" alt="课程套餐" class="img-responsive"></a>
              <div class="mask">

                <a href="/classroom/2" class="btn btn-warning">继续学习</a>
              </div>
            </div>
            <h3>
              <a class="link-dark" href="/classroom/2">课程套餐</a>
            </h3>
            <div class="metas">共有5门课程</div>
          </div>
        </div>
      </div>
      <!-- 授课教师 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">授课教师</h3>
        </div>
        <div class="panel-body">
          <div class="media media-default">
            <div class="media-left">
              <a class=" js-user-card" href="/user/61" data-card-url="/user/61/card/show" data-user-id="61" data-original-title="" title="">
                <img class="avatar-md" src="/files/user/2016/05-25/1739048f39be702535.png"></a>
            </div>
            <div class="media-body">
              <div class="title">
                <a class="link-dark link-light" href="/user/61">无名02</a>
              </div>
              <div class="content">教师</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 最新学员-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">最新学员</h3>
        </div>
        <div class="panel-body">
          <ul class="user-avatar-list clearfix">
            <li>
              <a class=" js-user-card" href="/user/20913" data-card-url="/user/20913/card/show" data-user-id="20913" data-original-title="" title="">
                <img class="avatar-sm" src="{{ asset('assets/v2/img/card_user.png') }}">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 授课教师 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">授课教师</h3>
        </div>
        <div class="panel-body">
          <div class="media media-number-o color-gray text-overflow">
            <a class="link-dark " href="/user/18431">C佳佳</a>
            开始学习课时
            <a class="link-dark" href="" title="来自《课程功能体验》">引进腾讯视频</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}