<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新学员</h3>
  </div>
  <div class="panel-body">
    <ul class="user-avatar-list clearfix">
      <li>
        <a class=" js-user-card" href="/user/20913" data-card-url="/user/20913/card/show" data-user-id="20913" data-original-title="" title="">
          <img class="avatar-sm" src="{{ asset('assets/v2/img/card_user.png') }}">
        </a>
      </li>
    </ul>
  </div>
</div>