<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">推荐班级</h3>
  </div>
  <div class="panel-body recommend-class-list">
    <div class="class-item">
      <div class="class-img-wrap">
        <a class="class-img" href="/classroom/2">
          <img src="/assets/img/default/course.png" alt="课程套餐" class="img-responsive"></a>
        <div class="mask">

          <a href="/classroom/2" class="btn btn-warning">继续学习</a>
        </div>
      </div>
      <h3>
        <a class="link-dark" href="/classroom/2">课程套餐</a>
      </h3>
      <div class="metas">共有5门课程</div>
    </div>
  </div>
</div>