<form class="mobile-search" action="{{ path('search') }}" method="get">
  <div class="form-group">
    <input class="form-control search-input" name="q" placeholder="{{ 'explore.course.search.placeholer'|trans }}">
    <button class="btn es-icon es-icon-search1" type="submit"></button>
  </div>
</form>
