{% extends 'course-set/layout.html.twig' %}

{% set nav = 'directory' %}

{% block detail_content %}
  {% if course.isDefault %}
    {% include 'course-set/task-list/free-mode.html.twig' %}
  {% else %}
    {% include 'course-set/task-list/lock-mode.html.twig' %}
  {% endif %}
{% endblock %}



<!-- 课程列表 -->
{#<section class="es-section">#}
  {#<div class="nav-btn-tab">#}
    {#<ul class="nav nav-tabs" role="tablist">#}
      {#<li role="presentation">#}
        {#<a href="">课程概览</a>#}
      {#</li>#}
      {#<li class="active" role="presentation">#}
        {#<a href="">课程目录</a>#}
      {#</li>#}
      {#<li role="presentation">#}
        {#<a href="">评论</a>#}
      {#</li>#}
      {#<li role="presentation">#}
        {#<a href="">笔记</a>#}
      {#</li>#}
      {#<li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>#}
    {#</ul>#}
  {#</div>#}
  {#<div class="course-detail-content">#}
    {#<ul class="task-list task-list-md task-list-hover">#}
      {#<li class="task-item bg-gray-lighter"><i class="es-icon es-icon-menu left-menu"></i>#}
        {#<span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一章：Adobe Photoshop CS6 基础学习篇</span>#}
        {#<i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>#}
      {#</li>#}
      {#<li class="task-item color-gray bg-gray-lighter">#}
        {#<span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一节：绘制图形</span>#}
        {#<i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>#}
        {#</span>#}
      {#</li>#}
      {#<li class="task-item task-content mouse-control">#}
        {#<i class="es-icon es-icon-undone-check left-menu"></i>#}
        {#<a class="text-overflow title" href="/course/29/task/131/show?preview=1"><span class="label label-warning mr10">免费</span>课时1：移动工具</a>#}
        {#<span class="right-menu mouse-leave">#}
                {#01:00:00 <i class="es-icon es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>#}
              {#</span>#}
        {#<span class="right-menu mouse-enter">#}
                {#<a class="btn btn-primary btn-sm btn-learn">继续学习</a>#}
              {#</span>#}
      {#</li>#}
      {#<li class="task-item bg-gray-lighter">#}
        {#<i class="es-icon es-icon-menu left-menu"></i>#}
        {#<span class="text-overflow title" href="/course/29/task/131/show?preview=1">第二章</span>#}
        {#<i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>#}
      {#</li>#}
      {#<li class="task-item color-gray bg-gray-lighter">#}
        {#<span class="text-overflow title" href="/course/29/task/131/show?preview=1">第一节</span>#}
        {#<i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>#}
      {#</li>#}
      {#<li class="task-item task-content mouse-control">#}
        {#<i class="es-icon es-icon-doing left-menu"></i>#}
        {#<a class="text-overflow title" href="/course/29/task/131/show?preview=1">课时2：矩形选框工具</a>#}
        {#<span class="right-menu mouse-leave">#}
                {#01:00:00 <i class="es-icon es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>#}
              {#</span>#}
        {#<span class="right-menu mouse-enter">#}
                {#<a class="btn btn-primary btn-sm btn-learn">继续学习</a>#}
              {#</span>#}
      {#</li>#}
    {#</ul>#}
  {#</div>#}
{#</section>#}