<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">授课教师</h3>
  </div>
  <div class="panel-body">
    <div class="media media-default">
      <div class="media-left">
        <a class=" js-user-card" href="/user/61" data-card-url="/user/61/card/show" data-user-id="61" data-original-title="" title="">
          <img class="avatar-md" src="/files/user/2016/05-25/1739048f39be702535.png"></a>
      </div>
      <div class="media-body">
        <div class="title">
          <a class="link-dark link-light" href="/user/61">无名02</a>
        </div>
        <div class="content">教师</div>
      </div>
    </div>
  </div>
</div>