{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% block title %}
  {{ '错误'|trans }}
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1 class="text-center">{{'提示'|trans}}  </h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">{{ '当前用户没有查看此菜单的权限'|trans }}</h4>
    </div>
  </div>

{% endblock %}