{% set announcements = data('Announcement',{ count:2 }) %}
{% if announcements %}
  <div class="container announcement announcements-alert" >
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {% for announcement in announcements %}
        <a class="open-article-link" {% if announcement.url %} href="{{announcement.url}}" target="_blank"{% endif %}>
          <span class="glyphicon glyphicon-volume-up banner-volume"></span>
          {{announcement.title|sub_text(16)}}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}