@font-face {
  font-family: 'UKIJ Tuz Tom';
  src: url('UKIJTuzTom.eot');
  src: local('UKIJ Tuz Tom'), local('UKIJTuzTom'), url('UKIJTuzTom.eot?#iefix') format('embedded-opentype'), url('UKIJTuzTom.woff2') format('woff2'), url('UKIJTuzTom.woff') format('woff'), url('UKIJTuzTom.ttf') format('truetype'), url('UKIJTuzTom.svg#UKIJTuzTom') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "UKIJ Tuz Tom";
  direction: rtl;
}
.es-poster {
  direction: ltr;
}
