.user-data-avatar {
  width: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-data-count {
  label {
    width: 90px;
  }
}

.user-data-title {
  font-size: 18px;
  line-height: 1;
}

.user-data-line {
  border-top: 2px solid #eee;
}

.user-date-select {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  i {
    position: absolute;
    right: 0;
    top: 8px;
    color: rgba(0, 0, 0, 0.3);
    background: #fff;
    font-size: 18px;
  }
}

.user-date-select__range {
  position: relative;
  padding: 6px 12px;
  width: 189px;
  height: 34px;
  border: 0;
  opacity: 0.4;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  line-height: 16px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 10;
  &:focus {
    outline: 0;
  }
}

.user-date-select__link {
  color: rgba(0,0,0,0.3);
  padding-left: 15px;
  &:hover,
  &:focus {
    color: #000;
  }
}

.user-teaching-plan {
  padding: 40px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.01), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.01), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.01), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.user-teaching-plan__info {
  float: left;
  width: 50%;
}

.user-teaching-plan__progress {
  float: right;
  margin-top: 16px;
  width: 50%;
  .plan-progress {
    margin-left: 16px;
    margin-right: 12px;
    display: inline-block;
  }
}

.user-teaching-plan__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.plan-progress {
  width: 63%;
  background-color: rgba(0, 0, 0, .08);;
  color: #fff;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  &.plan-progress-xs {
    height: 4px;
  }
}