<div class="panel-heading">
    <p class="simple-introdution">
      {{user.nickname}}
      <button type="button" class="btn btn-primary pull-right" >已关注</button>
      <button type="button" class="btn btn-success pull-right">发私信</button>
      {% if userProfile.signature %}
      <p class="signature">{{ userProfile.signature }}</p>
      {% endif %}
    </p>
</div>