<div class="panel-heading">
    <p class="simple-introdution">
      {{user.nickname}}
      <a class="btn btn-primary pull-right" >已关注</a>
      <a class="btn btn-success pull-right" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">发私信</a>
      {% if userProfile.signature %}
      <p class="signature">{{ userProfile.signature }}</p>
      {% endif %}
    </p>
</div>