{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{app.user.nickname}}的主页 - {{ parent() }}{% endblock %}
{% set navType = 'teaching' %}

{% set script_controller = 'user/user' %}

{% block content %}

{% include 'TopxiaWebBundle:User:simple-introdution.html.twig' with {userProfile:userProfile, user: user, followings:followings, followers: followers} %}

<div class="row">

    <div class="col-lg-9">

        <div class="panel panel-default panel-col">
          {% include 'TopxiaWebBundle:User:nav-tabs.html.twig' with {userProfile:userProfile, user: user, followings:followings, followers: followers} %}

          <div class="panel-body">
            {% if courses is empty %}
                <div class="empty">暂无在教课程</div>
            {% else %}
                {% include 'TopxiaWebBundle:Course:grids.html.twig' with {mode:'default'} %}
            {% endif %}
          </div>
        </div>
    </div>

    {% include 'TopxiaWebBundle:User:right-down.html.twig' with {userProfile:userProfile, user: user, followings:followings, followers: followers} %}
</div>

{% endblock %}