{% extends 'activity/activity-form-layout.html.twig' %}
{% do script(['libs/ltc-sdk-client.js', 'libs/perfect-scrollbar.js', 'videoactivity/js/finish/index.js']) %}

{% block activity_step %}
  <form class="form-horizontal" id="step3-form" >
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="condition">{{ 'course.plan_task.activity_manage.finished_condition'|trans }}</label>
      </div>
      <div class="col-sm-10">
      <p class="form-control-static">{{'course.plan_task.activity_manage.live.join_tips'|trans}}</p>
      </div>
    </div>
  </form>
{% endblock %}