{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_course_tag' %}
{% set script_controller = 'tag/list' %}
{% block main %}

<table id="tag-table" class="table table-striped">
    <thead>
        <th width="10%">ID</th>
        <th width="60%">名称</th>
        <th width="20%">添加时间</th>
        <th width="10%">操作</th>
    </thead>
    <tbody>
      {% if tags %}
        {% for tag in tags %}
          {% include 'TopxiaAdminBundle:Tag:list-tr.html.twig' %}
        {% endfor %}
      {% else %}
       <tr><td colspan="20"><div class="empty">暂无标签记录</div></td></tr>
      {% endif %}

    </tbody>
</table>

{{ admin_macro.paginator(paginator) }}


{% endblock %}