{% extends 'TopxiaAdminBundle:Course:layout.html.twig' %}

{% block title %}标签管理 - {{ parent() }}{% endblock %}

{% set menu = 'tag' %}
{% set script_controller = 'tag/list' %}
{% block main %}

<div class="mbl">
  {% set type = 'manage'%}
  {% set menus = permissions('admin_course_tag','tab') %}
  {{ admin_macro.tab_group(menus,type) }}
</div>

<div class="page-header clearfix">

  {% set menus = permissions('admin_course_tag','button') %}
  {{ admin_macro.btn_group(menus,type) }}   

</div>

<table id="tag-table" class="table table-striped">
    <thead>
        <th width="10%">ID</th>
        <th width="60%">名称</th>
        <th width="20%">添加时间</th>
        <th width="10%">操作</th>
    </thead>
    <tbody>
      {% if tags %}
        {% for tag in tags %}
          {% include 'TopxiaAdminBundle:Tag:list-tr.html.twig' %}
        {% endfor %}
      {% else %}
       <tr><td colspan="20"><div class="empty">暂无标签记录</div></td></tr>
      {% endif %}

    </tbody>
</table>

{{ web_macro.paginator(paginator) }}


{% endblock %}