{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}设置标签{% endblock %}

{% block body %}
  <form class="form-horizontal" id="course-tag-form" action="{{ path('admin_course_tag', {course:course.id}) }}" method="post">

    <div class="control-group">
      <label class="control-label">课程名称</label>
      <div class="controls">
        <span class="input-xlarge uneditable-input">{{ course. title }}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">标签</label>
      <div class="controls" id="course-tag-form-tags">
        {% for tag in termTags %}
          <a href="javascript:;" class="badge {% if tag.id in course.tags2 %}badge-success{% endif %}" data-tag-id="{{ tag.id }}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>

  </form>


{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary">保存</button>

  <script>
  $(function(){
    var $form = $('#course-tag-form'),
        $tags = $("#course-tag-form-tags");

    $tags.on('click', '.badge', function() {
      $(this).toggleClass('badge-success');
    });

    $form.submit(function() {
      var tagIds = [];
      $tags.find('.badge-success').each(function(){
        tagIds.push($(this).data('tagId'));
      });

      $.post($form.attr('action'), { tagIds: tagIds }, function(response) {
        window.location.reload();
      }, 'json');
      return false;
    });
  });
  </script>

{% endblock %}