<div class="well well-sm" style="margin-bottom:10px">
  <span style="padding-right:50px">筛选:</span>
  <span>时间范围:</span>

  <div class="form-group ">
    <input class="form-control" type="text" id="startDate" name="startDate" value="" placeholder="起始时间">
    -
    <input class="form-control" type="text" id="endDate" name="endDate" value="" placeholder="结束时间">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="processStatus" value="error"> 转码失败
    </label>
  </div>
</div>