<ul class="nav nav-tabs" style="margin-bottom:20px">
  <li class="active" data-value=""><a href="javascript:;">全部</a></li>
  <li class="" data-value="video"><a href="javascript:;">视频</a></li>
  <li class="" data-value="audio"><a href="javascript:;">音频</a></li>
  <li class="" data-value="image"><a href="javascript:;">图片</a></li>
  <li class="" data-value="document"><a href="javascript:;">文档</a></li>
  <li class="" data-value="ppt"><a href="javascript:;">PPT</a></li>
  <li class="" data-value="other"><a href="javascript:;">其它</a></li>
  <input type="hidden" name="type" value="{{ type|default('') }}">
  <div class="form-group">
    <input class="form-control" name="keywords" placeholder="搜索">
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm">搜索</button>
  </div>
  
</ul>

