<ul class="nav nav-tabs">
  <li class="all"><span>类型：</span></li>
  <li class="active type" data-value=""><a href="javascript:;">全部</a></li>
  <li class="type" data-value="video"><a href="javascript:;">视频</a></li>
  <li class="type" data-value="audio"><a href="javascript:;">音频</a></li>
  <li class="type" data-value="image"><a href="javascript:;">图片</a></li>
  <li class="type" data-value="document"><a href="javascript:;">文档</a></li>
  <li class="type" data-value="ppt"><a href="javascript:;">PPT</a></li>
  <li class="type" data-value="other"><a href="javascript:;">其它</a></li>
  <input type="hidden" name="type" value="{{ type|default('') }}">
</ul>

