<div class="well well-sm">
  <span style="padding-right:50px">排序:</span>

  <div class="form-group">
    <select class="form-control" name="keywordType">
      <option value="content">最近上传</option>
      <option value="courseId">最早上传</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-control" name="keywordType">
      <option value="content">最多播放</option>
      <option value="courseId">最少播放</option>
    </select>
  </div>
</div>