<div class="well well-sm" style="margin-bottom:10px;position:relative;">
  <span style="position:absolute">标签:</span>

  <div class="tags-container">
    {% for tag in tags %}
      <span class="label label-default">{{ tag.name }}</span>
    {% endfor %}
    <input type="hidden" name="tags">
  </div>

</div>