.course-title {
  line-height: 32px;
  margin: 8px 0 16px 0;
}
#course-student-list .media {
  position: relative;
}
#course-student-list .media .progress {
  position: absolute;
  top: 12px;
  left: 180px;
  width: 150px;
  margin: 0;
}
.announcement-list li .action {
  visibility: hidden;
}
.announcement-list li:hover .action {
  visibility: visible;
}
