<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{'新加组员'|trans}}</h3></div>
  <div class="panel-body">
    {% if activeMembers %}
      <ul class="user-grids">
        {% for member in activeMembers %}
          <li style="width:18%;">
            {{ web_macro.user_avatar(members[member.userId] , 'user-link user-avatar-link pull-left media-object media-object-small ')}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {{'还没有小组成员！'|trans}}
    {% endif %}
    <br>
  </div>
</div>