<ul class="nav nav-pills userpage-nav clearfix">
	<li {% if tab=="index" %}class="active"{% endif %}><a href="{{path('group_index',{id:groupinfo.id})}}">小组首页</a></li>
	<li {% if tab=="member" %}class="active"{% endif %}><a href="{{path('group_member',{id:groupinfo.id})}}">小组成员</a></li>
	{% if is_groupmember==2 or is_granted('ROLE_ADMIN') or is_groupmember==3%}
	<li {% if tab=="set" %}class="active" {% endif %}><a  href="{{path('group_set',{id:groupinfo.id,action:'setLogo'})}}">小组设置</a></li>
	{% endif %}
</ul>