{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% block title %}悬赏{% endblock %}
{% block body %}

<form id="reward-form" class="form-horizontal" method="post" action="{{path('group_thread_reward',{threadId:threadId})}}">

  <div class="row form-group">
    <div class="col-md-3 col-md-offset-2 control">
      <label class="control-label"> 账户余额:</label>
    </div>
    <div class="col-md-3 controls">
       <label class="control-label" id="canUse" data-val="{{account.cash|default(0)}}">{{account.cash|default(0)}}</label>
    </div>

  </div>

  <div class="row form-group">
    <div class="col-md-3 col-md-offset-2 control">
      <label for="amount" class="control-label"> 悬赏额:</label>
    </div>
    <div class="col-md-3 controls">
       <input name="amount" class="form-control" tyoe="text" id="amount"/>
    </div>

  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>
{% endblock %}

{% block footer %}
  <script>
    app.load('group/reward-modal');
  </script>
  <button id="create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#reward-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}
