{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_block' %}

{% set script_controller = 'block/list' %}
{% block main %}
 {% include 'TopxiaAdminBundle:Block:table.html.twig'%}
<table id="block-table" class="table table-striped">
  <thead>
    <tr>
      <th width="50%">标题</th>
      <th width="25%">最近更新</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    {% if blockTemplates %}
      {% for blockTemplate in blockTemplates %}
        {% set latestHistory = latestHistories[blockTemplate.id]|default(null) %}
        {% set latestUpdateUser = users[latestHistory.userId|default(null)]|default(null) %}
        {% include 'TopxiaAdminBundle:Block:list-tr.html.twig' %}
        
      {% endfor %}
  {% else %}
        <tr><td colspan="20"><div class="empty">暂无编辑区记录</div></td></tr>
  {% endif %}
   </tbody>
</table>
 {{ admin_macro.paginator(paginator) }} 
 <style>
.form-control.quicksearch{
  display:inline;
  float:right;
  width:auto;
  padding:4px 12px;
}
<style>

.price{

  color: #e57259;
  font-size: 16px;

}

.ui-autocomplete {
    border:1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
    margin:0;
    padding:0;
}
.ui-autocomplete-item {
    width: 180px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding:0 10px 0 10px;
    cursor: default;
}
.ui-autocomplete-item-hover {
    background:#f2f2f2;
}
.ui-autocomplete-item-hl {
    background:#F6FF94;
}
</style>
{% endblock %}
