{% extends 'TopxiaAdminBundle:Block:layout.html.twig' %}
{% set tab_menus = menus("admin",'admin_operation_block', 1) %}
{% set menu = 'admin_operation_block' %}
{% set submenu = 'block' %}
{% block title %}{{ html_title('admin','admin_operation_block')}}{% endblock %}

{% set script_controller = 'block/list' %}
{% block main %}


  {% if setting('developer.debug') %}

    <div class="clearfix well well-sm">
      {% set btn_menus = menus("admin","admin_operation_block", 2) %}
      {% include 'TopxiaAdminBundle::button.html.twig' with {menus : btn_menus} %}
    </div>
    
  {% endif %}


<table id="block-table" class="table table-striped">
  <thead>
    <tr>
      <th width="50%">标题</th>
      <th width="25%">最近更新</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    {% if blocks %}
      {% for block in blocks %}
        {% include 'TopxiaAdminBundle:Block:list-tr.html.twig' %}
      {% endfor %}
  {% else %}
        <tr><td colspan="20"><div class="empty">暂无编辑区记录</div></td></tr>
  {% endif %}
   </tbody>
</table>

 {{ web_macro.paginator(paginator) }} 
{% endblock %}