{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_block' %}

{% block page_buttons %}  {% if setting('developer.debug') %}

    <div class="clearfix ">
      <a data-url="{{ path('admin_block_create') }}" data-toggle="modal" data-target="#modal" class=" btn btn-success btn-sm pull-right mls "> 新增编辑区</a>
    </div>
    
  {% endif %}
{% endblock %}

{% set script_controller = 'block/list' %}
{% block main %}

<table id="block-table" class="table table-striped">
  <thead>
    <tr>
      <th width="50%">标题</th>
      <th width="25%">最近更新</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    {% if blocks %}
      {% for block in blocks %}
        {% include 'TopxiaAdminBundle:Block:list-tr.html.twig' %}
      {% endfor %}
  {% else %}
        <tr><td colspan="20"><div class="empty">暂无编辑区记录</div></td></tr>
  {% endif %}
   </tbody>
</table>

 {{ web_macro.paginator(paginator) }} 
{% endblock %}