{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set modal_size = 'xlarge' %}

{% block title %}测验{% endblock %}

{% set block = block|default(null) %}

{% block body %}

<div class="quiz-page quiz-container">

  {% if quiz is empty and quizItems is empty  %}
      
    {% include 'TopxiaWebBundle:LessonQuizPlugin:quiz-empty-and-items-empty.html.twig' %}

  {% elseif quiz is not empty and quizItems is empty  %}
      
    {% include 'TopxiaWebBundle:LessonQuizPlugin:quiz-empty-and-items-exist.html.twig' with {quiz: quiz} %}

  {% elseif quizItems is not empty  %}
      
    {% include 'TopxiaWebBundle:LessonQuizPlugin:items-exist.html.twig' with {quizItems: quizItems, lessonQuiz:lessonQuiz } %}

  {% endif %}

</div>

<script>app.load('course/quiz')</script> 

{% endblock %}

{% block footer %}
    {% if quizItems %}
      <button style="display:none" class="next-item btn btn-primary" data-url="{{ path('course_lesson_plugin_quiz_check_result', {quizId:lessonQuiz.id}) }}">下一题</button>
    {% endif %}
{% endblock %}

{% set hide_footer = true %}