{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set modal_size = 'xlarge' %}

{% block title %}测验{% endblock %}

{% block body %}
<div id="quiz" class="quiz" data-item-count="{{ quizItems|length }}">
	{% if quizItems is empty  %}
		<div class="empty-item empty">本课时暂无测验!</div>
	{% else %}
		<div class="quiz-forms">
			{% include 'TopxiaWebBundle:LessonQuizPlugin:items-exist.html.twig' with {items: quizItems, lessonQuiz:lessonQuiz } %}
		</div>

		<div class="quiz-result"></div>
	{% endif %}
		<div class="quiz-actions">
			{% if lessonQuiz %}
			<button class="btn btn-primary check-answer" style="display:none">提交</button>
			<button class="btn btn-primary next-item" style="display:none">下一题</button>
			<button class="btn btn-primary view-result"  style="display:none" data-url="{{ path('course_lesson_plugin_quiz_check_result', {quizId:lessonQuiz.id}) }}">查看测验成绩</button>
			<button class="btn btn-default in-result redo-quiz" data-toggle="modal" data-target="#modal" data-url="{{ path('course_lesson_plugin_quiz_start', {courseId:quiz.courseId, lessonId:quiz.lessonId}) }}">重新测验</button>
			<button class="btn btn-primary in-result close-quiz" data-dismiss="modal" >回到课堂</button>
			{% endif %}
		</div>

</div>

<script>app.load('course/quiz')</script>
{% endblock %}

{% set hide_footer = true %}