{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}测验{% endblock %}

{% set block = block|default(null) %}

{% block body %}
    
  <div class="quiz-page quiz-container">

    <div class="alreay-lesson-quiz">
      <h4> 你的上次成绩为: <span class="text-success">{{quiz.score}}分</span></h4>
      <div class="text-muted">多次参加测验，以最后一次成绩为准。</div>

    </div>

  </div>

{% endblock %}

{% block footer %}
    <button id="start-quiz" class="start-quiz btn btn-primary" data-toggle="modal" data-target="#modal" data-url="{{ path('course_lesson_plugin_quiz_start', {courseId:quiz.courseId, lessonId:quiz.lessonId}) }}">开始测验</button>
    <script>
    	$("#start-quiz").click();
    </script>
{% endblock %}

{% set hideFooter = true %}