{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}欢迎来到本课程的测试页面！{% endblock %}

{% set block = block|default(null) %}

{% block body %}
    
  <div class="quiz-page quiz-container">

    <div class="alreay-lesson-quiz">
      <h4> 你上次的成绩为: {{quiz.score}} 分</h4>
      <button id="start-quiz" class="start-quiz btn btn-primary" data-toggle="modal" data-target="#modal" data-url="{{ path('course_lesson_plugin_quiz_start', {courseId:quiz.courseId, lessonId:quiz.lessonId}) }}">开始答题！</button>
    </div>

  </div>

{% endblock %}

{% set hideFooter = true %}