{% for imglink in carousel|default(null) if imglink.src|default('') %}
<section class="middle-banner-section">
  <a href="{{ imglink.href|default('') }}" target="{{ imglink.target }}"><img class="img-responsive" src="{{ imglink.src|default('') }}" alt="{{ imglink.alt|default('') }}" style="margin: 0 auto"></a>
</section>
{% endfor %}