.task-manage-editor {
  .task-manage-type-list {
    padding: 0;
    .task-manage-type-item {
      >a {
        height: 150px;
        background-color: #f5f6f8;
        display: block;
        text-align: center;
        color: @gray;
        .es-transition;
        .border-radius(4px);
        border: 1px solid #f5f6f8;
      }
      &:hover  {
        >a {
          background: #f5f6f8;
          border: 1px solid @brand-primary;
          .es-transition;
        }
      }
      &.active {
        >a {
          background: @brand-primary;
          color: #fff;
          .es-transition;
        }
      }
      i {
        display: block;
        font-size: 30px;
        padding-top: 35px;
        margin-bottom: 10px;
      }
    }
  }
}

.task-manage-content-iframe {
  min-height: 300px;
  width: 100%;
  border: none;
}

