.group-user-info {
  hr {
    margin: 15px 0;
    background: @gray-light;
  }
  .group-message {
    margin: 0;
    span {
      float: left;
      width: 50%;
      text-align: center;
      font-size: 12px;
      color: @gray;
    }
    strong {
      display: block;
      color: @gray-darker;
      font-size: 18px;
      font-weight: normal;
    }
  }
}

// 最新话题
.thread-list{
  .media-left{
    padding-right: 18px;
  }
  .media-heading{
    margin-bottom: 10px;
  }
  .reply-num {
    display: inline-block;
    width: 60px;
    height: 60px;
    .border-radius(2px);
    background: #f1f1f1;
    color: @gray;
    text-align: center;
    font-size: 12px;
    strong {
      display: block;
      font-size: 20px;
      font-weight: normal;
      padding: 7px 0 0;
    }
  }
}
