.open-course-views {
	padding: 0;
	height: 500px;
	position: relative;
	// float: left;
	// img {
	// 	width: 100%;
	// 	height: 100%;
	// 	display: block;
	// }
	.mask {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		.mask-content {
			position: absolute;
			width: 330px;
			height: 160px;
			left: 50%;
			top: 50%;
			margin-top: -80px;
			margin-left: -165px;
			text-align: center;
			h2 {
				font-size: 20px;
				color: #fff;
				margin-bottom: 20px;
			}
			.mask-btn {
				font-size: 20px;
				.border-radius(4px);
				.es-icon {
					font-size: 23px;
					padding-left: 10px;
				}
			}
		}
		// .start-btn {
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 50%;
		// 	margin-left: -85px;
		// 	margin-top: -30px;
		// 	width: 170px;
		// 	height: 60px;
		// 	.border-radius(4px);
		// 	font-size: 20px;
		// 	.es-icon {
		// 		font-size: 23px;
		// 		padding-left: 13px;
		// 	}
		// }
	}
	.modal-dialog {
		.modal-img {
			float: left;
			width: 33.3%;
			color: @gray-darker;
			padding: 0 8px;
			img {
				.border-radius(3px);
				margin-bottom: 12px;
			}
		}
		// .refresh-btn {
		// 	color: @gray;
		// 	padding-right: 20px;
		// 	.es-icon {
		// 		padding-right: 5px;
		// 	}
		// }
		button {
			color: #fff;
			font-size: 14px;
			// .es-icon {
			// 	padding-right: 10px;
			// 	font-size: 14px;
			// }
		}
		.share-btn {
			background-color: #70d445;
			border-color: #70d445;
			&:hover {
				background-color: darken(#70d445, 10%);
			}
		}
		.next-btn {
			background-color: #ff8a0c;
			border-color: #ff8a0c;
			&:hover {
				background-color: darken(#ff8a0c, 10%);
			}
		}
	}
}

.open-course-tab {
	// float: left;
	// width: 288px;
	height: 500px;
	background-color: #212121;
	color: #ffffff;
	padding: 0;
	@media(max-width:@screen-md-max) {
		height: auto;	
	}
	ul {
		padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    .tab-header {
			width: 50%;
			float: left;
			padding: 20px 0;
			font-size: 16px;
			cursor: pointer;
			background-color: @gray-darker;
			text-align: center;
			&.active, &:hover {
				background-color: #212121;
				.es-transition;
			}
		}
	}
	.tab-recommand {
		padding: 10px 20px 10px 15px;
			&:first-child {
			padding: 15px 20px 10px 15px;
		}
		img {
			width: 44%;
			.border-radius(4px);
			float: left;
			margin-right: 15px;
		}
		.open-course-info {
			float: left;
			font-size: 12px;
			width: 48%;
			.title {
				height: 42px;
				line-height: 21px;
		    overflow: hidden;
  			text-overflow: ellipsis;
				padding-bottom: 8px;
				a {
					color: rgba(255, 255, 255, 0.8);
					&:hover {
						color: @brand-primary;
						.es-transition;
					}
				}
			}
			.num {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
	// .tab-recommand {
	// 	padding: 10px 20px 10px 15px;
	// 	&:first-child {
	// 		padding: 15px 20px 10px 15px;
	// 	}
	// 	&:last-child {
	// 		padding: 10px 20px 15px 15px;
	// 	}
	// 	img {
	// 		width: 45%;
	// 		.border-radius(4px);
	// 		float: left;
	// 		margin-right 15px;
	// 	}
	// 	.open-course-info {
	// 		float: left;
	// 		font-size: 12px;
	// 		width: 48%;
	// 		.title {
	// 			height: 42px;
	// 			line-height: 21px;
	// 	    overflow: hidden;
 //  			text-overflow: ellipsis;
	// 			padding-bottom: 8px;
	// 			a {
	// 				color: rgba(255, 255, 255, 0.8);
	// 				&:hover {
	// 					color: @brand-primary;
	// 					.es-transition;
	// 				}
	// 			}
	// 		}
	// 		.num {
	// 			color: rgba(255, 255, 255, 0.5);
	// 		}
	// 	}
	// }
	.tab-live a{
		padding: 14px 50px 14px 20px;
    white-space: nowrap;
    word-wrap: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		display: block;
		color: rgba(255, 255, 255, 0.7);
		// a {
		// 	color: rgba(255, 255, 255, 0.7);
		// 	display: block;
		// 	&:hover,&:active {
		// 		color: rgba(255, 255, 255, 1);
		// 	}
		// }
		&:hover,&:active {
			background-color: @brand-primary;
			color: rgba(255, 255, 255, 1);
		}
	}
}

.open-course-header {
	margin-top: 20px;
	.course-img {
		width: 120px;
		margin-right: 20px;
		float: left;
		img {
			.border-radius(3px);
		}
	}
	.course-info {
		float: left;
		.title {
			font-size: 20px;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		.matas span{
			padding-right: 25px;
			color: @gray;
		}
	}
	.course-operation {
		float: right;
		padding-top: 15px;
		color: @gray;
		ul {
			padding: 0;
    	margin-bottom: 0;
    	list-style-type: none;
		}
		li {
			float: left;
			padding: 0 10px;
			width: 145px;
			border-right: 1px solid #f1f1f1;
			&:last-child {
				border-right: 0;
			}
			.operation-icon {
				float: left;
		    display: block;
		    width: 35px;
		    height: 35px;
		    line-height: 35px;
		    margin: 0 10px;
		    font-size: 22px;
		    vertical-align: middle;
		    border-radius: 50%;
		    color: #fff;
		    text-align: center;
		    .es-transition;
			}
			.unoperation-list {
				&:hover,&:active {
					.unoperation-list {
						display: none;
					}
					.operation-list {
						display: block;
					}
				}
				.unoperation-icon {
				background-color: @gray;
				// &:active,&:hover {
				// 	background-color: #e85749;
				// }
				}
				.operation-list {
					background-color: #e85749;
				}
			}
			.es-icon-thumbup {
				background-color: @gray;
				&.active {
					background-color: #e85749;
				}
			}
			.es-icon-bookmarkoutline,.es-icon-bookmark {
				background-color: #53c3f5;
			}
			.es-icon-share {
				background-color: #83d460;
			}
			.es-icon-phone1 {
				background-color: #ff8a0c;
			}
			.open-course-qrcode {
				position: relative;
				.qrcode-popover {
					position: absolute;
					left: 0;
					top: 0;
					width: 110px;
					height: 110px;
					display: none;
					z-index: 10;
					cursor: pointer;
					// img {
					// 	width: 100%;
					// }
				}
				&:hover .qrcode-popover{
					display: block;
				}
			}
			.es-share.top .dropdown-menu {
				left: 15px;
			}
			.qrcode-popover.top .qrcode-content{
				top: -250px;
			}
		}
	}
}

// .open-course-detail {
// 	.es-section {
// 		padding: 15px 20px;
// 	}
// }

// .course-intro {
// 	color: @gray-darker;
// 	padding: 15px 20px;
// 	img {
// 		display: block;
// 		width: 188px;
// 		margin-top: 10px;
// 	}
// }
.open-course-detail .course-img {
	width: 120px;
	display: block;
	margin-top: 10px;
}
.open-course-teacher {
	img {
		// display: block;
		margin: 0 auto;
	}
	.intro {
		height: 80px;
		line-height: 20px;
    word-wrap: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
	}
}
.course-comment {
	padding: 15px 20px;
	.media {
		margin-bottom: 40px;
		margin-top: 20px;
		&:first-child {
			margin-bottom: 20px;
			border-bottom: 1px solid @gray-lighter;
		}
	}
}