.marker-modal {
  .question-heading {
    color: @gray-darker;
    font-size: 16px;
  }
  .question-body {
    padding-left: 10px;
  }
  .question-choices > li {
    padding: 10px 0;
    &:hover {
      background-color: transparent;
    }
  }
}

.question-manage {
  min-width: 1200px;
  background-color: #eeeeee;
  .breadcrumb {
    margin-bottom: 0;
    line-height: 60px;
    background-color: #eeeeee;
    padding: 0 20px;
  }
  .lesson-dashboard  {
    background-color: #eeeeee;
    top:60px;
    .toolbar {
      background-color: #eeeeee;
      border: 0;
      width: 490px;
      padding-right: 20px;
    }
    .dashboard-body {
      top: 0;
      bottom: 30%;
    }
    .dashboard-content {
      right: 510px;
    }
    .mask {
      display: none;
      position: absolute;
      width: 100%;
      top:0;
      bottom: 30%;
    }
  }
  .list-title {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
    margin: 10px 0;
  }
  .lesson-list  {
    border: 0;
    margin: 0;
    min-height: 100px;
    .item-lesson {
      margin: 0 0 10px;
      line-height: 46px;
      cursor: pointer;
      .before {
        .text-overflow;
      }
      .idname,.number,.icon-close,.icon-close{
        display: none;
      }
      .content {
        text-align: center;
        padding-left:0;
      }
    }
    .item-lesson.disdrag {
      background-color: #f1f1f1;
      cursor: default;
      color: @gray;
      border: 1px dashed  #e1e1e1;
      a {
        color: @gray;
        cursor: default;
      }
    }
    .item-lesson.dragged {
      background-color: #feffeb;
      background-color: rgba(254, 255, 235, 0.9);
      width: 150px!important;
      overflow: hidden;
      .title{
        width: 100%;
      }
      .content {
        display: none;
      }
    }
    .placeholder {
      background-color: #f1f1f1;
      border: 1px dashed  #e1e1e1;
      margin-bottom: 10px;
      line-height: 46px;
      height: 46px;
      padding: 0 10px;
      color: @gray;
      .show-edit {
        display: none;
      }
    }
    .pagination  {
      position: absolute;
      bottom: 0;
    }
  }
  .editbox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:70%;
    height: 150px;
    background-color: #313131;
    .editbox-body {
      position: relative;
      .remask {
        position: absolute;
        left: 50%;
        top: 50%;
        visibility: visible;
        width: 300px;
        margin-top: -10px;
        margin-left: -150px;
        text-align: center;
      }
    }
    .scalebox {
      position: relative;
      height: 20px;
      a {
        position: absolute;
        display: block;
        height: 100%;
        border-left: 1px solid #fff;
      }
      .scale{
        left: 0;
        bottom: 100%;
        height: 208px;
        top: -58px;
        border-color: #c33b2d;
        .scale-details {
          position: absolute;
          left: 0;
          bottom:100%;
          visibility: hidden;
          min-width: 50px;
          margin-left: -25px;
          background-color: rgba(0, 0, 0, 0.8);
          text-align: center;
          color: #fff;
        }
      }
      .scale.blue{
        border-color: #2998c9;
        height: 78px;
        &:hover {
          .scale-details  {
            .es-transition;
            visibility: visible;
             .opacity(1);
          }
          .border {
            background-color:rgba(41,152,201,0.6);
          }
        }
        .border {
          width: 10px;
          margin-left: -5px;
          height: 78px;
          cursor: pointer;
        }
        .border.show {
          background-color:rgba(41,152,201,0.3);
          .opacity(1);
        }
        .scale-details {
          .es-transition;
          visibility: hidden;
          .opacity(0);
          background-color: transparent;
          width: 220px;
          margin-left: -110px;
          background-color: rgba(0, 0, 0, 0.8);
          z-index: 1;
          .lesson-list  {
            min-height: 40px;
            height: auto;
            margin: 0;
            .title {
              position: relative;
              .before {
                width: 180px;
                .number {
                  display: inline;
                }
              }
              .icon-close {
                display: inline;
                position: absolute;
                top: 15px;
                right: 10px;
                color: #fff;
              }
            }
          }
          .item-lesson {
            background-color: transparent;
            border: none;
            margin-bottom: 0;
            text-align: left;
            height: 46px;
            overflow: hidden;
            &:hover {
              background-color: @brand-primary;
            }
          }
          .placeholder {
            background-color: #f1f1f1;
            background-color: rgba(255, 255, 255, 0.5)
          }
          .title{
            width: 100%;
          }
          .glyphicon {
            display: none;
          }
          .content {
            display: none;
          }
        }
      }
      .transparent {
        visibility: hidden;
        &:hover {
          .scale-details  {
            .es-transition;
            visibility: hidden;
             .opacity(1);
          }
          .border {
            background-color:transparent;
          }
        }
      }
      .tooltip-inner {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.8)
      }
    }
    .lesson-list {
      height: 150px;
      margin-top: -20px;
      .item-lesson.transparent{
        visibility: hidden;
      }
      .placeholder {
        height: 100%;
        line-height: 150px;
        background-color: #fff9c4;
        border:1px dashed #ff6d00;
        color: #ff6d00;
        text-align: center;
        height: 100%;
        margin: 0;
        .show-sub {
          display: none;
        }
        .show-edit {
          display: inline;
        }
      }
    }
  }
}
