.search-banner {
  background: url('@{img-src}banner_search.jpg') top center no-repeat;
  height: 200px;
  .search-input-group {
    margin: 75px 20%;
    height: 50px;
    .form-control {
      height: 50px;
      border: none;
      padding-right: 50px;
      font-size: 16px;
      color: #000;
    }
    .input-wrap {
      position: relative;
    }
    .es-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      z-index: 3;
      color: @gray-light;
      .es-transition;
      &:hover {
        cursor: pointer;
        color: @gray-medium;
        .es-transition;
      }
    }
    .btn {
      height: 50px;
      width: 120px;
      border: none;
      &:hover {
        z-index: 1;
      }
    }
  }
}

.search-course-list {
  .course-item {
    padding: 25px 0;
    border-bottom: 1px solid @gray-lighter;
    .course-img {
      float: left;
      width: 35%;
      @media(max-width: @screen-xs-max) {
        width: 100%;
        float: none;
      }
    }
    .course-info {
      float: left;
      width: 65%;
      padding-left: 15px;
      @media(max-width: @screen-xs-max) {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-top: 10px;
      }
    }
    .title {
      margin-top: 0;
    }
    .ul-lesson {
      margin-top: 10px;
      padding: 0;
      li {
        list-style-type: none;
        margin-bottom: 5px;
      }
    }
  }
}