.search-banner {
  background: url('@{img-src}banner_search.jpg') top center no-repeat;
  height: 200px;
  .search-input-group {
    margin: 75px 20%;
    height: 50px;
    .form-control {
      height: 50px;
      border: none;
      padding-right: 50px;
    }
    .input-wrap {
      position: relative;
    }
    .es-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      z-index: 3;
      color: @gray-light;
      .es-transition;
      &:hover {
        cursor: pointer;
        color: @gray-medium;
        .es-transition;
      }
    }
    .btn {
      height: 50px;
      width: 120px;
      border: none;
    }
  }
}