.search-banner {
  background: url('@{img-src}banner_search.jpg') top center no-repeat;
  height: 200px;
  .search-input-group {
    margin: 75px 20%;
    height: 50px;
    .form-control {
      height: 50px;
      border: none;
    }
    .btn {
      height: 50px;
      width: 120px;
      border: none;
    }
  }
}