{% if media.finishType|default(null) == 'click' %}
	<p class="gray-darker mbs">满足以下条件:</p>点击“学过了”
{% elseif media.finishType|default(null) == 'time' %}
	<p class="gray-darker mbs">满足以下条件:</p>至少观看{{media.finishDetail|default(0)}}分钟。
{% endif %}
