{% do script(['app/js/activity/text/index.js']) %}

  <div class="modal-video-content iframe-parent-content ph20 pv20" id="text-activity" data-finish-time="{{ text.finishDetail }}">
    {{activity.content|raw}}
  </div>
