{% extends 'activity/content-layout.html.twig' %}

{% do script(['app/js/activity/text/index.js']) %}

{% block body %} 
  <div class="iframe-parent-content ph20 pv20" id="text-activity" data-finish-time="{{ text.finishDetail }}">
    {{activity.content|raw}}
  </div>
{% endblock %}