{% macro courseStatus(status) %}
  {% set page = { 
    draft: '<span class="text-muted">未发布</span>', 
    published: '<span class="text-success">已发布</span>', 
    closed: '<span class="text-danger">已关闭</span>' } 
  %}
  {{page[status]|raw}}
{% endmacro  %}
