{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}生成优惠码{% endblock %}
{% block body %}

<form id="coupon-create-form" class="form-horizontal" method="post" action="{{ path('course_manage_coupon_create', {id:course.id}) }}">
  	<div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="coupon-type">优惠方式</label>
      </div>
      <div class="col-md-7 controls">
        <div class="radios"><label><input type="radio" name="type" value="discount" checked="checked"> 打折</label><label><input type="radio" name="type" value="minus"> 减免</label></div>
    	</div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="coupon-rate">优惠额度</label>
      </div>
      <div class="col-md-3 controls">
        <input type="text" id="coupon-rate" name="rate" class="form-control">
      </div><div id="discount-way" style="margin-top:5px;">折</div><div id="minus-way" style="margin-top:5px;display:none">元</div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="coupon-times">可使用次数</label>
      </div>
      <div class="col-md-3 controls">
        <input type="text" id="coupon-times" name="times" class="form-control">
      </div><div style="margin-top:5px;">次</div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="coupon-number">生成数量</label>
      </div>
      <div class="col-md-3 controls">
        <input type="text" id="coupon-number" name="number" class="form-control">
      </div><div style="margin-top:5px;">个</div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="coupon-deadline">有效时间</label>
      </div>
      <div class="col-md-3 controls">
        <input type="text" id="coupon-deadline" name="deadline" class="form-control">
      </div><div style="margin-top:5px;">天</div>
    </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#coupon-create-form">生成</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('course-manage/coupon-create')</script>
{% endblock %}
