
.web-view{
  &--btn{
    position: absolute;
    top:56px;
    right: vw(8);
    padding: vw(6) vw(16);
    font-size: vw(14);
    display: flex;
    align-items: center;
    color:$primary-color;
    border-radius: vw(30);
    border:1px solid  $primary-color;
    background: #fff;
    z-index: 9999;
  }
  .icon-markdone{
    margin-right: vw(4);
  }
  &--activebtn{
    color: #fff;
    background: $primary-color;
  }
}
