.teaching-type-select {
  width: 276px;
  height: 34px;
}

.courseset-type-list {
  li {
    margin-right: 10px;
    a {
      padding: 10px 14px;
      font-weight: 500;
      line-height: 1;
      .cd-transition;
      &:hover {
        .cd-transition;
        background-color: hsla(0, 0%, 90%, .9856);
      }
    }
  }
}

.courses-operation {
  margin-right: 16px;
  height: 38px;
  line-height: 38px;
  i {
    font-size: 24px;
  }
}

.courses-operation-dropdown {
  text-align: center !important;
  top: 20px !important;
}

.courseset-manage-body {
  min-height: 550px;
}

.courses-manage-list {
  padding-left: 0;
  list-style: none;
}

.courses-manage-item {
  &.dragged {
    opacity: 1 !important;
    .transform(rotate(1deg));
  }
  &.drag {
    .course-manage-header {
      .es-transition(box-shadow);
      &:hover {
        .es-transition(box-shadow);
        .cd-box-shadow-z(12px);
      }
    }
    &:hover {
      cursor: move;
    }
  }
  .course-manage-header {
    .cd-box-shadow-z(2px);
  }
}

.course-manage-cover {
  width: 150px;
}