.service-primary-item {
  background-color: @brand-primary;
}

.course-manage-intro {
  .course-manage-intro__outer {
    background-color: lighten(@brand-primary, 30%);
  }
  .course-manage-intro__inner {
    background-color: @brand-primary;
  }
}

