<div class="panel">
  <div class="panel-heading">
  	{% if canManage %}
	    <a href="#modal" data-toggle="modal" data-url="{{ path('course_announcement_add',{courseId:course.id}) }}" class="pull-right btn btn-link btn-small">添加公告</a>
	  {% endif %}
  	<h2>公告</h2>
  </div>
  <div class="panel-body">
  	<ul class="text-list">
  		{% for announcement in announcements %}
  		<li>
  			<span class="pull-right text-muted">{{ announcement.createdTime|date('Y-n-d') }}</span>
  			<a href="#modal" data-toggle="modal" data-url="{{ path('course_announcement_show', {courseId:course.id, id:announcement.id}) }}">{{ announcement.content|plain_text(15) }}</a>
  		</li>
  		{% endfor %}
  	</ul>
    {% if not announcements %}
      <div class="empty">暂无公告</div>
    {% endif %}

  </div>
</div>