{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}撰写公告{% endblock %}

{% block body %}
	<form id="announcement-write-form" class="form-horizontal" method="post"
	  {% if announcement|default(null) %}
			action="{{ path('course_announcement_update',{courseId:course.id, id:announcement.id}) }}"
	  {% else %}
		  action="{{ path('course_announcement_add',{courseId:course.id}) }}"
	  {% endif %}
	>

		<div class="control-group">
	    <div class="controls">
			{{ form_widget(form.content, {attr:{'data-display':'公告内容'}}) }}
	    </div>
		</div>

		{{ form_rest(form) }}
	</from>

	<script>
		app.load('course/announcement-write');
	</script>

{% endblock %}
{% block footer %}
	<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
	<button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#announcement-write-form">保存</button>
{% endblock %}