{% if freeLimitType(course) != 0 %}
<div 
    {% if pageType == 'show' %}
        class="countdown-show"
    {% endif %}
    {% if pageType == 'dashboard' %}
        class="countdown-dashboard"
    {% endif %}
    {% if pageType == 'list' %}
        class="countdown-list"
    {% endif %}>
    
    <div class="countdown-em">
       {% if freeLimitType(course) == 1 %} <em class="countdown-font">即将限免</em> {% endif %}
       {% if freeLimitType(course) == 2 %} <em class="countdown-font">正在限免</em> {% endif %}
    </div>

    <div  class="countdown" data-starttime="{{course.freeStartTime|default()|data_format('Y-m-d H:i:s')}}" data-endtime="{{course.freeEndTime|default()|data_format('Y-m-d H:i:s')}}">
        <span class="days">00</span>天
        <span class="hours">00</span>时
        <span class="minutes">00</span>分
        <span class="seconds">00</span>秒
    </div>

</div>


{% endif %}