{% if course.freeLimitType != 0 %}
<div class="{% if pageType == 'show' %}countdown-show{% else %} countdown-dashboard{% endif %}" id="countdown-div">
    <div class="countdown-em">
       {% if course.freeLimitType == 1 %} <em class="countdown-font">限时免费</em> {% endif %}
       {% if course.freeLimitType == 2 %} <em class="countdown-font">即将限时</em> {% endif %}
    </div>

    <div  class="countdown" data-starttime="{{course.freeStartTime|default()|data_format('Y-m-d H:i:s')}}" data-endtime="{{course.freeEndTime|default()|data_format('Y-m-d H:i:s')}}">
        <span class="days">00</span>天
        <span class="hours">00</span>时
        <span class="minutes">00</span>分
        <span class="seconds">00</span>秒
    </div>

</div>


{% endif %}