<div class="es-row-wrap container-gap course-cover">
  {% include 'TopxiaWebBundle:Course:course-detail-header.html.twig' %}
</div>

<div class="es-row-wrap container-gap course-cover ptl">

  <div class="row row-8-4">
    <div class="col-md-8">
      {% include 'TopxiaWebBundle:Course:course-detail-main.html.twig' %}
    </div>
    <div class="col-md-4">
      {% include 'TopxiaWebBundle:Course:course-detail-side-bar.html.twig' %}
    </div>
  </div>

</div>