{% if setting('course.coursesPrice') == 0 %}

  <ul class="price-info">
    <li>
      {% if course.discountId == 0 %}
        <span class="price-info-label">价格</span>
      {% else  %}
        <span class="price-info-label">折后价</span>
      {% endif %}
      <span class="price-info-content">
        {% include 'TopxiaWebBundle:Course:price-widget.html.twig' with {shows: ['price', 'discount']} %}
      </span>
    </li>
    {% if course.discountId > 0 %}
      <li>
        <span class="price-info-label">原价</span>
        <span class="price-info-content">
          {% include 'TopxiaWebBundle:Course:price-widget.html.twig' with {shows: ['originPrice']} %}
        </span>
      </li>
      <li>
        <span class="price-info-label">活动</span>
        <span class="price-info-content">
          <span class="activity">{{ (course.discountObj.name)|default('') }}</span>
          <span id="activity-left-time" data-activity-endtime="{{ (course.discountObj.endTime)|default(0) }}">
            <span class="glyphicon glyphicon-time"></span>
            <span id="hours-left"></span>时
            <span id="minutes-left"></span>分
            <span id="seconds-left"></span>秒</span>
        </span>
      </li>
    {% endif %}
  </ul>

{% endif %}