{% extends 'TopxiaWebBundle:Course:dashboard-layout.html.twig' %}

{% set script_controller = 'course/dashboard' %}
{% set script_arguments = {course_uri: path('course_show', {id:course.id})} %}

{% block dashboard_main %}
	{% include 'TopxiaWebBundle:Course:dashboard-nav.html.twig' with {nav:'lesson'} %}

	{% if items is empty %}
		<ul class="media-list">
			<li class="mvl tac text-muted">课程暂无课时内容</li>
		</ul>
	{% else %}
		{% include 'TopxiaWebBundle:CourseLesson:item-list.html.twig' with {files: files, show: true} %}
	{% endif %}

{% endblock %}

{% block dashboard_relatedCoursesBlock %}
      {% if setting('course.relatedCourses') == 1 %}
        {{ render(controller('TopxiaWebBundle:Course:relatedCoursesBlock',{course:course})) }}
      {% endif %}
{% endblock %}