{% extends 'TopxiaWebBundle:Course:normal-layout.html.twig' %}

{% set tab = 'lesson-list' %}

{% do load_script('course/show') %}
{% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}

{% block course_main %}

  <div class="course-detail-content">

    <div class="es-piece">
      <div class="piece-body">
        {{ render(controller('TopxiaWebBundle:CourseLesson:list',{courseId: course.id, member: member, previewUrl: path('course_lessons_preview', {courseId:course.id})} )) }}
        
      </div>
    </div>
    
  </div>

{% endblock %}