.btn {
  .border-radius(4px);
	.es-transition;
  &:hover,
  &:focus,
  &.focus,
  &.active {
    .es-transition;
    text-decoration: none;
  }
}
.btn-default{
  padding: 8px 24px;
	border:2px solid #a5a7b3;
	color: #a5a7b3;
	background: transparent;
	&:hover,
  &:focus,
  &.focus,
  &.active {
  	background: #a5a7b3;
  	color: #fff;
  }
}
.btn-primary{
	border:2px solid @color-primary;
	color: @color-primary;
	background-color: transparent!important;
	&:hover,
  &:focus,
  &.focus,
  &.active {
  	background: @color-primary!important;
  	color: #fff;
  }
}

.btn-md {
	padding: 6px 25px!important;
}

.btn-gylight {
	border: 1px solid @gray-light;
	color: @black;
	&:hover,
	&:focus {
		border: 1px solid @bg-primary;
        color: @bg-primary;
	}
}

.bar-main-body {
	.btn-group.btn-action  {
		.btn {
			border: 1px solid #34a263;
		}
	}
}

.btn-disabled {
	background-color: @gray-light;
	color: #fff;
	&:hover,
	&:focus {
		background-color: @gray-light;
		color: #fff;
		cursor: default;
	}
}
.btn-group{
  .btn{
    &:last-child{
      border-right: none;
    }
    &:last-child{
      border-left: none;
    }
  }
}
