.btn {
	border-radius: 20px;
}

.btn-md {
	padding: 6px 25px;
}

.btn-gylight {
	border: 1px solid @gray-light;
	color: @black;
	&:hover,
	&:focus {
		border: 1px solid @bg-primary;
        color: @bg-primary;
	}
}