.friendlink{
	padding: 48px 0;
	h4{
		color: @font-color;
		font-size: 20px;
		margin-bottom: 25px;
	}
	ul{
		padding: 0;
		li{
			display: inline-block;
			padding-right: 25px;
			&:last-child{
				padding-right: 0;
			}
			a{
				color: @gray;
				&:hover{
					color: @color-primary;
				}
			}
		}
	}
}
.footer-logo .footer-sns {
	i.es-icon-weibo,i.es-icon-weixin,i.es-icon-apple,i.es-icon-android{
	background: rgba(255, 255, 255, 0.2)!important;
	color:@white!important;
	}
	i.es-icon-weibo{
		&:hover{
			background: #c4000b!important;
		}
	}
	i.es-icon-weixin{
		&:hover{
			background: #1ec354!important;
		}
	}
	i.es-icon-apple{
		&:hover{
			background: #3793f1!important;
		}
	}
	i.es-icon-android{
		&:hover{
			background: #78c257!important;
		}
	}
}
footer{
	padding: 45px 0 0;
	background: #333755;
	.footer-logo{
		margin-top: 0;
	}
	.weichat{
		text-align: center;
		p{
			color: @white;
			margin-top: 8px;
		}
		img{
			width: 180px;
			height: auto;
		}
	}
	.link-item{
		width: 32%;
		display: inline-block;

		ul{
			padding: 0;
			li{
				margin-top: 25px;
				a{
					&:hover{
						color: @color-primary;
					}
				}
			}
		}
		h4{
			color: #addbdb;
		}
	}
	.footer-attr{
		 padding-left: 160px;
		p{
			margin-bottom: 28px;
			color:@white;
			i{
				color:@white;
				font-size: 22px;
				padding-right: 10px;
				position: relative;
    		top: 2px;
			}
		}
	}
}
.footer-by{
	background: #272a41;
	padding-top: 30px;
	text-align: center;
	margin-top: 8px;
	padding-bottom: 31px;
	color: @white;
	font-size: 12px;
	a{
		color: @white;
	}
	p{
		margin-bottom: 0;
		padding-bottom:15px;

	}
}