.friendlink{
	padding: 48px 0;
	h4{
		color: @font-color;
		font-size: 20px;
		margin-bottom: 25px;
	}
	ul{
		padding: 0;
		li{
			display: inline-block;
			padding-right: 25px;
			&:last-child{
				padding-right: 0;
			}
			a{
				color: @gray;
				&:hover{
					color: @color-primary;
				}
			}
		}
	}
}
footer{
	padding:40px 0;
	background: #f7f7f7;
	.link-item{
		width: 32%;
		display: inline-block;

		ul{
			padding: 0;
			li{
				margin-top: 25px;
				a{
					&:hover{
						color: @color-primary;
					}
				}
			}
		}
		h4{
			color: #addbdb;
		}
	}
	.footer-attr{
		p{
			margin-top: 25px;
			i{
				color: #addbdb;
				font-size: 22px;
				padding-right: 10px;
			}
		}
	}
}
.footer-by{
	background: #eee;
	padding-top: 30px;
	text-align: center;
	p{
		margin-bottom: 0;
		padding-bottom:15px;

	}
}