.friendlink{
	padding: 48px 0;
	h4{
		color: @font-color;
		font-size: 20px;
		margin-bottom: 25px;
	}
	ul{
		padding: 0;
		li{
			display: inline-block;
			padding-right: 25px;
			&:last-child{
				padding-right: 0;
			}
			a{
				color: @gray;
				&:hover{
					color: @color-primary;
				}
			}
		}
	}
}
.footer-logo .footer-sns {
	i.es-icon-weibo,i.es-icon-weixin,i.es-icon-apple,i.es-icon-android{
	background: rgba(255, 255, 255, 0.2);
	color:@white;
}
}
footer{
	padding:40px 0 0;
	background: #333755;
	.weichat{
		text-align: center;
		p{
			color: @white;
			margin-top: 10px;
		}
	}
	.link-item{
		width: 32%;
		display: inline-block;

		ul{
			padding: 0;
			li{
				margin-top: 25px;
				a{
					&:hover{
						color: @color-primary;
					}
				}
			}
		}
		h4{
			color: #addbdb;
		}
	}
	.footer-attr{
		p{
			margin-top: 25px;
			i{
				color: #addbdb;
				font-size: 22px;
				padding-right: 10px;
			}
		}
	}
}
.footer-by{
	background: #272a41;
	padding-top: 30px;
	text-align: center;
	margin-top: 40px;
	padding-bottom: 30px;
	color: @white;
	font-size: 12px;
	a{
		color: @white;
	}
	p{
		margin-bottom: 0;
		padding-bottom:15px;

	}
}