/* =========================== header =========================== */
.navbar {
  position: relative;
  background-color: @white;
  border: 0;
  padding: 0 40px;
  @media (max-width: @screen-sm-min) {
    border-radius: 0;
    padding: 0;
  }
}
.mooc-header{
  @media (max-width: @screen-sm-min) {
    height: 50px;
  }
}

.indexpage {
  background-color: #fff;
  .navbar {
    margin-bottom: 0;
  }
}
.navbar-header{
   @media (max-width: @screen-sm-min) {
    text-align: center;
  }
}
.navbar-brand {
  height: 70px;
  line-height: 40px;
  color: @color-primary;
  @media (max-width: @screen-sm-min) {
    height: 50px;
    float: none;
    line-height: 50px;
  }
  &:hover {
    color: @color-primary;
  }
}

.navbar-toggle {
  margin-top: 18px;
  .icon-bar {
    background-color: @color-primary;
  }
}

.nav.navbar-nav {
  >li {
    >a {
      padding: 25px 15px;
      font-size: 16px;
      font-weight: bold;
      @media (max-width: @screen-md-max) and (min-width: @screen-md-min){
        padding: 25px 10px;
      }
      @media (max-width: @screen-sm-max) {
        padding: 25px 10px;
        font-size: 14px;
      }
      &:hover,
      &:focus {
        background: none;
      }
    }
  }
  .dropdown-menu {
    border-radius: 0;
    border: 1px solid #eee;
    box-shadow: none;
  }
  .dropdown-menu > li {
    border-bottom: 1px solid #e5e5e5;
    &:last-child{
      border-bottom: 0;
    }
  }
  .dropdown-menu > li > a {
    padding: 8px 32px;
  }
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
    background: none;
    color: @color-primary;
  }
}

.navbar-form {
  float: left;
  padding: 21px 10px 21px 40px;
  margin: 0;
  .form-group {
    position: relative;
  }
  .form-control {
    height: 30px;
    width: 206px;
    padding: 6px 20px;
    font-size: 12px;
    background-color: #f6f6f6;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .button {
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: 0;
    padding: 0;
  }
  .icon-search {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../img/search.png") no-repeat;
  }
}

.nav-user {
  position: absolute;
  right: 40px;
  top: 0;
  @media (max-width: @screen-sm-max) {
   right: 0;
  }
 
  img {
    width: 42px;
    height: 42px;
    padding: 2px;
    margin-right: 10px;
    background-color: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }
  .user {
    position: relative;
    float: left;
    width: 160px;
    padding: 3px 10px;
    margin: 12px 0 8px 0;
    border: 1px solid #fff;
     @media (max-width: @screen-md-max) {

    width: auto;
    border:none;
     }
      @media (max-width: @screen-xs-max) {
    margin: 0;
   
     }

    &:hover {
      border-color: #eee;
      .dropdown-menu {
        display: block;
      }
    }
    .name {
      font-size: 14px;
      &:hover {
        .zan-transition;
        color: @color-primary;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 45px;
      left: -1px;
      right: -1px;
      padding: 0;
      border-radius: 0;
      border-color: #eee;
      box-shadow: none;
     @media (max-width: @screen-md-max) {
      margin: 0;
      left: auto;
      right: 0;
     }
      .divider {
        margin: 0;
      }
      >li>a {
        padding: 7px 20px;
        font-size: 14px;
        &:hover {
          background: none;
          color: @color-primary;
          .icons-user-1 {
            background-position: -30px 0;
          }
          .icons-user-2 {
            background-position: -90px 0;
          }
          .icons-user-3 {
            background-position: -150px 0;
          }
          .icons-user-4 {
            background-position: -210px 0;
          }
        }
        span {
          .inline-block;
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
    .dropdown-header {
      padding: 10px 15px;
    }
  }
  >ul {
    float: left;
    height: 70px;
    padding: 20px 0;
    margin: 0;
    >li {
      .inline-block;
      margin: 0 5px;
    }
  }
}

