.mooc-header{
  background: @white;
  height: 80px;
  border:none;
  @media (max-width : @screen-xs-max){
    height: 60px;
  }
  .navbar-mobile .navbar-more{
    padding: 20px 10px;
  }
  .container{
    position: relative;
  }
  .navbar-header{
    .navbar-brand{
      height: 80px;
      line-height: 60px;
      padding:10px;
      color: @color-primary;
      img{
        height: 60px;
        @media (max-width : @screen-xs-max){
          height: 40px;
        }
      }
    }
    @media (max-width : @screen-xs-max){
      text-align: center;
      .navbar-brand{
        float: none;
        height: 60px;
        line-height: 40px;
        padding: 10px;
        display: inline-block;
      }
    }
  }
  .mooc-navbar-form{
    position: absolute;
    left: 50%;
    margin-left: -180px;
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
    .form-control{
      width: 300px;
      height: 40px;
      background: #f0f5f9;
      .border-radius(4px);
    }
    .button{
      position: absolute;
      right: 2px;
      top: 6px;
      border: none;
      background: none;
      font-size: 20px;
      color: #272a41;
    }
  }
  .user-messages{
    .dropdown-menu{
      right: -62px;
      left: auto;
      top: 46px;
      i{
        padding: 0 10px;
        position: relative;
        top: 1px;
      }
      >li>a{
        &:hover{
          background: @color-primary;
        }
      }
      .divider{
        margin: 0;
      }
       .message{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #de4f4f;
          border-radius: 50%;
          color: #fff;
          font-weight: bold;
          line-height: 20px;
          text-align: center;
          font-size: 10px;
          margin-left: 6px;
        }
    }
  }
  .navbar-user{
     z-index: initial;
    @media (max-width : @screen-xs-max){
      z-index: 2;
    }
    .nav.user-nav{
      float: left;
     > li{
        height: 80px;
        >a{
          padding: 30px 15px;
          color: #272a41;
          font-size: 16px;
          cursor: pointer;
        }
        >a.dropdown-toggle{
          padding: 20px 15px;
          @media (max-width : @screen-xs-max){
             padding: 10px 0;  
          }
        }
        .message{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #de4f4f;
          border-radius: 50%;
          color: #fff;
          font-weight: bold;
          line-height: 20px;
          text-align: center;
          font-size: 10px;
          margin-left: 6px;
        }
      }
      .dropdown-menu{
        right: -46px;
          >li>a{
        &:hover{
          background: @color-primary;
        }
      }
        @media (max-width : @screen-xs-max){
          right: 0;
          top: 60px;
        }
        .divider{
          margin: 0;
        }
      }
    }
    .user-roles{
      line-height: 80px;
      font-size: 16px;
      color: #272a41;
      padding: 0 30px 0 15px;
      &:hover{
        color:@color-primary;
      }
    }
    .user-message{
      display: inline-block;
      width: 40px;
      height: 40px;
      background:rgba(red(@bg-primary), green(@bg-primary),blue(@bg-primary),0.7);
      .border-radius(50%);
      position: relative;
      .red-dot{
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #de4f4f;
        .border-radius(50%);
        position: absolute;
        top:5px;
        right: 0;
      }
      
      &:hover{
        i{
          background: @color-primary;
        }
      }
      i{
        display: inline-block;
        width: 30px;
        height: 30px;
        background: @bg-primary;
        .border-radius(50%);
        color: @white;
        margin: 5px;
        text-align: center;
        line-height: 30px;
      }
      .message{
        position: absolute;
        top: 13px;
        right: 10px;
        color: @red;
        font-size: 14px;
        font-weight: bold;
      }
    }
     .user-message.hasmessage{
        &:after{
        background: @color-primary;
        content: '';
        display: block;
        text-align: center;
        position: relative;
        z-index: 100;
        top: -40px;
        left: -1px;
         .animation(active-wave 1s  linear infinite);
       }
      }
  }
}
.mooc-nav{
  background: #272a41;
  ul{
    >li>a{
      color: @white;
      padding: 20px 38px;
      font-size: 16px;
      &:hover{
        background:#333755;
      }
    }
    >li>ul>li>a{
      color: #272a41!important;
      font-size: 14px !important;
      padding:15px 38px!important;
      &:hover{
        color: @white!important;
        background:@color-primary;
      }
    }
  }
}