.mooc-poster.swiper-container{
      z-index: inherit
    }
.mooc-poster{
  &:hover{
    .arrow-left,.arrow-right{
      .opacity(1);
    }
  }
  .Wleft{
    max-width: 880px;
  }
  .arrow-left,.arrow-right{
    position: absolute;
    top:50%;
    margin-top: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: @white;
    .border-radius(50%);
    text-align: center;
    .opacity(0);
    i{
      font-size: 26px;
    }
   }
  .arrow-right{
    right: 50%;
    margin-right: -290px;
  }
  .arrow-left{
    left: 50%;
    margin-left: -550px;
  }
  .swiper-pager{
    text-align: left!important;
    left: 50%;
    margin-left: -200px;
    @media (max-width : @screen-sm-max){
      margin-left: -70px;
    }
  }
  span.swiper-pagination-switch{
    background: rgba(255, 255, 255, 0.5);
    border:none;
    .es-transition;
  }
  span.swiper-pagination-switch.swiper-visible-switch.swiper-active-switch{
    width: 30px;
    .border-radius(20px);
    .es-transition;
  }
  .mooc-notice{
    width: 260px;
    position: absolute;
    top: 50px;
    right: 50%;
    margin-right: -570px;
    .panel{
      height: 300px;
      .border-radius(4px);
      .box-shadow(0 4px 6px 0px rgba(0, 0, 0, 0.2));
    }
    .panel-heading{
      font-size: 14px;
      color: #272a41;
      i{
        color: @color-primary;
        padding-right: 10px;
        font-size: 18px;
      }
    }
    .panel-body{
      ul{
        padding: 0; 
        font-size: 12px;
        margin:0;
      }
      .mc-dot{
        display: inline-block;
        width: 2px;
        height: 2px;
        margin-right: 15px;
        vertical-align: middle;
        background: @color-primary;
      }
      li{
        color: @color-primary;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          color: #272a41;
          font-size: 12px;
          display: inline-block;
          width: 162px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
          margin-right: 12px;
          line-height: 16px;
          &:hover{
            color: @color-primary;
          }
        }
        span{
          color: #c1c1c1;

        }
      }
    }
  }
}