
.mooc-poster{
  position: relative;
  .slide-wrapper{
    width: 880px;
    height: 400px;
    position: relative;
    @media(max-width:@screen-md-max){
      width: 100%;
    }
   @media(max-width:@screen-sm-max){
      height: auto;
    }
     &:hover{
      .nivo-directionNav a{
       .opacity(1);
      }
    }
  }
  .slideitem{
    position: relative;
    width: 100%;
    img{
      position:absolute;
      top:0px;
      left:0px;
      display:none;
    }
  }
    .mooc-notice{
    width: 260px;
    position: absolute;
    top: 20px;
    right: 50%;
    margin-right: -570px;
    .panel-heading{
      i{
        color: @color-primary;
        padding-right: 10px;
        font-size: 18px;
      }
    }
    .panel-body{
      ul{
        padding: 0 12px; 
      }
      li{
        list-style-type: disc;
        color: @color-primary;
        a{
          color: #272a41;
          display: inline-block;
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
          margin-right: 12px;
          &:hover{
            color: @color-primary;
          }
        }
        span{
          color: #c1c1c1;

        }
      }
    }
  }

}
  .nivo-directionNav a{
    display:block;
    width:52px;
    height:52px;
    background:url(../img/bannerarrow.png) no-repeat;
    text-indent:-9999px;
    border:0;
    .opacity(0);

     @media(max-width:@screen-sm-max){
     display: none;
     }
    }
     a.nivo-nextNav {
     background-position:-52px 0;
     right:10px;
    }
    a.nivo-prevNav{
      left: 10px;
    }
    .nivo-controlNav {
       position: absolute;
      bottom: 30px;
      z-index: 9;
      left: 50%;
      margin-left: -40px;
     @media(max-width:@screen-md-max){
       bottom: -20px;
      }
     @media(max-width:@screen-sm-max){
       bottom: 10px;
      }
      a{
      display: inline-block;
      width: 14px;
      height: 14px;
      background: rgba(255, 255, 255, 0.3);
      .border-radius(50%);
      font-size: 0;
      margin-right: 20px;
       @media(max-width:@screen-sm-max){
         width: 10px;
         height: 10px;
         margin-right: 15px;
       }
        @media(max-width:@screen-sm-max){
          display: none;
        }
    }
    a.active{
      width: 30px;
      height: 14px;
      .border-radius(20px);
      background: rgba(255, 255, 255, 1);
      @media(max-width:@screen-sm-max){
         width: 18px;
         height: 10px;
       }
    }
  }


