.es-banner .title>i {
	margin-top: 4px;
}


/*首页*/
// .navbar-brand{
// 	padding: 15px;
// }
.navbar-collapse{
   @media (max-width: @screen-sm-min) {
    display: block;
  }
}
.nav-mobile{
  ul li a{
    color:@white;
  }
  ul li ul{
    border:none!important;
  }
  .navbar-form{
    float: none;
    padding: 0;

  }
}
.navbar-form{
	.form-control{
		line-height: 30px;
	}
}
.es-section{
	box-shadow: none;
	.section-header{
		border-bottom: none;
	}
}
.teacher-item{
	box-shadow: none;
	&:hover{
		box-shadow: none;
		transform: translateY(0px);
  	-webkit-transform: translateY(0px);
  	-moz-transform: translateY(0px);
  	-o-transform: translateY(0px);
	}
} 
.course-detail-header .metas p label{
	width: auto!important;
}
.navbar-mobile{
	.navbar-more{
		color:@color-primary;
		padding: 15px 10px;
	}
} 

/*加入课程前*/
.course-detail-header{ 
	.metas{
		color: #616161;
	}
}
.course-detail-header{
	.expiry-date,.student-num{
		margin-bottom: 10px;
	}
} 
.course-detail-header{
	.score{
		span{
			color:#919191;
		}
	}
} 
.course-detail-header{
	.course-data{
	  position: absolute;
	  padding: 0;
	  right: 14px;
   	  top: 19px;
	  display: inherit;


    @media (max-width: @screen-sm-min) {
      top:auto;
      bottom: 128px;
      right: 15px;
    }
    
   
	}

} 
.course-detail-header{
	.course-data{
		>li{
			  float: none;
			  width: auto;
			  display: inline-block;
			  line-height: 24px;
			  font-size: 12px;
			  margin: 0 3px;
			  i{
			  	font-size: 18px;
			  }
		}
		}
} 
.es-share{
	 .dropdown-menu{
	 	a{
	 		margin: 3px 2px 2px 5px !important;
	 	}
	 	} 
	}
/*加入课程后*/	
.progress.progress-sm{
	width: 100%;
	position: absolute;
	bottom: -31px;
	height: 11px;
}
/*全部课程页*/
.course-list{
	 .course-item{
	 	&:hover{
	 		box-shadow: none;
			transform: translateY(0px);
	  	-webkit-transform: translateY(0px);
	  	-moz-transform: translateY(0px);
	  	-o-transform: translateY(0px);
	 	};
	 }
}
.course-wide-list{
	.course-metas{
		.week-reminder, .time-reminder{
			   margin-right: 6px;
		}
	}
	} 
.course-detail-header{
	background-image: none;
	padding: 0;
	position: relative;
}
.course-detail{
	padding: 18px 15px 15px;
	margin-top: 0;
}
.score{
	span{
		margin-left: 0;
	}
} 
label{
  font-weight: normal;
}
.course-detail-header{
	.discount-price{
		.price{
			font-weight: bold;
			color: #ff854a;
		}
		} 
	} 
.course-detail-header{	
.course-price-widget{
	 .origin-price{
		font-size: 13px;
	  color: #999;
	 }
	}

	.activity	{
		span{
			font-size: 12px;
			color: #616161;
		}
	}
}
//教室详情页
.teacher-list {
	.teacher-item{
		text-align: left;
	}
}
//首页
.es-poster{
	.swiper-slide{
		a{
			img{
				width: 100%;
			}
		}
	}
}

//作业
.question-set-rule{
	ol{
		li{
			list-style-type: decimal;
		}
	}
}
.homework-question-result{
	float: none;
}
.question-set-main{
	.form-group{
		margin-top: 15px;
	}
	.form-grade{
		width: 52px;
		&:focus{
			outline: none;
		}
	}
}
.evaluate-time{
	margin:10px;
	padding: 10px;
	border:1px solid #000;
	font-size: 12px;
	ul{
		padding: 0;
		li{
			color:#ff0000;
		}
	}
}

.course-list {
	.course-item{
		.metas{
			.week-reminder, .time-reminder{
				  padding: 1px 11px 1px 11px;
			}
		}
	} 
}
.student-comment{
	margin-top:20px;
	p{
		margin:10px 0;
	}
}
/*作业互评*/
.mc-form-group{
	.mc-label,.mc-controls{display: inline-block;}
}
.mc-heading{
	p{
		display: inline-block;
	}
}

.question-set-card,.testpaper-card{
		.panel-body{
			max-height: 450px;
			height: auto;
		}

	}
/*考试课时显示*/
.mooc-exam-column.period{
	padding: 10px 100px 10px 15px;
	background:@green-bg;
	color:@color-primary;
	.title{
		color: @color-primary;
	}
}
.period-list{
	.lesson-item{
		&:hover{
			background: #fafafa;
		}
	}	
}
.lesson-manage-panel .panel-heading,.swiper-container{
	z-index: 0!important;
}