/*首页*/
.navbar-brand{
	padding: 15px;
}
.navbar-form{
	.form-control{
		line-height: 24px;
	}
}
.es-section{
	box-shadow: none;
	.section-header{
		border-bottom: none;
	}
}
.teacher-item{
	box-shadow: none;
	&:hover{
		box-shadow: none;
		transform: translateY(0px);
  	-webkit-transform: translateY(0px);
  	-moz-transform: translateY(0px);
  	-o-transform: translateY(0px);
	}
} 
/*全部课程页*/
.course-list{
	 .course-item{
	 	&:hover{
	 		box-shadow: none;
			transform: translateY(0px);
	  	-webkit-transform: translateY(0px);
	  	-moz-transform: translateY(0px);
	  	-o-transform: translateY(0px);
	 	};
	 }
}
.course-detail-header{
	background-image: none;
	padding: 0;
	position: relative;
}
.course-detail{
	padding: 18px 15px 15px;
}
.score{
	span{
		margin-left: 0;
	}
} 
label{
  font-weight: normal;
}
.course-detail-header{
	.discount-price{
		.price{
			font-weight: bold;
			color: #ff854a;
		}
		} 
	} 
.course-detail-header{	
.course-price-widget{
	 .origin-price{
		font-size: 13px;
	  color: #999;
	 }
	}

	.activity	{
		span{
			font-size: 12px;
			color: #616161;
		}
	}
}
//教室详情页
.teacher-list {
	.teacher-item{
		text-align: left;
	}
}
