{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}课程订单查询 - {{ parent() }}{% endblock %}

{% set side_nav = 'course_manage_order' %}
{% set script_controller = '' %}

{% block main %}

<div class="panel panel-default panel-col course-data">
    <div class="panel-heading">课程订单查询</div>
    <div class="panel-body">
      <div class="table-responsive">
      </div>
    </div>
</div>

{% endblock %}



