{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% set side_nav = 'picture' %}
{% set script_controller = 'course-manage/crop' %}
{% block main %}

<div class="panel panel-col">
  <div class="panel-heading">
    课程图片  裁剪中
    <a href="{{ path('course_manage_picture', {id:course.id}) }}" class="pull-right btn btn-primary"> 重新上传 </a>
  </div>
  
  <div class="panel-body">

    <img id="pic2crop" src="{{ file_path(course.largePicture) }}"/>
      <form method="post">
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />
         <input type="submit" value="裁剪课程图片" class="pull-right btn btn-primary" />
    </form>

  </div>

</div>

{% endblock %}

