{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% set side_nav = 'index' %}
{% set script_controller = 'course-manage/index' %}

{% block main %}

<div class="panel panel-col">
	<div class="panel-heading">课程概览</div>
	<div class="panel-body">
		Coming soon...
	</div>
</div>

{% endblock %}