{% if type == "youku" %}
    {% set videoUrl = url | youku_player_url %}
{% else %}
    {% set videoUrl = url %}
{% endif %}

{% set videoUrl = videoUrl | simple_encrypt %}

<div class="flash-palyer" data-url="{{ videoUrl }}">正在载入视频...</div>