{% import "macro.html.twig" as web_macro %}
{% import "admin/macro.html.twig" as admin_macro %}

{% if topxiawebbundle|default(false) %}
  {% include 'TopxiaWebBundle::script_boot_compatible.html.twig' with {script_main: asset('bundles/topxiaweb/js/app-compatible.js')} %}
{% elseif topxiaadminbundle|default(false) %}
  {% include 'TopxiaWebBundle::script_boot_compatible.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app-compatible.js')} %}
{% endif %}

<div class="modal-dialog {% if modal_class|default('') %} {{ modal_class }}{% endif %}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{% block title %}{% endblock %}</h4>
    </div>
    <div class="modal-body">{% block body %}{% endblock %}</div>
    {% if not hide_footer|default(false) %}
      <div class="modal-footer">{% block footer %}{% endblock %}</div>
    {% endif %}
    {% block script %}{% endblock %}
  </div>
</div>
