{% do script(['app/js/mobile-mask/index.js']) %}

<span class="js-user-mobile" data-encrypted-mobile="{{ mobile_encrypt(mobile) }}" data-url="{{ path('user_show_mobile') }}">
  <span class="js-mobile">{{ mobile_mask(mobile) }}</span>
  <span class="js-toggle">图标</span>
</span>
