{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}推广链接地址{% endblock %}
{% block body %}


    <div class="row form-group">

    	<div class="col-md-9">
    		<textarea id="content" name="tUrl" class="form-control" rows="3">{{ linksale.tUrl }}</textarea>
    	</div>
    	<div class="col-md-3">
    		<button id="copy-button" value="abc">点击复制该链接</button>
    		<div id="copy"></div>
    	</div>

    </div>

    <div class="row form-group">

        <div class="col-md-9">
            佣金比例:{{linksale.adCommission}}% ,  链接有效期:{{linksale.adCommissionDay}}天
        </div>
        

    </div>



{% endblock %}

{% block footer %}
<div class="pull-right">
 <script type="text/javascript">
    app.load('mysale/link-web-modal');
  </script> 
</div>
{% endblock %}