<li data-id="#bar-course-list" data-placement="left" data-toggle="tooltip" title="{{'我的课程/%name%'|trans({'%name%': setting('classroom.name')|default('班级'|trans)}) }}">
  <a data-url="{{ path('esbar_my_course') }}" href="javascript:;">
    <i class="es-icon es-icon-book">
    </i>
  </a>
</li>