{% extends 'my/layout.html.twig' %}

{% block title %}{{'my.task.title'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-task' %}

{% block main %}

<div class="panel panel-default panel-col">
    <div class="panel-heading">{{'my.task.calendar'|trans}}</div>
     {% include 'my-task/task-calendar.html.twig' %}
</div>
{% endblock %}