.classroom-detail {
  .course-detail__head {
    height: vw(250);
  }
  .join-before {
    padding-bottom: vw(50);
  }
}

.classroom-plan {
  &__detail {
    border-top: 1px solid #EEEEEE;
    padding: vw(25) 0;
    margin: 0 vw(20);
  }
}
