<div class="js-tooltip-twig-widget pull-right mll mts">
  <span class="glyphicon {{ icon|default('glyphicon-question-sign') }} text-muted js-twig-widget-tips" data-placement="{{ placement|default('bottom') }}" href="javascript:;">
  </span>
  <div class="js-twig-widget-html" style="display:none;">
    {{ content|raw }}
  </div>
</div>

{% do load_script('widget/tooltip-widget') %}
