{% set modal_class= "modal-sd" %}
{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-xs-10 col-md-10 col-md-offset-1">
      <h4 class="text-center">{{'admin_v2.operation.user_content_audit.modal.body.illegal_warning'|trans}}</h4><br/>
      <p class="text-center">{{ 'admin_v2.operation.user_content_audit.modal.body.illegal_info'|trans }}</p><br>
    </div>
  </div>

  <div class="confirm-btn-group row">
    <button type="button" class="btn btn-default btn-cancel cancel" tabindex="6">{{'admin_v2.operation.user_content_audit.modal.body.button.cancel'|trans}}</button>
    <button type="button" class="btn btn-primary btn-confirm js-confirm-submit col-md-4 pull-right confirm" tabindex="4">{{'admin_v2.operation.user_content_audit.modal.body.button.confirm'|trans}}</button>
  </div>
{% endblock %}