{% extends 'MaterialLibBundle:Admin:layout.html.twig' %}

{% set menu = 'admin_material_lib_manage' %}
{% do load_script('materiallibbundle/controller/admin/manage') %}

{% block main %}
<form class="form-inline" id="materials-form">
  {% include 'MaterialLibBundle:Admin/Form:course-user-search.html.twig' %}
  {% include 'MaterialLibBundle:Admin/Form:nav.html.twig' %}
  {% include 'MaterialLibBundle:Admin/Form:filter.html.twig' %}
  {% include 'MaterialLibBundle:Admin/Form:sort.html.twig' %}
  {% include 'MaterialLibBundle:Admin/Form:tags.html.twig' %}

  {% include 'MaterialLibBundle:Admin:table.html.twig' %}
</form>

  
{% endblock %}