.user {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &-section {
    display: flex;
    padding: 25px 20px 25px 25px;
  }

  &-img {
    height: vw(86);
    width: vw(86);
    border-radius: vw(43);
  }

  &-name {
    margin-left: vw(20);
    flex: 1;
    align-self: center;
    font-size: vw(18);
    font-family: PingFangSC-Medium;
  }
  &-setting {
    height: vw(20);
    width: vw(20);
    img {
      width: 100%;
      height: auto;
    }
  }
}

.orders {
  margin-top: 1px;
  display: flex;
  flex-direction: column;

  &-title {
    margin:vw(25) 0 vw(16) vw(20);
    font-size: vw(18);
    font-family: PingFangSC-Medium;
  }
  .order {
    .e-course {
      padding-bottom: vw(30);
      padding-top: 0;
      &:last-child {
        padding-bottom: vw(80);
      }
    }
  }

  &-container__empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
      height: vw(117);
      width: vw(90);
      margin-top: vw(70);
    }
    >span {
      color: #B0BDC9;
      font-size: vw(14);
      margin-top: vw(16);
    }
  }
}