.user {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &-section {
    position: relative;
    padding: 25px 20px 25px 25px;
  }

  &-img {
    float: left;
    height: vw(86);
    width: vw(86);
    border-radius: vw(43);
  }
  &-middle {
    margin-left: vw(106);
    padding-top: vw(10);
    line-height: vw(33);
    font-family: PingFangSC-Medium;
    .user-name {
      font-size: vw(18);
    }
    .user-vip {
      font-size: vw(12);
      color: #71777D;
    }
    .vip-img {
      position: relative;
      top: vw(3);
      margin-right: vw(4);
      width: vw(16);
      height: vw(16);
    }
    .vip-expired {
      color: #B0BDC9;
      filter: grayscale(1) opacity(50%);
    }
  }

  &-setting {
    position: absolute;
    right: vw(23);
    top: vw(28);
    height: vw(20);
    width: vw(20);
    img {
      width: 100%;
      height: auto;
    }
  }
}

.single-middle {
  line-height: vw(86);
}

.orders {
  margin-top: 1px;
  display: flex;
  flex-direction: column;

  &-title {
    margin:vw(25) 0 vw(16) vw(20);
    font-size: vw(18);
    font-family: PingFangSC-Medium;
  }
  .order {
    .e-course {
      padding-bottom: vw(30);
      padding-top: 0;
      &:last-child {
        padding-bottom: vw(80);
      }
    }
  }

  &-container__empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
      height: vw(117);
      width: vw(90);
      margin-top: vw(70);
    }
    >span {
      color: #B0BDC9;
      font-size: vw(14);
      margin-top: vw(16);
    }
  }
}