.user {
  border-top: 1px solid #eee;
  border-bottom: vw(10) solid #F9F9F9;

  &-section {
    position: relative;
    padding: 25px 20px 25px 25px;
  }

  &-img {
    float: left;
    height: vw(86);
    width: vw(86);
    border-radius: vw(43);
  }
  &-middle {
    margin-left: vw(106);
    padding-top: vw(10);
    line-height: vw(33);
    font-family: PingFangSC-Medium;
    .user-name {
      font-size: vw(18);
    }
    .user-vip {
      font-size: vw(12);
      color: #71777D;
    }
    .vip-name {
      width: 80%;
      display: inline-block;
      line-height: 1;
    }
    .vip-name-short {
      width: 50%;
    }
    .vip-img {
      position: relative;
      top: vw(3);
      margin-right: vw(4);
      width: vw(16);
      height: vw(16);
    }
    .vip-expired {
      color: #B0BDC9;
      filter: grayscale(1) opacity(50%);
    }
  }

  &-setting {
    position: absolute;
    right: vw(23);
    top: vw(28);
    height: vw(20);
    width: vw(20);
    img {
      width: 100%;
      height: auto;
    }
  }
}

.coupon-code-entrance {
  border-bottom: vw(10) solid #F9F9F9;
  background-color: #fff;
  padding-right: vw(20);
  padding-left: vw(20);
  line-height: vw(50);
  font-size: vw(14);
  color: #2B333B;
  .van-icon-arrow {
    color: #71777D;
    line-height: vw(50);
  }
}

.coupon-covert-container {
  padding: vw(15);
  .title {
    text-align: center;
  }
  .coupon-input {
    font-size: vw(16);
    border-bottom: 1px solid #D8D8D8;
  }
  .covert-submit {
    width: 100%;
    font-size: vw(18);
    margin-top: vw(30);
    line-height: vw(45);
  }
  .error-code {
    display: inline-block;
    margin-top: vw(10);
    color: #FF2121;
    &.coupon-input {
      border-bottom: 1px solid #FF2121;
    }
  }
  .coupon-covert-popup {
    text-align: center;
    width: vw(244);
    min-height: vw(124);
    height: auto;
    border-radius: vw(4);
    box-sizing: border-box;
    padding: vw(30) vw(20) vw(10);
    .modal-content {
      padding-bottom: vw(20);
      font-size: vw(15);
      border-bottom: 1px solid #F6F6F6;
    }
    .text-15 {
      font-size: vw(15);
    }
  }
}

.single-middle {
  line-height: vw(86);
}

.orders {
  display: flex;
  flex-direction: column;
  &-title {
    margin:vw(25) 0 vw(16) vw(20);
    font-size: vw(18);
    font-family: PingFangSC-Medium;
  }
  .order, .activity {
    .tab-list {
      padding-bottom: 40px;
      margin-top: vw(20);
    }
    .e-course {
      padding-bottom: vw(30);
      padding-top: 0;
      &:last-child {
        padding-bottom: vw(80);
      }
    }
  }

  .activity .tab-list {
    margin-top: 0;
  }

  &-container__empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
      height: vw(117);
      width: vw(90);
      margin-top: vw(70);
    }
    >span {
      color: #B0BDC9;
      font-size: vw(14);
      margin-top: vw(16);
    }
  }
}
