{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}上传文件{% endblock %}
{% block body %}

<form id="file-upload-form" class="form-horizontal" method="post" action="{{ url('file_upload', {group:'default'}) }}" enctype="multipart/form-data">
  <div class="form-group">
    <label class="control-label">请选择文件</label>
    <div class="controls">
      <input type="file" name="file" />
    </div>
  </div>

  <div class="form-group" id="file-uploaded-form-group">
    <label class="control-label">已上传的文件</label>
    <div class="controls">
      <div class="control-text">
        <p class="help-block">尚未上传</p>
      </div>
    </div>
  </div>

</form>

<script> app.load('file/upload-modal') </script>

{% endblock %}

{% block footer %}
    <button type="submit" class="btn btn-primary" data-loading-text="正在上传..." data-next-text="继续上传">上传</button>
    <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
{% endblock %}

{% set hideFooter = true %}
