.code-sidebar {
  width: 200px;
  background: #fff;
  .box-shadow;
  padding: 16px 0;
  position: absolute;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.container {
  width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
}

.code-sidebar__list {
  padding-left: 0;
  li {
    list-style: none;
    line-height: 1;
  }
  .code-sidebar__list-heading {
    list-style-type: none;
    color: rgba(0, 0, 0, .32);
    font-size: 12px;
    padding: 18px 24px;
  }
  .code-sidebar__item {
    padding: 17px 24px 17px 38px;
    border-left: 2px solid transparent;
    > a {
      .link-gray;
    }
    &.active {
      border-left: 2px solid @brand-primary;
      background: none;
      > a {
        color: @brand-primary;
      }
    }
  }
}