{{ 'course.task.progress'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
<span class="legend-icon mll finish js-legend-btn"  data-bar-class=".finish-color">
    {{ 'course.member_learn_status.learned'|trans }}
</span>
<span class="legend-icon mll start js-legend-btn"  data-bar-class=".start-color">
    {{ 'course.member_learn_status.learning'|trans }}
</span>
<span class="legend-icon mll learn js-legend-btn" data-bar-class=".learn-color">
    {{ 'course.member_learn_status.none'|trans }}
</span>