<span class="select-content bottom-border">
    <select class="select-time-select">
      <option value="默认排序">默认排序</option>
      <option value="按完成度排序">按完成度排序</option>
      <option value="按学员排序">按学员排序</option>
    </select>
    <i class="es-icon es-icon-arrowdropdown"></i>
</span>
<span class="select-content bottom-border">
    <select class="select-time-select">
      <option value ="全部进度">全部进度</option>
      <option value ="按完成度排序">按完成度排序按完成度排序</option>
      <option value="按学员排序">按学员排序</option>
    </select>
    <i class="es-icon es-icon-arrowdropdown"></i>
</span>
<span class="select-content">
    <input class="select-time-input" type="text" name="course-datetime" placeholder="用户名/ID/手机号">
    <i class="es-icon es-icon-search"></i>
</span>
<button class="btn btn-primary pull-right hide">导出</button>
<div class="detail-chart-container chart-container">
</div>