<span class="select-content">
    <input class="select-time-input" type="text" name="course-datetime" placeholder="任务名">
    <i class="es-icon es-icon-search"></i>
</span>
<button class="btn btn-primary pull-right">导出</button>
<div id="task-data-chart" style="width:800px" class="detail-chart-container chart-container">
</div>