<span class="select-content">
  <form class="js-task-detail" id="overview-task-list">
    <input class="select-time-input" type="text" name="titleLike" placeholder="{{ 'course.dashboard.study_detail.name'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}">
    <i class="es-icon es-icon-search cursor-pointer js-task-detail-search"></i>
    <input type="hidden" name="courseId" value="{{ course.id }}">
  </form>
</span>
<button class=" cd-btn  mhs cd-btn-sm pull-right cd-btn-primary course-student-task-detail-js-export-btn" type="button" id="student-add-btn"><i class="es-icon es-icon-filedownload cd-text-sm"></i> {{'form.btn.export'|trans}}</button>
<div id="task-data-chart"
  data-url="{{ path('course_set_manage_task_detail',{courseId:course.id}) }}"
  data-form=".js-task-detail"
  class="mtl detail-chart-container chart-container text-sm">
</div>