<!-- 3、加入后：任务式学习 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li>
      <a href="/">首页</a>
    </li>
    <li class="active">sdfdsf</li>
  </ol>
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top">
      <div class="course-detail-heading gray-darker text-24">数据结构PHP开发入门课程  暑期班A
      </div>
      <span class="item-icon-font">
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">练</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">试</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">问</span>
          <span class="lump-sm color-lump bg-primary mr5" data-placement="top" data-toggle="popover" title="title" data-content="content.">动</span>
      </span>
      <ul class="course-operation clearfix ">
        <li>
          <i class="es-icon es-icon-people"></i>
          2035 人
        </li>
        <li id="unfavorite-btn" data-url="/course/2/unfavorite" style="display:none;">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmark"></i>
          </a>
        </li>
        <li id="favorite-btn" data-url="/course/2/favorite">
          <a class="btn btn-default btn-xs" href="javascript:;"> <i class="es-icon es-icon-bookmarkoutline"></i>
          </a>
        </li>
        <li class="es-share top">
          <a class="btn btn-default btn-xs dropdown-toggle" href="" data-toggle="dropdown">
            <i class="es-icon es-icon-share"></i>
          </a>

          <div class="dropdown-menu  js-social-share-params" data-title="sdfdsf " data-summary="大神" data-message="我正在学习《sdfdsf 》，收获巨大哦，一起来学习吧！" data-url="http://www.esdev.com/course/2" data-picture="/assets/img/default/courseSet.png">

            <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.esdev.com/course/2">
              <i class="es-icon es-icon-weixin"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo">
              <i class="es-icon es-icon-weibo"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq">
              <i class="es-icon es-icon-qq"></i>
            </a>
            <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone">
              <i class="es-icon es-icon-qzone"></i>
            </a>
          </div>
        </li>
        <li class="pull-left">
          <a class="btn btn-default btn-xs " href="/course/2/manage" title="课程管理">
            <i class="es-icon es-icon-setting"></i>
          </a>
        </li>
      </ul>
    </div>
    <section class="row course-orderlearn-section">
      <div class="col-sm-6">
        <span class="progress-img">
          <div class="course-progress">
            <div class="cricle-progress" id="orderprogress-plan" data-percent="55.444444444444">
            </div>
            <div class="cricle-progress" id="orderprogress" data-percent="44.444444444444">
              <span class="percent"></span>
            </div>
          </div>
        </span>
        <ul class="progress-info mbl">
          <li class="mb10">
            <i class="es-icon es-icon-dot color-primary"></i>
            已完成
            <span class="color-primary">3</span>
            ／45个任务
          </li>
          <li class="mb20"
          <i class="es-icon es-icon-dot color-warning"></i>
          计划完成5个任务，落后计划5%</li>
          <li class="pt20 mb10 progress-learn-time">学习有效期</li>
          <li class="progress-learn-time">2015-08-09 ~ 2025-23-23</li>
        </ul>
      </div>
      <div class="col-sm-6 course-detail-content">
        <ul class="task-list task-list-md task-list-hover task-list-gray">
          <li class="task-item task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
          <li class="task-item task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
          <li class="task-item  task-content mouse-control">
            <i class="es-icon es-icon-undone-check left-menu"></i>
            <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
            <span class="right-menu mouse-leave">
              01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="音频任务"></i>
            </span>
            <span class="right-menu mouse-enter">
              <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
            </span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
