
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479197522'); /* IE9*/
  src: url('iconfont.eot?t=1479197522#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479197522') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479197522') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479197522#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close01:before { content: "\e600"; }
.icon-zhongchuan:before { content: "\e604"; }
.icon-jinggao:before { content: "\e603"; }
.icon-zanting:before { content: "\e601"; }
.icon-bofang:before { content: "\e602"; }
.icon-xinxi:before { content: "\e606"; }
