.question-head {
	display: flex;
	justify-content: space-between;
	margin: 0 vw(20) vw(22) vw(20);
	padding: vw(22) 0 vw(10) vw(4);
	font-size: vw(14);
	border-bottom: vw(1) solid #f5f5f5;

	.head-left {
		color: #333;
		font-weight: 600;
	}

	.head-right {
		color: #919191;
		font-weight: 500;
		font-size: vw(12);

		.right-color {
			color: #408ffb;
			font-weight: 400;
			font-size: vw(18);
		}
	}
}
