<li class="item-chapter {% if chapter.type == 'unit' %}item-chapter-unit{% endif %} clearfix" id="chapter-{{ chapter.id }}">
	<div class="item-content">第 <span class="number">{{ chapter.number }}</span> {% if chapter.type == 'unit' %}节{% else %}章{% endif %}： {{ chapter.title }}</div>
</li>