<div class="top-reply">
  <div class="page-header">教师答案<span class="badge">4</span></div>
  <ul class="comment-list">
    <li class="media media-comment">
      <div class="media-left">
        <a href="">
          <img src="assets/dev/img-temp/avatar_1.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <div class="title"><a href="">老大</a>·<span class="date">10小时前</span></div>
        <p>很不错的文章</p>
        <a class="reply-link" href="">回复</a>
      </div>
    </li>
    <li class="media media-comment">
      <div class="media-left">
        <a href="">
          <img src="assets/dev/img-temp/avatar_1.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <div class="title"><a href="">老大</a>·<span class="date">10小时前</span></div>
        <p>很不错的文章</p>
        <a class="reply-link" href="">回复</a>
      </div>
    </li>
  </ul>
</div>