<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>阔知学堂移动客户端下载</title>
  <script>
    var urls = {
      iphone: '{{iphoneUrl | raw}}',
      android: 'http://mobcdn.qiniudn.com/{{code | raw}}-Android-v2.0.1.apk',
      weixin : "http://a.app.qq.com/o/simple.jsp?pkgname=com.edusoho.kuozhi&g_f=991811"
    };
    var uagent = navigator.userAgent.toLowerCase();
    if(uagent.match(/MicroMessenger/i)=="micromessenger") {
      document.write("<div class='message'>正在跳转...</div>");
      document.write("<a href='" + urls.weixin + "'>直接下载</a>");
        window.location = urls.weixin;
    }else if (uagent.search("iphone") > -1 || uagent.search("ipad") > -1 ) {
        window.location = urls.iphone;
    } else {
      var href = window.location.href;
      if (href.search("iphone") > -1 || href.search("ipad") > -1 ) {
        if (urls.iphone == "#") {
          document.write("<div class='message'>暂无iphone版本...</div>");
        } else {
          window.location = urls.iphone;
        }
      } else {
        window.location = urls.android;
      }
    }
  </script>

  <style>
    .message {font-style: 12px; color: #444;}
  </style>
</head>

<body>
    <div class="message">正在载入应用...</div>
</body>
</html>
