{% set typeDataMap = {
'live': {
'name': '直播',
'icon': 'es-icon-videocam'
},
'homework': {
'name': '作业',
'icon': 'es-icon-mylibrarybooks'
},
'testpaper': {
'name': '考试',
'icon': 'es-icon-exam'
},
'download': {
'name': '资料',
'icon': 'es-icon-download'
},
'discuss': {
'name': '讨论',
'icon': 'es-icon-forum'
}
} %}

{% set show = false %}
{% for type in characteristicData|keys if not show %}
  {% if type in typeDataMap|keys %}
    {% set show = true %}
  {% endif %}
{% endfor %}

{% if not characteristicData is empty and show %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">课程特色</h3>
    </div>
    <div class="panel-body pt0">
      <div class="course-features pl0">
        {% for type, num in characteristicData if typeDataMap[type] is defined %}
          <div class="course-features-item clearfix">
            <div class="media">
              <div class="media-left prm">
                <span class="color-lump bg-primary"> <i class="es-icon {{ typeDataMap[type].icon }} media-logo"></i>
                </span>
              </div>
              <div class="media-body media-middle">含{{ typeDataMap[type].name }}({{ num }})</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}