{% set courseSet = courseSet|wrap('courseSet.price') %}

{% if course.hidePrice|default(0) != '1'  %}
<span class="course-price-widget">
      <span class="
            {% if courseSet.maxCoursePrice == 0 %}
                  free
            {% else %}
                  price
            {% endif %}">
          {{ courseSet.priceWrapper.priceText }}
      </span>
</span>
{% endif %}