{% extends 'activity/content-layout.html.twig' %}
{# {% do script(['libs/perfect-scrollbar.js', 'app/js/task/show.js']) %} #}
{% do script(['app/js/task/live/index.js']) %}
{% block body %} 
	<style type="text/css">
	.btn-primary {
		text-decoration: none;
	    border-color: #34a263;
	    background-color: #46c37b;
	    color: #fff;
	    transition: all 0.3s ease;
	    display: inline-block;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    touch-action: manipulation;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid transparent;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    border-radius: 4px;
	}
	</style>

	{# <pre>{{activity.remark|raw}}</pre> #}

	<div class="lesson-content lesson-content-text" id="lesson-live-content" data-role="lesson-content"
         style="display:none;">
         <pre id="activity-data" style="display:none !important;">{{activity|json_encode()|raw}}</pre>
         <pre id="activity-summary" style="display:none !important;">{{summary|raw}}</pre>
      <div class="lesson-content-text-body" style="padding-left: 15px;"></div>
    </div>
{% endblock %}