 <div class="es-box">
  <div class="es-box-heading">
    <h2>在学课程</h2>
  </div>
  <div class="es-box-body user-learn">
    <img src="{{ asset('themes/es-89/img/avatar.jpg') }}" class="">
  </div>
</div>

        