<div id="date-range-picker">
  <span class="select-content">
    <input class="select-time-input js-date-range-input" type="text" name="course-datetime" value="{{ '-6 days'|date('Y/m/d') }}-{{ 'now'|date('Y/m/d') }}">
    <i class="es-icon es-icon-arrowdropdown"></i>
  </span>
  <a href="javascript:;" class="date-change is-date-change js-quick-day-pick week" data-days="7">{{ 'course.dashboard.student_trend_seven_days'|trans }}</a>
  <a href="javascript:;" class="date-change is-date-change js-quick-day-pick month" data-days="30">{{ 'course.dashboard.student_trend_thirty_days'|trans }}</a>
</div>