<!-- 完课率 -->
<div class="course-statictics-content" id="finished-rate-trend" data-course-id="{{ course.id }}">
  <div class="course-statictics-header">
    完课率
  </div>

  {% include 'course-manage/overview/date-range-picker.html.twig' %}

  <div class="course-chart-container chart-container" id="finished-rate-chart"></div>
</div>