{% extends (course_count(course.courseSetId) > 1 ? 'course' : 'courseset') ~ '-manage/layout.html.twig' %}

{% block title %}{{'course.dashboard.content_title'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set side_nav = 'overview' %}

{% block main %}
    <div class="panel panel-default">
        {% include 'course-manage/panel-header/course-publish-header.html.twig' with {code: side_nav} %}
        <div class="panel-body course-statictics">
            {% block overview %}{% endblock %}
        </div>
    </div>
{% endblock %}
