<!-- 学员趋势 -->
<div class="statictic-body" id="js-student-trendency" data-course-id="{{ course.id }}">
    <div class="statictic-header">
        {{ 'course.dashboard.student_trend'|trans}}
    </div>
    {% include 'course-manage/overview/date-range-picker.html.twig' %}
    <div class="stu-chart-container chart-container mtl" id="js-student-trendency-chart"></div>
</div>