<!-- 学员趋势 -->
<div class="course-statictics-content" id="js-student-trendency" data-course-id="{{ course.id }}">
    <div class="course-statictics-header">
        学员趋势
    </div>
    {% include 'course-manage/overview/date-range-picker.html.twig' %}
    <div class="stu-chart-container chart-container" id="js-student-trendency-chart"></div>
</div>