<div class="course-statictics-content">
    <div class="course-statictics-header">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="javascript:;" class="js-tab-change">学员详情</a></li>
            <li><a href="javascript:;" class="js-tab-change">任务详情</a></li>
        </ul>
    </div>
    <div class="js-chart-change">
        <div>
      <span class="select-content bottom-border">
        <select class="select-time-select">
          <option value="默认排序">默认排序</option>
          <option value="按完成度排序">按完成度排序</option>
          <option value="按学员排序">按学员排序</option>
        </select>
        <i class="es-icon es-icon-arrowdropdown"></i>
      </span>
            <span class="select-content bottom-border">
        <select class="select-time-select">
          <option value ="全部进度">全部进度</option>
          <option value ="按完成度排序">按完成度排序按完成度排序</option>
          <option value="按学员排序">按学员排序</option>
        </select>
        <i class="es-icon es-icon-arrowdropdown"></i>
      </span>
            <span class="select-content">
        <input class="select-time-input" type="text" name="course-datetime" placeholder="用户名/ID/手机号">
        <i class="es-icon es-icon-search"></i>
      </span>
            <button class="btn btn-primary pull-right">导出</button>
        </div>
        <div class="detail-chart-container chart-container"></div>
    </div>
    <div class="js-chart-change" hidden>
        <div>
      <span class="select-content">
        <input class="select-time-input" type="text" name="course-datetime" placeholder="任务名">
        <i class="es-icon es-icon-search"></i>
      </span>
            <button class="btn btn-primary pull-right">导出</button>
        </div>
        <div class="detail-chart-container chart-container" id="task-data-chart" style="height: 400px; width: 800px"></div>
    </div>
</div>
