{# 添加admin_v2 #}
{% if has_permission('admin') or has_permission('admin_v2') or 'ROLE_TEACHER' in app.user.roles %}
  {% if app.user.isTeacher() %}
    <a class="more" style="margin-left: 20px" href="{{ path('my') }}">{{ 'homepage.header.my_course'|trans }}</a>
    <span></span>
  {% endif %}
  <a class="more" style="margin-left: 20px"
     href="{{ path('my_courses_learning') }}">{{ 'homepage.header.my_learning'|trans }}</a>

{% endif %}
