<div class="course-select js-courseSetType {% if defaultType|default('normal') == type %}active{% endif %}" data-type="{{ type }}">
  <i class="es-icon es-icon-lubogongkaike"></i>
  <div class="course-type">{{ 'my.teaching.course_set.select_type.record_open_course'|trans }}</div>
  <div class="course-intro">{{ 'my.teaching.course_set.select_type.record_open_course.tips'|trans }}</div>
</div>