@brand-primary:         #c30d22;

a:hover, 
a:focus {
  color: @brand-primary;
}

.link-dark:hover,
.link-light:hover,
.link-white {
  color: @brand-primary;
}

.text-primary,
.color-primary {
  color: @brand-primary !important;
}

.btn-link {
  &:hover, 
  &:focus,
  &.focus, {
    color: @brand-primary;
  }
}

.btn-primary {
  border-color: darken(@brand-primary,10%);
  background-color: @brand-primary;
  &:hover,
  &:focus,
  &.focus,
  &.active {
    background-color: darken(@brand-primary,8%);
  }
}

// 组件
.nav.nav-tabs>li.active>a, 
.nav.nav-tabs>li:hover>a {
  border-color: @brand-primary;
  color: @brand-primary;
}

.nav.nav-tabs>li.active>a .text-muted, 
.nav.nav-tabs>li:hover>a .text-muted {
  color: @brand-primary;
}

// 组件
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
  background-color: @brand-primary;
}

.es-piece .piece-header {
  border-color: @brand-primary;
}

// 面包屑
.breadcrumb a:hover {
  color: @brand-primary;
}

.course-detail-header .course-data>li .dropdown-toggle:hover, 
.course-detail-header .course-data>li>a:hover {
  color: @brand-primary;
}

.score i {
  color: @brand-primary;
}

.es-tabs .tab-header>ul>li>a:hover {
  color: @brand-primary;
}

.class-serve>ul>li.active {
  background-color: @brand-primary;
}

.article-metas .metas-body .title a:hover {
  color: @brand-primary;
}

.media.media-number .media-body>a:hover {
  color: @brand-primary;
}

.btn-tag:hover {
  color: @brand-primary;
  border-color: @brand-primary;
}

.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: @brand-primary;
}

.class-signin .btn-signin {
  background-color: @brand-primary;
}

.sidenav .list-group .list-group-item.active {
  border-color: @brand-primary;
}

.sidenav .list-group .list-group-item.active>a {
  color: @brand-primary;
}

.dropdown-menu>li>a:hover {
  background-color: @brand-primary;
}

// 侧边栏
.es-bar-menu>ul>li.active, 
.es-bar-menu>ul>li:hover {
  background-color: @brand-primary;
}

// 分页
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: @brand-primary;
  border-color: @brand-primary;
}

.badge-primary {
  background-color: @brand-primary;
}