.coin-data-card {
  padding: 36px 20px;
  text-align: left;
  background: #fafafa;
  height: 136px;
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  .coin-data-item {
    padding: 8px 20px 8px 40px;
    float: left;
    width: 50%;
    & + .coin-data-item {
      box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.08);
    }
  }
  .coin-data-item__label {
    font-size: 12px;
    margin-bottom: 8px;
    .text-gray;
  }
  .coin-data-item__value span {
    font-size: 24px;
    .text-gray-dark;
  }
}