{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}系统通知{% endblock %}
{% set notification = notification|default(null) %}
{% block body %}
<div class="row"> 
  <div class="col-md-10 col-md-offset-1"> 
    {% if batchnotification %}
    <div class="row"> 
      <div class="col-md-2"> 
        <h4 for="title">标题:</h4> 
      </div> 
      <h4 class="col-md-10"> 
        {{ batchnotification.title }} 
      </h4> 
    </div>
    <div class="row"> 
      <div class="col-md-2"> 
        <label for="content">正文:</label> 
      </div> 
      <div class="col-md-10 editor-text"> 
        {{ batchnotification.content|raw }} 
      </div> 
    </div> 
    {% else %} 
      <div class="empty">通知已经被管理员删除</div> 
    {% endif %} 
  </div> 
</div> 
{% endblock %}