<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {{ notification.content.message|raw }}
    </div>
    <div class="notification-footer">
      {{ notification.createdTime | date('Y-n-d H:i:s') }}
    </div>
  </div>
</li>