
                <ul>

                {%- for action in record_actions %}

                    <li>
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity."~ identifier ~" }) }}" }}">{{ action }}</a>
                    </li>

                {%- endfor %}

                </ul>
