<form class="form-inline well well-sm " action="" method="get" novalidate>
  <div class="form-group col-md-7">
    <input class="form-control" style="width:45%" type="text" placeholder="{{ 'course.members_manage.official_student.input_placeholder'|trans }}" name="keyword" value="{{ conditions.keyword|default() }}">
    <button class="cd-btn cd-btn-primary">{{'form.btn.search'|trans}}</button>
  </div>
  <div class="clearfix"></div>
</form>