{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_data_lab' %}
{% set script_controller = 'invite/record' %}

{% block main %}
<div class="">
  开起数据分析服务：
  <label for="switch" class="switch checked">
    <input type="checkbox" name="is_public" value="{{ 123 }}" id="switch" data-toggle="switch" data-url="">
  </label> 
  <a href="http://open.edusoho.com/doc/agreement/privacy-content.html" target="_blank">
    用户协议
  </a>
</div>

asdf
{% endblock %}
