imports:
    - { resource: config_dev.yml }
    - { resource: parameters_test.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        enabled: false

web_profiler:
    toolbar: false
    intercept_redirects: false

twig:
    paths:
        "%kernel.root_dir%/../tests/Unit/AppBundle/Fixtures/activities": activity
