parameters:
    parameters:
        biz_db_options:
            dbname: edusoho-test
            user: tester
            password: tester
            host: "%database_host%"
            port: "%database_port%"
            driver: pdo_mysql
            charset: UTF8
            wrapperClass: Codeages\Biz\Framework\Dao\TestCaseConnection