{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% set menus = permissions("admin_setting_course_setting", 1)%}
{% set menu = 'admin_setting_course_setting' %}

{% block main %}

<div class = "mbl">
{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>

  {% block main_content %}{% endblock %}
{% endblock %}
