{% extends 'TopxiaAdminBundle:System:operation.layout.html.twig' %}

{% block title %}系统默认设置 - {{ parent() }}{% endblock %}

{% set submenu = 'default' %}
{% set script_controller = 'setting/default' %}

{% block maincontent %}

  {{ web_macro.flash_messages() }}

  <div class="page-header"><h1>用户</h1></div>

  <fieldset>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >用户默认头像</label>
      </div>
      <div class="controls col-md-8 radios" id="" >
        {{ radios('avatar', {1:'开启', 0:'关闭'}, defaultSetting.defaultAvatar) }}
        <p>网校内未上传头像的用户，都会显示该默认头像</p>    
        {% include 'TopxiaAdminBundle:System:default-avatar.html.twig' %}
      </div>
    </div>
  </fieldset>

  <div class="page-header"><h1>课程</h1></div>

  <fieldset>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >课程默认图片</label>
      </div>
      <div class="controls col-md-8 radios">
        {{ radios('coursePicture', {1:'开启', 0:'关闭'}, defaultSetting.defaultCoursePicture) }}
        <p>网校内未上传图片的课程，都会显示该图片</p>
        {% include 'TopxiaAdminBundle:System:default-course-picture.html.twig' %}
      </div>
    </div>
  </fieldset>

  <div class="page-header"><h1>分享内容</h1></div>

  {% include 'TopxiaAdminBundle:System:default-share-content.html.twig' %}
  
{% endblock %}