{% extends 'TopxiaAdminBundle:System:edu-cloud-layout.html.twig' %}

{% block title %}教育云 - {{ parent() }}{% endblock %}

{# {% set menu = '' %} #}
{# {% set script_controller = '' %} #}

{% block main %}
  <div class="page-header"><h1>概览</h1></div>

  {# {{ web_macro.flash_messages() }} #}
<table>
  <thead>
    <tr>
      <td style="width: 30%"></td>
      <td style="width: 35%"></td>
      <td style="width: 25%"></td>
    </tr>
  </thead>
  <tbody>
    {% if hasAccount %}
      <tr style="text-align: left; padding: 10px 0px;">
        <td>账户余额<span class="pull-right">:</span></td> 
        <td>&nbsp;&nbsp;&nbsp;<span>{{money}}</span> 元 </td>
        <td><a class="btn btn-primary btn-sm" href="http://open.edusoho.com/token_login?token={{token}}&goto=order_recharge" target="_blank"> 去充值 </a></td>
      </tr>
    
      <tr style="text-align: left; padding: 10px 0px;">
        <td>云短信状态<span class="pull-right">:</span></td>
        <td>&nbsp;&nbsp;&nbsp;<span>----</span></td>
        <td><span class="btn btn-primary btn-sm"> &nbsp;申请开通云短信&nbsp; </span></td>
      </tr>
    {% else %}
      <td><a class="btn btn-primary btn-sm" href="http://open.edusoho.com/register" target="_blank"> 没有帐号? 去注册 </a></td>
    {% endif %}

  <tbody>
</table>


{% endblock %}