{% extends 'TopxiaAdminBundle:System:edu-cloud-layout.html.twig' %}

{% block title %}教育云 - {{ parent() }}{% endblock %}

{# {% set menu = '' %} #}
{# {% set script_controller = '' %} #}

{% block main %}
  <div class="page-header"><h1>概览</h1></div>

  {# {{ web_macro.flash_messages() }} #}
<table>
  <thead>
    <tr>
      <td style="width: 30%"></td>
      <td style="width: 35%"></td>
      <td style="width: 25%"></td>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: left; padding: 10px 0px;">
      <td>账户余额<span class="pull-right">:</span></td> 
      <td>&nbsp;&nbsp;&nbsp;<span>8888</span> 元 </td>
      <td><a class="btn btn-primary btn-sm" href="" target="_blank"> 去充值 </a></td>
    </tr>

    <tr style="text-align: left; padding: 10px 0px;">
      <td>云短信状态<span class="pull-right">:</span></td>
      <td>&nbsp;&nbsp;&nbsp;<span>----</span></td>
      <td><span class="btn btn-primary btn-sm"> 申请开通 </span></td>
    </tr>
  <tbody>
</table>


{% endblock %}