{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% set menu = 'ip_blacklist' %}

{% block main %}

<div class="page-header"><h1>IP黑名单</h1></div>

{{ web_macro.flash_messages() }}

<form method="post">
  {{ form_widget(form.ips, {required:false, attr:{rows:18}}) }}
  <div class="help-block">一行一个IP，被加入黑名单的IP将被禁止访问！赞不支持网段的封锁!</div>
  <input type="submit" class="btn btn-primary" value="提交">
  {{ form_rest(form) }}
</form>

{% endblock %}