{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% set menu = 'admin_logs' %}
{% set submenu = 'admin_logs_prod' %}
{% set menus = menus("admin",'admin_logs', 1) %}
{% block title %}{{ html_title('admin','admin_logs_prod')}}{% endblock %}

{% block main %}

  {% include 'TopxiaAdminBundle:System:logs-nav.html.twig' with { tab: 'prod' } %}

  <div class="alert alert-warning">显示最近的２０００条日志信息。</div>

  <pre>
    {{ logs|nl2br }}
  </pre>

{% endblock %}