{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% set menus = permissions("admin_setting_finance","tab")%}
{% set menu = 'finance_settings' %}
{% block main %}
<div class = "mbl">
{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>

  {% block main_content %}{% endblock %}
{% endblock %}
