{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set script_controller = 'system/payment' %}

{% set menu = 'admin_payment' %}

{% block main %}

{{ web_macro.flash_messages() }}

<form class="form-horizontal" method="post" id="payment-form" novalidate >
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label >支付功能</label>
    </div>
    <div class="controls col-md-8 radios">
      {{ radios('enabled', {1:'开启', 0:'关闭'}, payment.enabled) }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="disabled_message">支付关闭时的提示信息</label>
    </div>
    <div class="controls col-md-8">
      <textarea id="disabled_message" name="disabled_message" class="form-control">{{payment.disabled_message}}</textarea>
    </div>
  </div>

  {% include 'TopxiaAdminBundle:System/Pay:alipay.html.twig'%}
  {% include 'TopxiaAdminBundle:System/Pay:wxpay.html.twig'%}
  {% include 'TopxiaAdminBundle:System/Pay:heepay.html.twig'%}
  {% include 'TopxiaAdminBundle:System/Pay:quickly.html.twig'%}
  {% include 'TopxiaAdminBundle:System/Pay:llpay.html.twig'%}

  <div class="form-group">
    <div class="col-md-3 control-label"></div>
    <div class="controls col-md-8">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

{% endblock %}