{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% block title %}管理后台{% endblock %}
{% set menu = 'admin_role' %}
{% set script_controller = 'role/role' %}
{% block main %}
{{ web_macro.flash_messages() }}
<div class="content_wrap">
	<div class="zTreeDemoBackground left" data-menus="{{menus}}">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
</div>
<form class="form-horizontal" id="role-form" method="post">
  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="name">权限名称</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="name" name="name" class="form-control" value="" placeholder="管理员">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="code">CODE</label> 
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="code" name="pageNums" class="form-control" value="" placeholder="ROLE_ADMIN">
    </div>
  </div>
  <input type="text" id="menus" class="hide" value="">
  <div class="form-group">
    <div class="col-md-2 control-label"></div>
    <div class="controls col-md-8">
      <button type="submit" class="btn btn-primary" id="role-submit">提交</button>  
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

{% endblock %}