{% extends 'TopxiaAdminBundle:System:edu-cloud-layout.html.twig' %}

{% block title %}教育云 - {{ parent() }}{% endblock %}

{% set menu = 'sms' %}
{# {% set menu = '' %} #}
{# {% set script_controller = '' %} #}

{% block main %}
  <div class="page-header"><h1>云短信</h1></div>

8888888


{% endblock %}