{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% set menus = menus("admin","admin_setting_user", 1)%}
{% set menu = 'admin_setting_user' %}

{% block main %}

<div class = "mbl">
{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>

  {% block main_content %}{% endblock %}
{% endblock %}
