.es-lang {
  .nav.user-nav {
    .user-avatar-li .dropdown-menu {
      @media(min-width:@screen-lg-min){
        margin-right: -70px;
      }
    }
    .dropdown-menu {
      width: 195px;
    }
  }
  .es-bar {
    width: 275px;
  }
  .es-bar-menu {
    width: 45px;
  }
  #teachers-form-group {
    .control-label {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  #user-profile-form, #approval-form {
    .form-group {
      .col-md-2 {
        padding-right: 0px;
      }
      .col-md-8 {
        padding-left: 15px;
      }
    }
  }
  .testpaper-list {
    .result-info {
      padding: 20px 0;
      .row {
        margin: 0;
      }
      .col-md-4 {
        padding: 0 2px;
        .testpaper-span {
          border-bottom: none;
        }
      }
    }
  }
}