{% extends 'TopxiaWebBundle:CourseFileManage:modal-upload-course-files.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
      上传题目附件
{% endblock %}

{% block script %}
{% endblock %}
{% block footer %}
    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}