{% extends 'layout.html.twig' %}

{% do script(['app/js/assessment/show/index.js']) %}

{% block body %}
    <div id="app"></div>

    <input type="hidden" name="assessment" value='{{ assessment|json_encode|raw }}'>

    <input type="hidden" name="image_upload_url" value="{{ path('editor_upload', {token:upload_token('course')}) }}">

    <input type="hidden" name="image_download_url" value="{{ path('editor_download', {token:upload_token('course')}) }}">
{% endblock %}