
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantou:before { content: "\e62a"; }
.icon-zuojiantou:before { content: "\e62b"; }
.icon-youjiantou:before { content: "\e62c"; }
.icon-xia:before { content: "\e62d"; }
.icon-bell:before { content: "\e606"; }
.icon-pen:before { content: "\e603"; }
.icon-youjian:before { content: "\e615"; }
.icon-quanbuhuifu:before { content: "\e62f"; }
.icon-tongzhi:before { content: "\e617"; }
.icon-jiantou1:before { content: "\e61f"; }
.icon-doctor:before { content: "\e604"; }
.icon-search:before { content: "\e600"; }
.icon-qq:before { content: "\e607"; }
.icon-shezhi:before { content: "\e613"; }
.icon-ren:before { content: "\e614"; }
.icon-xia1:before { content: "\e624"; }
.icon-tag:before { content: "\e61b"; }
.icon-message:before { content: "\e61c"; }
.icon-hot:before { content: "\e608"; }
.icon-jiantou1:before { content: "\e620"; }
.icon-comment:before { content: "\e601"; }
.icon-weixin:before { content: "\e609"; }
.icon-sina:before { content: "\e60a"; }
.icon-pseson:before { content: "\e60b"; }
.icon-tuichu:before { content: "\e616"; }
.icon-study:before { content: "\e618"; }
.icon-mobile:before { content: "\e60c"; }
.icon-yuan:before { content: "\e61a"; }
.icon-jiantou3:before { content: "\e626"; }
.icon-aixin:before { content: "\e619"; }
.icon-mianfeidianhua:before { content: "\e623"; }
.icon-shuxian:before { content: "\e62e"; }
.icon-icon:before { content: "\e621"; }
.icon-shipin:before { content: "\e627"; }
.icon-001:before { content: "\e611"; }
.icon-yuan1:before { content: "\e625"; }
.icon-zhibo:before { content: "\e628"; }
.icon-eye:before { content: "\e629"; }
.icon-code:before { content: "\e605"; }
.icon-fire:before { content: "\e61d"; }
.icon-share-variant:before { content: "\e630"; }
.icon-sangedian:before { content: "\e60f"; }
.icon-gengduo:before { content: "\e610"; }
.icon-aisding:before { content: "\e60d"; }
.icon-time:before { content: "\e60e"; }
.icon-dashboard:before { content: "\e612"; }
.icon-group:before { content: "\e602"; }
.icon-language:before { content: "\e61e"; }
.icon-recentactors:before { content: "\e622"; }
