/* =========================== color =========================== */
/* =========================== media =========================== */
a:hover,
a:focus {
  text-decoration: none;
}
.bdsharebuttonbox {
  min-width: 100px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
a.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.transition:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .navbar-form {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar {
  background: #3f3f3f;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar .navbar-form {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-toggle {
  background: #1ABC9C;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
@media (max-width: 767px) {
  .navbar .nav {
    float: right;
  }
}
.navbar .nav > li.active a {
  background: none;
  color: #37b97d;
}
.navbar .nav > li > a {
  color: #fff;
  background: none;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
  color: #37b97d;
}
.navbar .nav > li .more {
  font-size: 25px;
  height: 10px;
  line-height: 0;
  display: inline-block;
  margin-top: -10px;
}
.navbar .nav a {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar .nav .nav-more {
  display: none;
}
.navbar .nav .dropdown-menu {
  border-radius: 5px;
}
.navbar .nav .dropdown-menu li a {
  padding: 10px;
}
.navbar .nav .dropdown-menu li a:hover {
  background: #37b97d;
  color: #fff;
}
.navbar .form-group {
  position: relative;
}
.navbar .form-group .form-control {
  width: 100px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar .form-group .form-control.active {
  width: 170px;
}
.navbar .button {
  position: absolute;
  right: 10px;
  top: 8px;
  border: none;
  background: none;
}
.navbar .navbar-right li img {
  width: 40px;
  height: 40px;
}
.navbar .navbar-right li .dropdown-menu {
  left: -40px;
}
.navbar .navbar-right li .dropdown-menu li a {
  padding-left: 10px;
}
.navbar .navbar-right li .dropdown-menu li i {
  padding: 0 10px;
}
.navbar .navbar-right li .dropdown-menu li a.user {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 15px;
}
.navbar .navbar-right li .dropdown-menu li .num {
  background: #999;
  padding: 0 10px;
  border-radius: 20px;
  color: #fff;
}
.navbar .navbar-right li .dropdown-menu li a:hover .num {
  background: #fff;
  color: #37b97d;
}
@media (max-width: 767px) {
  .navbar .navbar-right li .dropdown-menu {
    width: 160px;
    position: absolute;
    top: 100%;
    left: -90px;
    background: #fff;
    border: 1px solid #999;
  }
  .navbar .navbar-right li .dropdown-menu li {
    width: 100%;
  }
}
.navbar .info-img a.dropdown-toggle {
  padding: 5px 15px;
}
@media (max-width: 767px) {
  .navbar-user {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }
  .navbar-user ul {
    margin: 0;
  }
  .navbar-user ul li a {
    padding: 15px 5px;
  }
}
.navbar-user a {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .navbar-user ul {
    float: left;
  }
  .navbar-user ul li {
    float: left;
  }
}
.nav-more .dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
}
.nav-more.open .dropdown-menu li:hover .dropdown-menu {
  display: block;
}
@media (min-width: 767px) {
  .navbar-header .navbar-brand {
    margin: -5px;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    text-align: center;
  }
  .navbar-header .navbar-brand {
    display: inline-block;
    float: none;
  }
}
.navbar-mobile {
  position: absolute;
  left: 0;
}
.navbar-mobile .nav-mobile {
  width: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  float: none;
  height: 100%;
  background: #3f3f3f;
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-mobile .nav-mobile.active {
  width: 60%;
}
.navbar-mobile .dropdown-menu {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .navbar-mobile .nav {
    float: none;
    text-align: left;
    padding-right: 20px;
  }
  .navbar-mobile .navbar-more {
    padding: 15px 10px;
    display: inline-block;
    color: #fff;
    z-index: 999;
    position: relative;
  }
  .navbar-mobile .form-group {
    width: 80%;
    margin: 60px auto 20px auto;
  }
  .navbar-mobile .form-group .form-control {
    width: 100%;
  }
}
.footer {
  background: #3f3f3f;
}
.footer .copyright {
  border-top: 1px solid #2a2a2a;
  text-align: center;
  padding: 20px 0;
  line-height: 30px;
}
.footer .copyright span {
  margin-right: 30px;
  color: #bababa;
}
.footer-link {
  padding: 45px 0;
  border-bottom: 1px solid #5e5e5e;
}
.footer-main .link-item {
  width: 20%;
  float: left;
  text-shadow: 0 1px 3px #000;
}
@media (max-width: 767px) {
  .footer-main .link-item {
    width: 33.33%;
  }
}
.footer-main a {
  display: block;
  margin-top: 20px;
  color: #b1b1b1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-main a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-main h3 {
  color: #b1b1b1;
  margin-top: 0;
  margin-bottom: 40px;
}
.footer-logo {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-logo {
    padding: 0 0 30px 0;
  }
}
.footer-logo .footer-partner {
  margin-top: 30px;
}
.footer-logo .footer-partner i {
  margin-right: 20px;
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-logo .footer-partner i:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-logo .footer-partner i.icon-sina:hover {
  background: #e74c3c;
  border-color: #e74c3c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-logo .footer-partner i.icon-qq:hover {
  background: #1f98d9;
  border-color: #1f98d9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-logo .footer-partner i.icon-weixin:hover {
  background: #1abc9c;
  border-color: #1abc9c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-logo .footer-partner i.icon-mobile:hover {
  background: #e67e22;
  border-color: #e67e22;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html {
  overflow-x: hidden;
}
html.html-nav-active {
  overflow: hidden;
}
body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
}
body.nav-active {
  margin-left: 60%;
  width: 100%;
}
.html-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.2;
  filter: alpha(opacity=20);
  background: #000;
}
.tooltip {
  min-width: 40px;
}
.es-main {
  margin-top: 40px;
}
.text-line {
  position: relative;
  padding: 50px 0;
}
.text-line .line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  margin-top: -1px;
}
@media (max-width: 767px) {
  .text-line .line {
    display: none;
  }
}
.text-line h5 {
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 16px;
}
.text-line i {
  padding: 0 20px;
  background: #fff;
}
.text-line span {
  background: #fff;
  padding-right: 10px;
}
.es-panel {
  border: none;
}
.es-panel .panel-title {
  float: left;
}
.es-panel .panel-heading {
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
.es-panel .panel-heading i {
  vertical-align: middle;
  margin-right: 10px;
}
.es-panel .panel-heading span {
  font-size: 16px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.es-panel .panel-heading .more {
  float: right;
  margin-top: -15px;
  font-size: 24px;
  color: #9e9e9e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.es-panel .panel-heading .more:hover {
  color: #666666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-item {
  margin-bottom: 20px;
  border: 1px solid #f7f7f7;
  border-shadow: 5px 5px 5px #666;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px rgba(51, 51, 102, 0.1);
  -moz-box-shadow: 0px 2px 6px rgba(51, 51, 102, 0.1);
  box-shadow: 0px 2px 6px rgba(51, 51, 102, 0.1);
}
.course-item a {
  color: #212121;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-item a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-item .course-info {
  padding: 0 20px;
}
.course-item .course-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.course-item .course-img .tag-discount {
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  z-index: 999;
  background: url("../img/tag_discount.png");
}
.course-item .course-img .tag-discount.free {
  background: url("../img/tag_limitfree.png");
}
.course-item .course-img .img-responsive {
  width: 100%;
}
.course-item .course-img img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-item .course-img a:hover img.transform {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.course-item .title {
  height: 40px;
  margin: 10px auto;
  overflow: hidden;
}
.course-item .metas {
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
  color: #9e9e9e;
}
.course-item .metas a {
  color: #9e9e9e;
}
.course-item .metas .num {
  margin-right: 10px;
}
.course-item .metas i {
  margin-right: 5px;
}
.course-item .metas .price {
  float: right;
  color: #e74c3c;
}
.course-item .metas .free {
  color: #238312;
}
.es-well {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.nav.nav-tabs {
  margin-bottom: 15px;
  border-color: #f5f5f5;
}
.nav.nav-tabs li a {
  border: none;
  border-bottom: 2px solid #f5f5f5;
  color: #212121;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .nav.nav-tabs li a {
    border: none;
    padding: 6px 8px;
  }
}
.nav.nav-tabs li a:hover,
.nav.nav-tabs li a:focus {
  background: none;
}
.nav.nav-tabs li.active a,
.nav.nav-tabs li:hover a {
  border: none;
  border-bottom: 2px solid #37b97d;
  background: none;
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .nav.nav-tabs li.active a,
  .nav.nav-tabs li:hover a {
    border: none;
  }
}
.pager li a {
  color: #9e9e9e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .pager li a {
    padding: 8px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}
.pager li a:hover {
  background: none;
  color: #37b97d;
  border-color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-tag {
  padding: 6px 10px;
  border: 1px solid #9e9e9e;
  display: inline-block;
  color: #9e9e9e;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-tag:hover {
  color: #37b97d;
  border-color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumb li.active {
  color: #616161;
}
.breadcrumb a {
  color: #616161;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumb a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
textarea.form-control {
  background-color: #f5f5f5;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.badge-primary {
  background-color: #37b97d;
}
.es-share {
  position: relative;
}
.es-share .dropdown-menu {
  min-width: 120px;
  top: -10px;
  left: 30px;
  padding: 3px 10px;
  background-color: #404040;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.es-share .dropdown-menu:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(64, 64, 64, 0);
  border-right-color: #404040;
  border-width: 8px;
  margin-top: -8px;
}
.es-share .dropdown-menu a {
  color: #fff;
}
.es-share .dropdown-menu i {
  font-size: 20px;
}
.dropdown-menu {
  border-radius: 5px;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li a {
  color: #616161;
  padding: 10px;
}
.dropdown-menu li a:hover {
  background: #37b97d;
  color: #fff;
}
.poster {
  position: relative;
  z-index: 99;
  background: #fff;
  padding-bottom: 30px;
}
.poster .item {
  background: #3c3c3c url(../img/poster_bg.jpg) center 0 no-repeat;
  height: 490px;
  padding-top: 140px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.poster .item .item-left .title {
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 20px;
  color: #fff;
  -webkit-animation: fadeInUp 1s 0.2s ease both;
  -moz-animation: fadeInUp 1s 0.2s ease both;
  -o-animation: fadeInUp 1s 0.2s ease both;
  animation: fadeInUp 1s 0.2s ease both;
}
@media (max-width: 1199px) {
  .poster .item .item-left .title {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  .poster .item .item-left .title {
    font-size: 40px;
    line-height: 50px;
  }
}
.poster .item .item-left .subtitle {
  color: #38a672;
  font-size: 22px;
  -webkit-animation: fadeInLeft 1s 0.8s ease both;
  -moz-animation: fadeInLeft 1s 0.8s ease both;
  -o-animation: fadeInLeft 1s 0.8s ease both;
  animation: fadeInLeft 1s 0.8s ease both;
}
.poster .item .item-left .subtitle span {
  margin-right: 20px;
}
.poster .item .item-right {
  position: relative;
  width: 725px;
  height: 391px;
  -webkit-animation: fadeInRight 1s 0.2s ease both;
  -moz-animation: fadeInRight 1s 0.2s ease both;
  -o-animation: fadeInRight 1s 0.2s ease both;
  animation: fadeInRight 1s 0.2s ease both;
}
@media (max-width: 1199px) {
  .poster .item .item-right {
    width: 500px;
  }
}
@media (max-width: 1199px) {
  .poster .item img {
    width: 100%;
  }
}
.poster .item .item-img {
  width: 465px;
  position: absolute;
  top: 30px;
  left: 130px;
}
@media (max-width: 1199px) {
  .poster .item .item-img {
    width: 320px;
    top: 20px;
    left: 90px;
  }
}
.poster .carousel-indicators {
  bottom: -30px;
}
@media (max-width: 1199px) {
  .poster .carousel-indicators {
    bottom: -10px;
  }
}
.poster .carousel-indicators li {
  height: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 3px;
  border: 0;
  background-color: #d4d4d4;
}
.poster .carousel-indicators li.active {
  margin: 0 3px;
  background-color: #10b67c;
}
.index-notice {
  background: #fff;
}
.index-cuorse-cat {
  background: #fff;
}
.index-cuorse-cat .cuorse-cat-mian {
  position: relative;
  padding-right: 150px;
}
.index-cuorse-cat .course-cat-tags a {
  width: 163px;
  margin: 0 20px 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-cuorse-cat .course-cat-tags a:hover {
  border: 1px solid #37b97d;
  color: #37b97d;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.index-cuorse-cat .btn-default:focus,
.index-cuorse-cat .btn-default.active {
  background: #37b97d;
  color: #fff;
  border-color: #37b97d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course-sort {
  position: absolute;
  right: 0;
  top: 0;
}
.course-sort a {
  vertical-align: middle;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-sort a:hover {
  color: #37b97d;
  border-color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course-sort a.active {
  background: #37b97d;
  border: 1px solid #75d7c3;
  color: #fff;
}
.index-course-list {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  z-index: 99;
}
.index-course-list .course-more {
  position: absolute;
  bottom: -29px;
  left: 50%;
  margin: -29px 0 0 -29px;
  z-index: 1;
}
.index-course-list .course-more a {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background: #fff;
  color: #a6a6a6;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  -webkit-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  -moz-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-course-list .course-more a:hover {
  border-color: #37b97d;
  color: #666;
  -webkit-box-shadow: 2px 10px 15px 0px rgba(51, 51, 102, 0.5);
  -moz-box-shadow: 2px 10px 15px 0px rgba(51, 51, 102, 0.5);
  box-shadow: 2px 10px 15px 0px rgba(51, 51, 102, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-introduction {
  position: relative;
  background: url(../img/introduction_bg.jpg) center 0 repeat-y;
}
@media (max-width: 991px) {
  .index-introduction {
    background: #37b97d;
  }
}
.index-introduction h4,
.index-introduction h5 {
  color: #fff;
}
.index-introduction img {
  margin-bottom: 30px;
  margin: 0 auto 30px auto;
}
.index-introduction a {
  margin: 90px 0 60px 0;
  display: inline-block;
  text-align: center;
  height: 220px;
  vertical-align: top;
}
@media (max-width: 991px) {
  .index-introduction a {
    margin: 40px 0;
  }
}
.group-dynamic {
  padding-bottom: 30px;
  background: #fafafa;
}
.group-dynamic-header .text-line span {
  padding: 0 50px;
  font-size: 28px;
  background: #fafafa;
}
.index-group {
  padding-bottom: 24px;
  margin-bottom: 20px;
}
.index-group .group-item img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #fff;
}
.index-group .group-item .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.index-group .group-item .title a {
  color: #616161;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-group .group-item .title a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-group .media-body span,
.index-group .media-body a {
  margin-right: 10px;
  color: #9e9e9e;
}
.index-group .media-body a:hover {
  color: #1abc9c;
}
.index-group .media {
  margin-top: 20px;
}
.index-group .media:first-child {
  margin-top: 20px;
}
.index-group .metas {
  color: #9e9e9e;
}
.index-group .metas i {
  margin-right: 5px;
}
.index-dynamic {
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.index-dynamic .media-body {
  overflow: hidden;
  padding-right: 80px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
}
.index-dynamic .media-body .title a {
  font-size: 12px;
  color: #9e9e9e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-dynamic .media-body .title a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-dynamic .media-body .content a {
  color: #616161;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-dynamic .media-body .content a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index-dynamic .media-body span {
  margin-right: 10px;
}
.index-dynamic .media-body .content {
  height: 20px;
  overflow: hidden;
  display: block;
  color: #616161;
}
.index-dynamic .date {
  position: absolute;
  right: 0px;
  top: 15px;
  color: #e0e0e0;
}
.index-dynamic .media-left img {
  width: 40px;
  height: 40px;
}
.index-dynamic h5 {
  margin: 5px 0;
}
.course-detail-header {
  height: 360px;
  padding: 30px 0;
  background: url("../img/course_detail_header.jpg") center center no-repeat;
}
.course-detail-header .thumb {
  position: relative;
  float: left;
  width: 480px;
}
.course-detail-header .thumb .tags {
  position: absolute;
  top: 0;
  left: 10px;
}
.course-detail-header .thumb .tag-serialing {
  display: inline-block;
  width: 40px;
  height: 50px;
  margin-right: 6px;
  background: url("../img/tag_serialing.png") no-repeat;
}
.course-detail-header .thumb .tag-live {
  display: inline-block;
  width: 40px;
  height: 50px;
  background: url("../img/tag_live.png") no-repeat;
}
.course-detail-header .course-info {
  float: left;
  width: 450px;
  padding: 0 40px;
}
.course-detail-header .course-side {
  float: left;
  width: 180px;
  background-color: #f5f5f5;
}
.course-detail-header .subtitle {
  color: #9e9e9e;
  margin-bottom: 10px;
}
.article-list-header .row {
  margin: 0 -5px;
}
.second-cat-nav,
.third-cat-nav {
  margin-bottom: 0;
  list-style-type: none;
  overflow: hidden;
}
.second-cat-nav li,
.third-cat-nav li {
  float: left;
  margin: 10px 30px 10px 0;
}
@media (max-width: 767px) {
  .second-cat-nav li,
  .third-cat-nav li {
    margin: 5px 10px 5px 0;
  }
}
.second-cat-nav li a,
.third-cat-nav li a {
  padding: 7px 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .second-cat-nav li a,
  .third-cat-nav li a {
    padding: 5px 10px;
  }
}
.second-cat-nav {
  padding: 5px 0 15px 0;
}
@media (max-width: 767px) {
  .second-cat-nav {
    padding: 0 0 10px 0;
  }
}
.second-cat-nav li a {
  color: #616161;
}
.second-cat-nav li.active a,
.second-cat-nav li a:hover {
  color: #fff;
  background-color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.third-cat-nav {
  padding: 15px 0 5px 0;
  border-top: 1px dashed #e0e0e0;
}
@media (max-width: 767px) {
  .third-cat-nav {
    padding: 10px 0 0 0;
  }
}
.third-cat-nav li a {
  color: #9e9e9e;
}
.third-cat-nav li.active a,
.third-cat-nav li a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aricle-carousel {
  padding: 0 5px;
}
.aricle-carousel .item img {
  width: 100%;
  max-height: 410px;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .aricle-carousel .item {
    margin-bottom: 20px;
  }
}
.aricle-carousel .carousel-caption {
  font-size: 24px;
  width: 100%;
  left: 0;
  text-align: left;
  padding-left: 20px;
  text-shadow: 0 0 0;
}
@media (max-width: 1199px) {
  .aricle-carousel .carousel-caption {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .aricle-carousel .carousel-caption {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .aricle-carousel .carousel-caption {
    font-size: 16px;
  }
}
.aricle-carousel .carousel-indicators {
  bottom: 10px;
}
.aricle-carousel .carousel-indicators li {
  margin: 0 5px;
}
.aricle-carousel .carousel-indicators .active {
  height: 10px;
  width: 10px;
}
.article-header-right {
  padding: 0 5px;
}
.topic-post-small {
  width: 100%;
  margin-bottom: 10px;
  height: 195px;
  color: #fff;
  border-collapse: collapse;
  display: table;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .topic-post-small {
    height: 160px;
  }
}
.topic-post-small.one {
  background: -webkit-linear-gradient(#cced6a, #21aa68);
  background: -o-linear-gradient(#cced6a, #21aa68);
  background: linear-gradient(#cced6a, #21aa68);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cced6a', EndColorStr='#21aa68');
  background-image: linear-gradient(top, #cced6a, #21aa68);
}
.topic-post-small.two {
  margin-bottom: 0;
  background: -moz-linear-gradient(top, #e5e5e5, #9d9e9d);
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#9d9e9d));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#e5e5e5', EndColorStr='#9d9e9d');
  background-image: linear-gradient(top, #e5e5e5, #9d9e9d);
}
.topic-post-small .content {
  padding-right: 40%;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}
.topic-post-small .content .text {
  margin: 0;
  line-height: 25px;
}
.topic-post-small .content a {
  color: #fff;
}
.topic-post-small .content p {
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
}
.article-list-mian .item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
}
@media (max-width: 767px) {
  .article-list-mian .item .media-left {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  .article-list-mian .item .media-left img {
    width: 100%;
  }
}
.article-list-mian .media {
  color: #9e9e9e;
}
.article-list-mian .media .media-body {
  padding-left: 10px;
  line-height: 25px;
}
.article-list-mian .media img {
  border-radius: 6px;
}
.article-list-mian .pager {
  margin: 40px 0 20px 0;
}
.article-metas {
  position: relative;
  overflow: hidden;
}
.article-metas .pull-left {
  color: #d3d3d3;
}
.article-metas .pull-left i {
  font-size: 45px;
}
.article-metas .date {
  position: absolute;
  left: 12px;
  top: 15px;
}
.article-metas .date h3 {
  font-weight: normal;
  margin: 0;
}
.article-metas .date p {
  font-size: 12px;
}
.article-metas .metas-body {
  padding-left: 60px;
}
.article-metas .metas-body p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 12px;
}
.article-metas .metas-body .title {
  margin: 0;
  line-height: 36px;
}
@media (max-width: 1199px) {
  .article-metas .metas-body .title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .article-metas .metas-body .title {
    font-size: 16px;
    line-height: 20px;
  }
}
.article-metas .metas-body .title a {
  color: #616161;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.article-metas .metas-body .title a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.article-metas .metas-body .sns {
  margin: 10px auto;
}
.article-metas .metas-body .sns span {
  margin-right: 10px;
}
.article-metas .metas-body .sns span i {
  margin-right: 5px;
}
.article-text p {
  line-height: 30px;
  margin: 20px auto 30px auto;
}
@media (max-width: 767px) {
  .article-text p {
    margin: 10px auto 20px auto;
  }
}
.article-text p > img,
.article-text > img {
  margin: 10px auto;
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.article-tags .btn-tag {
  margin: 5px 10px 5px 0;
}
.article-sns {
  margin: 30px auto 10px auto;
  font-size: 16px;
}
.article-sns a.love,
.article-sns .es-share > a {
  margin-right: 10px;
  color: #9e9e9e;
}
.article-sns a.love:hover,
.article-sns .es-share > a:hover {
  color: #37b97d;
}
.article-sns a.love i,
.article-sns .es-share > a i {
  margin-right: 5px;
}
.related-artcile {
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.related-artcile .row {
  margin: 0 -5px;
}
.related-artcile .col-sm-4 {
  position: relative;
  display: block;
  padding: 0 5px;
  margin: 5px auto;
}
.related-artcile .related-item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.related-artcile .related-item:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-artcile .related-item img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-artcile .title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
}
.article-content > .es-commet {
  margin: 30px auto;
}
.es-commet .badge {
  margin-left: 5px;
}
.es-commet textarea {
  margin: 20px auto;
}
.artcile-comments {
  padding-left: 0;
  border-top: 1px solid #f5f5f5;
}
.media-comment .media-left img,
.media-subcomment .media-left img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.media-comment .media-body,
.media-subcomment .media-body {
  padding-bottom: 15px;
}
.media-comment .title,
.media-subcomment .title {
  margin-bottom: 5px;
}
.media-comment .title a,
.media-subcomment .title a {
  margin-right: 5px;
}
.media-comment .title .date,
.media-subcomment .title .date {
  margin-left: 5px;
}
.media-comment .comment-sns i,
.media-subcomment .comment-sns i {
  margin-right: 5px;
}
.media-comment .comment-sns a,
.media-subcomment .comment-sns a {
  color: #9e9e9e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
}
.media-comment .comment-sns a:hover,
.media-subcomment .comment-sns a:hover {
  color: #37b97d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.media-comment .media-body {
  border-bottom: 1px solid #f5f5f5;
}
.subcomments {
  margin-left: 20px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
.es-pagination {
  text-align: center;
}
.article-sidebar {
  /*热门资讯、推荐资讯*/
  /*热门标签*/
  /*热门评论*/
}
.article-sidebar .hot-article,
.article-sidebar .recommend-article {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(51, 51, 102, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(51, 51, 102, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(51, 51, 102, 0.1);
}
.article-sidebar .hot-article .media-left,
.article-sidebar .recommend-article .media-left {
  position: relative;
  color: #9e9e9e;
}
.article-sidebar .hot-article .media-left i,
.article-sidebar .recommend-article .media-left i {
  font-size: 18px;
  margin-top: -10px;
  margin-left: 1px;
  display: inline-block;
  height: 30px;
}
.article-sidebar .hot-article .media-left img,
.article-sidebar .recommend-article .media-left img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}
.article-sidebar .hot-article .media-left .num,
.article-sidebar .recommend-article .media-left .num {
  position: absolute;
  left: 6px;
  top: 4px;
}
.article-sidebar .hot-article .media,
.article-sidebar .recommend-article .media {
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 15px;
}
.article-sidebar .hot-article .media .media-body a,
.article-sidebar .recommend-article .media .media-body a {
  height: 36px;
  overflow: hidden;
  display: block;
  color: #9e9e9e;
}
.article-sidebar .hot-article .media .media-body a:hover,
.article-sidebar .recommend-article .media .media-body a:hover {
  color: #37b97d;
}
.article-sidebar .hot-article .media:last-child,
.article-sidebar .recommend-article .media:last-child {
  border-bottom: none;
}
.article-sidebar .hot-tag .btn-tag {
  margin: 10px 15px 10px 0;
}
.article-sidebar .hot-comments img {
  width: 40px;
  height: 40px;
}
.article-sidebar .hot-comments .comments-info {
  padding-left: 50px;
}
.article-sidebar .hot-comments .comments-info p {
  margin: 0;
  font-size: 12px;
  color: #e2e2e2;
  margin-top: 2px;
}
.article-sidebar .hot-comments .comments-info p a {
  margin-right: 10px;
}
.article-sidebar .hot-comments .comments-info h5 {
  margin: 0;
}
.article-sidebar .hot-comments .comments-info h5 a {
  color: #9e9e9e;
  height: 20px;
  display: inline-block;
  line-height: 20px;
}
.article-sidebar .hot-comments .comments-info h5 a:hover {
  color: #37b97d;
}
.article-sidebar .hot-comments .comments-content {
  padding: 10px;
  background: #f5f5f5;
  color: #9e9e9e;
  line-height: 25px;
  border: 1px solid #f1f1f1;
  margin-top: 15px;
  margin-bottom: 10px;
}
