
/*公开课*/

/*.activity-explore>.container{
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}*/

.activity-explore .container .banner-pic{
	background-color: #ededed;
	text-align:center;
}

.activity-explore .container .banner-pic .banner-pic-box{
	text-align:center;
	margin-right: auto;
	margin-left: auto;
}

.activity-explore .container .banner-pic .banner-pic-box .banner-pic-box-img{
	display:inline !important;
}


.activity-explore .container .banner-text{
	background-color: #5fa17b;
	margin-top: -4px !important;
	height: 40px;

}


.activity-banner{
	background-color: #4f4057;
	width: 100% !important;
}


.activity-banner-image{
	background-image: url("../../../assets/img/default/current-activity-bg.jpg");
	background-repeat: no-repeat;
	background-size:  contain;
	height: 250px !important;
}

.activity-banner-teacher{
	background-image: url("../../../assets/img/default/current-teacher-bg.png");
	background-repeat: no-repeat;
	background-size:  contain;
	width:276px;
	height: 220px;
}


.teacher-left-offset{
	width:150px;
	height: 2px;
}

.teacher-box{
	width:276px;
	height: 220px;
}

.teacher-color{
	color: #666600 !important;
}

.activity-title-color{
	color: #006699 !important;
}

.activity-last{	
	width: 100% !important;
}

.activity-last-bgcolor-white{
	background-color: #ffffff;
	
}

.activity-last-title{
	border-bottom: 1px solid #ffffff;
}



.activity-expired{
	background-color: #f8f8f8;
	width: 100% !important;
}

.activity-img-sm{
	width: 100%;
	height: 100%;
}

.activity-img-title{
	text-align: center;
	width: 100%;
}

.activity-img-title  a {
	color: #333333;
}

.imageblock-image, .imageblock-image img {
	display: block;
}

.imageblock-image {
	float: left;
	margin-right: 10px;
}

.imageblock-content {
	display: table-cell;
	vertical-align: top;
	width: 10000px;
	+width: auto;
	line-height: 1.5em;
}


.card-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/*IE*/
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity=50);
	*zoom: 1;
	/*NO-IE*/
	background-color: rgba(0, 0, 0, .5);

	color: white;
	padding: 5px;
	font-size: 13px;
	display: none;
}


#carousel-openclass-gallery-1 {
    position: relative;
    margin-bottom: 3em;
}

#carousel-openclass-gallery-1 .ui-switchable-prev-btn, #carousel-openclass-gallery-1 .ui-switchable-next-btn {
    position: absolute;
    width: 30px;
	height:55px;
    top:35%;
    color: #000;
    background-color: white;
    filter: alpha(opacity=60);
	opacity: 0.6;
    z-index: 6;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
}

#carousel-openclass-gallery-1 .ui-switchable-prev-btn {
    left: 8px; 
}
#carousel-openclass-gallery-1 .ui-switchable-next-btn {
    right: 0px;
}
#carousel-openclass-gallery-1 .ui-switchable-disabled-btn {
    color: #ddd;
    cursor: default;
}

#carousel-openclass-gallery-1 .scroller {
    overflow: hidden;
}

#carousel-openclass-gallery-1 .scroller .ui-switchable-content {
    padding: 5px 0;
}

#carousel-openclass-gallery-1 .scroller .ui-switchable-content a {
    float: left;
    display: block;
    width: 280px;
    margin: auto 10px;
    background-color: #fff;
    padding: 4px;
    position: relative;
}

#carousel-openclass-gallery-1 .scroller .ui-switchable-content a .tit{
	position: absolute;
	left: 4px;
	bottom: 4px;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	line-height: 21px;
	padding: 2px 8px;
	width: 97.2%;
	z-index: 1;
}

#carousel-openclass-gallery-1 .scroller .ui-switchable-content a img{
	width:100%;
	height: 100%;
}


.tit{
	position: absolute;
	left: 1px;
	bottom: 0;
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	line-height: 21px;
	padding: 2px 8px;
	width: 99.6%;
	z-index: 1;
}


.imgpanel a{
	position: relative;
	padding-bottom:0;
	display: inline-block;
}

.model-over-h{
	overflow: hidden;
}

.activity-user-link{
	float: left;
	margin:2px;
}
.activity-user-link p{
	width:48px; text-overflow: ellipsis; overflow:hidden;white-space: nowrap;	
}

/* reply*/

.reply-tools>*{
	font-size: 12px;
	margin-bottom:4px;
	color: #999999;
}

.post-list{
	margin-bottom: 1em;
	background-color: rgb(245, 245, 245);
	border-radius: 3px 3px 3px 3px;
}

.post-item{
	min-height: 30px;
	line-height: 100%;
	padding:10px 10px;
	margin: 5px 10px;
	border-bottom: 1px dotted rgb(221, 221, 221);
}

.post-item-time{
	float:right;
	color: #999;
}

.reply-box .well-sm{
	padding: 3px;
}

.filter li .active{
	color: #428bca;
}


/*公开课详情页评论区块*/

.comment-box{border:1px solid #ddd;position: relative;height: 123px;overflow: hidden;zoom:1}
.comment-box textarea{border:none;}
.comment-box .comment-side{background-color: #DDD;padding: 0.5em 1em;}

.comment-box .comment-side button{width: 63px;margin: 1em 0 .5em;}
.comment li{margin-bottom: 10px !important;}
.comment-list ul li{border-bottom: 1px dotted #ddd}
.comment-list .reply a{color: #ff8501;}
.comment .imageblock-content{position: relative;}


/*首页 公开课列表区块*/

.page-grids .card{
	vertical-align: top;
	margin: 15px 15px 15px 0;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}

.page-grids .card .card-body {
	position: relative;
	display: block;
	overflow: hidden;
	text-decoration: none;
	border-radius: 4px;
	color: #353535;
}

.page-grids .card .grid-img .desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/*IE*/
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity=50);
	*zoom: 1;
	/*NO-IE*/
	background-color: rgba(0, 0, 0, .5);

	color: white;
	padding: 5px;
	font-size: 13px;
	display: none;
}

.page-grids .card .grid-img .desc .text {
	position: relative;
}


.page-grids .card .post_date{
    width:58px;
    height:75px;
    padding:0px 3px 6px 2px;
    margin:0px auto;
    overflow:hidden;
    text-align:center;
    vertical-align:middle;
    border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    font-weight:bold;
   	font-family:"宋体";
	font-weight:bold;
    background-color: #046f9e;
    color: #f3f3f3;
    
}

.page-grids .card .s-title {
	color: #555;
	font-weight: bold;
}



.page-grids  li .card{
	
	background:#fff; 
	
	border-radius: 6px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
	
	transition: box-shadow 0.2s;*border:1px solid #e0e0e0;
}

.page-grids  li:hover .card{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}



/*马上体验按扭*/
.jc_js a {
display: block;
width: 120px;
height: 40px;
line-height: 40px;
background: #0D92D0;
text-align: center;
color: #fff;
font-size: 16px;
font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
margin: 15px auto;
border-radius: 3px;
text-decoration: none;
}

.jc_js a:hover{
	text-decoration:none;
	background:#0581BB;
}



/*开源悦图*/
.photo-view-page>.container{
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}

.photoview-nav{
	position: fixed;
	top:65px;
	z-index: 2;
}

.photo-nav{ 
	overflow: hidden;
	text-align: center;
	margin-top: -20px;
	margin-bottom: -20px;
	
}
.photo-nav a{
	color: #666666;
	text-decoration: none;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}
.photo-nav li{
	-webkit-transition: background 0.1s ease-out;
	-moz-transition: background 0.1s ease-out;
	-o-transition: background 0.1s ease-out;
	transition: background 0.1s ease-out;
}
.photo-nav li:hover a{
	color:#ba2636; 
}

.photo-nav li{
	width: 50%;
	height: 49px;
	line-height: 48px;
	float: left;
	
}

.photo-border-r{ border-right: 1px solid #ececec; }
.photo-border-b{ border-bottom: 1px solid #ececec; }


.photo-copyright{
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
	text-align: center;
	padding: 25px 25px;
	color: #cccccc;
}

/* photo style*/



.photoview-container{
	cursor: pointer;
}

.photo-view-page{
	background-color:#f2f2f2 ;
}



.photoview-list {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 10px 0;
}

.photoview-list-line {
	height: 470px;
    border-radius: 2px;
 	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	position: relative;
	margin-bottom: 8px;
}

.photoview-list-item{
	width: 49%;
	position: absolute;
	display: inline;
}

.photoview-item-tag{

	height: 40px;
	padding-right: 5px;
	padding-left: 5px;
	top: 0px;
	left: 0px;	
	line-height: 40px;
	position: absolute;
	background-color: #db210b;
	display: none;
	color: white;
	font-weight: bold;
	text-align: center;
	z-index: 2;
	-webkit-transition: display 1s ease-out;
	-moz-transition: display 1s ease-out;
	-o-transition: display 1s ease-out;
	transition: display 1s ease-out;
}
.photoview-item-pic{
	width: 100%;
	height: 100%;
	background-color:#000;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}


.photoview-item-title{
	width: 100%;
	bottom: 0px;
	left: 0px;
	color: white;
	background: black;
	background: rgba(0, 0, 0, 0.8);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.64, rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.8)));
	background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.56) 64%, rgba(0, 0, 0, 0.8) 100%);
	background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.56) 64%, rgba(0, 0, 0, 0.8) 100%);
	background: -o-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.56) 64%, rgba(0, 0, 0, 0.8) 100%);
	background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.56) 64%, rgba(0, 0, 0, 0.8) 100%);
	text-align: center;
	position: absolute;
}

.photoview-item-text{
	width: auto;
	background-color: white;
	position: relative;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.photoview-list-item:hover .photoview-item-tag{
	display: block;
}

.photoview-list-item:hover .photoview-item-pic{
	opacity: 0.7;
}

.photoview-list-item:hover .photoview-item-text{
	background-color:#252525;
}


.photoview-list-item:hover .photoview-item-name{
	color: white;
}
.photoview-list-item:hover .photoview-item-time{
	color: white;
} 
.photoview-list-item:hover .arrow-left{
	border-color: transparent #252525 transparent transparent;
}
.photoview-list-item:hover .arrow-right{
	border-color: transparent transparent transparent #252525;
}
.photoview-list-item:hover .photoview-item-comment{
	color: white;
  background-position: left -20px;
}


.photoview-item-time{
	padding: 10px 20px 0 20px;
	font-family: Adorable, Arial, sans-serif;
	color: #cccccc;
}

.photoview-item-name{
	color: #252525;
	font-size: 14px;
	padding: 15px 21px 0 21px;
}

.photoview-item-arrow{
	display: block;
	border-width: 13px;
	font-size: 0;
	width: 0;
	height: 0;
	line-height: 0;
	top: 40px;
	position: absolute;
	z-index: 10;
	
}
.arrow-left,.arrow-right{
	-webkit-transition: border-color 0.5s ease-out;
	-moz-transition: border-color 0.5s ease-out;
	-o-transition: border-color 0.5s ease-out;
	transition: border-color 0.5s ease-out;
}
.arrow-left{
	left: -24px;
	border-color: transparent white transparent transparent;
	border-style: dashed solid dashed dashed;
}

.arrow-right{
	right: -24px;
	border-color: transparent transparent transparent white;
	border-style: dashed dashed dashed solid;
}


.photoview-item-comment{
	background-position: left -20px;
	display: block;
	height: 15px;
	padding-left: 18px;
	position: absolute;
	bottom: 10px;
	left: 22px;
	background: url("../img/icon_comment.png") top left no-repeat;
	font-family: Adorable, Verdana;
	font-style: italic;
	color: #cb6b80;
	font-size: 12px;
}


.box3,.box7{  height: 100%; position: absolute; }

.box3{ width: 49.5%; }
.box7{ width: 50.5% }
.box3-left{ left:50.5%;}
.box7-left{ left:49.5%}



.box-lg{ height: 99%; }
.box-sm{ height: 48%;}
.box-top{ top: 51%; }
.box-left{ left: 50%; }



/**
*	photoview_content style
*/

.popup-gallery{
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	position: fixed;
	background-color: black;
	z-index: 1040;
	display: none;
}

.popup-box-l{
	height: 100%;
	position: relative;
	margin-right:360px;
	padding: 0px 80px 0px 80px;
}

.popup-box-r{
	width: 360px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #131313;
	position: absolute;
}
.popup-gallery-close{
	width: 38px;
	padding-top: 38px;
	position: absolute;
	top: 10px;
	left: -48px;
	cursor: pointer;
	background: #595959 url("../img/close.png") left top no-repeat;
}
.popup-gallery-close p{
	display: block;
	color: #eeeeee;
	background: black;
	margin: 0;
	line-height: 30px;
	font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
	text-align: center;
}
.popup-gallery-logo {
	display: block;
	width: 200px;
	height: 50px;
	color: #a2a2a2;
	position: relative;
	top:20px;
	margin-left: auto;
	margin-right: auto;
}

.popup-gallery-title{
	font-size: 20px;
	color: #a2a2a2;
	padding: 5px 20px 5px 20px;
}

.popup-gallery-text{
	text-decoration: 2;
	padding: 0 20px 15px 20px;	
}
.popup-gallery-postlist{
	list-style-type: none;
	padding: 1px 20px 1px 20px;
}
.popup-gallery-postlist li{
	width: 320px;
	word-break:break-all;
	padding: 10px;
	line-height:100%;
	margin-bottom: 2px;
}
.popup-gallery-post{
	padding: 1px 20px 1px 20px;
}

.popup-gallery-lbtn,.popup-gallery-rbtn{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	background-image: url("../img/ctrlbtn.png");
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 0;
	-webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
	-moz-transition: left 0.3s ease-out, right 0.3s ease-out;
	transition: left 0.3s ease-out, right 0.3s ease-out;
}
.popup-box-l:hover  .popup-gallery-lbtn{
	left:0px;
}

.popup-box-l:hover .popup-gallery-rbtn{
	right:0px;
}

.popup-gallery-lbtn{
	left: -101px;
	background-position: 0px -100px;
}
.popup-gallery-rbtn{
	right: -100px;
	background-position: -100px -100px;
}

.popup-gallery-photoarea{
	height: 100%;
	margin-top:20px;
}
.popup-gallery-photoarea img{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
}



.photo-manage-list{
	margin: 0px;
	padding: 0px;
}

.photo-manage-list li{
	width: 170px;
	height: 130px;
	border: 1px dashed #eee;
	float: left;
	padding: 4px;
	margin: 5px;
	position: relative;
}
.photo-manage-list li:hover .photo-manage-tools{
	display: block;
}

.photo-manage-img{
	width: 160px;
	height: 120px;
}

.photo-manage-tools{
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}

.photo-manage-item-del , .photo-manage-item-set{
	width: 30px;
	height: 30px;
	line-height: 29px;
	text-align: center;
}

