
/* slide——css */
.hp-tab-newprd {
width: 1185px;
/*height: 370px;*/
margin: 0 auto;
overflow: hidden;
position: relative;
}
.hp-tab-newprd .j-sw-nav {
width: 100px;
height: 26px;
margin: 1em auto;
overflow: hidden;
position: relative;
}
.hp-tab-newprd .j-sw-nav li {
	float: left;
	width: 15px;
	height: 15px;
	background-color: #a7a7a7;
	margin-right: 1em;
	border-radius: 50%;
}
.hp-tab-newprd .j-sw-nav li a {
	position: relative;
display: block;
height: 26px;
text-align: center;
color: #FEFEFE;
font-weight: bold;
word-wrap: break-word;
outline: 0;
cursor: pointer;
}
.newprd-s1, .newprd-s1 a {
	z-index: 20
}
.newprd-s2, .newprd-s2 a {
	z-index: 19
}
.newprd-s3, .newprd-s3 a {
	z-index: 18
}
.newprd-s4, .newprd-s4 a {
	z-index: 17
}
.newprd-s5, .newprd-s5 a {
	z-index: 16
}
.newprd-s6, .newprd-s6 a {
	z-index: 15
}
.newprd-s7, .newprd-s7 a {
	z-index: 14
}
.hp-tab-newprd .newprd-clip {
	/*height: 350px;*/
}
.hp-tab-newprd .j-sw-nav .on {
	position: relative;
	z-index: 99;
	background-color: #32A764;
}
.hp-tab-newprd .j-sw-nav li a:hover, .hp-tab-newprd .j-sw-nav .on a {	
	z-index: 99;
	color: #fefefe;
	text-decoration: none;
	cursor: pointer;
}
.hp-tab-newprd .j-sw-c ul {
	zoom:1;
	overflow:hidden;
	width:1185px;
}
.hp-tab-newprd .j-sw-c li {
	float: left;	
	/*margin-right: 6px;*/
	display:inline;
}
