/*全局*/
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  font-family: 'microsoft yahei', '微软雅黑','Microsoft YaHei', Arial, sans-serif,Helvetica;
}

p{margin: 0.2em 0}

ul li,ol li{list-style-type: none;}

/*首页*/
.home-page > .container{
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}
.slide-osf{margin-top: 54px;}


.index-blackboard-image{
	background-image: url("../../../assets/img/default/blackboard.png");
	background-repeat: no-repeat;
	background-size:  contain;
	height: 238px !important;
}


/*公共*/

.user-logo-small-size {
	width: 50px !important;
	height: 50px !important;
}

.user-logo-small-size-s {
	width: 30px;
	height: 30px;
	float: left;
	font-size: 12px;
	margin-right: 8px;
}

.user-logo-avatar {
	border-radius: 50%;
}

.show-user-card{
	font-weight: 600;margin-bottom:1em; 
}

.empty-info{
	text-align: center;
	font-size: 14px;
	height: 40px;
	line-height: 38px;
	color: #666px;
}



/*widget*/
.widget{
	background-color: white;
	margin-bottom: 3em;
	padding-bottom: .2em; 
}
.shadow{	
	-webkit-box-shadow:  0 .2em .35em .07em rgba(117, 117, 117, 0.22);
	-moz-box-shadow:  0 .2em .35em .07em rgba(117, 117, 117, 0.22);
	box-shadow:  0 .2em .35em .07em rgba(117, 117, 117, 0.22);
}

/*标题*/
.kytitle{
	height: 38px;
	padding: 0 10px;
	line-height: 39px;
	line-height: 41px;
	overflow: hidden;
	position: relative;
	z-index: 9;
	border-bottom: 1px solid #DDD;
	margin-bottom: 1.2em;
}
.kytitle h3 {
	font-size: 16px;
	float: left;
	margin: 0.8em 0;
}
.kytitle a{display: block;
	float: right;
	color: #999;
	font-size: 13px;
}

/*内容*/
.k_postlist li {
	font-size: 12px;
	position: relative;
	margin-bottom: 10px;
	color: #6A6A6A;
	line-height: 14px;
	overflow: hidden;
	zoom: 1;
}
.k_postlist p {
	margin: 0 0 4px 0;
}
.k_postlist .title {
	padding-right: 60px;
}
.k_postlist .metas {
	font-size: 13px;
	color: #999;
}
.k_postlist .metas time{
	position: absolute;
	right: 0;
}
.k_postlist .metas a {
	color: #333;
}

.content{
	padding: 0 15px;
	zoom:1
}



/*边框*/
.bor-t-green{border-top: 5px solid #32a764;}
.bor-b-green{border-bottom: 5px solid #32a764;}
.bor-l-green{border-left: 5px solid #32a764;}

.bor-l-gray{border-left: 5px solid #a7a7a7;}
.bor-b-gray{border-bottom: 5px solid #a7a7a7;}

.bor-b-green-2{border-bottom: 2px solid #32a764;}
.bor-b-gray-2{border-bottom: 2px solid #a7a7a7;}

.bor-l{border-left: 1px solid #eee;}
.bor-r{border-right: 1px solid #eee;}
.bor-t{border-top: 1px solid #eee;}
.bor-b{border-bottom: 1px solid #eee;}






/*首页快来加入*/

.info .info-content{padding: 10px 10px 10px 0;}
.info .photo-wall{width: 580px;*width: 742px;position:relative;}
.info-ad {margin-left: 1em;color:#33aa65;width: 155px;height: 155px;background-color: #33aa65}
.info-ad .info-btn{padding: 25px 20px;}
.info-ad p {text-align: center;color: #fff;}
.info-btn .btn {background-color: #dedede;color: #33ab66;border-radius: 3px;}
.font18{font-size: 18px;}
.fix-right{position: absolute;right: 1em;top:2px;}

.list-item-user{margin-right: 1px; position: relative; width:51px; display:inline-block; padding-bottom:1px; text-align:center; vertical-align:top;
}
.list-waiting{margin-right: 1px; position: relative; display:inline-block; padding-bottom:1px; text-align:center; vertical-align:top;
}
.list-item-user .tip{position: relative;}
.list-item-user .i-active{z-index: 10;}


.todos-thumb-span{
	position: absolute;
	background-color: #32a764;
	color: white;
	width: 0px;
	height: 54px;
	top: -2px;
	z-index: 9;
	display: none;
	-webkit-box-shadow: 0.625em 0.07em 0.625em 0.07em rgba(0, 0, 0, 0.66);
	-moz-box-shadow: 0.625em 0.07em 0.625em 0.07em rgba(0, 0, 0, 0.66);
	box-shadow: 0.625em 0.07em 0.625em 0.07em rgba(0, 0, 0, 0.66);
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.todos-thumb-span-right{
	padding-right: 60px;
	right: -2px;
}

.todos-thumb-span-left{
	padding-left: 60px;
	left: -2px;
}

.todos-thumb-span a{ color: white; }


/* Firefox 1 - 2 */
body:empty .todos-thumb-span{margin-left: -52px;}
 
/* Firefox */
@-moz-document url-prefix()
{.todos-thumb-span { margin-left: -52px; }}

.todos-thumb-span .user-tag{color: #a6f3c7;display: block;margin-top: .5em}

.justify_fix{display:inline-block; width:100%; height:0; overflow:hidden;}




/**页脚**/
.footer-autumn-primary a {
    color: #999;
}

.footer-autumn-primary {
    background-color: #dedede;
    color: #666;
    text-align: center;
}

.footer-autumn-primary .container div {
    margin: 20px 0px;
}

.footer-autumn-primary ul {
    text-align: center;
}



.autumn-grids {
list-style: none;
margin: 0;
padding: 0;
margin-right: -25px;
letter-spacing: -4px;
zoom: 1;
}

.white-grid {

vertical-align: top;
letter-spacing: 0;

margin: 0px 10px 17px 0;
background: #fff;
border: 1px solid #e2e2e2;
padding: 5px;
}

