{% extends 'admin/layout.html.twig' %}
{% block content_header %}
  {% if is_trial() %}
    <div class="row form-group">
      <div class="help-block">
        </br></br>
        <script>
          var _hmt = _hmt || [];
        </script>
        <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
        <p style = "text-align:center;font-size:16px">{{ 'admin.homepage.buy.tips'|trans|raw }}</p>
        <p style = "text-align:center;font-size:16px">{{ 'admin.homepage.contact.tips'|trans|raw }}<span id="BizQQWPA" onclick="_hmt.push(['_trackEvent', 'advisory', 'click', 'qq'])"><a id="BizQQWPA" href="javascript:" style='text-decoration:none;'>QQ：800023860 </a>。</span>
        </p>
        <script type="text/javascript">
            BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 800023860, selector: 'BizQQWPA'}); 
        </script>
        </br>
      </div>
    </div>
    <hr>
  {% endif %}
{% endblock %}