{% extends 'layout.html.twig' %}

{% do script(['app/js/material-lib/document-player/index.js']) %}

{% block body %}
  <div class="iframe-parent-content" id="document-player" data-url='{{path('global_file_document', {globalId: file.no})}}'></div>
{% endblock %}

