{% if is_plugin_installed('Coupon') %}
	{% if cards.receice is defined or cards.used is defined %}
		{% if cards.receive is defined %}
			{% for card in cards.receive %}
				<!--正常优惠码-->
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="jm-card-item">
						<div class="jm-card-img {% if card.deadline < time_stamp() %}yhjed{% else %}yhjing{% endif %}">
							<div class="jm-card-info">
								{% if card.targetType == "course" %}
									{% if card.targetId == 0 %}
										<p class="title">可用于抵扣全站课程</p>
									{% else %}
										<p class="title">用于抵扣指定课程</p>
									{% endif %}
								{% endif %}

								{% if card.targetType == "classroom" %}
									<p class="title">可用于抵扣全站班级</p>
								{% endif %}

								{% if card.targetType == "vip" %}
									{% if card.targetId == 0 %}
										<p class="title">可用于抵扣全站会员</p>
									{% else %}
										<p class="title">用于抵扣指定会员</p>
									{% endif %}
								{% endif %}
								<p class="price">
									<strong>{% if card.type == "minus" %}￥{% endif %}{{ card.rate }}{% if card.type == "discount" %}折{% endif %}</strong>
								</p>
								<p>有效期截止：<span>{{ card.deadline|date('Y年n月d日') }}</span></p>
							</div>
							{% if card.deadline < time_stamp() %}<div class="carded"></div>{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}

		{% if cards.used is defined %}
			{% for card in cards.used %}
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="jm-card-item">
						<div class="jm-card-img yhjing">
							<div class="jm-card-info">
								{% if card.targetType == "course" %}
									{% if card.targetId == 0 %}
										<p class="title">可用于抵扣全站课程</p>
									{% else %}
										<p class="title">用于抵扣指定课程</p>
									{% endif %}
								{% endif %}

								{% if card.targetType == "classroom" %}
									<p class="title">可用于抵扣全站班级</p>
								{% endif %}

								{% if card.targetType == "vip" %}
									{% if card.targetId == 0 %}
										<p class="title">可用于抵扣全站会员</p>
									{% else %}
										<p class="title">用于抵扣指定会员</p>
									{% endif %}
								{% endif %}
								<p class="price">
									<strong>{% if card.type == "minus" %}￥{% endif %}{{ card.rate }}{% if card.type == "discount" %}折{% endif %}</strong>
								</p>
								<p>有效期截止：<span>{{ card.deadline|date('Y年n月d日') }}</span></p>
							</div>
							<!--优惠劵已使用-->
							<div class="card-done"></div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% else %}
		<p>空空如也，您的口袋里还没有优惠卡</p>
	{% endif %}
{% else %}
	<p>您访问的网站没有安装优惠码插件，详情请联系管理员</p>
{% endif %}