{% extends 'TopxiaWebBundle:Card:layout.html.twig' %}

{% set main_nav = 'cards' %}

{% block main_body %}
	<!-- 卡包列表 -->
	<div class="clearfix mbl mhm">
		<ul class="nav nav-pills inline-block" role="active">
			<li role="presentation" {% if app.request.query.get('cardType')=='' or app.request.query.get('cardType')=='coupon' %} class="active"{% endif %}><a href="{{ path('my_cards',{ cardType:''}) }}">优惠劵</a></li>
			<li role="presentation" {% if app.request.query.get('status')=='moneyCard' %} class="active"{% endif %}><a href="{{ path('my_cards',{ cardType:'moneyCard'}) }}">学习卡</a></li>
		</ul>
		<div class="pull-right mtm hidden-xs">
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox1" value="option1">未抵扣
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2">已抵扣
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3">已过期
			</label>
		</div>
	</div>
	<div class="jm-card-list">
		<div class="row">
			{% if app.request.query.get('cardType') == '' or app.request.query.get('cardType') == 'coupon' %}
				{% include 'TopxiaWebBundle:Card:card-coupon.html.twig' %}
			{% endif %}
			{% if app.request.query.get('cardType') == 'moneyCard' %}
				{% include 'TopxiaWebBundle:Card:card-money.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}