	  <div class="col-lg-4 col-md-6 col-sm-6">
			<div class="jm-card-item">
				<div class="jm-card-img xxking">
					<div class="jm-card-info">
						<h4>学习卡</h4>
						<p class="title">仅用于抵扣测试直播课程</p>
						<p class="price">
							<strong>￥400</strong>
						</p>
						<p>有效期：<span>2015年11月12日</span></p>
					</div>
				</div>
			</div>
		</div>