.type-hidden {
  display: block !important;
  height: 0px!important;
  border:0;
  .opacity(0);
  padding: 0px!important;
  margin: 0px!important;//用于隐藏又需要验证的的控件
}

.tab-content {
  padding-bottom: 0.1px;
}

//临时
.animated.alert {
  width: 100%;
  padding: 10px;
  text-align: center;
  .close {
    top: 13px;
  }
}

.input-with-copy {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}