{% extends 'ClassroomBundle:Classroom:content-layout.html.twig' %}

{% set nav = 'teachers' %}
{% block description %}{{ classroomDescription|default('')|plain_text(100) }}{% endblock %}
{% do load_script('classroombundle/controller/classroom/detail/teacher-list') %}
{% block main %}

  <div class="teacher-list no-shadow row">
  {% for teacher in teachers %}
    {% set isFollowed = (teacher.id in Myfollowings)|default(false) %}
    {% set member = members[teacher.id] %}
    {% include 'ClassroomBundle:Classroom/Teacher:item.html.twig' %}
  {% endfor %}
  </div>

{% endblock %}
