{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% set bodyClass = "full-body" %}
{% do script(['web/task/download/index.js']) %}


{% block content %}
  <div class="dashboard-body">
    <div class="summary">{{ activity.content }}</div>
    {% for file in activity.ext.materials|default(null) %}
      <li class="media list-item">
        <div class="media-body list-item-body">
          <div class="title">
            <a href="{{ path('course_activity_download', {courseId:courseId, activityId:activity.id , fileId:file.id }) }}"
               target="_blank">{{ file.title }}</a>
            {% if file.link|default(null) %}
              <span class="meta">(link)</span>
            {% else %}
              <span class="meta">({{ file.fileSize|file_size }})</span>
            {% endif %}
          </div>
        </div>
      </li>

    {% endfor %}
  </div>
{% endblock %}