{% extends 'TopxiaAdminBundle:Operation:layout.html.twig' %}

{% block title %}资讯 - {{ parent() }}{% endblock %}

{% set menu = 'article' %}

{% block main %}
<ul class="nav nav-tabs mbl">

  <li class="{% if submenu == 'article' %}active{% endif %}">
    <a href="{{ url('admin_operation') }}">管理
    </a>
  </li>

    <li class="{% if submenu == 'category' %}active{% endif %}">
    <a href="{{ url('admin_operation_article_category') }}">栏目
    </a>
  </li>

</ul>


  {% block maincontent %}{% endblock %}
{% endblock %}
