{% extends 'TopxiaAdminBundle:Operation:layout.html.twig' %}

{% block title %}资讯 - {{ parent() }}{% endblock %}

{% set menu = 'article' %}

{% block main %}

<div class = "mbl">
{% set menus = permissions("admin_operation_article","tab")%}
{{admin_macro.tab_group(menus,submenu)}}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
