{% extends 'TopxiaAdminBundle:Operation:layout.html.twig' %}

{% block title %}编辑区 - {{ parent() }}{% endblock %}

{% set menu = 'block' %}

{% block main %}
<div class = "mbl">
{% set menus = permissions("admin_operation_block","tab")%}
    {% include 'TopxiaAdminBundle::tab.html.twig' with {menus : menus , type : submenu} %}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
