{% extends 'coin/layout.html.twig' %}
{% block title %}{{'user.cards'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-cards' %}

{% block main %}
<div class="es-section h400">
  <div class="section-header"><h3>{{'user.cards.content_title'|trans}}</h3></div>

  {% set main_nav = main_nav|default(null) %}

  {% block main_body %}{% endblock %}
</div>
{% endblock %}