.payPage {
  .payPage__order {
    margin: 0 vw(20);
    .order__head {
      border-bottom: 1px solid #eeeeee;
      padding: vw(20) 0 vw(12) 0;
      color: #2B333B;
      line-height: vw(18);
      font-size: vw(18);
      font-family: PingFangSC-Medium;
    }
    .order__infomation {
      .title {
        margin-top: vw(20);
        color: #313131;
        font-size: vw(14);
        font-family: PingFangSC-Regular;
      }
      .sum {
        margin: vw(15) 0 vw(25) 0;
        font-size: vw(14);
        color: #919191;
        .sum__price {
          margin-left: vw(20);
          color: #FF5353;
          .num {
            font-size: vw(16);
            font-weight: bold;
          }
        }
      }
      .payWay {
        display: flex;
        // justify-content: space-around;
        .payWay__item {
          border: 1px solid #F5F5F5;
          padding: vw(12) vw(22);
          background: #FFFFFF;
          margin-right: 10px;
        }
        .payWay__item--selected {
          position: relative;
          border-color: #408FFB;
          font-size: 14px;
          color: #FFFFFF;
          .right {
            position: absolute;
            top: 0;
            right: 0;
            border-top: vw(20) solid #408FFB;
            border-left: vw(20) solid transparent;
            width: 0;
            height: 0;
          }
          i {
            &::before {
              position: absolute;
              top: 0;
              right: 0;
              content: '\2713';
            }
          }
        }
      }
    }
  }
  .payPage__payBtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: vw(50);
    color: #FFFFFF;
    text-align: center;
    line-height: vw(50);
    background: #408FFB;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    &.disabled {
      background: #919191;
    }
  }
}
