{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'question-modal-lg' %}

{% block title %}{{'my.teaching.question_bank.question.add'|trans}}{% endblock %}

{% block body %}
<div class="question-add">
  <div class="question-add__content clearfix">
    <div class="question-add__line"></div>
    <div class="question-add__left">
      {# 待替换 #}
      <div id="category-table-body question-category-panel__list">
        <input class="js-category-choose" data-role="search-conditions" type="hidden" name="categoryId" value="">
        <div class="js-sortable-item question-category-panel__item text-overflow">
          <a href="javascript:;" class="gray-darker js-all-category-search js-active-set active">全部题目</a>
        </div>
        <div class="js-sortable-item question-category-panel__item text-overflow">
          <a href="javascript:;" class="gray-darker js-category-search js-active-set" data-id="0">未分类</a>
        </div>
        <div class="js-sortable-list ">
          <div class="js-sortable-item question-category-panel__item text-overflow">
            <i class="cd-icon cd-icon-add gray-darker js-toggle-show js-remove-icon"></i>
            <a href="javascript:;" class="gray-darker question-category-item-name text-overflow js-category-search js-active-set"
              data-id="5">分类1</a>
          </div>
          <div class="js-sortable-list question-category-panel__list" style="display:none;">
            <div class="js-sortable-item question-category-panel__item text-overflow">
              <i class="cd-icon cd-icon-add gray-darker js-toggle-show js-remove-icon"></i>
              <a href="javascript:;" class="gray-darker question-category-item-name text-overflow js-category-search js-active-set"
                data-id="6">子类1</a>
            </div>
            <div class="js-sortable-list question-category-panel__list" style="display:none;">
              <div class="js-sortable-item question-category-panel__item text-overflow">
                <a href="javascript:;" class="gray-darker question-category-item-name text-overflow js-category-search js-active-set"
                  data-id="7">孙类1</a>
              </div>
            </div>

          </div>

          <div class="js-sortable-item question-category-panel__item text-overflow">
            <a href="javascript:;" class="gray-darker question-category-item-name text-overflow js-category-search js-active-set"
              data-id="8">分类2</a>
          </div>
          <div class="js-sortable-item question-category-panel__item text-overflow">
            <a href="javascript:;" class="gray-darker question-category-item-name text-overflow js-category-search js-active-set"
              data-id="9">分类3</a>
          </div>
        </div>

      </div>
      {# 待替换 #}
    </div>
    <div class="question-add__right">
     {# 待替换 #}
      <table class="table table-striped table-hover" id="quiz-table">
        <thead>
          <tr>
            <th><input type="checkbox" autocomplete="off" class="js-select-all"></th>
            <th width="60%">题干</th>
            <th width="15%">类型</th>
            <th width="15%">难度</th>
          </tr>
        </thead>
        <tbody>
          <tr data-role="item">
            <td><input value="70" data-id="70" type="checkbox" autocomplete="off" class="js-checkbox"></td>
            <td>
              <a class="color-info" href="#modal" data-toggle="modal" data-url="/question_bank/4/question/70/preview">
                <span class="glyphicon glyphicon-picture"></span> 科目汇总表的汇总范围是（）。<br>
                <span class="color-gray text-sm">分类： 无</span>
              </a>
            </td>
            <td> 单选题</td>
            <td>一般</td>
          </tr>
          <tr data-role="item">
            <td><input value="70" data-id="70" type="checkbox" autocomplete="off" class="js-checkbox"></td>
            <td>
              <a class="color-info" href="#modal" data-toggle="modal" data-url="/question_bank/4/question/70/preview">
                <span class="glyphicon glyphicon-picture"></span> 科目汇总表的汇总范围是（）。<br>
                <span class="color-gray text-sm">分类： 无</span>
              </a>
            </td>
            <td> 单选题</td>
            <td>一般</td>
          </tr>
          <tr data-role="item">
            <td><input value="70" data-id="70" type="checkbox" autocomplete="off" class="js-checkbox"></td>
            <td>
              <a class="color-info" href="#modal" data-toggle="modal" data-url="/question_bank/4/question/70/preview">
                <span class="glyphicon glyphicon-picture"></span> 科目汇总表的汇总范围是（）。<br>
                <span class="color-gray text-sm">分类： 无</span>
              </a>
            </td>
            <td> 单选题</td>
            <td>一般</td>
          </tr>
        </tbody>
      </table>
      {# 待替换 #}
    </div>
  </div>

  <div class="question-add__content question-add__footer">
    <div class="clearfix">
      <div class="question-add__footer--title">已选<span class="cd-link-primary">9</span>题</div>
      <div class="question-add__footer--btn">
        <button class="cd-btn cd-btn-default cd-btn-sm">清空已选</button>
      </div>
    </div>

    <div class="question-add__list">
      <div class="question-add__list__item">
        <div>单选题</div>
        <div>9</div>
      </div>
      <div class="question-add__list__item">
        <div>不定项选择题</div>
        <div>9</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link" data-dismiss="modal" tabindex="6">{{'form.btn.cancel'|trans}}</button>
<button id="pick-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary"
  data-toggle="form-submit" data-target="" tabindex="4">{{'form.btn.save'|trans}}</button>
{% endblock %}
