{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menus = permissions("admin_approval_approving","tab")%}
{% set menu = 'approval' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}

{% block main %}

<div class = "mbl">

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}

</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
