{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'user' %}

{% block content %}
  <div class="col-lg-2">
    {% block sidebar %}
      <div class="list-group">
        <a href="{{ url('admin_user') }}" class="list-group-item {% if menu == 'user' %}active{% endif %}">
          用户管理<span class="glyphicon glyphicon-chevron-right"></span></a>
        <a href="{{ url('admin_invitation') }}" class="list-group-item {% if menu == 'invitation' %}active{% endif %}" style="display:none;">
          邀请记录
          <span class="glyphicon glyphicon-chevron-right"></span></a>
        <a href="{{ url('admin_fortune') }}" class="list-group-item {% if menu == 'fortune' %}active{% endif %}" style="display:none;">
          积分流水帐
          <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    {% endblock %}
  </div>
  <div class="col-lg-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}
{% block page_script %} app.load('user') {% endblock %}