{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}设置用户组{% endblock %}
{% block body %}

<form id="user-role-edit-form" class="form-horizontal" method="post" action="{{ url('admin_user_set_roles', {id:user.id}) }}">

   <input type="checkbox" value="ROLE_USER" name="role[]" disabled="disabled" checked="checked" > 会员 <br>

   <input type="checkbox" value="ROLE_TEACHER" name="role[]"
    {% if 'ROLE_TEACHER' in user.roles %}
		checked="checked"
	{% endif %} > 教师 <br>

   <input type="checkbox" value="ROLE_ADMIN" name="role[]" 
   {% if 'ROLE_ADMIN' in user.roles %}
		checked="checked"
	{% endif %} > 管理员 <br>

   <input type="checkbox" value="ROLE_SUPER_ADMIN" name="role[]"
     {% if 'ROLE_SUPER_ADMIN' in user.roles %}
		checked="checked"
	{% endif %} > 超级管理员 <br>

</form>
{% endblock %}


{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-role-edit-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}