{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% block title %}教师 - {{ parent() }}{% endblock %}

{% set menu = 'teacher' %}

{% block main %}

<div class = "mbl">
{% set menus = permissions("admin_teacher","tab")%}
{{admin_macro.tab_group(menus,submenu)}}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
