{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menus = permissions("admin_teacher","tab")%}
{% set menu = 'teacher' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}

{% block main %}

  
<h4>教师管理</h4>

  {% block maincontent %}{% endblock %}
{% endblock %}
