{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menus = permissions("admin_user_show","tab")%}

{% set menu = 'user' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}

{% block main %}

  
<h4>用户管理</h4>

<div class = "mbl">

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}

</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
