{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menus = permissions("admin_user_show","tab")%}

{% set menu = 'user' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}

{% block main %}

<div class = "mbl">

{{admin_macro.tab_group(menus,submenu)}}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
