{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menus = permissions("admin_user_show", 1 )%}

{% set menu = 'admin_user_show' %}

{% block main %}

<div class = "mbl">

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}

</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
