{% if (member is empty) and task.isFree %}
  <span class="label label-success mr10">免费</span>
{% elseif (member is empty) and course.tryLookable and task.type == 'video' and file.storage|default('') == 'cloud' %}
  <span class="label label-warning mrm">{{ '试看'|trans }}</span>
{% elseif member  and task.isOptional == 1 %}
  <span class="label label-info mr10">选修</span>
{% endif %}
任务{{ task.number }}： {{ task.title }}
