<!-- è§ app/Resources/static-src/app/js/courseset/show/index.js -->

<div class="js-infinite-item-template hidden">
  <li class="task-item bg-gray-lighter js-task-chapter infinite-item" 
      display-if="{isChapter}"><i class="es-icon es-icon-menu left-menu"></i>
    <a href="javascript:" class="title gray-dark">{getChapterName}</a>
    <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
  </li>

  <li class="task-item color-gray bg-gray-lighter infinite-item"
    display-if="{isUnit}">
    <span class="title">{getUnitName}</span>
  </li>

  <li class="task-item infinite-item {lessonContainerClass}"
    display-if="{isLesson}">
    <span class="title">{getLessonName}</span>

    <tmp display-if="{isItemDisplayedAsUnpublished}">
      <span class="right-menu ">{{'course.catalogue.task_status.looking_forward'|trans}}</span>
    </tmp>
  </li>

  <li class="task-item task-content mouse-control infinite-item {lessonContainerClass}"
      display-if="{isTask}">
    <i display-if="{isTaskLocked}" class="{taskClass}" data-toggle="tooltip" data-trigger="hover" 
      data-placement="top" title="{{ 'course.task.lock_tips'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}">
    </i>

    <i hide-if="{isTaskLocked}" class="{taskClass}">
    </i>

    {% include 'course/task-list/parts/task-link-template.html.twig' %}

  </li>

</div>

{% include 'course/task-list/parts/task-course-data.html.twig' with {showOptional:showOptional|default(false)} %}