{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}
  {{ '图片裁切'|trans }}
{% endblock %}

{% set modal_class = 'cd-modal-dialog' %}

{% do script(['app/js/settings/profile-avatar-crop-modal/index.js']) %}

{% block body %}
  <img class="img-full" src="" id="avatar-crop"/>
{% endblock %}

{% block footer %}
  <div class="text-center">
    <button type="button" class="btn cd-btn cd-btn-default cd-btn-lg" data-dismiss="modal">重新选择</button>
    <button type="button" class="btn cd-btn cd-btn-primary cd-btn-lg" id="save-btn" dat-url="{{ path('settings_profile_avatar_crop_modal')}}"  data-loading-text="{{ 'form.btn.submit.submiting'|trans }}">
    {% block save_text %}
      保存       
    {% endblock %}
    </button>
  </div>
{% endblock %}