{% set wxconfig = wx_js_sdk_config() %}
{% if wxconfig|default(null) %}
  {% do script(['app/js/wechat-subscribe-new/index.js']) %}
  <div class="hidden js-wechat-data" data-config="{{wxconfig}}"></div>
{% endif %}

<span class="hidden js-wechat-subscribe" style="display: inline-block; width: 50px; text-align: center;">

</span>
