{% set wxconfig = wx_js_sdk_config() %}
{% set template = data('SubscribeTemplate', {})%}

{% if wxconfig|default(null) and template|default('') %}
  {% do script(['app/js/wechat-subscribe-new/index.js']) %}
  <div class="hidden js-wechat-data" data-config="{{wxconfig}}"></div>

  <span class="js-wechat-subscribe" style="position: relative; display: inline-block; width: 50px; height: 44px; text-align: center;">
    {# <i class="es-icon es-icon-subscribe"></i> #}
    {# <br> #}
    <wx-open-subscribe template="{{template}}" id="subscribe-btn">
      <template slot="style">
        <style>
          .subscribe-btn {
            display: inline-block;
            width: 50px;
            color: #919191;
            font-size: 12px;
            text-align: center;
          }

          .icon {
            display: inline-block;
            width: 50px;
            text-align: center;
            font-size: 18px;
          }
        </style>
      </template>
      <template>
        <span class="subscribe-btn">
          <span class="icon">&#9734;</span>
          <br>
          订阅
        </span>
      </template>
    </wx-open-subscribe>
  </span>
{% endif %}
