<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="28" assertions="64" failures="0" errors="0" time="92.415478">
    <testsuite name="Unit1" tests="28" assertions="64" failures="0" errors="0" time="92.415478">
      <testsuite name="Tests\Unit\Util\Dao\MobileDeviceDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/MobileDeviceDaoTest.php" tests="2" assertions="11" failures="0" errors="0" time="9.423365">
        <testcase name="testGetMobileDeviceById" class="Tests\Unit\Util\Dao\MobileDeviceDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/MobileDeviceDaoTest.php" line="9" assertions="6" time="6.314567"/>
        <testcase name="testAddMobileDevice" class="Tests\Unit\Util\Dao\MobileDeviceDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/MobileDeviceDaoTest.php" line="19" assertions="5" time="3.108798"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\Dao\SystemUtilDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/SystemUtilDaoTest.php" tests="2" assertions="2" failures="0" errors="0" time="6.217055">
        <testcase name="testGetCourseIdsWhereCourseHasDeleted" class="Tests\Unit\Util\Dao\SystemUtilDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/SystemUtilDaoTest.php" line="9" assertions="1" time="3.066366"/>
        <testcase name="testDeclares" class="Tests\Unit\Util\Dao\SystemUtilDaoTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/Dao/SystemUtilDaoTest.php" line="16" assertions="1" time="3.150689"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" tests="14" assertions="26" failures="0" errors="0" time="44.744756">
        <testcase name="testCreateLive" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="12" assertions="2" time="3.238075"/>
        <testcase name="testUpdateLive" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="32" assertions="2" time="3.213231"/>
        <testcase name="testGetCapacity" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="46" assertions="2" time="3.208929"/>
        <testcase name="testGetRoomUrl" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="60" assertions="1" time="3.107212"/>
        <testcase name="testDeleteLive" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="73" assertions="1" time="3.315818"/>
        <testcase name="testGetMaxOnline" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="85" assertions="1" time="3.324485"/>
        <testcase name="testEntryLive" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="97" assertions="1" time="3.231147"/>
        <testcase name="testEntryReplay" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="109" assertions="2" time="3.135186"/>
        <testcase name="testCreateReplayList" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="122" assertions="2" time="3.042603"/>
        <testcase name="testIsAvailableRecord" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="135" assertions="1" time="3.281348"/>
        <testcase name="testSetLiveLogo" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="147" assertions="3" time="3.156658"/>
        <testcase name="testCheckLiveStatus" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="162" assertions="2" time="3.219604"/>
        <testcase name="testIsEsLive" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="176" assertions="3" time="3.172342"/>
        <testcase name="testGetLiveAccount" class="Tests\Unit\Util\EdusohoLiveClientlTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/EdusohoLiveClientTest.php" line="188" assertions="3" time="3.098118"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\FileUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/FileUtilTest.php" tests="2" assertions="10" failures="0" errors="0" time="6.216076">
        <testcase name="testEmptyDir" class="Tests\Unit\Util\FileUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/FileUtilTest.php" line="21" assertions="6" time="3.125172"/>
        <testcase name="testDeepCopy" class="Tests\Unit\Util\FileUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/FileUtilTest.php" line="42" assertions="4" time="3.090904"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\MobileDeviceServicelTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/MobileDeviceServiceTest.php" tests="2" assertions="8" failures="0" errors="0" time="6.112255">
        <testcase name="testAddMobileDevice" class="Tests\Unit\Util\MobileDeviceServicelTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/MobileDeviceServiceTest.php" line="9" assertions="2" time="3.070257"/>
        <testcase name="testFindMobileDeviceByIMEI" class="Tests\Unit\Util\MobileDeviceServicelTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/MobileDeviceServiceTest.php" line="28" assertions="6" time="3.041998"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\SystemUtilServiceImplTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilServiceImplTest.php" tests="1" assertions="2" failures="0" errors="0" time="3.090259">
        <testcase name="testRemoveUnusedUploadFiles" class="Tests\Unit\Util\SystemUtilServiceImplTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilServiceImplTest.php" line="9" assertions="2" time="3.090259"/>
      </testsuite>
      <testsuite name="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" tests="5" assertions="5" failures="0" errors="0" time="16.611712">
        <testcase name="testGetDownloadPath" class="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" line="12" assertions="1" time="3.256721"/>
        <testcase name="testGetBackUpPath" class="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" line="18" assertions="1" time="3.338855"/>
        <testcase name="testGetCachePath" class="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" line="24" assertions="1" time="3.301372"/>
        <testcase name="testGetUploadTmpPath" class="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" line="30" assertions="1" time="3.290107"/>
        <testcase name="testBackupdb" class="Tests\Unit\Util\SystemUtilTest" file="/private/var/www/projects/edusoho_bak/tests/Unit/Util/SystemUtilTest.php" line="36" assertions="1" time="3.424657"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
