{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div>test</div>

$("#lesson-video-content").html('<video id="lesson-video-player" class="video-js vjs-default-skin" controls preload="auto"></video>');


var player = VideoJS("lesson-video-player", {
    techOrder: ['flash','html5']
});
var hasPlayerError = false;

player.dimensions('100%', '100%');
player.src(lesson.mediaUri);
player.on('ended', function() {
    if (hasPlayerError) {
        return ;
    }
    that._onFinishLearnLesson();
    player.currentTime(0);
    player.pause();
});

player.on('error', function(error){
    hasPlayerError = true;
    var message = '您的浏览器不能播放当前视频。';
    Notify.danger(message, 60);
});
$("#lesson-video-content").show();
player.play();
player.on('fullscreenchange', function(e) {
    if ($(e.target).hasClass('vjs-fullscreen')) {
        $("#site-navbar").hide();
    }
});

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app.js')} %}
