{% extends 'v2/layout.html.twig' %}

{% do script(['app/js/v2/demo/index.js']) %}

{% set side_nav = '' %}

{% block page_title %}
  DEMO
{% endblock %}

{% block main_body %}
  <ul class="cd-tabs">
    <li class="active"><a href="">选中菜单</a></li>
    <li><a href="">数字菜单<span class="number">2</span></a></li>
    <li><a href="">未选菜单</a></li>
  </ul>
  <div class="cd-mb24">
    <form action="" class="form-inline cd-form-inline">
      <div class="form-group cd-form-group cd-form-group-button">
        <input name="q" type="text" class="form-control form-control form-control-sm" placeholder="输入订单名称搜索">
        <button><i class="cd-icon cd-icon-search"></i></button>
      </div>
    </form>
  </div>
  <div class="alert cd-alert cd-alert-warning">
    <button type="button" class="close" data-dismiss="alert">
      <i class="cd-icon cd-icon-close"></i>
    </button>
    这是警告提示框，展示重要信息
  </div>
  <div class="row cd-row">
    <div class="col-md-7">
      <div class="es-colorful-card es-colorful-card-danger">
        <div class="card-icon"><i class="es-icon es-icon-money"></i></div>
        <div class="card-body">
          <p>虚拟币余额</p>
          <p><span class="card-money">1799.02</span>元</p>
        </div>
        <div class="card-action">
          <a href="" class="btn cd-btn btn-card-danger">现金充值</a>
          <a href="" class="btn cd-btn btn-card-white">学习卡</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="cd-data-card">
        <div class="card-item">
          <div class="card-item-label">总计收入</div>
          <div class="card-item-value"><span>23222.11</span>元</div>
        </div>
        <div class="card-item">
          <div class="card-item-label">总计支出</div>
          <div class="card-item-value"><span>68.11</span>元</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row cd-row">
    <div class="col-md-7">
      <div class="es-colorful-card es-colorful-card-warning">
        <div class="card-icon"><i class="es-icon es-icon-money-bag"></i></div>
        <div class="card-body">
          <p>可提现金额</p>
          <p><span  class="card-money">1799.02</span>元 冻结金额 13.00 元 <i class="cd-icon cd-icon-help cd-text-xs" data-toggle="popover" data-placement="top" data-content="冻结金额的说明" data-trigger="hover"></i></p>
          <p>未设置收款帐号前无法提现 <a href="">设置收款帐号</a></p>
        </div>
        <div class="card-action">
          <a href="" class="btn cd-btn btn-card-warning">立即提现</a>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive cd-table-responsive" id="my-table" data-filter="status=5" data-sort="sort[key]=asc" data-url="{{path('v2_demo_modal')}}">
    <table class="table cd-table">
      <thead>
        <tr>
          <th class="table-sort checked" width="30%" data-target="#my-table" data-toggle="table-sort" data-sort-key="sort[key]">
            内容
            <div class="table-sort-icon">
              <i class="cd-icon cd-icon-arrow-line-up active" data-sort-value="asc"></i>
              <i class="cd-icon cd-icon-arrow-line-down" data-sort-value="desc"></i>
            </div>
          </th>
          <th>流水号</th>
          <th>订单号</th>
          <th style="min-width: 80px">
            <div class="cd-dropdown cd-dropdown-filter" data-toggle="cd-dropdown">
              状态
              <a href="javascript:;" class="cd-link-minor">
                <i class="cd-icon cd-icon-filter cd-text-xs"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;" data-toggle="table-filter" data-target="#my-table" data-filter="">全部</a></li>
                <li class="active"><a href="javascript:;" data-toggle="table-filter" data-target="#my-table" data-filter="status=1">下拉菜单</a></li>
                <li><a href="javascript:;" data-toggle="table-filter" data-target="#my-table" data-filter="status=2">下拉菜单</a></li>
                <li><a href="javascript:;" data-toggle="table-filter" data-target="#my-table" data-filter="status=3">下拉菜单</a></li>
              </ul>
            </div>
          </th>
          <th style="min-width: 80px" class="text-right">收支</th>
          <th style="min-width: 100px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>支付宝充值现金 200 元支付宝充值现金 200 元支付宝充值现金 200 元</td>
          <td>2017042121144446163</td>
          <td>V2017042121141876634</td>
          <td>
            <span class="cd-status cd-status-info">
              <span>待付款</span>
            </span>
          </td>
          <td class="text-right">+40.00</td>
          <td>
            <div class="table-action">
              <div class="table-action__item">
                <a href="" class="cd-link-primary">付款</a>
              </div>
              <div class="table-action__item cd-dropdown cd-dropdown-right" data-toggle="cd-dropdown">
                <a href="javascript:;" class="cd-link-primary">
                  更多<i class="cd-text-xs es-icon es-icon-keyboardarrowdown"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="">下拉菜单</a></li>
                  <li><a href="">下拉菜单</a></li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>支付宝充值现金 200 元</td>
          <td>2017042121144446163</td>
          <td>V2017042121141876634</td>
          <td>
            <span class="cd-status cd-status-warning">
              <span>退款中</span>
            </span>
          </td>
          <td class="text-right">+400.00</td>
          <td>
            <div class="table-action">
              <a href="#modal" data-url="{{path('v2_demo_modal')}}" data-toggle="modal"  class="cd-link-primary">查看Modal</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>支付宝充值现金 200 元</td>
          <td>2017042121144446163</td>
          <td>V2017042121141876634</td>
          <td><span class="cd-status cd-status-disabled">
            <span>已关闭</span>
          </span></td>
          <td class="text-right">+4400.00</td>
          <td>
            <div class="table-action">
              <a href="" class="cd-link-primary">付款</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="text-right">
      <ul class="cd-pagination">
        <li><a  href="javascript:;"><i class="cd-icon cd-icon-first-page"></i></a></li>
        <li><a  href="javascript:;"><i class="cd-icon cd-icon-arrow-left"></i></a></li>
        <li><a href="javascript:;">1</a></li>
        <li class="active"><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;"><i class="cd-icon cd-icon-arrow-right"></i></a></li>
        <li><a  href="javascript:;"><i class="cd-icon cd-icon-last-page"></i></a></li>
      </ul>
    </nav>
  </div>
 
  <form action="" class="cd-mb24 row cd-row">
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label>真实姓名</label>
        <input type="text" class="form-control" placeholder="请输入真实姓名">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="form-group cd-form-group">
        <label class="required">身份证号码</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label class="readonly">只读状态</label>
        <input type="text" class="form-control" readonly value="这是只读内容">
        <p class="help-block">这是帮助信息</p>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="form-group cd-form-group has-error">
        <label class="required">错误校验</label>
        <input type="text" class="form-control form-control-error">
        <p class="form-error-message">该字段不能为空</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label>单选框标题</label>
        <div class="cd-radio-group">
          <label class="cd-radio checked">
            <input type="radio" name="title" value="1" data-toggle="cd-radio" checked>
            选项内容
          </label>
          <label class="cd-radio">
            <input type="radio" name="title" value="2" data-toggle="cd-radio">
            选项内容
          </label>
        </div>
      </div>
    </div>
  </form>
  <div class="cd-mb24">
    <button class="btn cd-btn cd-btn-primary">主色调按钮</button>
    <button class="btn cd-btn cd-btn-primary cd-btn-sm">主色小按钮</button>
    <button class="btn cd-btn cd-btn-primary cd-btn-lg">主色大按钮</button>
    <button class="btn cd-btn cd-btn-ghost-primary">主色按钮</button>
    <button class="btn cd-btn cd-btn-flat-primary">主色按钮</button>
    <button class="btn cd-btn cd-btn-ghost-default">default按钮</button>
    <button class="btn cd-btn cd-btn-flat-default">flat-default按钮</button>
    <button class="btn cd-btn cd-btn-danger" data-toggle="notify">notify</button>
  </div>
  <div class="cd-mb24">
    <div class="cd-security cd-security-warning">
      <div class="security-icon">
        <i class="cd-icon cd-icon-warning"></i>
      </div>
      <div class="security-title">{{ 'user.settings.security.level'|trans }}</div>
      <div class="security-progress done"></div>
      <div class="security-progress done"></div>
      <div class="security-progress"></div>
      <div class="security-level">中</div>
    </div>
  </div>

  <div class="cd-loading cd-mb24">
    <div class="loading-content">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
{% endblock %}