{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog' %}

{% block title %}
  记录详情
{% endblock %}

{% block body %}
  <div class="cd-plain-text">
    <div class="plain-label">确认时间</div>
    <div class="plain-content">2017-08-11 12:00:00</div>
    <div class="plain-label">收款方式</div>
    <div class="plain-content">支付宝 139****0571</div>
    <div class="plain-label">反馈信息</div>
    <div class="plain-content">已转账到支付宝，请查收，凭证情查看附件图片</div>
  </div>
  <div class="coin-thumb-list cd-mb24">
    <div class="coin-thumb-item" style="background-image:url({{asset('assets/img/default/cloud_flash.png')}})"></div>
    <div class="coin-thumb-item" style="background-image:url({{asset('assets/img/default/apple.png')}})"></div>
    <div class="coin-thumb-item" style="background-image:url({{asset('assets/img/common/stars.png')}})"></div>
  </div>
  <form action="">
    <div class="form-group cd-form-group">
      <label class="required">提现金额</label>
      <input type="text" class="form-control" placeholder="请输入提现金额">
      <p class="help-block">本次可提现金额100.00元，最小提现金额100.00元</p>
    </div>
  </form>
{% endblock %}

{% block footer %}
  {# <button type="button" class="btn cd-btn btn-primary btn-block" data-dismiss="modal">关闭</button> #}
  <button class="btn cd-btn cd-btn-flat-default cd-btn-lg" data-dismiss="modal">取消</button>
  <button class="btn cd-btn cd-btn-primary cd-btn-lg" data-dismiss="modal">确定</button>
{% endblock %}