{% set resultStatus = resultStatus|default(null) %}
{% set status = status|default('all') %}

<form class="clearfix form-inline well well-sm testpaper-result-list-form" method="get">
  <div class="form-group">
    <input class="form-control " type="text" placeholder="请输入用户名" name="keyword" value="{{ app.request.get('keyword')}}">
  </div>
  <div class="form-group">
    <select name="status" class="form-control" >
      <option value="all" {% if status == 'all' %}selected='selected'{% endif %}>全部</option>>
      {% set statusInfoDict = dict('testResultStatus') %}
      {% for key,statusInfo in statusInfoDict if statusInfo %}
        <option value="{{ key }}" {% if key == status %} selected='selected'{% endif %}>{{ statusInfo }}</option>
      {% endfor %}
    </select>
  </div>

  <button class="btn btn-primary">搜索</button>

</form>