{% import 'TopxiaWebBundle::macro.html.twig' as web_macro %}

{% set resultStatus = [] %}
{% include 'WebBundle:TestpaperManage:result-list-search-form.html.twig' %}

{% include 'WebBundle:TestpaperManage:result-list-item.html.twig' with {source:source|default('course'),targetId:targetId|default(0), paperResults:paperResults} %}

<nav class="text-center">
  {{ web_macro.paginator(paginator) }}
</nav>

