<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}EDUSOHO安装程序{% endblock %}</title>
  <link href="../assets/libs/gallery2/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/install.css" rel="stylesheet" />
  <!--[if lt IE 9]>
    <script src="../assets/libs/html5shiv.js"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="../assets/libs/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <div class="install-container">
    <div class="paper">
      <div class="paper-heading">
        <p>
            首先强烈建议用官方标准配置（Linux + Nginx + php-fpm + mysql）或者购买服务套餐。不专业的安装手法很可能导致系统出现严重漏洞，简单的把文件罗列出来，任意人都可以下载视频；
            跑PHP应用，Linux性能比windows系统快好几倍，为了获得更好的体验，珍惜宝贵的生命，请使用Linux。
            EduSoho安装比一般的应用系统复杂，但同时安全系数也提升了若干倍，尤其是在视频保护方面；
            为什么要强调nginx、apache等的配置文件：由于EduSoho是单入口的web应用，所有的请求都从app.php文件进入，并且edusoho/web目录下存放的都是公开文件，比如头像文件、js文件、css文件等。其他文件则分别在app，src等非公开目录。所以为了您的安全我们强烈推荐您按照我们的教程配置nginx跟apache。
        </p>
        <h1>Windows:</h1>
        <br>
        <p><span class="text-danger">Windows</span>环境下，请先核对一下当前访问的路由地址是不是类似于：“www.xxx.com/<span class="text-danger">web</span>/install/start-install.php?step=2”，如果是的话，那就说明没有将访问edusoho网站的根目录指向 <span class="text-danger">edusoho/web</span> 下（正常安装的url路由地址应该是：“www.xxx.com/install/start-install.php?step=2”），大部分情况下只需要在面板集成环境的设置里面，修改一下网站目录为：edusoho/web下即可。</p>
        <h1>Linux:</h1>
        <br>
        <span class="text-danger">Linux</span>环境下，请将nginx或apache配置的项目目录 指向edusoho/web（具体配置文件参考 <a href="http://www.qiqiuyu.com/course/20" target="_blank">Linux环境下安装EduSoho</a> ）
      </div>
    </div>
  </div>
</body>
</html>