//新版导航，暂时只有app的webview用到
.nav-bar{
  position: relative;
  margin-bottom: vw(4);
  padding: vw(10) vw(16);
  color: $font-black;
  font-weight: bold;
  text-align: center;
  background: $bg-white;
  .icon-arrow-left{
    position: absolute;
    left:vw(16);
    top:50%;
    margin-top: vw(-8);
    @extend .pull-left;
    color: $font-black;
    @extend .text-16;
  }
}