.panel-create-course {
  .course-piece {
    &:after {
      background-color: @brand-primary;
    }
  }
  .course-select {
    &:hover {
      border: 2px solid @brand-primary;
    }
    &.active {
      background-color: @brand-primary;
    }
  }
}