.task-price-setting-group {
  position: relative;
  max-height: 207px;
  overflow: hidden;
  .price {
    visibility: hidden;
  }
  .title {
    max-width: 80%;
  }
  li.open {
    .price {
      visibility: visible;
    }
  }
}