.testpaper-check-title {
  position: absolute;
  top: 12px;
  right: 16px;
}

.testpaper-check-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.testpaper-dropdown.ant-select-tree-dropdown {
  overflow-x: hidden !important;
  .ant-select-tree-title {
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ant-select-tree li span.ant-select-tree-switcher {
    line-height: 0;
  }
}
.classroom-testpaper {
  position: relative;
  padding: 20px 0;
  font-size: 16px;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
}