<div id="material-lib-items-panel" class="all mtm material-btn-group">
  <button class="btn btn-danger js-batch-delete-btn" type="button" disabled data-role="batch-dalete" data-url="{{ path('admin_cloud_file_delete_modal_show') }}" >{{ 'admin.cloud_attachment.delete_btn'|trans }}</button>
</div>