.setting-course {
  .course-item-setting {
    background: #fff;
    padding: 30px;
    border: 1px solid #E1E1E1;
  }

  .course-item-setting__section {
    overflow: hidden;
    .section {
      &-left {
        display: inline;
        margin: 0;
        line-height: 28px;
        font-size: 14px;
      }
      &-right {
        margin-left: 70px;
        width: 212px;
        line-height: 28px;
        .el-select {
          width: 100%;
        }
        &__item {
          display: inline-block;
          width: 96px;
        }
      }
      &__course-container {
        margin-top: 15px;
        padding: 0 20px;
        background: #f5f5f5;
      }
      &__course-item {
        box-sizing: border-box;
        color: $primary-color;
        height: 40px;
        padding: 13px 0;
        line-height: 14px;
        cursor: move;
        &__title {
          display: inline-block;
          width: 240px;
          font-size: 14px;
        }
        &__icon-delete {
          color: #bdc2c6;
          font-size: 16px;
          cursor: pointer;
        }
        &:not(:first-child) {
          border-top: 1px solid #e1e1e1;
        }
      }
    }
  }
}


// h5 组件 vw 单位复写
.e-course {
  padding: 0 20px 30px;
  &__left {
   img {
    width: 140px;
    height: 79px;
   }
  }
  &__right {
    margin-left: 10px;
  }
  &__title {
    font-size: 14px;
  }
  &__project {
    margin-top: 6.5px;
    margin-bottom: 5px;
    span {
      padding: 4px 10px;
      border-radius: 2px;
      font-size: 10px;
    }
  }
}

.e-course-list {
  &__header {
    padding: 20px;
  }
  &__list-title {
    font-size: 18px;
  }
  &__more {
    font-size: 14px;
    .more-text {
      margin-right: 3px;
      line-height: 25px;
    }
    &:after {
      margin-top: 8.5px;
      margin-right: 2px;
      width: 7px;
      height: 7px;
    }
  }
}

.e-course-switch-box {
  margin-top: 9px;
  .switch-box {
    &__price {
      font-size: 14px;
    }
    &__state {
      font-size: 12px;

      .order-pay {
        border-radius: 42px;
        padding: 8px 12px;
        font-size: 12px;
      }
    }
  }
}

.rank-box {
  .progress {
    width: 150px;
  }
  .round-conner {
    height: 14px;
    border-radius: 42px;
  }
  span {
    margin-left: 4px;
    font-size: 14px;
    line-height: 14px;
  }
}
