{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}{{'announcement'|trans}}{% endblock %}

{% set hide_footer = true %}

{% block body %}
  <div class="announcement-detail clearfix">
    <div>
      {% if announcement.content | default('') %}
        {{ announcement.content|cdn|raw }}
      {% endif %}
    </div>
    <div class="text-muted pull-right mtm">{{'announcement.modal.global.publish_time'|trans({'%createdTime%': announcement.createdTime | date('Y-m-d H:i') })}}</div>
  </div>
{% endblock %}