<li class="shortcut-item clearfix">
  <a href="{{admin.url}}">
    <i class="glyphicon glyphicon-bookmark text-info"></i>
    {{admin.title}}
  </a>
  <span class="glyphicon glyphicon-remove-circle text-muted" data-url="{{ path('admin_common_remove', {id:admin.id}) }}" title="{{'admin.navbar.header.often_used.dropdown_menu.delete_often_used_link_btn_title'|trans}}"></span>
</li>