
@font-face {font-family: "iconfont";
    src: url(../fonts/iconfont.eot); /* IE9*/
    src: url(../fonts/iconfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/iconfont.woff) format('woff'), /* chrome、firefox */
    url(../fonts/iconfont.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url(../fonts/iconfont.svg#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" ! important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes iconfont-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes iconfont-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
.iconfont-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.icon-weixin:before { content: "\e63d"; }
.icon-qq:before { content: "\e63e"; }
.icon-icon:before { content: "\e650"; }
.icon-touxiang:before { content: "\e603"; }
.icon-infenicon14:before { content: "\e7ad"; }
.icon-xuexishuben:before { content: "\e708"; }
.icon-fabiao:before { content: "\3436"; }
.icon-shezhi:before { content: "\e614"; }
.icon-fenxiang:before { content: "\e615"; }
.icon-shoucang:before { content: "\e63f"; }
.icon-xiazai:before { content: "\e648"; }
.icon-tixing:before { content: "\e607"; }
.icon-faxian:before { content: "\e608"; }
.icon-sousuo:before { content: "\e606"; }
.icon-StudentIcon:before { content: "\e605"; }
.icon-PhoneContactsIcon:before { content: "\e604"; }
.icon-arrowback:before { content: "\e6dc"; }
.icon-menu:before { content: "\e6e3"; }
.icon-ebook:before { content: "\e726"; }
.icon-ehelp:before { content: "\e729"; }
.icon-equestionanswer:before { content: "\e72a"; }
.icon-edescription:before { content: "\e727"; }
.icon-favorfill:before { content: "\e64b"; }
.icon-roundcheck:before { content: "\e657"; }
.icon-keyboardarrowdown:before { content: "\e721"; }
.icon-people:before { content: "\e714"; }
.icon-lock:before { content: "\e6ed"; }
.icon-person:before { content: "\e6c5"; }
.icon-arrowdropdown:before { content: "\e6c6"; }
.icon-mima:before { content: "\e6de"; }
.icon-yuyin:before { content: "\e60e"; }
.icon-tianjia:before { content: "\e60d"; }
.icon-biaoqing:before { content: "\e610"; }
.icon-fanhui:before { content: "\f006b"; }
.icon-ClassStudentIcon:before { content: "\e603"; }
.icon-jian:before { content: "\e620"; }
.icon-xiazaiwancheng:before { content: "\e61e"; }
.icon-shoucang1:before { content: "\e631"; }
.icon-iconfontren:before { content: "\e618"; }
.icon-iconfontkecheng:before { content: "\e617"; }
.icon-iconfontzhibo:before { content: "\e619"; }
.icon-expandless:before { content: "\e625"; }
.icon-expandmore:before { content: "\e626"; }
.icon-gengduo:before { content: "\e783"; }
.icon-jia:before { content: "\e61f"; }
.icon-shape:before { content: "\e627"; }
.icon-switchoff:before { content: "\e628"; }
.icon-visibility:before { content: "\e707"; }
.icon-modecomment:before { content: "\e723"; }
.icon-gonggao:before { content: "\e60a"; }
.icon-favor:before { content: "\e64c"; }
.icon-back:before { content: "\e679"; }
.icon-heart:before { content: "\e639"; }
.icon-heart-outline:before { content: "\e638"; }
.icon-iconfontxiaoyou:before { content: "\e629"; }
.icon-iconfontround:before { content: "\e62d"; }
.icon-zantingxiazai:before { content: "\e61b"; }
.icon-dengdaixiazai:before { content: "\e61c"; }
.icon-xiazaizhong:before { content: "\e61a"; }