<div class="well well-sm text-sm color-gray mtl clearfix" style="line-height:60px">
  <img class="mrm" src="{{ asset('assets/img/default/cloud_' ~ attachment.file.type ~ '.png') }}" height="60px" width="107px">
  {{ attachment.file.filename }}
  <span class="pull-right">
    <a class="attachment-preview" href="#login-modal" data-toggle="modal" data-url="{{ path('attachment_preview', {'id': attachment.id}) }}">预览</a>
    <a class="attachment-download" href="{{ path('attachment_download', {'id': attachment.id}) }}">下载</a>
  </span>
</div>