<div class="tab-pane js-course-tasks-pane">
    {% block activity_content %}
    {% endblock %}
</div>
<div class="tab-pane js-course-tasks-pane">
  {% block activity_finish %}
  {% endblock %}
</div>