<div class="js-editor-save-url"
     data-url="{{ path('course_manage_task_create', {courseId: course.id, type: currentType}) }}"></div>

{% if activity|default(false) %}
  {{ render(controller(activity_controller, {'id': activity.id})) }}
{% else %}
  {{ render(controller(activity_controller)) }}
{% endif %}


