{% extends 'TopxiaWebBundle:Article:list-layout.html.twig' %}

{% block title %}{{ category.name }}栏目 - {{ parent() }}{% endblock %}

{% set menu = categoryCode %}

{% block main %}

{% endblock %}

{% block sub %}
	<ul class="nav nav-pills nav-stacked">
		{% for cat in categoryTree %}
		  <li {% if category.id == cat.id %}class="active"{% endif %}>
		    <a href="{{ path('article_category', {categoryCode:cat.code}) }}">
		    {% if cat.depth > 1 %}
		      {% for i in 0..(cat.depth-1) %}&nbsp;&nbsp;{% endfor %}
		    {% endif %}
		    {{ cat.name }}</a>
		  </li>
		{% endfor %}
	</ul>

{% endblock %}
