{% extends 'TopxiaWebBundle:Article:layout.html.twig' %}


{% block content %}
  <!-- 资讯 -->
  <section class="es-well article-list-header">
      {% include 'TopxiaWebBundle:Article:nav.html.twig' %}

      {% if not featuredArticles and is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning">头条大图轮播功能需先在后台资讯管理页面给正文上传图片以及添加头条属性<a href="{{ path('admin_article') }}">前往设置</a></div>
      {% endif %}

    <div class="row">
      <!-- 轮播图 -->
      <div class="aricle-carousel carousel slide col-md-8" id="aricle-carousel" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          {% if featuredArticles %}
            {% for featuredArticle in featuredArticles %}
                <div class="item {% if loop.index < 2 %}active{% endif %}">
                  <img src="{{ featuredArticle.picture }} ">
                  <div class="carousel-caption">
                   {{ featuredArticle.title }}
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-md-4 article-header-right hidden-sm hidden-xs">
          {% if promotedArticles %}
            {% for promotedArticle in promotedArticles %}
                <a href="javascript:;" class="topic-post-small {% if loop.index < 2 %}one{% else %}two{% endif %}">
                  <div class="content">
                    <p>行业资讯</p>
                    <h4 class="text">Jeff Weiner领导下的LinkedIn将走向何方</h4>
                  </div>
                </a>
                <a href="javascript:;" class="topic-post-small two">
                  <div class="content">
                    <p>行业资讯</p>
                    <h4 class="text">Jeff Weiner领导下的LinkedIn将走向何方</h4>
                  </div>
                </a>
            {% endfor %}
          {% endif %}
      </div>
      
    </div>
  </section>

  <div class="article-list-body row">
    <!-- list主内容-->
    <div class="col-md-8 article-list-mian">
      <section class="es-well">
        <article class="item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <i class="iconfont icon-yuan"></i>
              <div class="date">
                <h3>24</h3>
                <p>12月</p>
              </div>
            </div>
            <div class="metas-body">
              <p>行业资讯</p>
              <h2 class="title"><a href="javascript:;">“一年回顾”功能侵犯用户隐私，Facebook道歉</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              昨天，特斯拉宣布将会升级该公司的敞篷车型 Roadster 3.0，大幅提升了这款电动车的续航里程。此次升级将在 2015 年初接受预约，特斯拉并未透露这些升级需要车主支付多少费用，不过该公司称这并不是 Roadster 最后一次升级。
            </div>
          </div>
        </article>
        <article class="item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <i class="iconfont icon-yuan"></i>
              <div class="date">
                <h3>24</h3>
                <p>12月</p>
              </div>
            </div>
            <div class="metas-body">
              <p>行业资讯</p>
              <h2 class="title"><a href="javascript:;">“一年回顾”功能侵犯用户隐私，Facebook道歉</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              昨天，特斯拉宣布将会升级该公司的敞篷车型 Roadster 3.0，大幅提升了这款电动车的续航里程。此次升级将在 2015 年初接受预约，特斯拉并未透露这些升级需要车主支付多少费用，不过该公司称这并不是 Roadster 最后一次升级。
            </div>
          </div>
        </article>
        <article class="item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <i class="iconfont icon-yuan"></i>
              <div class="date">
                <h3>24</h3>
                <p>12月</p>
              </div>
            </div>
            <div class="metas-body">
              <p>行业资讯</p>
              <h2 class="title"><a href="javascript:;">“一年回顾”功能侵犯用户隐私，Facebook道歉</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              昨天，特斯拉宣布将会升级该公司的敞篷车型 Roadster 3.0，大幅提升了这款电动车的续航里程。此次升级将在 2015 年初接受预约，特斯拉并未透露这些升级需要车主支付多少费用，不过该公司称这并不是 Roadster 最后一次升级。
            </div>
          </div>
        </article>
        <article class="item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <i class="iconfont icon-yuan"></i>
              <div class="date">
                <h3>24</h3>
                <p>12月</p>
              </div>
            </div>
            <div class="metas-body">
              <p>行业资讯</p>
              <h2 class="title"><a href="javascript:;">“一年回顾”功能侵犯用户隐私，Facebook道歉</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              昨天，特斯拉宣布将会升级该公司的敞篷车型 Roadster 3.0，大幅提升了这款电动车的续航里程。此次升级将在 2015 年初接受预约，特斯拉并未透露这些升级需要车主支付多少费用，不过该公司称这并不是 Roadster 最后一次升级。
            </div>
          </div>
        </article>
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#">&lt;上一页</a></li>
            <li class="next"><a href="#">下一页&gt;</a></li>
          </ul>
        </nav>
      </section>
    </div>

    <aside class="col-md-4 article-sidebar">
     <!-- 热门资讯 -->
      <div class="panel es-panel  hot-article">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="iconfont icon-hot"></i>热门资讯</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <a href="javascript:;">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <a href="javascript:;">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <a href="javascript:;">
                <img class="media-object" src="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">4</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">5</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">6</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
        </div>
      </div>
      <!-- 热门标签 -->
      <div class="panel es-panel hot-tag">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="iconfont icon-tag"></i>热门标签</h3>
        </div>
        <div class="panel-body">
          <a class="btn-tag" href="javascript:;">在线教育</a>
          <a class="btn-tag" href="javascript:;">产品动态</a>
          <a class="btn-tag" href="javascript:;">EduSoho</a>
          <a class="btn-tag" href="javascript:;">IOS</a>
          <a class="btn-tag" href="javascript:;">Java</a>
          <a class="btn-tag" href="javascript:;">Android</a>
          <a class="btn-tag" href="javascript:;">前端开发</a>
          <a class="btn-tag" href="javascript:;">在线教育</a>
          <a class="btn-tag" href="javascript:;">Android</a>
          <a class="btn-tag" href="javascript:;">EduSoho</a>
          <a class="btn-tag" href="javascript:;">IOS</a>
          <a class="btn-tag" href="javascript:;">Java</a>
        </div>
      </div>
      <!-- 热门评论 -->
      <div class="panel es-panel hot-comments">
        <div class="panel-heading"><i class="iconfont icon-message"></i>热门评论</div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 推荐资讯 -->
      <div class="panel es-panel recommend-article">
        <div class="panel-heading"><i class="iconfont icon-language"></i>推荐资讯</div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">1</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">2</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">3</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">4</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">5</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <i class="iconfont icon-yuan"></i>
              <span class="num">6</span>
            </div>
            <div class="media-body">
              <a href="javascript:;">深度垂直+一键登入，教育应用分发平台Clever获3000万美元B轮融资</a>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>

{% endblock %}
