{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ setting('article.name', '资讯频道'|trans) }} - {{ parent() }}{% endblock %}

{% set bodyClass = 'artcile-list-page' %}
{% set script_controller = 'article/list.js' %}

{% block content %}

  <div class="es-tabs article-list-header">
    <div class="tab-header">
      {% include 'TopxiaWebBundle:Article/Part:list-header-nav.html.twig' %}
    </div>
  </div>

  <!-- 资讯头部 -->
  {% include 'TopxiaWebBundle:Article/Part:list-header.html.twig' %}

  <div class="article-list-body row">

    <!-- list主内容-->
    <div class="col-md-8 article-list-main">
      {% include 'TopxiaWebBundle:Article/Part:list-main.html.twig' with {articles:latestArticles} %}
    </div>

    <aside class="col-md-4 article-sidebar">
      {% include 'TopxiaWebBundle:Article/Widget:sidebar.html.twig' %}
    </aside>
  </div>


{% endblock %}
