{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block content %}

	<div class="es-row-wrap container-gap">
		<div class="row row-9-3 article-row" style="margin-top:20px;">
		    <div class="col-md-9">
				{% block headerbar %}
			      	<ul class="nav nav-pills" style="margin-bottom:20px;">
				        <li><a href="{{ path('article_show') }}">{{ articleSetting.name }}首页</a></li>
				        {% for category in categoryTree %}
				          {% if category.parentId == 0 %}
				            <li class="{% if menu == category.code %}active{% endif %}"><a href="{{ path('article_category', {categoryCode:category.code}) }}">{{ category.name }}</a></li>
				          {% endif %}
				        {% endfor %}
			      	</ul>
				{% endblock %}
				{% block main %}{% endblock %}
		    </div>
		    <div class="col-md-3">
		    	{% block sub %}{% endblock %}
		    </div>
		</div>
	</div>

{% endblock %}