<table class="table table-striped table-hover mtl" id="materials-table" data-url="{{ path('admin_cloud_file_render_table')}}">
  <thead>
    <tr>
      <th width="30%">文件</th>
      <th class="text-center">类型</th>
      <th class="text-center">大小</th>
      <th class="text-center">时间</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<input class="js-page" type="hidden" name="page" value="1">

<div data-role="paginator">

</div>
