<div class="subject-item__operation {% if type == 'subMaterial' %}cd-ml32{% endif %}">
  <span><i class="es-icon es-icon-exam"></i>编辑</span>
  <span><i class="es-icon es-icon-shanchu"></i>删除</span>
  {% if type == 'material' %}
    <span><i class="es-icon es-icon-tianjia"></i>添加子问题</span>
  {% endif %}
  <span><i class="es-icon es-icon-tianjia"></i>在此题后添加新题</span>
</div>
<div class="subject-item__footer">
  <span>难度：</span><span class="cd-mr24 color-success js-difficulty">{{ difficulty }}</span>
  <span>分数：</span><span class="color-success">{{ score }}分</span>
</div>