<div class="cd-mt24">
  <span class="cd-dark-major cd-mr16 js-attachment-name">{{attachment.file.filename}}</span>
  <a class="color-primary" href="javascript:;" data-url="{{ path('attachment_delete',{id:attachment.file.id, type:'file'}) }}" data-role="delte-item" data-loading-text="{{'form.btn.delete.submiting'|trans}}"><i class="es-icon es-icon-shanchu text-md mrs"></i>{{ 'course.testpaper_manage.import.re_edit.delete_attachment'|trans }}</a>
</div>