{% extends 'layout.html.twig' %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'libs/jquery-validation.js', 'app/js/subject/index.js']) %}

{% block content %}
  <div class="hidden js-cached-data">{{ '[{
    "title": "唐代诗人李白号____。",
    "type": "answer",
    "flag": "1",
    "answer": "青莲居士|谪仙人",
    "difficulty": "一般",
    "order": "4",
    "score": "5"
  }]' }}</div>
  <div class="row">
    <div class="col-sm-3">
      <div class="subject-data subject-rect js-subject-data">
        <div class="subject-rect__title">题目统计
          {% block subtitle %}{% endblock %}
        </div>
        {% include 'testpaper/subject/subject-num.html.twig' %}
      </div>
      {% include 'testpaper/subject/subject-list.html.twig' %}
    </div>
    <div class="col-sm-9 js-item-list">
      {% block testpaper %}{% endblock %}
      {% include 'testpaper/subject/choose-subject.html.twig' %}
      {% include 'testpaper/subject/answer-subject.html.twig' %}
      {% include 'testpaper/subject/material-subject.html.twig' %}
      {% block edit %}
        {% include 'testpaper/subject/type/choice.html.twig' %}
        {% include 'testpaper/subject/type/single_choice.html.twig' %}
        {% include 'testpaper/subject/type/uncertain_choice.html.twig' %}
        {% include 'testpaper/subject/type/essay.html.twig' %}
        {% include 'testpaper/subject/type/determine.html.twig' %}
        {% include 'testpaper/subject/type/fill.html.twig' %}
      {% endblock %}
      <div class="text-center cd-mt24">
        <button class="cd-btn cd-btn-primary subject-button" type="button">完成导入</button>
      </div>
    </div>
  </div>


  {% block question_difficulty_modal %}
    {% include 'testpaper/subject/question-difficulty-modal.html.twig' %}
  {% endblock %}

  {% block batch_set_score_modal %}
    {% include 'testpaper/subject/batch-set-score-modal.html.twig' %}
  {% endblock %}
{% endblock %}