{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-3">
      {% include 'testpaper/subject/subject-num.html.twig' with { totolNum: 200, totolScore: 100 } %}
      {% include 'testpaper/subject/subject-list.html.twig' %}
    </div>
    <div class="col-sm-9">
      {% block testpaper %}{% endblock %}
      {% include 'testpaper/subject/choose-subject.html.twig' %}
      {% include 'testpaper/subject/answer-subject.html.twig' %}
      {% include 'testpaper/subject/material-subject.html.twig' %}
      <div class="text-center cd-mt24">
        <button class="cd-btn cd-btn-primary subject-button" type="button">完成导入</button>
      </div>
    </div>
  </div>
{% endblock %}