{% set data = [
  {
    "title": '唐代诗人李白号____。',
    "type": 'answer',
    "flag": 1,
    "answer": '青莲居士|谪仙人',
    'difficulty': '一般',
    'score': '5'
  },
  {
    "title": '请简要谈谈你对在线教育的看法。',
    "type": 'answer',
    "flag": 0,
    "answer": '从 2015 年 4 月起，Ant Design 在蚂蚁金服中后台产品线迅速推广，对接多条业务线，覆盖系统 800 个以上。定位于中台业务的 Ant Design 兼顾专业和非专业的设计人员，具有学习成本低、上手速度快、实现效果好等特点，并且提供从界面设计到前端开发的全链路生态，可以大大提升设计和开发的效率',
    'difficulty': '一般',
    'score': '5'
  }
] %}





  <div class="subject-item">
    <div class="subject-item__title">
      <span class="subject-item__number">5</span>
      请简要谈谈你对在线教育的看法。
    </div>
    <div class="subject-item__operation">
      <span><i class="es-icon es-icon-exam"></i>编辑</span>
      <span><i class="es-icon es-icon-delete"></i>删除</span>
      <span><i class="es-icon es-icon-add"></i>添加子问题</span>
      <span><i class="es-icon es-icon-add"></i>在此题后添加新题</span>
    </div>
    <div class="subject-item__footer">
      <span>难度：</span><span class="cd-mr24 color-success">一般</span>
      <span>分数：</span><span class="color-success">5分</span>
    </div>
  </div>

  <div class="subject-item subject-sub-item">
    <div class="subject-item__body">
      <span>（1）</span><span>甲公司的长期股权投资权益法核算下的账面价值与计算基础是否有差异。</span>
      <div class="subject-sub-item__answer"><span>答案：</span><span>从 2015 年 4 月起，Ant Design 在蚂蚁金服中后台产品线迅速推广，对接多条业务线，覆盖系统 800 个以上。定位于中台业务的 Ant Design 兼 顾专业和非专业的设计人员，具有学习成本低、上手速度快、实现效果好等特点，并且提供从界面设计到前端开发的全链路生态，可以大大提升设 计和开发的效率</span></div>
    </div>
    <div class="subject-item__footer">
      <span>难度：</span><span class="cd-mr24 color-success">一般</span>
      <span>分数：</span><span class="color-success">5分</span>
    </div>
  </div>

  <div class="subject-item subject-sub-item">
    <div class="subject-item__body">
      <span>（2）</span><span>分别计算甲公司2X15年12月3日所得税负债或资产的账面余额。</span>
      <div class="subject-sub-item__answer"><span>答案：</span><span>从 2015 年 4 月起，Ant Design 在蚂蚁金服中后台产品线迅速推广，对接多条业务线，覆盖系统 800 个以上。定位于中台业务的 Ant Design 兼 顾专业和非专业的设计人员，具有学习成本低、上手速度快、实现效果好等特点，并且提供从界面设计到前端开发的全链路生态，可以大大提升设 计和开发的效率</span></div>
    </div>
    <div class="subject-item__footer">
      <span>难度：</span><span class="cd-mr24 color-success">困难</span>
      <span>分数：</span><span class="color-success">10分</span>
    </div>
  </div>