{% for type,num in questionAnalysis %}
  <div class="subject-data__item clearfix" data-type="{{ type }}">
    <span>{{ dict_text('questionType', type)|slice(0,3) }}</span>
    <span class="pull-right subject-data__num">{{ 'course.testpaper_manage.import.re_edit.total_count'|trans({'%count%': num}) }}</span>
  </div>
{% endfor %}