{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的话题 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-discussions' %}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">我的话题</div>

  <div class="panel-body">

    {% if threads %}
	    {% include 'TopxiaWebBundle:MyThread:thread-list.html.twig'  with {type: 'discussion'} %}
	  {% else %}
	    <div class="empty">你还没有发表过话题</div>
	  {% endif %}
  </div>
</div>
{% endblock %}