
<div class="myThread-status"> 
    <label>帖子状态：</label>

        {% if myThread.isStick == 1 %}
            <span class="glyphicon glyphicon-circle-arrow-up"></span> 
            置顶  
        {% else %}
            <span class="glyphicon glyphicon-minus-sign"></span> 
            未置顶
        {% endif %}

        {% if myThread.isElite == 1 %}
            &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
            精华贴
        {% else %}
            &nbsp;<span class="glyphicon glyphicon-hand-right"></span>
            普通贴
        {% endif %}

        {% if myThread.isClosed == 1 %}
            <span> 已关闭 </span>
        {% else %}
            <span > 开放中 </span>
        {% endif %}
        &nbsp;
        <span> {{myThread.postNum}}条回复 </span>
        <span> {{myThread.hitNum}}次浏览 </span>
</div>