{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的问答 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-questions' %}

{% block main %}


<div class="panel panel-default panel-col">
	

  <div class="panel-heading">我的问答
  </div>

  <div class="panel-body">
  	
    {% if threads %}
	    {% include 'TopxiaWebBundle:MyThread:thread-list.html.twig'  with {type: 'question'} %}
    {% else %}
      <div class="empty">暂无提问的记录</div>
    {% endif %}

  </div>

</div>


{% endblock %}