{# {% extends 'TopxiaAdminBundle:EduCloud:edu-cloud-layout.html.twig' %} #}
{% extends 'TopxiaAdminBundle:CloudSetting:layout.html.twig' %}

{% block title %}教育云 - {{ parent() }}{% endblock %}

{% block main %}
 
<div class="text-center">
  <h1 class="text-muted">网络问题，无法连接{{ 'EduSoho'|copyright_less }}开放云平台</h1>
</div>

{% endblock %}