{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_my_cloud_overview' %}
{% set submenu = 'service-information' %}

{% block main %}
<div class="text-center">
  <h1 class="text-muted">{{'网络问题，无法连接%Edusoho%开放云平台'|trans({'%Edusoho%': 'EduSoho'|copyright_less })}}</h1>
</div>

{% endblock %}