{% extends 'TopxiaAdminBundle:Cloud:layout.html.twig' %}

{% block title %}云短信账单 - {{ parent() }}{% endblock %}

{% set submenu = 'sms' %} 
{% set script_controller = '' %}

{% block maincontent %}
	<div class="well well-sm">
	  账户余额：<strong class="text-success">{{ money }}元</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="http://open.edusoho.com/token_login?token={{token}}&goto=order_recharge" target="_blank" class="btn btn-primary">充值</a>
	  <a href="http://open.edusoho.com/article/1#recharge" style="float:right;" target="_blank" class="btn btn-link">充值帮助</a>
	</div>
	888
{% endblock %}