{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_article_category' %}

{% block main %}

<ul class="list-table" id="category-table" style="margin-bottom: 0">
    <li class="th">
        <div class="row">
            <div class="td col-md-7">栏目名称</div>
            <div class="td col-md-2">编码</div>
            <div class="td col-md-3">操作</div>
        </div>
    </li>
    {% include 'TopxiaAdminBundle:ArticleCategory:tbody.html.twig' %}
</ul>
{% endblock %}