{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_article_category' %}

{% block main %}

<ul class="list-table" id="category-table" style="margin-bottom: 0">
    <li class="th">
        <div class="row">
            <div class="td col-md-3">{{'栏目名称'|trans}}</div>
            <div class="td col-md-4">{{'栏目地址'|trans}}</div>
            <div class="td col-md-3">{{'编码'|trans}}</div>
            <div class="td col-md-2">{{'操作'|trans}}</div>
        </div>
    </li>
    {% include 'TopxiaAdminBundle:ArticleCategory:tbody.html.twig' %}
</ul>
{% endblock %}