{% extends 'TopxiaAdminBundle:Article:layout.html.twig' %}

{% set tab_menus = menus("admin",'admin_operation_article', 1) %}
{% set menu = 'admin_operation_article' %}
{% set submenu = 'admin_operation_article_category' %}
{% block title %}{{ getTitle('admin_operation_article_category')}}{% endblock %}

{% block main %}
<div class="mbl">
    {% include 'TopxiaAdminBundle::tab.html.twig' with {menus : tab_menus , type : submenu} %}
</div>

<div class="clearfix well well-sm">
  {% set btn_menus = menus("admin","admin_operation_article_category", 2) %}
  {% include 'TopxiaAdminBundle::button.html.twig' with {menus : btn_menus} %}
</div>

<table class="table table-hover" id="category-table">
  <thead>
    <tr>
      <th width="45%">栏目名称</th>
      <th width="20%">编码</th>
      <th width="10%">显示序号</th>
      <th width="20%">操作</th>
    </tr>
  </thead>
  {% include 'TopxiaAdminBundle:ArticleCategory:tbody.html.twig' %}
</table>
{% endblock %}