{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_operation_article_category' %}

{% block main %}

<table class="table table-hover" id="category-table">
  <thead>
    <tr>
      <th width="45%">栏目名称</th>
      <th width="20%">编码</th>
      <th width="10%">显示序号</th>
      <th width="20%">操作</th>
    </tr>
  </thead>
  {% include 'TopxiaAdminBundle:ArticleCategory:tbody.html.twig' %}
</table>
{% endblock %}