{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}邮箱验证失败 - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>邮箱验证失败</h2></div>

      <div class="alert alert-danger">验证地址已过期！</div>

    </div><!-- /panel -->

  </div>

</div>
{% endblock %}