{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}邮箱验证成功 - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/email-verify' %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>邮箱验证成功</h2></div>

      <p>正在跳转到首页...<a id="jump-btn" href="{{ path('homepage') }}" class="mll"> &raquo; 点此直接进入</a></p>

    </div><!-- /panel -->

  </div>

</div>
{% endblock %}