{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'邮箱验证失败'|trans}} - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-section login-section">
  <div class="section-header">
    <h3>{{'邮箱验证失败'|trans}}</h3>
  </div>
  <div class="alert alert-danger">{{'验证地址已过期！'|trans}}</div>
</div>
{% endblock %}