{% extends 'admin-v2/layout.html.twig' %}

{% set menu = 'admin_v2_multi_class_product_manage' %}

{% do script(['app/vue/views/teach/multi_class_product/index.js']) %}

{% block main %}
  <div id="app"></div>
{% endblock %}