<div class="code-sidebar">
  <ul class="code-sidebar__list">
    <li class="code-sidebar__list-heading">
      账户信息
    </li>
    <li class="code-sidebar__item">
      <a href="">我的订单</a>
    </li>
    <li class="code-sidebar__item active">
      <a href="{{ path('my_bill') }}">虚拟币账户</a>
    </li>
    <li class="code-sidebar__item">
      <a href="">会员记录</a>
    </li>
    <li class="code-sidebar__item">
      <a href="">邀请码</a>
    </li>
    <li class="code-sidebar__item">
      <a href="">优惠码</a>
    </li>
    <li class="code-sidebar__item">
      <a href="">学习卡</a>
    </li>
  </ul>
</div>