html,body{
  margin: 0px;
  font-size: 14px;
  /* height: 100%; */
}

.iconfont  {
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.mrm {
  margin-right:10px;
}

.phs {
  padding-left: 5px;
  padding-right: 5px;
}

.text-xs {
  font-size: 12px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-xs {
  padding: 2px 5px;
}

.btn-default {
  color: #616161;
  background-color: #f5f5f5;
  border-color: #dcdcdc;
}

.gray-link {
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
}

.gray-link:hover {
  color: #02b980;
}

.gray-link.danger:hover{
  color: #e62a2a;
}

.operation-btn {
  vertical-align: top;
}

.text-primary {
  color: #02b980;
}

.text-warning {
  color: #ff8a0c;
}

.text-danger {
  color: #e62a2a;
}

.bg-primary {
  background-color: #02b980 !important;
}

.bg-warning {
  background-color: #ff8a0c!important;
}

.bg-danger {
  background-color: #e62a2a!important;
}

.progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.progress .progress-bar{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  font-size: 12px;
  background-color: #02b980;
  color: #fff;
}

.tootip-parent {
  position: relative;
}

.tootip-parent:hover >.tootip  {
  display: block;
}

.tootip {
  position: absolute;
  left: 50%;
  top: -32px;
  min-width: 70px;
  margin-left: -35px;
  text-align: center;
  display: none;
}

.tootip span {
  position: relative;
  background: #181919;
  display: inline-block;
  font-size: 12px;
  padding: 8px;
  color: #fff;
}

.tootip span:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -5px;
  bottom: -9px;
  border: 5px solid;
  border-color: #181919 transparent transparent transparent;
}

.webuploader-container {
  position: relative;
}
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  padding: 5px 10px;
  color: #333;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.webuploader-pick-hover {
  background: #e6e6e6;
  border-color: #adadad;
}

.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events:none;
}

.single-uploader-body{
    padding-bottom: 52px;
    padding-top: 52px;
}

.single-uploder-before {
  text-align: center;
  color: #313131;
}

.single-uploder-before {
  text-align: center;
}

.single-uploder-before .webuploader-pick {
  display: inline-block;
  vertical-align: middle;
}
  
.single-uploder-before .webuploader-pick {
  background: #02b980;
  padding: 8px 10px;
  color: #fff;
  border: 1px solid #02b980;
}

.single-uploder .title {
  color: #313131;
}

.single-uploder .content{
  position: relative;
  padding-right: 130px;
  margin:25px 0;
}

.single-uploder .content .option{
  position: absolute;
  top: -4px;
  right: 10px;
  width: 120px;
  text-align: right;
}

.single-uploder .content .option .value {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 14px;
  color: #616161;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

.balloon-uploader {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.balloon-uploader-heading {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  display: none;
}

.balloon-uploader-footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  text-align: right;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.balloon-filelist {
  width: 100%;
}

.balloon-filelist-heading {
  padding: 8px 10px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.balloon-uploader-body {
  position: relative;
  padding-bottom: 56px;
}

.balloon-filelist .file-name,
.balloon-filelist .file-size,
.balloon-filelist .file-status,
.balloon-filelist .file-manage {
  position: relative;
  z-index: 1;
}

.balloon-filelist .file-name {
  display: inline-block;
  width: 40%;
}

.balloon-filelist .file-size {
  display: inline-block;
  width: 20%;
}

.balloon-filelist .file-status {
  display: inline-block;
  width: 18%;
}
.balloon-filelist .file-manage {
  display: inline-block;
  z-index: 9999;
  position: absolute;
}


.balloon-filelist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 200px;
  overflow-y: auto;

}

.balloon-filelist ul li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 8px 10px;
}

.balloon-dnd {
  visibility: hidden;
}

.balloon-uploader-none .balloon-uploader-footer,
.balloon-uploader-none .balloon-uploader-body {
  visibility: hidden;
}

.balloon-uploader-none .balloon-dnd {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
}

.balloon-nofile {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 200px;
  text-align: center;
  color: #999;
}

.balloon-uploader .file-pick-btn {
  display: inline-block;
}

.balloon-uploader .pause-btn{
  display: inline-block;
  margin-top: -25px;
}

.balloon-uploader .start-upload-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #5bc0de;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #46b8da;
  overflow: hidden;
}

.balloon-uploader .start-upload-btn:hover {
  background: #31b0d5;
  border-color: #269abc;
}

.balloon-filelist .file-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.balloon-filelist .file-progress-bar {
  background: rgb(219,242,215);
  background: rgba(59, 181, 33, 0.18);
  float: left;
  height: 100%;
}

