<ul class="nav nav-tabs mbl">                 
  <li class="active">
    <a title="概览" class="" href="">
      概览
    </a>
  </li>             
  <li>
    <a title="设置" class="" href="">
      设置
    </a>
  </li>                
</ul>