<ul class="nav nav-tabs mbl">
  <li class="active">
    <a title="{{'admin.edu_cloud.side_bar.introduction'|trans}}" class="" href="">
      {{'admin.edu_cloud.side_bar.introduction'|trans}}
    </a>
  </li>
  <li>
    <a title="{{'admin.edu_cloud.side_bar.setup'|trans}}" class="" href="">
      {{'admin.edu_cloud.side_bar.setup'|trans}}
    </a>
  </li>
</ul>
