{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/task/video/index.js']) %}


{% block content %}
  <div class="dashboard-body">
    <div class="lesson-content" id="video-content" data-role="lesson-content">
      {#  如果用户上次观看过视频，需要请求上次的视频时长 作为参数 starttime= xxx #}
      {{ render(controller('TopxiaWebBundle:Player:show', {id: activity.ext.mediaId})) }}

    </div>
  </div>
{% endblock %}
