{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/task/video/index.js']) %}


{% block body %}
  <div class="task-content-view" id="video-content" data-role="lesson-content"
       data-media-source="{{ activity.ext.mediaSource }}">
    <div id="swf-player" data-url="{{ activity.ext.mediaUri }}"></div>
  </div>
{% endblock %}
