/* =========================== color =========================== */
/* =========================== media =========================== */
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zan-transition {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.zan-transform {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* =========================== temp =========================== */
.stars-0,
.stars-1,
.stars-2,
.stars-3,
.stars-4,
.stars-5 {
  background: url("../img-temp/stars.png") no-repeat;
}
/* =========================== common =========================== */
a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover,
a:focus {
  color: #428bca;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* =========================== rewrite =========================== */
.es-course-list > div {
  height: auto;
}
/* =========================== main =========================== */
.es-class-wrap {
  padding: 25px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
.es-class-wrap .page-header {
  margin: 0 0 20px 0;
}
.es-class-wrap .page-header h1 {
  margin-top: 0;
  font-size: 24px;
}
.class-wide-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #999;
}
.class-wide-list .class-item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.class-wide-list .class-item:hover .mask {
  top: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.class-wide-list .class-item:last-child {
  border: none;
}
.class-wide-list .class-picture-link {
  position: relative;
  float: left;
  margin-right: 30px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .class-wide-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.class-wide-list .class-picture-link > img {
  width: 345px;
}
@media (max-width: 767px) {
  .class-wide-list .class-picture-link > img {
    width: 100%;
    display: block;
  }
}
.class-wide-list .class-picture-link .mask {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #428bca;
  background-color: rgba(66, 139, 202, 0.8);
  color: #fff;
  font-size: 18px;
  padding: 15px 40px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.class-wide-list .class-picture-link .course-num {
  margin-bottom: 15px;
}
.class-wide-list .class-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.class-wide-list .class-title a {
  color: #555;
  font-weight: bold;
}
.class-wide-list .class-title a:hover {
  color: #428bca;
}
.class-wide-list .class-metas p {
  margin-bottom: 20px;
}
.class-wide-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
.class-wide-list .class-metas .period-num {
  color: #555;
  font-size: 16px;
}
.class-wide-list .class-metas .class-price {
  float: right;
  font-size: 18px;
  margin-right: 50px;
}
.class-wide-list .class-metas .class-teacher {
  margin-right: 35px;
}
.class-wide-list .class-metas .class-teacher a {
  margin-right: 5px;
  color: #999;
}
.class-wide-list .class-metas .class-teacher a:hover {
  color: #428bca;
}
.class-wide-list .class-about {
  height: 40px;
  margin-bottom: 25px;
  overflow: hidden;
}
.class-wide-list .class-in .btn {
  padding: 9px 83px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .class-wide-list .class-in .btn {
    padding: 5px 30px;
  }
}
@media (max-width: 767px) {
  .class-wide-list .class-body {
    margin: 15px auto;
  }
}
.course-hover-list {
  padding: 0;
  margin: -10px -18px;
  list-style-type: none;
}
.course-hover-list li {
  float: left;
  width: 50%;
  padding: 10px 18px;
}
.course-hover-list li img {
  border: 2px solid #fff;
}
.class-header {
  color: #999;
}
.class-header .class-picture img {
  width: 100%;
}
.class-header .title {
  height: 72px;
  line-height: 36px;
  font-size: 22px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .class-header .title {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-header .title {
    margin-top: 10px;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .class-header .title {
    font-size: 18px;
    height: 60px;
    line-height: 30px;
  }
}
.class-header .class-rating {
  margin-bottom: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-header .class-rating {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .class-header .class-rating {
    margin-bottom: 15px;
  }
}
.class-header .class-metas {
  font-size: 18px;
  margin-bottom: 45px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .class-header .class-metas {
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-header .class-metas {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .class-header .class-metas {
    margin-bottom: 15px;
  }
}
.class-header .class-metas .fa {
  margin-right: 10px;
}
.class-header .class-student {
  margin-right: 50px;
}
.class-header .class-price span {
  margin-right: 10px;
}
.class-header .class-about {
  border-top: 1px solid #eee;
  padding: 25px 0;
  font-size: 16px;
  line-height: 30px;
  height: 110px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .class-header .class-about {
    padding: 15px 0;
    height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-header .class-about {
    padding: 10px 0;
    line-height: 20px;
    height: 60px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .class-header .class-about {
    padding: 10px 0;
    line-height: 20px;
    height: 60px;
    font-size: 14px;
  }
}
.class-header-bottom {
  color: #999;
  text-align: center;
}
.class-header-bottom .class-course ul {
  float: left;
  margin: 0;
  padding: 0;
}
.class-header-bottom .class-course li {
  float: left;
  margin-right: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .class-header-bottom .class-course li {
    margin-right: 5px;
  }
}
.class-header-bottom .class-course .course-num {
  float: left;
  padding: 6px 45px;
  border-right: 1px solid #eee;
  font-size: 16px;
  line-height: 25px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .class-header-bottom .class-course .course-num {
    padding: 6px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .class-header-bottom .class-course .course-num {
    padding: 6px 60px;
  }
}
.class-header-bottom .class-buy {
  padding: 5px 30px;
}
.class-header-bottom .class-buy a {
  font-size: 16px;
  line-height: 25px;
  color: #999;
}
.class-header-bottom .class-buy a:hover {
  color: #428bca;
}
.class-header-bottom .class-view {
  padding: 10px 15px;
}
.class-dashbord-main .class-about {
  text-indent: 2em;
  line-height: 30px;
}
.class-dashbord-main .class-about p {
  margin-bottom: 20px;
}
.class-dashbord-main .class-course {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.class-dashbord-main .class-course .course-item {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.class-dashbord-main .class-course .course-item:last-child {
  border: none;
}
.class-dashbord-main .class-course .course-priture {
  float: left;
  margin-right: 20px;
}
.class-dashbord-main .class-course .course-priture img {
  width: 170px;
}
@media (max-width: 1199px) {
  .class-dashbord-main .class-course .course-priture img {
    width: 150px;
  }
}
.class-dashbord-main .class-course .title {
  font-size: 16px;
  margin-top: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.class-dashbord-main .class-course .metas + .metas {
  margin-top: 30px;
}
@media (max-width: 1199px) {
  .class-dashbord-main .class-course .metas + .metas {
    margin-top: 10px;
  }
}
.class-dashbord-main .class-course .metas {
  color: #999;
}
.class-dashbord-main .class-course .metas .price {
  float: right;
  font-size: 16px;
  margin-right: 30px;
}
@media (max-width: 1199px) {
  .class-dashbord-main .class-course .metas .price {
    font-size: 14px;
    margin-right: 0;
  }
}
.class-dashbord-main .class-course .metas .fa {
  margin-right: 10px;
}
.class-dashbord-main .class-course .metas .class-teacher {
  margin-right: 30px;
}
.class-dashbord-main .class-course .metas a {
  color: #999;
}
.class-dashbord-main .class-course .metas a:hover {
  color: #428bca;
}
.class-dashbord-main .class-note {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.class-dashbord-sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.class-dashbord-sidebar .class-teacher li {
  padding: 10px 0;
}
.class-dashbord-sidebar .teacher-picture {
  float: left;
  margin-right: 20px;
}
.class-dashbord-sidebar .teacher-picture img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.class-dashbord-sidebar .teacher-name {
  font-size: 18px;
  margin: 5px 0;
}
.class-dashbord-sidebar .teacher-position {
  line-height: 24px;
  height: 48px;
  overflow: hidden;
}
.class-dashbord-sidebar .user-grids li {
  width: 25%;
  margin: 0;
  padding: 8px 10px;
  float: left;
}
