/* =========================== media =========================== */
a:hover,
a:focus {
  color: #096;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #096 !important;
}
.text-primary,
.color-primary {
  color: #096 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #096;
}
.btn-primary {
  border-color: #006644;
  background-color: #096;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #00704b;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #096;
  color: #096;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #096;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #096;
}
.es-piece .piece-header {
  border-color: #096;
}
.breadcrumb a:hover {
  color: #096;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #096;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #096;
}
.class-serve > ul > li.active {
  background-color: #096;
}
.article-metas .metas-body .title a:hover {
  color: #096;
}
.media.media-number .media-body > a:hover {
  color: #096;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #096;
}
.class-signin .btn-signin {
  background-color: #096;
}
.sidenav .list-group .list-group-item.active {
  border-color: #096;
}
.sidenav .list-group .list-group-item.active > a {
  color: #096;
}
.dropdown-menu > li > a:hover {
  background-color: #096;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #096;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #096;
  border-color: #096;
}
.badge-primary {
  background-color: #096;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #096;
}
.es-filter .filter label:hover {
  color: #096;
}
.class-header.after .class-data > li > a:hover {
  color: #096;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #096;
}
.progress-bar,
.rank_num {
  background-color: #096;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #096;
}
.bar-task .bar-time-line > li .es-icon {
  color: #096;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #096;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #096;
}
.page-header .badge {
  background-color: #096 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #096;
}
.navbar-right .es-header {
  background: #363e45;
}
@media (max-width: 767px) {
  .es-box-heading h2 {
    font-size: 16px;
  }
}
/*首页分类导航*/
.homepage-category-nav {
  list-style: none;
  padding: 10px 5px;
  margin-bottom: 30px;
  background: #f9f9f9;
  border-bottom: 1px dotted #ccc;
  font-size: 16px;
  margin-left: 0;
}
.homepage-category-nav li {
  display: inline-block;
}
.homepage-category-nav li a {
  text-decoration: none;
  line-height: 32px;
  padding: 0 15px;
  display: inline-block;
  border-bottom: 2px solid #f9f9f9;
}
.homepage-category-nav li a:hover {
  border-bottom-color: #d9d9d9;
  text-decoration: none;
}
/* =========================== index =========================== */
.home-class-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .home-class-list {
    margin: 0 -5px;
  }
}
.home-class-list .class-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.home-class-list .class-item:hover {
  background: #f9f9f9;
}
@media (max-width: 767px) {
  .home-class-list .class-item:hover {
    background: transparent;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-item {
    width: 50%;
    float: left;
    padding: 0 5px;
    border: none;
    margin-bottom: 10px;
  }
}
.home-class-list .class-body {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .home-class-list .class-body:hover {
    background: #f9f9f9;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-body {
    padding: 10px ;
    border: 1px solid #ddd;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-body .course-num {
    display: none;
  }
}
.home-class-list .class-picture-link {
  float: left;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.home-class-list .class-picture-link > img {
  width: 213px;
}
@media (max-width: 1199px) {
  .home-class-list .class-picture-link > img {
    width: 162px;
  }
}
@media (max-width: 991px) {
  .home-class-list .class-picture-link > img {
    width: 213px;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link > img {
    width: 100%;
    display: block;
  }
}
.home-class-list .class-title {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-class-list .class-title {
    margin-bottom: 5px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
.home-class-list .class-title a {
  font-weight: bold;
  color: #555;
}
@media (max-width: 767px) {
  .home-class-list .class-title a {
    font-size: 14px;
    font-weight: normal;
  }
}
.home-class-list .class-metas {
  margin-bottom: 20px;
  color: #999;
}
@media (max-width: 767px) {
  .home-class-list .class-metas {
    margin-bottom: 0;
    font-size: 12px;
  }
}
.home-class-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
@media (max-width: 479px) {
  .home-class-list .class-metas .fa {
    font-size: 12px;
  }
}
.home-class-list .class-metas a {
  color: #555;
}
.home-class-list .class-metas .class-teacher {
  margin-right: 20px;
}
.home-class-list .class-metas .class-teacher span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .home-class-list .class-metas .class-teacher {
    display: none;
  }
}
.home-class-list .class-price {
  float: right;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home-class-list .class-price {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .home-class-list .class-price {
    margin-right: 50px;
  }
}
.course-grids:hover {
  border-color: #e57259;
}
@media (max-width: 767px) {
  .course-grids {
    margin: 0 -5px;
  }
}
@media (max-width: 767px) {
  .course-grids .course-grid {
    width: 50%;
    float: left;
    margin: 0 0 10px 0;
    padding: 0 5px;
    border: none;
  }
  .course-grids .course-grid .grid-body {
    width: 100%;
    border: 1px solid #e1e1e1;
  }
}
.course-grids .course-grid .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
@media (max-width: 767px) {
  .course-grids .course-grid .title {
    min-height: auto;
    height: 30px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .course-grids .student-col,
  .course-grids .review-col {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .course-grids .metas {
    border-top: none;
    padding: 0;
  }
  .course-grids .metas .price {
    font-size: 12px;
  }
}
.homepage .news li em {
  width: 85px;
  float: right;
  text-align: right;
  font-style: normal;
  color: #a9a9a9;
}
.homepage .news ul.row {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 0px;
  list-style: none;
}
.homepage .news li span {
  color: #428bca;
  margin-right: 5px;
  text-decoration: none;
}
.homepage .news li a {
  color: #222;
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.teachers-item {
  margin-bottom: 20px;
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: #fff;
}
@media (max-width: 767px) {
  .teachers-item {
    padding: 10px;
    margin-bottom: 10px;
  }
}
.teachers-item img {
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.teachers-item span {
  line-height: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  color: #00b780;
}
.teachers-item i {
  margin-bottom: 10px;
  display: block;
  font-style: normal;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item i {
    display: none;
  }
}
.teachers-item p {
  margin-top: 20px;
  font-size: 12px;
  height: 36px;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teachers-item p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.teachers-item a,
.promot-teacher a {
  display: block;
  line-height: 24px;
  text-decoration: none;
}
.courses-rank li {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  zoom: 1;
}
.courses-rank li img {
  display: block;
  width: 80px;
  height: 45px;
  margin: 0 15px 5px 0;
}
.courses-rank .course-title {
  color: #444;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .courses-rank .course-title {
    margin: 0px 0 8px 0;
  }
}
@media (max-width: 767px) {
  .courses-rank .media-list .media {
    padding-bottom: 0;
    margin-top: 8px;
  }
}
.user-learn {
  border: 1px solid #ddd;
}
.user-learn img {
  width: 120px;
  height: 67px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.user-learn p {
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-learn .teacher-name {
  font-size: 12px;
}
.user-learn .progress {
  height: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.user-learn .progress-bar {
  background-color: #096;
}
.user-learn .percentage {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
}
.user-learn .continue {
  overflow: hidden;
  margin: 0 10px 10px;
}
.banner-announcement {
  background: #ebf6f1;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.status-side ul {
  padding-left: 0;
  list-style: none;
}
.status-side li {
  overflow: hidden;
}
.status-side li img {
  width: 50px;
  height: 50px;
}
