{% set questionTypes = getQuestionTypes() %}

<div>
  <input type="hidden" class="js-questionBank-id" value="{{ questionBank.id }}">
  <input type="hidden" class="js-list-header-import" value="{{ path('question_bank_manage_question_import', {id: questionBank.id}) }}">
  <input type="hidden" class="js-export-value" value="{{ path('question_bank_manage_question_export', {id: questionBank.id}) }}">
  <div role="courseset-manage-question">
    <div id="quiz-table-container" class="js-question-html" data-url="{{ path('question_bank_manage_question_show_ajax', {id: questionBank.id}) }}">
      {% include 'question-bank/question/question-list-table.html.twig' %}
    </div>
  </div>
</div>