.setting-page {
	position: relative;
	box-sizing: border-box;
	width: 375px;
	min-height: 667px;
	margin: 0 20px 200px;
	border: 1px solid #e1e1e1;

	.find-navbar {
		position: relative;
		margin-right: -1px;
		margin-left: -1px;
		color: #fff;
		font-size: 18px;
		line-height: 56px;
		text-align: center;
		background-color: #212121;

		i {
			position: absolute;
			top: 0;
			left: 15px;
		}

		&-miniprogram {
			position: absolute;
			top: 23px;
			width: 100%;
			line-height: 40px;
			background: transparent;
		}

		&-apps {
			position: absolute;
			top: 27px;
			right: 16px;
			left: 16px;
			height: 28px;
			padding-left: 34px;
			color: rgba(190, 190, 190, 1);
			font-size: 12px;
			line-height: 28px;
			text-align: left;
			background: rgba(245, 245, 245, 1);
			border-radius: 14px;

			i {
				position: absolute;
				top: 0;
				left: 16px;
			}
		}
	}

	.find-head-img {
		width: 373px;
		vertical-align: top;
	}

	.find-body {
		// padding-bottom: 227px;
		padding-bottom: 333px;
	}

	.find-section {
		position: absolute;
		bottom: 50px;
		box-sizing: border-box;
		width: 373px;
		padding: 15px 9px;
		font-size: 14px;
		// background: #F5F5F5;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;

		.section-title {
			margin-left: 7px;
		}

		.find-section-item {
			float: left;
			width: 103px;
			margin: 15px 7.5px 0;
			background-color: #fff;
		}
	}

	.multi-find-section {
		padding: 0;
		background: #fff;

		.section-title {
			margin-left: 0;
			padding: 0 15px;
			line-height: 38px;
			background: #f5f5f5;
		}

		.section-button-group {
			padding: 7.5px 0 7.5px 15px;
		}

		.find-section-item {
			float: none;
			margin: 7.5px 15px 7.5px 0;
		}
	}

	.bg-grey {
		background-color: $bg-grey;
	}
	// 之后会移除
	&-miniprogram {
		.find-body {
			padding-bottom: 333px;
		}
	}

	.e-poster {
		padding: 12px 16px;
	}
}

.help-block {
	display: block;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: 28px;
	padding: 10px 20px;
	color: #737373;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: 1;
}

.setting-button-group {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 54px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

	&__button {
		// width: 90px;
		height: 30px;
	}
}
