.e-swipe {
	img {
		width: 100%;
		height: auto;
	}
}

.item-container {
	font-size: 0;
	border-radius: 6px;

	> a {
		display: inline-block;
		border-radius: 6px;

		> img {
			border-radius: 6px;
		}
	}

	&__title {
		position: absolute;
		bottom: 0;
		box-sizing: border-box;
		width: 100%;
		padding: 0 12px;
		color: #fff;
		font-size: vw(16);
		line-height: vw(40);
		background: rgba(0, 0, 0, 0.5);
	}
}
