.e-row-class {
	display: flex;
	padding: 0 vw(16) vw(24);

	.row-class-left {
		position: relative;
		width: vw(128);
		height: vw(72);
		overflow: hidden;
		font-size: vw(0);
		border-radius: vw(2);

		img {
			width: 100%;
			border-radius: vw(2);
		}

		&__discount {
			position: absolute;
			top: vw(4);
			right: vw(-17);
			width: vw(64);
			height: vw(20);
			color: #fff;
			font-size: vw(12);
			line-height: vw(20);
			text-align: center;
			background: #ef6b50;
			-ms-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&__member {
			position: absolute;
			top: vw(4);
			height: vw(16);
			padding: vw(2) vw(4);
			color: #fff;
			font-size: vw(10);
			text-align: center;
			background: rgba(246, 201, 63, 1);
			border-radius: vw(0) vw(100) vw(100) vw(0);
		}

		&__live {
			position: absolute;
			bottom: vw(0);
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			box-sizing: border-box;
			width: vw(128);
			height: vw(32);
			padding: vw(4) vw(4) vw(4) vw(8);
			color: #fff;
			font-size: vw(12);
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

			.icon-renqi {
				margin-right: vw(2);
				font-size: vw(12);
			}
		}
	}

	.row-class-right {
		display: flex;
		flex-direction: column;
		width: vw(197);
		margin-left: vw(12);

		&__top {
			height: vw(20);
			margin-top: vw(2);
			color: #333;
			font-weight: 500;
			font-size: vw(14);

			.certificate-icon {
				margin-right: vw(4);
				padding: vw(2) vw(4);
				color: #fff;
				font-size: vw(12);
				line-height: vw(16);
				vertical-align: vw(1);
				background-color: #43bc60;
				border-radius: vw(4);
			}
		}

		&__center {
			height: vw(16);
			margin-top: vw(4);
			color: #999;
			font-size: vw(12);
		}

		&__bottom {
			height: vw(20);
			margin-top: vw(8);
			color: #fe3b13;
			font-weight: 500;
			font-size: vw(14);
		}
	}
}
