.color-lump {
  display: inline-block;
  .border-radius;
  width: 30px;
  height: 30px;
  background-color: @gray-light;
  text-align: center;
  &.lump-success {
    background-color: @brand-success;
  }
  &.lump-danger {
    background-color: @brand-danger;
  }
  &.lump-warning {
    background-color: @brand-warning;
  }
  &.depth-1 {
    background-color: #d6e685;
  }
  &.depth-2 {
    background-color: #8cc665;
  }
  &.depth-3 {
    background-color: #44a340;
  }
  &.depth-4 {
    background-color: #1e6823;
  }
  &.lump-sm {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
  }
  &.lump-xs {
    width: 10px;
    height: 10px;
  }
}