.es-tabs {
  .tab-header {
    > ul > li {
      > a {
        &:hover {
          color: @brand-primary;
        }
      }
    }
  }
  .tab-body {
    > ul > li {
      > a {
        &:hover {
          color: @brand-primary;
        }
      }
      &.active > a {
        color: @brand-primary;
      }
    }
  }
}


