.infinite-container {

  &.infinite-loading-top:after {

  }

  &.infinite-loading:after {
    content: '---Loading---';
    display: block;
    background: rgba(52, 142, 192, 0.5);
    color: #000;
    padding: 40px 10px;
    margin-top: 10px;
    text-align: center;
  }

}