.infinite-container {
  &.infinite-loading:after {
    content: '加载更多';
    display: block;
    color: @gray;
    padding: 20px 10px;
    margin-top: 10px;
    text-align: center;
  }
}
.infinite-up-more-link {
  display: block;
  text-align: center;
}
