.modal-title {
  word-break:break-all;
  color: @gray-darker;
  font-size: 18px;
}

.modal-header {
  padding: 15px 0;
  margin: 0 15px;
}

// .modal-header .close {
//   padding: 5px;
// }

.modal-body {
  word-wrap: break-word;
  overflow: hidden;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

.modal-backdrop.in {
  .opacity(0.8);
}

.modal-dialog.modal-lg{
  @media (min-width: @screen-md-min) {
    width: 900px;
    margin-top: 20px;
  }
}

.modal-md {
  @media(min-width: @screen-md-min) {
    width: 800px;
  }
}


.modal-sm {
  @media(min-width: @screen-md-min) {
    width: 520px;
  }
}



.modal-message {
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .modal-footer {
    border-top: 0;
    padding-top: 0;
  }
}









