.popover {
  min-width: 200px;
  border-color: @gray-light;
  &.top > .arrow {
    border-top-color: @gray-light;
  }
  &.right > .arrow {
    border-right-color: @gray-light;
  }
  &.bottom > .arrow {
    border-bottom-color: @gray-light;
  }
  &.left > .arrow {
    border-left-color: @gray-light;
  }
  .popover-content {
    color: @gray-dark;
  }
} 

