<div class="text-center pt48">
  <div class="ant-spin ant-spin-lg ant-spin-spinning">
    <span class="ant-spin-dot ant-spin-dot-spin">
      <i class="ant-spin-dot-item"></i>
      <i class="ant-spin-dot-item"></i>
      <i class="ant-spin-dot-item"></i>
      <i class="ant-spin-dot-item"></i>
    </span>
  </div>
</div>