<div class="material-search-list material-tabs">
  <span class="all">类型：</span>
  <ul class="js-material-tabs right-content  clearfix">
    <li class="active js-type-btn" data-value="">
      <a href="javascript:;">全部</a>
    </li>
    <li class="js-type-btn" data-value="video">
      <a href="javascript:;">视频</a>
    </li>
    <li class="js-type-btn" data-value="flash">
      <a href="javascript:;">flash</a>
    </li>
    <li class="js-type-btn" data-value="audio">
      <a href="javascript:;">音频</a>
    </li>
    <li class="js-type-btn" data-value="image">
      <a href="javascript:;">图片</a>
    </li>
    <li class="js-type-btn" data-value="document">
      <a href="javascript:;">文档</a>
    </li>
    <li class="js-type-btn" data-value="ppt">
      <a href="javascript:;">PPT</a>
    </li>
    <li class="js-type-btn" data-value="other">
      <a href="javascript:;">其它</a>
    </li>
    <input type="hidden" name="type" value="{{ type|default('') }}"></ul>
</div>
