{% if notifications %}
  {% for notification in notifications %}
    {% include 'TopxiaWebBundle:Notification:item-' ~ notification.type ~ '.html.twig' %}
  {% endfor %}
{% else %}
  <div>
    <p class="empty">暂无通知</p>
  </div>
{% endif %}