{% extends 'TopxiaWebBundle:EsBar:ListContent/notification.html.twig' %}

{% block myMessage %}

  {% if notifications %}
    {% set notificationsCount = 15  %}
    {% for notification in notifications %}
      {% set notificationsCount = loop.length  %}
      {% set notification = render_notification(notification) %}
      {{ notification.message|raw }}
    {% endfor %}
    {% if notificationsCount >= 15 %}
      <li class="text-center"><a class="link-light" href="{{ path('notification') }}" target="_blank">{{'更多'|trans}}<i class="es-icon es-icon-angledoubleright"></i></a></li>
    {% endif %}
  {% else %}
    <li class="empty">{{'暂无通知'|trans}}</li>
  {% endif %}
{% endblock %}