{% extends 'MaterialLibBundle:MaterialLib:layout.browse.html.twig' %}

{% block list %}

<div id="aticle-table-container">
    <table class="table table-hover" id="article-table">
        <thead>
            <tr>
                <th width="50%"><label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label></th>
                <th width="50%">
                    <div class="pull-right">
                        <div class="btn-group sorting-way" role="group">
                            <a class="btn btn-default btn-xs {% if viewMode == "thumb" %} active {% endif %}" href="{{path('material_lib_browsing', {type: type, viewMode:'thumb', source: source}) }}" title="缩略图">
                                 <span class="glyphicon glyphicon-th-large"></span>
                            </a>
                            <a class="btn btn-default btn-xs {% if viewMode == "list" %} active {% endif %}" href="{{path('material_lib_browsing', {type: type, viewMode:'list', source: source}) }}" title="列表">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </div>                      
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="row" id="material-item-list" data-url="{{ path('material_lib_show_browsing', { viewMode: viewMode, source: source}) }}"></div>

{% endblock %}