{% extends 'MaterialLibBundle:MaterialLib:layout.browse.html.twig' %}

{% block list %}

<div id="aticle-table-container">
    <table class="table table-hover" id="article-table">
        <thead>
            <tr>
                <th width="50%"><label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label></th>
                <th width="50%">
                    <div class="pull-right">
                        <div class="btn-group sorting-way" role="group">
                            <a class="btn btn-default btn-xs {% if viewMode == "thumb" %} active {% endif %}" href="{{path('material_lib_browsing', {type: type, viewMode:'thumb', source: source}) }}" title="缩略图">
                                 <span class="glyphicon glyphicon-th-large"></span>
                            </a>
                            <a class="btn btn-default btn-xs {% if viewMode == "list" %} active {% endif %}" href="{{path('material_lib_browsing', {type: type, viewMode:'list', source: source}) }}" title="列表">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </div>                      
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="material-item-list">
        <ul class="course-grids" id="material-item-list">
            {% if source == "upload" %}
        <li class="course-grid item-material" id="panel-upload-file">
            <div style="width: 180px; height: 180px; padding: 8px;">
           <div class="container" style="width: 100%; height: 120px; vertical-align: middle;">
            <a class="btn btn-link center-block file-create-btn tip" style="margin-top: 30px;"
            data-toggle="modal" data-target="#modal"
            data-url="{{ path('uploader_batch_uplod', {token:uploader_token('materiallib', app.user.id, 'private')}) }}" title="添加"   data-placement="bottom" >
                <i class="glyphicon glyphicon-plus" style="font-size:40px;"></i>
            </a>
            </div>
                <div>
                {% if type == 'all' %}
                    <span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
                {% elseif type == 'video' %}
                    <span class="text-sm">支持mp4, avi, flv, wmv, mov格式，文件不能超过1GB。</span>
                {% elseif type == 'audio' %}
                    <span class="text-sm">仅支持mp3格式。</span>
                {% elseif type == 'image' %}
                    <span class="text-sm">支持png, jpg, gif格式。</span>
                {% elseif type == 'ppt' %}
                    <span class="text-sm">支持ppt, pptx格式。</span>
                {% elseif type == 'document' %}
                    <span class="text-sm">支持doc, docx, pdf格式。</span>
                {% elseif type == 'other' %}
                    <span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
                {% endif %}
            
                </div>
            </div>
        </li>
        {% endif %}
            {% include 'MaterialLibBundle:MaterialLib:material-thumb-view-item.html.twig' %}
        </ul>
    </div>
</div>

{% endblock %}