{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set tag = tag|default(null) %}

{% block title %}
{% endblock %}
{% block body %}
  <form class="form-horizontal" id="tag-form" action="#" method="post">
    <div class="form-group">
      {% for tag in tags %}
      {{ tag.name }}
      {% endfor %}
    </div>
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

{% endblock %}

{% block footer %}


  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button id="tag-create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#tag-form">保存</button>
{% endblock %}
