{% extends 'TopxiaWebBundle:ClassroomManage:layout.html.twig' %}

{% block title %}班级管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'courses' %}

{% block main %}

       
<div class="panel panel-default panel-col">
  <div class="panel-heading">课程管理</div>
  <div class="panel-body">

  </div>
</div>

{% endblock %}