{% extends 'TopxiaWebBundle:ClassroomManage:layout.html.twig' %}

{% block title %}{{ setting('classroom.name')|default("班级") }}管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'main' %}

{% block main %}

       
<div class="panel panel-default panel-col">
  <div class="panel-heading">{{ setting('classroom.name')|default("班级") }}管理</div>
  <div class="panel-body">

  </div>
</div>

{% endblock %}