{% extends 'TopxiaWebBundle:ClassroomManage:set-layout.html.twig' %}

{% set settingNav = "picture" %}
{% set script_controller = 'classroom/picture' %}

{% block classroom_set_body %}

    <form id="classroom-picture-form" method="post" enctype="multipart/form-data">
      {{ web_macro.flash_messages() }}

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img src="{{ default_path('coursePicture',classroom.largePicture, '') }}" />
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <input id="classroom-picture-field" type="file" name="picture" accept="image/gif,image/jpeg,image/png">

          <p class="help-block">你可以上传jpg, gif, png格式的文件, 图片建议尺寸至少为480x270。<br>文件大小不能超过<strong>2M</strong>。</p>

        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <button class="btn btn-fat btn-primary" id="upload-picture-btn" type="submit">上传</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      
    </form>
    
{% endblock %}