{% extends 'TopxiaWebBundle:ClassroomManage:set-layout.html.twig' %}

{% set settingNav = "set" %}
{% set script_controller = 'classroom/set' %}

{% block classroom_set_body %}
<form class="form-horizontal" method="post" id="classroom-set-form" novalidate>

        <div class="row form-group">
          <div class="col-md-2 control-label">
            <label for="price">价格</label>
          </div>
          <div class="controls col-md-8">
            <input name="price" type="text"  id="price" class="form-control" value="{{classroom.price}}"/>
            <div class="help-block">当前共有 7 个课程，原价共计 1596 元。</div>
          </div>
        </div>

        {% if setting('vip.enabled') %}

        <div class="form-group">
          <div class="col-md-2 control-label">
            <label for="price">可用会员身份免费加入</label>
          </div>
          <div class="col-md-8 controls">
            <select name="vipLevelId" class="form-control width-input width-input-large">
              {{ select_options(levels, classroom.vipLevelId|default(0), '不支持') }}
            </select>
            <div class="help-block">设置会员课程后，该会员及更高等级会员，可免费学习。</div>
          </div>
        </div>
        {% endif %}

        <div class="row form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8">
            <button type="submit" class="btn btn-primary" id="classroom-save">提交</button>  
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
{% endblock %}