
{% if user %}
<img src="{{ default_path('avatar',user.smallAvatar, '') }}" class="avatar-small col-md-offset-3">
<span class="nickname mlm">{{user.nickname}}</span>
<input type="hidden" name="headerTeacherId" value="{{user.id}}" />
{% else %}
<div class="col-md-offset-3" style="color:#a94442;">教师不存在</div>
{% endif %}