// 限时优惠
.detail-discount {
  height: vw(46);
  // 优惠价格
  .detail-discount__left {
    width: vw(240);
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 88, 115, 1) 0%, rgba(255, 127, 88, 1) 100%);
    color: #fff;
    text-align: center;
    line-height: vw(46);
    .text,
    .price {
      margin-right: vw(5);
      font-size: vw(18);
      font-weight: 500;
    }
    .original-price {
      font-size: vw(14);
    }
  }
  // 活动结束倒计时
  .detail-discount__right {
    width: vw(135);
    height: 100%;
    text-align: center;
    background-color: #F5F5F5;
    .text {
      margin-top: vw(4);
      font-size: vw(12);
      line-height: vw(16);
      color: #666;
    }
    .count-down {
      height: vw(22);
      color: #000;
      .van-count-down {
        font-size: vw(12);
        line-height: vw(22);
        .day {
          margin-right: vw(5);
          color: #FF5C3B;
          font-size: vw(16);
        }
        .item {
          display: inline-block;
          width: vw(20);
          height: vw(20);
          margin-right: vw(5);
          color: #fff;
          background-color: #FF7262;
          border-radius: vw(4);
        }
      }
    }
  }
}
// 名称价格
.detail-info {
  padding: vw(16);
  background-color: #fff;
  .detail-info__title {
    font-size: vw(16);
    font-weight: 500;
    color: #333;
  }
  .detail-info__price {
    margin-top: vw(8);
    font-size: vw(16);
    color: #999;
    .price {
      margin: 0 vw(3) 0 vw(5);
      font-size: vw(24);
      font-weight: 600;
      color: #FF5C3B;
    }
    .study-num {
      position: relative;
      top: vw(5);
    }
    .original-price {
      margin-top: vw(4);
      font-size: vw(12);
    }
  }
}
// 教学计划
.detail-plan {
  margin-top: vw(8);
  padding: vw(14) vw(16);
  line-height: vw(20);
  background-color: #fff;
  .detail-plan__plan {
    margin-bottom: vw(12);
    &:last-child {
      margin-bottom: 0;
    }
    .plan-left {
      width: vw(72);
      font-size: vw(12);
      color: #999;
    }
    .plan-right {
      position: relative;
      width: vw(271);
      font-size: vw(14);
      color: #666;
      .plan-icon {
        font-size: vw(14);
        position: absolute;
        right: 0;
        top: vw(1);
      }
      .plan-promise {
        padding: vw(2) vw(4);
        margin-right: vw(8);
        font-size: vw(12);
        background-color: #03C777;
        color: #fff;
        border-radius: vw(4);
      }
    }
  }
  // 学习计划弹出框
  .detail-plan__popup {
    padding: vw(16);
    box-sizing: border-box;
    border-radius: vw(12) vw(12) 0 0;
    .plan-popup__title {
      font-size: vw(14);
      color: #333;
      line-height: vw(20);
      span {
        position: relative;
        top: vw(1);
        display: inline-block;
        width: vw(4);
        height: vw(12);
        background-color: #03C777;
        border-radius: vw(2);
      }
    }
  }
}