// 教师风采
.info-teacher {
  .info-teacher__item {
    padding: vw(16) 0;
    border-bottom: vw(1) solid #E1E1E1;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    .teacher-img {
      margin-right: vw(12);
      width: vw(48);
      height: vw(48);
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .teacher-info {
      margin-top: vw(4);
      width: vw(283);
      .teacher-info__name {
        font-size: vw(14);
        color: #333;
      }
      .teacher-info__describe {
        margin-top: vw(4);
        font-size: vw(12);
        color: #999;
      }
    }
  }
}

// 课程简介
.info-introduction {
  padding-top: vw(16);
}

// 课程评价
.info-evaluate {
  .info-evaluate__item {
    padding-top: vw(16);
    &:last-child {
      .evaluate-content {
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
    }
    .evaluate-img {
      margin-right: vw(8);
      width: vw(32);
      height: vw(32);
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .evaluate-content {
      padding-bottom: vw(16);
      width: vw(303);
      border-bottom: vw(1) solid #e1e1e1;
      .evaluate-content__name {
        .content-name__nickname {
          font-size: vw(14);
          color: #666;
        }
        .content-name__time {
          position: relative;
          top: vw(2);
          font-size: vw(12);
          color: #999;
        }
      }
      .evaluate-content__plan {
        margin-top: vw(8);
        font-size: vw(12);
        color: #999;
        line-height: vw(16);
        .plan-rate {
          position: relative;
          top: vw(1);
          i {
            font-size: vw(12) !important;
          }
        }
      }
      .evaluate-content__text {
        margin-top: vw(8);
        font-size: vw(14);
        color: #333;
      }
    }
  }
}

// 猜你想学
.info-learn {
  .info-learn__header {
    line-height: vw(24);
    .header-title {
      font-size: vw(16);
      font-weight: 500;
      color: #333;
    }
    .header-more,
    .header-more i {
      font-size: vw(12);
      color: #999;
    }
  }
  .info-learn__body {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-gap: vw(16) 0;
    margin-top: vw(16);
    .body-item {
      width: vw(163.5);
      height: vw(160);
      border-radius: vw(4);
      box-shadow: 0 vw(2) vw(8) 0 rgba(0, 0, 0, 0.05);
      overflow: hidden;
      .body-item__img {
        position: relative;
        width: 100%;
        height: vw(91.97);
        img {
          width: 100%;
          height: 100%;
        }
        .learners-mask {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: vw(32);
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
        .learners-number {
          position: absolute;
          right: vw(8);
          bottom: vw(4);
          color: #fff;
          font-size: vw(12);
          i {
            margin-right: vw(2);
            font-size: vw(12);
          }
        }
      }
      .body-item__content {
        padding: vw(8);
        .content-title {
          font-size: vw(14);
          color: #333;
          line-height: vw(20);
        }
        .content-price {
          margin-top: vw(16);
          font-size: vw(12);
          color: #FF5C3B;
          line-height: vw(16);
          font-weight: 500;
        }
      }
    }
  }
}

// 收藏/购买
.info-buy {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: vw(48);
  .info-buy__collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: vw(56);
    background-color: #fff;
    border-top: vw(1) solid #F5F5F5;
    i {
      font-size: vw(12);
      color: #BEBEBE;
    }
    span {
      font-size: vw(12);
      color: #666;
    }
  }
  .info-buy__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(319);
    height: 100%;
    background-color: #FF765F;
    color: #fff;
    font-size: vw(16);
    font-weight: 500;
  }
}