// 教师风采
.info-teacher {
	.info-teacher__item {
		padding: vw(16) 0;
		border-bottom: vw(1) solid #e1e1e1;

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

		.teacher-img {
			width: vw(48);
			height: vw(48);
			margin-right: vw(12);

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}

		.teacher-info {
			width: vw(283);
			margin-top: vw(4);

			.teacher-info__name {
				color: #333;
				font-size: vw(14);
			}

			.teacher-info__describe {
				margin-top: vw(4);
				color: #999;
				font-size: vw(12);
			}
		}
	}
}

// 课程简介
.info-introduction {
	padding-top: vw(16);
}

// 猜你想学
.info-learn {
	.info-learn__header {
		line-height: vw(24);

		.header-title {
			color: #333;
			font-weight: 500;
			font-size: vw(16);
		}

		.header-more,
		.header-more i {
			color: #999;
			font-size: vw(12);
		}
	}

	.info-learn__body {
		display: grid;
		grid-gap: vw(16) 0;
		grid-template-columns: auto auto;
		justify-content: space-between;
		margin-top: vw(16);

		.body-item {
			width: vw(163.5);
			height: vw(160);
			overflow: hidden;
			border-radius: vw(4);
			box-shadow: 0 vw(2) vw(8) 0 rgba(0, 0, 0, 0.05);

			.body-item__img {
				position: relative;
				width: 100%;
				height: vw(91.97);

				img {
					width: 100%;
					height: 100%;
				}

				.learners-mask {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: vw(32);
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
				}

				.learners-number {
					position: absolute;
					right: vw(8);
					bottom: vw(4);
					color: #fff;
					font-size: vw(12);

					i {
						margin-right: vw(2);
						font-size: vw(12);
					}
				}
			}

			.body-item__content {
				padding: vw(8);

				.content-title {
					color: #333;
					font-size: vw(14);
					line-height: vw(20);
				}

				.content-price {
					margin-top: vw(16);
					color: #ff5c3b;
					font-weight: 500;
					font-size: vw(12);
					line-height: vw(16);
				}

				.is-free {
					color: #03c777;
				}
			}
		}
	}
}

// 收藏/购买
.info-buy {
	position: fixed;
	bottom: 0;
	z-index: 1888;
	display: flex;
	width: 100%;
	height: vw(48);

	.info-buy__collection {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: vw(56);
		height: 100%;
		background-color: #fff;
		border-top: vw(1) solid #f5f5f5;

		i {
			color: #bebebe;
			font-size: vw(12);
		}

		span {
			color: #666;
			font-size: vw(12);
		}
	}

	.info-buy__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(319);
		height: 100%;
		color: #fff;
		font-weight: 500;
		font-size: vw(16);
		background-color: #ff765f;
	}
}

// 回到顶部
.back-to-top {
	position: fixed;
	right: vw(13);
	bottom: vw(64);
	z-index: 1999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: vw(40);
	height: vw(40);
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 vw(2) vw(8) 0 rgba(0, 0, 0, 0.05);

	span,
	i {
		color: #03c777;
		font-size: vw(10);
	}
}

// 班级详情
.class-catalog {
	.class-catalog__item {
		height: vw(72);
		margin-top: vw(24);

		.item-img {
			width: vw(128);
			height: vw(72);
			margin-right: vw(12);

			img {
				width: 100%;
				height: 100%;
				border-radius: vw(2);
			}
		}

		.item-info {
			width: vw(203);
			padding-top: vw(4);

			.item-info__title {
				color: #333;
				font-weight: 500;
				font-size: vw(14);
			}

			.item-info__price {
				margin-top: vw(4);
				color: #ff5c3b;
				font-weight: 500;
				font-size: vw(14);
			}

			.item-info__plan {
				margin-top: vw(4);
				color: #999;
				font-size: vw(12);
			}
		}
	}
}

.goods-swiper-directory {
	margin-top: vw(16);
}
