{% set settings = setting('login_bind', []) %}

{% for type, client in clients %}
  {% if settings[type ~ '_enabled']|default(false) and type != 'weixinmob' and client.icon_class|default(null) %}
    <a href="{{ path('login_bind', {type: type, _target_path:targetPath|default('')}) }}" class="social-icon social-{{ client.icon_class }}">
      <i class="es-icon es-icon-{{ client.icon_class }}"></i>
    </a>
  {% endif %}
{% endfor %}
