{% set settings = setting('login_bind', []) %}

{% for type, client in clients %}
  {% if settings[type ~ '_enabled']|default(false) and type != 'weixinmob' and client.icon_class|default(null) %}
    <a href="{{ path('login_bind', {type: type, _target_path:targetPath|default('')}) }}" class="social-icon social-{{ client.icon_class }}">
      <i class="es-icon es-icon-{{ client.icon_class }}"></i>
    </a>
  {% endif %}
{% endfor %}
<a href="javascript:;" class="social-icon social-more" data-toggle="dropdown"><i class="es-icon es-icon-morehoriz"></i></a>
<div class="dropdown-menu pull-right">
  <li><a href="">123</a></li>
  <li><a href="">456</a></li>
</div>
