{% set settings = setting('login_bind', []) %}

{% for type, client in clients %}
  {% if settings[type ~ '_enabled']|default(false) and type != 'weixinmob'%}
    <a href="{{ path('login_bind', {type: type, _target_path:targetPath|default('')}) }}" class="social-icon">
      {% if client.icon_class|default(null) %}
        <i class="es-icon es-icon-{{ client.icon_class }}"></i>
      {% endif %}
    </a>
  {% endif %}
{% endfor %}
