<div class="social-logins">
  <a href="{{ path('login_bind', {type:'weibo'}) }}" class="social-login-btn"><i class="social-icon social-icon-weibo"></i>微博帐号登录</a>
  <a href="{{ path('login_bind', {type:'qq'}) }}" class="social-login-btn"><i class="social-icon social-icon-qq"></i>QQ帐号登录</a>
  <a href="{{ path('login_bind', {type:'renren'}) }}" class="social-login-btn"><i class="social-icon social-icon-renren"></i>人人帐号登录</a>
</div>