{% import "macro.html.twig" as web_macro %}

<section class="es-section">
  <div class="article-list">
    {% for article in articles %}
      {% set category = categories[article.categoryId]|default() %}
      {% if category is not empty %}
        {% include 'article/widget/list-item.html.twig' %}
      {% endif %}
    {% else %}
      <div class="empty tac color-gray mvl">{{ 'article.empty'|trans }}</div>
    {% endfor %}
  </div>
  {{ web_macro.paginator(paginator) }}
</section>
