{% extends 'admin-v2/layout.html.twig' %}
{% do script(['libs/echarts.js','app/js/course-manage/overview/index.js']) %}

{% set menu = 'admin_v2_multi_class_manage' %}

{% block body %}
  <body style="padding-top: 0; margin-top: 0;background-color: #ffffff;">
    <div class="course-statictics" style="margin-left: 20px;margin-right: 40px;">
      {% include 'course-manage/overview/dashboard.html.twig' %}

      {% include 'course-manage/overview/student-trendency.html.twig' %}

      {% include 'course-manage/overview/finished-rate-trend.html.twig' %}

      {% include 'course-manage/overview/task-detail.htm.twig' %}
    </div>
    <div id="modal" class="modal" ></div>
    {% include 'old-script_boot.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app-v2.js')} %}
    {% include 'admin-v2/default/script-webpack.html.twig' %}
    {% include 'admin-v2/script_boot.html.twig'  with {state :0} %}
    <script type="application/javascript">
      $('[data-toggle="tooltip"]').tooltip({html: true});

      $('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'hover',
      });
    </script>
  </body>
{% endblock %}

{% block stylesheets %}
  <link href="/static-dist/app/css/main.css" rel="stylesheet">
  <link href="/static-dist/libs/element-ui/dist/index.css" rel="stylesheet">
  {{ parent() }}
{% endblock %}