{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_setting_message' %}
{% set script_controller = 'mock/index' %}

{% block content %}
  <select class="mockSelector">
    <option value="distributor-user">分销-用户模拟</option>
    <option value="distributor-course">分销-课程模拟</option>
    <option value="marketing">微营销模拟</option>
    <option value="other">其他模拟</option>
  </select>

  {% include 'admin/mock/content-distributor-user.html.twig' %}
  {% include 'admin/mock/content-distributor-course.html.twig' %}
  {% include 'admin/mock/content-marketing.html.twig' %}
  {% include 'admin/mock/content-other.html.twig' %}
{% endblock %}