{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% set menu = 'admin_edu_cloud_setting_sms' %} 

{% block main %}
  <!-- 设置 -->
<div class="page-heading">
  云短信开关
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">启用云短信：</label>
    <div class="controls col-md-9 radios">
      <label>
        <input type="radio" name="cloud_sms_switch" value="1"> 开启
      </label>
      <label>
        <input type="radio" name="cloud_sms_switch" value="0" checked="checked"> 关闭
      </label>
      <div class="help-block">
        教学资讯，极速送达，尽在掌握。<a href="">点击这里</a>了解详情。
      </div>
    </div>
  </div>
</form>
<div class="page-heading">
  基本设置
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">短信签名：</label>
    <div class="controls col-md-9 radios">
      红木头学院<a href="" class="plm">去设置</a>
      <div class="help-block">
        签名显示在短信内容的最前面，显示这条短信来自哪家公司/产品/网站。
      </div>
    </div>
  </div>
</form>
<div class="page-heading">
  预警设置
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">单日短信发送阈值：</label>
    <div class="controls col-md-9 radios">
      50000条<a href="" class="plm">去设置</a>
      <div class="help-block">
        单日短信发送量超过此阈值时，发送通知。
      </div>
    </div>
  </div>
</form>
<div class="page-heading">
  模版设置
</div>
<div class="table-responsive sms-table"> 
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>短信类型</th>
          <th width="12%">应用场景</th>
          <th>内容示例</th>
          <th>发送方式</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>验证类</td>
          <td>手机绑定</td>
          <td>您的验证码是：XXXXXX(请勿泄露)，此验证码30分钟内有效。</td>
          <td>自动单发</td>
          <td>默认开启</td>
        </tr>
        <tr>
          <td>验证类</td>
          <td>登录密码重置</td>
          <td>您的验证码是：XXXXXX(请勿泄露)，此验证码30分钟内有效。</td>
          <td>自动单发</td>
          <td>默认开启</td>
        </tr>
        <tr>
          <td>验证类</td>
          <td>支付密码重置</td>
          <td>您的验证码是：XXXXXX(请勿泄露)，此验证码30分钟内有效。</td>
          <td>自动单发</td>
          <td>默认开启</td>
        </tr>
        <tr>
          <td>验证类</td>
          <td>使用网站余额支付</td>
          <td>您的验证码是：XXXXXX(请勿泄露)，此验证码30分钟内有效。</td>
          <td>自动单发</td>
          <td>默认开启</td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>新班级发布</td>
          <td>同学们，《ES网校管理学习班》现已开始报名！http://t.cn/RtHEoCs。</td>
          <td>手动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>新课程发布</td>
          <td>同学们，《如何使用EduSoho？》现已开始报名！ http://t.cn/RtH8W6c。</td>
          <td>手动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>新课时发布通知（普通课程）</td>
          <td>您的《如何使用EduSoho？》－《如何进入管理后台》已发布！http://t.cn/RtHRhF4。</td>
          <td>自动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>新课时发布通知（直播）</td>
          <td>《如何使用EduSoho？》－《如何进入管理后台》将在2016-08-28开播！http://t.cn/RtHRhF4。</td>
          <td>自动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>直播开播前通知（提前1天）</td>
          <td>《如何使用EduSoho？》－《如何进入管理后台》将在2016-08-28开播！http://t.cn/RtHRhF4。</td>
          <td>自动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>直播开播前通知（提前1小时）</td>
          <td>《如何使用EduSoho？》－《如何进入管理后台》将在2016-08-28开播！http://t.cn/RtHRhF4。</td>
          <td>自动群发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>作业完成批阅</td>
          <td>您的《如何使用EduSoho？》-《如何进入管理后台》的作业已被老师批阅，快来看看吧！。</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>通知类</td>
          <td>试卷完成批阅</td>
          <td>《您的《如何使用EduSoho？》-试卷：《阔知大学期末模拟考试》已被老师批阅，快来看看吧！</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>回执类</td>
          <td>课程购买回执</td>
          <td>你已成功购买课程《XXX课程》，支付￥20.00。</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>回执类</td>
          <td>班级购买回执</td>
          <td>你已成功购买班级《XXX班级》，支付￥20.00。</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>回执类</td>
          <td>会员购买回执</td>
          <td>你已成功购买会员《XXX会员》，支付￥20.00。</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
        <tr>
          <td>回执类</td>
          <td>虚拟币充值回执</td>
          <td>你已成功购买学币100枚，支付￥20.00。</td>
          <td>自动单发</td>
          <td>
            <label style="margin-bottom:0">
              <input type="checkbox"> 开启
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}