{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_wechat_app' %}

{% block main %}
    <div class="panel panel-default notice-panel">
        <div class="panel-body">
            <i class="es-icon es-icon--check-circle text-success"></i>
            <h3 class="text-lg mbl">您已成功提交申请</h3>
            <div class="color-gray notice-desc mbl">网校运营顾问将会在3个工作日内与您取得联系，协助您开通 EduSoho 小程序。请保持电话畅通</div>
        </div>
    </div>
{% endblock %}