{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_wechat_app' %}

{% block main %}
    <div class="panel panel-default notice-panel">
        <div class="panel-body">
            <i class="glyphicon glyphicon-minus-sign text-danger"></i>
            <h3 class="text-lg mbl">您的网校为免费版，请联系官方购买SaaS套餐才能申请小程序！</h3>
        </div>
    </div>
{% endblock %}