.arrangement-panel__body {
  .fc-highlight {
    background-color: @brand-primary;
  }

  .fc-agenda-view .fc-time-grid-event {
    .fc-content {
      padding-left: 4px;
      .fc-time {
        padding-top: 4px;
      }
    }
  }

  .fc-time-grid-event.fc-short .fc-time {
    &:before,
    &:after {
      content: ''
    }
    span {
      display: block;
    }

  }

  .fc-event {
    right: -3% !important;
    border-left: 2px solid @brand-primary;
    color: darken(@brand-primary, 10%);
    background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.3);
    &:hover {
      cursor: pointer;
    }
  }

  .fc-cancel-event {
    .fc-status-event(@gray-medium);
  }
  .fc-done-event {
    .fc-status-event(#4caf6b);
  }
  .fc-ordered-event {
    .fc-status-event(#ffaa00);
  }

  .fc-status-event(@bg-color) {
    background-color: @bg-color !important;
    color: #fff !important;
    border: none !important;
  }
}

.delete-popover {
  position: absolute;
  width: 121px;
  min-width: 121px;
  padding-top: 0 !important;
  z-index: 1;
  border: 1px soild @gray-darker;
}

.delete-popover-content {
  padding: 12px;
  .border-radius;
  .es-transition;
  &:hover {
    cursor: pointer;
    .es-transition;
    background-color: @gray-light;
  }
}

.arrangement-popover {
  min-width: 150px;
  font-size: 12px;
  line-height: 1;
  .cd-box-shadow-z(12px);
}

.arrangement-popover--long {
  width: 278px;
}

.arrangement-popover__time {
  padding: 0;
  display: inline;
  border: none;
  width: 35px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  background-color: @gray-lighter;
  .border-radius(0);
}

.arrangement-popover__operate {
  margin-top: 10px;
  margin-bottom: 8px;
  span {
    line-height: 28px;
  }
}

.arrange-modal {
  .arrange-modal__dialog {
    @media (min-width: @screen-sm-min) {
      width: 600px !important;
    }
  }
  .arrange-modal__title {
    margin-bottom: 16px;
    line-height: 1;
  }
  .arrange-radio-item {
    line-height: 27px;
    label {
      font-weight: 400;
    }
  }
}
