.find-pay-password-main {
  padding: 0;
  min-height: 438px;
  .border-radius(4px);
  background-color: #fff;
  width: 776px;
  margin: 40px auto;
  @media(max-width: @screen-xs-max) {
    width: 100%;
  }
}

.find-pay-password-main__head {
  position: relative;
  .opacity(0.8);
  .border-bottom-left-radius(0);
  .border-bottom-right-radius(0);
  .cd-box-shadow(2px, 0.04, 0.16);
}

.find-way-wrap {
  margin: 40px auto 0;
  width: 70%;
  @media(max-width: @screen-xs-max) {
    padding: 0 10px;
    width: 100%;
  }
}

.find-way {
  margin: 0 auto;
  @media(min-width: @screen-xs-max) {
    width: 168px;
  }
  text-align: center;

  .find-way__svg {
    margin-bottom: 32px;
    padding: 21px 0;
    text-align: center;
    @media(min-width: @screen-sm-max) {
      width: 168px;
      height: 168px;
    }
    @media(max-width: @screen-xs-max) {
      margin-bottom: 4px;
      padding-top: 10px;
      height: 150px;
    }
  }
}

.find-way--two {
  float: left;
  & + .find-way--two {
    float: right;
  }
  .find-way__svg {
    @media(max-width: @screen-xs-max) {
      margin-bottom: 0;
      padding-top: 10px;
      width: 140px;
      height: 150px;
    }
  }
}

.find-password-btn {
  padding: 16px 20px !important;
  @media(max-width: @screen-xs-max) {
    font-size: 12px !important;
    padding: 6px 10px !important;
  }
}

.find-pay-password-form {
  margin: 80px auto 0;
  width: 276px;
  @media(max-width: @screen-xs-max) {
    margin: 40px auto 0;
    width: 80%;
  }
  .cd-form-group {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .cd-form-group-mobile {
    label {
      display: inline;
    }
    span {
      margin-left: 16px;
      margin-right: 12px;
      font-size: 24px;
      color: @brand-primary;
      letter-spacing: 0;
      line-height: 1;
    }
  }
  .cd-form-group-action {
    margin-top: 40px;
    margin-bottom: 24px;
    padding-right: 100px;
    .action-button {
      width: 84px;
      button {
        margin-top: 4px;
      }
    }
  }
}

.find-pay-password-feedback {
  .feedback-icon {
    i {
      font-size: 104px;
      color: @brand-success;
    }
  }
  .feedback-title {
    margin-bottom: 24px;
    font-size: 24px;
    color: @brand-primary;
    letter-spacing: 0;
    line-height: 1;
  }
  .feedback-content {
    font-size: 14px;
    color: @cd-gray-light;
    letter-spacing: 0;
    line-height: 1;
  }
}
