.my-header-section {
  background-color: #fff;
  .courseset-header-section-nav__heading {
    line-height: 64px !important;
  }
  .courseset-header-section-nav.nav > li {
    margin-right: 60px;
    a {
      padding: 24px 0;
    }
  }
}