.order-center {
  // margin-bottom: 24px;
  &-card {
    position: relative;
    background: #fafafa;
    .border-radius(4px);
    height: 108px;
    // margin-bottom: 24px;
    &__img {
      float: left;
      height: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
    &__info {
      overflow: hidden;
      padding: 24px;
    }
    &__title {
      font-size: 16px;
      color: @cd-gray-dark;
      margin-top: -4px;
      margin-bottom: 12px;
      line-height: 24px;
      font-weight: 500;
      .cd-text-overflow;
    }
    &__price {
      line-height: 1;
      font-size: 12px;
      color: @brand-danger;
    }
  }

  &-product-info {
    font-size: 12px;
    &__title {
      width: 54px;
      text-align: right;
      display: inline-block;
      color: @cd-gray;
    }
    &__content {
      margin-left: 4px;
      display: inline-block;
      color: @cd-gray-dark;
    }
    + &-product-info {
      margin-top: 16px;
    }
  }
  
  &-deduction {
    vertical-align: middle;
    margin-bottom: 24px;
    margin-top: 24px;
    line-height: 14px;
    &__title {
      font-size: 14px;
      color: @cd-gray-dark;
      float: left;
      width: 88px;
    }
    &__content {
      font-size: 12px;
      color: @cd-gray;
      font-weight: 500;
    }
    &__discount {
      color: @cd-gray;
      line-height: 20px;
    }
    &__action {
      float: right;
    }
  }
  &-line {
    height: 1px;
    .cd-box-shadow-inset(0 -1px 0 0);
  }
  &-coupon {
    .form-control {
      width: 176px;
    }
    .cd-form-group-action {
      padding-right: 78px;
    }
    .action-button {
      width: 70px;
    }
  }
  &-price {
    text-align: right;
    font-size: 12px;
    &__title {
      color: @cd-gray;
      display: inline-block;
    }
    &__content {
      width: 116px;
      color: @cd-gray-dark;
      display: inline-block;
    }
  }
  &-pay-list {
    margin-bottom: 24px;
  }
  &-pay-type {
    cursor: pointer;
    width: 140px;
    height: 40px;
    border: 2px solid #f5f5f5;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-right: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    img {
      height: 40px;
      width: auto;
    }
    &.active {
      border-color: @brand-primary;
    }
  }
  &-coin-use {
    .form-group {
      width: 176px;
      display: inline-block;
      margin-bottom: 24px;
      + .form-group {
        margin-left: 40px;
      }
    }
  }
}