@import '../module/calendar-month-view.less';
@import '../module/calendar-agenda-view.less';

@before-color:             rgba(0, 0, 0, 0.24);
@today-color:              #ffa51f;
@future-color:             #278bf5;

.schedule-panel {
  min-height: 834px;
  .schedule-panel__heading {
    padding: 12px 42px;
  }

  .fc-rigid {
    &:hover {
      z-index: 5;
    }
  }
}

.schedule-panel__body {
  padding: 24px 42px;

  .schedule-popover {
    padding: 4px 0 0 0;
    width: 205px;
    .cd-border-radius;
    .cd-box-shadow-z(12px);
    border: none;
    &.schedule-popover--before {
      background-color: @before-color;
    }
    &.schedule-popover--today {
      background-color: @today-color;
    }
    &.schedule-popover--future {
      background-color: @future-color;
    }
  }

  .schedule-popover-content {
    padding: 8px 8px 16px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .schedule-popover-content__item {
    margin-left: 22px;
    font-size: 12px;
    line-height: 14px;
  }

  .schedule-popover-content__time {
    font-size: 12px;
    line-height: 1;
  }
}

.schedule-panel-body__current-num {
  position: absolute;
  font-size: 18px;
  line-height: 1;
  color: @cd-gray-dark;
}

.fc-content {
  padding: 4px;
}

.fc-time,
.fc-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1;
}

.fc-toolbar .fc-center {
  margin-left: 120px;
}

.fc-unthemed td.fc-today,
.fc-unthemed th.fc-today {
  background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.08);
}

.fc-center {
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    color: @cd-gray;
  }
}

.fc-today-button {
  margin: 0 4px !important;
}

.fc-button {
  color: @cd-gray-dark;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #fff;
  .cd-border-radius;
  &:hover,
  &:focus {
    outline: none;
  }
}

.fc-state-default {
  background-color: transparent;
  background: none;
}

.fc-state-disabled {
  cursor: not-allowed !important;
}

.fc-row.fc-rigid {
  overflow: visible;
}

.fc-past {
  .fc-day-number,
  .week,
  .day {
    color: @cd-gray-light;
  }
}

.fc-today {
  .fc-day-number,
  .week,
  .day {
    color: @brand-primary;
  }
}

.fc-future {
  .fc-day-number,
  .week,
  .day {
    color: @cd-gray-dark;
  }
}

.calendar-before {
  background-color: @before-color;
  .cd-border-radius(2px);
  border: none;
  .cd-transition;
  &:hover {
    .cd-transition;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.16);
  }
}

.calendar-today {
  background-color: @today-color;
  .cd-border-radius(2px);
  border: none;
  .cd-transition;
  &:hover {
    cursor: default;
    background-color: rgba(red(@today-color), green(@today-color), blue(@today-color), 0.8);
  }
}

.calendar-future {
  background-color: @future-color;
  .cd-border-radius(2px);
  border: none;
  .cd-transition;
  &:hover {
    cursor: default;
    background-color: rgba(red(@future-color), green(@future-color), blue(@future-color), 0.8);
  }
}

