.wechat-inform-intro {
  margin-top: 16px;
  padding: 32px 16px;
  min-width: 368px;
  .introjs-arrow {
    right: 50%;
  }
  .introjs-skipbutton {
    background: transparent;
    border: none;
    position: absolute;
    outline: none;
    .box-shadow(none);
    &:hover,
    &:focus,
    &:active {
      color: #7a7a7a;
    }
    right: 0;
    top: -4px;
  }
}
.wechat-inform-content {
  font-size: 16px;
  line-height: 23px;
  color: #333;
  font-weight: bold;
}

.wechat-inform-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}