<div class="form-group">
  <label class="control-label col-md-3">内容</label>
  <div class="col-md-9">
    <textarea class="form-control" name="data[{{ code }}][{{ dataId }}][value]">{{ data.value|default('') }}</textarea>
  </div>
 </div>
