{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
    {% include 'CustomWebBundle:Question:question-header.html.twig' %}
{% endblock %}

{% block body %}
{# {% if itemResult.status == 'right' %}

  {% set itemResultStatus = '你答对了' %}

{% elseif itemResult.status == 'wrong' %}

  {% set itemResultStatus = '回答错误' %}

{% elseif itemResult.status == 'partRight' %}

  {% set itemResultStatus = '部分回答正确' %}

{% elseif itemResult.status == 'noAnswer' %}

  {% set itemResultStatus = '你未回答' %}

{% endif %} #}

{#   <div>
    <div class=""> #}
      {% include 'CustomWebBundle:Question:question-fill-answer.html.twig' %}

      {% include 'CustomWebBundle:Question:question-review-edit.html.twig' %}
{#     </div>
  </div> #}
{% endblock %}

{% block footer %}

{% endblock %}