<div class="question-eassy-form-control">
    <div class="question-eassy-answer">
        <strong>{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员')}}{% else %}学员{% endif %}回答:
        </strong>
    </div>
    <p>{{ itemResult.answer[0]|default('未回答')|raw }}</p>
</div>

<div class="question-eassy-form-control">
    {% for rightAnswer in question.answer %}
       <div class="question-eassy-rightanswer"><strong>正确答案</strong></div> 
       <p class="question-text-success">{{ rightAnswer|join(' 或 ')|raw }}</p>
    {% endfor %}
</div>