h3.subtitle
{
	margin: 0;
	color: #333;
	display: block;
	padding: 10px 0;
	font-size: 18px;
}

h3.title
{
	margin: 0;
	color: #333;
	display: block;
	padding: 10px 0;
	font-size: 24px;
}

h6.title
{
	height: 40px;
	line-height: 40px;
}

h6 span
{
	margin-right: 10px;
}

.content-body
{
	color: #444;
	font-size: initial;
}

.blod
{
	font-weight:bold;
}

.ui-list li a
{
	display: inherit;
}

.ui-content
{
	padding:8px;
	font-size: 16px;
}

.ui-center.low-height
{
	height: 80px;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.ng-enter, .ng-leave      { 
	position:absolute; 
	background-color: white;
	top: 5px;
	z-index: 10000;
	transition:0.5s all ease; 
	-moz-transition:0.5s all ease; 
	-webkit-transition:0.5s all ease; 
}
     
/* enter animation */
.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}
 
/* leave animation */
.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}
 
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to         { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {    
    to         { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to         { -webkit-transform: translateX(-200%); }
}
 
/* slide in from the right */
@keyframes slideInRight {
    from     { transform:translateX(200%); }
    to         { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from     { -moz-transform:translateX(200%); }
    to         { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from     { -webkit-transform:translateX(200%); }
    to         { -webkit-transform: translateX(0); }
}