{% extends 'TopxiaAdminBundle:Content:layout.html.twig' %}

{% block title %}导航管理 - {{ parent() }}{% endblock %}

{% set script_controller = 'navigation/page' %}
{% set menu = 'navigation' %}
{% set navType = 'navigation' %}

{% block main %}

<p style="display:none" id="navigationType">all</p>

{% include 'TopxiaAdminBundle:Navigation:navigation-page-header.html.twig'  %}

{% include 'TopxiaAdminBundle:Navigation:navigation-nav-tab.html.twig'  %}

<table id="navigation-table" class="table table-striped">

  {% include 'TopxiaAdminBundle:Navigation:navigation-tab-bytype.html.twig'  %}
  <tbody>
      {% for navigation in navigations%}
          {% include 'TopxiaAdminBundle:Navigation:navigation-tr.html.twig' with {navigation: navigation}  %}
      {% endfor %}
  </tbody>
  
</table>
    
   <div class="paginator">
    {{ web_macro.paginator(paginator) }}
   </div> 

{% endblock %}
