<div class="page-header clearfix">
    <h1 class="pull-left">导航管理</h1>

    {% if navType == 'navigation-top' %}
    
    <button class="btn btn-info btn-sm pull-right" id="add-navigation-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_navigation_create', {type:'top'}) }}">新增顶部导航</button>
    
    {% elseif navType == 'navigation-foot'  %}

    <button class="btn btn-info btn-sm pull-right" id="add-navigation-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_navigation_create', {type:'foot'}) }}">新增底部导航</button>

    {% endif %}

</div>