{% extends 'layout.html.twig' %}

{% block content %}
<div class="panel panel-default panel-col">
    <div class="images-info-list">镜像名称</div>
</div>
<div class="panel panel-default panel-col">
    <table class="table table-striped table-hover" id="images-table" style="word-break:break-all;">
        <thead>
            <tr>
                <th>编号</th>
                <th width="20%">镜像名称</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>
                <a class="btn btn-default btn-sm delete-course" href="javascript:;" data-url="{{ path('images_set_manage_version_info',{id:10}) }}">删除</a>
            </td>
        </tbody>
    </table>
</div>
<style>
    .images-info-list{
        position: relative;
        font-size: 16px;
        /* padding: 10px 0; */
        line-height: 30px;
        background: #fff;
    }
</style>
{% endblock %}