{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['app/js/question-manage/preview/index.js']) %}

{% block title %}{{'course.question_manage.preview'|trans}}{% endblock %}

{% set modal_class = 'modal-lg' %}

{% block body %}

  {% verbatim %}
    <div id="app">
    </div>
  {% endverbatim %}

  <input type="hidden" name="item" value="{{ item|json_encode }}">
  {% include 'attachment-upload/upload-data.html.twig'  %}
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">{{'form.btn.close'|trans}}</button>
{% endblock %}
