{% extends 'testpaper/subject/layout.html.twig' %}

{% set totalNum =  19 %}

{% block subtitle %}
  <div class="subject-data__subtitle subject-data__subtitle--question">
    <span class="js-total-num">共{{ totalNum }}道题</span>
  </div>
{% endblock %}

{% block testpaper %}
  {% for key,item in questions if item.type in ['choice', 'determine', 'essay', 'fill', 'single_choice', 'uncertain_choice', 'material'] %}
    {% include 'testpaper/subject/item/show/' ~ item.type ~ '.html.twig' %}
  {% endfor %}
{% endblock %}