{% extends 'testpaper/subject/layout.html.twig' %}

{% set totalNum =  19 %}

{% block subtitle %}
  <div class="subject-data__subtitle subject-data__subtitle--question">
    <span class="js-total-num">共{{ totalNum }}道题</span>
  </div>
{% endblock %}

{% block testpaper %}

{% endblock %}