<ul class="nav nav-pills">
	<li class="{% if threadType == 'course' %}active{% endif %}"><a href="{{ path('my_discussions') }}">{{'my.learning.question.course_thread'|trans}}</a></li>
	<li class="{% if threadType == 'classroom' %}active{% endif %}"><a href="{{ path('my_classroom_discussions') }}">{{'my.learning.question.classroom_thread'|trans({'%classroomName%':setting('classroom.name')|default('classroom'|trans) })}}</a></li>
</ul>
<br>
