.coupon-preview__container {
  padding: 25px 0 30px 20px;
  overflow: hidden;
  .e-coupon {
    &__container {
      width: 440px;
      height: 96px;
      overflow: hidden;
      margin-top: 20px;
    }
    &__body {
      position: relative;
      float: left;
      height: 96px;
      margin-right: 20px;
      line-height: 1;
      box-sizing: border-box;
      &:before {
        content: '';
        position: absolute;
        left: -6px;
        top: 52px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
      }
      &:after {
        content: '';
        position: absolute;
        right: -6px;
        top: 52px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
    &__title {
      line-height: 1;
      font-size: 18px;
      color: #2B333B;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 18px 15px 15px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      background-color: #FF6969;
      .coupon-button {
        box-sizing: border-box;
        height: 24px;
        line-height: 24px;
        width: 56px;
        text-align: center;
        font-size: 12px;
        color: #FF5353;
        background-color: #fff;
        border-radius: 4px;
      }
    }
    &__name {
      color: #fff;
      float: right;
      padding-right: 10px;
      padding-left: 10px;
    }
    &__middle {
      margin-top: -6px;
      margin-bottom: -1px;
      height: 6px;
      background-image: url('../../static/images/dot_red@2x.png');
      background-size: 16px 6px;
      background-position-x: 6px;
    }
    &__bottom {
      padding: 10px;
      background-color: #FF5353;
      color: #fff;
      font-size: 10px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &__price {
      display: inline-block;
      margin-top: -3px;
      color: #fff;
      font-size: 32px;
    }
    &-single {
      width: 335px;
      height: 112px;
      .e-coupon__body {
        margin-right: 0;
        width: 100%;
      }
      .e-coupon__header {
        padding-right: 10px;
        padding-left: 10px;
        .coupon-name {
          width: 142px;
        }
      }
      .coupon-button {
        display: inline-block;
        margin-top: 3px;
        margin-right: 5px;
      }
    }
    &-multi {
      .coupon-button {
        position: absolute;
        right: 15px;
        top: 19px;
      }
      .e-coupon__body {
        width: 196px;
      }
    }
    // 已领完
    .coupon-received-all {
      .e-coupon__header {
        background-color: #B0BDC9;
      }
      .e-coupon__middle {
        background-image: url('../../static/images/dot_grey@2x.png');
      }
      .e-coupon__bottom {
        background-color: #A5B2BE;
      }
      .coupon-button {
        display: none;
      }
      .stamp {
        background-image: url('../../static/images/received_all.png') !important;
      }
    }
    // 已领取
    .coupon-received {
      .stamp {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-image: url('../../static/images/received.png');
        background-size: 100%;
      }
    }
  }
}

.coupon-allocate__content {
  padding: 30px;
  background-color: #fff;
  .coupon-list-container {
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    .coupon-list-item {
      width: 100%;
      line-height: 1;
      padding: 11px 0;
      margin-left: 0;
      border-bottom: 1px solid #e1e1e1;
      color: $primary-color;
      .text-content {
        max-width: 18em;
      }
      .el-icon-close {
        position: static;
        float: right;
      }
      &:last-child {
        padding-bottom: 16px;
        border-bottom: none;
      }
      &:first-child {
        padding-top: 16px;
      }
    }
  }
}