<div class="alert alert-blank alert-sm">
	EduSoho教育云为您找到话题结果约 <span class="color-danger">{{counts}}</span>个
</div>

<ul class="nav nav-pills mbl js-nav-pills">
	<li class="active"><a href="javascript:;" data-url="">全部话题</a></li>
	<li><a href="javascript:;" data-url="">小组话题</a></li>
	<li><a href="javascript:;" data-url="">班级话题</a></li>
</ul>

<div class="media-list">
	<div class="media media-search">
		<div class="media-left">
			<div class="reply">
				3761<br>
				<span class="text-sm">回复</span>
			</div>
		</div>
		<div class="media-body">
			<div class="title"><a class="link-dark" href="">这是小组话题的标题，这是小组话题的标题</a></div>
			<p class="text-sm color-gray">来自<a class="mls" href="">xxxx小组</a><span class="mlm">今天 09:22</span></p>
		</div>
	</div>
	<div class="media media-search">
		<div class="media-left">
			<div class="reply">
				3761<br>
				<span class="text-sm">回复</span>
			</div>
		</div>
		<div class="media-body">
			<div class="title"><a class="link-dark" href="">这是小组话题的标题，这是小组话题的标题</a></div>
			<p class="text-sm color-gray">来自<a class="mls" href="">xxxx小组</a><span class="mlm">今天 09:22</span></p>
		</div>
	</div>
	<div class="media media-search">
		<div class="media-left">
			<div class="reply">
				3761<br>
				<span class="text-sm">回复</span>
			</div>
		</div>
		<div class="media-body">
			<div class="title"><a class="link-dark" href="">这是小组话题的标题，这是小组话题的标题</a></div>
			<p class="text-sm color-gray">来自<a class="mls" href="">xxxx小组</a><span class="mlm">今天 09:22</span></p>
		</div>
	</div>
	<div class="media media-search">
		<div class="media-left">
			<div class="reply">
				3761<br>
				<span class="text-sm">回复</span>
			</div>
		</div>
		<div class="media-body">
			<div class="title"><a class="link-dark" href="">这是小组话题的标题，这是小组话题的标题</a></div>
			<p class="text-sm color-gray">来自<a class="mls" href="">xxxx小组</a><span class="mlm">今天 09:22</span></p>
		</div>
	</div>
	<div class="media media-search">
		<div class="media-left">
			<div class="reply">
				3761<br>
				<span class="text-sm">回复</span>
			</div>
		</div>
		<div class="media-body">
			<div class="title"><a class="link-dark" href="">这是小组话题的标题，这是小组话题的标题</a></div>
			<p class="text-sm color-gray">来自<a class="mls" href="">xxxx小组</a><span class="mlm">今天 09:22</span></p>
		</div>
	</div>
</div>