<div class="alert alert-blank alert-sm">
  {{'为您找到教师结果约'|trans}} <span class="color-danger">{{counts}}</span>{{'个'|trans}}
</div>
<div class="teacher-list row">
  {% for teacher in resultSet %}
  {% set profile = teacher.profile %}
  {% set isFollowed = teacher.isFollowed|default(false) %}
    <div class="col-lg-4 col-md-6 col-xs-6">
      {% include 'TopxiaWebBundle:Search:search-teacher-item.html.twig' %}
    </div>
  {% endfor %}
</div>