{% extends 'TopxiaWebBundle:ActivityManage:layout.html.twig' %}

{% block title %}活动附件 - {{ parent() }}{% endblock %}

{% set side_nav = 'attachment' %}
{% set script_controller = 'activity-manage/picture' %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">
    活动附件
  </div>

  <div class="panel-body">
  
  </div>
</div>

{% endblock %}

