{% extends 'layout.html.twig' %}

{% do script(['libs/vue.js', 'app/js/goods/show/index.js']) %}

{% block title %}商品页{% endblock %}
{% block full_content %}
  <div id="show-product-page" data-current-user-id="{{ app.user.id|default(null) }}"></div>
{% endblock %}