// @gray-base:             #000;
// @gray-darker:           #313131;
// @gray-dark:             #616161;
// @gray:                  #919191;
// @gray-medium:           #c1c1c1;
// @gray-light:            #e1e1e1;
// @gray-lighter:          #f5f5f5;
// @bg-color:              #fafafa;
// @bg-new-color:          #f5f8fa;
// @border-color:          #e4ecf3;

.bg-gray {
  background-color: @gray!important;
}

.bg-gray-lighter {
  background-color: @gray-lighter!important;
}

.bg-color {
  background-color: @bg-color !important;
}


.bg-primary {
  background-color: @brand-primary !important;
}
.bg-success {
  background-color: @brand-success!important;
}