.link-darker {
  color: @gray-darker !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}

.link-dark {
  color: @gray-dark !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}

.link-gray {
  color: @gray !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}


.link-light {
  color: @gray-light !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}
.link-lighter {
  color: @gray-lighter !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}

.link-medium {
  color: @gray-medium !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}

.link-white {
  color: #fff !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}

.link-primary {
  color: @brand-primary !important;
  .es-transition;
  &:hover {
    color: @brand-primary !important;
    .es-transition;
  }
}