// 元素间距类
.mts {margin-top: 5px !important;}
.mtm {margin-top: 10px !important;}
.mtl {margin-top: 20px !important;}
.mt0 {margin-top: 0 !important;}


.mrs {margin-right: 5px !important;}
.mrm {margin-right: 10px !important;}
.mrl {margin-right: 20px !important;}
.mr0 {margin-right: 0 !important;}

.mbs {margin-bottom: 5px !important;}
.mbm {margin-bottom: 10px !important;}
.mbl {margin-bottom: 20px !important;}
.mb0 {margin-bottom: 0 !important;}

.mls {margin-left: 5px !important;}
.mlm {margin-left: 10px !important;}
.mll {margin-left: 20px !important;}
.ml0 {margin-left: 0 !important;}

.mhs {margin-left: 5px !important; margin-right: 5px !important;}
.mhm {margin-left: 10px !important; margin-right: 10px !important;}
.mhl {margin-left: 20px !important; margin-right: 20px !important;}
.mh0 {margin-left: 0 !important; margin-right: 0 !important;}

.mvs {margin-top: 5px !important; margin-bottom: 5px !important;}
.mvm {margin-top: 10px !important; margin-bottom: 10px !important;}
.mvl {margin-top: 20px !important; margin-bottom: 20px !important;}
.mv0 {margin-top: 0 !important; margin-bottom: 0 !important;}

.pts {padding-top: 5px !important;}
.ptm {padding-top: 10px !important;}
.ptl {padding-top: 20px !important;}
.pt0 {padding-top: 0 !important;}

.prs {padding-right: 5px !important;}
.prm {padding-right: 10px !important;}
.prl {padding-right: 20px !important;}
.pr0 {padding-right: 20px !important;}

.pbs {padding-bottom: 5px !important;}
.pbm {padding-bottom: 10px !important;}
.pbl {padding-bottom: 20px !important;}
.pb0 {padding-bottom: 20px !important;}

.pls {padding-left: 5px !important;}
.plm {padding-left: 10px !important;}
.pll {padding-left: 20px !important;}
.pl0 {padding-left: 20px !important;}

.phs {padding-left: 5px !important; padding-right: 5px !important;}
.phm {padding-left: 10px !important; padding-right: 10px !important;}
.phl {padding-left: 20px !important; padding-right: 20px !important;}
.ph0 {padding-left: 0 !important; padding-right: 0 !important;}

.pvs {padding-top: 5px !important; padding-bottom: 5px !important;}
.pvm {padding-top: 10px !important; padding-bottom: 10px !important;}
.pvl {padding-top: 20px !important; padding-bottom: 20px !important;}
.pv0 {padding-top: 0 !important; padding-bottom: 0 !important;}