.es-footer-mobile{
  display: none;
  height: 40px;
  background-color: #212121;
  position: relative;
  color: @gray;
  font-size: 12px;
  .ICP{
    margin-right: 80px;
    text-align: center;
    line-height: 40px;
  }
  .pc-version-button{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 80px;
    line-height: 40px;
    background-color: #313131;
  }
}