.login-face-verification {
  text-align: center;
  padding: vw(200) 0;
  .btn-open-camera {
    display: inline-block;
    padding: vw(10) vw(30);
    margin-top: vw(30);
    border: none;
    background-color: #ffa51f;
    border-radius: 0;
    color: #fff;
    font-size: vw(14);
  }
  .img-content {
    width: 60%;
    margin-top: vw(-100);
    margin-bottom: vw(30);
  }
}