.prelogin {
  font-size: vw(12);
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    width: vw(120);
    margin-top: 21vh;
  }
  &-text {
    color: #B0BDC9;
    font-size: vw(14);
    margin-top: 16px;
  }
  &-btn {
    -webkit-text-fill-color: white;
    margin-top: vw(32);
    border-radius: vw(47);
    min-width: vw(156);
    background: $primary-color;
  }
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: vw(50) vw(15);
  align-items: center;
  &-title {
    font-size: vw(20);
    -webkit-text-fill-color: #2b333b;
    font-family: PingFangSC-Regular;
  }
  &-hint {
    font-size: vw(15);
    -webkit-text-fill-color: #bdc2c6;
    font-family: PingFangSC-Regular;
    margin-top: vw(20);
  }
  &-input {
    margin-top: vw(30);
    left: 0;
    padding: vw(10) 0;
    &.van-cell:not(:last-child)::after {
      left: 0;
    }
  }
  &-account {
    margin-top: vw(15);
    align-self: flex-end;
    font-size: vw(13);
    font-family: PingFangSC-Regular;
    color: $primary-color;
  }

  &-bottom {
    width: 100%;
    text-align: left;
    font-size: vw(15);
    a {
      font-size: vw(15);
    }
  }
  .face-icon {
    position: absolute;
    bottom: vw(50);
    left: 50%;
    margin-left: vw(-20);
    img {
      width: vw(40);
      height: vw(40);
    }
  }
}
