{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'app' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
    <div class="panel panel-default">
      <div class="panel-heading">优惠码管理</div>
      <div class="list-group">
        <a href="{{ url('admin_coupon') }}" class="list-group-item {% if menu == 'coupon_batch' %}active{% endif %}">优惠码批次管理</a>
        <a href="{{ url('admin_coupon_query') }}" class="list-group-item {% if menu == 'coupon_query' %}active{% endif %}">优惠码使用查询</a>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}