<ul class="text-list">
    {% if hotThreads %}
        {% for thread in hotThreads %}
        <li style="border-bottom:none;background:url('{{asset('assets/img/default/triangle.png')}}') no-repeat 0 3px;padding-left:8px;padding-top:0px;margin-bottom:8px;"><a  href="{{path('group_thread_show',{id:thread.groupId,threadId:thread.id})}}">{{thread.title|sub_text(textNum|default('15'))}}</a></li>
        {% endfor %}
    {% else %}
        <div class="empty">{{'group.thread.empty_tips'|trans}}</div>
    {% endif %}
</ul>