{% extends 'TopxiaWebBundle:Course:dashboard-layout.html.twig' %}

{% block title %}{{ course.title }} - {{ parent() }}{% endblock %}

{% set bodyClass = 'course-dashboard-page' %}

{% set script_arguments = {course_uri: path('course_show', {id:course.id})} %}

{% block dashNav %}
   {% include 'TopxiaWebBundle:Course:dashboard-nav.html.twig' with {nav:'lesson'} %}
{% endblock %}
{% block dashboard_main %}
  {# 头部信息 #}
  {# {{ render(controller('TopxiaWebBundle:Course:header', {course:course})) }} #}
  
  {% if items is empty %}
    <ul class="media-list">
      <li class="mvl tac text-muted">课程暂无课时内容</li>
    </ul>
  {% else %}
    {% include 'TopxiaWebBundle:CourseLesson:item-list.html.twig' with {files: files, show: true} %}
  {% endif %}
{% endblock %}
  {% block relatedCourses %}
    {% if setting('course.relatedCourses') == 1 %}
      {{ render(controller('TopxiaWebBundle:Course:relatedCoursesBlock',{course:course})) }}
    {% endif %}
  {% endblock %}