{% set subQuestions = item.subQuestions %}
<div class="subject-item" id="{{ key }}">
  <div class="subject-item__title">
    <span class="subject-item__number">{{ key }}</span>
    {{ item.stem }}
  </div>
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>

{% for subKey,subQuestion in subQuestions %}
  {% include 'testpaper/subject/item/show/sub-' ~ subQuestion.type ~ '.html.twig' with {'item' : subQuestion, 'position' : 'sub', 'key' : key, 'subKey' : subKey} %}
{% endfor %}