<div class="subject-item subject-sub-item" id="{{ key~'_'~subKey }}">
  <div class="subject-item__body">
    <span class="subject-sub-item__number">{{ '(' ~ loop.index ~ ')'  }}</span><span>{{ item.stem }}</span>
    <div class="subject-sub-item__answer"><span class="subject-sub-item__label">答案：</span><span class="">{{ item.answer }}</span></div>
  </div>
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>