{% extends 'old-layout.html.twig' %}

{% block title %}{{'register.email_verify.failed'|trans}} - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-section login-section">
  <div class="section-header">
    <h3>{{'register.email_verify.failed'|trans}}</h3>
  </div>
  <div class="alert alert-danger">{{'register.email_verify.address_overdue'|trans}}</div>
</div>
{% endblock %}
