{% extends 'layout.html.twig' %}
{% block title %}{{'user.register.service_protocol'|trans}} - {{ parent() }}{% endblock %}
{% block content %}
<div class="es-section">
  <div class="section-header"><h1>{{'user.register.service_protocol'|trans}}</h1></div>
  {{ userTerms|raw }}
</div>
{% endblock %}

