<div class="well well-sm text-sm color-gray mtl clearfix" style="line-height:60px">
  <img class="mrm" src="{{ asset('assets/img/default/cloud_video.png') }}" height="60px" width="107px">{{ 'course.question.question_background'|trans }}
  <span class="pull-right">
    <a  class="attachment-preview btn btn-sm btn-info"  href="#attachment-modal"  data-toggle="modal" data-url="{{ path('course_thread_ask_video_show', {'threadId': thread.id}) }}">{{ 'attachments.preview.preview_btn'|trans }}</a>
  </span>
</div>