<html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'>
  <style>
    body{
      padding : 16px;
      font-size:110%;
      color:#4d4d4d;
      background:#f5f5f5;
    }

    p {
      text-indent:50px;
    }

    .center{
      text-align: center;
    }

    .right{
      text-align: right;
    }

  </style>
</head>
<body>
  <h3 class="center">免责声明</h3>
<h5>尊敬的客户，您好！</h5>
<p>在您使用本平台服务前，请您认真阅读本声明内容。</p>
  <p>杭州阔知网络科技有限公司（以下简称“阔知公司”）是在线教育软件服务商，为企业、个人提供平台软件从事在线教育运营，即阔知公司是平台软件技术服务方，平台商业运营主体为……公司（以下简称“商业运营公司”），对此，阔知公司做如下声明：
  </p>
<p>1、阔知公司不对商业运营公司的运营行为承担任何法律责任，包括但不限于：</p>
<p>（1）与平台注册人员的纠纷；</p>
<p>（2）与商业合作方（课程提供者、制作方等）纠纷；</p>
<p>（3）侵犯第三方权利产生的纠纷，如知识产权类纠纷；</p>
<p>（4）政府机关行政管理责任；</p>
<p>（5）违反网络安全、信息安全等法律责任；</p>
<p>（6）刑事法律责任；</p>
<p>（7）其他应由商业运营公司自身行为引发的法律责任。</p>
<p>2、您作为平台访问客户，须对自身的访问行为负责，包括但不限于：</p>
<p>（1）不当访问平台引发的法律责任，包括违法访问、访问时操作失误等情形；</p>
<p>（2）注册平台账户及后期账户管理责任；</p>
<p>（3）登录使用平台等对应法律责任；</p>
<p>（4）根据商业运营公司指示完成的信息输出、登录动作等；</p>
<p>（5）侵犯第三方权利产生的纠纷，如知识产权类纠纷；</p>
<p>（6）与商业运营公司的民事法律纠纷；</p>
<p>（7）违反网络安全、信息安全等法律责任；</p>
<p>（8）涉及刑事责任；</p>
<p>（9）其他应由访问者自行承担的责任。</p>
<p>3、商业运营公司、访问客户须对平台正常使用承担法律责任：</p>
<p>（1）不得恶意攻击平台；</p>
<p>（2）不得故意制作、传播病毒破坏平台运行；</p>
<p>（3）不得利用平台从事违法犯罪行为；</p>
<p>（4）不得将无权的内容再平台展示、用于商业运营；</p>
<p>（5）其他影响平台软件运营的行为；</p>
<p>4、阔知公司作为平台软件承建方及技术运维方，有权根据商业运营公司、访问者的违法犯罪行为采取相应措施，包括但不限于冻结账户、关闭账户权限、报警等，对此，阔知公司不承担违约赔偿责任。</p>
<p>5、阔知公司应司法机关、行政机关要求提供商业运营公司、访问者信息的，对此，阔知公司不承担任何责任。</p>
<p>6、商业运营公司、访问客户在平台存储的数据，自己应做好备份，平台后台维护期间因商业运营公司、访问客户未及时备份等原因造成数据遗失的，阔知公司不承担责任。</p>
<p>7、如出现网络黑客对平台进行攻击，盗取商业运营公司、访问客户资料等情况，阔知公司承诺及时安排技术人员处理并抢救资料信息，但就被黑客盗取资料造成的损失，阔知公司不承担责任。</p>
<p>8、由于现有技术水平的局限，平台使用过程中存在的技术瑕疵，阔知公司对此不承担责任，阔知公司后期将通过软件版本升级解决，阔知公司欢迎访问客户进行问题反馈，供后期软件版本升级参考。</p>
<p>9、阔知公司不保证服务一定会满足所有访问客户的使用要求，也不保证服务不会被中断，对服务的及时性、安全性、准确性也不作任何担保。</p>
<p>10、商业运营公司使用阔知公司平台软件、访问客户访问平台并继续使用平台软件的，即视为接受本声明，如不同意本声明内容，请结束访问并拒绝注册账户。</p>
<p>11、本声明的最终解释权归杭州阔知网络科技有限公司所有，阔知公司有权不经提前通知进行内容调整，调解后的新声明将在相关页面提示修改内容，商业运营公司、访问客户如不同意修改后的内容，可以放弃使用或者访问本平台或取消已经获得的服务；否则，视为接受本声明的修改。</p>
<p>12、任何因本声明引发的法律纠纷，应提交阔知公司所在地人民法院解决。</p>

<p class="right">声明人：杭州阔知网络科技有限公司</p>
<p class="right">二零二一年七月二十六日</p>



</body>

</html>