{% extends 'layout.html.twig' %}

{% do script(['app/vue/views/my/learning/wrong_question_book/detail/index.js']) %}

{% block content %}
{% include 'testpaper-copy-style.html.twig' %}
<div id="app"></div>
{% endblock %}
