{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.wrong_question_book'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-wrong-question-book' %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="panel-heading">
      {{ 'my.wrong_question_book'|trans }}
    </div>
    <div class="panel-body">
    </div>
  </div>
{% endblock %}