{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% do script(['libs/ckeditor.js','libs/jquery-validation.js'], 500) %}

{% block body %}
  <div class="tab-content" id="iframe-content">
    <div class="tab-pane js-course-tasks-pane active js-step2-view">
      <form class="form-horizontal" id="step2-form" >
        {% block activity_content %}
        {% endblock %}
      </form>
    </div>
    <div class="tab-pane js-course-tasks-pane js-step3-view">
      <form class="form-horizontal" id="step3-form" >
        {% block activity_finish %}
      {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}



