<div class="well well-sm" style="margin-bottom:10px">
  <span style="padding-right:50px">标签:</span>

  <div class="form-group">
    <input type="hidden" id="tags" name="tags" data-url="{{ path('tag_match') }}"> 
  </div>
</div>