{# {% if showTestpaperNavbar|default('on') == 'off' %} #}
	<form id='teacherCheckForm' autocomplete="off">
{# {% endif %} #}
{% for type in types|default(null) %}

<div class="panel panel-default testpaper-question-block" id="testpaper-questions-{{ type }}">
  <div class="panel-heading"><strong class="">{{dict('questionType')[type]}}</strong>
  </div>
  <div class="panel-body">
ssss
  </div>
</div>

{% endfor %}

{% if showTestpaperNavbar|default('on') == 'off' %}
<textarea name="teacherSay" id="teacherSay" style="display:none"></textarea>
{% endif %}


</form>