{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{course.title}} - {{ parent() }}{% endblock %}

{# {% set script_controller = 'quiz-question/do-test' %} #}

{% block content %}


  <div class="es-row-wrap homework-heading">
    <div class="row">
      <div class="col-sm-12">

        {% block homework_heading_content %} {% endblock %}
       
      </div>

    </div>
  </div>

  {% block homework_body_content %} {% endblock  %}
   
{% endblock %}