<div id="testpaper-questions-uncertain_choice" class="panel panel-default testpaper-question-block">
  <div class="panel-heading"><strong class="">不定项选择题</strong>
  	<small class="text-muted">共1题，共2分</small>
  </div>
  <div class="panel-body">

		
			
									


<div id="question21" class="testpaper-question testpaper-question-choice">

			<div class="testpaper-question-body">
    <div class="testpaper-question-stem-wrap clearfix">
  <div class="testpaper-question-seq-wrap">
    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
  </div>
      <div class="testpaper-question-stem">{{subQuestion.stem}}</div>
    </div>
		<ul class="testpaper-question-choices">
						  			  
				<li class=""><span class="testpaper-question-choice-index">A.</span> aaaa</li>
														  			  
				<li class=""><span class="testpaper-question-choice-index">B.</span> bbbb</li>
														  			  
				<li class=""><span class="testpaper-question-choice-index">C.</span> ccccc</li>
																							  			  
				<li class=""><span class="testpaper-question-choice-index">D.</span> ddddd</li>
														  			  
				<li class=""><span class="testpaper-question-choice-index">E.</span> eeeeeee</li>
																						</ul>
	</div>
			<div class="testpaper-question-footer clearfix">

		  <div class="testpaper-question-choice-inputs">
									
					<label class="checkbox-inline ">
						<input type="checkbox" value="0" name="21" data-type="choice">
						A
					</label> 
									
					<label class="checkbox-inline ">
						<input type="checkbox" value="1" name="21" data-type="choice">
						B
					</label> 
									
					<label class="checkbox-inline ">
						<input type="checkbox" value="2" name="21" data-type="choice">
						C
					</label> 
									
					<label class="checkbox-inline ">
						<input type="checkbox" value="3" name="21" data-type="choice">
						D
					</label> 
									
					<label class="checkbox-inline ">
						<input type="checkbox" value="4" name="21" data-type="choice">
						E
					</label> 
						  </div>
		  <div class="testpaper-question-actions pull-right">
			


		  </div>
		</div>

		

	</div>


				
					  </div>
</div>
