
<div class="panel panel-default testpaper-question-block" id="testpaper-questions-material">
  <div class="panel-heading"><strong class="">材料题</strong>
  	<small class="text-muted">共{{typeQuestionsNum['material']}}题</small>
  </div>
{% for subQuestion in material_questions %} 	
  <div class="panel-body">

<div class="material">


	<div class="well testpaper-question-stem-material">{{ subQuestion.stem|fill_question_stem_html|bbCode2Html|raw }}</div>

{% if subQuestion.subQuestions %}

{# {{dump(subQuestion.subQuestions)}} #}

		{% for subType,subQuestionVal in subQuestion.subQuestions %}

	{% set subType = subQuestionVal.type %}
	{% set materialFlag = 1 %}

	  {# {% include 'TopxiaWebBundle:CourseLessonManage:homework-question-'~subType~'.html.twig' %} #}
			{% if subType in ['single_choice', 'choice', 'uncertain_choice'] %}
							{% include 'TopxiaWebBundle:CourseLessonManage:homework-question-single_choice.html.twig' %}

					  {% elseif subType == 'fill' %} 
					  		{% include 'TopxiaWebBundle:CourseLessonManage:homework-question-fill.html.twig' %}
					{#   {% elseif  subType == 'determine'  %}
					    	{% include 'TopxiaWebBundle:CourseLessonManage:homework-question-determine.html.twig' %}
					  {% elseif  subType == 'essay'  %} 
						    {% include 'TopxiaWebBundle:CourseLessonManage:homework-question-essay.html.twig' %}
					  {% elseif  subType == 'material'  %}  	

					      {% include 'TopxiaWebBundle:CourseLessonManage:homework-question-material.html.twig' %} #}
				      
			{% endif %}
	{% endfor %}
{% endif %}
	
</div>
				
  </div>
  {% endfor %}
</div>