{# wenda#}


<div id="testpaper-questions-essay" class="panel panel-default testpaper-question-block">
  <div class="panel-heading"><strong class="">问答题</strong>
  	<small class="text-muted">共{{typeQuestionsNum['essay']}}题</small>
  </div>
  <div class="panel-body">

		
			
							{% for subQuestion in essay_questions %} 	
					<div id="question16" class="testpaper-question testpaper-question-essay">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
  <div class="testpaper-question-seq-wrap">
    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
  </div>
      <div class="testpaper-question-stem">{{subQuestion.stem}}</div>
    </div>  </div>

	
		<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-essay-inputs">
		  	<textarea style="overflow:hidden;line-height:20px;" rows="1" class="form-control testpaper-question-essay-input-short"></textarea>

			<textarea style="display:none;" name="16" data-type="essay" class="form-control testpaper-question-essay-input-long"></textarea>

			<a style="display:none" class="btn btn-link btn-muted btn-sm testpaper-question-essay-input-btn"><span class="glyphicon glyphicon-chevron-up text-muted"></span> 收起</a>

		  </div>
		  <div class="testpaper-question-actions pull-right">
		  	

		  </div>
	  </div>


	  
	  

	</div>
			{% endfor %}		
					  </div>
</div>