<div class="answer-progress">
	<p class="answer-title">答题进度</p>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.percent}}%">
			<span class="sr-only">80% Complete (danger)</span>
		</div>
	</div>
	<div class="num"><span class="gray-darker">{{progress.seq}}</span><span class="mhs">/</span>{{progress.count}}</div>
</div>