<div class="editbox">
  <div class="editbox-body">
    <div class="scalebox">
      <a class="scale" id="default-scale">
        <div class="scale-details">
          <ul class="lesson-list"></ul>
        </div>
      </a>
    </div>
    <ul class="lesson-list gruop-lesson-list" id="editbox-lesson-list">
    </ul>
    <span class="remask">将左侧题目拖放到此处</span>
  </div>
</div>
