<div class="editbox">
  <div class="scalebox">
    <a class="scale" id="default-scale">
      <div class="scale-details">
        <ul class="lesson-list"></ul>
      </div>
    </a>
  </div>
  <ul class="lesson-list gruop-lesson-list" id="editbox-lesson-list">
  </ul>
</div>