{% block stylesheets %}
  <style>
    .lesson-dashboard .coord
    {
      left: 20px;
      height: 130px;
      bottom:10px;
      position:absolute;
    }

  </style>
{% endblock %}

<div class="coord">
	ddddddddd
</div>