{% if students %}
<div class="es-panel student-column">
  <div class="panel-heading clearfix">最新学员<span class="student-icon"></span></div>
  <div class="panel-body">
    <ul>
      {% for  student in students %}
      {% set user = data('User',{userId:student.id})%}  
        <li>
          <div class="avatar"><a href="{{ path('user_show', {id:user.id}) }}"><img src="{{ filepath(user.smallAvatar, 'avatar.png') }}"></a></div>
          <div class="student-name"><a href="{{ path('user_show', {id:user.id}) }}">{{user.nickname}}</a></div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}