<ul class="dropdown-menu open-class-dropdown">
  {% for otherPeriod in otherPeriods %}
    <li><a href="{{ path('course_show', {id:otherPeriod.id})}}">第{{ otherPeriod.periods | num2chinese }}次开课</a></li>
  {% endfor %}
</ul>