<div class="course-grid">
  <a href="{{ path('course_show', {id:course.id}) }}" class="grid-body">
    <img src="{{ default_path('coursePicture',course.largePicture, 'large') }}"  class="img-responsive thumb">
      {% if course.status == 'draft' %}
        <span class="label  label-warning course-status">未发布</span>
      {% elseif course.status == 'closed' %}
        <span class="label label-danger course-status">已关闭</span>
      {% endif %} 
      {% if course.serializeMode=='serialize' %}
        <span class="label label-success series-mode-label">更新中</span>
      {% elseif course.serializeMode=='finished' %}
        <span class="label label-warning series-mode-label">已完结</span>
      {% endif %}

      {% if course.type == 'live' %}
        {% set lesson = course['lesson']|default(null) %}
        {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
          <span class="label label-warning series-mode-label">正在直播中</span>
        {% else %}
          <span class="label label-success series-mode-label">直播</span>
        {% endif %}
      {% endif %}

    <span class="title">{{ course.title }}</span>

    <div class="learn-status">
      {% if course.memberIsLearned %}
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
        </div>
      {% else %}
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: {{ percent(course.memberLearnedNum, course.lessonNum) }};"></div>
        </div>
      {% endif %}
      <div class="action"><span class="btn btn-default btn-sm">查看课程</span></div>
    </div>
    {% if course.status == 'draft' %}
      <span class="label  label-warning course-status">未发布</span>
    {% elseif course.status == 'closed' %}
      <span class="label label-danger course-status">已关闭</span>
    {% endif %}       
  </a>
</div>