{% extends 'TopxiaWebBundle:Parent:layout.html.twig' %}

{% block title %}在学课程 - {{ parent() }}{% endblock %}

{% set side_nav = 'parent-child-courses' %}

{% block main %}
	<div class="panel panel-default">
		<div class="panel-body">
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</div>

{% endblock %}