{% extends 'TopxiaWebBundle:Parent:layout.html.twig' %}

{% block title %}在学课程 - {{ parent() }}{% endblock %}

{% set side_nav = 'parent-child-courses' %}

{% block main %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				{% for course in courses %}
					<div class="col-md-4">
						{% include 'TopxiaWebBundle:Parent:child-courses-item.html.twig'%}
					</div>
			  {% else %}
			    <div class="empty">暂无学习中的课程</div>
			  {% endfor %}
			</div>
		</div>
	</div>

{% endblock %}