{% extends 'TopxiaWebBundle:Parent:child-thread.html.twig' %}

{% block title %}参与问答 - {{ parent() }}{% endblock %}

{% block list %}
  {% if threads %}
    {% include 'TopxiaWebBundle:MyThread:thread-list.html.twig'  with {type: 'question'} %}
  {% else %}
    <div class="empty">暂无提问的记录</div>
  {% endif %}
{% endblock %}