{% extends 'layout.html.twig' %}

{% set bodyClass = 'ca-disign' %}

{% block full_content %}
  <div class="container ca-container">
    <div class="ca-content">
      {% block sidebar %}
        {% include 'v2/sidebar.html.twig' %}
      {% endblock %}

      {% block main %}
        <div class="ca-main">
          <div class="ca-main__heading">
            {% block main_heading %}
              <div class="ca-main__title">
                {{ pageTitle }}
              </div>
            {% endblock %}
          </div>
          <div class="ca-main__body">
            {% block main_body %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block esBar %}
{% endblock %}

{% block floatConsult %}
{% endblock %}

{% block footer %}
{% endblock %}