{% extends 'layout.html.twig' %}

{% set bodyClass = 'cd-design' %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content">
      {% block sidebar %}
        {% include 'v2/sidebar.html.twig' with { side_nav: side_nav|default('') } %}
      {% endblock %}

      {% block main %}
        <div class="cd-main">
          <div class="cd-main__heading">
            {% block main_heading %}
              <div class="cd-main__title">
                {% block page_title %}{% endblock %}
              </div>
            {% endblock %}
          </div>
          <div class="cd-main__body">
            {% block main_body %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block esBar %}
{% endblock %}

{% block floatConsult %}
{% endblock %}
