@brand-primary:          #14954B;
@brand-success:          #14954B;
@brand-info:             #177ED7;
@brand-warning:          #F46300;
@brand-danger:           #E80404;

@cdv2-dark-major:          #000;
@cdv2-dark-minor:          #333;
@cdv2-dark-assist:         #666;

@cdv2-light-minor:           #999;
@cdv2-light-assist:          #bebebe;

@cdv2-bg:                  #f5f5f5;
@cdv2-bg-dark:             #f0f0f0;
@cdv2-bg-light:            #f9f9f9;

@cdv2-border:              #e1e1e1;

@cdv2-icon: #cdcdcd;

@screen-xs-min:          480px;
@screen-sm-min:          768px;
@screen-md-min:          992px;
@screen-lg-min:          1200px;

@screen-xs-max:          (@screen-sm-min - 1);
@screen-sm-max:          (@screen-md-min - 1);
@screen-md-max:          (@screen-lg-min - 1);