body {
  padding-top: 0;
  line-height: 1.42857143;
}
.admin-layout-container {
  .cd-fixed-top {
    height: 60px !important;
    background-color: #333;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.05);
  }

  .admin-navbar-brand {
    .cdv2-text-lg;
    color: #fff !important;
  }

  .cd-tabs > li > a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #bebebe;
    .cdv2-text-md;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .cd-tabs {
    height: 60px;
    > li + li {
      margin-left: 24px;
    }
  }

  .cd-layout-aside_bread {
    display: none;
  }
  
  .ct-layout-navbar_ul {
    li {
      position: relative;
      > a {
        .es-transition;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 16px !important;
        font-weight: normal !important;
        img {
          display: none;
        }
        &:hover,
        &:focus {
          .es-transition;
          color: #fff !important;
          opacity: 1 !important;
          text-decoration: none;
        }
      }
      &.new {
        &:before {
          content: 'New';
          position: absolute;
          right: -10px;
          top: 10px;
          padding: 0px 3px;
          color: #fff;
          font-size: 12px;
          background-color: #ed3e3e;
          border-radius: 20px;
          z-index: 10;
        }
      }
      .es-transition;
      &:last-child {
        a {
          height: auto !important;
          margin-top: 16px;
          margin-bottom: 16px;
          padding: 4px 18px 4px 24px !important;
          .cdv2-text-md;
          border-radius: 16px;
          background-color: rgba(255,255, 255, 0.2);
          color: #fff !important;
          .es-transition;
          &:hover,
          &:focus {
            .es-transition;
            background-color: #fff !important;
            color: #333 !important;
            opacity: 1 !important;
          }
          img {
            display: inline-block;
            margin-right: 8px;
          }
          span {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            vertical-align: middle;
          }
        }
        &.active {
          a {
            margin-top: 16px;
            margin-bottom: 16px !important;
            padding: 4px 18px 4px 24px !important;
          }
        }
      }
      &.active {
        .es-transition;
        a {
          margin-top: 16px;
          margin-bottom: 16px !important;
          padding: 4px 16px !important;
          background-color: #fff !important;
          border-radius: 16px !important;
          color: #333 !important;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .cd-fixed-top {
    .ct-top-logo {
      padding-top: 18px;
      padding-bottom: 18px;
      .cdv2-text-lg;
    }
  }

  .cd-fixed-top .ct-layout-navbar {
    position: absolute;
    left: 25%;
    transform: translateX(-20%);
  }

  .change-version-btn {
    height: 60px;
    line-height: 60px;
    a {
      .cdv2-text-md;
      color: #bebebe;
      .es-transition;
      &:hover,
      &:focus {
        .es-transition;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .ct-layout-person_center {
    .user-avatar-toggle {
      height: 60px !important;
      color: #fff !important;
      font-size: 14px !important;
      line-height: 60px;
      text-decoration: none;
      span {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .dropdown-arrow {
      position: absolute;
      left: 50%;
      margin-left: -8px;
      top: -6px;
      background-color: #fff;
      width: 12px;
      height: 12px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .user-dropdown {
      width: 100%;
      height: 60px;
      box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    }
    .user-logout {
      font-size: 14px !important;
      line-height: 20px;
      color: #666;
      i {
        color: #bebebe;
        vertical-align: text-bottom;
      }
    }
  }

  .cd-layout-sidebar {
    width: 184px !important;
    .cd-sidebar-container {
      padding-left: 0;
      ul {
        padding-left: 0;
      }
    }
  }

  .cd-layout-aside {
    margin-left: 184px !important;
  }

  .cd-layout-sidebar ul li>a {
    padding-right: 16px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    text-decoration: none !important;
    color: #333 !important;
    .es-transition;
    &:hover,
    &:focus {
      .es-transition;
      color: #428bca !important;
    }
    &.active {
      background-color: rgba(66,139,202,0.1) !important;
      position: relative !important;
      color: #428bca !important;
    }
    .cd-icon-arrow-up {
      line-height: 24px;
      color: #bebebe;
    }
  }

  .cd-layout-adside_content {
    margin-top: 16px !important;
    margin-left: 16px !important;
    margin-right: 64px !important;
    padding: 6px 16px 16px;
    height: auto !important;
    min-height: 660px;
  }

  .cd-layout-main {
    padding-top: 60px !important;
    .cd-layout-sidebar {
      top: 60px;
      padding-bottom: 80px;
      overflow-y: auto;
      ul {
        display: block;
      }
    }
  }
}