<div class="materials-group bottom">
  <li class="all"><span>筛选：</span></li>
  <div class="form-inline">
    <div class="form-group es-materials-filter">
      <input class="form-control" type="text" id="startDate" name="startDate" value="" placeholder="起始时间">  
      -
      <input class="form-control" type="text" id="endDate" name="endDate" value="" placeholder="结束时间">
    </div>
    <div class="form-group" >
      <select class="form-control js-process-status-select" name="processStatus">
        <option value="">转码状态</option>
        <option value="ok">转码成功</option>
        <option value="waiting">转码中</option>
        <option value="error">转码失败</option>
      </select>
    </div>
    {% if pageType == 'file' %}
      <div class="form-group" >
        <select class="form-control js-use-status-select" name="useStatus">
          <option value="">使用状态</option>
          <option value="unused">未使用</option>
          <option value="used">已使用</option>
        </select>
      </div>
    {% endif %}
  </div>

 {#  <div class="checkbox">
    <label>
      <input type="checkbox" name="processStatus" value="error"> 转码失败
    </label>
  </div> #}
</div>
