<ul class="materials-nav nav nav-tabs js-tags-container">
  <li class="all"><span>类型：</span></li>
  <li class="active js-type-btn" data-value=""><a class="item" href="javascript:;">全部</a></li>
  <li class="js-type-btn " data-value="video"><a class="item" href="javascript:;">视频</a></li>
  <li class="js-type-btn " data-value="flash"><a class="item" href="javascript:;">flash</a></li>
  <li class="js-type-btn " data-value="audio"><a class="item" href="javascript:;">音频</a></li>
  <li class="js-type-btn " data-value="image"><a class="item" href="javascript:;">图片</a></li>
  <li class="js-type-btn " data-value="document"><a class="item" href="javascript:;">文档</a></li>
  <li class="js-type-btn " data-value="ppt"><a class="item" href="javascript:;">PPT</a></li>
  <li class="js-type-btn " data-value="other"><a class="item" href="javascript:;">其它</a></li>
  <input type="hidden" name="type" value="{{ type|default('') }}">
</ul>
