{% extends 'admin/operation-analysis/analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/paid-classroom' %}
{% set href="admin_operation_analysis_classroom_paid" %}
{% set menu = 'paid-classroom' %}
{% block analysisBody %}
  <div class="col-md-12">
		{% if tab=="trend" %}
			<div id="line-data"></div>
			<input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'>
			<input id="paidClassroomStartDate"  type="hidden" value='{% if paidClassroomStartDate %}{{paidClassroomStartDate}}{% endif %}'>
		{% elseif tab=="detail" %}
			{% include 'admin/operation-analysis/paid-classroom.table.html.twig' %}
		{% endif %}
  </div>
{% endblock %}
