{% extends "activity/content-layout.html.twig" %}

{% do script(['web/activity/flash/index.js']) %}

{% block body %}

  <div id="flash-player" data-uri="{{ flashMedia.uri }}" data-finish-type="{{ flash.finishType }}"
       data-finish-detail="{{ flash.finishDetail }}">
  </div>

{% endblock %}