{% do script(['app/js/activity/flash/index.js']) %}
<div class="task-preview-modal-content">
  <div id="flash-player" data-uri="{{ flashMedia.uri }}" data-finish-type="{{ flash.finishType }}" data-finish-detail="{{ flash.finishDetail }}">
  </div>
</div>