  <div class="questionset-item">

    <div class="questionset-item-side">
      <span class="question-set-item-seq">{{ questionset.seq }}</span>
      {% if questionset.score > 0 %}
        <span class="questionset-item-score">{{ questionset.score }}</span>
      {% endif %}
    </div>

    <div class="questionset-item-main">
      {% set question = questionset.question %}
      {% set itemResult = questionset.itemResult|default(null) %}
      {% include 'TopxiaWebBundle:Question2:question-' ~ question.type ~ '-' ~ questionStatus ~ '.html.twig' %}

    </div>

  </div>