{% extends 'layout.html.twig' %}

{% block title %}{{classroom.title}} - {{ parent() }}{% endblock %}

{% do load_script('topxiawebbundle/controller/classroom/classroom-join') %}

{% block top_content %}
{% include 'seajs_loader_compatible.html.twig' with {'topxiawebbundle':true} %}

{{ render(controller('AppBundle:Classroom/Classroom:header',{classroomId:classroom.id,previewAs:app.request.get('previewAs')|default("")})) }}

{% endblock %}


{% block content %}
  <div class="class-detail row">
    {% block main %} {% endblock %}
  </div>
{% endblock %}
