<!doctype html>

<head>
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>
  </title>
</head>

<body>
<div id="lesson-document-content"></div>
<script>
  var app = {};
  app.controller = "../widget/document-player";
  app.mainScript = "/bundles/topxiaweb/js/app.js?4.9.0";
</script>

<script src="{{ asset('assets/libs/seajs/seajs/2.2.1/sea.js?4.9.0') }}"></script>
<script src="{{ asset('assets/libs/seajs-global-config.js?4.9.0') }}"></script>

<script>
window.$ = window.jQuery = seajs.require('jquery');
seajs.use(app.mainScript);

var html = '<iframe id=\'viewerIframe\' width=\'100%\'allowfullscreen webkitallowfullscreen height=\'100%\'></iframe>';
$("#lesson-document-content").html(html).show();

var player = new DocumentPlayer({
    element: '#lesson-document-content',
    swfFileUrl:'{{swfUri}}',
    pdfFileUrl:'{{pdfUri}}'
});
</script>

</body>
</html>