<ul class="materials-nav nav nav-tabs useType-tabs js-tags-container">
  <li class="all"><span>应用：</span></li>
  <li class="active js-useType-btn" data-value=""><a class="item" href="javascript:;">全部</a></li>
  <li class="js-useType-btn " data-value="group"><a class="item" href="javascript:;">小组</a></li>
  <li class="js-useType-btn " data-value="question"><a class="item" href="javascript:;">试题</a></li>
  <li class="js-useType-btn " data-value="course"><a class="item" href="javascript:;">课程讨论区</a></li>
  <li class="js-useType-btn " data-value="classroom"><a class="item" href="javascript:;">班级话题</a></li>
  <li class="js-useType-btn " data-value="article"><a class="item" href="javascript:;">资讯</a></li>
  <input type="hidden" name="useType" value="{{ useType|default('') }}">
  <input type="hidden" name="resType" value="attachment">
</ul>
