.ant-table-thead > tr > th .ant-table-filter-icon, 
.ant-table-thead > tr > th .anticon-filter {
  position: static;
  > svg {
    position: static;
    margin: 0;
  }
}

.ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
}