{% extends 'WebBundle:CourseSetManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'plan' %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      {{'默认教学计划/教学计划管理'|trans}}
      <button class="btn btn-success btn-sm pull-right">发布计划</button>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li {% if content_tab == 'task-list' %}class="active"{% endif %}><a>计划任务</a></li>
        <li class=""><a>计划设置</a></li>
        <li class=""><a>营销设置</a></li>
        <li class=""><a>教师设置</a></li>
        <li class=""><a>学员管理</a></li>
      </ul>
      {% block task_manage %}{% endblock %}
    </div>
  </div>
{% endblock %}



