.multi-group {
  position: relative;
  .multi-list {
    margin-bottom: 0;
  }
  .list-group {
    margin-bottom: 20px;
  }
  .label-name {
    display: inline-block;
    width: 160px;
    margin-left: 5px;
  }
  .btn-close {
    float: right;
    display: inline-block;
    margin-top: 2px;
    &.btn-close-lg  {
      margin-top: 0;
      height: 50px;
      line-height: 42px;
    }
  }
}