.multi-group {
  position: relative;
  .multi-list {
    margin-bottom: 0;
  }
  .list-group {
    margin-bottom: 20px;
    .placeholder {
      margin-bottom: 0;
    }
    .label-name {
      width: 160px;
    }
  }
}