.homepage .teachers ul, 
.homepage .vip ul {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 0px;
  list-style: none;
  @media (max-width: 767px) {
    margin-right: -5px;
    margin-left: -5px;
  }
}
.teachers li, .vip li {
  padding-right: 10px;
  padding-left: 10px;
  @media (max-width: 767px) {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.teachers-item {
  margin-bottom: 20px;
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  @media (max-width: 767px) {
    padding: 20px 10px 10px;
  }
}

.teachers-item a, .promot-teacher a {
  display: block;
  line-height: 24px;
  text-decoration: none;
}

.teachers-item img {
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.teachers-item span {
  line-height: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  color: #00b780;
}

.teachers-item i {
  margin-bottom: 10px;
  display: block;
  font-style: normal;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none;
  }
}

.teachers-item p {
  margin-top: 20px;
  font-size: 12px;
  height: 40px;
  text-align: left;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.vip-item {
  border: 1px solid #e1e1e1;
}

.vip-item .row {
  margin-left: -15px;
  margin-right: -15px;
  .col-sm-4{
    @media ( max-width: 767px ) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.vip-lists li {
  margin-bottom: 20px;
}

.vip-item h3, .vip-item p {
  color: #555;
}

.vip-item h4 {
  color: #e57259;
  text-decoration: none;
  text-align: center;
}

.vip-item img {
  width: 100%;
}

.vip-item a {
  overflow: hidden;
}
.vip-item h3{
  @media ( max-width: 767px ) {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
  } 
}
.vip-item .vip-Img{
  @media ( max-width: 767px ) {
    padding-left: 14px;
  }
}
.vip-item p{
  font-size: 12px;
  padding: 0 10px;
  height:20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.vip-price,.vip-img,.vip-intro{
  @media ( max-width: 767px ) {
    margin-top: 0;
    padding: 0;
  }
}