{% extends 'WebBundle:CourseManage:layout.html.twig' %}

{% block title %}{{ '教学计划列表'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'plan' %}
{% set use_webapck_loader = true %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      {{'教学计划列表'|trans}}
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <th>名称</th>
          <th>任务数</th>
          <th>学员</th>
          <th>价格（元）</th>
          <th>编辑</th>
        </thead>
        <tbody>
          <tr>
            <td>默认教学计划<span class="label label-warning mll">会员免费</span>
              <span class="label label-warning mll">6折</span></td>
            <td>16</td>
            <td>2000</td>
            <td>100.00</td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-sm" href="/course/1/tasks">编辑</a>
                <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="/course/4/manage/lesson"></a></li>
                  <li><a href="/course/4/manage/files">删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}