<div class="thread-activity-title-bar">
  <span class="label label-success" title="活动">活动</span>
  <h1 class="thread-title">{{ thread.title }}</h1>
  {% if thread.sticky %}
    <span class="label label-danger" title="置顶帖">置顶</span>
  {% endif %}
  {% if thread.nice %}
    <span class="label label-warning" title="精华帖">精</span>
  {% endif %}
</div>