<div class="topic-filter clearfix">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">发话题 <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="javascript:;">发话题</a></li>
      <li><a href="javascript:;">提问题</a></li>
      <!-- 班级里有发活动 -->
      <!-- <li><a href="javascript:;">发活动</a></li> -->
    </ul>
  </div>
  <ul class="nav nav-pills">
    <li {% if filters.type == 'all' %} class="active"{% endif %}>
      <a class="btn btn-default btn-sm" href="{{ path('classroom_threads', {classroomId:classroom.id}|merge(filters)|merge({type:'all'})) }}">全部</a>
    </li>
    <li {% if filters.type == 'question' %} class="active"{% endif %}>
      <a class="btn btn-default btn-sm" href="">问答</a>
    </li>
    <li>
      <a class="btn btn-default btn-sm" href="{{ path('classroom_threads', {classroomId:classroom.id}|merge(filters)|merge({type:'nice'})) }}">精华</a>
    </li>
    <li class="dropdown hidden-xs">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span>排序：</span>
          最后回复
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="">最后回复</a></li>
        <li><a href="">最新发帖</a></li>
      </ul>
    </li>
  </ul>
</div>