<li class="{% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" title="{{setting("classroom.name")|default("班级")}}活动 {% if not active %}<small class='text-muted'>(暂未提供)</span>{% endif %}" data-content="不定期组织各种线上或线下的{{setting("classroom.name")|default("班级")}}活动，让学习更加生动有趣，同学关系更为紧密">动</a>
</li>