<li class="five {% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" title="班级活动" data-content="不定期组织各种线上或线下的班级活动，让学习更加生动有趣，同学关系更为紧密">
    <i class="es-icon es-icon-landscape"></i>
  </a>
</li>