<li class="{% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" title="24小时作业批改 {% if not active %}<small class='text-muted'>(暂未提供)</span>{% endif %}" data-content="24小时内完成作业批改，即时反馈并巩固您的学习效果">练</a>
</li>