<li class="two {% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" title="24小时作业批改" data-content="24小时内完成作业批改，即时反馈并巩固您的学习效果">
    <i class="es-icon es-icon-doneall"></i>
  </a>
</li>