<li class="{% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" title="一对一在线答疑 {% if not active %}<small class='text-muted'>(暂未提供)</span>{% endif %}" data-content="提供专属的一对一在线答疑，快速答疑解惑">疑</a>
</li>