<li class="four {% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" title="提问必答" data-content="对于提问做到有问必答，帮您扫清学习过程中的种种障碍">
    <i class="es-icon es-icon-help1"></i>
  </a>
</li>