<li class="three {% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" title="24小时阅卷点评" data-content="教师提供直播答疑，帮助学生">
    <i class="es-icon es-icon-findinpage"></i>
  </a>
</li>