<li class="{% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" title="就业指导 {% if not active %}<small class='text-muted'>(暂未提供)</span>{% endif %}" data-content="完成全部学习后，老师对您的学习成果和能力水平给出评估，并提供专业化的就业指导">业</a>
</li>