<li class="seven {% if active %}active{% endif %}">
  <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" title="就业指导" data-content="完成全部学习后，老师对您的学习成果和能力水平给出评估，并提供专业化的就业指导">
    <i class="es-icon es-icon-flag"></i>
  </a>
</li>