{% extends 'courseset-manage/header.html.twig' %}

{% block js %}
{% endblock %}

{% block btn %}
  <div class="cd-btn cd-btn-ghost-primary">{{ 'course.manage_btn'|trans }}</div>
{% endblock %}

{% block close %}
{% endblock %}