{% extends 'courseset-manage/header.html.twig' %}

{% block js %}
{% endblock %}

{% block btn %}
  <a class="cd-btn cd-btn-ghost-primary" target="_blank" href="{{ path('course_set_manage_base', {id: courseSet.id}) }}">{{ 'course.manage_btn'|trans }}</a>
{% endblock %}

{% block close %}
{% endblock %}