{% import "common/data-dict-macro.html.twig" as dict_macro %}
{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.teaching.page_title'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-live-calendar' %}

{% do script(['libs/fullcalendar.js', 'app/js/my/teaching-calendar/index.js'])  %}


{% block main %}
  <div id='calendar'></div>
{% endblock %}