{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.teaching.live_schedule_menu'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-live-calendar' %}

{% do script(['libs/fullcalendar.js', 'app/js/my/teaching-calendar/index.js'])  %}


{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      {{'my.teaching.live_schedule_menu'|trans}}
    </div>

    <div class="panel-body schedule-panel-body">
      <div class="schedule-panel-body__current-num">今日课程数：<span class="cd-text-lg">22</span></div>
      <div id='calendar'></div>
      <div id="todayDateStr" class="hidden">{{"now"|date('Y-m-d')}}</div>
    </div>
  </div>
{% endblock %}