{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.teaching.live_schedule_menu'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-live-calendar' %}

{% do script(['libs/fullcalendar.js', 'app/js/my/teaching-calendar/index.js'])  %}


{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      {{'my.teaching.live_schedule_menu'|trans}}
    </div>
    <div class="schedule-popover">
      <div class="schedule-popover__time">
        <i class="es-icon es-icon-history"></i>
        <div class="cd-ml8">
          <span class="cd-text-gray-dark cd-text-xs">2017年12月11日 周四</span>
          <div class="cd-text-gray cd-text-xs">09:30～10:30</div>
        </div>
      </div>
      <div class="schedule-popover__content">
        <i class="es-icon es-icon-eventnote"></i>
        <div class="cd-text-gray cd-mr8">产品经理高端课程，随便学都能学会的无敌厉害的课程，虽然名字有点长，但是还挺好的真不错谢谢大家！</div>
      </div>
    </div>
    <div class="panel-body schedule-panel-body">
      <div class="schedule-panel-body__current-num">今日课程数：<span class="cd-text-lg">22</span></div>
      <div id='calendar'></div>
      <div id="todayDateStr" class="hidden">{{"now"|date('Y-m-d')}}</div>
    </div>
  </div>
{% endblock %}