{% extends 'my/layout.html.twig' %}

{% do script(['vue3/js/my/learning/item-bank/index.js']) %}

{% set bodyClass = 'my-course cd-design' %}
{% set side_nav = 'my-question-bank' %}

{% block title %}{% endblock %}

{% block main %}
  <div id="item-bank-list"></div>
{% endblock %}
