{% macro user_link(user, modal = 'user-modal') %}
	<a href="javascript:;" role="show-user" data-toggle="modal" data-backdrop="static" data-target="#{{ modal }}" data-url="{{ url('admin_user_show', {id:user.id}) }}">{{ user.nickname }}</a>
    {% if user.emailVerified %}
      <span class="text-success" title="邮件已验证"><i class="glyphicon glyphicon-envelope"></i></span>
    {% endif %}

    {% if user.locked %}
      <span class="text-danger" title="已封禁" data-toggle="tooltip"><i class="glyphicon glyphicon-ban-circle"></i></span>
    {% endif %}
{% endmacro %}