{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{'common.logLevel.info'|trans}}{% endblock %}
{% block body %}
  <div class="alert alert-info">{{'course.buy_failed_tips'|trans}}~</div>
{% endblock %}