{% extends 'TopxiaAdminBundle:Content:layout.html.twig' %}

{% block title %}课程轮播管理 - {{ parent() }}{% endblock %}

{% set menu = 'admin_courseCarousel' %}
{# {% set script_controller = 'block/list' %} #}
{% block main %}
<div class="page-header">
  <h1>课程轮播管理</h1>
</div>

<table id="block-table" class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>显示</th>
      <th>分类</th>
      <th>专栏</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for courseCarousel in courseCarousels %}
      {% set category = categories[courseCarousel.categoryId]|default('') %}
      {% set column = columns[courseCarousel.columnId]|default('') %}
      {% include 'CustomAdminBundle:CourseCarousel:list-tr.html.twig' %}
    {% else %}
      <div class="empty">暂无课程轮播设置</div>
    {% endfor %}
  </tbody>
</table>

{# {{ web_macro.paginator(paginator) }}  #}
{% endblock %}