<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>讲课</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="/bundles/openliveplugin/assets/css/main.css" rel="stylesheet">
</head>
<body>
<div class="B-launch_page">
  <div class="front">
    <div class="container">
      <p class="title clearp">
        <a href="https://www.baijiayun.com/classroomdown" target="_blank" class="download-link"> 下载客户端 </a>点击
        <a href="{{ clientEntryUrl }}" id="start_button_1" class="js-start-btn color-primary launch-link">“启动桌面端”</a>按钮开始上课
      </p>
      <div>
        <p class="clearp btnC" style="display: inline-block;margin-left: 20px;margin-right: 20px;">
          <a href="{{ clientEntryUrl }}" id="start_button_2"  class="js-start-btn button">启动桌面端</a>
        </p>
        <p class="clearp btnC" style="display: inline-block;margin-left: 20px;margin-right: 20px;">
          <a href="{{ webEntryUrl }}" id="start_button_3" class="js-start-btn button">进入网页端</a>
        </p>
      </div>
      <p class="clearp btnC download">
        <a href="https://www.baijiayun.com/classroomdown" target="_blank" class="button clear-button">还未安装？下载桌面端</a>
      </p>
      <img src="/bundles/openliveplugin/assets/img/mac.png" srcset="/bundles/openliveplugin/assets/img/mac@2x.png 2x" alt="" class="mac_pic">
    </div>
  </div>
  <div class="back">
    <div class="moving_balls_group">
      <img src="/bundles/openliveplugin/assets/img/Oval-blue.png" srcset="/bundles/openliveplugin/assets/img/Oval-blue@2x.png 2x" alt="" class="ball blue">
      <img src="/bundles/openliveplugin/assets/img/Oval-green.png" srcset="/bundles/openliveplugin/assets/img/Oval-green@2x.png 2x" alt="" class="ball green">
      <img src="/bundles/openliveplugin/assets/img/Oval-gray.png" srcset="/bundles/openliveplugin/assets/img/Oval-gray@2x.png 2x" alt="" class="ball gray">
    </div>
  </div>
</div>
</body>
</html>
