{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|bbCode2Html|raw }}
{% endblock %}

{% block body %}

 {% set rightAnswerIndex = question.answer[0]|default(null) %}

  <div class="homework-question-result">
    {% if itemResult.status == 'right' %}
	   <span class="glyphicon glyphicon-ok question-text-success"></span> 
    {% elseif itemResult.status == 'wrong' %}
       <span class="glyphicon glyphicon-remove question-text-danger"></span> 
    {% elseif itemResult.status == 'noAnswer' %}
　　　  <span class="glyphicon glyphicon-remove question-text-danger"></span> 未答题
    {% endif %}
	 正确答案是: <strong style="color:red">{% if rightAnswerIndex == 1 %} 正确 {% else %} 错误 {% endif %}</strong>
</div>

{% endblock %}

{% block footer %}

{% endblock %}