{% extends 'TopxiaWebBundle::layout-for-install.html.twig' %}

{% block title %}私信 - {{ parent() }}{% endblock %}

{% block content %}
	
		  
<div class="container">
    
  <div class="es-row-wrap">

      <div class="row">

        <div class="col-lg-9">
          
            <div class="es-box">


		  <div class="es-box-heading">
            <h1>环境检测</h1>
          </div>

          <div class="step">
            <ul>
              <li > <em>1</em> 检测环境
              </li>

              <li > <em>2</em> 创建数据
              </li>

              <li > <em>3</em> 完成安装
              </li>
            </ul>
          </div>

      <div class="form">

		<form class="form-horizontal" id="create-data-form" action=" " role="form" action="" method="post">
           

			 <label> 超级管理员</label>

            <div class="form-group">
              <label for="super_manager" class="col-sm-2 control-label">超级管理员帐号：</label>
              <div class="col-sm-10">
                <input type="text" id="super_manager" name="super_manager" class="form-control input">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


           <div class="form-group">
              <label for="super_manager_pd" class="col-sm-2 control-label">密码：</label>
              <div class="col-sm-10">
                <input type="password" class="form-control input" id="super_manager_pd" name="super_manager_pd">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


            <div class="form-group">
              <label for="super_manager_ckpd" class="col-sm-2 control-label">重复密码：</label>
              <div class="col-sm-10">
                <input type="password" class="form-control input" id="super_manager_ckpd">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


             <div class="form-group">
              <label for="super_manager_email" class="col-sm-2 control-label">Email：</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="super_manager_email" id="super_manager_email">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>

            <div class="tac">
              <button type="submit" class="btn btn-primary btn-lg">创建超级管理员</button>
            </div>

        </form>

        </div>
        <hr>

          </div>

        </div>

      </div>

  </div>

</div>

{% endblock %}