{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}安装 - {{ parent() }}{% endblock %}

{% block body %}

<p>管理员</p>

<div>

 <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
 </form>

</div>
{% endblock %}