{% extends 'TopxiaWebBundle::layout-for-install.html.twig' %}

{% block title %}初始化系统 - {{ parent() }}{% endblock %}

{% set script_controller = 'install/init-system' %}

{% block content %}
	
<div class="container" style="width:940px">
    
  <div class="es-row-wrap">

      <div class="row">

        <div class="col-lg-12">
          
          <div class="es-box">
            
            <div class="setup-wizard">
              <span class="pull-left text-primary" style="font-weight:900;font-size:250%">Edusoho</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="text-success" style="font-weight:900;font-size:250%">安装向导</span>
            </div>
            <hr>

           <ul class="nav nav-pills nav-justified" style="font-weight:900;font-size:150%">
            <li class="disabled"><a style="color:green">1 环境检测</a></li>
            <li class="disabled"><a style="color:green">2 创建数据库</a></li>
            <li class="active disabled"><a>3 初始化系统</a></li>
            <li class="disabled"><a>4 进入首页</a></li>
          </ul>
          <hr>

		<form class="form-horizontal" id="create-data-form" action=" " role="form" action="" method="post">
           

			 <label> 超级管理员</label>

            <div class="form-group">
              <label for="site-name" class="col-sm-2 control-label">站点名称</label>
              <div class="col-sm-10">
                <input type="text" id="site-name" name="site-name" class="form-control input">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>

            <div class="form-group">
              <label for="super_manager" class="col-sm-2 control-label">超级管理员帐号：</label>
              <div class="col-sm-10">
                <input type="text" id="super_manager" name="super_manager" class="form-control input">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


           <div class="form-group">
              <label for="super_manager_pd" class="col-sm-2 control-label">密码：</label>
              <div class="col-sm-10">
                <input type="password" class="form-control input" id="super_manager_pd" name="super_manager_pd">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


            <div class="form-group">
              <label for="super_manager_ckpd" class="col-sm-2 control-label">重复密码：</label>
              <div class="col-sm-10">
                <input type="password" class="form-control input" id="super_manager_ckpd">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>


             <div class="form-group">
              <label for="super_manager_email" class="col-sm-2 control-label">Email：</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="super_manager_email" id="super_manager_email">
                <p class="help-block"><span class="text-danger"></span></p>
              </div>
            </div>

            <div class="tac">
              <button type="submit" id="init-system" class="btn btn-primary btn-lg">初始化系统</button>
            </div>

        </form>
        
          </div>

        </div>

      </div>

  </div>

</div>

{% endblock %}