{% extends 'TopxiaWebBundle::layout-for-install.html.twig' %}

{% block title %}完成安装 - {{ parent() }}{% endblock %}

{% block content %}
	
		  
<div class="container" style="width:940px">
    
	<div class="es-row-wrap">

  	<div class="row">

      <div class="col-md-12">
        
        <div class="es-box">

            <div class="setup-wizard">
              <span class="pull-left text-primary" style="font-weight:900;font-size:250%">Edusoho</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="text-success" style="font-weight:900;font-size:250%">安装向导</span>
            </div>
            <hr>

			<ul class="nav nav-pills nav-justified">
	            <li class="disabled"><a style="color:green">1 环境检测</a></li>
	            <li class="disabled"><a style="color:green">2 创建数据库</a></li>
	            <li class="disabled"><a style="color:green">3 初始化系统</a></li>
	            <li class="active disabled"><a>4 完成安装</a></li>
          	</ul>
          	<hr>

				<h3 align="center"> 恭喜你！你已经成功安装了Edusoho1.0版本！ <h3>
				<h4 align="center" class="text-warning"> 如果想重新安装，请在删除 "web/install/install.lock" 文件之后进行！<h4>
			   <a type="button" style="margin-bottom:20px;" href="{{ path('homepage') }}" class="btn btn-success pull-left">进入前台首页</a>
			   <a type="button" style="margin-bottom:20px;"href="{{ path('admin') }}" class="btn btn-primary pull-right">进入后台首页</a>

			</div>

	        <hr>

        </div>

      </div>

  	</div>

	</div>

</div>

{% endblock %}