<li class="list-group-item">
  <a href="{{ path('activity_material_download', {activityId:material.activityId, materialId:material.id}) }}">{{ material.title }}</a>
  <button class="close delete-btn" type="button" title="删除" data-url="{{ path('activity_material_delete', {id:material.activityId, materialId:material.id}) }}">&times;</button>
</li>