.ui-autocomplete {
 border:1px solid #ccc;
 background-color: #FFFFFF;
 box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
margin:0;
padding:0;
}
.ui-autocomplete-item {
width: 180px;
overflow:hidden;
text-overflow: ellipsis;
white-space: nowrap;
line-height: 30px;
padding:0 10px 0 10px;
cursor: default;
}
.ui-autocomplete-item-hover {
background:#f2f2f2;
}
.ui-autocomplete-item-hl {
background:#F6FF94;
}
