{% extends 'admin/layout.html.twig' %}

{% set menu = menu|default('admin_course_category_manage') %}

{% block main %}

  <ul class="list-table" id="category-table" style="margin-bottom: 0">
    <li class="th">
      <div class="row">
        <div class="td col-md-7">{{'admin.category_manage.name_th'|trans}}</div>
        <div class="td col-md-2">{{'admin.category_manage.code_th'|trans}}</div>
        <div class="td col-md-3">{{'admin.category_manage.operate_th'|trans}}</div>
      </div>
    </li>
    {% include 'admin/category/tbody.html.twig' %}
  </ul>
{% endblock %}