
  <div class="container">
    <div class="cow">
      {% for i in 0..2 %}
        <div class="feature-item col-sm-4">
          <img class="img-responsive" src="{{ banner[i].src|default('') }}" alt="">
          <h4>{{ banner[i].value|default('') }}</h4>
        </div>
      {% endfor %}

    </div>
  </div>
