<button class="cd-btn cd-btn-info cd-btn-sm mhs" id="announcement-add-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('announcement_add', {targetType: 'course', targetId: course.id}) }}"><i class="glyphicon glyphicon-plus"></i> {{'course.announcements_manage.add_btn'|trans}}</button>
