{% set side_navs = {'tasks':'course.plan_task'|trans,'info': 'course.plan_base_info'|trans,
'marketing':'course.marketing_setup'|trans,'teachers':'course.teacher_setup'|trans,'students':'course.members_manage'|trans,'testpaper-check':'course.testpaper_check'|trans
,'homework-check':'course.homework_check'|trans,'dashboard':'course.dashboard'|trans,'orders':'course.order'|trans, 'overview' :'course.plan_overview'|trans, 'live-statistics':'course.live_statistics'|trans} %}
{% set menuType = 'course' %}
{% if course_side_nav in ['base', 'detail', 'cover', 'question', 'testpaper', 'files','plan'] %}
    {% set menuType = 'courseSet' %}
{% endif %}

{# 直播课程不需要显示计划发布功能 #}

<div class="cd-main__title">
  {{ side_navs[code]|trans }}
</div>
{% if btnGroup|default() %}
  <div class="course-main-header__operation">
    {% include 'course-manage/panel-header/' ~ code ~ '-btn-group.html.twig' with {code: side_nav} %}
  </div>
{% endif %}
