{% set side_navs = {'tasks':'course.plan_task'|trans,'info': 'course.plan_base_info'|trans,'announcements': 'course.announcement_manage',
  'marketing':'course.marketing_setup'|trans,'teachers':'course.teacher_setup'|trans,'students':'course.members_manage'|trans,'testpaper-check':'course.testpaper_check'|trans
  ,'homework-check':'course.homework_check'|trans,'dashboard':'course.dashboard'|trans,'orders':'course.order'|trans, 'overview' :'course.plan_overview'|trans
  ,'live-statistics':'course.live_statistics'|trans, 'replay':'course.replay_manage.content_title'|trans, 'wrong-questions': '学员错题'|trans, 'exit': 'course.members_manage'|trans} %}
{% set menuType = 'course' %}
{% if course_side_nav in ['base', 'detail', 'cover', 'question', 'testpaper', 'files','plan'] %}
  {% set menuType = 'courseSet' %}
{% endif %}

{# 直播课程不需要显示计划发布功能 #}

<div class="cd-main__title">
  {{ side_navs[code]|trans }}
</div>
{% if btnGroup|default() %}
  <div class="course-main-header__operation">
    <button class="cd-btn cd-btn-primary cd-btn-sm course-order-js-export-btn" type="button" id="student-add-btn" data-toggle="modal" data-target="#modal"><i class="es-icon es-icon-filedownload"></i> {{'form.btn.export'|trans}}</button>
    {% include 'export/export-modal.html.twig' %}
  </div>
{% endif %}
