
<div data-role="navigation">
  <ul class="nav nav-tabs">
    <li 
    {% if type == 'underway'%}
    class="active"
    {% endif %}
    ><a href="{{ url('admin_question', {postStatus: 'unPosted'}) }}">当前进行中</a></li>
    <li
    {% if type == 'coming-soon'%}
    class="active"
    {% endif %}
    ><a href=" {{ url('admin_question', {postStatus: 'all'}) }}">即将开始的</a></li>
    <li
    {% if type == 'end'%}
    class="active"
    {% endif %}
    ><a href=" {{ url('admin_question', {postStatus: 'all'}) }}">已结束的</a></li>
  </ul>
</div>