{% extends 'courseset-manage/layout.html.twig' %}

{% block breadcrumb %}
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('my_teaching_course_sets') }}">{{ 'my.teaching.course_set_menu'|trans }}</a></li>
    <li class="active">{{ courseSet.title|plain_text(21) }}</li>
  </ol>
{% endblock %}
{% block courseset_header %}
  {{ render(controller('AppBundle:Course/CourseSetManage:header', {courseSet:courseSet, course: course|default(null), foldType: 0})) }}
{% endblock %}