{% extends 'layout.html.twig' %}

{% block title %}{{'course.course_manage'|trans}} - {{ parent() }}{% endblock %}
{% set use_webapck_loader = true %}

{% do script(['libs/jquery-intro.js']) %}

{% block content %}
  {% block course_header %}
    {{ render(controller('AppBundle:Course/CourseSetManage:header', {courseSet:courseSet, course: course|default(null), manage: true})) }}
  {% endblock %}
  <div class="row">
    <div class="col-md-3">
      {{ render(controller('AppBundle:Course/CourseSetManage:sidebar', {courseSetId:courseSet.id, curCourse: course|default(null), sideNav: side_nav|default(null)})) }}
    </div>
    <div class="col-md-9">
      {% block main %}{% endblock %}
    </div>
  </div>
  {% endblock %}

{% block bottom %}
{% endblock %}