{# 主题管理-分类挂件管理 #}
{% set allConfigLeft = themeConfig.blocks.left|default()|merge(allConfig.blocks.left|default()) %}
{% set allConfigLeft = array_index(allConfigLeft, 'code') %}
{% set configLeft = array_index(themeConfig.blocks.left|default(), 'code')  %}
<div class="hide" id="componet-setting">
  {{ allConfigLeft|json_encode|raw }}
</div>
<div class="tab-pane active js-theme-component" id="left">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading clearfix">
        <div class="col-md-4 ">
          {{'admin.setting.theme.manage.component_name'|trans}}
        </div>
        <div class="col-md-4">
          {{'admin.setting.theme.manage.custom_name'|trans}}
        </div>
      </div>
      <!-- List group -->
      <ul class="list-group module-item-list theme-edit-block theme-custom-left-block">
        {% for key, pendant in allConfigLeft %}
          {% set isChoiced = configLeft[key]|default() ? true : false %}
          {% include 'admin/theme/theme-edit-config-li.html.twig' with {isChoiced: isChoiced, uri:themeUri} %}
        {% endfor %}
      </ul>
    </div>
</div>
{% do load_script('topxiaadminbundle/controller/theme/theme-setting/components.js') %}