<div class="tab-pane" id="top">
  <div class="panel panel-default">
      <div class="panel-heading">导航栏设置</div>
      <div class="panel-body ">
          导航个数超过 <input type="text" id="topNavNum" class="form-control" style="display:inline;width: auto;" value="{{ navigation.topNavNum|default(5) }}"/> 个时，会通过"..." 收起，避免导航错位。
          <div class="help color-danger hide mtm">请输入1-99以内的整数</div>
      </div>
  </div>
</div>