{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_face_identify' %}

{% set script_controller = 'feature_lab/face-identify' %}

{% block main %}

	<form id="face_identify">
		<div>总开关</div><input type="checkbox" name="enabled" value="1" {% if setting('face.enabled') %}checked{% endif %}>

		<div>App端开启</div><input type="checkbox" name="app_enabled" value="1" {% if setting('face.app_enabled') %}checked{% endif %}>

		<div>微信端开启</div><input type="checkbox" name="h5_enabled" value="1" {% if setting('face.h5_enabled') %}checked{% endif %}>

		<div>PC端开启</div><input type="checkbox" name="pc_enabled" value="1" {% if setting('face.pc_enabled') %}checked{% endif %}>
	</form>
{% endblock %}