<tr id="category-tr-{{ category.id }}">
  <td>
    {{ category.name }}
  </td>
  <td>
    <button class="btn btn-default btn-sm "  data-url="{{ path('course_manage_quiz_question_category_edit', {courseId:course.id,categoryId:category.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
  </td>
</tr>