<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">其他计划</h3>
  </div>
  <div class="panel-body course-list">
    <div class="course-item">
      <div class="course-img">
        <a href="/course/2" target="_blank">
          <img src="/assets/img/default/course.png" alt="xxx" class="img-responsive"></a>
      </div>
      <div class="course-info">
        <div class="title">
          <a class="link-dark" href="/course/2" target="_blank">xxx</a>
        </div>
        <div class="metas clearfix">
                <span class="num"> <i class="es-icon es-icon-people"></i>
                  0
                </span>
          <span class="comment"> <i class="es-icon es-icon-textsms"></i>
                  0
                </span>
          <span class="course-price-widget">
                  <span class="price">0.01元</span>
                </span>
        </div>
      </div>
    </div>
  </div>
</div>