<div class="panel panel-default notice-panel">
<div class="panel-body">
  <i class="es-icon es-icon-warning text-danger"></i>
  <div class="text-md mbl">您的教育云服务已被禁用</div>
  <div class="color-gray notice-desc">若有疑问，请联系客服人员：4008041114</div>
</div>
</div>