<!-- 未接入 -->
<div class="cloud-banner-top">
  <img src="/assets/v2/img/educloud/banner_nouse.jpg">
  <a href="http://open.edusoho.com/cloud/access" target="_blank" class="access-btn">立即接入</a>
</div>
<div class="cloud-banner banner-bg-blue clearfix">
  <div class="banner-content pull-left">
    <div class="title">云视频</div>
    <div class="subtitle">让您<span class="text-primary">轻松</span>创建在线视频课程</div>
    <div class="features text-sm text-muted ptm pbl">
      安全<span class="phs">•</span>高性价比<span class="phs">•</span>优质视听体验
    </div>
    <a href="http://open.edusoho.com/show/cloud/video" target="_blank" class="text-sm text-underline"><u>进一步了解 云视频</u></a>
  </div>
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-right">
</div>
<div class="cloud-banner banner-bg-gray clearfix">
  <img src="/assets/v2/img/educloud/banner_live.png" class="pull-left">
  <div class="banner-content pull-right">
    <div class="title">云直播</div>
    <div class="subtitle">让直播课堂更<span class="text-primary">精彩</span></div>
    <div class="features text-sm text-muted ptm pbl">
      直播公开课<span class="phs">•</span>小班互动课<span class="phs">•</span>一对一辅导课
    </div>
    <a href="http://open.edusoho.com/show/cloud/live" target="_blank" class="text-sm text-underline"><u>进一步了解 云直播</u></a>
  </div>
</div>
<div class="cloud-banner banner-bg-blue clearfix">
  <div class="banner-content pull-left">
    <div class="title">云短信</div>
    <div class="subtitle">让你的教学资讯<span class="text-primary">快速</span>送达</div>
    <div class="features text-sm text-muted ptm pbl">
      教学资讯<span class="phs">•</span>极速送达<span class="phs">•</span>尽在掌握
    </div>
    <a href="http://open.edusoho.com/show/cloud/sms" target="_blank" class="text-sm text-underline"><u>进一步了解 云短信</u></a>
  </div>
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-right">
</div>
<div class="cloud-banner banner-bg-gray clearfix">
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-left">
  <div class="banner-content pull-right">
    <div class="title">云搜索</div>
    <div class="subtitle">让您<span class="text-primary">一处</span>搜齐教学资源</div>
    <div class="features text-sm text-muted ptm pbl">
      搜课程<span class="phs">•</span>搜老师<span class="phs">•</span>搜话题<span class="phs">•</span>搜资讯
    </div>
    <a href="http://open.edusoho.com/show/cloud/search" target="_blank" class="text-sm text-underline"><u>进一步了解 云搜索</u></a>
  </div>
</div>
