{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/activity/text/index.js']) %}

{% block body %} 
  <div class="task-content-view text-activity-show">{{activity.content|raw}}</div>
{% endblock %}