{% extends 'WebBundle:Activity:content-layout.html.twig' %}


{% block body %} 
  <div class="task-content-view">{{activity.content|raw}}</div>
  {#<script>app.load('activitybundle/controller/activity-manage/text-activity-fields')</script>#}
{% endblock %}