{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/activity/text/index.js']) %}

{% block body %} 
	<div class="text-activity-show">{{activity.content|raw}}</div>
{% endblock %}