<li class="list-group-item">
  <span>{{ lectureNote.title }}</span>
  <button class="close delete-btn" type="button" title="删除" data-url="{{ path('course_manage_lecture_note_delete', {id:lectureNote.id}) }}">&times;</button>
</li>