.setting-groupon {
	.groupon {
		&-item-setting {
			padding: 20px;
			background: #fff;
			border: 1px solid #e1e1e1;

			&__section {
				position: relative;
				margin-top: 15px;

				&:first-child {
					margin-top: 0;
				}

				.section-left {
					display: inline;
					margin: 0;
					font-size: 14px;
					line-height: 28px;
				}

				.section-right {
					position: relative;
					line-height: 28px;
				}
			}
		}
	}
}

// 复写 h5 单位样式
.e-groupon {
	padding: 10px 16px;
	border-radius: 4px;

	.e-coupon__title {
		margin-bottom: 8px;
		color: #2b333b;
		font-size: 16px;
		line-height: 1;
	}

	&__image {
		border-radius: 6px 6px 0 0;
	}

	&__tag {
		top: 8px;
		left: 8px;
		width: auto;
		height: 22px;
		padding: 0 6px;
		font-size: 12px;
		line-height: 24px;
		border-radius: 4px;
	}

	&__image-container {
		height: 188px;
	}

	&__context {
		padding: 10px 10px 20px 10px;
		border-radius: 0 0 6px 6px;

		.context-title {
			font-size: 14px;
		}

		.context-sale {
			margin-top: 8px;
			line-height: 26px;

			&__sale-price {
				font-size: 14px;
			}

			&__origin-price {
				margin-left: 5px;
				font-size: 12px;
			}

			&__shopping {
				padding: 8px 14px;
				font-size: 12px;
				border-radius: 42px;
			}

			.type-tag {
				top: 4px;
			}
		}
	}

	.seckill-countdown-container {
		padding-right: 10px;
		padding-left: 10px;
		line-height: 36px;

		.status-title {
			font-size: 14px;
		}
	}
}
