<div class="notice-my-notes panel panel-col">
    <a href="{{ path('my_notes') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-backward"> </span>
    </a>
    <div class="panel-heading">{{course.title}} </div>

    <div class="panel-body"> 
        <p>本课程一共有{{lessons | length}}个课时。</p>
        {% if courseNotes| length == 0 %}
            不好意思，在本课程中，你还没有笔记哦！
        {% else %}
            你已经写了{{courseNotes | length}} 篇 笔记！
        {% endif %}
    </div>
</div>