        <div class="notice-my-notes">
            <a href="{{ path('my_notes') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-backward"> </span>
            </a>
            <h1> {{course.title}} </h1>
        </div>