{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_cloud_consult_setting' %}

{% block main %}

<div class="text-center">
  <h1 class="text-muted">{{'请求教育云出错，无法连接%EduSoho%开放云问答'|trans({'%EduSoho%': 'EduSoho'|copyright_less })}}</h1>
</div>

{% endblock %}