{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_cloud_consult' %}
{% block tabs %}{% endblock %}
{% block main %}
  <div class="panel panel-default notice-panel">
    <div class="panel-body">
    </div>
  </div>
{% endblock %}