{% extends 'TopxiaAdminBundle:CloudFile:layout.html.twig' %}

{% set menu = 'admin_cloud_attachment'%}
{% do load_script('cloudfile/manage') %}

{% block stylesheets %}
  {{parent()}}
  <style>
  .batch-item {
      position: absolute;
      left: 6px;
      top: 3px;
      z-index: 101;
  }
</style>
{% endblock %}

{% block main %}
<div class="eduyun-main">
  <div class="page-header clearfix">
    <h1 class="pull-left">云附件</h1>
  </div>
  <form class="form-inline es-materials-manage" id="materials-form">
    {% include 'TopxiaAdminBundle:CloudAttachment/Form:type.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudAttachment/Form:nav.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:filter.html.twig' with {'pageType': 'attachment'} %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:sort.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudAttachment/Form:batch.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile:table.html.twig' with {'pageType': 'attachment'} %}
    <input type="hidden">
  </form>
</div>
{% endblock %}