{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_cloud_attachment'%}
{% do load_script('cloudattachment/manage')%}

{% block main %}
<div class="eduyun-main">
  <div class="page-header clearfix">
    <h1 class="pull-left">云附件</h1>
  </div>
  <form class="form-inline es-materials-manage" id="attachment-form">
    {% include 'TopxiaAdminBundle:CloudAttachment/Form:type.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:nav.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:filter.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:sort.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudFile/Form:batch.html.twig' %}
    {% include 'TopxiaAdminBundle:CloudAttachment:table.html.twig' %}
    <input type="hidden">
  </form>
</div>
{% endblock %}