<div class="notice-my-courses panel panel-col">
      <div class="panel-heading">我的课程
      <a class="btn btn-link pull-right" href="{{ path('course_explore') }}"><h3>探索更多课程</h3></a>
      <a class="btn btn-link pull-right" href="{{ path('course_create') }}"><h3>创建我的课程</h3> </a>
      </div>

      {% if 'ROLE_TEACHER' in roles %}
        {% include 'TopxiaWebBundle:MyCourse:my-courses-nav-for-teacher.html.twig' %}
      {% else %}
        {% include 'TopxiaWebBundle:MyCourse:my-courses-nav-for-learner.html.twig' %}
      {% endif %}

</div>