      <div class="nav-of-my-courses panel-body">
        <ul class="nav nav-pills">

          <li {% if bodyClass == "index" or bodyClass == "my-courses"  or bodyClass == "teaching-courses" %}
          class="active"
          {% endif %}>
          <a href="{{ path('my_teaching_courses') }}">教学中</a></li>
          
          <li {% if bodyClass == "learning-courses"  %}
          class="active" 
          {% endif %}>
          <a href="{{ path('my_learning_courses') }}">学习中</a></li>
          <li {% if bodyClass == "learned-courses" %}
          class="active"
          {% endif %}>
            <a href="{{ path('my_learned_courses') }}">已学完</a></li>
          
          <li {% if bodyClass == "favorite-courses" %}
          class="active"
          {% endif %}>
          <a href="{{ path('my_favorite_courses') }}">已收藏</a></li>
        </ul>
      </div>