{% extends 'TopxiaWebBundle:MyCourse:layout.html.twig' %}

{% block title %}在教 - {{ parent() }}{% endblock %}

{% set main_nav = 'teaching' %}

{% block main_body %}
 {% if courses %}
		{{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'grid', mode:'teach'})) }}
		{{ web_macro.paginator(paginator) }} 
  {% else %}
    <div class="empty">暂无在教的课程</div>
  {% endif %}
{% endblock %}