{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_my_cloud_overview' %}
{% set submenu = 'service-information' %}

{% block main %}
<div class="text-center">
  <h1 class="text-muted">{{'admin.edu_cloud.connect_failed_tips'|trans({'%Edusoho%': 'EduSoho'|copyright_less })}}</h1>
</div>

{% endblock %}
