{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_edu_cloud_email_overview' %}
{% block tabs %}{% endblock %}

{% block main %}

<div class="text-center">
  <h1 class="text-muted">{{'admin.edu_cloud.connect_failed_tips'|trans({'%EduSoho%': 'EduSoho'|copyright_less })}}</h1>
</div>

{% endblock %}
