{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_edulive_overview' %} 

{% block main %}

<div class="text-center">
  <h1 class="text-muted">{{'site.edu_cloud.link_error_tips'|trans({'%EduSoho%': 'EduSoho'|copyright_less })}}</h1>
</div>

{% endblock %}