<li data-course-id="{{course.id}}" class="course-grid related-course-grid" role="course-item" 
{% if not showDelBtn|default(false) %}
style="cursor:pointer"
{% endif %}>
	<div class="grid-body" style="position:relative">
		{% if showDelBtn|default(false) %}
		<a href="#">
		{% endif %}
	  		<img src="{{ default_path('coursePicture',course.largePicture|default(null), 'large') }}" class="img-responsive thumb"/>
			<span class="title" style="max-height: 15px;overflow: hidden;line-height: 20px;">
			{{course.title}}
			</span>
		{% if showDelBtn|default(false) %}
		</a>
		{% endif %}
		
		<a href="javascript:;" role="course-item-delete" data-course-id="{{course.id}}" {% if not showDelBtn|default(false) %}style="display:none"{% endif %}>
		<span class="label label-danger series-mode-label">删除</span></a>
		
	</div>
</li>