{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set side_menus = permissions('admin_course') %}
{% set nav = 'course' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(side_menus,menu) }}{% endblock %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      {% include 'TopxiaAdminBundle::side.html.twig' with {menus:side_menus,nav:menu} %}
     
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}
      {% endblock %}
  </div>
{% endblock %}