{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'order' %}


{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      <div class="panel panel-default">

          {% set menus = permissions('admin_order') %}

          {% include 'TopxiaAdminBundle::side.html.twig' with {menus:menus,nav:menu} %}
      </div>

    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}
