{% extends 'TopxiaAdminBundle:Course:order.html.twig' %}

{% set menus = permissions("admin_course_order","tab")%}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}
{% set menu = 'course_order' %}

{% block main %}

<div class = "mbl">

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
