{% extends 'TopxiaAdminBundle:Course:order.html.twig' %}

{% block title %}课程 - {{ parent() }}{% endblock %}

{% set menu = 'course_order' %}

{% block main %}

<div class = "mbl">
{% set menus = permissions("admin_course_order","tab")%}

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
