{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}每周精品课程{% endblock %}
{% block body %}
<div class=".container">
	<div class="row">
		<form action="{{path('admin_course_search')}}" class="form-inline" role="search-form">
			<div class="form-group col-md-offset-3">
				<input type="text" class="form-control" name="key" value="{{ key|default('') }}"/>
			</div>
			<button type="button" class="btn btn-primary">搜索</button>
		</form>
	</div>
	<div class="row">
		{% for course in courses|default(null) %}
		{% include 'TopxiaAdminBundle:Course:course-item.html.twig' with {course:course} %}
		{% endfor %}
	</div>
</div>

{{ web_macro.paginator(paginator) }}

{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">关闭</button>
  <script>app.load('course/search')</script>
{% endblock %}