{% extends 'classroom-manage/layout.html.twig' %}

{% block title %}{{ 'classroom.manage.live_statictics'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'live-statistics' %}
{% do script(['app/vue/views/classroom_manage/live_statistics/index.js']) %}

{% block main %}
  <div id="app"></div>
{% endblock %}