<div class="scrollsidebar side_green" id="hhService" style="right: 0px; top: 1765px; width: 167px;">
  <div class="side_content" style="width: 167px;">
    <div class="side_list">
      <div class="side_title">
        <a title="隐藏" class="close_btn"><span>关闭</span></a></div>
      <div class="side_center">
        <div class="qqserver">
          <p>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=13268691&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:13268691:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a></p>
         <p>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=13268691&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:13268691:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a></p>
         <p>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=13268691&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:13268691:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a></p>
         
        </div>
        <strong>咨询热线：123456</strong><div class="msgserver">
          <p><a href="http://www.lanrenzhijia.com/">在线客服</a></p>
        </div>
      </div>
      <div class="side_bottom">
      </div>
    </div>
  </div>
  <div class="show_btn" style="float: right; width: 0px;"><span>在线客服</span></div>
</div>
