<div class="course-detail-content">
  {% if courseItems and courseItems[0]['seq'] != 1 %}
    <a class="js-up-more-link link-gray center-block text-center" href="javascript:" data-url="{{ path('course_task_paging_show', {courseId:course.id, offsetSeq:courseItems[0]['seq'] - 1, direction: 'up'}) }}">{{ 'my.learning.course.click_loading_more'|trans }}</a>
  {% endif %}

  {% include 'course/task-list/parts/task-list-template.html.twig' %}

  {% if nextOffsetSeq|default(0) %}
    <a class="infinite-more-link js-down-loading-more" href="{{ path('course_task_paging_show', {courseId:course.id, offsetSeq:nextOffsetSeq}) }}"></a>
  {% endif %}

</div>
