<div class="course-detail-content">

  {% include 'course/task-list/parts/task-list-template.html.twig' %}

  <ul class="task-list task-list-md task-list-hover js-task-list-ul infinite-container"></ul>

  <div class="js-down-loading-more" style="min-height: 1px"></div>
</div>