.my-swipe {
  height: 200px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.slide1 {
  height:  200px;
  background-color: #0089dc;
  color: #fff;
}

.slide2 {
  height:  200px;
  background-color: #ffd705;
  color: #000;
}

.slide3 {
  height:  200px;
  background-color: #ff2d4b;
  color: #fff;
}

.admin-swipe-item {
  position: absolute;
  top: 0;
  width: 100%;
}