<div class="task-manage-batch-operate js-batch-operate-panel clearfix hidden">
  <div class="pull-left">
    <a href="javascript:;" class="cd-mr24">章节</a>
    <a href="javascript:;">课时</a>
  </div>
  <div class="pull-right clearfix">
    <span class="chosen-number">已选xxx条</span>
    <button class="cd-btn cd-btn-primary cd-btn-sm cd-mr16">
      发布
    </button>
    <button class="cd-btn cd-btn-default cd-btn-sm cd-mr16">
      取消发布
    </button>
    <button class="cd-btn cd-btn-danger cd-btn-sm">
      删除
    </button>
  </div>
</div>

<div class="task-manage-batch-operate js-batch-operate-panel__slot hidden"></div>