{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.contract'|trans }} - {{ parent() }}{% endblock %}

{% do script(['vue3/js/my-contract/index.js']) %}

{% set side_nav = 'my-contract' %}

{% block main %}
{#  <div class="panel panel-default panel-col">#}
    <div id="my-contract"></div>
{#  </div>#}

{% endblock %}