{% extends 'my/layout.html.twig' %}

{% block title %}{{ 'my.contract'|trans }} - {{ parent() }}{% endblock %}

{% do script(['vue3/js/my-contract/index.js']) %}

{% set side_nav = 'my-contract' %}

{% block main %}
  <link href="{{ asset('static-dist/app/css/main-ant.css') }}" rel="stylesheet"/>
  <div id="my-contract"></div>
{% endblock %}