@import "../../modules/coupon/index.scss";
@import "../../modules/marketing-activity/index.scss";

.preview-container {
  padding: 0 50px;
  box-sizing: border-box;
  .preview-title__app {
    position: absolute;
    top: 76px;
    left: 46px;
    right: 46px;
    height: 28px;
    text-align: left;
    background:rgba(245, 245, 245, 1);
    border-radius:14px;
    line-height: 28px;
    font-size:12px;
    color:rgba(190, 190, 190, 1);
    padding-left: 34px;
    i {
      position: absolute;
      top: 0px;
      left: 16px;
    }
  }
  .preview-title__h5{
    position: absolute;
    top: 122px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .preview-title__miniprogram{
    position: absolute;
    top: 58px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .image-container {
    .phone-img {
      position: relative;
      float: left;
      margin-right: 60px;
      &-mp {
        display: table;
        float: none;
        margin-left: auto;
        margin-right: auto;
        > img {
          width: 375px;
        }
      }
      > img {
        width: 375px;
      }
      &-app{
        > img {
          width: 447px;
        }
      }
    }
    .code-container {
      float: left;
      text-align: center;
      &-mp {
        float: none;
        margin-left: 0;
      }
      .btn-common {
        line-height: 32px;
        padding: 0 30px;
      }
    }
    .code-item {
      background-color: #fff;
      padding: 10px 20px 50px;
      width: 240px;
      height: 240px;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      margin-top: 100px;
      margin-bottom: 30px;
      .code-img-container {
        height: 100%;
        .code-image {
          width: 100%;
        }
      }
    }
    .code-item__img {
      background-color: #fff;
      padding: 10px 20px 20px;
      width: 240px;
      height: 240px;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      margin-top: 100px;
      margin-bottom: 30px;
      .code-image {
        width: 100%;
      }
    }
  }

  // h5 组件 vw 单位复写
  .e-course {
    padding: 0 0 20px;
    &__left {
      border-radius: 2px;

      .e-course__img {
        width: 140px;
        height: 80px;
      }
    }
    &__right {
      .e-course__header {
        font-family: PingFangSC-Medium;
        color: #2b333b;
      }
    }
  }

  .e-course-list {
    &__header {
      padding: 10px 0px!important;
    }
    &__list-title {
      font-size: 15px;
    }
    &__more {
      font-size: 14px;
    }
  }

.e-course-list__body{
  .e-column-class:nth-of-type(2n-1){
    padding-left: 0px;
  }
  .e-row-class{
    padding-left: 0px;
  }
  .e-openCourse-class:first-of-type{
    padding-left: 0px;
  }
}

  .coupon-preview__container {
    padding-left: 0;
    .e-coupon {
      &-single {
        .e-coupon__body {
          padding-right: 0;
          &:after {
            right: -6px;
          }
        }
        .van-swipe-item {
          width: 100% !important;
        }
        .e-coupon__header {
          .e-coupon__name {
            right: 80px;
            width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .coupon-name {
              width: auto;
            }
          }
          .coupon-button {
            right: 15px;
          }
        }
        .stamp {
          right: 10px !important;
        }
      }
      &-multi {
        .coupon-button {
          right: 35px;
        }
      }
      &__price {
        box-sizing: border-box;
      }
    }
  }

  .e-course-switch-box {
    .switch-box__price {
      font-size: 12px;
    }
  }

  // h5 轮播长度单位复写
  .item-container {
    &__title {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .van-swipe__indicators {
    bottom: 35px;
    .van-swipe__indicator {
      &--active {
        background-color: $primary-color;
      }
    }
  }

  .e-groupon {
    padding-right: 0;
    padding-left: 0;
  }
}

.find-page__part {
  position: relative;
  > .e-poster,.e-graphic-navigation {
    margin: 0 -10px ;
  }
  > .e-course-list{
    padding: 0 6px;
  }
  &:nth-last-child(2) {
    .gray-border-bottom {
      border-bottom: 0;
    }
  }
}

.find-page__part__padding{
  padding: 0 10px!important;
}

.preview-iframe {
  position: absolute;
  left: 30px;
  top: 155px;
  height: 570px;
  width: 388px;
  overflow: auto;
  &__miniprogram{
    left: 25px;
    top: 89px;
    height: 573px;
    width: 325px;
  }
  &__app{
    left: 31px;
    top: 116px;
    height: 666px;
    width: 388px;
  }
  .e-vip-list {
    padding-left: 0;
    padding-right: 0;
  }
}
