{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog' %}
{% set modalType = 'user' %}

{% block title %}
  {{'user.orders.detail.modal_title'|trans}}
{% endblock %}

{% block body %}
  {% include 'my-order/detail-order.html.twig' %}
{% endblock %}

{% block footer %}
  <button type="button" class="btn cd-btn cd-btn-primary cd-btn-lg" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}

