<div class="class-item">
  <a href="{{ path('classroom_show', {id:classroom.id}) }}">
    <img class="img-responsive" src="{{ filepath(classroom.middlePicture, 'course.png') }}" alt="">
    <h3>淘宝运营课程高级班</h3>
    <div class="image-overlay"></div>
    <!-- 如该课程属于这个班级，则显示下面的提示，用于课程的推荐班级 -->
    <!-- <div class="class-belong hidden-xs hidden-sm">所属班级</div> -->
  </a>
</div>