<div class="class-item">
  <a href="{{ path('classroom_show', {id:classroom.id}) }}">
    <img class="img-responsive" src="{{ filepath(classroom.middlePicture, 'course.png') }}" alt="">
    <h3>淘宝运营课程高级班</h3>
    <div class="image-overlay"></div>
  </a>
</div>