{% extends 'ClassroomBundle:Classroom:content-layout.html.twig' %}

{% set nav = 'introduction' %}

{% block main %}
  <div class="class-about">
        {% if introduction is empty %}
            <li class="mvl tac text-muted">暂无介绍</li>
        {% else %}
              {{ introduction}}
        {% endif %}
  </div>
    
{% endblock %}
