{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{% do load_script('classroombundle/controller/classroom/teachers') %}

<div class="panel panel-default serve-team" id="class-teacher-column">
  <div class="panel-heading">
    <h3 class="panel-title"> 
      <i class="es-icon es-icon-assignmentind"></i>班主任
    </h3>
  </div>
  <div class="panel-body">
    {% if headTeacher %}
    <div class="media">
      <div class="media-left">
        {{ web_macro.user_avatar(headTeacher,'','img-circle') }}
      </div>
      
      <div class="media-body">
        <div class="title">
          {{ web_macro.user_link(headTeacher , 'name') }}
        </div>
        {% if headTeacher.title|default('') %}
          <p>{{ headTeacher.title }}</p>
        {% else %}
          <p>还没有头衔</p>
        {% endif %}
      </div>
    </div>
    {% else %}
      <div class="empty">该{{ setting('classroom.name')|default("班级") }}尚未设置班主任</div>
    {% endif %}

  </div>
</div>

