.type-hidden {
  display: block !important;
  height: 0px!important;
  border:0;
  .opacity(0);
  padding: 0px!important;
  margin: 0px!important;
}

.load-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background: url(../../img/loading.gif);
}