{% extends 'task-manage/modal-layout.html.twig' %}

{% block task_item %}
  {% for type, meta in activity_metas() %}
    {% if type|activity_visible(courseSet, course) %}
      <li class="col-xs-3 task-create-type-item js-course-tasks-item {% if task.type|default(null)==  type %} active {% endif %}"
          data-role="activityType" data-type="{{ type }}"
          data-content-url="{{ path('course_manage_task_fields',{courseId:course.id, mode: 'create', type: type}) }}">
        <a href="javascript:;" {% if mode=='edit' %} disabled {% endif %}>
          <i class="{{ meta.icon }}"></i>
          {{ meta.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
{% endblock %}


