<li>
  <a href="{{admin.url}}">
    <i class="glyphicon glyphicon-bookmark"></i>
    {{admin.title}}
  </a>
  <span class="glyphicon glyphicon-remove-circle remove" data-url="{{path('admin_common_remove',{id:admin.id})}}"></span>
</li>