{% extends 'activity/content-layout.html.twig' %}

{% do script(['app/js/task/download/index.js']) %}

{% block body %}
<div class="task-content-view download-activity-show">
  <ul class="download-activity-list">
    {% for file in activity.ext.materials|default(null) %}
    <li>
      <a class="link-darker" href="{{ path('course_activity_download', {courseId:courseId, activityId:activity.id , fileId:file.id }) }}" target="_blank">{{ file.title }}
        {% if file.link|default(null) %}
        (link)
        {% else %}
        ({{ file.fileSize|file_size }})
        {% endif %}
        <i class="es-icon es-icon-filedownload download-icon"></i>
      <div class="text-xs color-gray mts">{{ file.summary|default('') }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}