 <!-- 小伙伴们正在看 -->
        <div class="widget k_postlist shadow">
          <div class="kytitle clearfix bor-l-gray">
            <h3>小伙伴们正在看</h3>              
          </div>                  
          <div class="row content daren imgpanel prd plz mz"> 
              {% for item in activitys %}
              <div class="col-md-3 pll prz">
                <a href="{{ path('activity_show',{id:item.id})}}">
                  <img class="img-responsive" width="280px"  src="{{ file_path(item.largePicture,'activity-large.jpg') }}" />
                  <div class="tit">
                          <p>{{ item.title }}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
                   
          </div>
        </div>