<div class="post-item post-list">
	<a  href="{{ path('user_show',{id:user.id }) }}">{{ user.nickname }}</a>
	:{{post.content}}
	<span class="post-item-time">{{ post.createdTime|smart_time }}</span>
</div>