<a class="glyphicon glyphicon-picture pull-left js-img-preview" href="{{ asset(data.src) }}" target="_blank"></a>
<span class="mls title-label js-title-label ellipsis">{{ data.alt|default('') }}</span>