<a class="mlm glyphicon glyphicon-picture pull-left"></a>
<a class="title-label js-title-label ellipsis" style="cursor: pointer;color: #428bca;" data-url="{{ path('admin_block_picture_preview', {blockId:block.id, url:data.src|default(null)}) }}" data-toggle="modal" data-target="#modal">{{ data.alt|default(null)|plain_text(40) }}</a>