{% extends 'TopxiaWebBundle:MyQuiz:layout.html.twig' %}

{% set script_controller = 'quiz-question/my-favorite' %}

{% block list %}
<table class="table table-striped table-hover">
	<tbody>
		{% for favoriteQuestion in favoriteQuestions %}
			{% set testPaperResult = testPaperResults[favoriteQuestion.testPaperResultId] %}
			{% set testPaper = testPapers[testPaperResult.testId] %}
			{% set question = questions[favoriteQuestion.questionId] %}
			
				{% include 'TopxiaWebBundle:MyQuiz:my-favorite-question-tr.html.twig' %}

		{% endfor %}
	</tbody>
</table>
{{ web_macro.paginator(paginator) }}
{% endblock %}