{% extends 'TopxiaWebBundle:MyQuiz:layout.html.twig' %}

{% block list %}
<table class="table table-striped table-hover">
	<tbody>
		{% for myTestPaperResult in myTestPaperResults %}
			{% set myTestPaper = myTestPapers[myTestPaperResult.testId]|default(null) %}
			{% if myTestPaper %}
				{% set course = courses[myTestPaper.targetId] %}
			{% endif %}
				{% include 'TopxiaWebBundle:MyQuiz:my-quiz-tr.html.twig' %}

		{% endfor %}
	</tbody>
</table>
{{ web_macro.paginator(paginator) }}
{% endblock %}