@import './emptyCourse/index.scss';

.e-learn {
  .van-tabs__line {
    background-color: $primary-color;
  }
  .van-tab--active {
    color: $primary-color;
  }
  .van-hairline--top-bottom::after {
    border-top: none;
  }
}

.van-list {
  margin-top: vw(20);
}
