{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_edu_cloud_email_overview' %}
{% block tabs %}{% endblock %}
{% block main %}

<div class="row form-group">
  <div class="help-block">
    </br></br>
    <p style="text-align:center;font-size:16px">{{ '云邮件托管服务由EduSoho教育云提供'|trans }} <a
          href="http://open.edusoho.com/educloud" target="_blank">{{ '了解详情'|trans }}</a></p>
    </br>
  </div>
</div>
<hr>
{% endblock %}