{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.teaching.question_bank.testpaper.manage'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'my-question-bank' %}
{% set active_tab = 'testpaper-list' %}

{% do script(['app/js/question-bank/testpaper/index.js'])  %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="question-bank-heading">{{ questionBank.name }}</div>
  </div>

  <div>
    {% include 'question-bank/header-navbar.html.twig' %}
    <div class="panel panel-default panel-col">
      {% block panel_body %}
        <div class="panel-body question-list-container js-testpaper-container">
          <div class="mtl">
            {% include 'question-bank/testpaper/testpaper-list.html.twig' %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}