{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'article' %}

{% block content %}
  <div class="col-md-2">

    {% block sidebar %}
      <div class="list-group">

        <a href="{{ url('admin_article') }}" class="list-group-item {% if menu == 'article' %}active{% endif %}">文章管理</a>
        <a href="{{ path('admin_article_category') }}" class="list-group-item {% if menu == 'category' %}active{% endif %}">栏目管理</a>

      </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}