{% for path in errorPaths %}
  <tr>
    <td>{{ path }}</td>
    <td>
      <span class="text-danger">X {{'admin.reports_status.system_no_can_write'|trans}}</span>
    </td>
    <td>{{ 'admin.reports_status.system_can_write'|trans }}</td>
    
  </tr>
{% else %}
<tr>
  <td colspan="6" style="text-align: center;color: #c1c1c1;padding: 50px;">{{'admin.reports_status.system_file_and_catalog_authority_available'|trans}}</td>
</tr>
{% endfor %}
