{% extends 'layout.html.twig' %}
{% block title %}{{ 'change_log.title'|trans }} - {{ parent() }}{% endblock %}
{% set nav = 'index' %}
{% set bodyClass = 'index' %}
{% block content %}
  <div>
    <h2 class="text-center mbl color-primary ">{{ 'change_log'|trans }}</h2>
    {% if logs %}
      {% for log in logs %}
        {{ log }} <br>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
