$primary-color: #408ffb;
$bg-black:      #212121;
$bg-white:   #FFFFFF;
$border-grey:   #EEEEEE;
$font-black:#333333;
$active-bg:  #408ffb;
$active-font:#408ffb;

.app {
  $active-bg:  #03C777;
  $primary-color: #03C777;
  .e-tree-selects{
    .activeTag{
            background: $active-bg ;
    }
    .e-menus{
            .e-menu__line {
                .selected {
                  color: $primary-color !important;
                }
            }
    }
    .e-tree-select__list {
          .active{
                  color:$primary-color !important
          }
        .e-tree-select__item {
          &.active {
              &::after {
                  color:$primary-color !important;
                  border-top: 1px solid $primary-color !important;
                  border-right: 1px solid $primary-color !important;
                }
              }
          }
    }
  }
  .treeSelected{
    background:rgba(3,199,119,0.1) !important;
    color: $primary-color !important;
  }
  .live-list{
      .live-list__title {
        .live-title__left {
          color: $primary-color!important;
        }
        .live-title__right {
          &::after {
            background: $primary-color!important;
          }
        }
      }
  }
  .e-course-card{
    .live-list__item{
      .live-item__content{
        .live-content__dec{
          .live-status--default{
              color: $primary-color!important;
          }
        }
        .live-btn--start{
          background-color:$primary-color !important;
       }
       .live-btn--default{
        color: $primary-color!important;
        border: 1px solid $primary-color!important;
       }
      }
    }
  }
  
}
.activeTag{
  background: $active-bg ;
}