<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
  	  课程《{{data.courseTitle}}》有新问题
  	  <a href='{{path('course_thread_show',{courseId:data.courseId,threadId:data.threadId})}}' target='_blank'>{{data.questionTitle}}</a>，请及时回答。
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>
