
/*
  main
*/
/* list */
.list .item {
  -webkit-transition: all 0.2s ease-in-out 200ms;
}

.bar-positive {
  background-color: #fff ! important;
  border-color:#fff ! important;
}

.bar-positive>a:first-child {
  line-height: 38px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-color: transparent;
  padding: 0;
}

.bar-positive .button, .title{
  color: #37b97d ! important;
}

.bar-positive i{
  font-size: 24px;
}

.tabs-hide>.tabs {
    display: none;
}

.list-empty {
  display: block;
  color: #999;
  text-align: center;
  padding-top: 50%;
}

.list-empty i{
  font-size: 100px;
}

.list-empty span{
  display: block;
  line-height: 32px;
  height: 32px;
}

.tabs-hide .content-padding {
  margin-bottom: 0;
}

/* android title */
.title.title-left {
  width: 100%;
  margin: 0;
  text-align: center ! important;
  left: 0 ! important;
}

.button.button-icon:before{
  font-size: 24px ! important;
}

.side-content .scroll {
  height: 100%;
}

.base-color {
  color :#37b97d;
}

.light-color {
  color: #ffac02;
}

.content-padding {
  margin-bottom: 44px;
}

.tab-item .icon {
  font-size: 18px;
  padding-top: 8px;
}

.btn-right {
  float: right;
}

.shard-label {
  color: gray;
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.shard-label span {
  top: -20px;
  position: relative;
  display: inline-block;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
}

.shard-label hr {
  width: 100%;
  background-color: gray;
  height: 1px;
  border: 0;
}

.shard-login {
    padding: 8px;
    font-size: 42px !important;
    border: solid 1px #37b97d;
    border-radius: 50%;
    color: #ffffff;
    background: #37b97d;
}

.bar.bar-positive {
  border-color: #37b97d;
  background-color: #37b97d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.tabs-positive>.tabs, .tabs.tabs-positive {
  top: initial;
  bottom: 0;
  border-color: #ffffff;
  background-color: #ffffff ! important;
  background-image : none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.tab-item {
  color: #757575 ! important;
}

.noborder {
  border-width:0px;
  border-bottom-width: 1px;
}

.modal {
  top: 44px;
  right: 0;
  left: 0;
  overflow: visible;
  min-height: 300px;
  width: 100%;
}

.avatar {
	border: solid 2px #ffffff;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.banner img{
  width: 100%;
  height: 150px;
}

/*menu-content*/

.menu-content {
  background-size: 100%, 100%;
  background-image: url("../img/drawer_bg.png");
}

.menu-content a {
  margin: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
}

.menu-content .item  {
  color: #fff;
  background : none;
  padding-left: 70px;
  font-size: 16px;
}

.menu-content .list  {
  background:none;
  padding: 20px;
}

.menu-content h3{
  color: #999;
  font-size: 16px;
}

.menu-content p{
  color: #97989a;
  font-size: 16px;
}

.menu-content .button.button-block {
  height: 44px;
  line-height: 44px;
}

.menu-content .item-icon-left  {
  border: 0;
}

.menu-content a i {
  font-size: 20px ! important;
  margin-left: 16px;
}

.menu-content .item-avatar{
  height: 110px;
  padding-left: 102px;
  padding-top: 24px;
  margin-bottom: 16px;
}

.menu-content .item-avatar>img:first-child{
  left : 8px;
  max-width: 70px;
  max-height: 70px;
}

/* found-course */
.found-body .slider {
  background: #f7f7f7;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* setting */
.setting a {
  padding-left: 16px;
}

.setting a span {
  font-size: 13px;
  color: #777;
}

.setting .btn {
  border : 0;
  margin-top: 1px;
}

/* question*/

.question .content {
  padding: 16px;
}

.question .lessonlabel {
  padding-left: 16px;
}

.question .content img {
  display: block;
}

.question .title {
  border-bottom-width: 0;
}

.question .item-avatar {
  padding-left: 16px;
}

.question-content {
  border-top-width : 0;
}

.question-content .userinfo {
  margin-bottom: 32px;
}

.question .userinfo {
  padding-left: 64px;
}

.question h2 {
  height: 30px ! important;
}

.question .postlabel {
  padding-left: 16px;
  padding-top: 16px;
}

.theadpost {
  margin-bottom:0;
}

.theadpost .item-avatar {
  border :0;
  margin-top: 1px;
  padding-bottom: 0;
}

.theadpost .content {
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.question .hit {
  float: right;
}

.question span {
  padding: 6px;
}
/* category-card*/

.category-card .item {
  border : 0;
  background-color: rgba(0,0,0,0);
}

.category-card .list {
  min-height: 300px;
  background-color: rgba(0,0,0,0);
}

.category-card .list_0 {
  background-color: #e5e5e5;
}

.category-card .list_1 {
  background-color: #f2f2f2;
}

.category-card .list_2 {
  background-color: #ffffff;
}

.category-card .row {
  padding: 0;
}

.category-card .col {
   padding: 0;
}

/* mygroup-card */

.mygroup-content {
  font-weight: bold;
}

.mygroup-content a:link {
  text-decoration: none;
}
.mygroup-content .left {
  text-align: left;
}

.mygroup-content .right{
  text-align: right;
}

.mygroup-content .item-body{
  padding-top: 0px;
  padding-bottom: 0px;
}

.mygroup-content .item {
  border : 0;
}

.mygroup-content .tabs {
  padding-left: 16px;
  padding-right: 16px;
}

.mygroup-content .tab-item {
  max-width: none;
}

.mygroup-content .item-body {
  color: #9a9a9a;
}

.mygroup-content .item-text-wrap {
  font-weight: bold;
}
.mygroup-card{
  background-color: #e4e4e4;
  padding-top : 0;
}

/* courselist-tab*/
.courselist-tab .tab-title {
  font-size: 15px;
}

.courselist-padding {
  top: 88px;
}

.courselist-tab .pane {
  background: none;
}

.courselist-tab .content {
  background: #fff;
  z-index: 5;
  top : 88px;
}

.courselist-tab .tabs {
  border-bottom: solid 1px #e5e5e5 ! important;
}

.courselist-tab .backdrop-bg {
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
}

/* mylearn */
.mylean-card h2 {
    line-height: 25px ! important;
    height: 35px ! important;
}

.learn-prossbar {
  background-color: #e4e4e4;
  height: 8px;
  border-radius: 16px;
  display: block;
}

.learn-prossbar.prossbar {
  width: 0%;
  background-color: #37b97d;
}

/*userinfo-list */

.userinfo-list .avatar {
  border: solid 1px #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.userinfo-list .face {
  display: inline-block;
  height: 48px;
  line-height: 48px;
}

.userinfo-list .item-button-right{
  padding-right: 16px;
}

.userinfo-list .sign {
  overflow: hidden;
  color: #aaa;
  background-color: #ffffff;
}

/* courselist-modal*/
.courselist-modal .tab-item{
  max-width: 100%;
}

.courselist-modal .tabs{
  top:0px;
}

.courselist-modal .courselist-content {
  top: 50px;
}

.courselist-modal .splice-line {
      z-index: -1;
      margin-bottom: 9px;
      position: absolute;
      width: 50%;
      height: 30px;
      border-right: solid 1px #e4e4e4;
      margin-top: 9px;
}

/* courselist-modal*/

/* regist-card*/

.regist-card .tab-item.tab-item-active .tab-title{
  color: white ! important;
  border: solid 1px #37b97d;
  border-radius: 30px;
  padding: 8px;
  background: #37b97d;
}

.regist-card .tab-item{
  border-bottom-width: 0px ! important;
}

/*
  login
*/
.button.button-green.activated, .button.button-green.active {
  border-color: #2E9968;
  background-color: #2E9968;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.1);
}

.button.button-green {
  border-color: #37b97d;
  background-color: #37b97d;
  color: #fff;
}

.button.button-yellow {
  border-color: #E26904;
  background-color: #F5780F;
  color: #fff;
}

.button.button-gray {
  border-color: #383838;
  background-color: #5A5858;
  color: #fff;
}

.button.button-gray.activated, .button.button-gray.active {
  border-color: #525151;
  background-color: #444444;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.1);
}
/*
recommendCourse style --
*/
.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-left: 146px;
}

.item h2 {
  line-height: 30px;
  height: 50px;
}

.item-thumbnail-left .page-pic {
  position: absolute;
  top: 10px;
  left: 16px;
  max-width: 120px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.item-thumbnail-left .page-pic img {
  max-width: 120px;
  max-height: 80px;
}

.item-thumbnail-left .page-pic .discount {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #e83939;
}


/* course-card*/ 

.course-card .price-body {
  color: #bbb;
  font-size: 9px;
}

.course-card .discount-color {
  font-size: 9px;
  color: #bbb;
}

.course-card .right {
  float: right;
}

.course-card .origin-price {
  color: #37b97d;
  font-size: 16px;
  margin-right: 10px;
}

.course-card .list {
  margin-bottom: 0px;
}

.course-card .bottom {
  height: 20px;
  line-height: 20px;
}

.course-card h4 {
  font-size: 16px;
  padding-left: 16px;
}

.course-card .more {
  color: #37b97d;
  text-align: center;
  width: 100%;
  display: block;
}

.course-card .item {
  border-width:0px;
  border-bottom-width: 1px;
}

.course-card .item-thumbnail-left>img:first-child {
  max-width: 120px;
  height: auto;
}
/*
 -- recommendCourse style
*/

/*
modal
*/
.modal-backdrop, .modal-backdrop-bg {
  top: 0px;
}

.modal-backdrop-bg {
  opacity: .5;
  background-color: #000;
}

/*
modal
*/

/* sign */
.sign .input-label {
  width: 5%;
}

.sign .item {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0px;
    border:0;
}

.sign .active {
  border-color: green;
}

.sign input {
  display: block;
  position: absolute;
  left: 0;
  padding-left: 60px;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  height: 48px;
}

.sign .input-label {
  line-height: 48px;
  height: 48px;
  padding: 0;
}

/* sign */

.tabs-green .tabs {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.tabs-green.tabs-color-light .tab-item.tab-item-active {
  color: #37b97d ! important;
  margin-top: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #37b97d;
}

.tabs-top.tabs-striped .tab-item.activated {
  color: #37b97d ! important;
  border :0;
}

.tabs-green.tabs-color-light .tab-item {
  max-width: 100%;
  color: #555;
  opacity: 1;
}

.tabs-green .tab-center>span {
  border-style: solid;
  border-left-width: 1px;
  border-left-color: #e5e5e5;
  border-right-color: #e5e5e5;
  border-right-width: 1px;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 100%;
}

.tabs-green.tabs-background-positive .tabs {
  background-color: #ffffff;
  background-image: none;
  border-bottom: none;
}

/* course-body */
.course-body .course-head {
  margin-bottom: -35px;
}

.course-body .course-head .full-image {
  display: block;;
}

.course-body .course-head .course-progress {
  height: 5px;
  width: 100%;
  background: #999;
  position: absolute;
  bottom: 0;
}

.course-head .course-progress>span {
  display: block;
  height: 5px;
  width: 0;
  background: #37b97d;
}

.course-body .course-head .mask{
  width: 100%;
  color: #ffffff;
  position: relative;
  bottom: 35px;
  display: block;
  height: 35px;
  padding: 8px;
  margin-bottom: 0;
  box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.2) inset;
}

.course-head .mask.learned {
  padding: 0;
}

.course-head .mask span {
  display: inline-block;
}

.mask.learned a {
    position: relative;
    padding: 8px;
    top: 4px;
}

.course-body .scroll {
  height: 100%;
}

.course-body ..course-content {
  height: 100%;
}

.course-body .course-title {
  overflow: hidden;
  display: inline-block;
  max-height: 40px;
  line-height: 20px;
  width: 100%
}

.course-body .course-price {
  font-size: 24px;
  color: #37b97d;
}

.course-body .price-block {
  display: inline-block;
  width: 100px;
}

.course-body .discount-body {
  color: #999;
}

.course-body .discount-type {
  border-radius: 5px;
  color: #fff;
  padding: 3px 6px 3px 6px;
  font-size: 12px;
}

.course-body .discount-type.type {
  background: #7db0ef;
  border: solid 1px #7db0ef;
}

.course-body .discount-type.discount {
  background: #f47878;
  border: solid 1px #f47878;
}

.course-body .item-body p {
  margin-top: 0;
  margin-bottom: 8px;
}

.course-body .left{
  float: left;
}

.course-body .right {
  float: right;
}

.course-body .tabs {
  top: inherit;
  bottom: inherit;
}

.course-body .course-rating {
  color: #F3BE5C;
}

.course-body .course-tab-content.pane {
  padding: 0;
  top: 44px;
  margin-bottom: 44px;
}

.course-body .lesson-list .item {
  margin-left: 30px;
}

.course-body .chapter {
  margin-left: inherit ! important;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5 ! important;
  color: #BBBAB9 ! important;
}

.course-body .unit {
  color: #BBBAB9 ! important;
  margin-left: inherit ! important;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5 ! important;
}

.course-body .lesson-list .lesson-body {
  padding-left: 30px;
  padding-right: 48px;
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: solid 1px #ddd;
}

.chapter .lesson-body {
  height: 40px ! important;
  line-height: 40px ! important;
}

.unit .lesson-body {
  height: 40px ! important;
  line-height: 40px ! important;
}

.lesson-list .lesson-title {
  width: 80%;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 25px;
  top: 5px;
  position: relative;
  line-height: 25px;
}

.course-body .lesson-list .item {
  color: #D4DAD6;
  padding: 0;
  border: 0;
  background: none;
}

.course-body .lesson-list .item.activated {
  color: #37b97d;
}

.course-body .lesson-list .lesson-status {
  background: #fff;
  display: inline-block;
  position: relative;
  left: 20px;
  text-align: center;
  height: 100%;
  line-height: 100%;
  width: 30px;
}

.course-body .lesson-list .lesson-status>i {
  font-size: 25px;
}

.course-body .lesson-list .lesson-length {
  font-size: 12px;
  float: right;
}

.course-tools {
  padding: 0px 8px 0px 8px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #e5e5e5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.course-bar i{
  font-size: 20px;
}

.course-tools .course-favorited {
  color: #F2263D;
}

.course-tools .button.full {
  white-space: nowrap;
  width: 100%;
}

.course-tab-content .pane {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 44px;
}

.course-tab-content .item-text-wrap {
  border: 0;
}

.course-tab-content h5 {
  padding-left: 16px;
  padding-right: 16px;
}

.course-tab-content h5 {
  padding-left: 16px;
  padding-right: 16px;
}

.course-tab-content .body {
  margin-bottom: 44px;
}

.course-tab-content .teacher-label {
  display: inline-block;
  border: solid 1px #37b97d;
  background: #A7F5D1;
  color: #37b97d;
  padding: 2px 4px 2px 4px;
  font-size: 5px;
  line-height: 10px;
  border-radius: 3px;
}

.course-tab-content .review-rating {
  height: 20px;
  line-height: 20px;
}

.course-tab-content .review-rating h3{
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.course-tab-content .review-rating span{
  float: right;
  display: inline-block;
}

.course-tab-content .body img {
  width: 99%;
}

.course-tab-content .card-head {
  display: block;
  height: 30px;
}

.course-tab-content .card-head h5{
  margin: 0;
  width: 50%;
  height: 30px;
  float: left;
  line-height: 30px;
}

.course-tab-content .item {
  overflow: visible;
}

.course-tab-content .card-head .button{
  line-height: 30px;
  min-height: 30px;
  float: right;
}

.course-content .tab-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  z-index: 4;
}

.course-detail .card {
  padding: 8px;
}

.course-detail .detail-content {
  color: #333;
}

.course-paybody .item-divider{
  color: #999;
  font-weight: normal;
}

.course-paybody .item-thumbnail-left>img:first-child {
  max-height: 70px;
  width: inherit;
  max-width: inherit;
}

.course-paybody .pay-price {
  color: #F5780F;
  font-size: 22px;
}

.course-paybody .input-label {
  width: 20%;
}

.course-paybody .coupon .item {
  padding-left: 16px;
}

.course-paybody .icon {
  color: #ccc;
}

.course-paybody .right {
  float: right;
}

.coupon-body{
  background: #f5f5f5;
}

.coupon-body .coupon-error {
  color: #F5780F;
  font-size: 12px;
  border-bottom-width: 0;
}

.viplist-body .list {
  padding: 16px;
}

.viplist-body .list .viplist-item{
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ddd;
}

.viplist-body .viplist-item img {
  display: inline-block;
  border: solid 1px #ddd;
  padding: 3px;
}

.viplist-body .item {
  border: 0;
}

.viplist-body .vip-description * {
  font-size: 12px;
  color: #666;
  overflow: none;
  white-space: normal;
}

.viplist-body .cut-line {
  color: #ddd;
  position: relative;
  text-align: center;
  height: 2px;
  width: 100%;
  display: inline-block;
  background: none;
  top: 20px;
}

.viplist-body .cut-line>span {
  padding-left: 8px;
  z-index: 5;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  position: relative;
  top: -10px;
  background: #fff;
  padding-right: 8px;
}

.vippay-body .tabs {
  padding: 8px 16px 8px 16px;
  height: 100%;
  border: 0;
}

.vippay-body .tabs .tab-item {
  opacity: 1;
  display: inline-block;
  border: solid 1px #ddd;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin: 5px;
  width: 30px;
}

.vippay-body .tabs .tab-item.right {
  background: #37b97d;
  color: #fff ! important;
}

.vippay-body .tabs .tab-item.left {
  background: #ddd;
  color: #fff ! important;
}

.vippay-body .item-padding, .row {
  padding: 0
}

.vippay-body .col {
  border: solid 1px #ddd;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

.vippay-body .vip-paymode {
  text-align: center;
  border: 0;
  color: #37b97d;
}

.course-setting .item-button {
  border: 0;
  margin-top: 1px;
  padding-right: 16px;
}

.slide-in-down {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.slide-in-down.ng-enter-active, .slide-in-down>.ng-enter-active {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slide-in-down.ng-enter, .slide-in-down>.ng-enter {
  -webkit-transition: all cubic-bezier(.1,.7,.1,1) 400ms;
  transition: all cubic-bezier(.1,.7,.1,1) 400ms;
}

.slide-in-down.ng-leave, .slide-in-up>.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}