<ul class="nav nav-tabs">

	<li class="{% if filter == 'normal' %}active{% endif %}"><a href="{{path('my_teaching_courses', {filter:'normal'}) }}">{{'普通课程'|trans}}</a></li>

	<li class="{% if filter == 'classroom' %}active{% endif %}"><a href="{{path('my_teaching_courses', {filter:'classroom'}) }}">{{'%classroom.name%课程'|trans({'%classroom.name%':setting('classroom.name')|default('班级'|trans)})}}</a></li>
</ul>
<br>
