<div class="row">
  <div class="col-md-3">
    <input class="form-control" id="timePicker" type="input" value="{{ 'now' | date('Y-m-d')}}" placeholder="日期"/>
  </div>
  <div class="col-md-3">
    <select class="form-control" >
      <option value="0">所有班级</option>
      {% for class in teachClasses %}
      <option value="{{ class.id }}">{{ class_name(class)}}</option>
      {% endfor %}
    </select>
  </div>
</div>
