{% for student in students %}
<tr class="has-item">
  <td><span class="label label-not-finished ">{{ start + loop.index }}</span></td>
  <td>{{ student.truename }}</td>
</tr>

{% else %}
<tr class="end">
	<td class="empty">没有学生未完成课时</td>
</tr>
{% endfor %}
