{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_attachment' %}

{% block main %}

<div class="text-center">
  <div class="error-content" style="padding: 100px 100px">
    <h4>
      {{ 'admin.cloud_attachment.cloud_video_hint'|trans({'%videoOverviewUrl%': path('admin_cloud_video_overview'), '%showVideoUrl%': 'http://open.edusoho.com/show/cloud/video'})|raw }}
    </h4>
    <p>
      {{ 'admin.cloud_attachment.hint'|trans }}
    </p>
  </div>
</div>

{% endblock %}
