{% do load_script('category/nav') %}
{% set nextCode = '' %}
<div class="tabs-wrapper">
  <div class="tabs-group" style="height: 50px;">
    <div class="title">分类</div>
    <ul class="content clearfix">
      {% for category in categories %}
        <li><a class="nav-link" href="">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
    <a class="js-tabs-toggle tabs-toggle tabs-hide hidden">展开</a>
  </div>

  {% for tagGroup in tagGroups %}
    <div class="tabs-group" style="height: 50px;">
        <div class="title">{{ tagGroup.name }}</div>
        <ul class="content clearfix">
          {% for tag in tagGroup.subs %}
            <li><a class="nav-link active" href="">{{ tag.name }}</a></li>
          {% endfor %}
        </ul>
      <div class="title"></div>
      <a class="js-tabs-toggle tabs-toggle tabs-hide hidden">展开</a>
    </div>
  {% endfor %}
</div>