.e-course-switch-box {
  margin-top: vw(9);
}

.switch-box {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}

.switch-box__price {
  font-size: vw(14);
  p {
    margin: 0;
    font-family: Futura-Medium;
  }
  .free {
    color: #408ffb;
  }
  .price {
    color: #FF5353;
  }
}

.switch-box__state {
  color: #B0BDC9;
  font-size: vw(12);
  font-family: Futura-Medium;
  p {
    margin: 0;
    color: #408FFB;
    &.closed {
      color: #B0BDC9;
    }
    // &.success {
    //   color: #408FFB;
    // }
  }

  .order-pay {
    border-radius: 42px;
    padding: vw(8) vw(12);
    background: #408ffb;
    font-size: vw(12);
    color: #ffffff;
  }
}

.rank-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  .progress {
    width: vw(150);
    background: #ddd;
  }
  .curRate {
    background: #408FFB;
  }
  .round-conner {
    height: vw(14);
    border-radius: 42px;
  }
  span {
    display: block;
    margin-left: vw(4);
    font-family: Futura-Medium;
    font-size: vw(14);
    color: #408FFB;
    letter-spacing: 0;
    line-height: vw(14);
  }
}
