.e-course {
  padding: 0 vw(20) vw(30);
  >div {
    display: flex;
  }
}

.e-course__left {
  display: flex;
  .e-course__img {
    width: vw(140);
    height: vw(80);
  }
  .e-class__img {
    width: vw(140);
    height: vw(93);
  }
}

.e-course__count {
  font-size: vw(12);
  color: #71777D;
}

.e-course__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  // line-height: 1;
  margin-left: 10px;
  width: 48%;
}

.e-course__title {
  font-family: PingFangSC-Medium;
  font-size: vw(14);
  color: #2B333B;
}

.e-course__project {
  margin-top: vw(5);
  margin-bottom: vw(5);
  span {
    display: inline-block;
    padding: vw(4) vw(10);
    border-radius: 2px;
    font-size: vw(10);
    color: #71777D;
    font-family: PingFangSC-Medium;
    background: #f1f1f1;
  }
}
