{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/course/user-avatar/index.js']) %}
{% block title %}{% if course.price > 0 %}{{ '购买课程'|trans }}{% else %}{{ '加入学习'|trans }}{% endif %}{% endblock %}
{% block body %}
	<div class="alert alert-warning">您还没有头像，设置以后才能加入学习<br/>拥有一个独有的头像，老师和同学们能更容易关注到你哦～～</div>
{% endblock %}

{% block footer %}
	<a class="js-course-avatar btn btn-primary"
	   data-url="{{ path('settings_avatar') }}" class="alert-link" target="_blank">点击设置</a>
{% endblock %}