.multi-group {
  position: relative;
  .multi-list {
    margin-bottom: 0;
  }
  .list-group {
    margin-bottom: 20px;
  }
  .label-name {
    display: inline-block;
    width: 160px;
    margin-left: 5px;
  }
  .btn-close {
    display: inline-block;
    margin-top: 2px;
    float: right;
    i {
      font-size: 14px;
      float: right;
    }
  }
}