{% if is_plugin_installed("OpenLive") %}
  <li class="{% if filter == 'openLive' %}active{% endif %}">
    <a href="{{ path('my_teaching_open_live_list') }}">
      {{'open_live.title'|trans}}
    </a>
  </li>
{% endif %}