{% extends 'admin-v2/layout.html.twig' %}

{% block main %}
  <ul class="nav nav-pills mbl small">
    <li {% if currentPage == 'admin_v2_block_visual_edit' %}class="active"{% endif %}>
      <a href="{{ path('admin_v2_block_visual_edit',{blockTemplateId:block.blockTemplateId, type: type}) }}">{{'admin.block_manage.visual_edit'|trans}}</a>

    </li>
    <li {% if currentPage == 'admin_v2_block_visual_edit_history' %}class="active"{% endif %}>
      <a href="{{ path('admin_v2_block_visual_edit_history',{blockTemplateId: block.blockTemplateId, type: type}) }}">{{'admin.block_manage.visual_edit_history'|trans}}</a>
    </li>
  </ul>
  {% block blockVisual %} {% endblock %}
{% endblock %}