<a class="glyphicon glyphicon-picture pull-left js-img-preview" href="{{ asset(data.src) }}" target="_blank"></a>
<a class="mls title-label js-title-label ellipsis" style="color: #428bca;" href="{{ data.href }}" target="_blank">{{ data.alt|default('') }}</a>