{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default clearfix course-header">
      <div class="panel-body">
        <h1 class="title"><a href="{{ path('photoview', {id:photo.id}) }}" target="_blank">{{ photo.name }}</a></h1>
       
        <div class="toolbar">

            <div class="btn-group">
              <a href="{{ path('photoview', {id:photo.id, previewAs:'member'}) }}" target="_blank"><label class="btn btn-default btn-sm">预览</label> </a>
             
            </div>

        </div>
      </div>
    </div>
  </div>
</div>