{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}添加新会员{% endblock %}
{% block body %}

<form id="member-create-form" class="form-horizontal" method="post" action="{{ path('admin_member_update')}}">

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="nickname">用户名</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="nickname" name="nickname" data-url="{{path('admin_member_create_nickname_check')}}" class="form-control" >
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="memberLevel">会员类型</label>
    </div>
    <div class="col-md-7 controls">
     <select class="form-control" name="memberLevel">
        {{ select_options(dict('memberLevel'), app.request.query.get('level'), '--按会员类型--') }}
     </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="deadline">到期日期</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="deadline"  name="deadline" class="form-control" >
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>
{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#member-create-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('member/create-modal')</script>
{% endblock %}