<form class="form-vertical form-vertical-small" id="lesson-question-plugin-form" method="post" action="{{ path('course_lesson_plugin_question_create') }}">

	<div class="control-group">
		<div class="controls">
	    {{ form_widget(form.title, {attr:{class:'expand-form-trigger', placeholder:'我要提问', 'data-display':'标题'}}) }}
    </div>
	</div>

	<div class="control-group detail-control-group hide">
		<div class="controls">
	    {{ form_widget(form.content, {attr:{rows:5, placeholder:'详细描述你的问题'}}) }}
	  </div>
	</div>

	<div class="control-group detail-control-group hide">
		<div class="controls clearfix">
			<button class="btn btn-primary btn-small pull-right" type="submit">提问</button>
			<button class="btn btn-link btn-small collapse-form-btn pull-right" type="button">取消</button>
		</div>
	</div>

  {{ form_rest(form) }}
</form>