<div class="question-list-pane">
	<div data-role="list-pane" >
		{% include 'TopxiaWebBundle:LessonQuestionPlugin:form.html.twig' %}
	   {% include 'TopxiaWebBundle:LessonQuestionPlugin:list.html.twig' %}
	</div>
	<div data-role="show-pane" style="display:none;"></div>
</div>