<ul class="media-list thread-list-small mtl" data-role="list">
	{% for thread in threads %}
	  {% set user = users[thread.userId] %}
	  {% include 'TopxiaWebBundle:LessonQuestionPlugin:item.html.twig' %}
	{% else %}
	  <li class="empty-item">{{'此课时还没有问题'|trans}}</li>
	{% endfor %}
</ul>