<div class="btn-group mbm">
	<a href=" {{ path('admin_v2_invite_coupon', {filter: 'invited'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'invited'%}btn-primary{% endif %}">{{'admin.operation_invite.register_coupon'|trans}}</a>

	<a href=" {{ path('admin_v2_invite_coupon', {filter: 'invite'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'invite' %}btn-primary{% endif %}">{{'admin.operation_invite.invite_coupon'|trans}}</a>
</div>