{% extends 'middle/layout.html.twig' %}

{% set pageTitle ="虚拟币" %}

{% block main_body %}
  <ul class="tabs">
    <li class="active"><a href="">选中菜单</a></li>
    <li><a href="">数字菜单<span class="number">2</span></a></li>
    <li><a href="">未选菜单</a></li>
  </ul>
  <div class="row mb24">
    <div class="col-md-7">
      <div class="coin-card coin-card--danger">
        <div class="coin-card__icon"><i class="es-icon es-icon-yulan"></i></div>
        <div class="coin-card__body">
          <p>虚拟币余额</p>
          <p><span class="text-xlg text-medium text-white">1799.02</span>元</p>
        </div>
        <div class="coin-card__action">
          <a href="" class="btn btn-ghost-danger">现金充值</a>
          <a href="" class="btn btn-white">学习卡</a>
        </div>
      </div>
      <div class="coin-card coin-card--warning hide">
        <div class="coin-card__icon"><i class="es-icon es-icon-yulan"></i></div>
        <div class="coin-card__body">
          <p>可提现金额</p>
          <p><span class="text-xlg text-medium text-white">1799.02</span>元 冻结金额 13.00 元 <i class="es-icon es-icon-help" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-trigger="hover"></i></p>
          <p>未设置收款账号前无法提现 <a href="" class="link-white">设置收款账号</a></p>
        </div>
        <div class="coin-card__action">
          <a href="" class="btn btn-ghost-warning">立即提现</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="coin-data-card">
        <div class="coin-data-item">
          <div class="coin-data-item__label">总计收入</div>
          <div class="coin-data-item__value"><span>+ 23.11</span></div>
        </div>
        <div class="coin-data-item">
          <div class="coin-data-item__label">总计支出</div>
          <div class="coin-data-item__value"><span>-68.11</span>元</div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th width="30%">内容</th>
        <th>流水号</th>
        <th>订单号</th>
        <th>提交时间</th>
        <th>收支</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>支付宝充值现金 200 元支付宝充值现金 200 元支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
      <tr>
        <td>支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
      <tr>
        <td>支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
    </tbody>
  </table>
{% endblock %}