{% extends 'middle/layout.html.twig' %}

{% set pageTitle ="虚拟币" %}

{% block main_body %}
  <table class="table code-table">
    <thead>
      <tr>
        <th width="30%">内容</th>
        <th>流水号</th>
        <th>订单号</th>
        <th>提交时间</th>
        <th>收支</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>支付宝充值现金 200 元支付宝充值现金 200 元支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
      <tr>
        <td>支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
      <tr>
        <td>支付宝充值现金 200 元</td>
        <td>2017042121144446163</td>
        <td>V2017042121141876634</td>
        <td>2017/01/18 21:14:44</td>
        <td>+400.00</td>
      </tr>
    </tbody>
  </table>
{% endblock %}