
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">参与直播人数（最近七天）</h3>
    </div>
    <div class="panel-body" id="sms-data-tab" style="height: 250px;"></div>
  </div>
</div>