
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="pull-right"><a href="">明细</a></p>	
      <h3 class="panel-title">云邮件使用情况（最近七天）</h3>
    </div>
    <div class="panel-body" id="email-data-tab" style="height: 250px;"></div>
  </div>
</div>