
<div class="col-md-6">
  <input id="videoUsedInfo"  type="hidden" value='{% if videoUsedInfo %}{{videoUsedInfo}}{% endif %}'> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="pull-right"><a href="{{path('admin_cloud_detail')}}">明细</a></p>	
      <h3 class="panel-title">云视频使用情况（最近七个月）</h3>
    </div>
    <div class="panel-body" id="storage-data-tab" style="height: 250px;"></div>
  </div>
</div>