{% extends 'TopxiaAdminBundle::new-layout.html.twig' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
      
      {% include 'TopxiaAdminBundle::side.html.twig' with {menus:side_menus,nav:menu} %}

    {% endblock %}
  </div>
  <div class="col-md-10">
      <div class="page-header"><h1>{{ admin_macro.title(side_menus,menu) }}</h1></div>
      {% block main %}{% endblock %}
  </div>
{% endblock %}