{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'app' %}
{% set side_menus = permissions('admin_app') %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
      
      {% include 'TopxiaAdminBundle::side.html.twig' with {menus:side_menus,nav:menu} %}

    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}