{% extends 'TopxiaAdminBundle:App:layout.html.twig' %}

{% block title %}检查应用更新 - {{ parent() }}{% endblock %}


{% set menu = 'updates' %}

{% block main %}
  <div class="page-header">
    <h1>检查应用更新</h1>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="60%">应用描述</th>
        <th>更新版本</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class=""><a href="#" class="">会员系统</a> </div>
          <div class="text-muted">更新日志：* 修复：在iOS系统下，无法预览免费课时视频   * 修复：管理后台，添加新用户，勾选教师角色后，报错... <a href="#" class="text-warning">查看详情  &raquo; </a>
          </div>
          <div class="text-muted"><small>开发者：<a href="#">EduSoho官方</a></small></div>
        </td>

        <td>
          <strong class="text-danger">1.0.1</strong>
          <br>
          <small class="text-muted">2014-3-20更新</small>
        </td>

        <td>
          <a href="#" class="btn btn-primary">更新</a>
        </td>
        
      </tr>
    </tbody>
  </table>

{% endblock %}