{% if threads%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新问答</h3>
  </div>
  <div class="panel-body">
  	<ul class="text-list">
  		{% for thread in threads %}
  		<li>
        <a href="{{ path('course_thread_show', {courseId:course.id, id:thread.id}) }}">{{ thread.title }}</a>
      </li>
  		{% endfor %}
  	</ul>
  </div>
</div>
{% endif %}