#list-header {
  .ant-input:hover {
    border-color: @brand-primary;
  }
  .ant-input:focus {
    box-shadow: none;
  }
  .ant-btn-primary {
    background-color: @brand-primary;
    border-color: @brand-primary;
    text-shadow: none;
    box-shadow: none;
  }
  .ant-btn:hover {
    border-color: @brand-primary;
  }
  .ant-btn-default:hover {
    color: @brand-primary;
  }
  .ant-btn-default:active {
    color: @brand-primary;
    border-color: @brand-primary;
  }
  .ant-btn-default:focus {
    color: @brand-primary;
    border-color: @brand-primary;
  }
  .ant-select-selection:focus {
    border-color: @brand-primary;
    box-shadow: none;
  }
  .ant-select-selection:hover {
    border-color: @brand-primary;
  }
  .ant-select-open .ant-select-selection {
    border-color: @brand-primary;
    box-shadow: none;
  }
  .has-success .form-control {
    border-color: @brand-primary;
  }
  .ant-select-focused .ant-select-selection {
    border-color: @brand-primary;
    box-shadow: none;
  }
}
.ant-select-dropdown-menu {
  .ant-select-dropdown-menu-item-selected {
    color: @brand-primary;
    border-color: @brand-primary;
  }
}