#list-header {
  margin-bottom: 20px;
  
  .header-btn-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .question-name {
    color: #37393D;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .report,.add-question,.import {
    margin-left: 8px;
  }
  .ant-form-inline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ant-form-inline .ant-form-item {
    margin-right: 0;
  }

  .spin-fixed {
    position: fixed;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    padding: 10px 16px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
  .ant-spin-text {
    display: inline-block !important;
    margin-left: 8px;
    color: #37393D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    vertical-align: text-bottom;
  }
}