.question-modal-lg{
  width: 970px;
}
.question-add{
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    width: 930px;
    border-radius:8px;
    border:1px solid #E1E1E1;
  }
  &__left{
    padding: 20px 0;
    width: 210px;
    box-sizing: border-box;
    border-right: 1px solid #E1E1E1;
  }
  &__right{
    padding: 20px 8px;
    width: 718px;
    box-sizing: border-box;
  }
  &__footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    &--container {
      display: flex;
      justify-content: space-between;
    }
    &--title{
      font-size:14px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(50,50,50,1);
      .cd-link-primary{
        margin-left: 20px;
      }
    }
    &--btn{
      margin-top: -4px;
    }
  }
  &__list{
    margin-top: 20px;
    &__item{
      margin-right: 50px;
      display: inline-block;
      text-align: center;
      font-size:14px;
      font-family:PingFangSC-Regular,PingFang SC;
      color:rgba(50,50,50,1);
    }
  }

  .item-tag-list {
    display: flex;
    .tag-label {
      text-wrap: nowrap;
      margin-top: 2px;
    }
    .item-tag-container {
      padding: 0;
      .tag {
        display: inline-block;
        color: rgba(0, 0, 0, 0.45);
        padding: 0 3px;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        line-height: 16px;
        margin-right: 4px;
        margin-bottom: 6px;
      }
    }
  }
}