.test-create {
    padding: 0 25px;

    .test-create-title {
        display: flex;
        justify-content: space-between;

        .test-create-title-left {
            display: flex;
            justify-content: space-between;
            width: 180px;
            height: 24px;

            .test-create-title-left-back {
                color: black;

                img {
                    margin: -3px 8px 0 0;
                    width: 7px;
                    height: 14px;
                }
            }

            i {
                margin-top: 2px;
                width: 1px;
                height: 17px;
                background: #E5E6EB;
            }

            .test-create-title-left-type {
                display: flex;
                padding: 4px 16px;
                justify-content: center;
                align-items: center;
                width: 92px;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                color: #F77234;
                border-radius: 4px;
                background: #FFF3E8;
            }
        }

        .test-create-title-right {
            display: flex;
            padding: 16px;
            justify-content: space-between;
            width: 195px;
            height: 64px;
            border-radius: 8px;
            background: #FAFAFA;
            color: #919399;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

            p {
                height: 32px;
            }

            i {
                margin-top: 12px;
                width: 1px;
                height: 17px;
                background: #E5E6EB;
            }

            .test-create-title-right-mark {
                margin-left: 16px;
                color: #000;
                font-family: D-DIN;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }

    .test-create-content {
        margin: 32px 0;

        .ant-form-item {
            display: flex;
        }

        .ant-form-item-label {
            width: 82px;
            color: #37393D;
            font-size: 14px;
            font-style: normal;

            label {
                font-weight: normal;
                margin-right: 16px;
            }
        }

        .ant-form-item-control-wrapper {
            flex: 1;
        }

        .test-paper-number {
            .test-paper-number-text {
                margin: 0 8px;
                color: #5E6166;
                font-size: 14px;
            }

            .test-num-tips-image {
                img {
                    margin-top: -3px;
                    width: 14px;
                    height: 14px;
                }
            }

        }

        .test-num-tips {
            position: relative;
            padding: 8px;
            margin-left: 235px;
            width: 298px;
            height: 122px;
            border-radius: 2px;
            background: #37393D;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }

        .test-num-tips::after {
            display: block;
            content: '';
            border-width: 6px 6px 6px 6px;
            border-style: solid;
            border-color: #37393D transparent transparent transparent;
            position: absolute;
            left: 12px;
            top: 121px;
        }
    }
}