#update-duplicate-check {
    height: 100%;

    .duplicate-head {
        padding: 16px 20px;
        border-bottom: 1px solid #F2F3F5;
        line-height: 24px;
        font-size: 16px;
        background-color: #fff;

        .duplicate-back {
            color: #37393D;
            cursor: pointer;

            i {
                color: #5E6166;
            }
        }

        .duplicate-divider {
            width: 1px;
            height: 12px;
            background-color: #D6D8DA;
            margin: 0 16px;
            display: inline-block;
        }

        .duplicate-title {
            color: #333D47;
            font-weight: 400;
        }
    }

    .duplicate-body {
        background-color: #fff;
        min-height: calc(100% - 57px);

    }

}