.setting-poster {
	.poster-image-container {
		font-size: 0;
		border-radius: 6px;
	}

	.poster-item-setting__section {
		.section {
			&-right {
				.poster-img {
					width: 100%;
					height: 119px;
				}

				.courseLink {
					line-height: 1;
				}
			}
		}

		.image-uploader {
			position: relative;
			width: 230px;
			height: 119px;
			text-align: left;

			.add-img {
				position: relative;
				width: 100%;
				height: 100%;
				text-align: center;
				background: #f5f5f5;

				span {
					color: #919191;
					font-size: 16px;
					line-height: 119px;
					letter-spacing: 0;
				}
			}

			.uploader-mask {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				color: transparent;
				line-height: 119px;
				text-align: center;

				@include transition();

				&:hover {
					color: #fff;
					background: rgba(0, 0, 0, 0.5);

					@include transition();
				}
			}
		}
	}
}
