{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% block title %}教师标签管理 - {{ parent() }}{% endblock %}

{% set menu = 'admin_teacher_tag' %}
{% set script_controller = 'customadminbundle/controller/teacher-tag/list' %}
{% set types = {0:'年级', 1:'学科'} %}

{% block main %}


<div class="btn-group">
<a href="{{ url('admin_teacher_tag', {type:0}) }}" type="button" class="btn btn-default btn-sm  btn-primary">年级标签</a>

<a href="{{ url('admin_teacher_tag', {type:1}) }}" type="button" class="btn btn-default btn-sm ">学科标签</a>
</div>

<table id="tag-table" class="table table-striped">
    <thead>
        <th width="10%">ID</th>
        <th width="60%">名称</th>
        <th width="20%">添加时间</th>
        <th width="10%">操作</th>
    </thead>
    <tbody>
      {% if tags %}
        {% for tag in tags %}
          {% include 'CustomAdminBundle:TeacherTag:list-tr.html.twig' %}
        {% endfor %}
      {% else %}
       <tr><td colspan="20"><div class="empty">暂无标签记录</div></td></tr>
      {% endif %}

    </tbody>
</table>

{{ web_macro.paginator(paginator) }}


{% endblock %}