{% extends 'layout.html.twig' %}
{% block title %}{{ 'pay_center.pay.weixin_pay'|trans }} - {{ parent() }}{% endblock %}
{% do script(['app/js/pay/wxpay-app-result/index.js'])%}
{% block body %}
  <div class="panel panel-default panel-wxpay ">
    <div id="jsWebViewPayResult" data-goto="objc://wxpayCallback?{% if trade.status == 'paid' %}1{% else %}0{% endif %}">
    {% if trade.status == 'paid' %}
      <p>{{ 'pay_center.finish_title'|trans }}</p>
    {% endif %}
    </div>
  </div>
{% endblock %}