{% extends 'layout.html.twig' %}
{% block title %}{{ 'pay_center.pay.weixin_pay'|trans }} - {{ parent() }}{% endblock %}
{% do script(['app/js/pay/wxpay-app-result/index.js'])%}
{% block body %}
  <div class="panel panel-default panel-wxpay ">
    <a id="openApp" style="display: none;" href="kuozhi://objc://wxpayCallback?{% if trade.status == 'paid' %}1{% else %}0{% endif %}">redirect APP</a>
    {% if trade.status == 'paid' %}
      <p>{{ 'pay_center.finish_title'|trans }}</p>
    {% endif %}
  </div>
{% endblock %}