<div class="js-selecte-form-items form-horizontal">

	{% for group, fields in formFields %}
		<div class="selecte-form-item-group mbm">{{('admin_v2.information_collect.form_items.select_group.'~group~'_info')|trans}}</div>
		<div class="cd-row-flex cd-row-flex-space-between">

			{% for field in fields %}
				<div class="js-add-item-btn btn btn-default col-md-5 mbm" id="btn-add-item-{{ field.field }}" data-target-item="#item-{{ field.field }}">{{ field.title }}</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
