.load-more__footer {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: vw(12);
	color: #9ba5b0;
	font-size: vw(12);
	text-align: center;
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
}
