.coupon-preview__container {
	padding: 25px 0 30px 20px;
	overflow: hidden;

	.e-coupon {
		&__container {
			height: 96px;
			overflow: hidden;
		}

		&__body {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding-right: 20px;
			line-height: 1;
		}

		&__title {
			margin-bottom: 20px;
			color: #2b333b;
			font-size: 18px;
			line-height: 1;
		}

		&__header {
			box-sizing: border-box;
			padding: 20px 15px 18px;
			background-color: #ff6969;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			.coupon-button {
				position: absolute;
				top: 26px;
				right: 15px;
				box-sizing: border-box;
				width: 56px;
				height: 24px;
				color: #ff5353;
				font-size: 12px;
				line-height: 24px;
				text-align: center;
				background-color: #fff;
				border-radius: 4px;
			}
		}

		&__name {
			position: absolute;
			top: 22px;
			right: 85px;
			color: #fff;
			line-height: 1.3;
		}

		&__middle {
			height: 6px;
			margin-top: -6px;
			margin-bottom: -1px;
			background-image: url($baseUrl+'static/images/dot_red@2x.png');
			background-position-x: 6px;
			background-size: 16px 6px;
		}

		&__bottom {
			padding: 10px;
			color: #fff;
			font-size: 10px;
			background-color: #ff5353;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
		}

		&__price {
			display: inline-block;
			margin-top: -5px;
			color: #fff;
			font-weight: 500;
			font-size: 32px;
		}

		&-single {
			height: 112px;

			.e-coupon__body {
				height: 112px;
				padding-right: 20px;

				&::after {
					top: 70px;
					right: 14px;
				}

				&::before {
					top: 70px;
				}
			}

			.van-swipe-item {
				width: 100% !important;
			}

			.e-coupon__header {
				height: 82px;

				.coupon-name {
					width: 142px;
				}

				.e-coupon__name {
					right: 100px;
				}

				.coupon-button {
					top: 30px;
					right: 35px;
				}
			}

			.stamp {
				right: 20px !important;
			}

			.e-coupon__price {
				margin-top: 1px;
			}
		}

		&-multi {
			.coupon-button {
				top: 19px;
				right: 35px;
			}
		}
		// 已领完
		.coupon-received-all,
		.coupon-used {
			.e-coupon__header {
				background-color: #b0bdc9;
			}

			.e-coupon__middle {
				background-image: url($baseUrl+'static/images/dot_grey@2x.png');
			}

			.e-coupon__bottom {
				background-color: #a5b2be;
			}

			.coupon-button {
				display: none;
			}
		}

		.coupon-received-all {
			.stamp {
				right: 20px;
				background-image: url($baseUrl+'static/images/received_all.png') !important;
			}
		}
		// 已使用
		.coupon-used {
			.coupon-button {
				display: none;
			}

			.stamp {
				right: 20px;
				background-image: url($baseUrl+'static/images/used_coupon.png') !important;
			}
		}
		// 已领取
		.stamp {
			position: absolute;
			top: 0;
			right: 20px;
			width: 50px;
			height: 50px;
			background-image: url($baseUrl+'static/images/received.png');
			background-size: 100%;
		}
	}
}
