{% extends 'TopxiaAdminBundle:Group:layout.html.twig' %}
{% set menu = 'set' %}
{% block title %}小组设置{% endblock %}
    {% block main %}
      {{ web_macro.flash_messages() }}

            <div class="page-header clearfix">
              <h1 class="pull-left">小组设置</h1>
            </div>
            <form class="form-horizontal" method="post" id="member-zone-form" novalidate>
           
            <div class="row form-group">
              <div class="col-md-2 control-label">
                <label >首页显示小组信息</label>
              </div>
              <div class="controls col-md-7 radios">
                {{ radios('group_show', {1:'显示', 0:'不显示'}, setting('group').group_show|default(1)) }}
                <div class="help-block">此功能开关只针对默认主题、默认主题B、清秋主题。</div>
              </div>
            </div>

           

            <div class="row form-group">
              <div class="col-md-2 control-label"></div>
              <div class="controls col-md-8">
                <button type="submit" class="btn btn-primary">提交</button>  
              </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          </form>
      {% endblock %}

