<form class="form-horizontal" id="group-term-form" action="{{ path('admin_group_term', {group:group.id}) }}" method="post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>设置分类</h3>
  </div>

  <div class="modal-body">
    <div class="alert">不希望出现在频道/分类页的小组，不要设置分类。</div>
    <div class="form-group">
      <label class="control-label">小组名称</label>
      <div class="controls">
        <span class="input-xlarge uneditable-input">{{ group.name }}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">保存</button>
  </div>

</form>