  <div class="well well-sm">
    <form class="form-inline" role="form" style="position: relative;">
      <div class="form-control-static tag-search-group">
        标签：<a href="#" class="tag-search-trigger">选择</a>
      </div>

      <div class="form-group">

      </div>

      <input type="submit" value="搜索" class="btn btn-primary btn-sm">

      <div class="tagchooser-overlay">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="tagchooser-example-3" class="tagchooser">

              <div class="tagchooser-choosed"></div>
              <div class="tagchooser-input">
                <div class="input-group">
                  <input type="text" class="form-control" name="keywords" data-role="tag-input">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-role="dropdown-trigger" tabindex="-1">
                      <span class="caret"></span>
                    </button>
                  </div>
                </div>
                <div class="help-block hide" data-role="input-error"></div>
              </div><!-- /.tagchooser-input -->

              <div class="tagchooser-dropdown">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div data-role="dropdown-content"></div>
                    <div class="help-block pull-left hide" data-role="dropdown-error"></div>
                  </div>
                </div>
              </div><!-- /.tagchooser-dropdown -->

              <div class="btn-group choosed-tag choosed-tag-template">
                <button type="button" class="btn btn-xs btn-default disabled"><span class="tag-name-placeholder"></span></button>
                <button type="button" class="btn btn-xs btn-default" data-role="tag-remove">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>

            </div>

          </div><!-- /.panel-body -->

          <div class="panel-footer">
            <button type="button" class="btn btn-primary btn-xs pull-right tag-search-confrim">确定</button>
            <button type="button" class="btn btn-link btn-xs pull-right tag-search-cancel">取消</button>
          </div>
        </div><!-- /.panel -->

      </div><!-- /.tag-chooser-overlay -->

    </form>
  </div>
