{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set modal_class = 'modal-lg' %}

{% block title %}添加学生{% endblock %}
{% block body %}
	<form id="number-form" class="form-horizontal" method="post" 
	action="{{ path('admin_school_class_student_import', { classId:classId })}}">
	  <div class="row form-group">
	    <div class="col-md-3 control-label">
	      <label for="numbers">学号:</label>
	    </div>
	    <div class="col-md-7 controls">
	      <textarea id="numbers" name="numbers" class="form-control" rows="5" placeholder="请以每行一个学号的格式进行填写"></textarea>
	      <span class="text-muted">* 请先确保待添加的学生账号已经创建，<a href="{{ path('admin_student') }}" target="_blank">点击创建</a></span>
	    </div>
	  </div>
	</form>
{% endblock %}

{% block footer %}
  <button type="submit" id="student-import-btn" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#number-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('school/student-import-modal')</script>
{% endblock %}