{% extends 'TopxiaAdminBundle:School:layout.html.twig' %}

{% block title %}教材设置 - {{ parent() }}{% endblock %}

{% set menu = 'textbookSetting' %}
{# {% set script_controller = 'school/school-setting' %} #}

{% block main %}
  <div class="page-header"><h1>教材设置</h1></div>
{% endblock %}