<div class="mooc-notice hidden-sm hidden-xs hidden-md">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <i class="mc-icon icon-iconfontgonggao"></i>学校公告
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="">这条文字最多11个字哦耶</a><span>12/20</span></li>
      </ul>
    </div>
  </div> 
</div>