<!-- 合作伙伴 -->
  <section class="mooc-cooperate hidden-xs moocbg-blue">
	  <div class="container">
	    <div class="mooc-index-title">
	     合作院校
	    </div>
	      {{ block_show('mooc:footer_link') }}
    </div>
  </section>