{# <h1>分类</h1>
{% set categories = data('Categories',{'group':'course', 'parentId':0}) %}
	{% if categories %}
		{% for category in categories %}
			<span class="text-muted"><a href="{{ path('course_explore', {category:category.code|default(category.id)}) }}" target="_blank">{{ category.name }}</a></span>
		{% endfor %}
	{% else %}
		暂无分类
	{% endif %}
</br> #}

<section class="mooc-navset">
  <div class="container clearfix">
    <div class="set-left hidden-md hidden-sm hidden-xs">
      <h2><i class="mc-icon icon-similar"></i>学院设置</h2>
      <p>快速选择学院入口立即学习</p>
    </div>
    <div class="set-right swiper-container  hidden-sm hidden-md hidden-xs">
      <div class="swiper-wrapper">
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
         <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
      </div>
      <a class="arrow-left" href="#">
        <i class="iconfont icon-icon30"></i>
      </a>
      <a class="arrow-right" href="#">
        <i class="iconfont icon-icon32"></i>
      </a>
    </div>
  </div>
</section>


{#<h1>公告</h1>
{% set announcements = data('Announcement',{ count:3 }) %}
	{% if announcements %}
		{% for announcement in announcements %}
			<a href="{{announcement.url}}" target="_content">{{announcement.content|sub_text(50)}}</a>
		{% endfor %}
	{% else %}
		<div>暂无公告</div>
	{% endif %}
</br>#}