{% extends 'TopxiaWebBundle:EsBar:ListContent/study-place.html.twig' %}
{% block myStudyPlace %}
{% if classrooms %}

  <!-- 班级 -->
  <div class="recommend-class-list">
    {% for classroom in classrooms %}
      <div class="class-item">
        <a target="_blank" href="{{ path('classroom_show',{id:classroom.id}) }}">
          <img class="img-responsive" src="{{ filepath(classroom.middlePicture, 'classroom.png') }}"
               alt="{{ classroom.title }}">
          <h3>{{ classroom.title }}</h3>
          <div class="image-overlay"></div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}


