{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
  {% if targetType == 'courselesson' %} 上传课时文件 {% elseif targetType == 'coursematerial' %} 上传资料文件 {% endif %}
{% endblock %}
  
{% block body %}

<style type="text/css">
  .filePrew {
    display: block;
    position: absolute;
    top: 10;
    left: 0;
    width: 400px;
    height: 40px;
    font-size: 100px;
    /* 增大不同浏览器的可点击区域 */
    opacity: 0;
    /* 实现的关键点 */
  }
  #progressbar {
    float: left;
    width:350px;
    height: 20px;
  }
  .progress {
    /*width:300px;*/
    margin-bottom: 0px;
  }
</style>
<div>
  <a href="javascript:void(0);" class="btn_addPic btn btn-default btn-lg">
        <span>
            <i class="glyphicon glyphicon-plus"></i>
            添加待上传文件
        </span>
        <input id="selectFiles" name="pic" class="filePrew" type="file"/>
  </a>

  <button id="btn_upload" class="btn_addPic btn btn-default btn-lg">
        <span>
            上传
        </span>
  </button>
  <div id="fileList">
    <table style="width:600px;margin-top:20px;">
      <thead>
        <tr>
          <td>文件名称</td>
          <td>文件大小</td>
          <td>状态</td>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
<script>app.load('course-manage-file/batch-upload-course-files')</script>
{% endblock %}