<div class="btn-group pull-right">

  <button class="btn btn-danger" id="lesson-create-btn" data-url="{{ path('course_manage_upload_course_delete_files', {id:course.id, type:tab}) }}">
    <i class="glyphicon glyphicon-trash"></i>
    删除</button>

  <button class="btn btn-warning" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_upload_course_rename_files', {id:course.id, type:tab})  }}">
  <i class="glyphicon glyphicon-pencil"></i>
  重命名</button>

</div>