{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}资料管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'files' %}
{% set tab = 'courseMaterial' %}
{% set script_controller = 'course-manage-file/index' %}

{% block main %}

<div class="panel panel-default panel-col">

  {% include 'TopxiaWebBundle:CourseFileManage:panel-heading.html.twig' %}

  {% include 'TopxiaWebBundle:CourseFileManage:button-group-operation.html.twig' %}

  <div class="panel-body">  
    <table class="table table-striped" id="course-material-list">
      <thead>
        {% include 'TopxiaWebBundle:CourseFileManage:thead-tr.html.twig' %}
      </thead>
      <tbody>
        {% for uploadFile in courseMaterials %}
          {% include 'TopxiaWebBundle:CourseFileManage:tbody-tr.html.twig' %}
        {% else %}
          <tr class="empty"><td colspan="8">无资料记录</td></tr>
        {% endfor %}
      </tbody>
    </table>

    {{ web_macro.paginator(paginator) }}

  </div>

</div>


{% endblock %}