{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
  上传课件
{% endblock %}
	
{% block body %}

	<input type="hidden" id="upload-course-ware-as-chunk" value="{{ path('course_manage_upload_course_ware_as_chunk', {id:course.id}) }}">

	<form id="form" method="post" action="{{ path('course_manage_submit_upload_course_wares', {id:course.id}) }}">
		
		<div style="float: left; margin-right: 20px">
			<div id="uploader" style="width: 850px;">
				上传课件
			</div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
		<br style="clear:both" /> <hr>
		<input type="submit" value="Send"/>

	</form>

<script>app.load('course-manage-file/upload-course-ware')</script>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#block-form">保存</button>
{% endblock %}