{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
  上传课件
{% endblock %}
	
{% block body %}
	
	<form id="form" method="post" action="../dump.php">
		<div id="uploader">
			<p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
		</div>
		<br />
		<input type="submit" value="Submit" />
	</form>

<script>app.load('course-manage-file/upload-course-ware')</script>
{% endblock %}

{% set hideFooter = true %}