{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
{% if  storageSetting.upload_mode == 'local' %}
  上传本地课件
  {% elseif storageSetting.upload_mode == 'cloud' %}
  上传云端课件
  {% endif %}
{% endblock %}
	
{% block body %}

	<input type="hidden" id="upload-course-lesson-as-one" 
	value="{{ path('course_manage_upload_course_lesson_as_one', {id:course.id}) }}">

	<form id="upload-course-lessons" method="post" 
	action="{{ path('course_manage_submit_upload_course_files', {id:course.id, fileType:'lesson'}) }}">
	
		<div style="float: left; margin-right: 20px">
			<div id="uploader" style="width: 850px;"> </div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

	</form>

<script>app.load('course-manage-file/upload-course-lesson')</script>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#upload-course-lessons">提交</button>
{% endblock %}