{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
  上传资料
{% endblock %}
	
{% block body %}

	<form id="form" method="post" action="dump.php">

		<h1>Queue widget example</h1>

		<p>Shows the jQuery Plupload Queue widget and under different runtimes.</p>

		<div style="float: left; margin-right: 20px">
			<h3>Flash runtime</h3>
			<div id="uploader" style="width: 500px; height: 330px;">
				xxxx
			</div>

		</div>

		<br style="clear: both" />

		<input type="submit" value="Send"/>

	</form>

<script>app.load('course-manage-file/upload-course-material')</script>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#block-form">保存</button>
{% endblock %}