{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
  重命名
{% endblock %}
	
{% block body %}
	{% if courseFiles %}
		<form id="course-file-rename-form" method="post">

			{% for courseFile in courseFiles %}
				{% include 'TopxiaWebBundle:CourseFileManage:course-file-rename-tr.html.twig' with {courseFile:courseFile, index:loop.index} %}
			{% endfor %}

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
		</form>
	{% else %}
		课程文件未不存在！
	{% endif %}


<script>app.load('course-manage-file/rename-course-files')</script>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#course-file-rename-form">保存</button>
{% endblock %}