{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}
  上传课件
{% endblock %}
	
{% block body %}

	<form id="form" method="post" action="{{ path('course_manage_process_uploading_course_ware', {id:course.id}) }}">
		
		<div style="float: left; margin-right: 20px">
			<div id="uploader" style="width: 500px; height: 330px;">
				上传课件
			</div>
		</div>

		<br style="clear:both" />
		<input type="submit" value="Send"/>

	</form>

<script>app.load('course-manage-file/upload-course-ware')</script>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#block-form">保存</button>
{% endblock %}