<div class="btn-group">
      <button class="btn btn-danger" data-role="batch-delete" data-name="课件" data-url="{{ path('course_manage_upload_course_delete_files', {id:course.id, type:tab}) }}">
        <i class="glyphicon glyphicon-trash"></i>
      删除</button>
    </div>