{% for toLearnTask in toLearnTasks %}
  {% if loop.index == 1%}
    <a class="btn btn-primary btn-lg "
      href="{{ path('course_task_show',{courseId: course.id, id: toLearnTask.id}) }}">
      {% if taskResultCount < 1 %}
        {{ 'course.btn.start_learning'|trans }}
      {% else %}
        {{ 'course.btn.continue_learning_btn'|trans }}
      {% endif %}
    </a>
  {% endif %}
{% endfor %}