{% extends 'course/header/header-layout.html.twig' %}

{% block course_header_info %}
  {% if member.locked|default("0") == "1" %}
  <div class="alert alert-warning">
    {{ 'my.course.refund_tips'|trans }}
    <button class="btn btn-warning btn-sm cancel-refund" data-url="{{ path('order_cancel_refund', {orderId: member.orderId}) }}">{{ 'my.course.cancle_refund_btn'|trans }}</button>
  </div>
  {% endif %}
{% endblock %}

{% block course_member_exit %}
	{% if member and not member.locked and member.role != 'teacher' and course.parentId == 0 %}
		<li>
		  <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal" data-url="{{ path('course_exit_modal', {action:path('course_exit', {id:course.id})}) }}" ><i class="es-icon es-icon-exit"></i>
		  </a>
		</li>
	{% endif %}
{% endblock %}
