<div class="classroom-tip-wrap">
  <span class="text-14">{{ 'course.belong_to_classroom_tips'|trans({'%classroomUrl%':path('classroom_show', {id:classroom.id}), '%classroomTitle%':classroom.title})|raw }}</span>
</div>
