{% extends 'TopxiaAdminBundle:Coin:finance.html.twig' %}

{% set menus = permissions("admin_bills", 1)%}
{% set menu = 'admin_bills' %}

{% block main %}

<div class = "mbl">
{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>


  {% block main_content %}{% endblock %}
{% endblock %}
