{% extends 'TopxiaAdminBundle:Coin:finance.html.twig' %}

{% block title %}账单{% endblock %}

{% set menu = 'bill' %}

{% block main %}

<div class = "mbl">
{% set menus = permissions("admin_bills","tab")%}
{{admin_macro.tab_group(menus,submenu)}}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
