{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set side_menus = menus("admin",'admin_finance') %}
{% set nav = 'admin_finance' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      <div class="panel panel-default">

          {% include 'TopxiaAdminBundle::side.html.twig' with {menus:side_menus,nav:menu} %}
      </div>

    {% endblock %}
  </div>
  <div class="col-md-10">
      <h4>{{ admin_macro.title(side_menus,menu) }}</h4>
      {% block main %}{% endblock %}
  </div>
{% endblock %}
