{% extends 'TopxiaAdminBundle:Coin:order.html.twig' %}

{% set menus = permissions("admin_coin_order","tab")%}
{% set menu = 'coin_order' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}
{% block main %}

<div class = "mbl">

{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
