{% extends 'TopxiaAdminBundle:Coin:records.html.twig' %}

{% set menus = permissions("admin_coin_user","tab")%}
{% set menu = 'coin-records' %}
{% block title %}{{ parent() }}-{{ admin_macro.title(menus,submenu) }}{% endblock %}

{% block main %}

<div class = "mbl">
{% include 'TopxiaAdminBundle::tab.html.twig' with {menus:menus,type:submenu} %}
</div>


  {% block maincontent %}{% endblock %}
{% endblock %}
