{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_setting_cloud_edulive' %}
{% block tabs %}{% endblock %}
{% block main %}
<div class="panel panel-default notice-panel">
  <div class="panel-body">
    <i class="es-icon es-icon-infooutline text-primary"></i>
    <div class="text-md mbl">尚未启用云直播</div>
    <div class="color-gray notice-desc">尚未购买云直播服务，不能启用，<a href="">立即购买</a> 或 <a href="">了解详情</a>。</div>
    <form class="form-horizontal" role="form" method="post" action="{{ path('admin_cloud_setting_edulive') }}">
      <button type="submit" class="btn btn-primary btn-lg notice-btn" {% if overview.isBuy|default(true) == false %}disabled="disabled"{% endif %} name="live_course_enabled" value="1">立即启用</button>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
  </div>
</div>
{% endblock %}