
.ibs-uploader-content {
  padding: 32px 32px 16px 32px;
  background-color: #f8fbfd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ibs-uploader-container {
  padding: 4px 16px;
  border: 1px dashed #e4ecf3;
}

.ibs-uploader-bottom {
  margin-top: 24px;
  padding-top: 16px;
  line-height: 30px;
  border-top: 1px solid #eaf2f7;
}

.ibs-attachment-item {
  height: 72px;
  padding: 16px 0 16px 16px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
}

.ibs-attachment-item__name {
  margin-bottom: 0;
  width: 50%;
  line-height: 40px;
}

.ibs-attachment-item__btn {
  margin-top: 5px;
  line-height: 30px;
}
