{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
{% include 'TopxiaWebBundle:Attachment/Widget:list.html.twig' with {targetType:'question.stem', targetId:question.id  } %}
{% endblock %}

{% block body %}

  <div class="homework-question-fill question-fill-inputs">
    {% for index,answer in question.answer %}
      <input class="form-control " type="text" data-type="fill" name="answer[{{ question.id }}][]" placeholder="填空({{ loop.index }})答案，请填在这里" value="{% if itemResult.answer[index]|default("") %} {{ itemResult.answer[index] }}  {% endif %}" />
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}

{% endblock %}