{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
{% endblock %}

{% block body %}

<div style="margin-bottom:35px">
	<div class="question-eassy-answer">学员回答:</div>
	<strong>{{ itemResult.answer|raw }}</strong>

</div>
<div style="margin-bottom:18px">
 {% for rightAnswer in question.answer %}
	   <div class="question-eassy-rightanswer">正确答案</div> <strong class="question-text-success">{{ rightAnswer|join(' 或 ') }}</strong>
	{% endfor %}

</div>

<div  style="margin-bottom:18px">
	<div class="teacher-say-text">评语:</div>
	<textarea rows="5" id="teacher-say"></textarea>
</div>
{% endblock %}

{% block footer %}

{% endblock %}