{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
{% endblock %}

{% block body %}

<div style="margin-bottom:18px">
	<div style="margin-bottom:5px">学员回答:</div>
	<strong class="">{{ itemResult.answer }}</strong>

</div>
<div>
 {% for rightAnswer in question.answer %}
	   <div style="margin-bottom:5px">正确答案</div> <strong class="question-text-success">{{ rightAnswer|join(' 或 ') }}</strong>
	{% endfor %}

</div>
{% endblock %}

{% block footer %}

{% endblock %}