{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
{% endblock %}

{% block body %}

<div style="margin-bottom:18px">
	<div style="margin-bottom:5px">学员回答:</div>
	<strong class="">{{ itemResult.answer|raw }}</strong>

</div>
<div style="margin-bottom:18px">
 {% for rightAnswer in question.answer %}
	   <div style="margin-bottom:5px">正确答案</div> <strong class="question-text-success">{{ rightAnswer|join(' 或 ') }}</strong>
	{% endfor %}
</div>
{% if itemResult.teacherSay|default(null) %}
	<div  class="question-eassy-form-control question-teacher-say-input">
		<div class="teacher-say-text">老师评语:</div>
		{{ itemResult.teacherSay }}
	</div> 
{% endif %}

{% endblock %}

{% block footer %}

{% endblock %}