<div class="question question-{{ question.type }} question-{{ question.id }}"  data-question-id="{{ question.id }}">
  <div class="question-heading editor-text">{% block heading %}{% endblock %}</div>

  <div class="question-body clearfix">{% block body %}{% endblock %}</div>

  <div class="question-footer">{% block footer %}{% endblock %}</div>
</div>