{% extends 'TopxiaWebBundle:Question:question-choice-finished.html.twig' %}

{% block body %}

  {% include 'TopxiaWebBundle:Question:question-choice-options-result.html.twig' %}

{% set itemResultAnswer = itemResult.answer|default(null)  %}

{% if itemResultAnswer in [0,1] %}
 {% set choiceIndex = (65+itemResult.answer)|chr %}

  <div class="homework-question-result">

    {% if itemResult.status == 'right' %}
	  <span class="glyphicon glyphicon-ok question-text-success"></span>
    {% elseif itemResult.status == 'wrong' %}
     <span class="glyphicon glyphicon-remove question-text-danger"></span> 选择了<strong class="question-text-danger">{{ choiceIndex }}</strong>
    {% endif %}
</div>
{% endif %}

{% endblock %}