{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  <div class="well well-sm">
  {{ question.stem|bbCode2Html|raw }}
  </div>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}