  <div class="question-set-item">

    <div class="question-set-item-side">
      <span class="question-set-item-seq">{{ item.seq }}</span>
      {% if item.score|default(null) %}
        <span class="question-set-item-score">{{ item.seq }}</span>
      {% endif %}
    </div>

    <div class="question-set-item-main">
      {% include 'TopxiaWebBundle:Question:question-' ~ question.type ~ '-doing.html.twig' %}
    </div>

  </div>