{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|bbCode2Html|raw }}
{% endblock %}

{% block body %}

 {% set rightAnswerIndex = question.answer %}

  <div class="testpaper-question-result">
	 正确答案是: <strong style="color:red">{% if rightAnswerIndex == 1 %} 正确 {% else %} 错误 {% endif %}</strong>，
    {% if itemResult.status == 'right' %}
	   你答对了
    {% elseif itemResult.status == 'wrong' %}
       你答错了
    {% elseif itemResult.status == 'noAnswer' %}
　　　  你未答题
    {% endif %}
</div>

{% endblock %}

{% block footer %}

{% endblock %}