{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
{% endblock %}

{% block body %}

<div class="question-eassy-form-control">
	<div class="question-eassy-answer">学员回答:</div>
	<strong>{{ itemResult.answer|raw }}</strong>

</div>
<div class="question-eassy-form-control">
 {% for rightAnswer in question.answer %}
	   <div class="question-eassy-rightanswer">正确答案</div> <strong class="question-text-success">{{ rightAnswer|join(' 或 ') }}</strong>
	{% endfor %}

</div>

<div  class="question-eassy-form-control">
	<div class="teacher-say-text">评语:</div>
	<textarea class="form-control  teacher-say"  name="answer[{{ question.id }}]"  data-type="essay"></textarea>
</div>
{% endblock %}

{% block footer %}

{% endblock %}