{% extends 'ClassroomBundle:ClassroomManage:layout.html.twig' %}

{% block title %}导入管理 - {{ parent() }}{% endblock %}
{% set side_nav = 'students' %}

{% block main %}
 {% if classroom.status == 'published' %}
	{{ render(controller('TopxiaWebBundle:Importer:ValidateExcelInfo',{request:app.request, target:{type:'classroom', id:classroom.id}})) }}
 {% else %}
	<div class="panel panel-default panel-col">
		<div class="panel-heading">学员批量导入</div>
 	 	<div class="panel-body">
 	 		<div class="empty">未发布班级不能导入学员!</div>
 	 	</div>
 	</div>
 {% endif %}


{% endblock %}