//课程进度条
.course-progress {
  .cricle-progress {
    .percent {
      .num {
        color: @brand-primary;
      }
    }
  }
}

.orderlearn-poster {
  span.swiper-active-switch {
    background-color: @brand-primary;
  }
}

.course-detail-section-responsive {
  ul {
    >li {
      &:hover {
        color: @brand-primary;
        a {
          color: @brand-primary;
        }
      }
    }
  }
}