<li class="">
	<span>{{ knowledge.name }}</span>
	<span class="pull-right glyphicon glyphicon-trash delete" data-url="{{ path('admin_knowledge_delete', {categoryId:category.id,id:knowledge.id})}}"></span>
	<span class="pull-right glyphicon glyphicon-pencil edit"  data-url="{{ path('admin_knowledge_edit', {categoryId:category.id,id:knowledge.id}) }}"></span>
	<span class="pull-right glyphicon glyphicon-plus add" data-url="{{ path('admin_knowledge_create', {categoryId:category.id,parentId:knowledge.id})}}"></span>
</li>