{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% block title %}安装与升级 - {{ parent() }}{% endblock %}

{% set menu = 'upgrade' %}
{% set tab = 'upgrade-logs' %}

{% set script_controller = 'upgrade/upgrade-logs' %}

{% block main %}

<div class="page-header">
  <a class="btn btn-info btn-sm pull-right" 
  href="{{ path('admin_upgrade_check') }}"> 检查更新 </a>
	<h1>更新日志</h1>
</div>

{% include 'TopxiaAdminBundle:Upgrade:upgrade-tab.html.twig' %}

<table id="upgrade-logs-table" class="table table-striped">

  <thead>
    <tr>
      <th width="10%">更新包</th>
      <th width="8%">包类型</th>
      <th width="5%">前一版本</th>
      <th width="5%">更新版本</th>
      <th>数据库备份</th>
      <th>文件备份</th>
      <th width="5%">更新时间</th>
      <th>状态</th>
      <th>失败原因</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  	 {% for log in logs %}
        {% include 'TopxiaAdminBundle:Upgrade:upgrade-logs-list-tr.html.twig' %}
      {% else %}
        <tr><td colspan="6"><div class="empty">暂无更新日志</div></td></tr>
      {% endfor %}
  </tbody>

</table>

{{ web_macro.paginator(paginator) }} 

{% endblock %}