.setting-graphicNavigation {
	.graphic-navigation-item {
		position: relative;
		margin-bottom: 15px;
		padding: 15px 10px;
		background-color: #fff;
		border: 1px solid $grey-light;

		&.active {
			border: 1px solid $primary-color;
		}

		&-left {
			float: left;
			width: 90px;
		}

		&-right {
			float: left;
		}

		.add-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			width: 80px;
			height: 80px;
			margin-right: 10px;
			line-height: 90px;
			text-align: center;
			background-color: #f5f5f5;
			cursor: pointer;

			.el-upload {
				height: 100%;
			}

			.graphic-navigation-img {
				display: inline-block;
				width: 60px;
				border-radius: 1000px;
			}

			.graphic-navigation-img-mask {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				color: transparent;

				@include transition();

				&:hover {
					color: #fff;
					background: rgba(0, 0, 0, 0.5);

					@include transition();
				}
			}
		}

		.add-title {
			margin-top: 3px;
			margin-bottom: 14px;

			> .el-input {
				width: 200px;
			}

			.el-select {
				width: 150px;
			}

			.el-input__inner {
				margin-left: 4px;
				padding-left: 4px;
				border-radius: 2px;
			}
		}

		.add-choose {
			// display: flex;
			// align-items: center;
			// flex-wrap: wrap;
			> .el-input {
				width: 200px;
			}

			.el-select {
				width: 150px;
			}

			.el-input__inner {
				margin-left: 4px;
				padding-left: 4px;
				border-radius: 2px;
			}
		}

		.add-inner {
			margin-top: 16px;
			margin-left: 154px;
		}

		.add-outter {
			display: flex;
			width: 100%;
			margin-top: 16px;
			line-height: 30px;

			&-title {
				width: 100px;
				font-size: 14px;
			}
		}

		.btn-choose-course {
			height: 24px;
			font-size: 12px;
		}

		.graphic-navigation-link {
			color: #999;
			font-size: 15px;
		}
	}

	&-add {
		width: 100%;
	}
}

.e-graphic-navigation {
	padding: 10px 16px;

	.graphicNavigation__warp {
		display: flex;
		align-items: center;

		&:nth-child(2) {
			margin-top: 28px;

			.graphicNavigation__item {
				flex: 0 0 20%;
			}
		}

		&.graphicNavigation__warp__small {
			.graphicNavigation__item {
				.graphicNavigation__img {
					width: 48px;
				}
			}
		}

		.graphicNavigation__item {
			position: relative;
			display: flex;
			flex: 1;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #999;
			font-size: 12px;

			.graphicNavigation__img {
				width: 48px;
				border-radius: 1000px;
			}

			.graphicNavigation__text {
				max-width: 112px;
				min-height: 17px;
			}

			.graphicNavigationFour__text {
				max-width: 84px;
			}

			.graphicNavigationFive__text {
				max-width: 66px;
			}

			span {
				margin-top: 2px;
			}
		}
		// .graphicNavigation__border{
		//   &::before{
		//     content: "";
		//     position: absolute;
		//     right:0;
		//     top:10px;
		//     bottom: 20px;
		//     width: 1px;
		//     background: #EBEBEB;
		//   }
		//   &::after{
		//     content: "";
		//     position: absolute;
		//     left:0;
		//     top:10px;
		//     bottom: 20px;
		//     width: 1px;
		//     background: #EBEBEB;
		//   }
		// }
	}
}

.setting-graphicNavigation-choose-container {
	min-height: 100px;
	max-height: 250px;
	margin-top: 50px;
	overflow: auto;

	.choose-container-group {
		display: flex;
		align-items: center;
		height: 60px;

		.choose-container-group-item {
			display: flex;
			flex: 1;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& img {
				width: 40px;
				border-radius: 1000px;
				cursor: pointer;
			}
		}
	}
}

.setting-graphicNavigation-dialog-footer {
	display: flex;
	justify-content: center;

	.upload-img {
		display: inline-block;
		margin-left: 20px;
	}
}

.setting-graphicNavigation-cropper-container {
	height: 250px;
	margin-top: 50px;

	.cropper-view-box {
		border-radius: 1000px;
	}
}
