<div class="page-header clearfix">
  <a class="btn btn-info btn-sm pull-right" id="add-navigation-btn" href="{{path('admin_user_level_create')}}">添加会员类型</a>
  <h1 class="pull-left">会员专区设置</h1>
</div>
  {{ web_macro.flash_messages() }}
<ul class="nav nav-tabs">
  <li {% if submenu == 'levelzone' %} class="active" {% endif %} >
    <a  href="{{ path('admin_level_zone') }}">专区设置</a>
  </li>
  <li {% if submenu == 'userlevel' %} class="active" {% endif %} >
    <a  href="{{ path('admin_user_level') }}">会员类型设置</a>
  </li>
</ul>