{% extends 'CustomWebBundle:Course:normal-layout.html.twig' %}

{% set script_controller = 'course/common' %}

{% set tab = 'homeworks' %}

{% block course_main %}
    <div class="homework-time">
        {% for id, item in lessons %}
            {% set homework =  homeworks[item.id]|default(null) %}
            {% set homeworkId =  homework.id|default(null) %}
            {% set homeworkResult =  homeworkResults[item.id]|default(null) %}
            {% set homeworkItemsResult =  homeworkItemsResults[homeworkId]|default(null) %}
            {% if homework %}
                {% include 'CustomWebBundle:Homework:list-item.html.twig' with {lesson: item,homeworkItemsResult:homeworkItemsResult,homeworkResult:homeworkResult, homework: homework|default(null)} %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}