{% for key,question in questions %}

    {% include 'TopxiaWebBundle:QuizQuestionTest:create-2-tr.html.twig'%}

    {% if question.questionType == 'material' and sonQuestions[question.id] | default(null)%}

            {% for key,sonQuestion in sonQuestions[question.id] %}
            
                {% include 'TopxiaWebBundle:QuizQuestionTest:create-2-tr.html.twig' with {question: sonQuestion} %}

            {% endfor %}

    {% endif %}

{% else %}

    <tr><td colspan="20"><div class="empty">无题目记录</div></td></tr>
    
{% endfor %}
