<div class="panel panel-default" id="question{{ question.id }}">
	<div class="panel-heading">
		<h3 class="panel-title">{{ questionIndex }}. {{ question.stem }}</h3>
		<a class="btn btn-sm" style="float:right;"><span class="glyphicon glyphicon-bookmark">标记</span></a>
	</div>
	<div class="panel-body">

		<textarea class="form-control" data-type="essay" name="{{ question.id }}" rows="3"></textarea>

	</div>
</div>