<div class="material">
<div class="well">{{ question.stem|raw }}</div>
{% for question in question.questions|default([]) %}

	{% if question.type == 'single_choice' or question.type == 'choice' %}

		{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-choice.html.twig' %}

	{% endif %}

	{% if question.type == 'determine' %}

		{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-determine.html.twig' %}

	{% endif %}

	{% if question.type == 'fill' %}

		{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-fill.html.twig' %}

	{% endif %}

	{% if question.type == 'essay' %}

		{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-essay.html.twig' %}

	{% endif %}

{% endfor %}
</div>