{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'quiz-question/do-test' %}

{% block content %}
<div class="well">
  <h1>Example page header</h1>
  <p>asgadsgsagasgasgadsgsagasgasgadsgsagasgasgadsgsagasgasgadsgsagasgasgadsgsagasgasgadsgsagasgasgadsgsagasg</p>
  <small>fasgsadgsadgasgsag</small>
</div>

<style type="text/css">
	.affix.questionBar {
		top: 0;
		/*left: 0;*/
	}
	.affix.answerCard {
		top: 60px;
	}
</style>

<div class="row">
	<div  class="col-md-9">
		<div class="questionBar" data-spy="affix" data-offset-top="200">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#">选择</a></li>
				<li><a href="#">填空</a></li>
				<li class="active"><a href="#">二次元</a></li>
			</ul>
		</div>
		<br>

		{% block main%}
		{% endblock %}

	</div>

	<div class="col-md-3">
		
		<div class="panel panel-default answerCard" data-spy="affix" data-offset-top="200">
  			<div class="panel-heading">
    			<h3 class="panel-title">剩余时间,暂停，下次再做等内容</h3>
  			</div>
  			<div class="panel-body">
    			Panel content
  			</div>
  			<div class="panel-footer">
  				<button class="btn btn-success" style="width:100%" id="postPaper" data-url="{{ path('course_manage_submit_test', { testId: testId }) }}">我要交卷</button>
  			</div>
		</div>

	</div>
</div>
{% endblock %}