<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ question.stem }}</h3>
	</div>
	<div class="panel-body">
		<ul>
			{% for choice in choices %}

				<li>{{ choice.content }}</li>

			{% endfor %}
		</ul>
	</div>
</div>

