{% extends 'TopxiaWebBundle:QuizQuestionTest:do-test-layout.html.twig' %}

{% block main %}
{% set questionIndex = 1 %}
<div id="choice"></div>
{% for question in questions.single_choice %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-choice.html.twig' %}
	{% set questionIndex = questionIndex + 1 %}

{% endfor %}

{% for question in questions.choice %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-choice.html.twig' %}
	{% set questionIndex = questionIndex + 1 %}

{% endfor %}
<div id="determine"></div>
{% for question in questions.determine %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-determine.html.twig' %}
	{% set questionIndex = questionIndex + 1 %}

{% endfor %}
<div id="fill"></div>
{% for question in questions.fill %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-fill.html.twig' %}
	{% set questionIndex = questionIndex + 1 %}

{% endfor %}
<div id="essay"></div>
{% for question in questions.essay %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-essay.html.twig' %}
	{% set questionIndex = questionIndex + 1 %}

{% endfor %}
<div id="material"></div>
{% for question in questions.material %}

	{% include 'TopxiaWebBundle:QuizQuestionTest:do-test-material.html.twig' %}

{% endfor %}

{% endblock %}