{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% import "admin/macro.html.twig" as admin_macro %}

{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{'题目预览'|trans}}{% endblock %}


{% set modal_class = 'modal-lg' %}

{% block body %}

  {% include 'TopxiaWebBundle:QuizQuestionTest:do-test-' ~ type ~ '.html.twig' %}

{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">{{'关闭'|trans}}</button>
  {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
  <script>app.lazyLoad = function() { app.load('quiz-question/preview'); };</script>
{% endblock %}