{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'small' %}

{% block title %}暂停{% endblock %}
{% block body %}

<select class="form-control">
  <option>喜欢</option>
  <option>很喜欢</option>
  <option>非常喜欢</option>
  <option>非常非常喜欢</option>
  <option>非常非常非常喜欢</option>
</select>


{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-info" data-dismiss="modal">继续</button>

{% endblock %}