<div class="testpaper-question-stem-wrap clearfix">
  <div class="testpaper-question-seq-wrap">
    <div class="testpaper-question-seq">{% if question.seq|default(null) %}{{ question.seq }}{% endif %}</div>
    <div class="testpaper-question-score">{{ question.itemScore }}分</div>
  </div>
  <div class="testpaper-question-stem">{{ question.stem|bbCode2Html|raw }}</div>
</div>