{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% import 'TopxiaWebBundle::macro.html.twig' as macro %}

{% block title %}添加题目 - {{ parent() }}{% endblock %}

{% set parentId = parentId |default(null)%}
{% set side_nav = 'testpaper' %}
{% set script_controller = 'test-paper/update-reset' %}

{% set testpaperId = testpaper.id | default(null)%}

{% block main %}

<div class="panel panel-default panel-col test-creator">
  <div class="panel-heading clearfix">
        重新生成试卷      
  </div>
  <div class="panel-body">

  <ol class="breadcrumb">
      <li><a href="{{ path('course_manage_testpaper',{courseId:course.id}) }}">试卷管理</a></li>
      <li class="active">重新生成试卷</li>
  </ol>


<div id="test-creator-widget">
      <form id="test-reset-form" class="form-horizontal quiz-test" method="post" action="">
        {{ web_macro.flash_messages() }}
       
        {% include 'TopxiaWebBundle:CourseTestpaperManage:question-build-form.html.twig'%}


        <div class="form-group">
            <div class="col-md-2  controls"></div>
            <button type="submit" class="btn btn-primary" >保存，下一步</button>
            <a href="{{ path('course_manage_testpaper',{courseId:course.id}) }}" class="btn btn-link  ">返回</a>
        </div>


      </form>


    </div>



    
  </div>
</div>



{% endblock %}



 