<ion-header-bar class="bar-positive">
<a class="button button-icon iconfont icon-fanhui" back="go">
</a>

<h1 class="title">
  <span>
    优惠码
  </span>
</h1>
<a class="button button-icon" ng-click="checkCoupon()">
  确定
</a>
</ion-header-bar>

<ion-view>
  <ion-content class="course-paybody coupon-body">
  	<div class="list">

	  <a class="item item-divider">
	    填写优惠信息
	  </a>
	  <label class="item item-input item-icon-right">
	    <span class="input-label">优惠码</span>
	    <input type="text" placeholder="优惠码" ng-model="formData.code">
	  </label>
	  <a class="item item-divider coupon-error">
	    {{ formData.error }}
	  </a>
	</div>
   </ion-content>
</ion-view>