<div class="course-tab-content learn">
        <ion-pane class="learn">
                 <div class="list lesson-list">
                    <list-empty-view class="lesson-empty" data="lessons" title="暂无课时">
                    </list-empty-view>
                    <a class="item {{ lesson.type }}" ng-class="learnStatuses[lesson.id] == 'finished' ? 'activated' : '' " ng-repeat="lesson in lessons">
                      <span class="lesson-status" ng-if="lesson.type !='chapter' && lesson.type !='unit' "><i class="iconfont icon-roundcheck"></i></span>
              
                      <span class="lesson-body">
                        <span class="lesson-title">{{ lesson | formatChapterNumber }} {{ lesson.title }}</span>
                        
                        <span class="lesson-length">{{ lesson.length }}</span>
                      </span>
                    </a>

              </div>
              <ion-infinite-scroll
               ng-if="! lessons"
               class="active"
               distance="1%">
              </ion-infinite-scroll>
        </ion-pane>
</div>