<div class="course-tab-content">
  <ion-tabs class="tabs-green tabs-top tabs-background-positive tabs-color-light tabs-icon-left" delegate-handle="tabHandle">
    <ion-tab title="课时" on-select="onTabSelected(this, index)">
    </ion-tab>
    <ion-tab title="课程讨论区" on-select="onTabSelected(this)">
    </ion-tab>
  </ion-tabs>
        <ion-pane ng-show="selectedIndex == 0">
                 <div class="list lesson-list">
                    <list-empty-view class="lesson-empty" data="lessons" title="暂无课时">
                    </list-empty-view>
                    <a class="item {{ lesson.type }}" ng-class="learnStatuses[lesson.id] == 'finished' ? 'activated' : '' " ng-repeat="lesson in lessons">
                      <span class="lesson-status" ng-if="lesson.type !='chapter' && lesson.type !='unit' "><i class="iconfont icon-roundcheck"></i></span>
              
                      <span class="lesson-body">
                        <span class="lesson-title">{{ lesson | formatChapterNumber }} {{ lesson.title }}</span>
                        
                        <span class="lesson-length">{{ lesson.length }}</span>
                      </span>
                    </a>

              </div>
              <ion-infinite-scroll
               ng-if="! lessons"
               class="active"
               distance="1%">
              </ion-infinite-scroll>
        </ion-pane>
  <ion-pane ng-show="selectedIndex == 1">
      <div class="body">
      </div>
  </ion-pane>
</div>
<!--
<ion-tabs class="tabs-green tabs-top tabs-background-positive tabs-color-light tabs-icon-left">
  <ion-tab title="课时">
    <ion-nav-view>
      <ion-view>
      	<ion-content class="course-tab-content" on-scroll-complete="scrollComplete(scrollTop, scrollLeft)" on-scroll="scroll(event, scrollTop, scrollLeft)"  delegate-handle="tabScroll">
                  <div class="list lesson-list">

				  <a class="item {{ lesson.type }}" ng-class="learnStatuses[lesson.id] == 'finished' ? 'activated' : '' " ng-repeat="lesson in lessons">
				    <span class="lesson-status" ng-if="lesson.type !='chapter' && lesson.type !='unit' "><i class="iconfont icon-help"></i></span>
		
				    <span class="lesson-body">
				    	<span class="lesson-title">{{ lesson | formatChapterNumber }} {{ lesson.title }}</span>
				    	
				    	<span class="lesson-length">{{ lesson.length }}</span>
				    </span>
				  </a>

			</div>
		</ion-content>
      </ion-view>
    <ion-nav-view>
  </ion-tab>

  <ion-tab title="课程讨论区">
    <ion-nav-view>
      <ion-view>
      	<ion-content class="course-tab-content">
      		<div class="body">
		</div>
		</ion-content>
      </ion-view>
    <ion-nav-view>
  </ion-tab>
</ion-tabs>
-->