<ion-header-bar class="bar-positive">
<a class="button button-icon iconfont icon-arrowback" back="go">
</a>

<h1 class="title">
  <span>
    {{ course.title }}
  </span>
</h1>

<div ng-if="member" class="button button-clear course-bar">
	<a class="button button-clear">
	  <i class="iconfont icon-tixing"></i>
	</a>
	<a class="button button-clear" href="#/coursesetting/{{ course.id }}/{{ member != null }}">
	  <i class="iconfont icon-shezhi"></i>
	</a>
</div>
</ion-header-bar>

<div ng-include="courseView"></div>