<ion-header-bar class="bar-positive">
<a class="button button-icon iconfont icon-arrowback" back="go">
</a>

<h1 class="title">
  <span>
    课程标题
  </span>
</h1>
</ion-header-bar>

<ion-view title="课程标题">
  <ion-content class="course-body" delegate-handle="mainScroll">

      <div class="course-content">
      	<div class="course-head">
		    <img class="full-image" ng-src="{{ course.largePicture }}" />
		    <p>
		      <a class="left">
		      	<span>
		      		<i class="iconfont icon-efavorite" ng-class="course.ratingNum > i ? 'course-rating' : '---' " ng-repeat="i in ratingArray" ></i>
		      	</span>{{ course.rating }}
		      </a>
		      <a class="right">{{ course.studentNum }} 人在学</a>
		    </p>
		</div>

	    <div class="item-body">
	    	<p class="course-title">{{ course.title }}</p>
	    	<p class="course-price">{{ course.price | formatPrice }}</p>
	    </div>

	    <ion-tabs class="tabs-green tabs-top tabs-background-positive tabs-color-light tabs-icon-left">
		  <ion-tab title="课时">
		    <ion-nav-view>
		      <ion-view>
		      	<ion-content class="course-tab-content" on-scroll-complete="scrollComplete(scrollTop, scrollLeft)" on-scroll="scroll(event, scrollTop, scrollLeft)"  delegate-handle="tabScroll">
		                  <div class="list lesson-list">

						  <a class="item" ng-class="lesson.type" ng-repeat="lesson in lessons">
						    <span class="lesson-status" ng-if="lesson.type !='chapter' && lesson.type !='unit' "><i class="iconfont icon-efavorite"></i></span>
				
						    <span class="lesson-title">
						    	<span>{{ lesson | formatChapterNumber }}</span>
						    	{{ lesson.title }}
						    	<span class="lesson-length">{{ lesson.length }}</span>
						    </span>
						  </a>

					</div>
				</ion-content>
		      </ion-view>
		    <ion-nav-view>
		  </ion-tab>

		  <ion-tab title="笔记" class="tab-center">
		    <ion-nav-view>
		      <ion-view>

		      </ion-view>
		    <ion-nav-view>
		  </ion-tab>

		  <ion-tab title="课程详情">
		    <ion-nav-view>
		      <ion-view>
		      	<ion-content class="course-tab-content">
		      		<div class="body">
				      	<div class="card">
				      		<span class="card-head">
					      		<h5>课程概览</h5>
					      		<a class="button button-icon iconfont icon-menu"></a>
					      	</span>
				      		<div class="item item-text-wrap" ng-bind-html="course.about">
							</div>
						</div>

						<div class="card">
							<span class="card-head">
					      		<h5>课程教师</h5>
					      		<a class="button button-icon iconfont icon-menu"></a>
					      	</span>
				      			<div class="list">

								    <a class="item item-avatar" href="#">
								      <img ng-src="{{ course.teachers[0].avatar | coverAvatar }}">
								      <h3>{{ course.teachers[0].nickname }}</h3>
								      <p>{{ course.teachers[0].title }}</p>
								    </a>

								</div>
						</div>

						<div class="card">
				      		<span class="card-head">
					      		<h5>课程评价</h5>
					      		<a class="button button-icon iconfont icon-menu"></a>
					      	</span>
				      			<div class="list">

								    <a class="item item-avatar" href="#">
								      <img ng-src="{{ reviews[0].user.mediumAvatar | coverAvatar }}">
								      <h3>{{ reviews[0].user.nickname }}</h3>
								      <p>{{ reviews[0].createdTime | coverLearnTime }}</p>
								      <p>{{ reviews[0].content }}</p>
								    </a>

								</div>
						</div>
					</div>
				</ion-content>
		      </ion-view>
		    <ion-nav-view>
		  </ion-tab>
		</ion-tabs>

	</div>
  </ion-content>
  	<div class="course-tools row">
  		<div class="col">
  			<a class="button button-small button-icon iconfont icon-efavorite"></a>
  			<a class="button button-small button-icon iconfont icon-efavorite"></a>
  		</div>

  		<div class="col">
  			<a class="button button-small button-balanced full" href="#">
		  		立即加入
	       	</a>
  		</div>
	  	<div class="col" ng-if="course.vipLevelId > 0">
  			<a class="button button-small button-assertive full" href="#">
		  		{{ vipLevels[course.vipLevelId].name }}会员免费学
	       	</a>
  		</div>
	</div>
</ion-view>