<ion-view title="课程标题">
  <ion-content class="course-body" delegate-handle="mainScroll">

      <div class="course-content">
      	<div class="course-head">
	    <img class="full-image" ng-src="{{ course.largePicture }}" />
	    <div class="mask learned">
	      <a>
	      	已完成{{ learnProgress }}
	      </a>
	      <div class="course-progress">
	      	<span ng-style="{ width : learnProgress }" ></span>
	      </div>
	    </div>
	</div>

	<div ng-include=" 'view/course_learn_tab.html' | coverViewPath "></div>

	</div>
  </ion-content>
  	
</ion-view>	