<ion-view>
  <ion-content class="padding content-padding">
    
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide ng-repeat="banner in banners"  slide-init>
	    <div class="box banner">
	    	<img ng-src='{{ banner.url }}' />
	    </div>
	  </ion-slide>
	</ion-slide-box>

	<div class="course-card">
		<h4>推荐</h4>
		<div class="list">

		    <a class="item item-thumbnail-left" href="#" ng-repeat="classRoom in classRooms">
		      <img src="{{ classRoom.middlePicture | coverPic}}">
		      <h2>{{ classRoom.title }}</h2>
		      <p class="bottom">
		      	<span>
				      <i class="iconfont icon-person"></i>
				      {{ classRoom.studentNum }}
				</span>
		      	
		      	<span class="price light-color ">
				      {{ classRoom.price | formatPrice}}
				</span>
		      </p>
		    </a>
		</div>

		<a class="button button-clear more" href="#/courselist">查看更多</a>
	</div>
  </ion-content>
</ion-view>