<div class="top-tab-header" ng-controller="FoundLiveController">

	<div class="course-card">
		<h4>推荐</h4>
		<list-empty-view data="liveRecommedCourses" title="暂时没有推荐课程">
          		</list-empty-view>
		<ul class="ui-list ui-list-link ui-border-tb">
		    <li class="ui-border-t" ng-repeat="liveRecommedCourse in liveRecommedCourses" ui-sref="course({ courseId : liveRecommedCourse.id })">
		        <div class="ui-list-img">
		            <span style="background-image:url( {{ liveRecommedCourse.middlePicture }} )"></span>
		        </div>
		        <div class="ui-list-info">
		            <h2 class="ui-nowrap ui-list-title">{{ liveRecommedCourse.title }}</h2>
		            <p class="bottom price-body">
		            	<span class="origin-price">
				      {{ liveRecommedCourse.price | formatPrice }}
				      <s class="discount-color" ng-if="liveRecommedCourse.discountId > 0">
				      	{{ liveRecommedCourse.originPrice | formatPrice }}
				      </s>
				</span>

				<span class="right">
				      <i class="iconfont icon-person"></i>
				      {{ liveRecommedCourse.studentNum }}人在学
				</span>
		            </p>
		        </div>
		    </li>
		</ul>
	</div>

	<div class="course-card">
		<h4>最新</h4>

		<list-empty-view data="liveLatestCourses" title="暂时没有最新课程">
          		</list-empty-view>
		<ul class="ui-list ui-list-link ui-border-tb">
		    <li class="ui-border-t" ng-repeat="liveLatestCourse in liveLatestCourses" ui-sref="course({ courseId : liveLatestCourse.id })">
		        <div class="ui-list-img">
		            <span style="background-image:url( {{ liveLatestCourse.middlePicture }} )"></span>
		        </div>
		        <div class="ui-list-info">
		            <h2 class="ui-nowrap ui-list-title">{{ liveLatestCourse.title }}</h2>
		            <p class="bottom price-body">
		            	<span class="origin-price">
				      {{ liveLatestCourse.price | formatPrice }}
				      <s class="discount-color" ng-if="liveLatestCourse.discountId > 0">
				      	{{ liveLatestCourse.originPrice | formatPrice }}
				      </s>
				</span>

				<span class="right">
				      <i class="iconfont icon-person"></i>
				      {{ liveLatestCourse.studentNum }}人在学
				</span>
		            </p>
		        </div>
		    </li>
		</ul>
	</div>
</div>