<ion-tabs class="tabs-icon-top tabs-positive" ng-class="platform.native ? 'tabs-hide' : '' ">

<ion-tab title="动态" icon="iconfont icon-gonggao"  href="#/index/message">
  <ion-nav-view name="message-tab"></ion-nav-view>
</ion-tab>

<ion-tab title="发现" icon="iconfont icon-faxian"  href="#/index/found">
  <ion-nav-view name="found-tab"></ion-nav-view>
</ion-tab>

<ion-tab title="校友" icon="iconfont icon-xiaoyou"  href="#/index/contact">
  <ion-nav-view name="contact-tab"></ion-nav-view>
</ion-tab>

</ion-tabs>