<div class="ui-tab tab-bottom" ui-tab>
    <ul class="ui-tab-nav ui-border-b">
        <li>
            <i class="icon iconfont icon-gonggao"></i>
            <span class="label">动态</span>
        </li>
        <li>
            <i class="icon iconfont icon-faxian"></i>
            <span class="label">发现</span>
        </li>
        <li>
            <i class="icon iconfont icon-xiaoyou"></i>
            <span class="label">校友</span>
        </li>
    </ul>
    <ul class="ui-tab-content tab-display">
        <li>
        	<div ui-view="found-tab"></div>
        </li>
        <li>
            vvv
        </li>
        <li>
            ccc
        </li>
    </ul>
</div>
