<div class="ui-bar" ui-bar>
  <div class="ui-bar-bg">
    <button class="ui-btn btn-outline iconfont icon-fanhui" back="go"></button>
    <h3 class="title">我发表的</h3>
  </div>
</div>

<div class="ui-tab tab-top" ui-tab>
    <ul class="ui-tab-nav ui-border-b">
        <li><span class="line">问答</span></li>
        <li><span class="line">笔记</span></li>
        <li><span>讨论</span></li>
    </ul>
    <ul class="ui-tab-content tab-display ui-course-learn">
        <li>
            <div ng-include=" 'view/mygroup_question.html' | coverIncludePath "></div>
        </li>
        <li>
           <div ng-include=" 'view/mygroup_note.html' | coverIncludePath "></div>
        </li>
        <li>
           <div ng-include=" 'view/mygroup_thread.html' | coverIncludePath "></div>
        </li>
    </ul>
</div>
