<div ng-controller="MyGroupQuestionController">

	<div class="ui-scroller" ui-scroll data="courses" on-infinite="loadMore()">
	  	<ul class="ui-list ui-list-card ui-question">
		    <li class="ui-border-t" ng-repeat="question in data" ui-sref="question({ courseId : question.courseId, threadId : question.id })">
		    		<div class="ui-list-info">
		            	<h4 class="padding">{{ question.title }}</h4>
		        		<p class="padding">{{ question.latestPostContent | blockStr : 50 }}</p>
	        			<ul class="ui-grid-trisect padding">
	        				<li>
	        					{{ question.courseTitle }}
	        				</li>
	        				<li>
	        					{{ question.latestPostTime | coverLearnTime }}
	        				</li>
	        				<li>
	        					{{ question.postNum }}个回复
	        				</li>
	        			</ul>
		        	</div>
		    </li>
		</ul>
	  <list-empty-view data="courses" title="暂时没有课程">
	  </list-empty-view>

	  <div class="ui-loading-wrap" ng-show="canLoad">
	    <p>正在加载中...</p>
	    <i class="ui-loading"></i>
	  </div>

	</div>
</div>
<!-- 
<ion-view>
	<ion-content class="padding content-padding mygroup-card">

		<div class="mygroup-content">
		          <div class="list">
			          	 <div class="card" ng-repeat="question in threads">
			          	 	<a href="#/question/{{ question.courseId }}/{{ question.id }}">
						  <div class="item item-text-wrap">
						    {{ question.title }}
						  </div>
						  <div class="item item-body">
						    {{ question.latestPostContent | blockStr }}
						  </div>
						  <div class="item tabs tabs-secondary tabs-icon-left">
						    <a class="tab-item left" href="#">{{ question.courseTitle }}</a>
						    <a class="tab-item right">
						       {{ question.latestPostTime | coverLearnTime }}  {{ question.postNum }}回复
						    </a>
						  </div>
					</a>
				</div>
		              </a>
		          </div>
		</div>

		<ion-infinite-scroll
		        ng-if="canLoadMore('question')"
		        on-infinite="loadMore('question')"
		        distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view> -->