<ion-header-bar class="bar-positive">
<a class="button button-icon iconfont icon-arrowback" back >
</a>

<h1 class="title">
  我发表的
</h1>

</ion-header-bar>

<ion-tabs class="tabs-green tabs-top tabs-background-positive tabs-color-light">

  <ion-tab title="问答" href="#/mygroup/question">
    <ion-nav-view name="mygroup-question"></ion-nav-view>
  </ion-tab>

  <ion-tab title="笔记" href="#/mygroup/note" class="tab-center">
    <ion-nav-view name="mygroup-note"></ion-nav-view>
  </ion-tab>

 <ion-tab title="讨论" href="#/mygroup/thread">
    <ion-nav-view name="mygroup-thread"></ion-nav-view>
  </ion-tab>
</ion-tabs>