<div class="ui-bar" ui-bar>
  <div class="ui-bar-bg">
    <button class="ui-btn btn-outline iconfont icon-fanhui" back="go"></button>
    <h3 class="title">我的学习</h3>
  </div>
</div>

<div class="ui-tab tab-top" ui-tab>
    <ul class="ui-tab-nav ui-border-b">
        <li><span class="line">课程</span></li>
        <li><span>直播课</span></li>
    </ul>
    <ul class="ui-tab-content tab-display ui-course-learn">
        <li>
            <div class="ui-scroller">
              <ul class="ui-list ui-border-tb">
                  <li class="ui-border-t ui-list-avatar" ng-repeat="course in course.data" ui-sref="course({ courseId : course.id })">
                      <div class="ui-list-img">
                          <img ng-src="{{ course.middlePicture | coverPic }}" img-error="course"/>
                      </div>
                      <div class="ui-list-info">
                          <h4 class="ui-nowrap ui-list-title">{{ course.title }}</h4>
                          <p>
                            <span>
                                上次学习时间:{{ course.startTime | coverLearnTime }}
                            </span>
                            <div class="ui-progress">
                                <span ng-style="course | coverLearnProsser"></span>
                            </div>
                          </p>
                      </div>
                  </li>
              </ul>

              <list-empty-view data="course.data" title="暂时没有课程">
              </list-empty-view>

            </div>

        </li>
        <li>
            <div class="ui-scroller">
              <ul class="ui-list ui-border-tb">
                  <li class="ui-border-t ui-list-avatar" ng-repeat="course in live.data" ui-sref="course({ courseId : course.id })">
                      <div class="ui-list-img">
                          <img ng-src="{{ course.middlePicture | coverPic }}" img-error="course"/>
                      </div>
                      <div class="ui-list-info">
                          <h4 class="ui-nowrap ui-list-title">{{ course.title }}</h4>
                          <p>
                            <span>
                                上次学习时间:{{ course.startTime | coverLearnTime }}
                            </span>
                            <div class="ui-progress">
                                <span ng-style="course | coverLearnProsser"></span>
                            </div>
                          </p>
                      </div>
                  </li>
              </ul>

              <list-empty-view data="live.data" title="暂时没有直播课程">
              </list-empty-view>

            </div>
        </li>
    </ul>
</div>