<ion-header-bar class="bar-positive">
<a class="button button-icon iconfont icon-fanhui" back="go">
</a>

<h1 class="title">
  <span>
    开通会员
  </span>
</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="vippay-body course-paybody coupon-body">
  	<div class="list">
  		<a class="item item-divider">
		    选择开通时长
		</a>
		<div class="item item-padding">
			<div class="row">
				<div class="col">
					<a class="item vip-paymode" ng-click="openPopover($event)">
						{{ selectedPayMode.title }}
						<i class="iconfont icon-arrowdropdown"></i>
					</a>
				</div>
				 <div class="col">
			    		<div class="item tabs">
					    <a class="tab-item iconfont icon-personw left" ng-click="sub()">
					    	-
					    </a>
					    <a class="tab-item">
					     {{ selectedNum }}
					    </a>
					    <a class="tab-item iconfont icon-personw right" ng-click="add()">
					    	+
					    </a>
					</div>
			    	</div>
			</div>
		</div>
		<a class="item item-divider coupon-error">
	  	<p>
	  		需支付:<span class="pay-price right">{{ totalPayPrice | formatPrice}}</span>
	  	</p>
	    
		<button class="button button-full button-yellow" ng-click="pay()">
		    去支付
	  	</button>
	  </a>
	</div>
   </ion-content>
</ion-view>