<div class="media media-evaluate">
  <div class="media-left">
    <a href=""><img class="avatar-sm" src="{{ filepath(users[review.id].smallAvatar, 'avatar.png') }}" alt=""></a>
  </div>
  <div class="media-body">
    <div class="title"><a href="">{{ users[review.id].nickname}}</a> {{review.createdTime|smart_time}}</div>

    {% include 'TopxiaWebBundle:Review:star.html.twig' with {score:review.rating} %}

    <div class="content">
      {{ review.content }}
    </div>
  </div>
</div>