{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    {% include 'TopxiaWebBundle:Default:stylesheet.html.twig' %}
  </head>
  <body>
  	<div id="ppt-player" data-url='{{path('global_file_ppt', {globalId:file.no})}}'></div>


  	{% set script_controller = 'materiallibbundle/controller/web/player/ppt-player' %}

    {% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}
  </body>
</html>