{% extends "bootstrap-modal-layout.html.twig" %}

{% set modal_class= "mark-questions-modal" %}

{% do script(['app/js/marker/question-preview/index.js']) %}

{% block modal_content %}
  <div class="modal-content">
    {% include 'marker/question-preview/' ~ type ~ '.html.twig' %}
  </div>
{% endblock %}
