{% import "macro.html.twig" as web_macro %}
{% import "admin/macro.html.twig" as admin_macro %}

<div class="modal-dialog mark-questions-modal">
  <div class="modal-content">
    {% include 'marker/question-preview/' ~ type ~ '.html.twig' %}
    {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
    <script> app.lazyLoad = function() { app.load('quiz-question/preview') }; </script>
  </div>
</div>