<li data-id="#bar-course-list" data-placement="left" data-toggle="tooltip" title="{{'es_bar.study_place.content_title'|trans({'%name%': setting('classroom.name')|default('classroom'|trans)}) }}" data-trigger="hover" data-container=".es-bar">
  <a data-url="{{ path('esbar_my_course') }}" href="javascript:;">
    <i class="es-icon es-icon-book">
    </i>
  </a>
</li>