<li data-id="#bar-homework" data-toggle="tooltip" data-placement="left" title="{{ 'es_bar.practice.content_title'|trans }}" data-trigger="hover" data-container=".es-bar">
  <a href="javascript:;" data-url="{{ path('esbar_my_practice',{status:'finished'}) }}">
    <i class="es-icon es-icon-edit"></i>
  </a>
</li>