{% if app.user and app.user.isLogin() %}
  <li data-id="#bar-message" data-toggle="tooltip" data-placement="left" title="{{'通知'|trans}}">
    <a href="javascript:;" data-url="{{ path('esbar_my_notify') }}">
      {% if app.user.newNotificationNum > 0 %}
        <i class="es-icon es-icon-notificationson"></i>
        <span class="dot"></span>
      {% else %}
        <i class="es-icon es-icon-notifications"></i>
      {% endif %}
    </a>
  </li>
{% else %}
  <li data-id="#bar-message" data-toggle="tooltip" data-placement="left" title="{{'通知'|trans}}">
    <a href="javascript:;">
      <i class="es-icon es-icon-notifications"></i>
    </a>
  </li>
{% endif %}
