{% if consultPhones or consult.worktime is not empty %}
  <li class="popover-btn bar-phone-btn" data-container=".bar-phone-btn" data-title="{{'es_bar.phone_consult'|trans}}" data-content-element="#bar-phone-content">
    <a><i class="es-icon es-icon-phone"></i></a>
  </li>
{% endif %}
