{% if consultQqs or consultQqGroups %}
  <li class="popover-btn bar-qq-btn" data-container=".bar-qq-btn" data-title="{{'es_bar.qq_consult'|trans}}" data-content-element="#bar-qq-content">
    <a><i class="es-icon es-icon-qq"></i></a>
  </li>
{% endif %}
