{% if consult.webchatURI is not empty %}
  <li class="popover-btn bar-weixin-btn" data-container=".bar-weixin-btn" data-content-element="#bar-weixin-content">
    <a><i class="es-icon es-icon-weixin"></i></a>
  </li>
{% endif %}