.history-learn{
  .history-learn-list{
      margin:0 vw(16);
      box-sizing: border-box;
      .history-learn-date{
        margin-top: vw(16);
        padding-bottom: vw(4);
        font-size: 14px;
        color: #313131;
      }
      .van-hairline--bottom::after {
        border-bottom-width: 1px!important; 
        border-color:#E1E1E1;
     }
  }
  .empty__history_learn{
    padding-top: 40%;
  }
}
