<div class="qs-header">
  <div class="container">
    <a class="logo" href=""><img src="{{asset('themes/qiushi/img/new/logo.png')}}" alt=""></a>
    <nav class="collapse navbar-collapse">
      <div class="nav-left clearfix">
        <ul class="nav navbar-nav">
          <li><a href="">首页</a></li>
          <li><a href="">进班级</a></li>
          <li><a href="">选课程</a></li>
          <li><a href="">看直播</a></li>
        </ul>
      </div>
      <div class="nav-right clearfix">
        <ul class="nav navbar-nav">
          <li><a href="">找老师</a></li>
          <li><a href="">逛论坛</a></li>
          <li><a href="">最新资讯</a></li>
          <li><a href="">登录/注册</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>