{% extends 'default/base-index.html.twig' %}
{% do script(['demotheme/js/index/index.js']) %}

{% block content %}

    <div class="demo-test">
        你好，开发者,这是数据标签获取的课程<br/>
        {% set courses = data('FreeCourses',{count: 2}) %}
        {% for course in courses %}
            {{ course.title }}<br/>
        {% endfor %}
    </div>

    {{ block_show('{{name}}:top_banner') }}
{% endblock %}