{% do script(['app/js/admin/new/index.js']) %}
{% set data = side_bar_permission(menu) %}
<input id="js-side-bar-data" class="hidden" data-value="{{ data|json_encode }}">
<div class="cd-layout-sidebar">
  <ul class="cd-sidebar-container cd-mt24 pl0" data-code="111"></ul>
</div>