{% extends 'coin/layout.html.twig' %}

{% set  side_nav = 'my_reward_points'%}


{% block main %}
  <section class="es-section h400">
    <div class="nav-btn-tab">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'我的积分'|trans}}</a></li>
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'积分商城'|trans}}</a></li>
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'兑换记录'|trans}}</a></li>
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'积分规则'|trans}}</a></li>
      </ul>
    </div>
    {% block reward_point_content %}
        
    {% endblock %}
  </section>
{% endblock %}