{% extends 'reward-point/layout.html.twig' %}

{% set nav = 'mall' %}

{% block award_point_content %}
  <div class="o-award-point-market">
    <div class="o-award-point-market__hd clearfix">
      <form class="form-inline" action="" method="get" novalidate>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" name="" placeholder="输入标题关键字">
            <span class="input-group-btn">
              <button class="btn btn-primary">
              搜索 
              </button>
            </span> 
          </div>
        </div>
        <div class="form-control-static pull-right">共找到<span class="color-primary"> 15 </span>个 <span class="color-primary">“食物”</span> 相关商品</div>
      </form>
    </div>
    <div class="o-award-point-market__bd">
      <div class="o-award-point-list">
        <div class="o-award-point-market__row row">
          <div class="o-award-point-market__col col-md-3">
            <div class="c-award-point-item">
              <div class="c-award-point-item__hd">
                <img class="c-award-point-item__img" src="">
              </div>
              <div class="c-award-point-item__bd">
                <div class="c-award-point-item__title">hehe</div>
                <div class="c-award-point-item__point">123</div>
                <div class="c-award-point-item__btn-wrap">
                  <button class="c-award-point-item__btn btn btn-primary">立即兑换</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="empty o-award-point-market__empty">
        没有搜到相关商品，请换个关键词试试！
      </div>
    </div>
    <div class="o-award_point_market__ft">

    </div>
  </div>

{% endblock %}