@import '~common/mixins.less';

.cd-design {
  .es-header {
    .cd-box-shadow;
  }
}

.es-header {
  padding: 0 64px;
  height: 56px;
  .cd-box-shadow;
  .navbar-header {
    .navbar-brand {
      padding: 13px 20px 13px 0;
      height: 56px;
      color: #fff;
      img {
        height: 30px;
        width: auto;
      }
    }
  }
  .nav.user-nav {
    > li {
      height: 56px;
      .user-avatar-toggle {
        padding: 12px 0;
        img {
          .cd-box-shadow-z(8px);
        }
      }
      .user-dropdown {
        padding: 24px 0;
        width: 264px;
        height: 208px;
        .cd-border-radius;
        .cd-box-shadow-z(8px);
      }
      .cd-inform {
        padding: 16px 0;
        i {
          font-size: 24px;
        }
      }
      .cd-inform-num {
        position: absolute;
        top: 12px;
        right: -4px;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: @brand-danger;
        font-size: 12px;
        line-height: 1;
        .cd-border-radius(50%);
        color: #fff;
        border: 2px solid #fff;
      }
      .inform-dropdown {
        padding: 0;
        width: 280px;
        height: 400px;
        .cd-border-radius;
        .cd-box-shadow-z(8px);
      }
    }
  }
  .nav.navbar-nav,
  .nav.user-nav {
    > li {
      > a {
        padding: 22px 20px 20px;
        line-height: 20px;
        font-size: 14px;
        line-height: 1;
        @media (max-width: @screen-sm-max) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    > .visitor-li {
      &.visitor-login-li {
        margin-right: 40px;
        @media (max-width: @screen-sm-max) {
          margin-right: 20px;
        }
      }
      > a {
        padding: 22px 0 20px;
      }
    }
  }
  .nav.navbar-nav {
    > li {
      > a {
        @media (max-width: @screen-sm-max) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .nav > li.nav-more {
    > a {
      i {
        font-size: 14px;
      }
    }
  }
}


// 头部用户信息
.navbar-user {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 20px;
  @media(min-width: @screen-lg-min) {
    right: 64px;
  }
  @media(max-width: @screen-xs-max) {
    right: 5px;
  }
  &.left {
    @media(min-width: @screen-sm-min) {
      right: 50px;
    }
  }
}


// 头像下拉
.user-dropdown__avatar {
  display: inline-block;
  img {
    .cd-box-shadow-z(8px);
  }
}

.user-dropdown__info {
  padding: 0 32px;
  height: 80px;
  display: table;
}

.user-dropdown__nickname {
  width: 96px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: @cd-gray-dark;
  span {
    vertical-align: text-top;
  }
}

.user-dropdown__vip-icon {
  margin-left: 4px;
  width: 16px;
  height: 16px;
  vertical-align: unset;
}

.user-dropdown__profile {
  display: table-cell;
  vertical-align: middle;
}

.user-dropdown__rank {
  font-size: 12px;
  line-height: 1;
  color: @cd-gray;
}

.user-dropdown__link {
  padding: 0 32px;
  font-size: 12px;
  line-height: 1;
  i {
    margin-right: 4px;
    font-size: 12px;
  }
  a {
    padding-right: 34px;
    & + a {
      padding-left: 34px;
      padding-right: 0;
      .cd-box-shadow-inset;
    }
  }
}

.user-dropdown__logout {
  padding: 16px 0;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  .cd-box-shadow-inset(0 1px 0 0);
}

// 通知信息
.inform-dropdown-head {
  .cd-box-shadow-inset(0 -1px 0 0);
}

.inform-dropdown-head__tab {
  float: left;
  padding: 16px 0;
  width: 140px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: @cd-gray;
  &:first-child {
    .cd-box-shadow-inset(-1px 0 0 0);
  }
}

.new-info-dot {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  .cd-border-radius(50%);
  background-color: @brand-danger;
}

.inform-dropdown-body {
  height: 310px;
  overflow: scroll;
}

.inform-dropdown-body__item {
  padding: 16px 24px;
  display: inline-block;
  width: 100%;
  .cd-box-shadow-inset(0 -1px 0 0);
  &:hover {
    background-color: @cd-bg-light;
  }
}

.notification-text {
  font-size: 12px;
  line-height: 20px;
  color: @cd-gray;
  &:hover {
    color: @cd-gray;
  }
}

.message-item__info {
  float: right;
  width: 184px;
  font-size: 12px;
  line-height: 1;
}

.message-item__avatar {
  display: inline-block;
  img {
    width: 32px;
    height: 32px;
    .cd-border-radius(50%);
  }
}

.inform-dropdown-foot {
  padding: 16px 0;
  z-index: 10;
  text-align: center;
  .cd-box-shadow-inset(0 1px 0 0);
}

.inform-empty-status {
  padding: 64px 0;
  text-align: center;
}

.inform-empty-status__tip {
  font-size: 14px;
  line-height: 16px;
  color: @cd-gray-light;
}

// 搜索框
.navbar-mobile {
  .navbar-form {
    width: 80%;
    margin: 60px 10px 20px 10px;
    .form-control {
      width: 100%;
    }
  }
}

.navbar-form {
  margin: 10px;
  @media (max-width: @screen-sm-max) {
    margin-right: 0;
    padding-right: 0;
  }
  .box-shadow(none);
  .form-group {
    position: relative;
  }
  .form-control {
    padding: 12px 16px;
    width: 120px;
    @media (max-width: @screen-sm-max) {
      width: 100px;
    }
    height: 36px;
    background-color: #fafafa;
    color: @cd-gray-light;
    border: none;
  }
  .button {
    position: absolute;
    top: 6px;
    right: 12px;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}

