@import '~common/mixins.less';

.cd-design {
  .es-header {
    .cd-box-shadow;
  }
}


.es-header {
  height: 56px;
  padding: 0 64px;
  .cd-box-shadow;
  .navbar-header {
    .navbar-brand {
      padding: 13px 20px 13px 0;
      height: 56px;
      color: #fff;
      img {
        height: 30px;
        width: auto;
      }
    }
  }
  .nav.user-nav {
    > li {
      height: 56px;
      > a {
        // padding: 18px 15px;
      }
    }
  }
  .user-manage-li {
    padding: 14px 0;
    button {
      padding-left: 12px !important;
      padding-right: 6px !important;
    }
  }
  .user-manage-dropdown {
    padding: 0;
    width: 96px;
    top: 42px;
    text-align: center;
    .cd-border-radius;
    > li > a {
      padding: 16px 24px;
    }
    .user-student-manage {
      color: #fff;
    }
  }
  .nav.navbar-nav {
    > li {
      > a {
        padding: 22px 20px 20px;
        line-height: 20px;
        font-size: 14px;
        line-height: 1;
      }
    }
  }
  .nav > li.nav-more {
    > a {
      i {
        font-size: 14px;
      }
    }
  }

}

// 移动端
.navbar-mobile {
  .navbar-form {
    width: 80%;
    margin: 60px 10px 20px 10px;
    .form-control {
      width: 100%;
    }
  }
}

.navbar-form {
  margin: 10px;
  .box-shadow(none);
  .form-group {
    position: relative;
  }
  .form-control {
    padding: 12px 16px;
    width: 240px;
    height: 36px;
    background-color: #fafafa;
    color: @cd-gray-light;
    border: none;
  }
  .button {
    position: absolute;
    top: 6px;
    right: 12px;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}
