{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}文章预览:{{ essay.title }} {% endblock %}

{% block body %}

{% include 'TopxiaAdminBundle:Essay:preview-content.html.twig'%}

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}