
.course-card .origin-price .enroll {
  color: #ff884a;
}

.course-card .origin-price .start {
  color: #37b97d;
}

.course-card .origin-price .end {
  color: #ccc;
}

.ui-course .mooc-block {
  position: relative;
  padding: 10px 0 0 0;
}

.ui-course .mooc-block p {
  line-height: 24px;
}

.ui-course .mooc-block .discount-type {
    margin-left: 5px;
    text-align: right;
    font-weight: normal;
    padding: 2px 5px 2px 8px;
}

.ui-course .mooc-block .discount-type.end {
    color: #fff;
    background: #bbb;
    border: solid 1px #bbb;
}

.ui-course .mooc-block .left {
    text-align: left;
}

.ui-course .mooc-block .right {
    text-align: right;
}

.ui-course .mooc-block .startLearn {
    color : #37b97d;
}

.ui-course .mooc-block .end {
    color : #323232;
}

.ui-btn.btn-gray-normal{
  border-radius: 2px;
  color: #fff;
  background: #bbb;
  border: solid 1px #bbb;
}

.ui-btn.btn-gray-normal:not(.disabled):not(:disabled):active, .active.ui-btn.btn-green-normal{
  color: #fff;
  background: #bbb;
  border: solid 1px #bbb;
}