<div class="btn-group">

	<a href=" {{ url('admin_course_data', {filter: 'invited'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'normal'%}btn-primary{% endif %}">注册奖励</a>


	<a href=" {{ url('admin_course_data', {filter: 'invite'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'classroom' %}btn-primary{% endif %}">{{setting("classroom.name")|default("班级")}}邀请奖励</a>
</div>