<div class="material">
	<div class="well testpaper-question-stem-material">
		{{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
		{% include 'TopxiaWebBundle:Attachment/Widget:list.html.twig' with {targetType:'question.stem', targetId:question.id  } %}
	</div>
	
	{% for question in question.subs|default([]) %}
		{% include question.template %}
	{% endfor %}
</div>