<div class="row">
 
  <div class="form-group">
    <label class="col-md-2 control-label">需要发票</label>
    <div class="col-md-6 controls radios">
      {{ radios('needBill', {'yes':'是', 'no':'否'}, 'no' ) }}
    </div>
  </div>
</div>

<div class="row">
  <div class="controls">
    <label class="control-label"></label>
  </div>
</div>