{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}订单确认 - {{ parent() }}{% endblock %}

{% block content %}
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {% include 'CustomWebBundle:Order:order-header.html.twig'  with { process : process } %}
      </div>

      {% block orderbody %}
      {% endblock %}  
    </div>
  </div>

{% endblock %}