{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}订单确认 - {{ parent() }}{% endblock %}

{# {% set script_controller = 'customwebbundle/controller/carts/list' %}

{% set pageNav = pageNav|default('hotSale') %} #}

{# <div class="page-header"><h1>订单确认</h1></div> #}
{% block content %}
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {% include 'CustomWebBundle:Order:order-header.html.twig'  with { process : 'verify'} %}
      </div>

      {% block orderbody %}
          {% include 'CustomWebBundle:Order:order-' ~ process ~ '.html.twig' %}
      {% endblock %}  
    </div>
  </div>
  {{ web_macro.flash_messages() }}



{% endblock %}