<div class="order-header">
  <div class="step {% if process == 'verify' %} process-step {% endif %}">1、确认订单信息</div>
  <div class="step {% if process == 'payment' %} process-step {% endif %}">2、付款</div>
  <div class="step {% if process == 'finish' %} process-step {% endif %}">3、付款完成</div>
</div>

