  <fieldset>
    <legend>确认个人信息</legend>
      <div class="form-group">
        <label for="nickname" class="col-md-1 control-label">昵称</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="nickname" name="nickname" value="{{app.user.nickname}}" readonly>
          </div>
      </div>
      
      <div class="form-group">
        <label for="title" class="col-md-1 control-label">姓名</label>
        <div class="col-md-2">
          <input type="text" class="form-control" id="title" name="title" value="" readonly>
        </div>

        <label for="title" class="col-md-1 control-label">邮箱</label>
        <div class="col-md-2">
          <input type="text" class="form-control" id="title" name="title" value="" readonly>
        </div>

        <label for="title" class="col-md-1 control-label">手机号码</label>
        <div class="col-md-2">
          <input type="text" class="form-control" id="title" name="title" value="" readonly>
        </div>

      </div>
    
  </fieldset>