<fieldset data-role="address" style="display:none">
  <legend>确认地址信息(用于发票寄送或者教材寄送)</legend>
  <div class="js-shipping-address">
    {% include 'CustomWebBundle:Address:default-shipping-address.html.twig' %}
  </div>
  
</fieldset>