{% extends 'CustomWebBundle:Order:layout.html.twig' %}

{% block orderbody %}
	<form class="form-horizontal" id="order-payment-form" action="{{ path('order_pay') }}" method="post">

		<div class="order-info">
			<div class="order-tips">
				<p>订单已提交，请在40小时内完成支付。</p>
				<p>订单号：C2015011221525548071 订单名称：购买课程《课程购买演示－欢迎购买》</p>
			</div>
			<div class="payment-amount">
				实付款:<span class="money">623.00</span>
			</div>
		</div>
		<div class="payment-method">
			<p><strong>支付方式:</strong></p>
			<div class="check">
	            <img src="/assets/img/order/alipay.gif?4.7.11" width="100px">
	            <span class="icon"></span>
          	</div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
		<hr>
		<button class="btn btn-sm btn-success" id="form-submit-btn" type="submit" data-submiting-text="正在提交..." data-toggle="form-submit" data-target="#order-payment-form">去支付</button>

	</form>
{% endblock %}
