{% extends 'CustomWebBundle:Order:layout.html.twig' %}

{% set script_controller = 'customwebbundle/controller/order/verify' %}

{% block orderbody %}
<form class="form-horizontal" id="order-verify-form" action="{{ path('order_create') }}" method="post">
  <div class="row">
    {# 确认用户信息 #}
    {% include 'CustomWebBundle:Order:order-user.html.twig' %}
  </div>
  <div class="row">
    {# 发票信息 #}
    {% include 'CustomWebBundle:Order:order-invoice.html.twig' %}
  </div>
  <div class="row">
    {# 地址信息 #}
    {% include 'CustomWebBundle:Order:order-address.html.twig' %}
  </div>
  <div class="row">
    {# 订单信息 #}
    {% include 'CustomWebBundle:Order:order-items.html.twig' %}
  </div>

  <input type="hidden" name="accountPayable" value="">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

{% endblock %}
