{% extends 'CustomWebBundle:Order:layout.html.twig' %}

{% block orderbody %}
<form class="form-horizontal" id="order-verify-form">
  <div class="row">
    {# 确认用户信息 #}
    {% include 'CustomWebBundle:Order:order-user.html.twig' %}
  </div>
  <div class="row">
    {# 发票信息 #}
    {% include 'CustomWebBundle:Order:order-invoice.html.twig' %}
  </div>
  <div class="row">
    {# 地址信息 #}
    {% include 'CustomWebBundle:Order:order-address.html.twig' %}
  </div>
  <div class="row">
    {# 订单信息 #}
    {% include 'CustomWebBundle:Order:order-items.html.twig' %}
  </div>
</form>

{% endblock %}
