<fieldset>
  <legend>确认发票信息</legend>

  <div class="form-group">
    <label class="col-md-1 control-label">需要发票</label>
    <div class="col-md-2 controls radios">
      {{ radios('needBill', {'yes':'是', 'no':'否'}, 'no' ) }}
    </div>
  </div>

  <div class="form-group">
    <label for="billTitle" class="col-md-1 control-label">抬头</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="billTitle" name="billTitle" value="">
    </div>

    <label for="billType" class="col-md-1 control-label">类别</label>
    <div class="col-md-2">
      <select class="form-control" name="billType" id="billType">
         {{ select_options({'electronics' : '电子设备', 'book': '图书' ,'food':'食物'}, 'electronics') }}
      </select>
    </div>

    <label for="" class="col-md-1 control-label">内容</label>
    <div class="col-md-2 controls radios">
      {{ radios('billContent', {'detail':'明细', 'other':'其他'}, 'detail' ) }}
    </div>

    <div class="col-md-3 controls">
      <input type="text" class="form-control" id="billOther" name="billOther" value="">
    </div>
  </div>  


</fieldset>