{% import 'macro.html.twig' as web_macro %}

{% do script(['app/js/testpaper-manage/check-list/index.js']) %}

{% for task in tasks if task %}
  {% set resultListRout = targetType|default('course') ~ '_manage_testpaper_result_list' %}
  {% set testpaper = testpapers[task.testId]|default(null) %}
  {% set statusNum = resultStatusNum[task.activityId]|default(null) %}
  {% include 'testpaper/manage/check-list-item.html.twig' with {task:task, testpaper:testpaper,targetResultInfo:statusNum,targetId:targetId} %}
{% else %}
  <div class="empty">{{'course.testpaper_check.empty'|trans}}</div>
{% endfor %}

<nav class="text-center">
  {{ web_macro.paginator(paginator) }}
</nav>
