<div class="text-center js-read-error">
  <i class="cd-icon cd-icon-danger icon-danger__style"></i>
  <p class="color088 mt16 mb16 read-error__tip1">请上传docx格式的word文档</p>
  <p class="text-12 color088 read-error__tip2">doc如何转换成docx可<a href="http://www.qiqiuyu.com/faq/880/detail" target="_blank">点击此处</a>进行查看</p>
</div>