<style>
  .icon-danger__style {
    color: red;
    font-size: 72px;
  }
  .color088 {
    color: rgba(0, 0, 0, .88);
  }
</style>
<div class="text-center js-read-error">
  <i class="cd-icon cd-icon-danger icon-danger__style"></i>
  <p class="text-14 cd-mt16 cd-mb16 color088">{{ 'course.question_manage.import.docx_support_hint2'|trans }}</p>
  <p class="text-14 color088">{{ 'course.question_manage.import.doc_to_docx_hint2'|trans|raw }}</p>
</div>