{% for notification in notifications %}
  {% set notification = render_notification(notification) %}
  <div class="inform-dropdown-body__item inform-notification-item js-inform-notification" data-url="{{ path('notification', {id:notification.id }) }}">
  {{ notification.message|raw }}
  </div>
{% endfor %}