body, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  color: rgba(0,0,0,.56);
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}

b, strong {
  font-weight: 700;
}

p {
  margin: 0 0 10px;
}

.text-activity-content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.iframe-parent-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    background: #fff;
    overflow: hidden;
}

@media (min-width: 1090px) {
  .iframe-parent-content .text-activity-content {
    width: 992px;
    margin: auto;
  }
}

@media (max-width: 1090px) {
  .iframe-parent-content .text-activity-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.cke_bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cke_editable {
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.cke_editable img {
  max-width: 100%;
}

.cke_editable blockquote {
  margin: 0 0 20px;
  padding: 2px 0;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 13px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
}

.cke_editable blockquote p {
  margin: 10px 0;
}

.cke_editable.cke_contents_ltr blockquote {
  font-size: 13px;
  color: #000;
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}

.cke_editable.cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
}

.activity-link {
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}

.activity-link:hover {
  text-decoration: none;
}
