body, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  color: rgba(0,0,0,.56);
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}

b, strong {
  font-weight: 700;
}

p {
  margin: 0 0 10px;
}

.text-activity-content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
  word-wrap: break-word;
  @media(min-width: 1091px) {
    width: 992px;
    margin: auto;
  }
}

@media (max-width:1090px) {
  .iframe-parent-content .text-activity-content {
      padding-left:20px;
      padding-right:20px;
  }
}

.test {
  background-color: red;
}


