{#{% do script (['web/file-chooser/chooser/coursefile-choose.js']) %}#}

{#<div data-role="course-file-browser"
     data-url="{{ path('media_corusefile_choose', {courseId:courseId, type:'video', courseType:'course'}) }}">
</div>
<input type="hidden" name="type" value="{{ fileType|default('') }}">#}


<!--1、默认显示20条数据； 2、分他人共享的和自己上传的，3、视觉可见4条，最多显示20条，超过20条提示“调整关键词”-->
<div class="chooser-content">
  <div class="input-group">
    <input class="form-control mb0" type="text" placeholder="请输入关键词，从已上传的文件中搜索选择" data-role="import-url" value="" style="
    margin-bottom: 0;">  
    <span class="input-group-btn">
      <button type="button" class="btn btn-default js-video-import" data-role="import" data-url="/course/1/manage/media/import" data-loading-text="正在导入，请稍等">搜索</button>
    </span>
  </div>
  <div class="chooser-list">

    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td class="mlm">在线教育云计算技术在线教育云计.mp4</td>
          <td>01:13:05</td>
          <td class="text-right"><a class="btn-gray" href="javascript:;" data-toggle="tooltip" data-placement="top" title="他人分享"><i class="es-icon es-icon-diqiu"></i></a></td>
        </tr>
        <tr>
          <td>在线教育云计算技术在线教育云计.mp4</td>
          <td>01:13:05</td>
          <td class="text-right"><a class="btn-gray" href="javascript:;" data-toggle="tooltip" data-placement="top" title="他人分享"><i class="es-icon es-icon-diqiu"></i></a></td>
        </tr>
        <tr>
          <td class="mlm">在线教育云计算技术在线教育云.mp4</td>
          <td>01:13:05</td>
          <td class="text-right"><a class="btn-gray" href="javascript:;" data-toggle="tooltip" data-placement="top" title="我上传的"><i class="es-icon es-icon-self"></i></a></td>
        </tr>
        <tr>
          <td class="mlm">在线教育云计算技术在线教育云.mp4</td>
          <td>01:13:05</td>
          <td class="text-right"><a class="btn-gray" href="javascript:;" data-toggle="tooltip" data-placement="top" title="我上传的"><i class="es-icon es-icon-self"></i></a></td>
        </tr>
        <tr>
          <td class="mlm text-warning" colspan="3">还有100个结果未显示，请调整关键词以缩小搜索范围。</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>