<div class="course-file-browser chooser-list" data-role="course-file-browser"
     data-url="{{ path('media_course_file_choose', {courseId:courseId, type:'video', courseType:'course'}) }}"></div>
<input type="hidden" name="type" value="{{ fileType|default('') }}">