{% do script (['web/file-chooser/chooser/coursefile-choose.js']) %}

<div data-role="course-file-browser"
     data-url="{{ path('media_corusefile_choose', {courseId:courseId, type:'video', courseType:'course'}) }}">
</div>
<input type="hidden" name="type" value="{{ fileType|default('') }}">