{% set targetType = 'courseactivity' %}
{% set token = uploader_token(targetType, courseId, 'private') %}
{% set storageSetting = setting('storage') %}
<div class="uploader-content">
  <div class="uploader-container" id="uploader-container"
  data-init-url="{{ url('uploader_init_v2', {token: token}, true) }}"
  data-finish-url="{{ url('uploader_finished_v2', {token: token}, true) }}"
  data-accept="{{ uploader_accept(targetType, mediaType)|json_encode }}"
  data-process="{{ uploader_process(targetType) }}">
  </div>
  <div class="uploader-bottom">
    <div class="row">
      <div class="col-xs-8">
        转码画质
        <select class="form-control input-sm mlm mrl">
          <option>精细</option>
        </select>
        转码音质
        <select class="form-control input-sm mlm">
          <option>流畅</option>
        </select>
      </div>
      <div class="col-xs-4 text-xs text-center">
        <a class="btn-gray" href="javascript:;" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="支持mp4, avi, flv, wmv, mov, m4v格式的视频文件上传，文件大小不能超过2 GB。支持断点续传（仅支持HTML5浏览器）。">什么是转码</a>
        ｜
        <a class="btn-gray" href="javascript:;" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="上传后将自动转码成兼容性更好的格式，以便学员观看，建议您在转码完成后再发布相应课时。">上传说明</a>
      </div>
    </div>
  </div>
</div>