{% extends 'v2/layout.html.twig' %}

{% block title %}
  {% if side_nav in ['my-teaching-courses','my-teaching-classroom','my-teaching-questions','my-teaching-discussions','my-teaching-check','my-teaching-homework-check','material-lib','my-teaching-live-calendar'] %}
    {{ 'my.teaching.menu_heading'|trans }} - {{ parent() }}
  {% endif %}
{% endblock %}

{% block full_content %}
  {% block top_content %}
    <div class="my-header-section">
      <div class="container cd-container">
        {% include 'my/navbar.html.twig' %}
      </div>
    </div>
  {% endblock %}
  <div class="container cd-container">
    <div class="cd-content">
      {{ render(controller('AppBundle:My/User:avatarAlert')) }}
      {% block main %}
      {% endblock %}

      {% block main_mobile %}{% endblock %}
    </div>
  </div>
{% endblock %}