/* =========================== media =========================== */
a:hover,
a:focus {
  color: #096;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #096 !important;
}
.text-primary,
.color-primary {
  color: #096 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #096;
}
.btn-primary {
  border-color: #006644;
  background-color: #096;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #00704b;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #096;
  color: #096;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #096;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #096;
}
.es-piece .piece-header {
  border-color: #096;
}
.breadcrumb a:hover {
  color: #096;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #096;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #096;
}
.class-serve > ul > li.active {
  background-color: #096;
}
.article-metas .metas-body .title a:hover {
  color: #096;
}
.media.media-number .media-body > a:hover {
  color: #096;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #096;
}
.class-signin .btn-signin {
  background-color: #096;
}
.sidenav .list-group .list-group-item.active {
  border-color: #096;
}
.sidenav .list-group .list-group-item.active > a {
  color: #096;
}
.dropdown-menu > li > a:hover {
  background-color: #096;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #096;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #096;
  border-color: #096;
}
.badge-primary {
  background-color: #096;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #096;
}
.es-filter .filter label:hover {
  color: #096;
}
.class-header.after .class-data > li > a:hover {
  color: #096;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #096;
}
.progress-bar,
.rank_num {
  background-color: #096;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #096;
}
.bar-task .bar-time-line > li .es-icon {
  color: #096;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #096;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #096;
}
.page-header .badge {
  background-color: #096 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #096;
}
.navbar-right .es-header {
  background-color: #363e45;
}
@media (max-width: 767px) {
  .es-row-wrap .row {
    margin: 0;
  }
}
.home-class-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .home-class-list {
    margin: 0 -5px;
  }
}
.home-class-list .class-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .home-class-list .class-item {
    width: 50%;
    float: left;
    padding: 0 5px;
    border: none;
    margin-bottom: 10px;
  }
}
.home-class-list .class-item:hover {
  background: #f9f9f9;
}
@media (max-width: 767px) {
  .home-class-list .class-item:hover {
    background: transparent;
  }
}
.home-class-list .class-body {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .home-class-list .class-body:hover {
    background: #f9f9f9;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-body {
    padding: 10px ;
    border: 1px solid #ddd;
  }
}
.home-class-list .class-picture-link {
  float: left;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.home-class-list .class-picture-link img {
  width: 162px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link img {
    width: 100%;
    display: block;
  }
}
.home-class-list .class-title {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-class-list .class-title {
    margin-bottom: 5px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
.home-class-list .class-title a {
  font-weight: bold;
  color: #555;
}
@media (max-width: 767px) {
  .home-class-list .class-title a {
    font-weight: normal;
    font-size: 14px;
  }
}
.home-class-list .class-metas {
  margin-bottom: 20px;
  color: #999;
}
@media (max-width: 767px) {
  .home-class-list .class-metas {
    margin-bottom: 10px;
  }
}
.home-class-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home-class-list .class-metas .fa {
    font-size: 13px;
  }
}
.home-class-list .class-metas a {
  color: #555;
}
.home-class-list .class-metas .class-teacher {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .home-class-list .class-metas .class-teacher {
    display: none;
  }
}
.home-class-list .class-metas .class-teacher span {
  margin-right: 10px;
}
.home-class-list .class-price {
  float: right;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .home-class-list .class-price {
    margin-right: 50px;
  }
}
@media (max-width: 767px) {
  .home-class-list .class-price {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .course-wide-list {
    margin: 0 -5px;
  }
}
@media (max-width: 767px) {
  .course-wide-list .course-footer,
  .course-wide-list .live-course-lesson,
  .course-wide-list .course-about {
    display: none;
  }
}
@media (max-width: 767px) {
  .course-wide-list .course-item {
    width: 50%;
    float: left;
    padding: 0 5px;
    border: none;
    margin-bottom: 10px;
  }
  .course-wide-list .course-item:hover {
    background: transparent;
  }
  .course-wide-list .course-item:hover .course-body {
    background: #f9f9f9;
  }
}
.course-wide-list .course-body {
  position: relative;
}
@media (max-width: 767px) {
  .course-wide-list .course-body {
    padding: 10px;
    border: 1px solid #eee;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .course-wide-list .course-picture {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
.course-wide-list .course-picture-link {
  position: relative;
}
@media (max-width: 767px) {
  .course-wide-list .course-picture-link {
    float: none;
  }
}
.course-wide-list .course-picture-link span {
  position: absolute;
  right: 8px;
  top: 8px;
}
.course-wide-list .course-title {
  max-width: 490px;
  height: 52px;
  line-height: 24px;
  overflow: hidden;
  margin: 0;
}
@media (max-width: 767px) {
  .course-wide-list .course-title {
    max-width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
@media (max-width: 767px) {
  .course-wide-list .course-title a {
    font-weight: normal;
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .course-wide-list .course-metas {
    display: none;
  }
}
.course-wide-list .course-about {
  margin: 0px 0 5px;
  height: 20px;
  overflow: hidden;
}
.course-wide-list .live-course-lesson {
  height: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .course-wide-list .live-course-lesson {
    display: none;
  }
}
.course-wide-list .course-price-info {
  float: none;
  position: absolute;
  right: 0;
  top: 4px;
}
@media (max-width: 767px) {
  .course-wide-list .course-price-info {
    position: static;
  }
}
@media (max-width: 767px) {
  .course-wide-list .course-price-info span {
    font-size: 14px;
  }
}
