/* =========================== media =========================== */
a:hover,
a:focus {
  color: #009966;
}
.link-dark:hover,
.link-light:hover,
.link-white:hover,
.link-lighter:hover {
  color: #009966 !important;
}
.text-primary,
.color-primary {
  color: #009966 !important;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  color: #009966;
}
.btn-primary {
  border-color: #006644;
  background-color: #009966;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #00704b;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li:hover > a {
  border-color: #009966;
  color: #009966;
}
.nav.nav-tabs > li.active > a .text-muted,
.nav.nav-tabs > li:hover > a .text-muted {
  color: #009966;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #009966;
}
.es-piece .piece-header {
  border-color: #009966;
}
.breadcrumb a:hover {
  color: #009966;
}
.course-detail-header .course-data > li .dropdown-toggle:hover,
.course-detail-header .course-data > li > a:hover {
  color: #009966;
}
.es-tabs .tab-header > ul > li > a:hover {
  color: #009966;
}
.class-serve > ul > li.active {
  background-color: #009966;
}
.article-metas .metas-body .title a:hover {
  color: #009966;
}
.media.media-number .media-body > a:hover {
  color: #009966;
}
.media-hot-comment .comments-info p a,
.media-hot-comment .comments-info h5 a:hover {
  color: #009966;
}
.class-signin .btn-signin {
  background-color: #009966;
}
.sidenav .list-group .list-group-item.active {
  border-color: #009966;
}
.sidenav .list-group .list-group-item.active > a {
  color: #009966;
}
.dropdown-menu > li > a:hover {
  background-color: #009966;
}
.es-bar-menu > ul > li.active,
.es-bar-menu > ul > li:hover {
  background-color: #009966;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #009966;
  border-color: #009966;
}
.badge-primary {
  background-color: #009966;
}
.es-filter .nav-sort > li > a:hover,
.es-filter .nav-sort > li > a.active {
  background-color: #009966;
}
.es-filter .filter label:hover {
  color: #009966;
}
.class-header.after .class-data > li > a:hover {
  color: #009966;
}
.class-header .class-data > li .dropdown-toggle:hover {
  color: #009966;
}
.progress-bar,
.rank_num {
  background-color: #009966;
}
.bar-task .bar-task-header,
.bar-task .bar-time-line > li:before {
  background-color: #009966;
}
.bar-task .bar-time-line > li .es-icon {
  color: #009966;
}
.nav-filter .nav-pills > li.dropdown > a:hover {
  color: #009966;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #009966;
}
.page-header .badge {
  background-color: #009966 !important;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #009966;
}
.home-class-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.home-class-list .class-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.home-class-list .class-item:hover {
  background: #f9f9f9;
}
.home-class-list .class-body {
  padding: 10px 0;
}
.home-class-list .class-picture-link {
  float: left;
  margin-right: 25px;
}
.navbar-right .es-header {
  background-color: #363e45;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link {
    float: none;
    display: block;
    margin-right: 0;
  }
}
.home-class-list .class-picture-link > img {
  width: 213px;
}
@media (max-width: 767px) {
  .home-class-list .class-picture-link > img {
    width: 100%;
    display: block;
  }
}
.home-class-list .class-title {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  color: #222;
  overflow: hidden;
}
.home-class-list .class-title a {
  font-weight: bold;
  color: #555;
}
.home-class-list .class-metas {
  margin-bottom: 20px;
  color: #999;
}
.home-class-list .class-metas .fa {
  margin-right: 5px;
  font-size: 18px;
}
.home-class-list .class-metas a {
  color: #555;
}
.home-class-list .class-teacher {
  margin-right: 20px;
}
.home-class-list .class-teacher span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .home-class-list .class-teacher {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.home-class-list .class-price {
  float: right;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .home-class-list .class-price {
    margin-right: 50px;
  }
}
