{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}推广链接地址{% endblock %}
{% block body %}


  
    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="note">推广链接</label>
      </div>
      <div class="col-md-8">
        <textarea id="tUrl" name="tUrl" class="form-control" rows="3">{{ mysale.tUrl }}</textarea>
      </div>
    </div>


{% endblock %}

{% block footer %}
<div class="pull-right">

 


  <script></script>
    
</div>
{% endblock %}