{% extends 'TopxiaWebBundle:MySale:layout.html.twig' %}

{% block title %}网站推广 - {{ parent() }}{% endblock %}

{% set script_controller = 'mysale/web-link' %}
{% set side_nav = 'link-web' %}

{% block main %}

<div class="panel panel-default panel-col">
	<div class="panel-heading">网站推广链接</div>
	<div class="panel-body">
		
		<div class="col-md-8">
			<textarea  id="content" class="form-control"  cols="60" rows="3">{{mysale.tUrl}}</textarea>
		</div>

		<div class="col-md-4">
			<button id="copy-button" value="abc">点击复制该链接</button>
		<div id="copy"></div>
		</div>

	</div>
</div>


{% endblock %}