{% extends 'TopxiaWebBundle:MySale:layout.html.twig' %}

{% block title %}网站推广 - {{ parent() }}{% endblock %}


{% set side_nav = 'web-link' %}

{% block main %}

<div class="panel panel-default panel-col">
	<div class="panel-heading">链接转换</div>
	<div class="panel-body">


		<div class="col-md-8">
			<textarea name="" id=""  class="form-control"  cols="60" rows="3">{{mysale.tUrl}}</textarea>
		</div>
	</div>
</div>


{% endblock %}