<div class="footer-tool-bar">
  <div class="active">
    <i class="es-icon es-icon-homefill"></i><br>
    首页
  </div>
  <div>
    <i class="es-icon es-icon-newshot"></i><br>
    课程
  </div>
  <div>
    <i class="es-icon es-icon-write"></i><br>
    学习
  </div>
</div>