{% extends 'activity/activity-form-layout.html.twig' %}

{% block activity_finish %}
  <div class=" form-group">
    <div class="col-sm-2 control-label">
      <label for="condition-select">{{ 'course.plan_task.activity_manage.finished_condition'|trans }}</label>
    </div>
    <div class="col-sm-4 form-control-static">
      {{ 'course.activity.checkin_finish_condition_text'|trans }}
    </div>
  </div>
{% endblock %}
