<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ asset('activities/checkin/css/index.css') }}">
  <title>Page Title</title>
</head>
<body>

<div class="container">
x
  <div class="js-homepage">
    <div class="left" style="float: left;width: 300px">
      <h1>签到</h1>
      <p> 已签到 <span class="js-sign-number">0</span> / <span class="js-student-number">0</span></p>
      <ul class="js-sign-list">

      </ul>
    </div>

    <div class="right">
      <h1>扫码签到</h1>
      <img src="{{ asset('activities/checkin/img/prod.png') }}">
    </div>

  </div>

</div>


</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{{ asset('activities/checkin/js/index.js') }}"></script>
</html>

