{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_setting_mobile_discoveries_settings' %}

{% block main %}
  <div style="padding:10px 20px;" class="help-block">注：使用发现页配置功能，app版本需要升级到x.x.x及以上</div>
  <iframe src="/h5/admin/index.html#/app" frameborder="0" style="width: 100%;height: 700px;border: none;"></iframe>
{% endblock %}