{% extends 'admin/layout.html.twig' %}

{% set script_controller = 'system/payment' %}

{% set menu = 'admin_payment' %}

{% block main %}

{{ web_macro.flash_messages() }}

<form class="form-horizontal" method="post" id="payment-form" novalidate >

  {% include 'admin/system/pay/alipay.html.twig'%}
  {% include 'admin/system/pay/wxpay.html.twig'%}
  {% include 'admin/system/pay/heepay.html.twig'%}
  {% include 'admin/system/pay/quickly.html.twig'%}
  {% include 'admin/system/pay/llpay.html.twig'%}

  <div class="form-group">
    <div class="col-md-3 control-label"></div>
    <div class="controls col-md-8">
      <button type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label"></div>
    <div class="controls col-md-8">
      <div class="help-block">{{ 'admin.payment_setting.help.tips' | trans }}</div>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}