
<div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink pull-left link-light" id="bar-message-btn" data-url="{{ path('esbar_my_notify') }}"><i class="es-icon es-icon-arrowforward"></i></a>
  通知
</div>
<div class="bar-main-wrap">
  <div class="bar-main-body">
    <ul class="bar-message">

    </ul>
  </div>
</div>