<div class="es-bar-main" id="bar-course-list">
  <div class="bar-main-header">
    <a href="javascript:;" class="js-bar-shrink link-light"><i class="es-icon es-icon-arrowforward"></i></a>
    课程/班级
  </div>
  <div class="bar-main-body">
    <div class="btn-group btn-group-justified btn-action">
      <a href="javascript:;" data-url="{{ path('esbar_my_course') }}" class="btn btn-primary active" id="bar-course-btn">课程</a>
      <a href="javascript:;" data-url="{{ path('esbar_my_classroom' ) }}" class="btn btn-primary" id="bar-classroom-btn">班级</a>
    </div>
    <div id="bar-my-course">

    </div>
  </div>
</div>