{% extends 'TopxiaWebBundle:EsBar:layout.html.twig' %}

{% block esBarTitle %}
  课程/班级
{% endblock %}

{% block esBarBody %}
  <div class="btn-group btn-group-justified btn-action">
    <a href="javascript:;" data-url="{{ path('esbar_my_course') }}" class="btn btn-primary active"
       id="bar-course-btn">课程</a>
    <a href="javascript:;" data-url="{{ path('esbar_my_classroom' ) }}" class="btn btn-primary"
       id="bar-classroom-btn">班级</a>
  </div>
  <div id="bar-my-course">
    {% block myStudyPlace%}

    {% endblock %}
  </div>
{% endblock %}