<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新评价</h3>
  </div>
  <div class="panel-body">
  	{% if reviews %}
	    {% include 'TopxiaWebBundle:CourseReview:list.html.twig' %}
  	{% else %}
  		<div class="empty">暂无评价！</div>
  	{% endif %}
  </div>
</div>