<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新评价</h3>
  </div>
  <div class="panel-body">
    {% include 'TopxiaWebBundle:CourseReview:list.html.twig' %}
  </div>
</div>