<div class="buy-cloud-video clearfix">
<img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
<div class="buy-section pull-left">
  <h4 class="mbl">开通流量年包，视频流量更划算。<a class="" href="http://open.edusoho.com/doc/ServiceGuide/video-package/index.html" target="_blank">什么是流量年包？</a></h4>
  <div class="gray-dark">联系官方立即开通 : <span class="color-primary">4008041114</span></div>
</div>
</div>