{% include 'TopxiaAdminBundle:EduCloud:Video/video-buy.html.twig' %}
{#{% include 'TopxiaAdminBundle:EduCloud:Video/video-show.html.twig' %}#}
{% include 'TopxiaAdminBundle:EduCloud:Video/flow-buy.html.twig' %}
{#{% include 'TopxiaAdminBundle:EduCloud:Video/flow-show.html.twig' %}#}

<div class="panel panel-default panel-chart">
  <input id="spaceItemData" type="hidden" value="{{spaceItem|default('')}}"/>
  <div class="panel-heading">存储空间使用趋势<span class="text-muted">（最近7个月）</span><a class="pull-right" href="">更多&ensp;></a></div>
  <div class="panel-body">
    <div id="spaceItemChart" style="width: 100%;height:400px;"></div>
  </div>
</div>

<div class="panel panel-default panel-chart">
  <input id="flowItemData" type="hidden" value="{{flowItem|default('')}}"/>
  <div class="panel-heading">
    流量使用趋势
    <span class="text-muted">（最近7个月）</span>
    <a class="pull-right" href="">更多&ensp;></a>
  </div>
  <div class="panel-body">
    <div id="flowItemChart"></div>
  </div>
</div>