<div class="buy-cloud-video clearfix">
<img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
<div class="buy-section pull-left">
  <h4 class="mbl"><a class="" href="{{path('admin_cloud_buy', {type:'video'})}}" target="_blank">购买</a>云视频包，享受更优惠的视频托管服务</h4>
  <div class="color-gray">最低 ￥7.2/GB/年</div>
</div>
</div>