{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% block tabs %}{% endblock %}
{% set menu = 'admin_cloud_setting_video' %}

{% block main %}

<div class="panel panel-default notice-panel">
<div class="panel-body">
  <i class="es-icon es-icon-infooutline text-primary"></i>
  <div class="text-md mbl">尚未启用云视频</div>
  <div class="color-gray notice-desc">云视频为您提供安全、高性价比、以及优质的视听体验的视频服务，让您轻松创建在线视频课程。<a href="">点击这里</a>了解详情。</div>
  <a href="" class="btn btn-primary btn-lg notice-btn">立即启用</a>
</div>
</div>
{% endblock %}