<div class="alert alert-warning" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <i class="es-icon es-icon-notifications"></i>
  <a href="" data-toggle="modal" data-target="#show-notice">{{'下节直播课程将于本周五上午10:30按时开课，请各位学员准备好上次的作业进行批阅。'|trans}}</a>
</div>