{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% set statuses = data('LatestStatuses', {count:5, mode:'simple', objectType: 'course', objectId: course.id}) %}

<div class="panel panel-default student-dynamic">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="es-icon es-icon-recentactors"></i>
      学员动态
    </h3>
  </div>
  <div class="panel-body">
    {% for status in statuses %}
      <div class="media media-number-o">
        <div class="media-left">
          <span class="num">{{ loop.index }}</span>
        </div>
        <div class="media-body">
          {{ web_macro.user_link(status.user) }}
          {{ status.message|raw }}
        </div>
      </div>
    {% else %}
      <div class="empty">暂无动态</div>
    {% endfor %}
  </div>
</div>