<div class="panel panel-default student-dynamic">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="es-icon es-icon-recentactors"></i>
      学员动态
    </h3>
  </div>
  <div class="panel-body">
    <div class="media media-number-o">
      <div class="media-left">
        <span class="num">1</span>
      </div>
      <div class="media-body">
        <a href="javascript:;">阿本</a>
        加入了本班级
      </div>
    </div>
    <div class="media media-number-o">
      <div class="media-left">
        <span class="num">2</span>
      </div>
      <div class="media-body">
        教师
        <a href="javascript:;">阿风</a>
        回复了问题《求解答怎么...
      </div>
    </div>
    <div class="media media-number-o">
      <div class="media-left">
        <span class="num">3</span>
      </div>
      <div class="media-body">
        教师
        <a href="javascript:;">阿风</a>
        回复了问题《求解答怎么...
      </div>
    </div>
    <div class="media media-number-o">
      <div class="media-left">
        <span class="num">4</span>
      </div>
      <div class="media-body">
        教师
        <a href="javascript:;">阿风</a>
        回复了问题《求解答怎么...
      </div>
    </div>
    <div class="media media-number-o">
      <div class="media-left">
        <span class="num">5</span>
      </div>
      <div class="media-body">
        教师
        <a href="javascript:;">阿风</a>
        回复了问题《求解答怎么...
      </div>
    </div>
  </div>
</div>