{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<div class="panel panel-default serve-team">
  <div class="panel-heading">
    <h3 class="panel-title"> <i class="es-icon es-icon-assignmentind"></i>
      授课老师
    </h3>
  </div>
  <div class="panel-body">
    {% for teacher in teachers %}
      <div class="media">
        <div class="media-left">
          {{ web_macro.user_avatar(teacher, 'cardtip', 'avatar-md') }}
        </div>
        <div class="media-body">
          <div class="title">
            {{ web_macro.user_link(teacher , 'name') }}
          </div>
          <p>{{ teacher.title }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
