{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ptl">
      <div class="panel panel-default panel-page">
        <div class="panel-heading"><h4>购买订单</h4></div>
        <form>
          <div class="row">
            订单价格
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}