<div class="row order-item">
  <div class="order-item-title">
    <i class="order-item-title-icon"></i>
    <h4 class="title">优惠码</h4>
    <a id="add_card" class="add-coun btn" href="javascript:;">输入优惠码</a>
    <a href="javascript:;" class="cancel" role="cancel-coupon" style="display: none;">取消使用</a>
    <div class="price_r" role="coupon-price">
        <span class="price_r_mark">-</span>
        <span class="pricehead">{% if coursePriceShowType == "RMB" %}￥{% endif %}</span>
        <span class="price_r_num">0.00</span>
    </div>
  </div>
  <div class="coupon-detail" >
    <input role="coupon-code" type="text" name="couponCode" placeholder="请输入优惠码" style="display: none;" data-target-id="{{courses[0]['id']}}" data-amount="{{courses[0]['price']}}"/>  
    <span role="code-notify" class="code-notify"></span>
    <div role="no-use-coupon-code" style="display: block;">没有使用优惠码</div>
  </div>
</div>