<div class="row order-item">
  <div class="order-item-title">
    <i class="order-item-title-icon"></i>
    <h4 class="title">虚拟币</h4>
    <div class="price_r">
      <span class="price_r_mark">-</span>
      <span class="pricehead">{% if coursePriceShowType == "RMB" %}￥{% endif %}</span>
      <span class="price_r_num" role="cash-discount">{{coinPreferentialPrice|default(0)}}</span>
    </div>
  </div>
  <div class="order-item-detail">
    <div class="coin-detail">
      账户可用虚拟币 <span role="accountCash">{{account.cash|default(0)}}</span> 
      本次使用
      <input role="coinNum" type="text" name="coinPayAmount" value="{{coinPayAmount|default(0)}}" maxlength="">虚拟币
    </div>
    <div>
      <input name="payPassword" placeholder="请输入支付密码"/>
      <div>
        {% if not hasPayPassword %}
        为了保障账户资金安全，暂时不可使用，请先<a href="#">开启支付密码</a>
        {% else %}
        <a href="#">忘记密码？</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>