<div class="testpaper-question testpaper-question-{{ questionType }} js-testpaper-question" id="question{{ question.id }}">

  <div class="testpaper-question-body">
    {% include 'question/part/question-stem.html.twig' %}

    {% block analysis_body %}
      <div class="testpaper-question-body__label hidden-xs">
        <span>{{ 'course.testpaper_check.first_answer'|trans }}</span>
      </div>

      {% block analysis_content %}{% endblock %}
    {% endblock %}
    
  </div>

  <div class="testpaper-question-footer clearfix">
    <div class="testpaper-question-actions pull-right mts">
      {% include 'question/part/flag.html.twig' with { flags:['analysis'] } %}
    </div>
  </div>
  {% include 'question/part/show-analysis.html.twig' with {showAnalysis:1} %}

</div>
