// 暂时需要
.course-title {
  line-height: 32px;
  margin: 8px 0 16px 0;
}

// 所有学员的modal框
// 有页面(members-modal.html.twig)，但无调用
#course-student-list .media {
  position: relative;
  .progress {
    position: absolute;
    top: 12px;
    left: 180px;
    width: 150px;
    margin: 0;
  }
}



.thread-filters {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}

.thread-breadcrumbs {
  font-size: 13px;
  margin-bottom: 10px;
}

.thread-breadcrumbs .glyphicon {
  color: #999;
  font-size: 8px;
}

.thread-breadcrumbs a {
  text-decoration: none;
}



.thread {
  margin-bottom: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

.thread-header {
  margin-bottom: 15px;

}

.thread-title {
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  word-wrap:break-word;
  overflow:hidden;
}

.thread-event-title {
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  word-wrap:break-word;
  overflow:hidden;
}

.thread-event-title-bar {
  margin-top: 10px;
}

.thread-metas {
  color: #999;
  font-size: 12px;
}

.thread-author-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.thread-body {
  margin-bottom: 15px;
  word-wrap:break-word;
  overflow:hidden;
}

.thread-body img {
  max-width: 100%;
  height: auto;
}

.thread-footer {
  text-align: right;
}

.thread-posts-heading {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 3px solid #eee;
  margin-bottom: 20px;
  color: #000;
}

.thread-posts-heading .glyphicon {
  color: #ccc;
  font-size: 12px;
  margin-right: 5px;
}


.thread-post {
  overflow: visible;
}

.show-user{
  color:#BDB76B;;
  font-size: 18px;
}

.thread pre,
.thread-post pre {
  overflow-x: scroll;
  word-wrap: normal; 
}

.announcement-list li .action {
  visibility: hidden;
}

.announcement-list li:hover .action {
  visibility: visible;
}

.thread-post-dropdown {
  float: right;
  position: relative;
}

.thread-post-dropdown .dropdown-toggle {
  text-decoration: none;
}

.thread-post .thread-post-dropdown .dropdown-toggle {
  visibility: hidden;
}

.thread-post:hover .thread-post-dropdown .dropdown-toggle {
  visibility: visible;
}
.thread-post-action{
  text-align: right;
  font-size: 12px;
  visibility: hidden;
}

.thread-post:hover .thread-post-action {
  visibility: visible;
}

.thread-list-small {
  font-size: 13px;
}

.thread-list-small .metas {
  font-size: 12px;
  color: #999;
}

.thread-list-small .metas a {
  color: #777;
}

.thread-list-small .thread-item-body {
  padding-left: 10px;
  padding-right: 10px;
}