.thread-show .thread-breadcrumb {
  font-size: 13px;
  margin-bottom: 6px;
}

.thread-show .thread-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
  font-weight: bold;
  line-height: 1;
  display: inline;
}

.thread-show .thread-metas {
  margin-top: 6px;
}

.thread-post-list .metas {
  font-size: 13px;
}

.thread-post-list .metas .nickname {
  font-weight: bold;
}

.thread-post-list .user-avatar img {
  width: 48px;
  height: 48px;
}

.thread-post-list .thread-post-interaction {
  font-size: 13px;
}

.thread-post-list .thread-post-interaction .interaction {
  margin-right: 10px;
}

.thread-subpost-list .user-avatar img {
  width: 32px;
  height: 32px;
}

.thread-subpost-container {
  margin-top: 10px;
  padding: 10px;
  background-color: #fdfdfd;
  border-radius: 3px;
  border: 1px solid #fdfdfd;
}

.thread-subpost-container .pagination {
  margin: 15px 0 10px;
}

.thread-subpost-container .pagination > li > a,
.thread-subpost-container .pagination > li > span {
  padding: 1px 6px;
  font-size: 12px;
}

.thread-subpost-morebar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.thread-subpost-form {
  margin-top: 10px;
}

.thread-subpost-list .thread-subpost {
  margin-top: 10px;
  padding-bottom: 10px;
  border-color: #f6f6f6;
}

.thread-subpost-list .thread-subpost:first-child {
  margin-top: 0px;
}

.thread-subpost-list .thread-subpost:last-child {
  padding-bottom: 0px;

}


.thread-post-list .thread-post .thread-post-manage-dropdown {
  visibility: hidden;
}

.thread-post-list .thread-post:hover .thread-post-manage-dropdown {
  visibility: visible;
}

.thread-post-list .thread-post:hover .thread-subpost .thread-post-manage-dropdown {
  visibility: hidden;
}

.thread-post-list .thread-subpost:hover .thread-post-manage-dropdown {
  visibility: visible !important;
}