.wechat-subscribe {
	position: relative;
	color: #fff;
	font-size: 14px;

	i {
		position: relative;
		top: 3px;
		margin-right: 4px;
		font-size: 14px;
	}

	.wechat-subscribe-first-guide {
		position: absolute;
		top: 40px;
		right: 0;
		width: 180px;
		height: 38px;
		line-height: 38px;
		text-align: center;
		background: rgba(0, 0, 0, 0.65);
		border-radius: 4px;

		&::after {
			position: absolute;
			top: -12px;
			right: 12px;
			border: 6px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.65);
			content: "";
		}
	}

	.wechat-subscribe-second-guide {
		position: fixed;
		top: 50px;
		left: 50%;
		width: 218px;
		height: 150px;
		transform: translateX(-50%);

		img {
			width: 100%;
			height: 100%;
		}
	}
}
