{% set props = status.properties %}

{% if mode == 'simple' %}
  {{'完成了课时'|trans}} <a class="link-dark" href="{{ path('course_show', {id: props.course.id}) }}" title="{{'来自《%props%》'|trans({'%props%':props.course.title})}}">{{'%props% 下的作业'|trans({'%props%':props.lesson.title|sub_text(15)})}}</a>
{% elseif mode == 'full' %}

{% endif %}