{% set banner = block_show('bill_banner') %}
{% if banner %}
  <div class="mbl">
    {{ banner|raw }}
  </div>
{% endif %}

{% if setting('coin.coin_enabled') %}
  <ul class="nav nav-tabs">
    <li  class="{% if side_nav == 'my-coin' %}active{% endif %}" >
      <a href="{{ url('my_coin') }}" >我的{{setting('coin.coin_name')}}
      </a>
    </li>
    <li class="{% if side_nav == 'my-bill' %}active{% endif %}">
      <a href="{{ url('my_bill') }}">我的现金账单
      </a>
    </li>
  </ul>
{% else %}
  <div class="section-header"><h3>我的现金账单</h3></div>
{% endif %} 
