<section class="es-section">
  {% for article in articles %}
    {% set category = categories[article.categoryId] %}
    {% include 'TopxiaWebBundle:Article/Widget:list-item.html.twig' %}
  {% else %}
     <div class="empty tac text-muted mvl">还没有任何资讯</div>
  {% endfor %}
  
  {% include 'TopxiaWebBundle:Article/Part:paginator.html.twig' %}
</section>
