
{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['app/js/task/app-modal/index.js']) %}

{% set modal_class = 'cd-modal-dialog task-only-app-modal' %}

{% block title %}
  扫码下载
{% endblock %}

{% block body %}
  <div>
  <div class="modal-intro">
    <span>
      请下载 /
    </span>
    <span class="modal-app">打开App</span>
    <span>后学习</span>
  </div>
  <div class="download-app">
    <div class="download-app-qrcode">
      <canvas class="qrcode-canvas"></canvas>
    </div>
  </div> 
  </div>
{% endblock %}

{% block footer %}
<div class="modal-guide flex justify-center items-center">
  <img class="mobile-wechat-qrcode" src="{{ asset('static-dist/app/img/task/wechat-qrcode.png') }}" alt="" />
  <div class="flex flex-col items-start ml8">
  <span>使用手机</span>
  <span>扫一扫</span>
  </div>
</div>
{% endblock %}