<form id="lesson-note-plugin-form" method="post" action="{{ path('course_lesson_plugin_note_save') }}">
	<div class="form-group note-content">
		<div class="controls">
	    {{ form_widget(form.content, {attr:{'data-image-upload-url': path('editor_upload', {token:upload_token('course')})} }) }}
	  </div>
	</div>

	<div class="form-group note-actions">
		<div class="controls clearfix">
		  {{ form_rest(form) }}
		  <span class="text-muted pull-left" data-role="saved-message"></span>
			<button id="save" class="btn btn-primary btn-sm" type="submit">保存笔记</button>
		</div>
	</div>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>