<a class="btn btn-study"
  {% if setting("course.buy_fill_userinfo")|default(false) or (course.approval and app.user and app.user.approvalStatus != 'approved') %}
    href="#modal" 
    data-toggle="modal" 
    data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
  {% elseif userVipStatus == 'ok' %}
    id="vip-join-course" data-url="{{ path('course_become_use_member', {id:course.id}) }}"
  {% else %}
    href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
  {% endif %}
  {% if course.status != 'published' or (course.maxStudentNum > 0 and course.studentNum >= course.maxStudentNum) %}
    disabled="disabled"
  {% endif %}
>
  {% if userVipStatus == 'ok' %}
    {% if course.type=='periodic' %}
      {% if "now"|date('U') > course.endTime %}
        已结束
      {% elseif "now"|date('U') >= course.startTime %}
        加入学习
      {% else %}
        报名参加
      {% endif %}
    {% else %}
      加入学习
    {% endif %}
  {% else %}
    {% if (setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' and course.coinPrice > 0) or (( not setting('coin.coin_enabled') or setting('coin.price_type') != 'Coin') and course.price > 0)  %}
      购买课程
    {% else %}
      加入学习
    {% endif %}
  {% endif %}
</a>
    {# {% elseif num==2%}
            <a class="btn btn-study">继续学习</a> 
    {% elseif  num==3%}
            <a class="btn btn-study gray">已报名,等待参加</a> #}
