.module-template {
	position: relative;
}

.icon-delete {
	position: absolute;
	top: -9px;
	right: -9px;
	width: 18px;
	height: 18px;
	color: $primary-color;
	cursor: pointer;
}

.courseLink {
	position: relative;
	width: 138px;
	height: auto;
	margin-left: -3px;
	padding-left: 0;
	font-size: 14px;
	line-height: 1;
	background: none;
	border: none;

	.text-content {
		position: relative;
		top: 7px;
		display: inline-block;
		max-width: 9em;
		margin-left: 4px;
	}

	&.el-tag .el-icon-close {
		position: absolute;
		top: 7px;
		right: -1px;
	}
}

.image-mask {
	width: 100%;
	height: 100%;
	color: #919191;
	font-weight: bold;
	font-size: 26px;
	line-height: 194px;
	text-align: center;
	background-color: #e1e1e1;
}
