<a class="admin-sidebar-section__body admin-notice" href="{{ announcement.url|default('#') }}" target="_blank">
  <img src="{{ announcement.image }}">
  <div class="admin-notice__text">{{ announcement.subtitle }}</div>
</a>