<div class="modal cd-modal in" id="functionModal" aria-hidden="true">
  <div class="modal-dialog cd-modal-dialog function-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">设置常用入口</h4>
      </div>

      <div class="modal-body container">
        <div class="entrance-section">
          <div class="entrance-section__title">教学</div>
          <div class="entrance-section__body row">
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
          </div>
        </div>

        <div class="entrance-section">
          <div class="entrance-section__title">营销</div>
          <div class="entrance-section__body row">
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
          </div>
        </div>

        <div class="entrance-section">
          <div class="entrance-section__title">运营</div>
          <div class="entrance-section__body row">
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
          </div>
        </div>

        <div class="entrance-section">
          <div class="entrance-section__title">用户</div>
          <div class="entrance-section__body row">
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-center admin-function">
                <div class="admin-function__icon icon-color-green"><i class="es-icon es-icon-lock"></i></div>
                <div class="admin-function__name">创建课程</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer clearfix">
        <div class="function-modal-tip">(最多设置7个快捷入口位）</div>
        <button type="button" class="btn function-modal__link" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
        <button type="button" class="btn function-modal__btn">{{ 'form.btn.confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>