<div id="cd-modal" class="cd-modal cd-fade">
  <div class="cd-modal-dialog" id="cd-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-toggle="cd-modal-cancel" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">{{ 'admin_v2.homepage.switch_old_in_safari_notice.title'|trans }}</h4>
      </div>
      <div class="modal-body">
        <div class="cd-pb24 cd-dark-major">
          {{ 'admin_v2.homepage.switch_old_in_safari_notice'|trans }}
        </div>
      </div>
      <div class="modal-footer">
        <button class="cd-btn cd-btn-primary cd-btn-lg" type="button" data-toggle="cd-modal-ok">
          {{ 'admin_v2.homepage.switch_old_in_safari_notice.got_it'|trans }}
        </button>
      </div>
    </div>
  </div>
</div>
