{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg modal-switch-dialog' %}
{% set hide_footer = true %}
{% do script(['app/js/admin-v2/default/switch-old-version/index.js']) %}
{% block title %}{{ 'admin_v2.switch_old_version.title'|trans }}{% endblock %}

{% block body %}
  <div class="js-question-section question-section" data-url="{{ path('admin_v2_switch_old_version') }}">
    <iframe src="http://survey.cloud.test.com/index.php/399561?newtest=Y&lang=zh-Hans" id="iframe" width="100%" border="0" height="100%" frameborder="0"></iframe>
  </div>
{% endblock %}