{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% do script(['app/js/admin-v2/default/switch-old-version/index.js']) %}

{% block body %}

{% endblock %}

{% block footer %}
  <div style="text-align: center;" >
    <button id="switch-old-version-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" data-url="{{ path('admin_v2_switch_old_version') }}" type="submit" class="btn btn-default " data-toggle="form-submit" data-target="#user-edit-form">{{'admin_v2.default.switch_old_version_btn'|trans}}</button>
  </div>
{% endblock %}