<div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink link-dark"><i class="es-icon es-icon-arrowforward"></i></a>
  {% block esBarTitle %}

  {% endblock %}
</div>

<div class="bar-main-body">
  {% block esBarBody %}

  {% endblock %}
</div>
