{% if setting('magic.enable_org','0') %}
	{% do load_script('orgbundle/controller/org/batch-org-btn') %}
	<a class="btn btn-primary mhs" id="batch-update-org" data-form-id="{{formId}}" data-toggle="modal" data-target="#modal" data-url="{{path('admin_batch_update_org',{module:module})}}">设置组织机构</a>
{% endif %}