<div class="panel panel-default notice-panel">
<div class="panel-body">
  <i class="es-icon es-icon-warning text-danger"></i>
  <div class="text-md mbl">{{ 'admin.edu_cloud.overview.disabled_tips'|trans }}</div>
  <div class="text-sm mbm">{{ 'admin.edu_cloud.overview.disabled_recharge_tips'|trans({'%rechargeUrl%':path('admin_v2_cloud_recharge'), '%accountUrl%':path('admin_v2_cloud_account_person')})|raw }}</div>
  <div class="color-gray notice-desc">{{ 'admin.edu_cloud.overview.disabled_contact_tips'|trans }}</div>
</div>
</div>