{% extends 'admin-v2/layout.html.twig' %}

{% block content %}
  {% include 'admin-v2/widget/side-bar.html.twig' %}
  <div class="cd-layout-aside">
    <div class="cd-layout-aside_bread"></div>
    <div class="cd-layout-adside_content" style="padding: 0;">
      {% block main %}
      {% endblock %}
    </div>
  </div>
{% endblock %}