<div class="js-user-mobile" data-user-id="{{ userId|default('') }}">
  <span class="js-mobile">{{ mobile|default('') }}</span>
  <span class="js-toogle">这个是图标</span>
</div>

<script>
  $('.js-user-mobile').on('click', '.js-toogle', function() {
    $.post('xxxx', { userId: '' }).then(res => {
      $('.js-user-mobile .js-mobile').text(res.mobile)
      $('.js-user-mobile .js-toggle').removeClass('xxx').addClass('xxx')
    })
  })
</script>
