{% extends 'my/layout.html.twig' %}

{% block title %}{{'my.learning.group'|trans}} - {{ parent() }}{% endblock %}
{% set tab_nav = 'collect' %}
{% set side_nav = 'my-group' %}
{% block main %}
  {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
  {% block heading %}
    {{'my.learning.group'|trans}}
       {% endblock %}
    {% block body %}
      <div class="row">

        <div class="col-md-12">
          {% include 'my/learning/group/group-member-nav-pill.html.twig' %}
           <br>
          {% include 'my/learning/group/groups-threads-ul.html.twig' with {
          'threads':threads,
          'groups':groups, }
          %}
        </div>
        <div class="col-md-12 pull-left">
          {{ web_macro.paginator(paginator) }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}