{% set relatedCourseSets = data('RelatedCourseSets', { courseSetId: courseSetId, count: 3 }) %}
{% if relatedCourseSets is not empty %}
  <div class="panel panel-default hidden-xs">
    {% include 'course-set/block/course-block-list.html.twig' with { courseSets: relatedCourseSets } %}
  </div>
{% endif %}