{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/task/audio/index.js']) %}


{% block content %}
  <div class="dashboard-body">
    <div class="audio-content" id="audio-content" data-role="audio-content" >
      <iframe  src="{{ path('course_task_player', {courseId: courseId, taskId: taskId})}}"
          name='viewerIframe' id='viewerIframe' width='100%' allowfullscreen webkitallowfullscreen height='100%'
          style='border:0px'></iframe>
    </div>
  </div>
{% endblock %}