{% for imglink in (block.data|first)['items']|default(null) if imglink.src|default('') %}
  <div class="col-md-12">
    <a href="{{ imglink.href|default('') }}"><img src="{{ imglink.src }}" /></a>
  <br>
{% else %}
  <div class="col-md-12">
    <a href="#"><img src="{{ asset('/assets/img/placeholder/banner-wallet.png') }}" /></a>
  <br>
{% endfor %}
