{% for imglink in (block.data|first)['items']|default(null) if imglink.src|default('') %}
  <div class="item {% if loop.index == 1 %}active{% endif %}">
    <a href="{{ imglink.href|default('') }}" target="{{ imglink.target }}"><img src="{{ imglink.src|default('') }}" alt="{{ imglink.alt|default('') }}"></a>
  </div>
{% endfor %}
