{% for imglink in posters|default(null) if imglink.src|default('') %}
	{% if imglink.status == 1 and imglink.mode == "img" %}
		<div class="swiper-slide swiper-hidden" style="background: {{ imglink.background }};">
		  <div {% if imglink.layout == 'limitWide' %}class="container"{% endif %}>
		    <a href="{{ imglink.href|default('') }}" target="_blank" ><img class="img-responsive" src="{{ asset(imglink.src) }}">
		    </a>
		  </div>
		</div>
	{% endif %} 
{% endfor %}

