{% for imglink in carousel|default(null) if imglink.src|default('') %}
 <div class="swiper-slide swiper-hidden">
  <div class="container">
    <a href="{{ imglink.href|default('') }}" target="_blank" ><img class="img-responsive" src="{{ asset(imglink.src) }}">
    </a>
  </div>
</div>  
{% endfor %}

