<div class="app-download">
  <i class="es-icon es-icon-icon_close_circle js-close-btn"></i>
  <div class="slogan">
    <p class="main-slogan">更好的移动端学习</p>
    <p class="sub-slogan">好好学习，天天向上</p>
  </div>
  <a class="app-download-button" href="{{ url }}">
    下载移动APP
  </a>
</div>

{% do load_script('mobile/app-download.js') %}