<% do script(['/app/mobile/download-middle-page/index.js'])%>
<div class="download-middle-page">
   <div class="middle-page-top">
     <h1>知享学堂</h1>
     <p>把学校装进口袋</p>
   </div>
   <div class="middle-page-footer">
    <a href="" class="middle-open-app">点击打开</button>
    <a href="" class="middle-download-app">下载App</button>
   </div>
 </div>
