.avatar-sm {
  .border-radius(50%);
  width: 40px !important;
  height: 40px !important;
}

.avatar-md {
  .border-radius(50%);
  width: 56px !important;
  height: 56px !important;
}

.avatar-lg {
  .border-radius(50%);
  width: 120px !important;
  height: 120px !important;
}