.es-step {
  padding-left: 0;
  margin-bottom: 30px;
  &.es-step-3 li {
    width: 33.33%;
  }
  li {
    float: left;
    padding: 15px;
    list-style-type: none;
    border-bottom: 2px solid #c1c1c1;
    color: #c1c1c1;
    font-size: 16px;
    text-align: center;
    .number {
      width: 23px;
      height: 23px;
      line-height: 21px;
      display: inline-block;
      margin-right: 5px;
      border: 1px solid #c1c1c1;
      .border-radius(50%);
    }
    &.done,
    &.doing {
      border-color: @brand-primary;
      color: @brand-primary;
      .es-step-num {
        border-color: @brand-primary;
      }
    }
  }
}