.sidenav {
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  .box-shadow(0 2px 4px rgba(0, 0, 0, 0.08));
}

.lt-ie9 .sidenav {
  border: 1px solid @gray-light;
}