{% extends 'admin-v2/layout.html.twig' %}
{% block tabs %}{% endblock %}
{% set menu = 'admin_v2_cloud_video' %}

{% block main %}
<div class="row form-group">
<div class="help-block">
  </br></br>
  <p style="text-align:center;font-size:16px">{{ 'admin.edu_cloud.edu_video.video_service_provider'|trans }} <a href="http://open.edusoho.com/educloud" target="_blank">{{ 'admin.edu_cloud.edu_video.know_detail'|trans }}</a></p>
  </br>
</div>
</div>
<hr>
{% endblock %}
