.e-drag {
  width: 95%;
  padding: vw(8);
  margin: vw(8);
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  &-section {
    position: relative;
    // padding: vw(8);
  }
  &-img {
    position: relative;
    min-height: vw(144);
    width: 100%;
    img:first-child {
      vertical-align: middle;
      width: 100%;
      height: 100%;
    }
    &__dragable {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-bar {
    position: relative;
    border-radius: vw(20);
    height: vw(34);
    background-color: #f1f1f1;
    margin: vw(8) 0;
    text-align: center;    
    > span {
      color: #919191;
      font-size: vw(14);
      line-height: vw(34);
    }
    &__mask {
      position: absolute;
      top: 0;
      height: 34px;
      background-color: #e1e1e1;
      border-radius: 20px 0 0 20px;
    }
  }

  &-btn {
    position: absolute;
    top: -4px;
    left: 0px;
    text-align: left;
    > img {
      width: vw(48);
      height: vw(48);
    }
  }
}