<div class="panel panel-default">
  <div class="panel-heading">
    班级动态
  </div>
  <div class="panel-body">
    <ul class="media-list">
      {% for status in statuses %}
        {% set user = users[status.userId] %}
        {% include 'TopxiaWebBundle:Status:' ~ status.type ~ '-status.html.twig' %}
      {% endfor %}
    </ul>
  </div>
</div>