<div class="panel panel-default intro-block">
  <div class="panel-body">
    <div class="name-area">亲爱的<span class="name">{{app.user.truename }}</span>老师
     </div>
    {% include 'TopxiaWebBundle:Sign:show.html.twig' %}
  </div>
</div>