<div class="panel panel-default">
  <div class="panel-body">
    <div>亲爱的&nbsp;&nbsp;&nbsp;<span class="green-color" style="font-size:16px">{{app.user.truename }}</span>&nbsp;&nbsp;&nbsp;老师
     </div>
    {% include 'TopxiaWebBundle:Sign:show.html.twig' %}
  </div>
</div>