<div style="display:block;height:200px; width:auto;background-color: #fff;"  class="well">
	  <div>亲爱的&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:16px">{{app.user.truename }}</span>&nbsp;&nbsp;&nbsp;老师
  </div>
  {% include 'TopxiaWebBundle:Sign:show.html.twig' %}
</div>