.e-coupon {
  padding: vw(25) 0 vw(30) vw(20);
  overflow: hidden;
  &__container {
    height: vw(96);
    overflow: hidden;
  }
  &__title {
    line-height: 1;
    font-size: vw(18);
    color: #2B333B;
    margin-bottom: vw(20);
  }
  &__body {
    position: relative;
    float: left;
    height: vw(96);
    padding-right: vw(20);
    line-height: 1;
    box-sizing: border-box;
    &:before {
      content: '';
      position: absolute;
      left: vw(-6);
      top: vw(52);
      width: vw(12);
      height: vw(12);
      border-radius: 50%;
      background-color: #fff;
    }
    &:after {
      content: '';
      position: absolute;
      right: vw(14);
      top: vw(52);
      width: vw(12);
      height: vw(12);
      border-radius: 50%;
      background-color: #fff;
    }
  }
  &__name {
    position: absolute;
    right: vw(85);
    top: vw(22);
    line-height: 1.3;
    color: #fff;
  }
  &__header {
    box-sizing: border-box;
    padding: vw(20) vw(15) vw(18);
    border-top-right-radius: vw(2);
    border-top-left-radius: vw(2);
    background-color: #FF6969;
    .coupon-button {
      position: absolute;
      right: vw(15);
      top: vw(26);
      height: vw(24);
      width: vw(56);
      text-align: center;
      line-height: vw(24);
      box-sizing: border-box;
      font-size: vw(12);
      color: #FF5353;
      background-color: #fff;
      border-radius: vw(4);
    }
  }
  &__middle {
    margin-top: vw(-6);
    margin-bottom: vw(-1);
    height: vw(6);
    background-image: url('../../../static/images/dot_red@2x.png');
    background-size: vw(16) vw(6);
    background-position-x: vw(6);
  }
  &__bottom {
    padding: vw(10);
    background-color: #FF5353;
    color: #fff;
    font-size: vw(10);
    border-bottom-right-radius: vw(2);
    border-bottom-left-radius: vw(2);
  }
  &__price {
    display: inline-block;
    margin-top: vw(-3);
    color: #fff;
    font-size: vw(32);
    font-weight: 500;
  }
  &-single {
    height: vw(112);
    .e-coupon__body {
      padding-right: 0;
      height: vw(112);
      width: vw(335) !important;
      &:after {
        top: vw(70);
        right: vw(-6);
      }
      &:before {
        top: vw(70);
      }
    }
    .e-coupon__header {
      height: vw(82);
      .coupon-name {
        width: vw(142);
      }
    }
    .e-coupon__price {
      margin-top: vw(1);
    }
    .stamp {
      right: 0 !important;
    }
  }
  &-multi {
    .coupon-button {
      right: vw(35);
      top: vw(19);
    }
    .e-coupon__body {
      width: vw(196);
    }
  }
  &__select-circle {
    display: inline-block;
    position: absolute;
    right: vw(10);
    top: vw(10);
    width: vw(20);
    height: vw(20);
    color: #FFFFFF;
    .select-icon {
      font-size: 20px;
    }
  }

  // 已领完
  .coupon-received-all,.coupon-used {
    .e-coupon__header {
      background-color: #B0BDC9;
    }
    .e-coupon__middle {
      background-image: url('../../../static/images/dot_grey@2x.png');
    }
    .e-coupon__bottom {
      background-color: #A5B2BE;
    }
    .coupon-button {
      display: none;
    }
  }
  .coupon-received-all {
    .stamp {
      right: vw(20);
      background-image: url('../../../static/images/received_all.png') !important;
    }
  }
  // 已使用
  .coupon-used {
    .coupon-button {
      display: none;
    }
    .stamp {
      right: vw(20);
      background-image: url('../../../static/images/used_coupon.png') !important;
    }
  }
  // 已领取
  .stamp {
    position: absolute;
    top: 0;
    right: vw(20);
    width: vw(50);
    height: vw(50);
    background-image: url('../../../static/images/received.png');
    background-size: 100%;
  }
}

// 详情页mini优惠券样式
.mini-coupon:before, .mini-coupon:after {
  position: absolute;
  content: "";
  height: 100%;
  width: vw(4);
  background-image: url('../../../static/images/coupon_dots.png');
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: scale(0.8);
}

.mini-coupon {
  position: relative;
  &:before {
    left: vw(-2);
  }
  &:after {
    right: vw(-2);
  }
}
