{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.learning.homework'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'my-online-review' %}
{% set type = 'homework' %}
{% block main %}
  <div class="panel panel-default panel-col">
    <div class="panel-heading">
      {{ 'my.teaching.online.review.title'|trans }}
    </div>
    <div class="panel-body">
      {% include 'my/online-review/review-type-select.html.twig' %}
      {% include 'my/online-review/search-form.html.twig' %}
      {% include 'my/homework/check-table.html.twig' %}
    </div>
  </div>
{% endblock %}