{% extends 'layout.html.twig' %}

{% set bodyClass = 'find-pay-password' %}

{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% block full_content %}
  <div class="container find-pay-password-container">
    {% block main %}
      <div class="col-sm-8 col-sm-offset-2 find-pay-password-main">
          {% block main_heading %}
            <ul class="cd-step clearfix find-pay-password-main__head">
              <li class="doing cd-step__one"><span class="number">1</span><span>选择找回方式</span></li>
             {#  <li><span class="number">2</span>验证信息</li>
              <li><span class="number">3</span>重置密码</li> #}
            </ul>

              {#<div class="step">
                <span class="step_num">1</span>
                <span class="step_info">选择找回方式</span>
                {# <hr class="divided-line">
              </div>#}
          {% endblock %}
        </div>
        <div class="find-pay-password-main__body">
          {% block main_body %}{% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block esBar %}
{% endblock %}

{% block floatConsult %}
{% endblock %}

{% block footer %}
{% endblock %}


