{% extends 'v2/layout.html.twig' %}

{% set stepOne = true %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content row cd-row">
      <div class="col-md-8 col-md-offset-2">
        <div class="cd-panel find-pay-password-panel">
          {% block panel %}
            {% block panel_heading %}
              <div class="find-pay-password-panel__heading">
                {% include 'settings/part/find-pay-password-header-steps.html.twig' %}
              </div>
            {% endblock %}
            <div class="cd-panel-body">
              {% block panel_body %}
                {% include 'settings/part/find-pay-password-choose-way.html.twig' %}
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
