{% extends 'v2/layout.html.twig' %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content row cd-row">
      {% block sidebar %}
      {% endblock %}

      <div class="col-md-8 col-md-offset-2">
        <div class="cd-panel">
          {% block main %}
            {% block main_heading %}
              <ul class="cd-panel-heading cd-steps cd-steps-3">
                <li class="cd-steps-item doing">
                  <div class="cd-steps-tail"><i></i></div>
                  <div class="cd-steps-content">
                    <div class="content-wrap">
                      <div class="content-number">1</div>
                    </div>
                    <div class="content-wrap">
                      <span class="content-info">{{ 'user.settings.security.pay_password_find.way'|trans }}</span>
                    </div>
                  </div>
                </li>
                <li class="cd-steps-item">
                  <div class="cd-steps-tail"><i></i></div>
                  <div class="cd-steps-content">
                    <div class="content-wrap">
                      <div class="content-number">2</div>
                    </div>
                    <div class="content-wrap">
                      <span class="content-info">{{ 'user.settings.security.pay_password.validate_info'|trans }}</span>
                    </div>
                  </div>
                </li>
                <li class="cd-steps-item">
                  <div class="cd-steps-tail"><i></i></div>
                  <div class="cd-steps-content">
                    <div class="content-wrap">
                      <div class="content-number">3</div>
                    </div>
                    <div class="content-wrap">
                      <span class="content-info">{{ 'user.settings.security.password_reset'|trans }}</span>
                    </div>
                  </div>
                </li>
              </ul>
            {% endblock %}
            <div class="cd-panel-body">
              {% block main_body %}
                {% include 'settings/find-pay-password-choose-way.html.twig' %}
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}