{% extends 'v2/layout.html.twig' %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content row cd-row">
      {% block sidebar %}
      {% endblock %}

      <div class="col-md-8 col-md-offset-2">
        <div class="cd-panel">
          {% block main %}
            {% block main_heading %}
              <ul class="cd-panel-heading cd-step clearfix">
                <li class="cd-step__one doing"><span class="number">1</span><span class="info">{{ 'user.settings.security.pay_password_find.way'|trans }}</span></li>
                <li class="cd-step__three"><span class="number">3</span><span class="info">{{ 'user.settings.security.password_reset'|trans }}</span></li>
                <li class="cd-step__two cd-step__divided"><span class="number">2</span><span class="info">{{ 'user.settings.security.pay_password.validate_info'|trans }}</span></li>
              </ul>
            {% endblock %}
            <div class="cd-panel-body">
              {% block main_body %}
                {% include 'settings/find-pay-password-choose-way.html.twig' %}
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}