.fc-agenda-view {
  .week {
    padding-top: 11px;
    padding-left: 11px;
    text-align: left;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: @cd-gray-dark;
  }

  .day {
    padding-right: 16px;
    padding-bottom: 11px;
    text-align: right;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: @cd-gray-dark;
  }

  .fc th {
    height: 60px;
  }

  .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none;
  }

  .fc-time-grid .fc-slats td {
    height: 20px;
  }

  .fc-time-grid-event {
    margin-right: 0 !important;
    .fc-content {
      padding-left: 2px;
    }
  }

  .fc-content {
    .fc-title {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
    }
  }

  .fc-time-grid {
    .fc-event-container {
      margin-left: 0;
    }
  }

  .fc-day-grid-container {
    overflow: visible !important;
  }
}
