.es-header {
  .nav.user-nav {
    .user-avatar-li {
      .user-avatar-toggle {
        padding: 12px 0;
        img {
          .cd-box-shadow-z(8px);
        }
      }
      .user-dropdown {
        padding-top: 24px;
        padding-bottom: 0;
        .cd-border-radius;
        .cd-box-shadow-z(8px);
      }
    }
  }
}

.user-dropdown__avatar {
  display: inline-block;
  img {
    .cd-box-shadow-z(8px);
  }
}

.user-dropdown__info {
  padding: 0 32px;
  height: 80px;
  display: table;
}

.user-dropdown__nickname {
  width: 108px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: @cd-gray-dark;
  span {
    vertical-align: text-top;
  }
}

.user-dropdown__vip-icon {
  margin-left: 4px;
  width: 16px;
  height: 16px;
  vertical-align: unset;
}

.user-dropdown__profile {
  display: table-cell;
  vertical-align: middle;
}

.user-dropdown__rank {
  font-size: 12px;
  line-height: 1;
  color: @cd-gray;
}

.user-dropdown__link {
  padding: 0 32px;
  font-size: 12px;
  line-height: 1;
  i {
    margin-right: 4px;
    font-size: 12px;
  }
  a {
    padding-right: 34px;
    & + a {
      padding-left: 34px;
      padding-right: 0;
      .cd-box-shadow-inset;
    }
  }
}

.user-dropdown__logout {
  padding: 16px 0;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  .cd-box-shadow-inset(0 1px 0 0);
}