.es-header {
  .nav.user-nav {
    .user-manage-li {
      padding: 14px 0;
      .user-manage-toggle {
        padding-left: 12px;
        padding-right: 6px;
        &.user-student-manage {
          padding-right: 12px;
        }
      }
      .user-manage-toggle--color {
        color: @cd-gray-dark;
        background-color: #fff;
        &:hover,
        &:focus {
          background-color: #fff;
          border-color: rgba(0, 0, 0, 0.16);
        }
      }
      .user-manage-dropdown {
        padding: 0;
        width: 96px;
        top: 42px;
        text-align: center;
        .cd-border-radius;
        .cd-box-shadow-z(8px);
        > li > a {
          padding: 16px 24px;
          &:hover {
            .cd-border-radius;
          }
        }
      }
    }
  }
}
