.task-manage-list {
  border-left: 2px solid #f1f1f1;
  .item-content {
    padding: 0 24px;
    height: 56px;
    line-height: 56px;
    background: @cd-bg-light;
    .cd-border-radius;
    color: @cd-gray-dark;
  }
  .task-manage-chapter {
    position: relative;
    margin-left: -8px;
    .item-content {
      font-size: 14px;
      color: @cd-gray;
    }
  }
  .task-manage-unit {
    margin-left: 14px;
    .item-line {
      margin-left: -14px;
      width: 14px;
    }
  }
  .task-manage-lesson-tasks {
    list-style-type: none;
    padding-left: 0;
    background-color: #fff;
    .cd-border-radius;
  }
  .task-manage-item {
    border: none;
  }
  .item-actions {
    position: absolute;
    right: 11px;
    padding-right: 0;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    color: @cd-gray-light;
  }
  .item-line {
    border-bottom: 2px solid #f1f1f1;
    margin-top: 8px;
  }
}

.task-list-header {
  padding: 0 24px;
  height: 56px;
  line-height: 56px;
  .cd-box-shadow-z(2px);
  color: @cd-gray;
  font-size: 14px;
}