{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block title %}{{'弹题管理'|trans}}{% endblock %}

{% set script_controller = 'marker/index' %}
{% set bodyClass="marker-manage" %}
{% set condition="subtitle" %}

{% block body %}
  <div class="marker-manage-content {% if condition != 'subtitle' %}question {% endif %} js-marker-manage-content" id="lesson-dashboard"
    data-media-player-url="{{ path('media_play',{mediaId:media.id}) }}"
    {% include 'TopxiaWebBundle:MediaManage:player.html.twig' %}
    {% block media_edit %}

    {% endblock %}
    {% include 'TopxiaWebBundle:Marker:coord.html.twig' %}
  </div>
  <div class="modal"></div>
  <div class="introhelp-overlay js-introhelp-overlay hidden"></div>
{% endblock %}