{% if showAnalysis|default(0) %}
	<div class="testpaper-question-analysis js-testpaper-question-analysis" {% if analysisCssHide|default(1) %}style="display: none;"{% endif %}>
    <div class="well mb0">
		{{ question.analysis|default('无解析'|trans)|bbCode2Html|raw|nl2br }}
		{% include 'attachment/widget/list.html.twig' with {targetType:'question.analysis', targetId:question.id  } %}
    </div>
	</div>
{% endif %}