<div class="toolbar-menu hidden-xs">
  <ul class="clearfix">

    {% for topLink in topLinks %}
      <li><a href="{{topLink.url}}">{{topLink.name}}</a></li><li>|</li>
    {% endfor %}
    
    <li {% if app.user.newNotificationNum > 0 %} class="message"{% endif %}><a href="{{ path('notification') }}">我的通知</a></li>
  </ul>
</div>