<div class="panel panel-default">
  <div class="panel-heading">{{'thread.reply.publish'|trans}}</div>
  <div class="panel-body">
  {{dump(target)}}
    {{ render(controller('AppBundle:Thread:post', {request:app.request, threadId:thread.id, target: target})) }}
  </div>
</div>
