.prelogin {
  font-size: vw(12);
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    height: vw(130);
    width: vw(120);
    margin-top: 21vh;
  }
  &-text {
    color: #B0BDC9;
    font-size: vw(14);
    margin-top: 16px;
  }
  &-btn {
    -webkit-text-fill-color: white;
    margin-top: vw(32);
    border-radius: vw(47);
    min-width: vw(156);
    background: $primary-color;
  }
}

.login {
  display: flex;
  flex-direction: column;
  margin: vw(15);
  align-items: center; 
  &-title {
    font-size: vw(20);
    -webkit-text-fill-color: #2b333b;
    font-family: PingFangSC-Regular;
  }
  &-hint {
    font-size: 15px;
    -webkit-text-fill-color: #bdc2c6;
    font-family: PingFangSC-Regular;
    margin-top: 20px;
  }
  &-avatarimg {

  }
  &-account {
    margin-top: 15px;
    align-self: flex-end;
    font-size: 13px;
    font-family: PingFangSC-Regular;
  }
}