<div class="course-item-list-in-toolbar-pane">
  {% set mode = 'simple' %}
	{# {% include 'TopxiaWebBundle:CourseLesson:item-list.html.twig' %} #}
	{% include 'TopxiaWebBundle:CourseLesson/Widget:list.html.twig' %}
</div>