
{% import 'macro.html.twig' as web_macro %}
<ul class="dataset_ul">
    <li data-v-668e623c="" class="ivu-list-item dataset_li">
        <div data-v-668e623c="" class="ivu-list-item-meta"><!---->
            <div class="ivu-list-item-meta-content">
                <div class="ivu-list-item-meta-title">t001-测试数据集-测试环境-01</div>
                <div class="ivu-list-item-meta-description">t001-测试数据集-测试环境-01</div>
            </div>
        </div>
        <ul class="ivu-list-item-action">
            <li data-v-668e623c="">
                <span data-v-668e623c="">教师1</span>
            </li>
        </ul>
        <div class="ivu-list-item-extra"></div>
    </li>
    <li data-v-668e623c="" class="ivu-list-item dataset_li">
        <div data-v-668e623c="" class="ivu-list-item-meta"><!---->
            <div class="ivu-list-item-meta-content">
                <div class="ivu-list-item-meta-title">t001-测试数据集-测试环境-01</div>
                <div class="ivu-list-item-meta-description">t001-测试数据集-测试环境-01</div>
            </div>
        </div>
        <ul class="ivu-list-item-action">
            <li data-v-668e623c="">
                <span style="float:right;">教师1</span>
            </li>
        </ul>
        <div class="ivu-list-item-extra"></div>
    </li>
    <li data-v-668e623c="" class="ivu-list-item dataset_li">
        <div data-v-668e623c="" class="ivu-list-item-meta"><!---->
            <div class="ivu-list-item-meta-content">
                <div class="ivu-list-item-meta-title">t001-测试数据集-测试环境-01</div>
                <div class="ivu-list-item-meta-description">t001-测试数据集-测试环境-01</div>
            </div>
        </div>
        <ul class="ivu-list-item-action">
            <li data-v-668e623c="">
                <span style="float:right;">教师1</span>
            </li>
        </ul>
        <div class="ivu-list-item-extra"></div>
    </li>
</ul>
<nav class="text-center">
{{ web_macro.ajax_paginator(paginator) }}
</nav> 
