{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'training-modal-lg' %}

{% block title %} 选择镜像 {% endblock %}



{% block body %}
<div class="training-add js-select-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#private" aria-controls="private" role="tab" data-toggle="tab">个人镜像</a></li>
        <li role="presentation"><a href="#public" aria-controls="public" role="tab" data-toggle="tab">公共镜像</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="private">个人</div>
        <div role="tabpanel" class="tab-pane" id="public">公共</div>
    </div>
</div>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link js-close-modal" data-dismiss="modal" tabindex="6">取消</button>
<button id="pick-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary js-pick-btn"
  data-toggle="form-submit" tabindex="4">保存</button>


  <script>
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            e.target // newly activated tab
            e.relatedTarget // previous active tab
            console.log(e.target);
            console.log(e.relatedTarget);
        })
    })
  </script>
{% endblock %}
