{% if player.error is defined %}
  {{ player.error }} : {{ player.message }}
{% else %}
  <div id="file-player" 
    {% for key, value in player %}
      data-{{ key }}="{{ value }}"
    {% endfor %}
    style="height:500px;"
  ></div>
{% endif %}


<script>app.load('filewatch/modal')</script>