.lesson-content-text-body {
  padding-top: 30px;
  .live-show-item {
    text-align: center;
    padding-top: 40px;
    .title {
      margin-bottom: 15px;
      font-weight: bold;
      color: @gray-darker;
    }
  }
}