@import 'testpaper/testpaper-card.less'; // 答题卡，数据分析
@import 'testpaper/testpaper-analysis.less';  // 试题分析
@import 'testpaper/testpaper-question.less';  // 作业，考试
@import 'testpaper/testpaper-head.less';  // 试卷头部
@import 'testpaper/testpaper-result.less'; // 试卷答案结果

.task-testpaper-body-iframe {
  position: relative;
  height: 100%;
  overflow: auto;
}