<ion-view>
	<ion-content class="padding content-padding">

		<div class="course-card mylean-card">
		          <div class="list">

		              <a class="item item-thumbnail-left" href="#" ng-repeat="course in content.data">
		                <img src="{{ course.middlePicture | coverPic}}">
		                <h2>{{ course.title }}</h2>
		                <p class="bottom">
		                  <span>
		                    下次直播时间:{{ course.liveStartTime | coverLearnTime }}
		              </span>
		                  
		                </p>
		              </a>
		          </div>
		</div>

		<ion-infinite-scroll
		        ng-if="canLoadMore('live')"
		        on-infinite="loadMore('live')"
		        distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>