{% extends "layout.html.twig" %}

{% block main %}
  <div class="alert alert-success">
    <p>恭喜，系统已安装成功！</p>
  </div>

  <div class="actions">
    <p><a href="../app.php/" class="btn btn-primary">进入系统！</a></p>
  </div>

{% endblock %}