{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}课时价格设置 - {{ parent() }}{% endblock %}

{% set side_nav = 'price' %}
{% set script_controller = 'course-manage/price' %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">课时价格设置
    <a class="btn btn-primary btn-sm pull-right" href="">设置统一价格</a>
  </div>
  <div class="panel-body">
    
  </div>
</div>

{% endblock %}