/*header*/
.navbar-brand {
  padding: 15px;
}
.navbar-form .form-control {
  line-height: 24px;
}
.es-section {
  box-shadow: none;
}
.es-section .section-header {
  border-bottom: none;
}
.teacher-item {
  box-shadow: none;
}
.teacher-item:hover {
  box-shadow: none;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
