<div class="js-tasks-list">
  <div class="js-tasks-show">
       {% if moduleType == 'chapter' %}
          {{ render(controller('AppBundle:ItemBankExercise/Exercise:renderChapterList', {previewAs:previewAs,exerciseId:exerciseId, moduleId:moduleId})) }}
        {% else %}
          {{ render(controller('AppBundle:ItemBankExercise/Exercise:renderAssessmentList', {previewAs:previewAs,exerciseId:exerciseId, moduleId:moduleId})) }}
        {% endif %}
  </div>
</div>
