
{% set mode = mode|default('default') %}

<div class="course-list qs-exellent-course-list">
  {% for course in courses if course %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
    </div>
  {% else %}
    <div class="empty">暂无课程</div>
  {% endfor %}
</div>


