{% extends 'activity/content-layout.html.twig' %}
{% do script(['libs/vue.js', 'app/js/activity/training/view/index.js', 'libs/element-ui.js']) %}
{% block body %}
<div class="panel panel-default panel-col">
    <div id="app"
        data-info="{{activity}}"
        data-bindinfo="{{bindInfo}}"
    ></div>
</div>
<link href="/static-dist/libs/element-ui/dist/index.css" rel="stylesheet">
{% endblock %}