<phpunit bootstrap="bootstrap.php">
    <testsuite>
        <directory>Tests/</directory>
    </testsuite>
    <php>
        <env name="HUB_URL" value="http://localhost:4444/wd/hub" />
        <env name="TEST_SITE_HOST" value="http://www.esdev.com" />
        <env name="BROWSER_FIRFOX" value="firefox" />
        <env name="BROWSER_CHROME" value="chrome" />
    </php>
</phpunit>