
.btn.btn-default {
  .es-transition;
  &:hover {
    border-color: @brand-primary;
    background-color: #fff;
    color: @brand-primary;
    .es-transition;
  }
  &:focus,
  &.active {
    background: @brand-primary;
    color: #fff;
    border-color: @brand-primary;
    .box-shadow(none);
    .es-transition;
  }
}

.btn.btn-primary {
  border-color: @brand-primary;
  background-color: #fff;
  color: @brand-primary;
  .es-transition;
  &:hover {
    border-color: @brand-primary;
    background-color: @brand-primary;
    color: #fff;
    .es-transition;
  }
}


.btn-circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid @gray;
  color: @gray;
  text-align: center;
  .es-transition;
  &:hover {
    color: @brand-primary;
    border-color: @brand-primary;
    .es-transition;
  }
  &.active {
    background: @brand-primary;
    border: 1px solid @brand-primary;
    color: #fff;
  }
}

.btn-tag {
  padding: 6px 10px;
  border: 1px solid @gray;
  display: inline-block;
  color: @gray;
  font-size: 12px;
  .es-transition;
  &:hover {
    color: @brand-primary;
    border-color: @brand-primary;
    .es-transition;
  }
}