.nav.nav-tabs {
  margin-bottom: 15px;
  border-color: @gray-lighter;
  >li >a {
    padding: 10px 15px 20px 15px;
    border: none;
    border-bottom: 2px solid @gray-lighter;
    color: #212121;
    font-size: 16px;
    .es-transition;
    @media (max-width: @screen-xs-max) {
      border: none;
      padding: 10px 8px;
    }
    &:hover,
    &:focus {
      background: none;
    }
  }
  >li.active >a,
  >li:hover >a {
    border: none;
    border-bottom: 2px solid @brand-primary;
    background: none;
    color: @brand-primary;
    .es-transition;
    @media (max-width: @screen-xs-max) {
      border: none;
    }
  }
}