.pager >li {
  >a {
    color: @gray;
    border-color: @gray;
    .es-transition;
    @media (min-width: @screen-lg-min) {
      padding: 8px 25px;
      .border-radius(20px);
    }
    &:hover {
      background: none;
      color: @brand-primary;
      border-color: @brand-primary;
      .es-transition;
    }
  }
  &.disabled >a,
  &.disabled >a:hover {
    border-color: @gray-light;
  }
}

.pagination > li > a, 
.pagination > li > span {
  color: #bdbdbd;
  border-color: #bdbdbd;
  min-height: 26px;
  min-width: 26px;
}

