.text-line {
  position: relative;
  padding: 50px 0;
  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    margin-top: -1px;
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }
  h5 {
    position: relative;
    text-align: center;
    font-size: 28px;
    z-index: 1;
    >i {
      padding-left: 20px;
      background: #fff;
    }
    >span {
      background: #fff;
      padding: 0 50px;
    }
  }
  &.gray {
    h5>span {
      background: #fafafa;
    }
  }
  &.small {
    h5 {
      font-size: 16px;
      >span {
        padding: 0 20px;
      }
    }
  }
}
