{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','libs/iframe-resizer-contentWindow.js',], 500) %}

{% block body %}
  <div class="tab-content" id="iframe-content">
    {% block activity_step %}
    {% endblock %}
  </div>
{% endblock %}
