{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','libs/iframe-resizer-contentWindow.js',], 500) %}

{% block body %}
  <div class="tab-content" id="iframe-content">
    <div class="tab-pane js-course-tasks-pane active js-step2-view">
      {% block activity_content %}
      {% endblock %}
    </div>
    <div class="tab-pane js-course-tasks-pane js-step3-view">
      {% block activity_finish %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
