<div class="alert alert-danger mv20 mh20">
  <i class="es-icon es-icon-info"></i>
    {{'course.plan_task.activity_manage.activity_file_empty'|trans({'%type%':dict_text('fileType',type|default('video'))})|raw}}
</div>
