<div class="alert alert-blank alert-sm">
  {{ 'cloud_search.itemBankExercise.result'|trans({'%counts%':counts|default(0)})|raw }}
</div>
<div class="search-course-list" id="search-course">
  {% for itemBankExercise in resultSet %}
    {% include 'search/search-itembankexercise-item.html.twig' %}
  {% endfor %}
</div>
