<div class="alert alert-blank alert-sm">
  {{'cloud_searching.article_type.result'|trans}} <span class="color-danger">{{counts}}</span>{{'cloud_searching.result_sum'|trans}}
</div>
{% for article in resultSet %}
{% set category = article.category %}
<div class="article-list">
  {% include 'search/search-article-item.html.twig' %}
</div>
{% endfor %}