<div class="alert alert-blank alert-sm">
  {{'cloud_searching.course_type.result'|trans}} <span class="color-danger">{{counts|default(0)}}</span>{{'cloud_searching.result_sum'|trans}}
</div>
<div class="search-course-list" id="search-course">
  {% for course in resultSet %}
    {% include 'search/search-course-item.html.twig' %}
  {% endfor %}
</div>