{% do script(['app/js/item-bank-exercise/chapter/index.js']) %}
{% set chapterEnable = 0 %}
<div class="task-list-header clearfix">
  <span class="switch-title">{{ 'item_bank_exercise.chapter_exercise.open'|trans }}</span>
  <div class="switch">
    <div class="btn_fath clearfix {% if (exercise.chapterEnable) %}on{% else %}off{% endif %}" id="btn_fath">
      <div class="move" data-state="{% if (exercise.chapterEnable) %}on{% else %}off{% endif %}"></div>
      <div class="btnSwitch btn1"></div>
      <div class="btnSwitch btn2 "></div>
    </div>
  </div>
  <span style="margin-left: 10px">{{ 'item_bank_exercise.chapter_exercise.info'|trans }}</span>
  <input type="hidden" value="{{ path('item_bank_exercise_manage_chapter_exercise_open',{exerciseId:exercise.id}) }}" id="openUrl">
  <input type="hidden" value="{{ exercise.id }}" id="exerciseId">
</div>