{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}实名认证 - {{ parent() }}{% endblock %}
{% set side_nav = 'approval' %}

{% block main %}

{% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
      
      {% block heading %} 实名认证
      
        {% if app.user.approvalStatus in ['approved', 'unapprove', 'approve_fail'] %}

        <div class="pull-right">
            <a class="btn btn-success" href="{{ path('setting_approval_submit') }}">
              我要实名认证
            </a>
        </div>

        {% endif %}

      {% endblock %}

      {% block body %}

        {% if app.user.approvalStatus == 'approving' %}
          <h3 class="text-primary" > 
            正在认证中，我们的工作人员会尽快答复您。
          </h3>
        {% elseif  app.user.approvalStatus == 'approved' %}
          <h3 class="text-success" > 
            您已通过实名认证，如果更改信息将重新认证。
          </h3>
        {% elseif  app.user.approvalStatus == 'unapprove' %}
          <h3 class="text-warning" > 
              您还未通过实名认证，请填写相关信息并上传清晰身份证照片，我们将在3个工作日内答复。
          </h3>
        {% elseif app.user.approvalStatus == 'approve_fail' %}
           <h3 class="text-danger" > 
               您的实名认证，审核未通过。请参照审核通知中告知的原因，检查修改后，重新提交审核。
           </h3>
        {% endif %}

      {% endblock %}

{% endembed %}

{% endblock %}