{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}
{% block title %}绑定手机 - 安全设置 - {{ parent() }}{% endblock %}
{% set script_controller = 'settings/bind-mobile' %} 
{% set side_nav = 'security' %} 

{% block main %} 
 {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}绑定手机{% endblock %}
    {% block body %}

    	<ul class="breadcrumb">
	      <li><a href="{{ path('settings_security') }}">安全设置</a></li>
	      <li class="active">手机号码绑定</li>
	    </ul>
		<div class="text-center">
		  <h1 class="text-muted">该使用场景未开启</h1>
		</div>
		
    {% endblock %}
  {% endembed %}
{% endblock %}