{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% set script_controller = 'settings/find_pay_password' %} 
{% set side_nav = 'security' %} 
{% set questionOptions = { parents: '你的父母名字', teacher:'你的老师名字', lover:'你的爱人的名字', schoolName:'你的母校名字', firstTeacher:'你的启蒙老师', hobby:'你的爱好', notSelected:'不指定问题类型' } %} 
{% block main %} 
 {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}安全设置 / 找回支付密码{% endblock %}
    {% block body %}

    {{ web_macro.flash_messages() }} 

    <form id="settings-find-pay-password-form" class="form-horizontal" method="post" >
        <div class="form-group row"> 
          <div  class="col-md-3 col-md-offset-1 control-label">{{ questionOptions[question] }}:</div> 
          <div class=" col-md-4"> 
            <input type="text" name="answer" class="form-control" value="" placeholder="安全问题答案"> 
          </div> 
        </div> 
        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls ">
            <button id="password-save-btn" data-submiting-text="正在保存" type="submit" class="btn btn-primary pull-right">提交</button>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        <input type="hidden" name="questionNum" class="form-control" value="{{questionNum}}"> 
    </form>      


    {% endblock %}
  {% endembed %}
{% endblock %}