{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block title %}支付密码 - 安全设置 - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>重设支付密码成功</h2></div>
          <p class="text-success">新支付密码设置成功。</p>
          <p>
            <a href="{{ path('settings_security') }}">返回安全设置</a>
          </p>
    </div><!-- /panel -->
  </div>

</div>
{% endblock %}