{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/item-bank-exercise/assessment/add/index.js']) %}
{% set modal_class= "modal-lg" %}

{% block title %}
  {{ 'item_bank_exercise.assessment_exercise.add_assessment'|trans }}
{% endblock %}
{% block body %}
<div>

  <div role="courseset-manage-question">
    <div id="quiz-table-container" class="js-testpaper-html">
      <input type="hidden" id="renderUrl" data-url="{{ path('item_bank_exercise_manage_assessment_add_list', {exerciseId: exercise.id, moduleId: moduleId, isPage: 1}) }}">
      {% include 'item-bank-exercise/assessment-exercise/assessment-list-tr.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}