{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/item-bank-exercise/assessment/add/index.js', 'app/js/question-bank/testpaper/index.js']) %}
{% set modal_class= "modal-lg" %}

{% block title %}
  {{ 'item_bank_exercise.assessment_exercise.add_assessment'|trans }}
{% endblock %}
{% block body %}
<div>

  <div role="courseset-manage-question">
    <div id="quiz-table-container" class="js-testpaper-html">
      {% include 'item-bank-exercise/assessment-exercise/assessment-list-tr.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}