<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%= Translator.trans('批量导入') %></h4>
        </div>
        <div class="modal-body">
            <div id="import-progress" class="package-update-progress">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 0%"></div>
                </div>
                <div class="text-success progress-text">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a data-loading-text="<%= Translator.trans('正在完成导入, 请稍等...') %>" class="btn btn-primary hidden js-finish-import-btn" href="javascript:;"><%= Translator.trans('完成导入') %></a>
            <span class="text-danger js-import-progress-text hidden"><%= Translator.trans('正在导入, 请勿关闭当前窗口...') %></span>
        </div>
    </div>
</div>



