<div class="page-header clearfix">
    <h1 class="pull-left">{{'步骤2'|trans}}</h1>
</div>

<div class="row">
    <div id="user-import">
        <% $.each(checkInfo, function(index, item){  %>
            <div class="col-md-offset-2"><%= item %></div><br>
        <%}) %>
        <div class="col-md-offset-2">{{'校验成功！一共包含'|trans}} <b><%= importData.length %></b>{{'信息'|trans}}</div><br>
        <div class="col-md-offset-2">
            <button type="button" class="btn btn-primary" id="start-import-btn">{{'确定导入'|trans}}</button>
            <a type="button" class="btn btn-primary" href="#index">{{'返回'|trans}}</a>
        </div>
    </div>
</div>