<div id="{{ id }}-overlay" class="tagchooser-overlay">

  <div class="panel panel-default">
    <div class="panel-body">
      {% include 'CustomWebBundle:Tag:tagchooser.html.twig' with {id: id, type: type} %}
    </div>

    <div class="panel-footer">
      <button type="button" class="btn btn-primary btn-xs pull-right tag-search-confrim">确定</button>
      <button type="button" class="btn btn-link btn-xs pull-right tag-search-cancel">取消</button>
    </div>

  </div>

<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> a4b0ab386d6aa0c1b6c022b95a7f86a231781a3b
