{% extends 'layout.html.twig' %}
{% set homework = activity.ext|default(null) %}

{% block body %}
  <div  class="modal show iframe-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body task-state-modal">
          <div class="title font-blod">
            <i class="es-icon es-icon-xinxi color-info"></i>
            {{'course.plan_task.activity_manage.homework.info'|trans}}
          </div>
          <div class="content">
            <div class="text-16">
              {{'course.plan_task.activity_manage.homework.total'|trans({'%itemCount%':homework.assessment.item_count})|raw}}
            </div>
          </div>
          <div class="text-right mt20">
            <a class="btn btn-primary" href="{{ path('homework_start_do',{lessonId:activity.id,homeworkId:homework.id})}}">{{'course.plan_task.activity_manage.homework.start_btn'|trans}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop in"></div>
{% endblock %}