{% import 'macro.html.twig' as web_macro %}
<div class="row">
{% for uploadFile in files %}
   {% include 'material-lib/web/widget/thumb-item.html.twig' with {uploadFile:uploadFile} %}
{% else %}
   <div class="empty">{{'material_lib.upload_file.empty'|trans}}</div>
{% endfor %}
</div>

{{ web_macro.ajax_paginator(paginator) }}

