<div class="row">
  <div class="col-sm-2 text-left pr0 control-label cd-dark-major cd-ml24">可选择转换题型为：</div>
  <div class="col-sm-9 subject-change-list">
    <button class="cd-btn cd-btn-ghost-primary subject-change-btn" type="button">单选题</button>
    <button class="cd-btn cd-btn-ghost-primary subject-change-btn" type="button">不定项选择题</button>
    <button class="cd-btn cd-btn-ghost-primary subject-change-btn" type="button">多选择题</button>
    <button class="cd-btn cd-btn-ghost-primary subject-change-btn" type="button">填空题</button>
    <button class="cd-btn cd-btn-ghost-primary subject-change-btn" type="button">判断题</button>
  </div>
</div>