{% extends 'testpaper/subject/type/question-edit-layout.html.twig' %}

{% set type = 'choice' %}
{% block subject %}
  {% for option in question.options %}
    <div class="edit-subject-item cd-mb24{% if loop.index == 1 %} cd-mt24{% endif %} form-group">
      <label class="cd-checkbox col-sm-1 cd-mt8 mlm">
        <input type="checkbox" data-toggle="cd-checkbox" name="right" value="option1">
        <span class="cd-dark-major edit-subject-item__order">A. </span>
      </label>
      <div class="col-sm-6 pl0">
        <input class="form-control edit-subject-item__input js-item-option-edit" type="text" value="{{ option }}">
        <a class="edit-subject-item__delete cd-link-assist js-item-option-delete" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>
      </div>
    </div>
  {% endfor %}
  {#<div class="edit-subject-item cd-mb24 cd-mt24 form-group">#}
    {#<label class="cd-checkbox col-sm-1 cd-mt8 mlm">#}
      {#<input type="checkbox" data-toggle="cd-checkbox" name="right" value="option1"><span class="cd-dark-major edit-subject-item__order">A. </span>#}
    {#</label>#}
    {#<div class="col-sm-6 pl0">#}
      {#<input class="form-control edit-subject-item__input" type="text" value="全部账户的借方余额">#}
      {#<a class="edit-subject-item__delete cd-link-assist" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>#}
    {#</div>#}
  {#</div>#}
  {#<div class="edit-subject-item cd-mb24 form-group">#}
    {#<label class="cd-checkbox col-sm-1 cd-mt8 mlm">#}
      {#<input type="checkbox" data-toggle="cd-checkbox" name="right" value="option1"><span class="cd-dark-major edit-subject-item__order">B. </span>#}
    {#</label>#}
    {#<div class="col-sm-6 pl0">#}
      {#<input class="form-control edit-subject-item__input" type="text" value="全部账户的借方余额">#}
      {#<a class="edit-subject-item__delete cd-link-assist" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>#}
    {#</div>#}
  {#</div>#}
  {#<div class="edit-subject-item cd-mb24 form-group">#}
    {#<label class="cd-checkbox col-sm-1 cd-mt8 mlm">#}
      {#<input type="checkbox" data-toggle="cd-checkbox" name="right" value="option1"><span class="cd-dark-major edit-subject-item__order">C. </span>#}
    {#</label>#}
    {#<div class="col-sm-6 pl0">#}
      {#<input class="form-control edit-subject-item__input" type="text" value="全部账户的借方余额">#}
      {#<a class="edit-subject-item__delete cd-link-assist" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>#}
    {#</div>#}
  {#</div>#}
  {#<div class="edit-subject-item cd-mb24 form-group">#}
    {#<label class="cd-checkbox col-sm-1 cd-mt8 mlm">#}
      {#<input type="checkbox" data-toggle="cd-checkbox" name="right" value="option1"><span class="cd-dark-major edit-subject-item__order">D. </span>#}
    {#</label>#}
    {#<div class="col-sm-6 pl0">#}
      {#<input class="form-control edit-subject-item__input" type="text" value="全部账户的借方余额">#}
      {#<a class="edit-subject-item__delete cd-link-assist" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>#}
    {#</div>#}
  {#</div>#}
  <div class="color-primary cd-mv24"><a class="cd-link-primary js-item-option-add" href="javascript:;"><i class="es-icon es-icon-tianjia text-md"></i><span class="text-md mls">添加选项</span></a></div>
{% endblock %}
{% block miss_score %}
  <div class="form-group edit-form-group cd-mb24">
    <label class="col-sm-2 control-label ph0 edit-form-group__label">漏选分值</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="missScore" value="">
    </div>
  </div>
{% endblock %}