{% extends 'testpaper/subject/type/question-edit-layout.html.twig' %}

{% block subject %}
  <div class="edit-subject-item cd-mb24 cd-mt24 form-group">
    <label class="cd-radio cd-mt8 mlm sb-block">
      <input type="radio" data-toggle="cd-radio" name="right" value="option1"><span class="cd-dark-major">正确</span>
    </label>
    <label class="cd-radio cd-mt24 mlm">
      <input type="radio" data-toggle="cd-radio" name="right" value="option1"><span class="cd-dark-major">错误</span>
    </label>
  </div>
{% endblock %}

{% block change %}
{% endblock %}