{% extends 'testpaper/subject/type/question-edit-layout.html.twig' %}

{% block subject %}
<div class="cd-mt24">
  <div class="col-sm-1 ph0 control-label edit-suject-item__label">答案</div>
  <div class="col-sm-11 ph0">
    <input class="form-control cd-dark-major text-sm" type="text" name="content" value="全部账户的借方余额">
  </div>
</div>
{% endblock %}