{% extends 'classroom-manage/layout.html.twig' %}

{% block title %}{{'试卷批阅'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'testpaper-check' %}

{% block main %}
<div class="panel panel-default panel-col">

  <div class="panel-heading">
    {{'我的批阅'|trans}}
  </div>
  <div class="panel-body">
    {{ render(controller('AppBundle:Testpaper/Manage:checkList',{request:app.request,targetId:classroom.id,targetType:'classroom',type:'testpaper',testpaperIds:testpaperIds})) }}
  </div>
</div>
{% endblock %}