<div class="homework-time">
	<div class="homework-item">
		<div class="homework-content">
			<h4>课时作业(课时1 救急与急救-守护生命与健康)</h4>
			<p>截止时间:6月25日 10：00</p>
			<p>互评时间:6月25日 11：00 - 7月2日 11：00</p>
			<p class="red">提交作业后，不参与互评将影响成绩</p>
		</div>
		<div class="homework-btn">
			<div class="btn-start">
				<a href="" class="green">开始做题</a>
				<a href="" class="gary">已提交</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
			<div class="btn-comment">
				<a href="" class="green">点评同学作业</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
		</div>
	</div>
		<div class="homework-item">
		<div class="homework-content">
			<h4>课时作业(课时1 救急与急救-守护生命与健康)</h4>
			<p>截止时间:6月25日 10：00</p>
			<p>互评时间:6月25日 11：00 - 7月2日 11：00</p>
			<p class="red">提交作业后，不参与互评将影响成绩</p>
		</div>
		<div class="homework-btn">
			<div class="btn-start">
				<a href="" class="green">开始做题</a>
				<a href="" class="gary">已提交</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
			<div class="btn-comment">
				<a href="" class="green">点评同学作业</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
		</div>
	</div>
		<div class="homework-item">
		<div class="homework-content">
			<h4>课时作业(课时1 救急与急救-守护生命与健康)</h4>
			<p>截止时间:6月25日 10：00</p>
			<p>互评时间:6月25日 11：00 - 7月2日 11：00</p>
			<p class="red">提交作业后，不参与互评将影响成绩</p>
		</div>
		<div class="homework-btn">
			<div class="btn-start">
				<a href="" class="green">开始做题</a>
				<a href="" class="gary">已提交</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
			<div class="btn-comment">
				<a href="" class="green">点评同学作业</a>
				<a href="" class="gary">截止时间已过</a>
			</div>
		</div>
	</div>
</div>