/**
 * Bootstrap Modify
 */

/*html {
  overflow-y: scroll;
}*/

a.link-muted {
  color: #9AB2CF;
}

/*.navbar {
  min-height: 44px;
}*/

/*.btn-mini {
  font-size: 12px;
  padding: 2px 8px;
}*/

/*.modal {
  overflow-y: auto;
}*/


/*.panel-heading h2, .panel-heading h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
*/


/*.lt-ie8 .panel-col .panel-heading {
  border-bottom: 1px solid #ddd;
  zoom: 1;
}*/

/*@media screen and (min-width: 768px) {
  .date-selects select {
    width: 18%;
    margin-right: 10px;
  }
}*/

/*.dynamic-collection .list-group-item {
  word-wrap:break-word;
  overflow:hidden;
}*/

/**
 * Common
 */


/**
 * Site Main
 */



/*不需要*/
/*.teacher-carousel .carousel {
  width: 180px;
  margin: 0 auto;
}

.teacher-carousel .carousel-control {
  background: none;
  text-shadow: none;
  color: #999;
}

.teacher-carousel .carousel-inner .item {
  text-align: center;
}

.teacher-carousel .carousel-inner img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: inline-block;
}

.teacher-carousel .teacher-item {
  display: none;
}

.teacher-carousel .teacher-item-active {
  display: block;
}

.teacher-carousel .teacher-item .nickname {
  text-align: center;
  font-size: 16px;
  margin: 15px 0 5px;
}

.teacher-carousel .teacher-item .title {
  text-align: center;
  margin: 5px 0 5px;
  color: #666;
}

.teacher-carousel .teacher-item .about {
  font-size: 13px;
}

.teacher-carousel .teacher-item .divider {
  background: #e3e3e3;
  height: 1px;
  overflow: hidden;
  margin: 15px 0;
}

.teacher-carousel-onlyone .carousel-control {
  display: none;
}*/





/**
 * <learn_dashboard>
 */



/**
 * </COURSE>
 */

/*.course-list-price {
	color: #d9534f;
	font-size: 22px;
	font-weight: bold;
}*/

/*.course-photo {
	position: relative;
}*/


/*.course-subtitle {
	margin-bottom: 8px;
	color: #aaa;
}*/

/*.label-activity {
	background-color: #d9534f;
	position: absolute;
	top: 0px;
	left: 32px;
	padding: 4px 8px;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	border-radius: 0;
}*/

/*.course-list-block .price-num {
	color: #d9534f;
}*/

/*.quiz-manager {
  height: 360px;
  overflow-x: hidden; 
  overflow-y:hidden;
  border: 1px solid #ddd;
  position: relative;
}

.quiz-manager .ps-scrollbar-x {
  display: none;
}*/

/*.quiz-manager-side {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #ddd;
}

.quiz-manager-side-header {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  line-height: 30px;
}


/**
 * 通用属性
 */

/**
 * 
 */

.category-filters {
  margin-bottom: 20px;
  background: #f7f7f7;
  padding: 5px;
  border-radius: 3px;
}

.category-filters a {
  color: #aaa;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
}

.category-filters a:hover {
  color: #999;
  text-decoration: none;
}

.category-filters a.selected {
  color: #33383d;
  font-weight: bold;
}

.promoted-teacher {
  text-align: center;
}

.promoted-teacher .avatar {
  width: 80px;
  height: 80px;
  border: 3px solid #f5f5f5;
  border-radius: 50px;
  display: inline-block;
}

.promoted-teacher .nickname {
  margin-top: 5px;
  display: block;
  color: #333;
  text-decoration: none;
}

.promoted-teacher .title {
  margin-top: 3px;
  color: #777;
}

.promoted-teacher .about {
  margin: 5px 0;
  padding-top: 5px;
  text-align: left;
  font-size: 13px;
  color: #555;
  border-top:1px dashed #ccc;
}

.promoted-teacher .more {
  text-align: right;
  font-size: 12px;

}

/*@media (min-width: 1200px) {
  .teacherpage #content-container {
    width: 970px;
  } 
}*/

/*.lt-ie9 .teacherpage #content-container {
  width: 970px;
}*/

.teacherpage .teacher-title {
  color: #096;
  margin-bottom: 10px;
}

.teacherpage .teacher-about {
  color: #555;
}


/*@media (min-width: 1200px) {
  .userpage #content-container {
    width: 970px;
  }
}

.lt-ie9 .userpage #content-container {
  width: 970px;
}*/

/*.userpage-header {
  border-radius: 5px;
}*/

/*.userpage-header .media {
  padding-top: 25px;
  padding-bottom: 25px;
}

.userpage-header .media-left {
  padding-right: 30px;
}

.userpage-header h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 28px;
}

.userpage-header h2 small {
  font-size: 16px;
  color: #096;
}*/

/*.lt-ie8 .userpage-header {
  zoom:1;
}

.lt-ie8 .userpage-header .row {
  margin-top: 25px;
  margin-bottom: 25px;
  zoom:1;
}*/

/*.userpage-header .avatar {
  float: left;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}*/

/*.userpage-header-info {
  margin-left: 150px;
}*/

/*.userpage-header-info .about {
  color: #777;
  word-break: break-all;
  word-wrap: break-word
}*/


.userpage-body {
  border-radius: 5px;
  min-height: 200px;
}

.userpage-nav {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 0px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}

.userpage-nav li a {
  padding: 10px 20px;
  color: #777;
  border-radius: 0;
}

.userpage-nav li a:hover {
  color: #333;
}

.userpage-nav li.active a {
  color: #555;
  background-color: #e7e7e7;
}

.userpage-sec-nav {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .contentpage #content-container {
    width: 970px;
  }
}

/*.contentpage .es-row-wrap {
  padding-bottom: 20px;
}*/

.friendcard {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
}

.friendcard:hover {
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

.friendcard .avatar {
  width: 48px;
  height: 48px;
  float: left;
}

.friendcard .infos {
  margin-left: 58px;
}

.friendcard .nickname {
  display: block;
  margin-bottom: 5px;
}

.friendcard .title {
  color: #777;
}

/**
 * CMS
 */

.article-list .media-object {
  max-width: 200px;
  max-height: 200px;
}

.teacher-profile-card .actions {
  background: #f8f8f8;
  padding: 20px;
  border: 1px solid #eee;
  border-top-width: 0px;
}

.teacher-profile-card .follow-btn, 
.teacher-profile-card .unfollow-btn {
  margin-top: 0;
}


.sortable-list li .sort-handle {
  color: #ccc;
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-right: 5px;
}

.sortable-list li .sort-handle:hover {
  color: #666;
}

.sortable-list li:hover .sort-handle {
  visibility: visible;
  color: #999;
}


.teacher-list-group .nickname {
  display: inline-block;
  width: 160px;
  margin-left: 6px;
}

.teacher-list-group .visible-checkbox {
  font-weight: normal;

}

.teacher-list-group .delete-btn {
  margin-top: 12px;
}

.teacher-list-group li .sort-handle {
  font-size: 18px;
  padding: 15px 10px 5px 5px;
  cursor: pointer;
}


.list-group-panel {

}

.list-group-panel .list-group-heading {
  color: #999;
  /*border-bottom: 1px solid #ccc;*/
  padding: 5px 0;
  /*margin-bottom: 5px;*/
}

.list-group-panel .list-group {

}

.list-group-panel .list-group-item {
  border: none;
  border-radius: 0 0 !important;
  color: #444;
  border-left: 3px solid #fff;
}

.list-group-panel .list-group-item.active,
.list-group-panel .list-group-item.active:hover {
  background: #f3f3f3;
  color: #428bca;
  font-weight: bold;
  border-left: 3px solid #428bca;

}

.list-group-panel .list-group-item:hover {
    border-left: 3px solid #eee;

}


/**
 * SITE FOOTER
 */

.site-footer {
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 1px solid #d1d1d1;
  padding-top: 10px;
  font-size: 12px;
  color: #999;
}

.site-footer a {
  color: #999;
}

.site-footer-links {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.site-footer-links li {
  display: inline-block;
  margin-right: 20px;
}

/**
 * PAGE MESSAGE
 */

.page-message-container {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.modal .page-message-container {
  width: auto;
  margin: 20px 20px;
}

.page-message-panel {
  background: #fff;
  border: 1px solid #ccc;
  padding: 50px 50px;
}

.modal .page-message-panel {
  border:none;
}

.page-message-heading {
  margin-bottom: 25px;
}

.page-message-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 24px;
}

.page-message-body {
  font-size: 16px;
}

.lt-ie8 .hidden-lt-ie8 {
  display: none !important;
}

.visible-lt-ie8 {
  display: none !important;
}

.lt-ie8 .visible-lt-ie8 {
  display: block !important;
}

.select2-no-results {
  display: none !important;
}

/**
 * quiz test 
 *
 */ 

.test-creator .form-group {
  margin-bottom: 10px;
}

#test-item-modal .modal-dialog {
  width: 800px;
}

.quiz-test .test-sort-handle {
  color: #333;
}

.quiz-test .test-sort-handle:hover,
.quiz-test .test-sort-handle:focus {
  color: #333;
}

.question-stem-fill-blank {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #999;
  color: #aaa;
}

.testpaper-titlebar {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.testpaper-title {
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

.testpaper-status {
  margin-top: 20px;
  float: right;
}

.homwork-status .label{
  padding: 5px 25px;
  border-radius: 3px;
  font-size: 100%;
}

.homework-student-answer .question-eassy-rightanswer{
  margin-bottom: 5px
}

#teacher-say{
  width: 450px;
}

.teacher-say-text{
  margin-bottom: 5px;
}
.question-eassy-form-control{
  margin-bottom: 18px;
}

.question-eassy-form-control img {
  max-width: 100%;
}

.testpaper-status .label {
  padding: 5px 25px;
  border-radius: 3px;
  font-size: 100%;
}

.testpaper-description {
  color: #444;
  font-size: 14px;
}

.testpaper-metas {
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}

.testpaper-result-total {
  width: 160px;
  float: left;
  margin-right: 20px;
  text-align: center;
  color: #f60;
}

@media (max-width: 767px) {
  .testpaper-result-total {
    float: none;
    width: 100%;
  }
}

.testpaper-result-total .well {
  padding-top: 33px;
  padding-bottom: 34px;
}

.testpaper-result-total-score {
  font-size: 40px;
  margin-bottom: 10px;
}

.testpaper-result-total-score small {
  font-size: 16px;
}

.testpaper-result-table th,
.testpaper-result-table td {
  text-align: center;
  font-weight: normal;
}

.testpaper-result-table>thead>tr>th {
  border-bottom: 1px;
}

.testpaper-result-table .text-score {
  color: #f60;
}

.testpaper-navbar.affix {
    position: static;
}

@media (min-width: 768px) {
  .testpaper-navbar.affix {
  z-index: 1030;
    position: fixed;
    margin-left: -11px;
    top: 0px;
    width: 720px;
  background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
  }
}

@media (min-width: 992px) {
  .testpaper-navbar.affix {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .testpaper-navbar.affix {
    width: 1140px;
  }
}

.testpaper-question {
  margin-bottom: 50px;
  font-size: 14px;
  border-top: 1px solid #ccc;
  padding-top : 20px;
}

.panel .testpaper-question:first-child {
  border-top: none;
}

.modal .testpaper-question {
  border-top: none;
  padding-top: 0;
}

.testpaper-question-main {
  float: left; 
  margin-left: 50px;
}

.testpaper-question-seq-wrap {
  float: left;
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.testpaper-question-seq {
  font-size: 20px;
  color: #3a87ad;
}

.testpaper-question-score {
  font-size:12px;
  color:#aaa;
  border:1px solid #ccc;
  padding:0px 1px;
  border-radius:5px;
  background:#f6f6f6;
  display: inline-block;
}

.question-score {
  font-size:12px;
  color:#aaa;
  border:1px solid #ccc;
  padding:0px 1px;
  border-radius:5px;
  background:#f6f6f6;
  display: inline-block;
}

.testpaper-question-stem {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  zoom: 1;
}

.testpaper-question-stem img {
  max-width: 100%;
}

.testpaper-question-stem-material img {
  max-width: 100%;
}

.testpaper-question-choices {
  margin-left: 50px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.testpaper-question-choices img {
  max-width: 100%;
}

.testpaper-question-choices li {
  padding: 6px 0 6px 6px;
}

.testpaper-question-choices li:hover {
  background: #eee;
  cursor: pointer;
}

.testpaper-question-choice-index {
  color: #999;
  margin-right: 20px;
}

.testpaper-question-choice-right, 
.testpaper-question-choice-right .testpaper-question-choice-index {
  color: #3c763d;
}

.question-text-success {
  color: #0B900D;
}

.question-text-danger {
  color: #EA1D19;
}

.testpaper-question-choice-inputs {
  margin-left: 50px;
  float: left;
}

.testpaper-question-choice-inputs  label {
  padding: 8px 20px 8px 30px;
  display: inline-block;
}

.testpaper-question-choice-inputs  label:hover,.testpaper-question-determine-inputs  label:hover,
.testpaper-question-choice-inputs  label.active,.testpaper-question-determine-inputs  label.active {
  background: #eee;
}

.testpaper-question-fill-inputs {
  margin-left: 50px;

}

.testpaper-question-fill-inputs  input {
  margin-bottom: 10px;
}

.testpaper-question-fill .testpaper-question-result ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.homework-question-fill ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.testpaper-question-determine-inputs {
  margin-left: 50px;
  float: left;
}

.testpaper-question-determine-inputs  label {
  padding: 8px 20px 8px 30px;
  display: inline-block;
}

.testpaper-question-essay-inputs {
  margin-left: 50px;
  margin-bottom: 10px;
}

.testpaper-question-essay .testpaper-question-result {
  float: none;
}

.testpaper-question-essay .testpaper-question-result img {
  max-width: 100%;
}

.question-essay .question-body img {
  max-width: 100%;
}

.testpaper-question-result {
  margin-left: 50px;
  float: left;
}

.homework-question-result {
  margin-left: 5px;
  float: left;
}


.testpaper-question-result-title {
  margin-bottom: 5px;
  color: #666;

}

.homework-question-result-title {
  margin-bottom: 5px;
  color: #666;

}

.question-result-title {
  margin-bottom: 5px;
  color: #666;

}

.testpaper-question-result-suggested {
  margin-bottom: 20px;
}

.homework-question-result-suggested {
  margin-bottom: 20px;
}

.testpaper-question-analysis {
  margin-left: 50px;
}

.testpaper-question-analysis img {
  max-width: 100%;
}

.testpaper-card .btn-index {
  font-size: 12px;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.testpaper-card-explain .btn-index {
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin: 0 3px 5px 0;
}

.testpaper-card-explain small {
  margin-right: 8px;
}

.testpaper-card-timer {
  color: #3a87ad;
  font-size: 20px;
}

.testpaper-card .panel-body .have-pro {
  border: 2px solid #428bca;
}

.testpaper-card.affix {
  position: static;
}

@media (min-width: 992px) {
  .testpaper-card.affix,
  .testpaper-card.affix-bottom {
    width: 213px;
  }
  .testpaper-card.affix {
    position: fixed;
    top: 60px;
  }
  .testpaper-card.affix-bottom {
    position: absolute;
  }
}

@media (min-width: 1200px) {
  .testpaper-card.affix,
  .testpaper-card.affix-bottom {
    width: 263px;
  }
}


.ppt-dashboard {
  width: 100%;
  position: fixed;
  top: 56px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #e5e5e5;
}

.slide-player {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.slide-player-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide-player-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}


.modal-body .lesson-preview-ppt {
  position: relative;
  min-height: 500px;
}



.loading-background  {
  background: #fff url(/bundles/topxiaweb/loader.gif) no-repeat center center;
}

.slide-player-watermark {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;  
}

.slide-player-control {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #e2e2e2;
}

.slide-player-control a {
  color: #666;
}

.slide-player-control a:hover {
  color: #333;
}

.slide-player-control .fullscreen {
  float: right;
  margin-left: 15px;
}

.slide-player-control .goto-first {
  margin-left: 100px;
}

.slide-player-control .goto-index {
  width: 50px;
  display: inline-block;
} 

.slide-player-control .goto-index-input {
  float: right;
  font-size: 16px;
}

.slide-player-control .glyphicon {
  padding-left: 10px;
  padding-right: 10px;
}

.toolbar-wrapper .glyphicon-fullscreen {
  float: right;
}

.toolbar-wrapper a {
  color: #444;
}

.toolbar-wrapper a:hover{
  color: #000;
}

.slide-player-body {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0px;
  bottom: 50px;
}

.slide-player-body .slide {
  display: none;
  position: relative;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.slide-player-body .slide.active {
  display: inline-block;
}

.slide-notice {
  display: none;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
  z-index: 1000;
  text-align: center;
  margin: 100px auto;
  position: relative;
  width: 300px;
}

.slide-notice .header {
  padding: 15px;
  min-height: 16px;
}

/**
 * Question
 */

.question-set-item {
  margin-bottom: 50px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.question-set-item-side {
  float: left;
  width: 40px;
}

.question-set-item-main {
  margin-left: 50px;
}

.question-heading {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  zoom: 1;
}

.question-choices {
  list-style: none;
  padding-left: 0;
}

.question-choices > li {
  padding: 6px 6px;
}

.question-choices > li:hover {
  background: #eee;
  cursor: pointer;
}

.question-choices .choice-index {
  color: #999;
  margin-right: 20px;
  float: left;
}

.homwork-choice-index {
  margin-right: 20px;
  float: left;
}

.question-choices-inputs  label {
  padding: 8px 20px 8px 30px;
  display: inline-block;
}

.question-choices-inputs label:hover,
.question-choices-inputs label.active {
  background: #eee;
}

.question-fill-inputs input {
  margin-bottom: 10px;
}

.question-set-item-side {
  text-align: center;
}

.question-set-item-seq {
  font-size: 20px;
  color: #3a87ad;
}

.question-set-heading {
  position: relative;
}

.question-set-type {
  position: absolute;
  top: 20px;
  left: 8px;
  background: #00E0FF;
  color: #fff;
  padding: 3px 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}

.question-set-title {
  margin-top: 5px;
  margin-left: 80px;
  margin-bottom: 10px;
  font-size: 20px;
}

.question-set-description {
  margin-left: 80px;
  color: #999;
}

.question-set-card {
    width:261px;
}

.question-set-card.affix {
  top: 0!important;
}

.question-set-card  .question-index {
  display: inline-block;
  border: 1px solid #ccc;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  border-bottom-width: 2px;
  text-decoration: none;
  color: #888;
}

.question-set-card  .question-index:hover {
  background: #eee;
}

.question-set-card .question-index-active {
  background: #eee;
  border-color: #aaa;
}

.question-set-card .panel-heading {
  line-height: 30px;
}

a.homework-essay-textarea-pack-up{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #999999;
}

.homework-status {
  margin-top: 20px;
  float: right;
}

.homework-status .label {
  padding: 5px 25px;
  border-radius: 3px;
  font-size: 100%;

}

.quality-switcher-control {
  margin: 10px 0 10px 20px;
  display: none;
}

.quality-switcher-control-open {
  display: block;
}

.quality-switcher .quality-actions {
  margin-top: 10px;
}

/**
 * <在线客服>
 */

.float-consult {
  position: fixed;
  right: 0;
  top: 50%;
  visibility: hidden;
  z-index: 999;
}

.float-consult .popover {
  width: 250px;
  color: #444;
  cursor: default;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.float-consult .popover .qrcode {
  max-width: 220px;
}

.float-consult .btn-group-vertical .btn:active {
  /*box-shadow: none;*/
}

.float-consult .consult-contents {
  display: none;
}

@font-face {font-family: "consultfont";
  src: url('fonts/consult-font.eot'); /* IE9*/ 
  src: url('fonts/consult-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/consult-font.woff') format('woff'), /* chrome、firefox */
  url('fonts/consult-font.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/consult-font.svg#consultfont') format('svg'); /* iOS 4.1- */
}

.float-consult .icon {
  font-family:"consultfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.float-consult .icon-phone:before { content: "\e600"; }

.float-consult .icon-email:before { content: "\e601"; }

.float-consult .icon-qq:before { content: "\e603"; }

.float-consult .icon-weixin:before { content: "\e606"; }

.float-consult .icon-qqgroup:before { content: "\e608"; }

#float-consult h3.popover-title {
  padding: 8px 14px;
}

.float-consult-qq-btn .popover img {
  width: 25px;
  height: 25px;
}

.float-consult-qq-btn .popover p {
  margin: 0 0 6px;
}

/**
 * </在线客服>  将会弃用
 */

.thread-list .media-object {
    width: 36px;
}

.thread-list .title {
  margin-bottom: 5px;
}

.thread-list .metas {
  font-size: 12px;
  color: #999;
}

.thread-list .metas .divider {
  margin: 0 5px;
  color: #ccc;
}

.group-media-sm {
  margin-bottom: 15px;
}

.group-media-sm .media-object {
  width: 60px;
  height: 60px;
}


/*老的主题样式*/
.vip li {
  padding-right: 10px;
  padding-left: 10px;
}

.vip-item {
  border: 1px solid #e1e1e1;
}

.vip-item .row {
  margin-left: -15px;
  margin-right: -15;
}

.vip-lists li {
  margin-bottom: 20px;
}

.vip-item h3, .vip-item p {
  color: #555;
}

.vip-item h4 {
  color: #e57259;
  text-decoration: none;
  text-align: center;
}

.vip-item img {
  width: 100%;
}

.vip-item a {
  overflow: hidden;
}

.vip-price {
  margin-top: 20px;
}

/*老的主题样式*/

.status-side ul {
  padding-left: 0;
  list-style: none;
}

.status-side li {
  overflow: hidden;
}

.status-side li img {
  width: 50px;
  height: 50px;
}


.course-data a{
  color:#2a6496;
}

.coursesTypeChoices {
  margin:15px 0;
}

.coursesTypeChoices .sortedCourses  {
  overflow:hidden;
  text-align:left;
}

.coursesTypeChoices input{
  margin:0 0 0px 45px;
}

.order-pay .order-item {
  padding-top: 30px;
}

.order-pay .order-item-clear {
  border-bottom: 1px solid #E5E5E5;
}

.order-item {
  line-height: 30px;
}

.order-item .order-item-title {
  padding-left: 20px;
  height: 48px;
}

.order-item-title .order-item-title-icon {
  background-repeat: no-repeat;
  background-position: -4px -9px;
  display: inline-block;
  width: 29px;
  height: 29px;
  float: left;
}

.order-item-title .title {
  font-size: 18px;
  font-weight: normal;
  margin-left: 20px;
  float: left;
  margin-top: 2px;
  line-height: 1.2em;
}

.order-item-title .add-coun {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
  background-color: #fff8ed;
  border: 1px solid #ffb841;
  color: #ff7e00;
  padding: 5px 7px;
  line-height: 15px;
  border-radius: 3px;
  margin-left: 10px;
  float: left;
}

.order-item-title .cancel {
  margin-left: 20px;
  float: left;
  text-decoration: none;
  color: #1071b5;
  cursor: pointer;
}

.order-item .price_r {
  float: right; 
  margin-top: 4px; 
  line-height: 19px;
  position: relative;
}

.order-item .price_txt {
  margin-right: 11px; 
  margin-top: 4px; 
  line-height: 19px;
}

.order-item .price_r_mark {
  font-size: 27px; 
  float: left; 
  margin-right: 5px; 
  margin-top: -3px;
}

.order-item .price_r_num {
  font-size: 19px; 
  float: left;margin-top: -4px; 
  line-height: 26px;
}

.order-item .pricehead {
  float: left;
  font-size: 15px;
}

.order-item .coupon-detail {
  padding: 0px 56px 17px 56px;
  font-size: 14px;
  margin-left: 15px;
}

.order-detail {
  width: auto;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  min-height: 188px;
  padding: 20px;
}
.order-price {
  font-size: 24px;
}

.order-count {
  padding: 20px 0 40px 0;
}

.order-item {
  padding: 0 5px;
}

.order-panel {
  padding: 20px 20px 40px 20px;
}

.course-text {
  display: block;
  font-size: 14px;
  margin: 6px 0;
}

.coin-block {
  padding: 40px 0 25px 0;
}

.coin-text {
  float: left;
}

.coin-text img {
  margin: 0 10px 14px 0;
  /*opacity: .5;*/
}

.coin-text strong {
  font-size: 30px;
  color: #ff5d42;
}

.coin-btn {
  float: left;
  margin: 4px 0 0 55px;
}

.table.order-table > tbody > tr > td,
.table.order-table > tbody > tr > th {
  padding:  10px;
  line-height: 22px;
}

.money-text {
  
}

.order-item .order-item-detail{
  padding: 0px 56px 17px 56px;
}

.order-item .coin-detail {
  margin-left: 15px;
  font-size: 14px;
}

.order-item .total-price {
  float: right;
  text-align: right;
  margin-bottom: 30px;
}

.order-item .total-price .pay-rmb {
  color: #f60;
  font-size: 24px;
  font-weight: bold;
}

.coin-detail input {
  height: 27px;
  line-height: 27px;
  border: 1px solid #b5b5b5;
  font-size: 18px;
  margin: 0 15px;
  width: 64px;
  text-align: center;
}

.coin-detail span {
  color: #ff7e00;
}

.order-pay .pay {
  margin-top: 20px
}

.order-item-detail .pay-password {
  margin-left: 15px;
  font-size: 12px;
  padding-top: 10px;
}

.pay-center .uncheck {
  cursor: pointer;
  width: 150px;
  height: 58px;
  position: relative;
  text-align:center;
  font-size: 16px;
  line-height: 58px;
  border: 1px solid #cccccc; 
  margin-bottom: 30px;
}

.pay-center .check {
  cursor: pointer;
  width: 150px;
  height: 58px;
  position: relative;
  text-align:center;
  font-size: 16px;
  line-height: 58px;
  border: 1px solid #21a557; 
  margin-bottom: 10px;
}

.pay-center .uncheck .icon {
  background: url(/bundles/topxiaweb/img/order-pay/pay-check-status.png) no-repeat ;
    top: 0px;
    right: 0px;
    width: 23px;
    height: 26px;
    background-position: 0 -30px;
    position: absolute;
    overflow: hidden;
}

.pay-center .check .icon {
  background: url(/bundles/topxiaweb/img/order-pay/pay-check-status.png) no-repeat ;
    top: 0px;
    right: 0px;
    width: 23px;
    height: 26px;
    background-position: 0 -4px;
    position: absolute;
    overflow: hidden;
}

.pay-center .help {
  float: left;
    width: 400px;
    height: 40px;
    line-height: 19px;
    padding-left: 30px;
    background: url(/bundles/topxiaweb/img/order-pay/iconfont-caution-block.png) no-repeat;
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    margin-left: 15px;
}

.pay-center .pay-amount {
  font-size: 20px;
}

.pay-center .pay-amount span {
  color: #ff6600;
}

.pay-center .pay-type-lable {
  padding-bottom: 10px
}

.pay-center .pay-button {
  float:left;
  margin-top: 15px;
}

.order-pay .buy-vip-num {
  float: right; 
  margin-right: 15px; 
  margin-top: 4px; 
  line-height: 19px;
  position: relative;
}
.nav .qiandai{
  line-height: 1px;
  height:54px;
}
.nav-course-buy-btn{
  padding-bottom: 8px;
  padding-top: 8px;
}
.question-num {
  display:inline-block;
  width: 25px;
}

.text-success-large {
  color: #449d44;
  font-size: 22px;
}

.classroom-block .classroom-img {
  width: 150px;
  float: left;
  margin-right: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .classroom-block .classroom-img {
    width: 120px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .classroom-block .classroom-img {
    width: 120px;
    margin-right: 10px;
  }
}

.classroom-block .classroom-img img {
  border-radius: 4px;
}

.classroom-block .title {
  font-size: 14px;
  margin: 6px 0 6px 0;
  height: 40px;
  overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .classroom-block .title {
    margin: 0 0 6px 0;
  }
}

@media (max-width: 767px) {
  .classroom-block .title {
    margin: 0 0 6px 0;
  }
}

.banner-announcement {
    background: #ebf6f1;
    height: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.banner-volume {
    color: #3e3e3e;
}

.set-email-alert {
	font-size: 12px;
  	text-align: center;
  	margin-bottom: 0px;
  	border-radius: 0px; 
  	padding: 5px;
}

.set-email-alert .close {
	font-size: 16px;
}

.announcement .alert {
	padding: 10px 15px;
	margin-bottom: 10px;
  margin-top: -5px;
	font-size: 14px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.announcement .alert .items {
  position: absolute;
}

.announcement .alert .items .item {
  height: 30px;
}

.classroom-block .content {
  font-size: 14px;
  color: #bbb;
  margin-top: 4px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .classroom-block .content {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .classroom-block .content {
    margin-top: 0;
  }
}

.course-checkbox-label {
  font-weight: normal;
}

/**
 * Widget: 课程价格组件
 */
.course-price-widget .price {
  color: #f40;
  font-size: 16px;
  margin-right: 10px;
}

.course-price-widget .origin-price {
  font-size: 13px;
  color: #999;
}

.course-price-widget .discount {
  position: relative;
  margin-left: 8px;
  padding: 0 6px 0 10px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #f4511e;
  height: 16px;
  line-height: 16px;
}

.course-price-widget .discount:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -8px;
  width: 0;
  height: 0;
  border-color: transparent #f4511e transparent transparent;
  border-style: solid;
  border-width: 8px 8px 8px 0;
}

.course-price-widget .discount:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #8e0000;
  -webkit-box-shadow: -1px -1px 2px #8e0000;
  box-shadow: -1px -1px 2px #8e0000;
}

/*.my-wallet-panel img{
  width: 100%;
}*/

.table-striped .sort-handle{
  padding: 5px;
  cursor: pointer;
  color: #ccc;
  display: inline-block;
  font-size:18px;
}

.table-striped .sort-handle:hover{
  color:#999;
}

.panel.testpaper-question-block .testpaper-question{
  position: relative;

}
.panel.testpaper-question-block .panel-body{
  position:relative;
  z-index:1;
}

.user-status-list img {
  width: 50px;
  height: 50px;
}

.note-list .like {
  cursor: pointer;
}

.note-list .like em {
  font-style: normal;
  font-weight: normal;
}

.note-list .liked {
  color: #eb7350;
}

.note-list .like:hover {
  color: #eb7350;
}

