.non-administrator-perspective-modal {

  .modal-content {
    width: 500px;
    transform: translateX(-10px);
    

    .modal-header {
      display: none;
    }

    .modal-body {
      padding: 80px 48px 48px;

      .non-administrator-content {
        margin-bottom: 24px;
        width: 404px;
      }

      .non-administrator-tip {
        color: #37393D;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .modal-footer {
      padding: 0 0 42px;
      text-align: center;

      .i-know-btn {
        display: inline-block;
        padding: 4px 14px;
        border-radius: 4px;
        border: 1px solid #46C37B;
        background:  #46C37B;
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);

        color: var(--unnamed, #FFF);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }

  }
}