.width-input {
  display: inline-block !important;
  margin-right: 6px;
  width: 150px;
}
.width-input-mini {
  width: 50px;
}
.width-input-small {
  width: 100px;
}
.width-input-large {
  width: 200px;
}
.width-input-xlarge {
  width: 300px;
}
.width-full {
  width: 100%;
}
