<span class="input-group js-file-name-group mb10">
  <input name="file-filter-by-file-name" class="form-control js-course-file-name" type="text" placeholder="输入{{ placeholder|default(null) }}标题关键字">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default js-course-browser-search" data-url="{{ path('media_course_file_choose', {courseId:courseId, type: fileType|default('') , courseType:'course'}) }}" data-loading-text="正在加载，请稍等">搜索</button>
  </span>
</span>


<div class="course-file-browser " data-role="course-file-browser"
     data-url="{{ path('media_course_file_choose', {courseId:courseId, type: fileType|default('') , courseType:'course'}) }}">
       
</div>

<div class="js-course-file-search-form">
  <input type="hidden" name="type" value="{{ fileType|default('') }}">
  <input type="hidden" name="keyword" value="">
  <input type="hidden" name="page" value="1">
</div>


