{% set targetType = 'course-activity' %}
{% set token = uploader_token(targetType, courseId, 'private') %}
{% set storageSetting = setting('storage') %}
<div class="uploader-content">
  <div class="uploader-container" id="uploader-container"
  data-init-url="{{ url('uploader_init_v2', {token: token}, true) }}"
  data-finish-url="{{ url('uploader_finished_v2', {token: token}, true) }}"
  data-accept="{{ uploader_accept(targetType, fileType)|json_encode }}"
  data-process="{{ uploader_process(targetType) }}">
  </div>

  {% if mediaType == 'video' and setting('storage.upload_mode', 'local') != 'local' %}
    <div class="uploader-bottom">
      <div class="row">
        <div class="col-xs-8">
          转码画质
          <select class="form-control border-gray input-sm mrl js-upload-params" name="videoQuality">
            <option value="low" selected>流畅</option>
            <option value="normal">标准</option>
            <option value="high">精细</option>
          </select>
          转码音质
          <select class="form-control border-gray input-sm js-upload-params" name="audioQuality">
            <option value="low" selected>流畅</option>
            <option value="normal">标准</option>
            <option value="high">精细</option>
          </select>
        </div>
        <div class="col-xs-4 text-xs text-center">
          <a class="btn-gray" href="javascript:;" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="上传后将会自动转码成兼容性更好的格式，以便学员观看，建议您在转码完成后再发布相应的课时。">什么是转码</a>
          ｜
          <a class="btn-gray" href="javascript:;" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="支持mp4, avi, flv, wmv, mov, m4v格式的视频文件上传，文件大小不能超过2GB。<br/>支持断点续传（仅在Chrome、IE9及以上等支持HTML5的浏览器中可用）。">上传说明</a>
        </div>
      </div>
    </div>
  {% endif %}
</div>