<div class="buy-cloud-video clearfix">
<img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
<div class="buy-section pull-left">
  <h4 class="mbl">{{'admin.edu_cloud.edu_video.buy_flow_tips'|trans({'%bugUrl%': 'http://open.edusoho.com/doc/ServiceGuide/video-package/index.html'})|raw}}</h4>
  <div class="gray-dark">{{'admin.edu_cloud.edu_video.start_buy'|trans|raw}}</span></div>
</div>
</div>