<div class="buy-cloud-video clearfix">
<img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
<div class="buy-section pull-left">
  <h4 class="mbl">{{'admin.edu_cloud.edu_video.cloud_buy_tips'|trans({'%buyUrl%': path('admin_cloud_buy', {type:'video'})})|raw}}</h4>
  <div class="color-gray">{{'admin.edu_cloud.edu_video.buy_prince'|trans}}</div>
</div>
</div>