<div id="cd-modal" class="cd-modal cd-fade cd-in modal">
  <div class="cd-modal-dialog" id="cd-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">{{ 'material.common_table.transcode_error_tip'|trans }}</h4>
      </div>
      <div class="modal-body">
        <div class="cd-pb24 cd-dark-major js-error-tip">
          
        </div>
      </div>
      <div class="modal-footer text-center">
        <button class="cd-btn cd-btn-primary material-confirm-modal-btn" type="button" data-dismiss="modal">{{ 'form.btn.confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>