{% extends 'WebBundle:Testpaper:testpaper-layout.html.twig' %}

{% block paper_header %}

{% endblock %}

{% block paper_question_type_bar %}
  {% include 'WebBundle:Testpaper/Part:paper-type-bar.html.twig' with {showTypeBar:showTypeBar|default(1), questionTypes:questionTypes} %}
{% endblock %}

{% block paper_sidebar %}
  <div class="testpaper-card affix" >
    {% include 'WebBundle:Testpaper:testpaper-card.html.twig' %}
  </div>
{% endblock %}